[2017-03-21 12:13] lashchenko commented on #22611
@ktoso could you please clarify why [scala-stream-graphs](https://github.com/akka/akka/blob/master/akka-docs/rst/scala/stream/stream-graphs.rst) contains `naïve` (umlaut), but [java-stream-graphs](https://github.com/akka/akka/blob/master/akka-docs/rst/java/stream/stream-graphs.rst) contains `naive` (not umlaut)?

[2017-03-21 12:24] ktoso commented on #22611
That's an  then, do you want to submit a PR to fix it? Thanks in advance :-)

[2017-03-21 12:38] ktoso commented on #22611
Thanks :-)

[2017-03-21 12:38] #22611 closed

[2017-03-21 12:51] manonthegithub commented on #22420
@marcin-rzeznicki ktoso is maintainer, he better knows, I just made suggestion.

[2017-03-21 14:08] gosubpl commented on #22606
This is where the problem happens:
[code]
somehow as a result of gossip, when doing full (not delta) merge, only entry for `x -> VersionVector(UniqueAddress(akka.tcp://ReplicatorPruningSpec@localhost:56636,-564546975) -> 4)` is retained (contrary to the situation for `y`, where all versions remain. Interesting, even `COMMON KEYS` part is different for `x` and `y`, despite their symmetry.

[2017-03-21 14:09] bantonsson commented on #20180
We have different failure in Cinnamon in the Artery flavours of these tests. Not directly related but I'll try to get to the bottom of the issues with this test.

[2017-03-21 14:43] gosubpl commented on #22606
There is something very interesting happening here:
[code]

[2017-03-21 15:52] patriknw commented on #20180
+1

[2017-03-21 15:54] patriknw commented on #22604
@hseeberger interesting, could you please create another ticket for that. Things should work without deltas.

[2017-03-21 15:54] #22604 closed

[2017-03-21 15:58] ktoso commented on #22420
Hmm, I would prefer to put it into the extras for now and we can move it in to Akka main if enough people use it. Seems useful but not common enough to put onto FlowOps - we on purpose try to put as "minimal" API as we possibly can onto it to keep the number of ops relatively small.

[2017-03-21 16:00] marcin-rzeznicki commented on #22420
Well, yes, we all agreed to that. When poinitng ⬆️ I tried to kindly draw your attention to a PR to `contrib`. Can't you see it? https://github.com/akka/akka-stream-contrib/pull/88

[2017-03-21 16:03] hseeberger opened #22613 "ShardCoordinator can't get initial state when deltas turned off"
Using Akka 2.5.0-RC1 with deltas turned off via

[code]

I get the following error:

[code]

[2017-03-21 16:03] patriknw commented on #22581
@bantonsson This is perhaps something you can pick up?

[2017-03-21 16:03] hseeberger commented on #22604
Done: https://github.com/akka/akka/issues/22613

[2017-03-21 16:04] patriknw commented on #22604
thanks

[2017-03-21 16:07] ktoso commented on #22420
That's not how I understood the messages here ;)
Thanks, will get to it soon, we're planning the next months of devleopment now so will be slow to review this week.

[2017-03-21 16:13] marcin-rzeznicki commented on #22420
Excuse me - my fault obviously :-) Thanks for explanations. Happy planning!

[2017-03-21 17:05] gosubpl commented on #22606
OK, so it seems that there is some rogue delta that is causing this. Isn't this that the `WriteAggregator` in https://github.com/akka/akka/pull/22378/files generates own deltas that are later propagated? In such case those deltas would make entries _go back in time_ which would result in the effect described above. We shouldn't be using artificial deltas, only the ones taken from original CRDT sho

[2017-03-21 17:59] mirmasej commented on #22174
My case is similar to the one described by dbolotin. I use akka-http as an entry point for simple HTTP service and akka typed for the rest of the project. I wanted to have one AkkaSystem to rule it all, so I `wrap`ped system created by akka-http, but after calling

    typedSystem.systemActorOf(behavior, name)

I got runtime exception:

The issue is - I'm only interested in creating typed actors.

[2017-03-21 22:04] patriknw commented on #22606
Thanks for investigating. I will not have time to look at the details until Thursday. What do you mean by "generates own deltas". The WriteAggregator only sends the delta from the Update, and if that can't be applied on the receiving side it sends the full state. At least that is the intention.

[2017-03-21 22:46] radekg commented on #17185
I'll have a go at the first part over the coming weekend. 👍

[2017-03-22 02:29] hepin1989 commented on #22602
@johanandren I have updated the PR,PTAL

[2017-03-22 07:27] bantonsson commented on #22581
Sure

[2017-03-22 12:33] ortigali commented on #21677
Add method to PersistentActor

[code]
User can ovveride it. if this method returns true, actor sends clearPersistentId message to journal and snapshoter.

[2017-03-22 12:53] gosubpl commented on #22606
@patriknw Thanks for responding, that gave me additional point of support for my reasoning.
_Please accept my apologies_, my bad. Will issue a fix shortly. Basically, `ORMap` was creating the underlying `ORSet` delta twice. Initial replication of deltas just uncovered this bug.
@bantonsson thanks for investigating.

[2017-03-22 13:59] gosubpl commented on #22540
#22606 was specific to `ORMap` delta propagation. So this is probably something different, but the root cause might be similar issue elsewhere.

[2017-03-22 17:04] patriknw commented on #22613
@hseeberger Sharding is using it's own `Replicator` with own settings so you have to set
[code]

If you saw the same serialization problem then the above should fix it, otherwise I need more information to be able to reproduce it.

[2017-03-23 06:39] enzeart opened #22620 "Persistence and Routing"
I've been looking into using persistence with an actor that I plan to put behind a router in my project. Will journaled events be replayed at the router level during restart?

[2017-03-23 09:07] ktoso commented on #22620
Please ask general "how to use akka" questions on gitter ( https://gitter.im/akka/akka ) or the akka-user mailing list ( https://groups.google.com/group/akka-user/ ) since the issue tracker is dedicated to tracking specific issues, bugs or features - thanks in advance!

Whoever is the persistent actor will have events replayed. A router is not a persistent actor, your "domain" actor could be thoug

[2017-03-23 09:08] #22620 closed

[2017-03-23 09:24] patriknw commented on #22606
@gosubpl no reason for _apologies_, we all create them

[2017-03-23 09:37] patriknw commented on #22598
I can look at this one.

[2017-03-23 09:56] patriknw commented on #22598
It's because of the inefficient java serialization of the deltas, i.e. fixed by https://github.com/akka/akka/issues/22604

[2017-03-23 09:56] #22598 closed

[2017-03-23 10:08] patriknw commented on #22540
I'll debug this

[2017-03-23 10:35] johanandren commented on #22585
`mapConcat` and `statefulMapConcat` actually are implemented using the same stage, so that is not so surprising.

Here's the most minimal reproducer I can come up with, if I change any of the stream building steps, or remove one of these stages, not using the identity flow for example, it fixes the deadlock O.o
[code]

While debugging I can see that `onUpstreamFinish` is never called, so something

[2017-03-23 10:42] patriknw commented on #22540
I don't think this is a ddata problem. The log shows unexpected "No response from remote for outbound association. Handshake timed out after [15000 ms]".

I also tried to find more failures of ReplicatorORSetDeltaSpec in jenkins logs, but couldn't.

Leaving this for now, since it's not critical for 2.5.0.

[2017-03-23 14:25] enzeart commented on #22620
@ktoso Your response brings me to a potential issue then. I'll discuss it externally and reopen this if I find that my expected issue is valid.

[2017-03-23 14:26] ktoso commented on #22620
Please explain your actual use case on one of these forums and we'll get to it :)
The model works, since if a router routes to the same id, you'd replay that id's events so everything can recover properly. Routers are stateless in that sense.

[2017-03-23 15:51] #22606 closed

[2017-03-23 15:51] #22599 closed

[2017-03-24 07:39] patriknw commented on #20368
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4757

[2017-03-24 10:09] jrudolph commented on #20368
For many of the cases likely a duplicate of #22124.

[2017-03-24 10:15] jrudolph commented on #22585
@johanandren Did you get anywhere with this one?

I was curious, so I had a look at that one as well. (https://github.com/akka/akka/compare/release-2.4...jrudolph:jr/w/22585-source-deadlock?expand=1 contains the extra debugging output I looked at) It seems what happens is that the stream ends up with one Publisher / Subscriber pair being never connected so that completion is never propagated to th

[2017-03-24 10:16] jrudolph commented on #22585
Another sign that this is related to the old materializer is that it requires the strange `source.runWith(Flow.via.toMat)` structure to happen.

[2017-03-24 10:17] ktoso commented on #22610
We are currently in the middle of redesigning many of those classes, while we do this things may not be fully consistent on the `master` branch - thanks for your patience. They will be made consistent once 2.5 ships.

cc @rkuhn

[2017-03-24 10:31] johanandren commented on #22585
I have a repeating test, but haven't really gotten anywhere figuring it out. Looking at the debug output of the interpreter it seems as the upstream actor/stages complete but that information never reaches the flatMapConcat stage actor.

[2017-03-24 10:35] johanandren commented on #22585
The repeating test fails consistently, on every run, on both my machines though, could still be race ofc.

[2017-03-24 11:23] #22613 closed

[2017-03-24 11:47] pepegar opened #22625 "fix compilation in scaladoc code for TestFSMRef"
Currently is lacking a closing paren to close the `apply` method of `TestFSMRef`

![screen shot 2017-03-24 at 12 45 30](https://cloud.githubusercontent.com/assets/694179/24292989/e9dea6f8-108f-11e7-88cc-1a2baac22a58.png)

[2017-03-24 12:10] ktoso commented on #22358
More info from Johan:

[2017-03-24 13:11] johanandren commented on #22585
Some tracing/debugging conclusions:

The interpreter that runs Map shuts down its actor, but downstream of that the FlatMapConcat and the Ignore actors stay alive. Traces of the boundaries show that for the Map interpreter actor:

* `BatchingActorInputBoundary.onComplete` is executed
* the `GraphStageLogic` completes
* `ActorOutputBoundary.complete` is executed, at this time there is an `exposedPu

[2017-03-24 13:22] johanandren commented on #22585
I'm not getting anywhere with this, heres a run with very verbose debug outputs added:
[MapConcat-deadlock-output.txt](https://github.com/akka/akka/files/867953/MapConcat-deadlock-output.txt)

Repeater can be found in this commit: https://github.com/johanandren/akka/commit/576295112f7235f519d701cd62bd4353b0b435b5

[2017-03-24 13:32] johanandren commented on #22084
Timeout PR merged Jan 16, and this has no repeats since, so I'll close it.

[2017-03-24 13:32] #22084 closed

[2017-03-24 14:02] #22516 closed

[2017-03-24 14:46] #22124 closed

[2017-03-24 14:47] johanandren commented on #20368
Hopefully cloud by Johannes fix.

[2017-03-24 14:47] #20368 closed

[2017-03-24 14:48] ktoso commented on #22124
Plz milestone when closing :)

[2017-03-24 14:58] johanandren commented on #22124
Ups, sorry!

[2017-03-24 16:44] haggy opened #22629 "[cluster-sharding] Add debug logging to LeastShardAllocationStrategy"
I was recently having issues with "hot nodes" in the cluster. In order to debug the issue I extended `LeastShardAllocationStrategy` to add debug logging as such:

[code]

This produces logs like:
[code]

I found these logs immensely useful since it helped me discover I had too few shards and they were never being evenly spread due to the high `rebalance-threshold`.  I figured I can PR this into th

[2017-03-24 16:53] cpoissonnier opened #22630 "Add log of cause exception when uncaught error kill the JVM"
It would be great to log the cause exception when an uncaught error kills the JVM.

I spent a lot of time trying to understand what was the issue in our code, and had to run my Play application in development mode in a production environment to get the cause error in the console.

cf. https://github.com/akka/akka/blob/release-2.4/akka-actor/src/main/scala/akka/actor/ActorSystem.scala#L693

[2017-03-24 18:58] patriknw commented on #22629
The more logging the better :)
Sounds good, @haggy

[2017-03-26 19:21] rkuhn commented on #22174
@michaelom What you see is a bug (that I cannot pinpoint right now, unfortunately), would you please open a dedicated ticket for it? Thanks!

[2017-03-27 08:18] patriknw commented on #22601
There is no flow control of that part. The journal will read as quickly as it can from the db and send that to the persistent actor. It assumes that processing the events in the actor is quick (much quicker than reading from the db and deserializing). What do you do in receiveRecovery?

That said, I don't think it would be too complicated to add some flow control to the journal protocol, but so fa

[2017-03-27 08:38] 2m opened #22631 "Failed: ReplicatorMapDeltaSpec"
A couple of failures of this spec in the nighly runs over the weekend:

https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4764/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/666/consoleFull

[code]

[2017-03-27 08:40] 2m opened #22632 "Failed: DDataClusterShardingLeaving"
https://jenkins.akka.io:8498/job/akka-nightly/4261/consoleFull

[code]

[2017-03-27 08:44] 2m commented on #20368
No more TlsSpec failures in the nightlies during the weekend. Yay!

[2017-03-27 08:48] jrudolph commented on #22585
A few points why I think it might be a bug in the old materializer:

 * it depends on the internal structure of the stream graph and traversal
 * auto-fusing was switched on a long time ago and regular materialization (especially wiring of publishers and subscribers) has probably not been exercised a lot
 * it looks as if the subcriber-side of `flatMapConcat` is never subscribed to its upstream pu

[2017-03-27 11:18] gosubpl opened #22633 "Introduce delta-aggregation in the `ORMap` deltas"
This is continuation of https://github.com/akka/akka/issues/22350 . The scope is to provide delta aggregation/coalescing in the `ORMap` to save on bandwith in remoting.

The PR for this is ready.

[2017-03-27 11:18] gosubpl commented on #22631
Looking into this.

[2017-03-27 11:40] jrudolph commented on #22630
The line you referenced seems to include the cause. The code also prints information to stderr. What do you propose to add above that?

In any case, in case of a fatal JVM error, Java code might just not be able to do anything because things might just be too broken to still work. E.g. the logging infrastructure might just not work any more.

[2017-03-27 11:59] cpoissonnier commented on #22630
It should, but the cause is not logged. It is printed in stderr, but it was not possible for me to get this information in Play Framework Production Mode.

I don't know how the markerLogging is supposed to work, but I should display the cause error, right? Unfortunately, that was not the case for me (but yes, maybe I did something wrong)

[2017-03-27 13:01] bantonsson commented on #22585
@jrudolph I think that I can corroborate that the `flatMapConcat` is never connected to the `map` that is just in front of it. Looks like the `Map.out` and the `StatefulMapConcat.in` are never connected 😞 I have no real idea why yet though.

[2017-03-27 13:14] bantonsson commented on #22585
Just noticed another funny thing. Whatever I put first in the `Flow[Int].X` never gets its `out` connected to the next part of the flow. The out port seems to be missing from the `outlets` when you exit the scope of that module.

[2017-03-27 14:24] israel opened #22635 "Bug: GroupedWithin might emits empty Seq on upStream finish event"

[2017-03-27 14:33] jrudolph commented on #22585
Yeah, I tried adding a few printlns to the wiring methods in `StreamLayout` and what it does seems pretty messed up with some things wired multiple times and others seem to be wired in the wrong scope, etc.

I wonder if it really makes sense to fix it or we should people steer away from using `withAutoFusing(false)` in 2.4.

[2017-03-27 14:37] johanandren commented on #22585
Isn't it strange that the elements flow through the stream like expected though (my sample fail was `Source.empty` but the original was `Source(0 to 20)`) if it is wired wrong?

[2017-03-27 15:03] bantonsson commented on #22585
I've had several different `Source` statements to test things, and I don't get a single element in the first `map` operation with `.withAutoFusing(false)`, but everything works fine with `.withAutoFusing(true)`.

[2017-03-27 15:14] bantonsson commented on #22585
I can't see anything really wrong in the `wiring` calls in this small test, and the `Modules` look ok (but what do I know). It feels like something breaks when we **_materialize_** the different parts and hook them up.

[2017-03-27 15:22] jrudolph commented on #20368
Woohoo, great!

[2017-03-27 15:36] haggy commented on #22629
OK will PR soon.

[2017-03-27 15:58] johanandren commented on #22585
Hm. Maybe I remembered that incorrectly, I thought i was only about completion not happening.

[2017-03-27 16:05] #22581 closed

[2017-03-27 17:08] patriknw opened #22638 "Limit number of concurrent PersistentActor recoveries"
To not overwhelm the Persistence journal and backend data store we should limit how many persistent actors that are performing recovery at the same time.

This should be rather simple to implement by letting the persistent actor (Eventsourced.scala) request a permit from an actor in the Persistence extension before starting the recovery, and sending back the permit when done.

[2017-03-27 18:24] mirmasej opened #22640 "Typed FutureRef not working with untyped adapter"
Version: 2.5.0-RC1

Summary: It is not possible, while using both typed and untyped AkkaSystems together in a way described below, which I assume was expected to work, create typed actors.
Minimal example (imports omitted for brevity):

[code]
The following exception is thrown at the last line:

  at akka.typed.adapter.package$.toUntyped(package.scala:30)
  at akka.typed.adapter.package$.sendSyste

[2017-03-27 18:30] mirmasej commented on #22174
@rkuhn I've created [a bug report](https://github.com/akka/akka/issues/22640) for the first issue.

The good news is the second case works, that is:
[code]
produces valid typed actor. I guess I was trying to combine both approaches at once :confused: .

[2017-03-28 07:18] 2m commented on #21810
Two failures this night:

https://jenkins.akka.io:8498/job/akka-multi-node/2017/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly-2.12/161/consoleFull

[2017-03-28 08:14] #22602 closed

[2017-03-28 08:34] patriknw commented on #22451
@bantonsson did you fix this?

[2017-03-28 08:37] bantonsson commented on #22451
I think that @SethTisue Already fixed it in his PR.

[2017-03-28 08:41] patriknw commented on #22358
it would be a bug in 2.4 (and possibly also in 2.5) if it's a bug, seems like tests are passing with 2.5

[2017-03-28 09:02] patriknw commented on #22632
This should not be related to deltas. The error is:
[code]

Not sure why it couldn't retrieve the initial state. Could be just slowness.

[2017-03-28 09:29] #22040 closed

[2017-03-28 09:35] #22128 closed

[2017-03-28 09:56] #22358 closed

[2017-03-28 09:56] ktoso opened #22646 "Investigate on 2.4: GraphInterpreter leak when a submaterialized flow throws during materialization"
The issue #22358 is fixed on 2.5 however it may manifest on 2.4.
See details: *GraphInterpreter leak when a submaterialized flow throws during materialization #22358*

[2017-03-28 10:50] #21891 closed

[2017-03-28 11:13] bantonsson commented on #22585
So this seems to have something to do with how a `CompositeModule` inside a `CompositeModule` is connected (via assignPorts) during materialization.

I currently have this sink that is attached to a `Source.empty[Int]`:
`Flow[Int].via(Flow[Int].map(_ + 1).filter(_ ⇒ true)).toMat(Sink.ignore)(Keep.right)`

The map and the filter are inside a `CompositeModule` (`67844474 `) and the `Map.out` is neve

[2017-03-28 12:55] johanandren commented on #22646
Can repeat failure with Source.lazy on 2.4, although, now I'm not so sure anymore that it has anything to do with the submaterializer but rather belongs in the error handling of the stage using it.

[2017-03-28 16:12] patriknw opened #22648 "ORMultiMap delta issue for remove"
Reproducer in ORMultiMapSpec:

[code]

The results of the delta merge is not the same as the full state merge:
[code]

[2017-03-28 16:16] gosubpl commented on #22648
Looking at this

[2017-03-28 18:28] #22633 closed

[2017-03-28 19:42] gosubpl commented on #22631
Failing script, if you need this:
[code]

[2017-03-28 20:11] gosubpl commented on #22631
Interestingly, for this input the test fails very often, but not always :)

[2017-03-28 21:20] gosubpl commented on #22631
The trace is here (for `NoVD` case), but no luck replicating in unit test:
[code]

[2017-03-28 21:41] gosubpl commented on #22631
And managed to replicate:
[code]

[code]

[2017-03-28 21:42] gosubpl commented on #22631
@patriknw good news, there is unit test replicating this. Will look into that later.

[2017-03-28 21:55] gosubpl commented on #22648
Fix for this also fixes https://github.com/akka/akka/issues/22631

[2017-03-28 22:32] gosubpl commented on #22631
Reproducible with `ORSet` too:
[code]

[2017-03-29 07:03] bantonsson commented on #22585
The underlying issue was that `viaMat` on an identity flow (`Flow[T].via(...)`) clobbered the upstreams and downstreams of the flow that you passed in, so that we couldn't hook up the pieces to each other.

[2017-03-29 07:26] 2m commented on #22631
One more datapoint of a nightly failure: https://jenkins.akka.io:8498/job/akka-nightly/4271/consoleFull

[2017-03-29 07:27] patriknw commented on #22631
I'm not sure if that scenario is possible in reality. I find it difficult to follow when writing multiple operations from different nodes on the same line. `add(node1, "z").add(node2, "x")`

"z" can't be added like that, it must have been added to m2a or the opposite. Operations from one node is always performed in sequence.

[2017-03-29 07:32] 2m commented on #22503
https://jenkins.akka.io:8498/job/akka-multi-node/2019/consoleFull

[2017-03-29 08:13] #22585 closed

[2017-03-29 08:50] Fristi opened #22650 "Akka persistence query: eventsByTags"
Instead of using one tag I would like to specify multiple tags (`def queryEventsByTags(tags: Set[String]): Source[EventEnvelope2, NotUsed]`)

Currently we are using akka-persistence-query with one tag (`all`) and `collect` 2 events from a set of 8-10 events. The nice thing about the current query is: it's one periodic poll probably (I assume the Cassandra implementation does the same thing as the

[2017-03-29 09:53] gosubpl commented on #22631
More realistic scenario:
[code]

[2017-03-29 11:47] avakhrenev opened #22652 "Source.unfoldResource may leak resources"
Consider the following program:
[code]

`## Closed` will never be printed

The key part is `ActorMaterializer()` capturing current actor's context as an `ActorRefFactory`. When the actor gets killed, no proper stream lifecycle methods are executed.

Akka version is 2.4.17

[2017-03-29 16:07] gosubpl commented on #22631
@patriknw hopefully fixed by https://github.com/akka/akka/issues/22654
@2m many thanks for gathering additional failed cases, I will check them in the spec setting when I have few more minutes, to be double sure that everything works.

[2017-03-29 18:19] xdev-developer commented on #18311
Any updates on this?
akka-http version 10.0.5
pool freezes after making couple of requests.
Logs:
[code]

[2017-03-29 23:56] ctataryn commented on #18625
@ktoso I'm starting in on converting my Spray 1.3.1 app to Akka-Http. I do use this `respondWithMediaType` method when I'm serving up a file.  Can you point me in the right direction on what this code will look like in Akka-Http?

[code]

[2017-03-30 06:09] patriknw opened #22655 "Handle delta None correctly"
When a DeltaReplicatedData returns `None` from `delta` it must still be treated as a delta that increase the version counter in `DeltaPropagationSelector`.
Otherwise a later delta might be applied before the full state gossip is received and thereby violating `RequiresCausalDeliveryOfDeltas`.

[2017-03-30 07:13] Korbik commented on #19483
What is the status of the issue ?
I've made a new patch using the modification from @prettynatty for the FileIO#toPath and FileIO#fromPath [diff](https://github.com/akka/akka/compare/release-2.4...Korbik:wip-file-io-startPosition) The associated PR : #22657

[2017-03-30 08:49] ktoso commented on #19483
Thanks, it seems others have dropped the ball on this issue - thanks for picking it up again @Korbik

[2017-03-30 08:56] #22625 closed

[2017-03-30 09:34] #20873 closed

[2017-03-30 10:07] johanandren commented on #22652
The reason a combination of the fact that the materializer uses the actor context as its implicit `ActorRefFactory`, so it gets shutdown when the actor shutsdown and that `killSwitch.shutdown()` is async so it will not wait for the streams to actually have been shutdown, causing the stream to get abruptly killed with the materializer rather than shutdown.

There is a bug in there though, and that

[2017-03-30 12:23] jrudolph commented on #18311
@xdev-developer could you please create a ticket on https://github.com/akka/akka-http? Please add information about how this can be reproduced.

[2017-03-30 12:34] avakhrenev commented on #22652
The issue is not specific to the `UnfoldResourceSource` stage only, it affects every `GraphStage`, which have interesting finalization logic described inside of `onDownstreamFinish`/`onUpstreamFinish`/`onUpstreamFailure`. Your proposed fix implies that every such `GraphStage` should repeat the same logic inside of `postStop`.

Why not to make graph interpreter call `onUpstreamFailure` and `onDowns

[2017-03-30 13:10] jrudolph commented on #18625
If you don't want to use a marshaller, you can use something like that:

[code]

[2017-03-30 13:45] #22655 closed

[2017-03-30 14:26] johanandren commented on #22652
That sounds very invasive, I don't know. @drewhk @patriknw any input?

[2017-03-30 14:27] #22416 closed

[2017-03-30 14:40] johanandren commented on #22652
Note that regardless of this bug in `UnfoldResourceSource` (and possibly other stages) the more correct solution would be to have a shutdown message, rather than poisonpill, trigger stream shutdown using that, and then not stop the actor until the stream has shut down. Shutting down the stream by killing the materializer is like doing kill -9 on a stream. Doing that would avoid the bug to start wi

[2017-03-30 15:24] johanandren opened #22658 "Make Deferred compose better"
Currently Deferred can only be used as the outermost Behavior as it expects a PreStart as the first message. Roland mentions in akka/akka-meta#46 that it should be fixable.

[2017-03-30 15:36] ctataryn commented on #18625
@jrudolph thanks.  May I ask, why is `respondWithMediaType` considered an anti-pattern yet `respondWithHeader` [1] is deemed ok?  Was it that the generic `respondWithHeader` should be the only access given to headers rather than having the specialized directives like `respondWithMediaType`?

[1] - http://doc.akka.io/docs/akka-http/10.0.5/scala/http/routing-dsl/directives/respond-with-directives/re

[2017-03-30 17:11] xdev-developer commented on #18311
@jrudolph done.
https://github.com/akka/akka-http/issues/1006

[2017-03-30 19:58] ktoso opened #22659 "Fix docs redirects oldDocs.js"
This will require some manual preparation work, as the simple "replace with new number" does not work since:

http://doc.akka.io/docs/akka/2.4.9/scala/http/client-side/request-level.html

should redirect to

http://doc.akka.io/docs/akka-http/current/scala/http/client-side/request-level.html

[2017-03-30 19:59] ktoso commented on #22659
Putting it here since it means we have to touch old akka/akka deployed docs.

[2017-03-30 20:45] ktoso commented on #22659
See also https://github.com/akka/akka-http/issues/809

[2017-03-30 23:24] radekg commented on #17185
It's been a busy couple of weeks. I hope to have a first swipe ready for Monday, 3rd of April.

[2017-03-31 05:12] patriknw commented on #22658
Possibly related: #20205

[2017-03-31 05:16] patriknw commented on #22325
I don't like this much and question the need for a different api for `stateless`. `Unhandled` is another example that `stateless` can't handle.

[2017-03-31 05:20] patriknw commented on #21652
I think this is or will be obsolete with the new api.

[2017-03-31 05:20] #21652 closed

[2017-03-31 05:31] patriknw commented on #16742
For actors we should have the "safe" scheduling facilities similar to `FSM` and `TimerGraphStageLogic`

[2017-03-31 05:37] patriknw commented on #19491
I think this is also important for making it easier to evolve these in a binary compatible way.

[2017-03-31 05:38] patriknw commented on #19490
obsolete, there is no such factory method any more

[2017-03-31 05:38] #19490 closed

[2017-03-31 05:40] patriknw commented on #18522
probably obsolete, we will revisit the documentation

[2017-03-31 05:40] #18522 closed

[2017-03-31 05:43] patriknw opened #22660 "Rename DeploymentConfig to Props"
see discussion in https://github.com/akka/akka-meta/issues/46

[2017-03-31 05:44] patriknw commented on #19492
or receiveMessage receiveSignal ?

[2017-03-31 05:47] patriknw opened #22661 "hide message and management methods in Behavior"
See discussion in https://github.com/akka/akka-meta/issues/46

`sealed abstract class Behavior` that does not have message handling methods, plus a non-final abstract class `ExtensibleBehavior` extends Behavior that is the current Behavior. Then we formalize the small helper methods at the bottom of Behavior.scala into a tiny stateless static interpreter that executes each behavior as appropriate,

[2017-03-31 05:48] patriknw commented on #22658
Possibly related: #22661

[2017-03-31 05:49] patriknw opened #22662 "use PartialFunction for signals"
See discussion in https://github.com/akka/akka-meta/issues/46

Also, see if we can improve the syntax for the two parameters in `Stateful`, Signal trait should not be sealed

[2017-03-31 05:50] patriknw opened #22663 "separate out the symbolic operators from ActorRef"
See https://github.com/akka/akka-meta/issues/46

[2017-03-31 05:51] patriknw opened #22664 "void signature of watch"
See https://github.com/akka/akka-meta/issues/46

avoids ugly corner cases for `ActorRef[Nothing]`

[2017-03-31 05:51] patriknw opened #22665 "document how to "bubbling up failures""
See https://github.com/akka/akka-meta/issues/46

[2017-03-31 07:40] rkuhn commented on #22658
Fixing this is implicit to the removal of the PreStart signal, there is no fundamental reason for the assertion that currently makes composition harder than it should be.

[2017-03-31 08:07] johanandren commented on #22658
@rkuhn Yes, maybe the name of the ticket is somewhat misleading, but that's the end result we want to end up with and I wasn't entirely sure what needed to be done to get there. I will start with the "interpreter" ticket and see if removing PreStart follows naturally in the work there.

[2017-03-31 08:08] johanandren commented on #20205
I'll close this as we are removing `PreStart`

[2017-03-31 08:08] #20205 closed

[2017-03-31 08:16] rkuhn commented on #22662
Just for rationale: the reason why Unhandled exists is primarily to support DeathPactException when a Terminated is not handled—which I find very valuable to have. Perhaps this rationale should be documented.

(Anecdote: previously Unhandled also was needed to support the Or combinator, but that was a failed experiment as far as I can see, to be superseded by a process DSL for actors.)

[2017-03-31 08:18] rkuhn commented on #22325
We can of course leave out `stateless` for now and see who complains—it is just a bit ugly to read `Same` so many times in a match.

[2017-03-31 08:57] patriknw commented on #22662
Just for clarification: unhanded `Terminated` shall still result in `DeathPactException`

[2017-03-31 09:24] ktoso commented on #17185
Would be nice, thanks :)

[2017-03-31 09:57] ktoso opened #22666 "Make FileSource extensible again, via OpenOption instead StandardOpenOption"
We messed up APIs at some point in: https://github.com/akka/akka/pull/22657/files#diff-77fa4d9554d09b20599c4dccc77fc3c6R122

and it's now not extensible since `StandardOpenOption` is the `enum`, and we should have put `OpenOption` there.

This:

[code]

Should have been:

[code]

Now we can't use that set to insert our own options sadly...

Can we fix this by adding an overload?

[2017-03-31 10:12] ktoso commented on #22666
We may actually get away with just changing it, due to type erasure

[2017-03-31 10:13] #19483 closed

[2017-03-31 10:44] ktoso commented on #18625
Content Type / Media Type is treated specially since the marshalling infrastructure inspects it to see if the provided unmarshaller/marshaller matches what you want to emit/parse.

None of the other headers impact marshalling in that sense, so changing headers in that way is fine.

Content Types should be always aligned with that _actually_ is being marshalled. Thus, the value should come from the

[2017-03-31 10:49] johanandren commented on #22661
I will also throw out ScalaDSL here, there is just too much work to keep the old API.

[2017-03-31 12:27] ctataryn commented on #18625
@ktoso thanks. Now in the case where one is  completing on a `String` (as I am) how else could the marshaller be chosen other than by 'MediaType'?

By creating a specialized container type for the `String` to trigger the use of the correct Marshaller? Or by explicitly forcing the Marshaller that is used,  like what is being done in the "Using Marshallers" section [1]

[1] - http://doc.akka.io/docs

[2017-03-31 12:56] ktoso commented on #18625
Yeah, this sounds the cleanest IMHO. Since it expresses intent nicely.
You can easily build one marshalled on top of another one, I blogged about this on http://kto.so

[2017-03-31 13:11] ctataryn commented on #18625
Thanks @ktoso!

[2017-03-31 13:46] ktoso commented on #22630
As Johannes explained, this is an "everything is burning, end of the world" situation, we can't rely on the logging infra to be even alive anymore - which is why the error is printed to std-err as a last-resort.

[2017-03-31 13:46] #22630 closed

[2017-03-31 14:13] patriknw commented on #22640
The problem here is that the the `FutureRef` tries to `Watch` the `ref`, which here is an `ActorRefAdapter`. The adapter tries to `toUntyped` on both watcher and watchee, and that fails on the watcher since that is the `FutureRef`.

I'm not sure what is supposed to work or what is still to be implemented for the adapters.

To me it looks like the watch in `FutureRef` could be optional. The only pu

[2017-03-31 14:37] jonas commented on #22659
Looking into this.

The fix would be to update `akka-docs/_sphinx/themes/akka/static/warnOldDocs.js` to match `/http/` in the path and redirect.

[2017-03-31 14:38] rkuhn commented on #22640
My wish would be to have some time to think through exactly how untyped and typed should be able to interact and how that should be implemented, in its entirety. Before that it is difficult to give a consistent answer.

[2017-03-31 14:38] jonas commented on #22659
Alternatively we can just patch the 2.4.9 version of that file and live happily ever after.

[2017-03-31 15:27] jonas commented on #22659
Updated version of `warnOldDocs.js` for 2.4.9 can be found [here](https://gist.githubusercontent.com/jonas/ca8cc328be5bc2d67f686051a1c8d28f/raw/9f096a7c327ac25f2d0004ec63acea22f32605bd/warnOldDocs.js) ([diff](https://gist.githubusercontent.com/jonas/ca8cc328be5bc2d67f686051a1c8d28f/raw/9f096a7c327ac25f2d0004ec63acea22f32605bd/warnOldDocs.js.2.4.9.patch))

<img width="620" alt="screen shot 2017-03-

[2017-03-31 15:32] ctataryn commented on #18625
@ktoso P.S. In the question/blog post I noticed it's implementing an _Unmarshaller_ for an Http*Response*. Isn't Unmarshalling something you'd typically want for an Http*Request* :thinking: ?

[2017-03-31 17:47] johanandren commented on #22661
Just one test failing now, WIP pushed in this branch but not ready for PR yet: https://github.com/johanandren/akka/tree/wip-22661-make-typed-more-interpreted-johanandren

[2017-04-01 07:00] ktoso commented on #18625
Depends who you are :-) A client unmarshals responses.

[2017-04-01 09:23] ktoso commented on #22659
Oh, interesting - looking into it!

[2017-04-01 09:32] ktoso commented on #22659
Oh pretty neat, I guess we should do just that then as first step.
Please submit a PR and I'll take care of getting that script into all old versions of the docs.

[2017-04-01 13:13] jonas commented on #22659
Should I make the PR against the akka version after the HTTP code was removed, assuming this is not something we want to merge?

[2017-04-01 13:57] avakhrenev commented on #22652
I absolutely aree with you. But in real applications actors may unexpectedly terminate because of various reasons, not only because of scheduled stopping. The `PoisonPill` here is used to keep the example minimal. Probably it is a good thing, that crash of the actor also terminates all the streams it materializes, so even no `KillSwitch` required.

Here is possibly incomplete list of such stages:

[2017-04-01 14:27] ctataryn commented on #18625
@ktoso touché

[2017-04-03 08:34] johanandren commented on #22652
Thanks for investigating those

* `ActorOutputBoundary` is very special and not affected by this problem
* `ActorRefBackpressureSinkStage` doesn't manage the resource (the `ActorRef` is passed in)
* The rest seems correct

I think we should have a discussion about this in the team before deciding how to act on it, so wait a bit with a PR, thanks.

Ping @patriknw @ktoso @2m

[2017-04-03 11:14] sirocchj opened #22671 "properly shutdown ArteryTransport using CoordinatedShutdown"
In http://doc.akka.io/docs/akka/2.5.0-RC2/scala/actors.html#Coordinated_Shutdown it is mentioned that you should registered JVM shutdown hooks so that they are performed before akka’s internal ones. Artery is mentioned explicitly but it would probably be useful to add a snippet showing what/how to avoid
[code]

[2017-04-03 11:22] 2m commented on #22632
https://jenkins.akka.io:8498/job/akka-nightly/4284/consoleFull

[2017-04-03 11:22] 2m commented on #22503
https://jenkins.akka.io:8498/job/akka-release-2.4/162/consoleFull

[2017-04-03 15:21] patriknw commented on #22671
Then the question is what you did to get that exception. Something is blocking the shutdown of Artery. This is after waiting for other jvm hooks. Do you have any more logs or a reproducer?

[2017-04-03 15:32] patriknw commented on #22650
I think you should start by implementing this in a specific journal. Such additional capabilities don't have to go into the akka-persistence-query API.

[2017-04-03 18:18] buaya91 commented on #22596
closed via https://github.com/akka/akka/commit/d3de9d40cdd76a8b50a8ae84ad36f59002ca516c

[2017-04-03 18:18] #22596 closed

[2017-04-03 18:21] #22646 closed

[2017-04-03 18:50] sirocchj commented on #22671
Sorry @patriknw I should have mentioned that: SIGTERM/INT when using artery in remote/cluster (leaving `run-by-jvm-shutdown-hook=on` as per default).

I guess what I am looking for is the correct way one is expected to shutdown the artery transport if you want to avail of coordinated shutdown.

`org.agrona.concurrent.SigInt.register(new Runnable { override def run(): Unit = cluster.leave(cluster.s

[2017-04-04 05:42] patriknw commented on #22671
The intention is that Coordinated Shutdown should perform the leaving for you. You should not have to register anything for that to work. `org.agrona.concurrent.SigInt` should not be needed.

Note that `SIGINT ctrl-c doesn't work`, you have to use `kill SIGTERM`.

[2017-04-04 06:34] sirocchj commented on #22671
Thanks for clarifying! Um, then there's something not working for me... Here's the minimised project that exposes the issue https://gist.github.com/sirocchj/eca106585d8f2135982bb92660f9ccdc

[2017-04-04 11:35] #22648 closed

[2017-04-04 11:35] #22631 closed

[2017-04-04 11:43] eloots opened #22676 "Duplicated keyword code snippet in 2.4 to 2.5 migration guide"
The section on akka extensions contains a code snippet that has a duplicated use of the `extends` keyword

[2017-04-04 11:56] patriknw commented on #22640
Looked some more at the `FutureRef` and see that the purpose of the watching is to propagate `DeathWatchNotification`. Is that correct? I'm thinking of delivery order of the `DeathWatchNotification` since this introduces an extra "actor" in-between. E.g. target actor sends one last reply message and then stops, then the reply is supposed to be delivered before `Terminated`.

I don't understand the

[2017-04-04 12:10] #22676 closed

[2017-04-04 12:47] #22658 closed

[2017-04-04 12:50] #22661 closed

[2017-04-04 14:08] rkuhn commented on #22640
That ordering guarantee is gone: since we don't have sender() anymore, Terminated only signifies that sending to that ref does not make sense anymore.

[2017-04-04 14:19] patriknw commented on #22640
`sender()` has nothing to do with that, AFAICS.
We have said that it should be possible to use Terminated as an end of conversation message.

Actor A has ref to actor B.
A watch B
A sends "give me your stuff" to B.
B sends msg 1 .. 100, and then stops itself to indicate that there is nothing more.
A should receive msg 100 before Terminated.

[2017-04-04 15:09] rkuhn commented on #22640
Yes, I'm aware of that, but unfortunately I was not able to implement those semantics in the new ActorSystemImpl without complicating things quite a bit.

The other reason for removing this guarantee is that it only works in the simple and direct case, it breaks down when forwarding is involved. Therefore the more reasonable guarantee is that a destination for which a Terminated has been received

[2017-04-04 16:54] radekg commented on #17185
@ktoso apologies for the delay once again, paid work 🙄
Did a very simple draft of a sink here, not sure if it works but generally looking for a feedback if the direction is okay: https://github.com/radekg/alpakka/commit/525cbeb4332f2e36cee05a0812a48d6fadaf9a2a#diff-6a5622f155a9302eacdc2aa8cc67826fR1
If the direction is okay, I'll progress with packaging it all nicely, scaladoc, tests and such.

[2017-04-05 06:23] ktoso opened #22680 "Do we want to support serialize-messages = on + allow-java-serialization = off"
Users may set the setting `serialize-messages = on` together with `allow-java-serialization = off`.
Which addmitably is a bit weird, but causes internal Akka messages to show up in serialization errors.

Is this something we should either:
- **document as not supported idea**, since internal tests pass messages and thus "serialize all" also means those that never cross actual remote boundary, so t

[2017-04-05 06:32] patriknw commented on #22640
This is a specific issue for `FutureRef`. I'm putting it back until we have the more general pieces of coexistence in place.

[2017-04-05 09:11] ivanopagano commented on #22680
If I may add to the discussion, the docs seemed to imply that any internal message not expected to cross the vm boundaries have a marker trait to identify them and preventing warning by setting

`warn-on-no-serialization-verification = off`

So I would expect that this takes care of all internal messages when I turn on the serialize-message switch.

The idea here behind this specific switch combin

[2017-04-05 09:16] patriknw commented on #22680
Improvement in progress: https://github.com/akka/akka/pull/22682

[2017-04-06 06:26] patriknw opened #22687 "something wrong in TypedSpecSpec"
After the Deferred refactoring TypedSpecSpec is unhappy (but doesn't fail).

[code]

[2017-04-06 06:37] patriknw commented on #22174
I define the scope of this ticket to be the adapter approach. I have completed it in PR https://github.com/akka/akka/pull/22681

Later we can look into the other approach of running untyped actors in the new typed actor system, but that is probably much more complicated. That is covered by ticket https://github.com/akka/akka/issues/22271

[2017-04-06 10:07] 2beaucoup commented on #22452
BTW: `Source.combine` would be even more useful it wouldn't require at least two sources as input so that `Source.combine(mySources:_*)` would return
- `Source.empty` if empty
- `mySources.head` if singleton
- combined sources otherwise

[2017-04-06 16:52] haggy opened #22688 "Incorrect supervisor strategy in withSupervisorStrategy signature"
I caught this while trying to use the `BackoffSupervisor`:
https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/pattern/BackoffOptions.scala#L171
[code]

The above method does not allow you to specify the `AllForOneStrategy` since it's explicitly accepting only `OneForOneStrategy`. Unless Im missing something, I believe that method should be:

[code]

[2017-04-06 16:53] haggy commented on #22688
Oh upon looking at the `BackoffOptionsImpl` class, it is explicitly accepting only `OneForOneStrategy` there as well. Is this intentional?

[2017-04-06 22:29] Sukesh-Alluri opened #22689 "Unable to send negative acknowledgement upon LoadSnapshotFailed"
Hi, I'm using akka-persistence 2.5.16 version and ran into this issue of unable to send a negative ack back to the original sender of the message to PersistentActor in the overridden onRecoveryFailure method where sender has a reference to SnapshotStore actor rather than to the actor which originally sent the message to the PersistentActor.

Is there no way we can do this or am I mis reading somet

[2017-04-07 09:01] raboof commented on #22689
Hello Sukesh, thanks for your question!

Indeed during recovery you don't have access to the original sender, as that party could be long gone by then: remember persistent actors are often used for long-running processes, and recovery is intended to build up the state based on all past events.

In general I would consider it a bug when recovery can fail, and essentially I'd say the only place this

[2017-04-07 09:33] raboof commented on #22689
(closing as this likely isn't really an issue with akka, just a question)

[2017-04-07 09:33] #22689 closed

[2017-04-07 15:07] patriknw commented on #22671
Thanks for an excellent reproducer. I can confirm that I see the same problem. I'm investigating.

[2017-04-07 19:32] Sukesh-Alluri commented on #22689
@raboof thanks for the confirmation. We'll try take another route to handle these failures for now as we too don't expect rehydration to fail ever, but seems due to side effects in the rehydration process, we do see these issues occasionally.

[2017-04-07 19:38] raboof commented on #22689
Sounds good, good luck!

In general it's best to try and avoid side effects inside the event handling. If anything you might want to collect a list of 'planned' side effects during recovery and then perform them after recovery has completed. This is also how `AtLeastOnceDelivery` works.

[2017-04-08 10:24] hseeberger opened #22691 "Docs for Sink.last(Option) are wrong about failure"
The docs for `Sink.lastOption` and `Sink.last` indicate that if at least a single element was processed this will be used for the mat value, even in case of failure. That doesn't reflect reality (code): in the case of failure, the mat value is a `Failure`.

[2017-04-08 12:01] patriknw commented on #22688
That is intentional as far as I can see. Backoff supervision is not ordinary parental supervision. It's a separate actor that handles the backoff process when a specific child fails. It, can't influence siblings (children one level up from the backoff actor).

[2017-04-08 19:07] ktoso commented on #22688
Sounds intentional to me as well, closing for now.

[2017-04-08 19:07] #22688 closed

[2017-04-10 10:02] 2m opened #22693 "Failed: DriverTimeoutException: CnC file not found: cnc.dat"
Looks like started after https://github.com/akka/akka/pull/22690

https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/561/consoleFull

[2017-04-10 10:04] patriknw commented on #22693
ok, I guess this is the same as reported by @guidomedina

@2m please revert the version change until we have investigated this

[2017-04-10 10:06] 2m commented on #22693
Created https://github.com/akka/akka/pull/22694

[2017-04-10 12:57] amirhmd commented on #22457
hi guys, I am totally new to open source ,is it a good place to start contributing in this project? for me it doesn't matter I am looking for something easy to get the idea and contribute... if you think that there might be some other thing which is much more convenient for a starter please guide me I am all in.

[2017-04-10 15:03] amirhmd commented on #22457
There are several warning during SBT project import such as SBT project import module not found: com.typesafe.akka#akka-stream_2.11;2.5-SNAPSHOT, and so on..

[2017-04-10 15:23] ktoso commented on #17185
Hi @radekg, please submit a PR :) I would have almost lost this ping already, and will be offline for a bit now. Someone else could review it this week perhaps. If not, I'll get to it later :)

Thanks for your efforts!

[2017-04-10 21:35] raboof commented on #22457
Hi Amir, welcome! We'll try to help you out ;). Generally the best place to start would be a small issue that you care about as a user yourself - this one might be as good as any other :).

As for the sbt warnings, I don't think I've seen that. This issue doesn't seem like the proper place to discuss this, though - perhaps join us on gitter at https://gitter.im/akka/dev?

[2017-04-11 12:01] patriknw commented on #22671
@sirocchj It was a bug, thanks for reporting.

[2017-04-11 12:10] sirocchj commented on #22671
@patriknw glad you found it! :)

[2017-04-11 13:57] awouda opened #22700 "Agent send with implicit executioncontext fails with nullpointer"
When having an implicit ec enabled in the code below, I get a NPE in the SerializedSuspendableExecution context. I think this should not happen. Using the commented global execution context, the behaviour is as expected.

Akka v 2.4.16
Scala 2.12.1
[code]

[2017-04-11 15:26] aishfenton commented on #12035
+1 for addressing this. Many of the larger AWS instances use NUMA so need this to take full advantage of them.

[2017-04-11 15:28] viktorklang commented on #12035
Open a PR! :-)

--
Cheers,
√

On Apr 11, 2017 5:27 PM, "Aish" <notifications@github.com> wrote:

[2017-04-11 19:08] jacobtardieu commented on #22385
After having coded the skipping part, I now have some issues:
* We seem to have no way to expose the fact that we're skipping a frame because it's too long: it means that we can't know we're skipping it (a way to log or to increment a metric would be nice).
* If we want to add a settings parameter (e.g. something called a `FramingSettings`) and make it work like the other settings parameters in Ak

[2017-04-11 19:15] hepin1989 commented on #22385
When the chunk is too long, there are two cases:
- drop the frame and return an error/response
- fail the stream

[2017-04-11 19:45] patriknw opened #22702 "failed: CompressionIntegrationSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8857/

Failed test: akka.remote.artery.compress.CompressionIntegrationSpec.wrap around

[2017-04-11 19:47] #22693 closed

[2017-04-11 19:49] #22671 closed

[2017-04-11 20:17] wsargent commented on #22680
I just did this so I could demo an akka cluster with several nodes inside a single JVM using protobuf.  It exploded.

[2017-04-12 03:17] hochgi opened #22703 "GroupedWithin stage might output empty seq upon upstream completion"

[2017-04-12 04:01] hochgi commented on #22703
Seems like it has already been fixed in:
https://github.com/akka/akka/commit/ba213b7f

[2017-04-12 04:01] #22703 closed

[2017-04-12 05:57] patriknw opened #22705 "failed: AeronStreamConsistencySpec"
After updating to Aeron 1.2.4 AeronStreamConsistencySpec fails when shutting down with never ending:
[code]

[2017-04-12 05:58] patriknw commented on #22705
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4812

[2017-04-12 06:11] johanandren commented on #22680
For reference I did add something tangential recently, a test-serializer `akka.testkit.TestMessageSerializer` to selectively enable Java serialization for example for messages only used in tests when Java serialization is disabled for the actor system.

[2017-04-12 06:54] raboof commented on #22680
@wsargent to be able to demo an Akka cluster with several nodes (even inside a single JVM) you shouldn't need to set `serialize-messages = on` though - the messages travelling over remoting will be serialized regardless.

[2017-04-12 07:03] johanandren opened #22707 "Docs about disabling Java serialization is not up to date"
http://doc.akka.io/docs/akka/2.5-RC1/scala/serialization.html#Configuration
and http://doc.akka.io/docs/akka/2.4.17/scala/serialization.html#Configuration both still say `"java.io.Serializable" = none` is the way to disable Java serialization. We should replace it with the new `akka.actor.allow-java-serialization` setting.

[2017-04-12 07:25] 2m opened #22708 "Failed: ArteryRemoteReDeploymentSlow"
https://jenkins.akka.io:8498/job/akka-nightly-2.12/176/consoleFull

[code]

[2017-04-12 07:26] 2m opened #22709 "Failed: PersistentClusterShardingLeaving"
https://jenkins.akka.io:8498/job/akka-multi-node/2033/consoleFull

[code]

[2017-04-12 08:22] 2beaucoup opened #22710 "interleave doesn't expose eagerClose parameter"
I'm currently unable to set `eagerClose = true` in the stream DSL. Looks like an oversight. It should be added [here](https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala#L1786) as the last param.

[2017-04-12 10:14] johanandren commented on #22707
False alarm, it is documented, just not there, but here: http://doc.akka.io/docs/akka/2.5.0-RC1/scala/remoting.html#Disabling_the_Java_Serializer

[2017-04-12 10:14] #22707 closed

[2017-04-12 10:18] hochgi opened #22711 "Consider adding a GroupedWeightedWithin stage."
Where `GroupedWithin` could be implemented in terms of this more general stage.
We have a custom implementation, where we use it to group elements by weight rather than number of elements.
It is declared as:
[code]
API could be defined as:
[code]
and existing `groupedWithin` can be implemented with:
[code]

[2017-04-12 10:18] johanandren commented on #22700
It is because of initialization order, when the agent is contstructed `ec` is still `null`/not initialized yet, and that is passed to the Agent. Change `ec` to be a `def` and it will work.

[2017-04-12 10:18] #22700 closed

[2017-04-12 10:19] johanandren commented on #22711
Sounds interesting to me.

[2017-04-12 10:54] patriknw commented on #22705
We have reverted to Aeron 1.2.3. Processes for multi-node tests were still alive on a5, running at full cpu throttle.

[2017-04-12 10:54] #22705 closed

[2017-04-12 10:56] patriknw commented on #22709
After the Aeron 1.2.4 update processes for multi-node tests were still alive on a5, running at full cpu throttle.
So closing because it was probably a symptom of that.

[2017-04-12 10:56] #22709 closed

[2017-04-12 10:56] patriknw commented on #22708
After the Aeron 1.2.4 update processes for multi-node tests were still alive on a5, running at full cpu throttle.
So closing because it was probably a symptom of that.

[2017-04-12 10:56] #22708 closed

[2017-04-12 12:29] awouda commented on #22700
Ah, ok I see, stupid; already fell into that earlier....

I'll make it lazy val, or it keeps resetting the Agent to 0.

[2017-04-12 12:35] johanandren commented on #22700
Note that the Agents will be deprecated in Akka 2.5 which will be released really really soon.

[2017-04-12 15:38] stanislav-chetvertkov opened #22714 "Akka Typed:EffectfulActorContext ability to poll an effect with a max timeout"
when I using `EffectfulActorContext` for testing, sometimes I wan't to poll an Effect that is eventually available with some delay, for example

[code]

if I call

[code]

effect won't be instantly available and NoSuchElementException will be thrown, so I have to call `Thread.sleep(100)` in my test and only then the effect becomes available

**solution**

use LinkedBlockingQueue
`private val effec

[2017-04-12 15:39] stanislav-chetvertkov commented on #22714
:t typed

[2017-04-12 15:48] #22174 closed

[2017-04-13 09:59] johanandren commented on #22714
We are currently reworking the APIs, the entire `ScalaDSL` and `ContextAware` is going away I'm afraid. I'm don't immediately see if this is still relevant with the new API, but I'm pretty sure we will end up having tools to do assertions like the current actor testkit on eventual changes (`awaitAssert` and such).

Note that you cannot safely close over the `ctx` and access/use it in a different t

[2017-04-13 11:15] stanislav-chetvertkov commented on #22714
@johanandren I see... its just there is not much documentation available on it, I guess I need to start collaborating because I really like the Idea of having typed API. So is `EffectfulActorContext` also going away?
Could you point me to where the discussion of the new API is happening?

[2017-04-13 13:58] johanandren commented on #22714
Not sure what will happen with `EffectfulActorContext` you can see a few discussions in akka-meta , most of those has already landed at conclusions though and we in the core team are working on such tickets, which you can find under the akka-typed tag and pick next/in progress in the akka issue tracker.

[2017-04-13 14:18] raboof commented on #22691
The question is what do we *want* the reality to be... though it might be a bit too late to change semantics now, so probably lowest-friction to just update the docs indeed.

[2017-04-13 19:58] naferx opened #22720 "Some serializers don't throw recommended exception in fromBinary"
According to the docs:

Does it apply only for implementations of SerializerWithStringManifest ?

[2017-04-13 20:05] naferx commented on #22720
https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/serialization/ArteryMessageSerializer.scala#L94

[2017-04-13 20:23] wsargent commented on #22680
Works!  https://github.com/playframework/play-scala-secure-session-example/tree/SNAPSHOT

[2017-04-13 22:26] naferx commented on #22710
I'll give it a try

[2017-04-14 11:30] #21524 closed

[2017-04-14 13:41] astonchev opened #22723 "Large EnvelopeBuffers aren't returned to the largeEnvelopeBufferPool"
Our cluster runs with akka 2.4.11, artery, embedded aeron driver and several large-message-destinations. One cluster member emits large messages at a rate of 1 to 160 per second.
Depending on the amount of free RAM, -XX:+DisableExplicitGC and -XX:MaxDirectMemorySize the problem manifests itself as one of:
* [Full GC (System.gc())
* java.lang.OutOfMemoryError: Direct buffer memory
* the kernel kill

[2017-04-14 13:56] dlisin commented on #22723
We have exactly the same problem in our application. I will really appreciate if fix will be included to nearest Akka release

[2017-04-14 14:07] Evgen1000end commented on #22723
Our team is also aware of this issue. We will also be very grateful if the fix will come out soon.

[2017-04-14 15:37] patriknw commented on #22723
Good catch, please open a PR if you know how to fix it.

[2017-04-14 15:43] patriknw commented on #22720
Artery doesn't have same problem at all as the classic remoting with exceptions from deserialization. Artery will catch all exceptions, drop the message, and keep the connection alive.

[2017-04-15 00:21] Codier commented on #16843
what is Heiko? How is this solved? Any examples?

[2017-04-15 05:27] patriknw commented on #16843
It's in Alpakka http://developer.lightbend.com/docs/alpakka/current/sse.html

[2017-04-15 06:58] hseeberger commented on #16843
Actually Alpakka just adds some convenience stuff on top of Akka SSE: https://github.com/hseeberger/akka-sse.

Akka SSE will merged into Akka HTTP soon, but currently it's a 3rd party library.

[2017-04-15 14:43] Codier commented on #16843
thanks a lot for the pointer

On Fri, Apr 14, 2017, 11:58 PM Heiko Seeberger <notifications@github.com>
wrote:

[2017-04-15 17:15] patriknw commented on #22691
An upstream failure can always overtake ordinary elements (elements may be "stuck" because of no demand from downstreams).

If a single element is processed by the sink, that will be the materialized value.

Anyway, sounds like some kind of clarification of docs is needed.

[2017-04-15 21:03] hseeberger commented on #22691
@patriknw what you write is what the docs tell. But that's not true: even if a single element has been processed by the sink and then a failure occurs, the materialized value will be that failure. Regardless of the "speed" of the failure signal. I have a "test case" for that below, but a quick look at `LastOptionStage` and its `onUpstreamFailure` implementation should suffice.

[code]

[2017-04-15 21:04] hseeberger commented on #22691
Ah, and of course I want the sink to behave like written in the docs, i.e. recover from failure if an element has been processed.

[2017-04-16 06:11] patriknw commented on #22691
Sorry, I was thinking of Sink.head when I wrote that.

Shouldn't the recover behaviour be with a separate recover stage in front of the Sink.last, if that is the desired behaviour?

[2017-04-16 06:33] hseeberger commented on #22691
I agree, that will make (leave) last and lastOption more consistent.

[2017-04-16 06:48] bassmake opened #22726 "[Docs] example in docs persists one event, while in text two events are mentioned"
in docs:
[code]
and also `a command is handled by generating two events`, which is not true.

The code snippet should probably look like
[code]
which can be seen in downloaded `akka-samples-persistence-scala`

[2017-04-16 08:44] patriknw commented on #22726
I think we changed that example at some point snd decided that we should keep it simple with only one event. Seems like the text should be updated.

[2017-04-16 09:04] leruy opened #22727 "Failed to persist event"
build.sbt:

[code]

we used 'jdbc-journal' for "akka.persistence.journal.plugin".
configuration as follows:

[code]

We call 'persist' as follows:
[code]

[2017-04-16 09:24] patriknw commented on #22727
Do you have two active user_processor at the same time. Duplicate primary key.

Anyway, I don't think this is an akka/akka issue. Questions are better asked at akka-user google group.

[2017-04-16 10:25] leruy commented on #22727
Thanks. I am checked repeatedly.
Maybe we have two active user_processor at the same time as you said.

[2017-04-16 15:59] Kapeli opened #22728 "Downloadable docs for Akka 2.5.0"
Before Akka 2.5.0 the standalone versions included a `doc` folder (e.g. inside [akka_2.12-2.4.17.zip](http://downloads.typesafe.com/akka/akka_2.12-2.4.17.zip)). Starting with Akka 2.5.0 there's no longer an archive to download so the docs are no longer available. Could they be added back?

[2017-04-17 01:45] ktoso commented on #22727
That's illegal and should fail indeed - Akka Persistence explicitly requires / rides upon the "single writer principle".

Please read about cluster sharding http://doc.akka.io/docs/akka/current/scala/cluster-sharding.html and the split brain resolver http://doc.akka.io/docs/akka/akka-commercial-addons-1.0/scala/split-brain-resolver.html
to see how akka provides tools to help avoid this situation.

[2017-04-17 01:45] #22727 closed

[2017-04-17 02:43] ktoso commented on #22728
Hi Kapeli, I understand those make supporting Akka in Dash much simpler.
I think we should look into it then, will discuss with the team once they wake up :-)

[2017-04-17 12:53] astonchev commented on #22723
Hi @patriknw, I've opened a PR https://github.com/akka/akka/pull/22729
The fix is trivial but it took me some time to figure out how to test it. Can you please see that the test complies with your design principles.

[2017-04-17 15:35] filosganga opened #22730 "Missing ResourceFlatMapConcat stage"
Hi,
I need to apply a transformation to a `Flow[I,O]` that involves opening a resource and release it when the stream is closed. Something similar to fs2 `bracket`:

At the moment I cannot find any way to do that without implementing a custom `GraphStage`.

Would be very good to have a stage that can be used like this:
[code]

I am not sure if the acquire and release resource should be asynchronou

[2017-04-17 18:19] swsnider commented on #22548
What about clusters where `min-nr-of-members` is set to `(n/2)+1`, so there is no danger of island clusters? This is causing us issues when the first seed node in the list is down for hardware failure, so the cluster just refuses to form.

[2017-04-18 06:59] patriknw opened #22733 "FileInputStream and FileOutputStream are not GC friendly"
https://www.cloudbees.com/blog/fileinputstream-fileoutputstream-considered-harmful

[2017-04-18 07:12] larreya opened #22735 "Cluster configuration: akka.actor.ActorSelection$$anon$1 local class incompatible, serialVersionUID between IMB and Java VM"
With jboss versus IBM websphere server on cluster configuration, exception is thrown when establishing dialog:
java.io.InvalidClassException: akka.actor.ActorSelection$$anon$1; local class incompatible: stream classdesc serialVersionUID = -3019276466491037576, local class serialVersionUID = -2899751245216706739
Caused by: java.lang.ClassNotFoundException: scala.Serializable

Probable cause:
ActorS

[2017-04-18 09:04] ktoso opened #22736 "Should we put same() on Behaviour?"
A random thought while working with typed:

[code]

Since our wording here is "we return the same behaviour" users are lead to look in Behaviour for a "the same", we we only have it on Actor nowadays. Which seems a bit weird "the same actor? I mean the same behaviour!".

WDYT about exposing Same() / same() on Behavior, given the above line of thinking?

cc @rkuhn

[2017-04-18 09:12] ktoso commented on #22736
Note that I just came back from a week offline and this surprised me.
Perhaps it's fine since we tell people about Actor being all the things they need hmm...

Wanted to make note of it anyway since suprised me.

[2017-04-18 09:53] raboof commented on #22735
Hi @larreya, thanks for your report! You're indeed correct that we still use an anonymous inner class there. This might not be relevant anymore, however, as we've been moving to protobuf for serialization instead of relying on Java serialization.

Indeed https://github.com/akka/akka/blob/master/akka-remote/src/main/protobuf/ContainerFormats.proto lists 'ActorSelection related formats', though I do

[2017-04-18 10:04] larreya commented on #22735
hi @raboof , Thank you for your quick answer. I sent this issue because it seemed for me generic, but we are indirect users and depending on a software provider. I transmit your answer for future releases.

[2017-04-18 11:42] jrudolph commented on #22702
https://jenkins.akka.io:8498/job/akka-nightly/4318/testReport/junit/akka.remote.artery.compress/CompressionIntegrationSpec/wrap_around/

[2017-04-18 11:43] jrudolph commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4824/testReport/junit/akka.remote.transport/SystemMessageDeliveryNoPassiveRetryGate/Remoting_passive_connections_off_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/

[2017-04-18 11:44] jrudolph commented on #22503
https://jenkins.akka.io:8498/job/akka-nightly/4326/testReport/junit/akka.stream.io/TcpSpec/TCP_listen_stream_must_shut_down_properly_even_if_some_accepted_connection_Flows_have_not_been_subscribed_to/

[2017-04-18 11:44] jrudolph commented on #21992
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4830/testReport/junit/akka.remote.artery/FlightRecorderSpec/Flight_Recorder_must_properly_store_events_from_multiple_threads/

[2017-04-18 11:48] jrudolph opened #22737 "FAILED: ReplicatorDeltaSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4827/consoleFull

[2017-04-18 16:17] raboof commented on #22735
Hi @larreya - in fact I'm not sure where we actually ever send an `ActorSelection` - perhaps your software provider is sending them somewhere? I suspect they might need to define their own serialization for `ActorSelection` for that to work.

Anyway thanks for checking in with this issue, but as far as I can see it's not an Akka problem so I'll close it for now. If you have any further information

[2017-04-18 16:17] #22735 closed

[2017-04-18 17:20] rkuhn commented on #22736
We can certainly make `Behavior.same()` visible to user code. On the other hand I quite like the separation of the Actor-DSL from the Behavior implementation details. A compromise would be to keep it in both places so that `import static akka.typed.javadsl.Actor.*;` still brings in everything that is needed.

[2017-04-18 17:21] rkuhn commented on #22736
(re-reading: that is probably what you proposed as well, i.e. no real compromise)

[2017-04-18 17:40] hepin1989 commented on #22736
I would more like `Behaviour.SAME`

[2017-04-18 20:51] gosubpl commented on #22737
My _2¢_ theory: there seems to be a race condition inside the spec. Addition operations for `"B", "C", "D"` in lines 249-251 are allowed to happen without stabilising the CRDT at the `Set("a", "A")` state. First read in `ReplicatorDeltaSpec.scala:243` does return less than `Set("a", "A")`. Next read would be OK, but because of the additions we get more.

[2017-04-19 03:40] alapins opened #22741 "maven binary for akka-remote_2.12_2.5.0.jar has wrong CNC version in AeronErrorLog"
Trying to connect to a remote actor using artery starts the AeronErrorLog class, which seems to be using an older version of the class file.  The source code says:
`
 if (CncFileDescriptor.CNC_VERSION != cncVersion)
`
(and CncFileDescriptor.CNC_VERSION = 6) but decompiling the class in the jar shows:
`
if(5 != this.cncVersion) {
`
which means that the library blows up, since the system is writing

[2017-04-19 04:06] rrodseth opened #22742 "Add more examples for integrating with actors, in custom stage section of docs"
(As requested by Konrad on akka-user)
https://groups.google.com/forum/#!topic/akka-user/AgVHHnl9ub4

Request for more examples here:
http://doc.akka.io/docs/akka/2.5/scala/stream/stream-customize.html#Integration_with_actors

[2017-04-19 04:11] ktoso commented on #22742
Thanks for the ticket, posting your comment from that thread, it's good notes:

[2017-04-19 06:27] ktoso commented on #22736
Yes it would be in the two places I think.
It has to be a method, so "javadsl": `Behavior.same()` and "scaladsl" `Behavior.Same`

[2017-04-19 06:32] rkuhn commented on #22736
To be consistent, that should then apply to unhandled and stopped as well, I think.

[2017-04-19 06:34] ktoso commented on #22736
Yes, absolutely.

To think a bit more about the "Actor.same() + Behavior.same()" vs. "move to Behavior.same()", are we sure having it on Actor _as well_ is helpful? I see that having all those in Actor allows `import static Actor.*` which is nice, but having things in two places is a bit iffy hm... I guess one could say Actor is the "DSL", so yeah it has copies of Behavior methods since it's more

[2017-04-19 07:26] patriknw commented on #22741
You have tried to update to Aeron 1.2.4 or 1.2.5. That is not possible because the cnc version number is a compile time constant in Aeron, i.e. 5 is included in the Akka 2.5.0 class files because we built that with Aeron 1.2.3.

We will release Akka 2.5.1 soon with updated Aeron 1.2.5 dependency. Until then you have to stick to Aeron 1.2.3.

[2017-04-19 07:59] raboof opened #22745 "failed: SystemMessageDeliverySpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8893/testReport/junit/akka.remote.artery/SystemMessageDeliverySpec/System_messages_must_be_flushed_on_shutdown_2/

akka.remote.artery.SystemMessageDeliverySpec.System messages must be flushed on shutdown

[code]

[code]

[2017-04-19 08:27] patriknw commented on #22736
Pretty much everything in `Actor` is about creating/getting the behaviors so they should absolutely be there. I don't mind having `Same`, `Unhandled` and `Stopped` duplicated in `Behavior` also.

[2017-04-19 08:28] gosubpl commented on #22737
I will submit a PR today or later this week.

[2017-04-19 08:28] ktoso commented on #22736
Summing up:
- Keep on Actor
- Expose on Behavior too

Sounds very good, I'll PR that later in some free time :)

[2017-04-19 08:30] patriknw commented on #22737
thanks

[2017-04-19 11:35] patriknw opened #22748 "typed message matching builders for javadsl"
Similar to `AbstractActor`. I think @johanandren started something for this.

We should consider if we need the full pattern matching features or if we should only match on exact message class type, which can also be much more efficient than the partial function chaining.

[2017-04-19 11:43] patriknw opened #22749 "should the javadsl be implemented in java or scala?"
I'm not sure I see the advantage of implementing it in java.

[2017-04-19 12:15] patriknw opened #22750 "Rename akka.typed.ActorContext"
[code]

It's one too many ActorContext, e.g. problem when
[code]

[2017-04-19 12:15] patriknw commented on #22750
I don't have a good name suggestion yet

[2017-04-19 12:51] patriknw opened #22751 "typed MutableBehavior API"
The mutable style comes more natural with an enclosing class that is holding the mutable state variables.
From java lambdas it's only possible to update final or effectively final fields.

[2017-04-19 12:57] hepin1989 commented on #22749
If it can't be implemented in Scala with friendly to Java , then in Scala, otherwise a simpler Java proxy would be great:)

[2017-04-19 12:57] patriknw commented on #22325
Actors are by definition stateful, with some rare exceptions. Let's remove `stateless`. Symmetry is nice and therefore I suggest that we rename stateful to immutable. Then we have two different styles for `immutable` and `mutable., and they are so different that they deserve different APIs.
We will promote the `immutable` style but the `mutable` style still has it's place.

[2017-04-19 13:00] hepin1989 commented on #22736
Make the `Actor.Same` return `Behavior ,Same`:)

[2017-04-19 13:10] hepin1989 commented on #22750
`UnitedActorContext`

for
[code]

[2017-04-19 13:16] hepin1989 commented on #22748
I really love the VAVR one
![image](https://cloud.githubusercontent.com/assets/501740/25181825/5d4cd9ce-2545-11e7-8b70-c9b24d147168.png)
http://www.vavr.io/vavr-docs/#_pattern_matching

[2017-04-19 13:19] hepin1989 commented on #22748
![image](https://cloud.githubusercontent.com/assets/501740/25181987/d09d2a28-2545-11e7-9504-967fd78d3cab.png)

[2017-04-19 13:56] hepin1989 commented on #22325
`stable`

[2017-04-19 14:04] hepin1989 commented on #22325
I　more like `variant` and `constant`

[2017-04-19 14:15] alapins commented on #22741
Thanks, that was it.

[2017-04-19 14:15] #22741 closed

[2017-04-19 14:17] patriknw commented on #22748
@hepin1989 We have an example with classic actors using javaslang (vavr) https://github.com/akka/akka-samples/tree/master/akka-sample-javaslang

[2017-04-19 14:33] ktoso commented on #22728
cc @patriknw @2m something we should check btw.

[2017-04-19 14:33] patriknw commented on #21217
Related https://github.com/akka/akka/issues/19855

[2017-04-19 14:40] patriknw commented on #22728
We will not bring back the full distribution zip, but we can maybe publish a zip of the docs.
The [EPUB](http://doc.akka.io/docs/akka/2.5/Akka.epub) is pretty much that, without styling. I don't know if that could be useful for you?

[2017-04-19 14:41] Kapeli commented on #22728
@patriknw Unfortunately not. A zip of the docs would be great.

[2017-04-19 14:43] ktoso commented on #22728
Ah I see, it's dropped because the distribution zip - yeah that did not make sense.
Bringing back just a zip with the docs sounds ok to me.

[2017-04-19 14:43] rkuhn commented on #22325
Do I understand correctly that both kinds (mutable and immutable) then always need to return the next behavior? That would leave most flexibility, I agree. Okay, then, but we should document that MutableBehavior normally returns `this` and not `Actor.same()`, to make semantics perfectly clear.

[2017-04-19 14:44] patriknw commented on #22325
yes, both return next behavior and can therefore be mixed as needed.

Returning `this` for the mutable is an excellent convention.

[2017-04-19 14:58] patriknw commented on #22325
Eclipse Scala IDE shows warning:
[code]

but that can be turned off: "Unchecked generic type operation".

[2017-04-19 15:02] rkuhn commented on #22325
Ouch, yes, JDT sometimes is that kind of stupid—does javac also show this warning?

[2017-04-19 15:04] patriknw commented on #22325
nothing shown when compiling with sbt, I think this is Eclipse trying to be helpful

[2017-04-19 15:53] johanandren commented on #22748
The work I did is available in this branch: https://github.com/johanandren/akka/tree/play-around-with-typed-pre-2.5-rc1

Was pre team typed API discussions, but maybe parts of it can be salvaged. I think the current style of Java builders should be continued on, to make it familiar and nice for the Java devs who already used the old actor APIs.

[2017-04-19 16:39] johanandren commented on #22749
My vote: Scala with Java tests to verify that there are no problems accessing any part of the API.

[2017-04-19 17:05] #22733 closed

[2017-04-19 17:11] #22723 closed

[2017-04-19 18:18] patriknw opened #22753 "move typed Inbox to testkit"
When reading its Scaladoc it seems like it is a test utility.

[2017-04-19 19:50] johanandren commented on #22635
Fixed by #22704

[2017-04-19 19:50] #22635 closed

[2017-04-20 12:58] jrudolph opened #22758 "Research how to better test scheduled events in akka-testkit"
This project provides a `MockScheduler` that can be used in tests to make time pass explicitly:

https://github.com/miguno/akka-mock-scheduler

We could use the project as inspiration or we could ask the author to contribute it to the testkit.

[2017-04-21 04:21] jroper opened #22759 "Akka cluster sharding should not create durable data files if not needed"
Since upgrading to Akka 2.5.0, every time I run tests, I get a whole bunch of `ddata-*` directories in the working directory (the root folder of my project).  This is in spite of the fact that I don't have remember entities turned on - the documentation I think is a bit misleading here, when I read:

I assumed that that means if you don't have remembering entities turned on, that nothing would be

[2017-04-21 05:59] evere10 opened #22761 "FutureTimeoutSupport.afterCompletionStage() docs should say it returns CompletionStage"
Now it says:

[2017-04-21 06:26] patriknw commented on #16742
Something to consider is that timer messages should typically not be part of the ordinary public message protocol and therefore those should perhaps be signals.

[2017-04-21 06:56] #22687 closed

[2017-04-21 07:14] patriknw opened #22763 "failed: TypedSpecSpec not terminating"
The test is not failing, but it looks like something is wrong in the shutdown.

[code]

and also
[code]

[2017-04-21 07:23] patriknw opened #22764 "testkit for asynchronous testing"
EffectfulActorContext / StubbedActorContext is great for unit testing of behaviors, but for more real integration style testing, e.g. real interactions between actors (e.g. children) we should provide something similar to the classic actor testkit.

[2017-04-21 07:40] rkuhn commented on #16742
Timers are part of the business logic of the actor, they have meaning in the domain. For that reason I think modeling them as messages that are sent after a delay is both fitting and a very flexible approach. Deferring a message is an operation that is needed anyway, and it happens to solve the timer use-case as well, so I’m against creating two features where one would suffice.

[2017-04-21 07:48] patriknw commented on #16742
We know what pain [scheduling of periodic messages](http://doc.akka.io/docs/akka/2.5/scala/howto.html#scheduling-periodic-messages) can be in classic actors and we know how to do it better with things similar to FSM and TimerGraphStage timers.

My main reason for suggesting signals was my work on the backoff restarter: https://github.com/akka/akka/pull/22765/files#diff-316585e7880ab75553d0b7f0548f

[2017-04-21 09:25] #22533 closed

[2017-04-21 10:20] ktoso commented on #22736
This causes some collateral renames, but the change will be good I think.

[2017-04-21 12:11] #22666 closed

[2017-04-21 12:21] sergtezt opened #22768 "Persistent Actor locked in 'Persisting Events' state due to thread contention in Eventsourced.scala"
After processing a few hundred messages under light load Persistent Actor gets stuck in 'Persisting events' state forever.

When digged down into this issue it appears that Eventsourced actor's state (journal Batch, event Batch and pendingStashingPersistInvocations) change is attempted on different threads simultaneously leading to corrupted state and actor instance lock.

We've instrumented probl

[2017-04-21 13:03] patriknw commented on #19483
This was never included in 2.5.0, it will be in 2.5.1.
It's also in 2.4.x.

[2017-04-21 13:19] raboof commented on #22768
Interesting, thanks for tracking this down further! Are you sure you're only calling `persist` during actor message processing? Is it possible to share your actor code?

[2017-04-21 13:28] patriknw commented on #22768
I agree with @raboof, smells like you are calling `persist` from a `Future` or similar

[2017-04-21 13:50] #22761 closed

[2017-04-21 14:00] #22503 closed

[2017-04-21 15:14] patriknw opened #22771 "Document ORMultiMap.emptyWithValueDeltas"
@gosubpl before we forget. Please describe what it does and the tradeoffs.

At the same time, could you update the rst documentation with a sentence for each type if it supports deltas. Something like https://github.com/akka/akka/commit/3e7ffd6b960ed6be7d1e2cc6fba82588ef77de28#diff-80fc82aa9c9e88753302d17fa883fabeR328

[2017-04-22 20:32] gosubpl commented on #22737
Exact reason for the test failing is rather something like if you add the following starting line 241
[code]
The 'first read in does return...' above is not exactly true, as the consistency level is local, but the delay in read on any of the replicas apart from `first` resulting in seeing the update done on `first` is possible. This is fixed by the commit above.

[2017-04-22 20:35] gosubpl commented on #22771
Absolutely. On it :)

[2017-04-24 07:24] patriknw opened #22774 "UnsupportedTemporalTypeException: Unsupported field: MonthOfYear"
https://github.com/akka/akka/pull/22716 broke something in multi-jvm tests (that are not run by pr validation):

[code]

[2017-04-24 08:06] bantonsson opened #22775 "The release-2.4 branch doesn't compile and akka-release-2.4 CI is failing since Apr 19"
[code]

[2017-04-24 08:12] patriknw commented on #22775
ah, we updated Aeron, but the the backport must be wrong. I'll fix

[2017-04-24 08:21] ktoso opened #22776 "Typed: Behavior that waits for children to stop and then does cleanup"
As explained in comments:

[code]

[2017-04-24 09:26] guidomedina commented on #22774
The only way a test could break this could be because the `long` value in millis passed by some test was wrong, maybe you should had looked at how such `long` is obtained/generated.

[2017-04-24 09:30] guidomedina commented on #22774
Nvm, I see what you did there.

[2017-04-24 09:36] guidomedina commented on #22774
@ktoso @patriknw
As for porting back, I think one of the places I refactored could had fixed a concurrency issue where `SimpleDateFormat` was not synchronized in `AeronErrorLog`, which might be hard to produce unless such formatter would never be used concurrently.

[2017-04-24 09:40] patriknw commented on #22774
that part of AeronErrorLog is not used concurrently

[2017-04-24 09:42] #22774 closed

[2017-04-24 09:43] #22775 closed

[2017-04-24 09:43] guidomedina commented on #22774
So, what was the issue at the end? the time zone needed to be the default instead of UTC?

[2017-04-24 09:49] raboof commented on #16703
Was this fixed by https://github.com/akka/akka-samples/commit/7f09ebbe45d676d48e7895005c226ffdf3614852 ?

[2017-04-24 10:45] patriknw commented on #22759
Thanks for reporting, @jroper. It was an oversight. It should not create those directories/files if remember entities are not used. I have fixed that now.

Default values can always be discussed and there will never be something that fits everyone all the time (e.g. first time user experience vs. production). Leaving that as is.

[2017-04-24 11:33] ktoso commented on #20400
This seems to not have happened since January, closing?

[2017-04-24 12:46] raboof commented on #15823
I noticed "forward incoming data as Received messages instantly as long as more data is available" will succeed setting `akka.io.tcp.direct-buffer-size` to anything less than `128 KiB`.

If we're confident this is not a problem with the production code but simply the test making assumptions about the OS we might want to just update that setting - that's hard for me to say, though.

[2017-04-24 13:00] raboof commented on #19611
I can reproduce this on Win8.1, yielding some additional information:
[code]

And:

[code]

[2017-04-24 14:26] 2m commented on #16703
It is still the same. Just moved to another repo. I'll create an issue there (#16)

[2017-04-24 14:26] #16703 closed

[2017-04-24 15:59] ennru opened #22782 "FileIO.toPath/toFile does not truncate existing files"
The file my stream created started to look rather funny so I had to dig a bit.

The API docs for FileIO.toFile state it "Overwrites existing files by default.", but that becomes a bit to literally with the default options.
(see http://doc.akka.io/api/akka/2.5/akka/stream/scaladsl/FileIO$.html )

  def toPath(f: Path, options: Set[StandardOpenOption] = Set(WRITE, CREATE))

For an existing file with

[2017-04-24 16:26] #22737 closed

[2017-04-24 19:13] #22638 closed

[2017-04-25 06:00] patriknw commented on #22691
so what was the conclusion? the documentation should be updated to match current implementation (and perhaps add a comment that a recover stage can be used in front)? can you PR that, @hseeberger?

[2017-04-25 06:01] patriknw commented on #22720
but we can change it to `java.io.NotSerializableException` to be consistent with other implementations.
Could you create a PR for that @naferx ?

[2017-04-25 06:05] patriknw commented on #22714
I don't think we should add such things to `EffectfulActorContext`. It's intended for synchronous testing. For asynchronous, "real", testing we should have another testkit similar to the classic actor testkit, see https://github.com/akka/akka/issues/22764

[2017-04-25 06:09] #22451 closed

[2017-04-25 06:14] patriknw commented on #22609
so https://github.com/akka/akka/pull/21893 is not covering everything?

[2017-04-25 06:15] #22578 closed

[2017-04-25 06:54] ktoso commented on #22730
Isn't that just:

[code]

?

[2017-04-25 08:17] hseeberger commented on #22691
@patriknw yes i can ;-)

[2017-04-25 15:06] johanandren opened #22789 "Rewrite MaybeSource as a GraphStage"
The surprise when I noticed that it is a `SourceModule`: 7/10

[2017-04-25 16:13] raboof commented on #19611
For "when connection is aborted remotely": it seems the `java.nio.channels.Selector` for the reader (in `SelectionHandler`) isn't triggered on Windows when the writer is aborted, while it is on Linux. Some more digging needed.

[2017-04-25 16:59] haggy commented on #22629
Unfortunately I think I have to bail on this one. It would be very difficult to add logging at the level of the `LeastShardAllocationStrategy` since there is no logger available at that level already. I could try importing/using the inner Logging adapter (or whatever it's called) but I don't think it's worth the effort at this time because I enabled debug logging around this section of code and th

[2017-04-25 16:59] #22629 closed

[2017-04-25 17:32] naferx commented on #22720
Thanks for the previous info.

Absolutely !. In addition to that,  I'll adjust the following examples of serializers:
-  `SimplestPossiblePersonSerializer`
 - `AddedFieldsSerializerWithProtobuf`

[2017-04-25 18:17] haggy opened #22790 "[cluster-singleton] Akka 2.5 Cannot disable auto downing and on by default"
Apologies in advance if this has been mentioned elsewhere. I've looked on the mailing list and gitter.  I have a fairly sophisticated distributed service utilizing cluster sharding, persistence and a custom quorum-based downing provider (auto downing disabled). The issue is that I recently updated to akka 2.5 and now auto downing seems to not only be enabled but I cannot figure out how to disable

[2017-04-25 18:36] patriknw commented on #22790
It was cluster leaving because of coordinated shutdown, as expected. Explained in gitter https://gitter.im/akka/dev?at=58ff8183881b89e101850f15

[2017-04-25 18:36] #22790 closed

[2017-04-25 18:36] haggy commented on #22790
This is due to the new Coordinated Shutdown functionality in akka 2.5. For more information see:
http://doc.akka.io/docs/akka/2.5/project/migration-guide-2.4.x-2.5.x.html#Cluster

[2017-04-25 18:50] patriknw commented on #22720
thanks

[2017-04-25 18:51] patriknw commented on #22629
ok

[2017-04-25 19:29] #22680 closed

[2017-04-25 21:04] greenrd opened #22791 "Contradictory documentation on backpressure for throttle methods"
[The Scaladoc for the throttle methods](https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala#L1598) says `'''Backpressures when''' downstream backpressures` but the Quick Start documentation says "when the incoming rate is higher than one per second the throttle combinator will assert back-pressure upstream." This is contradictory. (I think the latter

[2017-04-26 05:25] #18863 closed

[2017-04-26 07:04] raboof commented on #22791
I'd expect backpressure to be applied in either of those 2 situations - good observation, let's check and fix the docs!

[2017-04-26 07:11] patriknw commented on #22749
I take this one. Have some other refactoring ideas I want to try out at the same time. I probably have to wait for https://github.com/akka/akka/issues/22662

[2017-04-26 07:14] #22664 closed

[2017-04-26 07:16] patriknw opened #22792 "Deferred is too lazy"
Deferred is creating the underlying behavior on first message, which is probably an accidental change when PreStart was removed.

[2017-04-26 07:30] sergtezt commented on #22768
@raboof, @patriknw you are right - `Future` usage was the root cause. I apologize for bring that up

[2017-04-26 07:30] #22768 closed

[2017-04-26 07:47] patriknw commented on #22768
thanks for the update, np

[2017-04-26 07:55] raboof commented on #22768
Good to hear you managed to track it down! I wonder if there'd be a way to prevent such problems from going unnoticed...

[2017-04-26 08:33] patriknw commented on #22768
It's the same with all `ActorContext` methods in ordinary actors.
It would be possible to detect some of it by setting some thread local when receiving message and then check it on all access to ActorContext (and similar), but that has quite some overhead.

[2017-04-26 09:29] patriknw commented on #22792
I'll do this together with the Restarter, because I need to deal with exceptions from constructor.

[2017-04-26 09:52] patriknw commented on #22792
False alarm, Deferred itself is creating it immediately. The problem was in the Restarter.

[2017-04-26 09:52] #22792 closed

[2017-04-26 12:48] raboof commented on #18523
It looks like `Sig` is already gone, and the `ActorContext` has not been moved to `Signal` but is now passed separately.

I'd say this issue is outdated and can be closed, right?

[2017-04-26 13:26] hseeberger commented on #22691
@patriknw here you are: #22796

[2017-04-26 14:05] raboof commented on #22763
@patriknw I don't see the `Timedout` warnings.

The other stacktraces are 'expected': they're printed when the test `must report failures` indeed fails and reports its (expected) failure (https://github.com/akka/akka/blob/wip-akka-typed-dev/akka-typed-tests/src/test/scala/akka/typed/TypedSpec.scala#L105).

Should we try and use something else instead of `println` there and somehow suppress that ou

[2017-04-26 14:20] #22610 closed

[2017-04-26 14:26] raboof commented on #22748
Let's stick with the approach also found in `AbstractActor` for consistency in the main tree, but I agree the vavr stuff is cool - let's see if we can create a vavr sample for akka-typed as well later.

[2017-04-26 14:33] 2m commented on #22763
I also noticed these timeout warnings. I ran all tests with `akka-typed-tests/test` and then after all tests finish and after some time (a minute or two) these warnings where printed out. So something was not stopped after the tests ran.

[2017-04-26 14:35] raboof commented on #22763
Ah maybe I didn't wait long enough - let me check :)

[2017-04-26 18:36] nktpro commented on #22163
@RustedBones I ran into this exact issue, and I'm doing exactly what you did: actorRefs for both Source and Sink, via TCP outgoing connection flow. I found it out the hard way with the service blowing up due to thousands of open sockets, even after the streams already completed and the Sink actors emitting the Completed message.

I strongly agree this is a bug. We should not have to manually send

[2017-04-26 20:44] raboof commented on #22163
I think the thing here is that TCP allows connections to be 'half-open': when the one side (here the server) sends a FIN, it signals that it won't send any more data (here: the TCP GraphStage correctly completes the stream towards the Sink), but it's still legal to keep sending data in the other direction (here: to the server) - at least from the TCP perspective. Most sane protocols will of course

[2017-04-27 06:36] #19492 closed

[2017-04-27 09:35] #22736 closed

[2017-04-27 11:16] #22663 closed

[2017-04-27 11:20] patriknw commented on #22764
I have added a subset of scaladsl testkit in https://github.com/akka/akka/pull/22765 (40fa079071afb40371e5e73330954dec2e49d959). This ticket is now about completing the remaining parts of scaladsl and javadsl.

We should be selective when porting the classic testkit and leave out things that we don't think are useful (e.g. auto pilot, only probe style).

[2017-04-27 11:22] #18523 closed

[2017-04-27 12:53] ktoso opened #22803 "Explain (move) blocking on fork join pool better in new docs"
We have this page in akka http which is pretty good: http://doc.akka.io/docs/akka-http/current/scala/http/handling-blocking-operations-in-akka-http-routes.html we could make it less HTTP specific and show off in the new docs.

It would extend the "blocking needs careful management" things

Help welcome :)

[2017-04-27 13:00] jrudolph commented on #22803
That page is already a superb resource. Let's make sure it gets the place it deserves in the new documentation.

[2017-04-27 13:27] patriknw opened #22804 "rename createAdapter to spawnAdapter again"
I found a solution

[2017-04-27 14:07] ktoso opened #22805 "Provide style guide for Typed actors and apply it everywhere"
For example:
- Instead of `import Actor._` and then saying `def myActor: Behavior[A] = Immutable` we should prefer `def myActor: Behavior[A] = Actor.Immutable`
- do prefer `import Actor._` and `Same` instead `Actor.Same`
- do not use `Behavior.Same` in user-code, use the Actor contained DSL
- do use Behavior.Same and friends when building a custom specialised behavior (by extending it)

Add more l

[2017-04-27 14:11] johanandren commented on #22805
Not really style, but: I think factories should be lowercase and return `Behavior` rather than the behavior implementation type (where possible).

[2017-04-27 15:31] #22691 closed

[2017-04-28 08:03] gosubpl commented on #22789
Also: `SubscriberSource`, `PublisherSource` and `ActorPublisherSource`.
Can I try tackling all of them?

[2017-04-28 08:39] johanandren commented on #22789
I have rewritten maybe already, but waiting for another one to merge before I can PR that, I'm not sure about the other three

[2017-04-28 09:05] gosubpl commented on #22789
@johanandren You are too fast for the poor community contributors to keep up. Let me know, if you will _not_ be doing the other three :)

[2017-04-28 09:09] johanandren commented on #22789
I will not be doing the other three, and I am unsure it if it is a good idea to rewrite those, `ActorPublisherSource` is deprecated (since `ActorPublisher` is), `{Subscriber,Publisher}Source` sounds like they could belong as lower level modules.

[2017-04-28 09:10] gosubpl commented on #22789
ok, ack, thanks for clarifying.

[2017-04-28 09:15] ktoso opened #22808 "CoupledTerminationFlow should take Graph[Sink...] etc"
CoupledTerminationFlow takes the precise types Sink/Source,
which makes it not usable for SubSinkInlet.sink since that exposes as `def sink: Graph[SinkShape[T], NotUsed] = _sink`

The type should be:

[code]

I'm not sure we can just add the overload hm ...

[2017-04-28 10:02] #22782 closed

[2017-04-28 10:15] mckeeh3 opened #22811 "Scala in some Java documentation"
While reading the Java version of Remoting (codename Artery) I came across a few bits of SBT and Scala. Nothing major, the rest of the page seems to be all using Java examples.
http://doc.akka.io/docs/akka/2.5.0/java/remoting-artery.html#Acquiring_references_to_remote_actors

In the Preparing your ActorSystem for Remoting section, the dependency is not Maven but build.sbt.
http://doc.akka.io/docs/

[2017-04-28 10:44] johanandren commented on #18109
Not sure if some of this maybe was done in #22240

[2017-04-28 10:49] #22662 closed

[2017-04-28 11:16] MingJunDuan opened #22812 "There is no catalog number in Akka Java Document"
I downloaded **Akka Java Document** from "http://doc.akka.io/docs/akka/2.5/AkkaJava.pdf". I found there was no catalog number when reading it with Adobe PDF Reader. I not sure it was done on purpose or not. Hope to hear from you.

[2017-04-28 11:19] ktoso commented on #22812
Why do you need one in it?

--
Konrad Malawski

On April 28, 2017 at 20:16:24, Duan (notifications@github.com) wrote:

[2017-04-28 11:21] MingJunDuan commented on #22812
Just used to that way   :)

[2017-04-28 11:30] ktoso commented on #22812
What would it help with? It's not a published book so it can't have an ISBN
number if that's what you're asking for hm.

Propose we close the ticket?

--
Konrad Malawski

On April 28, 2017 at 20:21:20, Duan (notifications@github.com) wrote:

[2017-04-28 11:31] #22812 closed

[2017-04-28 11:38] hepin1989 commented on #22812
@ktoso He wants the name of sections or chapters  have the preceding number show up in the navigation bar.
eg
[code]

And then he could do a quick jump after a quick glance.

[2017-04-28 12:08] youk commented on #21001
Unfortunately, the documentation still does not address that SO question. OP explicitly mentioned he has no need to use Routing/Directives and doesn't want to. So the question remains: how to utilize `Unmarshaller.entityToString()` considering that it requires `ExecutionContext` and `Materializer`.

[2017-04-28 12:35] raboof commented on #22763
Can we close this or should we look into suppressing the logging?

[2017-04-28 12:37] raboof commented on #22748
First sketch in https://github.com/akka/akka/compare/wip-akka-typed-dev...akka-typed-javadsl-behaviour-build

[2017-04-28 13:07] #22711 closed

[2017-04-28 13:10] patriknw commented on #19855
The basic strategies `resume`, `restart` and `backoff` were developed in https://github.com/akka/akka/issues/21217
The scope of this ticket is more advanced strategies.

The backoff can probably also include more features, such as vacation message, buffering, and other things that might be implemented in the classic backoff supervisor. Help is welcome.

[2017-04-28 13:12] #22759 closed

[2017-04-28 13:41] #21217 closed

[2017-04-28 13:53] patriknw opened #22813 "move ConstantFun to akka-actor"
It's in akka-stream and we might need similar in akka-typed

[2017-04-28 13:59] ktoso commented on #21001
just provide an execution context `import system.dispatcher` and materializer - just create one.

Please don't revive threads in the wrong place, as was explained above this ticket is in the wrong repo. Feel free to open a ticket in the right place (explained above - in akka-http repo), and provide a PR if you want.

[2017-04-28 14:02] ktoso commented on #22812
Ah I see, I did not get what catalog numbers meant.
Not sure what we'll do with the pdf in the new docs, will keep it in mind - thanks

[2017-04-28 14:03] ktoso commented on #22813
Ah, good catch, yeah definitely useful for actor and other places.

[2017-04-28 14:10] #22652 closed

[2017-04-28 15:51] #22749 closed

[2017-04-28 19:00] RustedBones commented on #22163
@raboof so the `halfClose` parameter to the [Tcp.outgoingConnection](http://doc.akka.io/api/akka/2.5/akka/stream/javadsl/Tcp.html) only works on the client (local) bounds, not on the remote bounds. That can make sense, but it is not obvious.

When Tls is used on top of Tcp, the stream will close properly and the ports do not stay open: Tls does not support halfClose. I think that could be nice to

[2017-04-28 21:01] raboof commented on #22163
@RustedBones right, the `halfClose` parameter is 'the other way around', allowing the server to keep writing after our client has finished writing. The situation in the example above is that the server finished writing, but our clients' stream towards the server is still kept functional.

The underlying TCP system already has a `keepOpenOnPeerClosed` flag for connections, I think it might make sen

[2017-04-29 07:36] patriknw commented on #18109
This is done, afaik

[2017-04-29 07:36] #18109 closed

[2017-04-29 07:59] filosganga commented on #22730
@ktoso It is Source. I need a transformation stage, a `Flow[A, B, _]` that uses a resource. Unless I am missing something, I cannot use `Source.unfoldResource` for that.

[2017-04-29 14:00] patriknw commented on #22763
Leave it open until I have checked again, I think I saw something that was not looking good also in latest.

[2017-04-30 07:28] Hawstein opened #22815 "Refine Gossip convergence conditional statement"
Currently it is

[code]

IMO, the statement `!members.exists(m ⇒ Gossip.convergenceMemberStatus(m.status) && !(seenByNode(m.uniqueAddress) || exitingConfirmed(m.uniqueAddress)))` is not quite straightforward. Instead, I think the following expression is easier to understand:

[code]

Just personal opinion, WDYT @patriknw

[2017-04-30 09:20] victornoel opened #22816 "Clarify use of org.iq80.leveldb:leveldb dependency in akka-persistence documentation"
Hi,

I don't understand why `akka-persistence` depends on `org.iq80.leveldb:leveldb`:
 - as `leveldbjni` states in its [README](https://github.com/fusesource/leveldbjni#using-as-a-maven-dependency):

 - `akka-persistence` seems to use one class from `org.iq80.leveldb:leveldb` but it is from its tests, no the main code.

~~I would thus recommend (if I am not mistaken :):~~
 - ~~removing any mention

[2017-04-30 09:46] victornoel commented on #22816
Hm, I see there is two modes of operation, native and non-native. I understand better why there is this dependency then.

It should be better documented maybe? I thinnk `org.iq80.leveldb:leveldb` is not meant to be used in production...

Also version 0.9 of it is out :)

[2017-05-01 06:37] raboof commented on #13908
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9005/

[2017-05-01 06:52] Hawstein commented on #22813
Since `ConstantFun` is private to `akka`, it seems that it's safe to move it to `akka.util` which is a good place for ConstantFun.  If that is OK, i will create a PR for it.

[2017-05-01 06:57] ktoso commented on #22813
Yes that sounds good to me; no one other than Akka itself should have touched those functions so we can move it. `akka.util` sounds like a good place for it - please to keep it `InternalApi` though

[2017-05-01 06:58] ktoso commented on #22813
Oh wait, Patrik may have done this already - checking.

[2017-05-01 07:12] Hawstein commented on #22813
OK, thanks. Not in #22801 though.

[2017-05-01 07:15] ktoso commented on #22813
Right, it seems not done in any of the PRs I checked. Go ahead with the move then :)
Thanks!

[2017-05-01 08:05] Hawstein commented on #22813
Created PR for it and change some `un-exposed` variables to `private`.

Also include the `nullFun` which is used in #22801

[2017-05-01 13:31] raboof opened #22819 "Unification of function types"
We currently have similar types in `akka.japi.pf.FI`, `akka.japi.*` and `akka.japi.function.*`.

The latter is preferred nowadays, let's see what we can clean up / deprecate without breaking public API's.

[2017-05-01 13:38] ktoso commented on #22811
Thanks, we'll fix those (or someone from the community could pick it up)

[2017-05-02 05:07] #22446 closed

[2017-05-02 07:05] patriknw commented on #22230
@ktoso Shall we consider this done, or is it such a big problem with the old docs that we have to add some redirect javascript in them?

[2017-05-02 07:07] ktoso commented on #22230
I think it's worth doing the javascript - esp since we do in open source, and if we don't here then customers using commercial things actually get a worse experience.

Other option is to simply delete the old pages, people get to them via googling or our pages anyway so they'd find the right URLs.

[2017-05-02 07:27] patriknw commented on #22230
sounds good to delete them, let's rename the directories for now (in case I'm missing something)
I'll fix that.

[2017-05-02 07:29] patriknw commented on #22805
I have started on the rename to lower case, but didn't complete it yet.

[2017-05-02 08:12] jrudolph commented on #22325
This has been marked "Done" in the project but wasn't closed here. Can we close it here now?

[2017-05-02 08:12] jrudolph commented on #22751
This has been marked "Done" in the project but wasn't closed here. Can we close it here now?

[2017-05-02 08:26] patriknw commented on #22751
it's done, thx

[2017-05-02 08:26] #22751 closed

[2017-05-02 08:27] patriknw commented on #22230
I have renamed old akka-commercial-addons. Leaving rp docs as is, because that doesn't have a replacement

[2017-05-02 08:27] #22230 closed

[2017-05-02 08:29] patriknw commented on #22325
done

[2017-05-02 08:29] #22325 closed

[2017-05-02 08:35] ktoso commented on #22325
Should it be on milestone 2.5.1?

[2017-05-02 08:45] johanandren commented on #16743
I vote for deprecating `registerOnTermination`. No useful distinction between it and hooking onto `whenTerminated` (except for needing/being able to provide an execution context it will run on).

For things whose shutdown should delay the `ActorSystem` termination I think the new graceful shutdown makes more sense to hook into.

[2017-05-02 08:55] patriknw commented on #16743
sounds good

[2017-05-02 09:08] patriknw commented on #22325
no, nothing of the typed will be in the 2.5.1, so we will change from 2.5.x to the right milestone when we release it

[2017-05-02 09:09] johanandren commented on #22660
I also have my doubts on whether it should be a linked list, to make bincomp easier?

[2017-05-02 09:14] patriknw commented on #22660
Other modules (e.g. akka-cluster) should be able to define other settings, so it must be "open", but for some of the most common we must probably optimize it (e.g. by caching the access to dispatcher)

[2017-05-02 09:29] johanandren commented on #22660
Ok. I think we should hide the fact that is is a hierarchy/list as much as possible in the user APIs though, `Props()` or `Props.empty` over `EmptyProps` in user code/APIs for example.

[2017-05-02 09:58] patriknw commented on #22660
I agree, we don't want to do the same as with stream attributes

[2017-05-02 11:04] ktoso commented on #22230
Great thanks!

[2017-05-02 12:23] johanandren commented on #16743
After playing around with this for a bit I came to the following insight:

We do not need to deprecate it in untyped to not support it in typed. So I'll just close this ticket and watch some cat videos instead of deprecating anything.

[2017-05-02 12:23] #16743 closed

[2017-05-02 13:01] #22660 closed

[2017-05-02 13:03] johanandren commented on #16738
I think they are unavoidable, even if one less concept sounds tempting, so I'll start adding/porting untyped extensions.

[2017-05-02 13:14] patriknw commented on #16738
I agree, we could start with making them internal if we are uncertain

[2017-05-02 13:27] 2m commented on #20180
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/701/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly/4371/consoleFull

[2017-05-02 14:23] ivanopagano opened #22826 "The generated docs for scala akka-streams skips the "Design Principles Chapter""
The [Design Principles](http://doc.akka.io/docs/akka/2.5/general/stream/stream-design.html) chapter is general and shared between both api versions. Still, using the navigation links on the top right, only the java documentation is actually linked.

To access this Chapter you need to find it in the Scala Table of contents and even then, after reading it, you have to get back to the scala ToC if yo

[2017-05-02 14:42] raboof commented on #22826
I see what you mean: this page is under 'general', and even when you landed there from the scala docs, the next/previous navigation links at the top right point to the java version of the docs.

The bad news is I'm not sure I have a quick fix.

The good news is we're in the process of moving to a new docs system ('paradox') that should make the scala/java co-existence a lot nicer, see http://pi.bz

[2017-05-02 18:06] patriknw opened #22828 "Dispatchers.lookup"
@johanandren I think too much became internal, see `Dispatchers.lookup`. I suggest that we create some public factory methods for `DispatcherSelector`.

[2017-05-02 19:12] patriknw commented on #22763
It was nothing wrong, but the printTree is scary because that it is normally an indication of that ActorSystem couldn't be shutdown. Fixed in https://github.com/akka/akka/pull/22832

[2017-05-02 23:10] atemerev commented on #19950
Here are the missing parts:

1) Streams lifecycle. I have e.g. a several hundreds Websocket client streams from akka-http, and I need to monitor them and do something if any of them is disconnected. I can use recoverWith for that (I can make a never-ending source stream with that, auto-reconnecting on errors), or I can use (poorly documented) watchTermination, which allows me to run some code out-

[2017-05-02 23:49] atemerev commented on #21192
@drewhk Is "proper" supervision for akka-streams still in plans? Without it, it is really hard to write any dynamic restartable flows with it (like Websocket servers and clients)

[2017-05-03 01:51] ktoso commented on #21192
Firstly: I don't think that's entirely true. Existing supervision indeed only works when stages "support it". One has to notice that it's not as simple as it may seem from a high level perspective, since there's buffers involved between stages so what would "restart a section", or what _should_ it _really_ mean etc.

However, there's many ways to add restarting or other behaviours.

Including, but

[2017-05-03 12:06] ivanopagano commented on #22826
This is good news. Let's see what the new docs will bring about.

To be honest I liked the current docs visuals better  =D

[2017-05-03 12:13] raboof commented on #22826
There's a new style coming up actually ;)

[2017-05-03 14:00] #22763 closed

[2017-05-03 14:53] patriknw commented on #22750
I'm not sure if this is such a big problem

[2017-05-03 14:56] #19491 closed

[2017-05-03 16:10] dubeejw opened #22838 "Cannot use FiniteDuration with Parameter"
When trying to use a scala.concurrent.duration.FiniteDuration as a parameter value, I get the following error:

[code]

Example:
[code]

[2017-05-04 02:33] ktoso commented on #22838
What are you trying to achieve? (`parameter(time: 60 seconds)` is not valid scala syntax btw?)

[2017-05-04 02:34] ktoso commented on #22838
Also, Akka HTTP lives in github.com/akka/akka-http, please open the ticket over there.

[2017-05-04 02:34] #22838 closed

[2017-05-04 07:27] 2m commented on #20180
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4878/consoleFull

[2017-05-04 07:29] 2m opened #22839 "Failed: jdocs.stream.ActorSubscriberDocTest"
https://jenkins.akka.io:8498/job/akka-nightly/4379/consoleFull

Full GC messed up the test timings. Fix with increasing the timeout.

<details>
<pre>
[DEBUG] [05/04/2017 02:49:36.082] [pool-7-thread-23] [EventStream(akka://ActorSubscriberDocTest)] logger log1-TestEventListener started
[DEBUG] [05/04/2017 02:49:36.082] [pool-7-thread-23] [EventStream(akka://ActorSubscriberDocTest)] Default Loggers

[2017-05-04 08:50] patriknw opened #22840 "always signal PostStop"
I noticed that PostStop is not signaled when voluntarily stopping the behavior. It seems to be a conscious decision, and I can understand that one reason is that you might not expect anything more after stopping. However, it's different from what we have in streams and untyped, where you know that postStop is always the last thing and the place to put cleanup. Wonder if this difference would be to

[2017-05-04 09:02] ktoso commented on #22840
I'm much in favour of PostStop always firing, since it's great to have "one spot" to have cleanup things. It's very useful and also consistent with the rest of Akka, including Streams and untyped.

[2017-05-04 10:26] patriknw opened #22841 "cleanup canonical"
There are quite a few `canonical` methods spread out in various places. See if those can be refactored, including `undefer`, to make things more DRY.

[2017-05-04 10:57] #22804 closed

[2017-05-04 11:14] patriknw commented on #22819
I don't think we can remove any of those any time soon, but great to add those notes

[2017-05-04 11:14] #22819 closed

[2017-05-04 11:40] #16742 closed

[2017-05-04 13:03] zaharidichev commented on #22811
@ktoso Can I take that one ?

[2017-05-04 13:38] patriknw commented on #22840
One note from [discussion](https://gitter.im/akka/dev?at=590b21388e4b63533d2f8a68) is that if we do this change it would be useful to pass in next behavior to `Actor.stopped(postStopBehavior)`, so that the `PostStop` can be handled by another behavior if needed.

[2017-05-04 13:53] raboof opened #22842 "Remove internal actorFor"
And simplify the DeathWatch implementation, removing custom logic to deal with these actors.

[2017-05-04 14:21] patriknw commented on #22842
the only thing we should watch out for (pun intended) is that the uid is used everywhere (or that it's not a problem that it's not used)

[2017-05-04 17:07] #22748 closed

[2017-05-04 21:21] arpanchaudhury opened #22845 "Shouldn't Delay stage be dynamic and function of the element itself?"
While using the delay stage I found a use-case where delay for each element passing throw should be dynamic and a function of the element itself, i.e. ***ƒ(element).***

I have created a pull request modifying Delay class and adding a test case for the same.

Though it is not clear to me whether I should modify existing ***scaladsl*** and ***javadsl*** or add an independent stages like `delayDynam

[2017-05-04 21:26] arpanchaudhury commented on #22845
duplicate of #22846

[2017-05-05 06:04] patriknw opened #22847 "Java API for typed ActorSystem.create"
because it's a trait the static forwarders are missing when compiled with Scala 2.11

[2017-05-05 06:47] patriknw opened #22849 "performance improvements for typed javadsl message matchers"
The behavior and receive builders can be optimized, for example:
* use array in built behavior
* match on exact message class would be efficient with HashMap lookup instead of traversals (might only be able to use this when there are only exact message class matchers, but that should be a very common case)
* but note that if only a few matchers then array traversal can be better than HashMap looku

[2017-05-05 06:47] zaharidichev opened #22850 "Documentation build guidelines are missing required tex packages"
[Docs guidelines](http://doc.akka.io/docs/akka/current/dev/documentation.html) are specifying a list of tex packages that need to be installed. However there are two more that are required. Therefore docs need to be updated. The missing ones from the list are:

    sudo tlmgr install fncychap
    sudo tlmgr install tabulary

[2017-05-05 06:49] patriknw commented on #22750
I suggest that we close this until we think it's actually disturbing enough or we have a good alternative name (I'm not sure I like `UnitedActorContext`, but thanks for the suggestion)

[2017-05-05 06:49] #22750 closed

[2017-05-05 06:53] patriknw commented on #22840
I'll give this a try

[2017-05-05 07:29] #18778 closed

[2017-05-05 07:50] #22127 closed

[2017-05-05 08:07] #22847 closed

[2017-05-05 09:57] johanandren commented on #22845
#22846 is the pull request, this is the ticket to track it (so reopening)

[2017-05-05 10:54] daniel-shuy opened #22853 "Typed: Terminate child actors"
In Akka Typed 2.5.1:

Does `ActorContext.stop` still work for terminating child actors in Akka Typed? Or do I have to create a new message for the child actors to change their `Behavior` to `Stopped`?

[2017-05-05 10:54] johanandren commented on #22850
We are replacing sphinx as tool for building docs soon anyways, so no need to spend time on updating the old instructions.

[2017-05-05 11:22] #16738 closed

[2017-05-05 12:44] #22828 closed

[2017-05-05 12:44] #22753 closed

[2017-05-05 12:46] #22840 closed

[2017-05-05 14:55] johanandren commented on #22816
I thought this was pretty clear (but maybe it can be improved):

http://doc.akka.io/docs/akka/2.5.1/scala/persistence.html#Shared_LevelDB_journal

[2017-05-05 15:01] victornoel commented on #22816
@johanandren my issue is not about shared LevelDB but about non-native LevelDB implementation.

In other words:
 - if someone uses native leveldb, only leveldbjni is needed
 - if someone uses non-native leveldb, only org.iq80.leveldb:leveldb is needed

But never both, so I was thinking about documenting that fact :)

[2017-05-05 15:01] johanandren commented on #22853
Hi @daniel-shuy please use the gitter channel or the mailing list (linked from the readme: https://github.com/akka/akka#community) for questions and leave the issue system for bugs and feature improvements, thanks!

[2017-05-05 15:01] #22853 closed

[2017-05-05 15:02] johanandren commented on #22816
Ah, good point, you up for doing a PR adding that?

[2017-05-05 15:17] victornoel commented on #22816
I will try to do it, ok :)

[2017-05-05 15:19] johanandren opened #22859 "Provide a patience conf for typed tests"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9090/ failed because of the default timeout which is too short, we should provide a default PatienceConf for `.futureValue` in some base type for the tests like we do for untyped.

[2017-05-06 00:12] daniel-shuy commented on #22853
I did ask on Gitter before opening this issue (2 questions in fact), but got no reply

[2017-05-07 13:51] johanandren commented on #22853
There is a milestone of the latest work we have been doing on typed that was released friday, if you are meaning to test typed to report back, try that milestone, `2.5.99-TYPED-M1`, not 2.5.1.

[2017-05-07 13:55] johanandren commented on #22845
Hey @arpanchaudhury, while waiting for review, could you please describe the use case. For me it is not obvious when this would be useful because of the buffer, it means that with elements `n`, `n'` and `n''`, element `n''` will actually be delayed `f(n) + f(n') + f(n'')` (given that there is no back pressure from downstream)?

[2017-05-07 14:16] ktoso commented on #22853
To follow up to what Johan just said, here's additional reading materials:
- http://blog.akka.io/typed/2017/05/05/typed-intro
- http://blog.akka.io/typed/2017/05/06/typed-coexistence

[2017-05-07 15:30] arpanchaudhury opened #22865 "Can merging of multiple sources be prioritized?"
Hi,

I am creating this issue to discuss further about **PR-22864**. The idea behind `MergePrioritize` is similar to `MergePreferred` stage. MergePreferred combines several streams, taking elements as they arrive from input streams and picking from preferred when several have elements ready. But there is a risk that the elements in auxiliary streams are never picked up if preferred stream continua

[2017-05-07 16:05] arpanchaudhury commented on #22845
Hi @johanandren.
Consider a stream of time-ordered elements where each element has an unique timestamp associated to it. The timestamp signifies its creation time and we are sending these elements to a message broker deployed on another data center. The only restriction is that the elements should arrive to the receiving data center when databases in both the data-centers are synced on or after th

[2017-05-07 16:35] richard-imaoka commented on #22803
I am going to pick this up if no one else started working on it.

Does the below "**new docs**" mean

the paradox version of the akka (not akka-http) doc?

[2017-05-08 00:03] ktoso commented on #22803
Hm, not sure if this is the best timing to port it over - let's wait until we ship the new docs?

Yes, there will be a paradox akka docs page to replace the current one, along with a new theme etc - very soon.

[2017-05-08 00:10] ktoso opened #22866 "Consider non-native code durable store (e.g. for distributed data)"
This issue https://github.com/lmdbjava/lmdbjava/issues/33 pops up once in a while, and is related to old glibc being available on the system. It may stop people from using distributed data with durable mode if their deployment envs are in conflict with our version of lmdb.

If we have ideas what store we could use (default or alternative) that does not have native code dependencies it could be som

[2017-05-08 05:29] johanandren commented on #22865
With 3 inputs, and elements on 1 and 2 but not three, would that then lead to using the relative priorities of just 1 and 2?

[2017-05-08 05:40] arpanchaudhury commented on #22865
Yes it will. For example if we have priorities in ratio 5 :: 3 :: 1 and Source 1 doesn't have elements ready then it will consume from Source 2 and 3 in 3 :: 1 ratio. I have a test case covering the same scenario.

[2017-05-08 05:42] johanandren commented on #22845
Not convinced this is general enough to be in streams core, I think the use case sounds rather narrow. WDYT @patriknw @ktoso

[2017-05-08 08:15] lukas-phaf opened #22868 "Sharding entities not restarting after full cluster restart in Distributed Data mode"
I am using Cluster Sharding with rememberEntities in Akka 2.5.1. For this test I am using a cluster of one node. If I use distributed data mode (`akka.cluster.sharding.state-store-mode = ddata`), the running entities are not recovered when I crash and then restart the node. So:

1. I start the single node cluster.
2. I start a couple of entities.
3. I kill the node.
4. I restart the node.
5. The e

[2017-05-08 08:18] johanandren commented on #22839
Whoa, 4 seconds of gc!?

[2017-05-08 08:19] daniel-shuy commented on #22853
@johanandren ok, I'll test with that instead, thanks.

@ktoso Thanks for the links.

[2017-05-08 08:24] johanandren commented on #22839
I wonder if we should lower the metadata space size to make GC pauses more often -> shorter? Currently we have it set to `-XX:MetaspaceSize=512M`

[2017-05-08 09:11] johanandren commented on #22868
Remember entities require the shard state to be there to work, so if you use ddata and cycle your cluster the behavior you describe is expected.

[2017-05-08 09:19] lukas-phaf commented on #22868
But is it desired? As it is not consistent with this part of the documentation:
"The functionality when using the two modes is the same. If your sharded entities are not using Akka Persistence themselves it is more convenient to use the Distributed Data mode, since then you don't have to setup and operate a separate data store (e.g. Cassandra) for persistence. Aside from that, there are no major r

[2017-05-08 09:23] johanandren commented on #22868
If you are not keeping the cluster sharding state there is no possible way to figure out where to run shards, and therefore impossible to start the entities that was running inside a shard. You can run the ddata mode with durable store, that will store the state locally on the nodes, that could work in a non-virtualised environment, if you have immutable machines/replace them ddata is not an optio

[2017-05-08 09:45] lukas-phaf commented on #22868
Thanks for explanations.

So for a non-virtualised cluster, I can make it work by adding "${typeName}CoordinatorState" to `akka.cluster.sharding.distributed-data.durable.keys` (where typename is the name I am using for the shard)?

The point I was trying to make is that the documentation implies that Distributed Data mode and Persistence mode can be used interchangeable, but Persistence mode store

[2017-05-08 09:55] #13908 closed

[2017-05-08 10:38] patriknw commented on #22868
@johanandren You are describing how it works in Akka 2.4 but in 2.5 the remember entities are stored with durable ddata so they should be started on cluster restart. No configuration should be needed to enable that.

@lukas-phaf One thing to note is that the lmdb directory is by default derived from the hostname:port so when you restart you have to use the same port, or change that directory setti

[2017-05-08 11:33] #22859 closed

[2017-05-08 12:10] lukas-phaf commented on #22868
@patriknw I am using the same hostname:port after a restart, so the correct lmdb data is used. This is also shown that, by after a cluster restart, all entities in a shard are restarted if I send a single entity in that shard a message.

I also tried forcing that the coordinator state is persisted by using:
[code]
That indeed makes all the entities restart after a cluster restart (although some de

[2017-05-08 13:01] patriknw commented on #22868
ah, I see. That is a bug then. The set of shards are not durable. Thanks for reporting.

[2017-05-08 14:38] 2m commented on #22420
Merged to akka-stream-contrib.

[2017-05-08 14:38] #22420 closed

[2017-05-08 14:59] 2m commented on #22808
Started to look into this one, and an overload is not enough. We need a separate method to fix the types.

What is more, I noticed that `CoupledTerminationFlow.fromSinkAndSource` lacks its `...Mat` variant which `Flow.fromSinkAndSource` has. What is even more, `CoupledTerminationFlow.fromSinkAndSource` does `Keep.both` and conversely `Flow.fromSinkAndSource` does `Keep.none`.

Therefore I propose

[2017-05-08 16:57] patriknw commented on #22839
We have struggled with that many times and never found a way around just increasing the meta space. We don't want full gc, and smaller meta space will trigger more full gc, if I recall my previous attempt correctly.

[2017-05-08 17:01] drexin opened #22870 "Duplicate entities in cluster sharding with remember entities off"
After upgrading our app to Akka 2.5.1 we have seen duplicate entities in cluster sharding. I don't know if it's related to https://github.com/akka/akka/issues/22289, since we don't have remember entities enabled. Unfortunately I couldn't find anything suspicious in the logs, but I will try to reproduce the error and see if I can find any useful information.

[2017-05-08 17:11] patriknw commented on #22870
Thanks for reporting. Logs or reproducer would be great. If you are not using remember entities then the other issue should not cause trouble.

[2017-05-08 17:15] jamesmulcahy commented on #22870
For context, we upgraded from 2.4.18 to 2.5.1, and things seemed fine at 2.4.18 (and various versions before that).

[2017-05-08 19:00] patriknw commented on #22870
It's a big change. ddata mode is default in 2.5, but it should of course not be duplicates. I assume that this didn't happen furing a rolling upgrade from 2.4.18 to 2.5.1.

[2017-05-08 19:04] drexin commented on #22870
@patriknw I was able to find some useful information in the logs. The actual events started earlier than I first thought and the logs had already rolled.

#### Host 2 (original running entity)

[code]

#### Host 3 (failed over to first)

[code]

#### Host4 (failed over to second)

[code]

[2017-05-09 00:36] richard-imaoka commented on #22726
Sorry that was my oversight. I simplified the example in #22419, but I did not update the text.

Let me fix that.

[2017-05-09 04:57] #22726 closed

[2017-05-09 04:58] ktoso commented on #22726
Typo fixed by @richard-imaoka , thanks

[2017-05-09 06:01] ktoso commented on #22850
As Johan said, we're replacing the docs infra - closing this ticket.

[2017-05-09 06:01] #22850 closed

[2017-05-09 06:02] ktoso commented on #22850
(exactly this or next week btw)

[2017-05-09 06:21] johanandren commented on #22839
Did some profiling yesterday, just to check there was no leaking we had started with recently but couldn't see anything obvious. Still don't quite get how it can be 4 seconds of gc. Maybe it is because we are reaching the upper limit on metaspace and g1gc really spent some time trying to free more of it?

Not sure I  think it feels right to increase the timeout more than 3 seconds in a single case

[2017-05-09 07:03] patriknw opened #22874 "Add examples to Sink.actorRefWithAck and Source.queue docs"
Clarify how Sink.actorRefWithAck and Source.queue are supposed to be used by adding example code.
http://doc.akka.io/docs/akka/2.5/scala/stream/stream-integrations.html#Integrating_with_Actors

[2017-05-09 07:03] patriknw commented on #22874
cc @lutzh

[2017-05-09 08:22] patriknw commented on #22870
@drexin Was this during a rolling upgrade from 2.4.18 to 2.5.1? Did you have a mix of nodes with those two versions in the same Cluster?

I suspect that you had that because in the log there is a mention of `akka.cluster.MetricsGossipEnvelope`, which was removed in 2.5 (deprecated in 2.4, replaced by `akka.cluster.metrics.MetricsGossipEnvelope` in module `akka-cluster-metrics`).

Note this section

[2017-05-09 08:30] 2m commented on #22839
Yup. After seeing your comment regarding metaspace usage after GC I think increasing metaspace (given there is no obvious leak) instead of increasing the timeouts is a better option.

[2017-05-09 08:45] patriknw commented on #22808
Ok, looks like mostly a naming issue. We need to invent a new name.
`coupledFrom` doesn't read to good, I associate it with "decoupled from".

`coupledSinkAndSource` ?

Shall we still let it be in the separate `CoupledTerminationFlow` to not bloat the Flow API too?

[2017-05-09 08:59] 2m commented on #22808
It is quite similar to `Flow.fromSinkAndSource` therefore it is not really adding a new concept to `Flow` factory, just a variant of an already existing one. What about `Flow.fromSinkAndSourceCoupled`?

[2017-05-09 09:10] patriknw commented on #22808
I'm just thinking that the original author (I don't know who it is) must have put some thought into placing it where it is. How often is it used?

I like `fromSinkAndSourceCoupled`.

[2017-05-09 09:22] 2m commented on #22808
Actually it looks that it is used quite rarely. I was able to find that too specific type signature (the issue that this ticket is for) prevented it from being used in akka-http. Also there is https://github.com/akka/akka-http/issues/860 which is about documenting on how to use coupled sink and source to handle websocket flow. This would put coupled sink and source in quite a bit of user code.

[2017-05-09 10:16] patriknw commented on #22808
Ok, let's move it to flow

[2017-05-09 12:40] #21840 closed

[2017-05-09 13:20] domdorn opened #22878 "IO DNS: Reverse lookups of IPs"
Hi,

I'm in need of doing reverse lookups of IPs, e.g.
  `IO(Dns).tell(Dns.Resolve("66.249.80.30"), inbox.getRef())`
or at least
  `IO(Dns).tell(Dns.Resolve("30.80.249.66.in-addr.arpa"), inbox.getRef())`

a DNS server will respond with a PTR record for these cases.

I created a patch for https://github.com/ilya-epifanov/akka-dns but I'm not sure on how to progress, as it looks like reverse lookups

[2017-05-09 13:24] mnordie commented on #13874
Hello.
What is the status of this issue? It is still marked as open, is anyone actively working on it?
I'm working on a project that use Akka that now requires all connections to be mutually authenticated with hostname validation.
Thanks

[2017-05-09 13:52] jrudolph commented on #13874
From the points above 1) was implemented but there's no hostname validation so far.

One reason, hostname validation is not implemented is that we don't have enough information about the particular certification management setups people might want to use.

@mnordie can you explain how your setup would look like? Do you have a PKI with a custom CA and distribute different certificates for every nod

[2017-05-09 14:08] johanandren commented on #22878
We do not have any current plans of doing anything around the DNS support from the Akka team. I agree it has a few shortcomings but I'm not quite sure we'd like to extends the scope of it to a more general purpose DNS client compared to the current one which is more targeted at providing simple-no-toggles-resolution.

[2017-05-09 14:16] sivakumar2205 opened #22879 "Incorrect Github doc link for AkkaJava"
Akka Java documentation V2.5.1 pdf has incorrect Github link for Akka Java docs at page no 7 section 2.1. Link to pdf http://doc.akka.io/docs/akka/2.5.1/AkkaJava.pdf

[2017-05-09 14:34] mnordie commented on #13874
Yes, private PKI with our own CA.
I guess the main threat is internal fraud. You shouldn't be able to copy a keystore from one node and start an illicit instance on another node.
The main driver for this is policy where all communication should comply with a given security checklist.
I'm evaluating the cost of implementing this in our Akka components.

[2017-05-09 14:50] jrudolph commented on #13874
But how would other nodes connect to that illicit node? There are two possibilities:
 * either DNS is compromised as well and the illicit node can be found under the old name (in which case host name verification won't help at all)
 * or the illicit node is the active part in the remote connection

If the illicit node is the active part in the remoting connection, TLS host name verification doesn'

[2017-05-09 15:00] jrudolph commented on #13874
Disregarding IP spoofing or DNS spoofing, maybe it could suffice to check that the host name that the remote node announces at least resolves to the sender IP address. That would still allow to run an illicit node on the same IP address under another port.

[2017-05-09 15:08] #21213 closed

[2017-05-09 16:05] jrduncans opened #22880 "mapAsync can both failStage and completeStage with a race condition for which will complete the stage"
`mapAsync` stage completion doesn't check if a failure (with `Supervision.stoppingDecider`) has occurred, so it can both attempt to `failStage()` and `completeStage`. As far as I can tell there is then a race condition for completing the stream as success or failure, as demonstrated in this program:

[code]

Running this I get: `Successes: 90; Failures: 10`

[2017-05-09 16:10] jrduncans commented on #22880
The above pattern of `Source.fromIterator(...).mapAsync(parallelism)(...).runWith(Sink.seq)` is a common replacement for `Future.sequence(list.map(someFutureOp))` to provide bounded parallelism, but given this issue, it doesn't provide the same guarantees in the face of failed futures.

[2017-05-09 16:33] drexin commented on #22870
@patriknw Yes, it probably was mid-roll. We've been using `akka.cluster.sharding.state-store-mode = ddata` for a long time already, so that's not the issue. We didn't change the `enable-additional-serialization-bindings` setting, so that's likely to cause issues. Thanks for the help! I will do some more testing and report back here.

[2017-05-09 18:48] arpanchaudhury commented on #22845
Any thoughts on this @ktoso @patriknw?  Thanks.

[2017-05-09 20:00] iffyio opened #22883 "Typos in CONTRIBUTING.md and scala/java docs for testing"
* Item 9 in the "General workflow" section of the contributing guide, "slip though" should be "slip through" while "more lose" should be "more loose"

* In the "Asynchronous Integration Testing with TestKit" section of the testing docs, "ranging for" should be "ranging from"

[2017-05-09 20:26] iffyio commented on #22883
I have signed the CLA

[2017-05-10 04:01] ktoso commented on #22808
That'd be me :-) I think there was some push back on "putting stuff on flow" back then, so I put it separately.

It is *very* useful when people do anything with the "from sink and source" style in akka http - most notably the websocket apis. So definitely good to make it more visible to people by putting it on flow (they're confused why thigns dont terminate if it's not a coupled one in WS).

[2017-05-10 04:01] steinybot opened #22887 "AbstractFSM onTransition gets stuck in infinite loop"
Hi,

I'm using Akka 2.5.1 for Scala 2.12 but from from Java 8.

My colleague came across some odd behaviour when trying to register a handler for the transition of a FSM actor. It seems that passing a method reference causes it to get stuck in an infinite loop.

I couldn't quite figure out what exactly was going on. The best I could come up with so far is:

1. Call `akka.actor.AbstractFSM#onTransi

[2017-05-10 04:47] ktoso commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly/4391/testReport/junit/akka.remote.transport/SystemMessageDeliveryNoPassiveRetryGate/Remoting_passive_connections_off_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/

[code]

[2017-05-10 04:51] ktoso commented on #21992
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4895/testReport/junit/akka.remote.artery/FlightRecorderSpec/Flight_Recorder_must_properly_store_events_from_multiple_threads/

[code]

[2017-05-10 04:52] ktoso opened #22888 "FAILED: jdocs.future.FutureDocTest thenApplyAsyncExecutor"
https://jenkins.akka.io:8498/job/akka-nightly/4395/testReport/junit/jdocs.future/FutureDocTest/thenApplyAsyncExecutor/

[code]

[2017-05-10 05:15] ktoso opened #22889 "FAILED: akka.stream.javadsl.TcpTest mustReportClientConnectFailure"
https://jenkins.akka.io:8498/job/akka-nightly/4386/testReport/junit/akka.stream.javadsl/TcpTest/mustReportClientConnectFailure/

[code]

[2017-05-10 05:53] arpanchaudhury commented on #22865
Hi @johanandren, I have refactor the code and incorporated all suggested changes. Can you kindly take a look?

[2017-05-10 06:30] patriknw commented on #22870
ok, let us know if you find anything more, or a reproducer

[2017-05-10 07:17] lukas-phaf opened #22890 "Intermittent problem with Distributed Data ORSet and delta-CRDT"
I am using a Distributed Data ORSet on a physical 4 node cluster with Akka 2.5.1.

I am using the ORSet to keep track of which actors (which are sharding entities) are 'alive'. So when the entity receives its first message, it adds its id (a UUID string) to the ORSet:
```replicator ! Replicator.Update(DataKey, ORSet.empty[String], WriteLocal)(_ + id)```
When it gets a shutdown message, it removes

[2017-05-10 14:05] nikitapecasa opened #22893 "cluster-sharding: tiny memory leak in akka.cluster.sharding.Shard.idByRef"
Hi,

From the source code it looks like there is a tiny memory leak in `akka.cluster.sharding.Shard.idByRef` map.
It happens when `rememberEntities` is enabled and entity is stoped unintentionally (e.g.: persistent failure stoped the actor), then entity is restarted with `Shard.RestartEntity` command, and `Shard.getEntity` is called, which won't remove terminated `ActorRef` from `idByRef` map.

As

[2017-05-10 14:58] raboof opened #22896 "Chapters missing from Scala ToC"
In the documentation generated in the `wip-akka-docs-new` branch, the Scala ToC appears to be missing the entries that are not under `scala/`, while this works correctly for the Java ToC.

[2017-05-10 15:00] raboof opened #22897 "Circuit breaker initialization"
Under Java->Utilities->Circuit breaker, in Example/Initialization, the class link and bulleted list are not converted correctly.

[2017-05-10 15:02] raboof opened #22898 "Tables"
Tables, like the 'URI options' in the camel docs, are not converted correctly

[2017-05-10 16:01] #22813 closed

[2017-05-10 18:24] raboof commented on #22896
Looks like this is fixed by applying @pvlugter's "linking" strategy for sharing pages between the scala and java tree

[2017-05-10 18:24] #22896 closed

[2017-05-10 20:30] avakhrenev opened #22899 "IllegalArgumentException with identity flow"
This code
[code]
leads to
[code]

Not sure what is going on here...

EDIT: akka version is 2.5.1

[2017-05-11 06:58] johanandren commented on #22899
Seems to be caused by the new materializer when the identity stage is triggered (`Flow[Int]`) and then the output port is used. You can likely workaround by avoiding having such an "empty" flow in there. Thanks for reporting and providing a reproducer!

[2017-05-11 07:03] johanandren commented on #22887
Likely a consequence of how Scala 2.12 allows Scala lambdas to be Java lambdas, which 2.11 does not. Workaround right now would be to use the 2.11 binaries instead if possible.

[2017-05-11 07:05] johanandren commented on #22887
Thanks for reporting and providing a reproducer!

This could possibly be fixed easily by just making the call to the super method explicit (`super.onTransition`) in `AbstractFSM`

[2017-05-11 07:22] patriknw opened #22900 "Rewrite the quickstart part of Getting Started"
http://doc.akka.io/docs/akka/new-docs-snapshot/scala/guide/quickstart.html

Should use/link to https://github.com/akka/akka-scala-seed.g8/pull/4
probably via http://developer.lightbend.com/start/?group=akka

Note that the guide in akka-scala-seed will be published at developer.lightbend.com, e.g. http://developer.lightbend.com/guides/hello-akka/

[2017-05-11 07:22] patriknw commented on #22900
cc @henrikengstrom

[2017-05-11 07:24] patriknw opened #22901 "Restructure the TOC"
also, the Getting Started is currently only included in the Scala tree

[2017-05-11 07:25] patriknw opened #22902 "Remove Information for Akka Developers"
Move to ordinary markdown files and reference from CONTRIBUTING.md

[2017-05-11 07:28] patriknw opened #22903 "Verify and fix code snippets"
e.g. advanced inclusion/exclusion rules

use paradox base directory variables instead of `../../../../..`

`@@snip [Actor.scala]../../../../../akka-actor/src/main/scala/akka/actor/Actor.scala) { #lifecycle-hooks }`

[2017-05-11 07:45] raboof commented on #22901
Ah looks like the guide is just missing from `java.md`

[2017-05-11 07:56] patriknw opened #22904 "Scaladoc/Javadoc links"
We should make use of http://developer.lightbend.com/docs/paradox/latest/features/linking.html#scaladoc-directive

This task is not top priority, can be added after first release.

[2017-05-11 10:22] patriknw opened #22906 "add links and side bars notes to Getting Started"
prototype of the side bar notes can be seen here: http://downloads.lightbend.com/paradox/akka-docs-new/20170511-sidenotes/scala/actors.html

[2017-05-11 10:30] patriknw opened #22907 "adjust release build to paradox target"
to upload the akka-docs/target/paradox/site/main/*

and jenkins job for snapshot docs

[2017-05-11 11:17] #22879 closed

[2017-05-11 11:17] johanandren commented on #22879
We need to make sure we have this right in the new docs as well.

[2017-05-11 12:16] patriknw opened #22909 "@binVersion@ variables"
might be more of those

[2017-05-11 12:50] #22903 closed

[2017-05-11 14:28] avakhrenev opened #22911 "Source.unfoldResource ignores Dispatcher attribute"
Seems like the dispatcher attribute is not applied in 2.5.1.
[code]
2.5.1 prints:
[code]
2.4.18 prints:
[code]

[2017-05-11 15:23] patriknw opened #22912 "fix ../scala links"

[2017-05-11 19:44] patriknw commented on #22909
`@github@`

[2017-05-12 05:34] ktoso commented on #22880
Hi, sorry for the delay and thanks for opening the ticket with reproducer!
I dug into it and you're absolutely correct, it's a failure handling bug.

I have a fix and will submit a PR right away.

[2017-05-12 07:25] lukas-phaf opened #22916 "Bug in sharding snapshot deletion code"
When running an actor system using sharding, after some time I get the following crash:
[code]

I think the problem is in Shard.scala (and also in ShardCoordinator.scala):
[code]

After a `DeleteMessagesSuccess`, `deleteSnapshots` (plural) is called, but only `DeleteSnapshotSucces` (singular) message is handled. I think this should be `DeleteSnapshotsSuccess` (plural). The same holds for `DeleteSn

[2017-05-12 07:30] patriknw commented on #22897
I fixed this

[2017-05-12 07:30] #22897 closed

[2017-05-12 07:31] #22901 closed

[2017-05-12 07:31] #22902 closed

[2017-05-12 08:21] hseeberger opened #22917 "RecoverWith should recover for maximumRetries == 0"
When calling `recoverWithRetries` it is valid to pass 0 for `maximumRetries`. Which makes total sense if one doesn't want to retry but just recover. Yet if one passes 0, recovery doesn't take place:

[code]

This doesn't print "42" and "done: Success(Done)" but "done: Failure(java.lang.Exception: BOOM)".

Inspecting the code of `RecoverWith` it seems that `attempt < maximumRetries` should be `atte

[2017-05-12 08:21] hseeberger commented on #22917
Thanks to @johanandren for bringing this up!

[2017-05-12 09:07] patriknw opened #22918 "failed: DeviceGroupTest"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9141/testReport/junit/jdocs.tutorial_4/DeviceGroupTest/testListActiveDevicesAfterOneShutsDown/

[2017-05-12 09:08] #22912 closed

[2017-05-12 09:26] patriknw opened #22921 "exclude snippets"
In rst we sometimes used the `exclude` like in actors.rst:
[code]

[code]

This is lost in new .md
[code]

@bantonsson You showed me a xml example of how that could be done, but I still don't understand what I need to do for an example like this?

[2017-05-12 09:29] patriknw commented on #22921
ah, now I get see, it must be written as:
[code]

[2017-05-12 10:26] #22898 closed

[2017-05-12 10:38] patriknw commented on #22900
I'm taking a stab at this

[2017-05-12 11:19] synox opened #22923 "stream-quickstart.rst detail: via"
In https://github.com/akka/akka/blame/master/akka-docs/rst/java/stream/stream-quickstart.rst#L317

     Next we connect the ``tweets`` stream to ``count`` with ``via``.

But there is no  ``via`` in https://github.com/akka/akka/blob/master/akka-docs/rst/java/code/jdocs/stream/TwitterStreamQuickstartDocTest.java#L321

[2017-05-12 12:45] henrikengstrom commented on #22900
Great.

[2017-05-12 14:35] raboof commented on #22918
Looks like a proper race condition to me: there's no guarantee that the groupActor has receives the termination before the test receives the termination and sends the `RequestDeviceList`.

We could cheat and use an 'eventually' block or insert a sleep but that's not very nice.

It might be nice to be able to ask the dispatcher (perhaps a custom one?) to make sure we don't continue before it become

[2017-05-12 14:36] 2m opened #22930 "Show introduction on a topic after clicking top level link from TOC"
When clicking on *Streams* top level link a [TOC page opens](https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9153/artifact/akka-docs/target/paradox/site/main/java/stream/index.html). Instead the [introduction chapter](https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9153/artifact/akka-docs/target/paradox/site/main/java/stream/stream-introduction.html) could open.

[2017-05-12 14:38] 2m opened #22931 "Blocked script execution in jenkins preview"
Code snippets are [separate blocks](https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9153/artifact/akka-docs/target/paradox/site/main/java/guide/tutorial_1.html#structure-of-an-actorref-and-paths-of-actors).

[2017-05-12 14:40] patriknw opened #22932 "java/scala-compat.md contains scala specifics"
The "Do not use -optimize Scala compiler flag" should be moved elsewhere

[2017-05-12 14:42] 2m opened #22933 "Fix project name in footer"
Currently it says:

[2017-05-12 14:44] patriknw commented on #22930
I think that was on purpose and I think it's nice

but it's strange that there are no such boxes for Getting Started Guide

[2017-05-12 14:46] raboof commented on #22931
Hmm this worked locally, but when served apparently we're running into:
[code]

[2017-05-12 14:46] patriknw commented on #22931
yes, this rendering fine for me locally

[2017-05-12 14:46] 2m commented on #22930
Yea. Also noticed that.

On the other hand this would make it impossible to go directly to a topic that is deeper than 2nd level. I guess I need to get a bit more time with the new docs.

[2017-05-12 14:47] raboof commented on #22931
http://stackoverflow.com/questions/34315723/blocked-script-execution-in-url-because-the-documents-frame-is-sandboxed-and looks like this might be jenkins configuration, looking at it

[2017-05-12 14:49] 2m commented on #22931
Ahh, I see that it is like this everywhere not only in Getting Started guide. Also syntax highlighting is gone because of the same reason.

[2017-05-12 14:56] #22909 closed

[2017-05-13 11:56] rkuhn opened #22934 "Actor.deferred does not stop actor in adapted system when immediately returning Actor.stopped"

[2017-05-13 12:56] alenkacz opened #22936 "Incorrect link in the Scala documentation"
1. Go to http://doc.akka.io/docs/akka/2.5.1/scala/hello-world.html
2. Click on  Akka Samples Repository
3. HTTP 404

[2017-05-15 00:25] benmccann opened #22941 "serialization-bindings should be ordered"
If an instance extends from multiple interfaces or traits then I believe Akka just prints out a warning and picks a serialization binding randomly. I would really like to see this be a list ordered by priority

E.g. instead of:

    serialization-bindings {
      "java.lang.String" = java
      "docs.serialization.Customer" = java
      "com.google.protobuf.Message" = proto
      "docs.serializati

[2017-05-15 05:55] patriknw opened #22943 "add SupervisionStrategy.stop"
For completeness we should add `Supervision.stop`. Can be useful when nesting several strategies, e.g. `stop` for `IllegalStateException` and `restart` for all other `RuntimeException`.

[2017-05-15 08:03] raboof opened #22944 "Document serialization trade-offs"
The 'Serialization' page in the docs could be a bit clearer in explaining why Java serialization is not so great and recommending/contrasting alternatives.

[2017-05-15 09:25] greenhost87 opened #22946 "Akka typed scala.MatchError: null"
I write simple code to test brand new Akka Typed performance, as a playground I use https://github.com/patriknw/akka-typed-blog and try run that code

[code]

As result application crash with error:

[code]

If change number of concurrent runing futures from 2 to 1 application complete work without error

[2017-05-15 09:50] raboof opened #22947 "Switch 'sync' and 'async' test docs"
We want to discourage the synchronous testing approach, so let's start the docs with the asynchronous approach and hide the synchronous one towards the bottom of the page.

[2017-05-15 11:15] patriknw commented on #22944
yeah, we can never do enough bashing of that ;-)

[2017-05-15 11:43] domdorn commented on #22878
thanks for clarifying.

[2017-05-15 11:43] #22878 closed

[2017-05-15 12:10] ktoso opened #22949 "Avoid empty pages when user clicks on a main "chapter""
For example if someone goes to main docs site for scala, and then clicks "yeah getting started, that sounds good!" and clicks it they'll get: http://doc.akka.io/docs/akka/snapshot/scala/guide/index.html an empty page.

We should perhaps have those include something to not look so blank?

[2017-05-15 12:20] patriknw commented on #22916
Sounds like a bug and you know how to fix it. Would you be able to open a pull request @lukas-phaf ?

[2017-05-15 12:23] patriknw commented on #22911
This is probably because of https://github.com/akka/akka/issues/22523
Leaving both tickets open for now, in case we can use the workaround to quickly fix this one.

[2017-05-15 12:28] patriknw commented on #22887
@steinybot Would you be able to create a pull request with the fix suggested by Johan?

[2017-05-15 12:32] raboof commented on #21684
https://jenkins.akka.io:8498/job/akka-release-2.4/212/testReport/junit/akka.remote.transport/SystemMessageDeliveryRetryGate/Remoting_passive_connections_on_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/
[code]

[2017-05-15 12:35] raboof commented on #20180
https://jenkins.akka.io:8498/job/akka-release-2.4/210/consoleFull

[2017-05-15 13:07] lukas-phaf commented on #22916
Yes, will do that.

[2017-05-15 13:26] synox opened #22950 "Source.combine method should keep Materialized Values"
Source.combine() does not keep the Materialized Values Attributes, it always returns
    Source[U, NotUsed]. It forces me to use the GraphDSL even for such a simple Graph.

I would like to use Source.combine()  and be able to define how to handle the Materialized Values.

Example actual:

        Source<Integer, SourceQueueWithComplete<Integer>> queuePrimary = Source.queue(2000, OverflowStrategy.b

[2017-05-15 13:28] patriknw commented on #22893
@nikitapecasa Thanks for reporting. I think that is an oversight. I see no reason why it should linger around after termination. Suggested fix in PR https://github.com/akka/akka/pull/22951

[2017-05-15 13:36] richard-imaoka commented on #22899
It is probably due to [these two lines](https://github.com/akka/akka/blob/ccb587209f64f9cdc76ffc9368627defe9722fa1/akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala#L49#L50) - when I removed them, I did not see `IllegalArgumentException` from the above code snippet.

By `.via(Flow[Int])`, I am guessing the internal `TraversalBuilder` was not in a good state, and caused the exception aft

[2017-05-15 14:02] johanandren commented on #22899
Thanks for researching it, the internals are complicated but if you are up to it then a PR would be welcome. We probably do not want to remove that, it is the optimisation that if something is run through the identity stage, then that is the same as not having a stage at all so we can use the empty flow. I think there are invalid assumptions being made elsewhere we need to look into.

[2017-05-15 15:03] richard-imaoka commented on #22899
Thanks for the advice. I'll try to submit a PR, which might take a few weeks.

If that is too long then please just ignore my attempt and fix this by the core team (or anyon else quicker than me.)

[2017-05-15 15:56] UriShohet opened #22958 "migration to 2.5.1 and routers configuration"
Hi all, I'm trying to upgrade from akka 2.4.11 to 2.5.1 and I'm seeing something weird. I have cluster made of 1 master and 2 slave machines, but I also run the app from my laptop - a 1-node cluster. I I've defined a router in application.conf like this:
[code]
and I'm creating the router like this:
[code]
What's weird to me is that with akka 2.5.1 I must set ```akka.actor.deployment./restoreClien

[2017-05-15 16:07] patriknw commented on #22949
It should show toc boxes as the other chapters, it was missing toc depth tag.

[2017-05-15 16:12] ktoso commented on #22949
Cool, thanks for fixing right away!

[2017-05-15 16:17] patriknw commented on #22958
Thanks for reporting. Also good that you tested on 2.4.18. Sounds like a bug/regression from your description.

[2017-05-15 16:18] patriknw commented on #22949
it annoyed me too

[2017-05-15 16:23] 2m commented on #22097
Fixed in #22266

[2017-05-15 16:23] #22097 closed

[2017-05-15 16:28] 2m commented on #22839
Increased MetaSize to 768. Closing this one and https://github.com/akka/akka/issues/22888 and see if that happens more.

[2017-05-15 16:28] #22839 closed

[2017-05-15 16:29] 2m commented on #22888
Increased MetaSize of akka-nightly job to 768. Closing this one and https://github.com/akka/akka/issues/22839 and see if that happens more.

[2017-05-15 16:29] #22888 closed

[2017-05-15 17:10] #22923 closed

[2017-05-15 17:15] 2m commented on #22931
I have set the system property recommended in the SO answer from the Jenkins init file.

[2017-05-15 17:15] #22931 closed

[2017-05-15 18:09] patriknw commented on #22946
Thanks for trying Akka Typed. I have tried and can confirm that it's a bug. `null` is actually passed in as the message. Could be a concurrency bug or invalid catch of OutOfMemoryError.

By the way, that is useless a performance test but great that you found the issue.

[2017-05-15 18:16] synox commented on #22923
👍

[2017-05-15 18:16] patriknw commented on #22890
@lukas-phaf Thanks for reporting, that is very interesting. It would be very useful if you can reproduce it with `akka.loglevel=DEBUG` enabled. Could generate rather much logs, but we might be able to see what is going on.

Also logs at INFO level could be interesting as a start, if you already have that.

[2017-05-15 19:33] greenhost87 commented on #22946
I continue play with typed actors and try immutable approach with JMH. Below my simple code with JMH that have some `null` problem, maybe it can be helpful:

[code]

[2017-05-15 19:36] patriknw commented on #22946
You could try to convert this: https://github.com/akka/akka/blob/master/akka-bench-jmh/src/main/scala/akka/actor/ForkJoinActorBenchmark.scala

[2017-05-15 20:08] maciekciolek commented on #16617
@patriknw could you please take a look at this PR: https://github.com/akka/akka/pull/22725?

[2017-05-15 23:37] richard-imaoka commented on #22183
Just wanted to check - "`onComplete()` callback" means `onComplete` on the materialized `Future` like [this](http://doc.akka.io/docs/akka/current/scala/stream/stream-quickstart.html)?

![image](https://cloud.githubusercontent.com/assets/7414320/26083797/c5fb9514-3a12-11e7-8b07-fca6fc0f3792.png)

I am working on this assuming the above is the case, but let me know if it is different (I could not se

[2017-05-16 05:41] patriknw opened #22961 "SupervisorStrategy must be abstract class"
missing static forwarders for Java API for Scala 2.11

[2017-05-16 06:05] greenhost87 commented on #22946
I try https://gist.github.com/greenhost87/5f5beb39b7202e7b75553c9ff8463119 but I can't figure out how to change that code https://gist.github.com/greenhost87/5f5beb39b7202e7b75553c9ff8463119#file-forkjointypedactorbenchmark-scala-L104-L108 and look like something wrong with system termination, because after end of each test I get:

[code]

[2017-05-16 09:17] patriknw opened #22964 "missing UncaughtExceptionHandler in typed ActorSystem"

[2017-05-16 11:32] johanandren commented on #22899
Thanks, we'll make sure to ping you here if we start working on this so you don't do the work in parallel.

[2017-05-16 12:50] UriShohet commented on #22958
ok after even further investigation, I'd like to take it back and close the issue - the problem is not Akka but Kamon.

I've checked again with 2.4.18 and it didn't work either until I downgraded Kamon back to 0.6.0

I've upgraded to kamon 0.6.6 while upgrading to akka 2.4.18 (and later to 2.5.1) and started to see issues. Then I went back to my previous branch with akka 2.4.11 and kamon 0.6.0 and

[2017-05-16 12:50] #22958 closed

[2017-05-16 13:00] johanandren commented on #22950
Combine is a varargs method and can combine any number of sources, which each of can have a separate materialised value type so that would not be possible.

Maybe we could follow the pattern of `FlowOpsMat` though and add `combineMat(s1, s2)((M1, M2) => M)` specifically for combining two sources.

[2017-05-16 13:10] johanandren commented on #22917
do you still think we should fix something here @hseeberger (I'm thinking return identity stage or possibly require retries to be > 0)

[2017-05-16 13:24] #22936 closed

[2017-05-16 13:33] johanandren commented on #22941
That would not be possible because of how we register serializers in multiple `reference.conf` files that can be loaded in any order internally in Akka, in addition to be a very invasive change. If it wasn't for there being plenty of `Map`s used inside of serialization you could have used the new `akka.serialization.SerializationSetup` as allows you to define a function that returns a `Seq` where

[2017-05-16 14:15] 2m commented on #22125
#22127 has already been fixed and had the same error message. Therefore closing this as well.

[2017-05-16 14:33] johanandren commented on #22911
[code]

Would be a workaround, except that `UnfoldResource` is akka-private so this is not possible to work around until we solve the attributes problem causing it.

[2017-05-16 14:59] patriknw commented on #22941
@benmccann can you show an example of the specific classes that was the problems and perhaps we can advice. There are some tricks.

[2017-05-16 15:09] lukas-phaf commented on #22890
@patriknw, I reproduced the problem with DEBUG log level. But I am afraid I am not comfortable sharing the full log. I have used grep to get just the log output of ddataReplicator and where I add, remove and check the ORSet (these are marked with DDD).

An example where everything is working is storing the ID `8f7b106f-bbae-489a-9ccd-a3f811811d05`, testing it, and later removing it:
[code]
The `DD

[2017-05-16 15:27] hseeberger commented on #22917
I think I was wrong, not understanding that recovery (once or more times) means evaluating the given PF and using the potential result. So given that it is valid to use -1 as a parameter I suggest to allow any parameter less than 1 for `maximumRetries`, e.g. 0, -1 or -42, to indicate infinite retries.

[2017-05-16 16:22] jrudolph commented on #13861
Fixed for TCP CommandFailed in #22954.

[2017-05-16 16:36] patriknw commented on #22890
Thanks, I'll take a look.

Log messages containing "Cluster Node" are usually also good to get some context about things going on in the cluster.

[2017-05-16 16:38] patriknw commented on #22958
thanks for the update

[2017-05-16 17:40] johanandren commented on #22917
ah, currently that is specifically only `-1` it seems. I agree making 0 and less infinite sounds reasonable.

[2017-05-17 06:08] lukas-phaf commented on #22890
@patriknw Added those.

[akka-11673_2.log.txt](https://github.com/akka/akka/files/1006705/akka-11673_2.log.txt)

[2017-05-17 06:45] hseeberger opened #22970 "Rename Actor.restarter to Actor.supervisor"
Why? Well, `Actor.restarter[Foo](SupervisorStrategy.resume)` doesn't make sense, right?

[2017-05-17 06:46] hseeberger commented on #22970
Or maybe `Actor.supervise[...](...)`

[2017-05-17 07:00] patriknw commented on #22970
I was also thinking about naming it something like that, but never decided. Thanks for feedback.

[2017-05-17 13:04] gosubpl opened #22974 "Remove tombstones from `ORMultiMap.emptyWithValueDeltas`"
More details and PR soon.

[2017-05-17 13:24] richard-imaoka commented on #22803
http://doc.akka.io/docs/akka/snapshot/scala/dispatchers.html

I see the new docs are available as snapshot. Let me work on this then.

[2017-05-17 15:06] johanandren commented on #22845
How does this stage compare to akka/akka-stream-contrib#89, would that cover your use case already (sorry I didn't notice the possible duplication before)?

[2017-05-17 15:09] patriknw commented on #22803
Thanks, CONTRIBUTING.md contains instructions of how to build docs locally

[2017-05-17 15:42] arpanchaudhury commented on #22845
@johanandren Looks like akka/akka-stream-contrib#89 has quite similar requirements. The function introduced in PR https://github.com/akka/akka/pull/22846 can tackle it. But I doubt that having a fixed set of DelayStrategy can introduce the dynamism which is needed in my use-case.

[2017-05-17 15:54] johanandren commented on #22845
Since `DelayStrategy` is just a type around a `nextDelay(elem: T): FiniteDuration` (see the PR akka/akka-stream-contrib#90) which is exactly what this stage introduces, plus that it covers more use cases (stateful delay strategies as well). To have buffering with a strategy for overflow you could just put a `Flow.buffer` in front of that stage.  I'd propose we close this ticket and PR and you go w

[2017-05-17 21:32] benmccann commented on #22941
This was actually motivated by wanting to remove `Jsonable` from Lagom and set Jackson as the default serializer without needing to use `Jsonable` - https://github.com/lagom/lagom/issues/744

There are perhaps still ways of ordering. E.g. we could set an integer priority with each serializer. Or we could just have a default serializer, which is potentially easier.

[2017-05-17 21:55] zaharidichev commented on #17269
@ktoso I would like to give that one a shot if its free to grab. I wonder however, if benchmarking does not show any significant improvement, what is the rationale for moving to asynchronous channel ?

[2017-05-17 21:56] zaharidichev commented on #17269
@ktoso I would like to give that one a shot if its free to grab. I wonder however, if benchmarking does not show any significant improvement, what is the rationale for moving to asynchronous channel ?

[2017-05-17 22:07] pvlugter commented on #22921
Yes, replacing excluded sections with a placeholder comment was a useful feature that we added for includecode for sphinx. Play doc snippets also have other features, like special comments to drop the next n lines, or replacing the next line with different text. Might be easy enough to get the excludes into the paradox snippets.

[2017-05-17 22:11] pvlugter commented on #22933
Fixed in #22942.

[2017-05-18 02:54] jroper opened #22975 "Flow tuple projections"
There is a common scenario that we've encountered in Lagom, where either we (the framework) or the user needs to project a flow of tuples to the left or right side, perform an operation on it, and then merge back with the other side. A common use case for this is when you want to process a flow of messages and offset tuples, and you need to emit the offset such that offset tracking can be done. It

[2017-05-18 03:06] jroper commented on #22975
Related: https://github.com/lagom/lagom/pull/752

[2017-05-18 03:17] jroper commented on #22975
A generalized `project` method could also be created, which could be easily used to implement `projectLeft` and `projectRight`:

[code]

[2017-05-18 05:05] arpanchaudhury commented on #22845
+1 to stateful delays. closing the issue an PR as duplicate of akka/akka-stream-contrib#89

[2017-05-18 05:05] #22845 closed

[2017-05-18 07:48] #22933 closed

[2017-05-18 08:21] kpbochenek opened #22977 "with test transport plugin distributed-data throws exception on getting a port in LmdbDurableStore"
With configuration used for testing:
[code]

There is no port defined as it is not needed.
But in LmdbDurableStore:
https://github.com/akka/akka/blob/3ab101039fd14d7bea92c4e14d2c809a60b00229/akka-distributed-data/src/main/scala/akka/cluster/ddata/DurableStore.scala#L128

We explicitly call `.get` on Option which is None in this case.
This throws exception and causes distributed-data not to initial

[2017-05-18 08:27] patriknw commented on #22941
but what was the problem with using
[code]
or
[code]

You can also try to combine that with disabling the Java serializer altogether: http://doc.akka.io/docs/akka/2.4/java/remoting.html#Disabling_the_Java_Serializer

[2017-05-18 08:31] patriknw commented on #22977
You can't use distributed data without a cluster so I'm not sure what you are trying to do here. I would not set the test transport manually, but only use that together with multi-jvm tests, as we do in many of Akka's tests. E.g. https://github.com/akka/akka/blob/master/akka-distributed-data/src/multi-jvm/scala/akka/cluster/ddata/ReplicatorChaosSpec.scala#L30

[2017-05-18 09:39] kpbochenek commented on #22977
I am using sharding but for some tests I want to have just single node and ignore all clustering.

That's why I provide this configuration for testing and also
[code]

Worked perfectly for akka 2.4 but when I try to migrate to 2.5 I hit mentioned issues.

I also tried to set `lmdb.dir` to different value which should be a workaround but for some strange reason this is not picked up, I have to inve

[2017-05-18 09:47] patriknw commented on #22977
Using a real single node cluster seems more safe to me.

Setting the `lmdb.dir` to something not ending with "ddata" should avoid the issue. Make sure you use 2.5.1, we fixed something here.

Also note that if you are using cluster sharding, it is using it's own ddata replicator with another config path, see reference.conf in cluster-sharding.

[2017-05-18 11:56] raboof opened #22979 "Long GC pauses while running tests on jenkins"
Let's track build problems due to long GC pauses on jenkins here.

For example: https://jenkins.akka.io:8498/job/akka-nightly/4399/consoleFull

[code]

[2017-05-18 12:02] raboof opened #22980 "Download failures during jenkins builds"
Let's track build problems due to download failures here.

It seems some jobs were using the artifactory at https://proxy-ch.typesafe.com:8082 (via `-Dsbt.override.build.repos=true` and `~/.sbt/repositories.conf`), but without also configuring credentials, which means it'd successfully fetch resources already known to artifactory but not add new ones.

For now I've configured `akka-nightly` to use

[2017-05-18 12:07] raboof commented on #20223
https://jenkins.akka.io:8498/job/akka-multi-node/2079/consoleFull
[code]

[2017-05-18 12:10] raboof opened #22981 "FAILED: FusableProcessorTest"
https://jenkins.akka.io:8498/job/akka-multi-node/2081/consoleFull
[code]

[2017-05-18 12:12] raboof commented on #22979
https://jenkins.akka.io:8498/job/akka-nightly/4405/consoleFull

[code]

[2017-05-18 12:16] raboof commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/714/consoleFull
[code]

[2017-05-18 12:19] patriknw commented on #22979
We set the `-XX:MetaspaceSize=768M`, which is the initial size. Strange that it have to do Full GC.

Maybe we have to set more flags to "turn off" any dynamic shrinking?

[code]

http://stackoverflow.com/questions/25251388/what-is-the-metadata-gc-threshold-and-how-do-i-tune-it

[2017-05-18 12:22] johanandren commented on #17269
For reference: PR exploring this #21801

[2017-05-18 12:31] ktoso commented on #17269
Here it's most important to think and confirm if there are gains from the rewrite or not.
The blocking one will likely have (as found in the other PR) better raw throughput, but then we end up putting it on the IO dispatcher. The async one could remain on the default dispatcher perhaps (?). So another question is about the scalability - what happens if we write to 1000 files at the same time, whic

[2017-05-18 12:39] raboof opened #22982 "FAILED: LeaderElectionWithFailureDetectorPuppet (artery)"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/617/consoleFull
[code]

[2017-05-18 12:40] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-multi-node/2088/console

[2017-05-18 12:41] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-publish-nightly/675/console

[2017-05-18 12:42] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly/4417/console

[2017-05-18 12:42] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly-2.12/211

[2017-05-18 12:43] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly-sigar/608/console

[2017-05-18 12:47] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly/4418/console

[2017-05-18 12:51] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly/4418

[2017-05-18 12:52] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly/4419/console

[2017-05-18 12:56] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4918

[2017-05-18 12:57] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly/4420

[2017-05-18 12:57] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-multi-node/2091

[2017-05-18 12:58] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly/4421

[2017-05-18 12:58] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-publish-nightly/676

[2017-05-18 12:58] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4920

[2017-05-18 13:01] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly-2.12/212

[2017-05-18 13:01] raboof commented on #22980
https://jenkins.akka.io:8498/job/akka-nightly-sigar/609

[2017-05-18 13:17] raboof commented on #22980
Etc:

https://jenkins.akka.io:8498/job/akka-nightly/4422
https://jenkins.akka.io:8498/job/akka-nightly/4423
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4921
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4922
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/626
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/627

Sorry about the notification spam :).

Th

[2017-05-18 15:07] johanandren commented on #22975
Discussed previously in #15957 and akka/akka-streams-contrib#50

[2017-05-18 15:31] benmccann commented on #22941
I think it should generally work. I haven't tested it yet. The only concern I had is that this means folks can use only one serializer for their whole project. That might be fine in most scenarios as I don't know people will necessarily want to mix-and-match

[2017-05-18 18:38] patriknw commented on #22941
Of course you can have many serializers, you just need several marker interfaces. Closing this, you are welcome back if you can illustrate a concrete problem within the bounds of how akka serialization is designed.

[2017-05-18 18:38] #22941 closed

[2017-05-18 21:36] zaharidichev commented on #12035
Just out of curiosity. Would that be an extension to PinnedDispatcher. Because as far as I see it, if thread affinity is implemented in the default dispatcher, it would not work all that well. I mean, we would get threads pinned to cores for example, but we would not have actors pinned to threads. So in a sense we would still loose big parts of the locality that we gain from using thread affinity.

[2017-05-19 07:23] viktorklang commented on #12035
@zaharidichev In my mind we'd be talking about an ExecutorService implementation which facilitates the thread-pinning. It could also be configured to do actor-pinning.

[2017-05-19 08:48] patriknw commented on #12035
It's easiest to do the actor pinning with a PinnedDispatcher, obviously, but it would be really cool to have a dispatcher that is still a shared thread pool but prefer to run a specfic actor on same thread as it used to run on.

[2017-05-19 09:00] viktorklang commented on #12035
@patriknw FWIW I think it possible to hook into that via [this](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/dispatch/AbstractDispatcher.scala#L275) and then implement the `ExecutorService`s `execute` to map to a consistent hash of [mailbox](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/dispatch/Dispatcher.scala#L115) or base it on  info in [Act

[2017-05-19 09:06] zaharidichev commented on #12035
Guys can I have a go with that and if so, do you think you can highlight some of the logical steps that need to be taken in order to take that further ? What do we need first, dispatcher that had actor - thread affinity or a thread pool that had thread - cpu affinity ?

[2017-05-19 09:26] patriknw commented on #12035
Please go ahead. I think you can base testing on this benchmark: https://github.com/akka/akka/blob/master/akka-bench-jmh/src/main/scala/akka/actor/ForkJoinActorBenchmark.scala

The steps are up to you, but perhaps:
* cpu affinity
* actor pinning with PinnedDispatcher
* actor pinning with other dispatcher as suggested by Viktor

[2017-05-19 09:42] zaharidichev commented on #12035
Alright @patriknw. I am a bit confused by something however. In the documentation it is said that

However, looking at the code of [PinnedDispatcher](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/dispatch/PinnedDispatcher.scala), it looks like the dipatcher does not really dedicate  anything to anyone, but it just has a thread pool of size 1 and you can register only one

[2017-05-19 09:48] patriknw commented on #12035
Docs might be confusing, but it will be one "pool size 1" for each actor, i.e. a separate pool is created for each actor instance.

[2017-05-19 09:52] zaharidichev commented on #12035
@patriknw , you mean separate `PinnedDispatcher` ? Can you quickly point me as to where this is happening if its not too much trouble ?

[2017-05-19 10:59] patriknw commented on #12035
I don't have all this code swapped in (not something we change often) so I have to ask you to investigate first yourself and ask for help when you are stuck. Thanks.

[2017-05-19 11:33] #22916 closed

[2017-05-19 11:54] #22893 closed

[2017-05-19 12:20] patriknw commented on #22547
It could be that this is too verbose (not so useful) logging, but we'll see if anyone complains.

[2017-05-19 12:20] #22547 closed

[2017-05-19 12:49] #22868 closed

[2017-05-19 12:51] #22918 closed

[2017-05-19 14:00] patriknw opened #22985 "Java API for Terminated"
Seems like there was an attempt to use Scala's `@BeanProperty` but that is not generating any `getRef()`. We should use an explicit method instead. Same in `UnhandledMessage`.

[code]

[2017-05-19 14:55] zaharidichev commented on #12035
Okey, I got it. So pretty much due to how `PinnedDispatcherConfigurator` is implemented we get a new instance of a` PinnedDispatcher` on every dispatcher lookup. Makes sense and we end up with a 1 to 1 mapping of Actor to PinnedDispatcher. Will give a shot at benchmarking performance when we use thread affinity soon enough

[2017-05-19 16:11] kpbochenek commented on #22977
thanks!
I changed `lmdb.dir` to be in scope of cluster-sharding and it helped :D

[2017-05-19 16:11] #22977 closed

[2017-05-19 21:02] richard-imaoka opened #22986 "Paradox page generation not working on Windows, due to Linux-style symlinks"
[akka-docs/src/main/paradox/java](https://github.com/akka/akka/tree/8f2de2a0ac9133f5b7c11e66fb17c6e1f84df697/akka-docs/src/main/paradox/java) has symlinks like common, general, etc.

However, they don't work on Windows, so I got errors like below.

[2017-05-19 22:51] richard-imaoka commented on #22986
As discussed with @raboof in the above [commit](https://github.com/richard-imaoka/akka/commit/b341e127f3c7e74cc81f4eba5bc208a53256c4bd#commitcomment-22215622), when moving the following directories under paradox/scala to one level upper, the `@@toc` directives did not work.

- additional
- common
- general
- guide
- project
- security

I think we need to duplicate the above directories in paradox/

[2017-05-20 07:55] patriknw commented on #22986
Could we/you add corresponding windows symlinks? I don't know the command, perhaps mklink?

[2017-05-20 08:47] richard-imaoka commented on #22986
Hmm does that mean the steps to generate paradox pages on Windows would be:

1.  git pull akka
2. run some script to replace symlinks created from Linux with Windows symlinks
3. sbt akka-docs/paradox

am I correct?

I briefly looked at [this question in StackOverflow](http://stackoverflow.com/a/16754068) which we might be able to use for the step 2.

If we do this, for new comers to akka, it might

[2017-05-20 10:23] raboof commented on #22986
Perhaps we should add a note to `CONTRIBUTING.md` describing how to build the docs on windows for now?

The longer-term goal here is to stop duplicating documentation entirely, and use switches to include both the Java and Scala variations in the same markdown files (with [groups](http://developer.lightbend.com/docs/paradox/latest/features/groups.html)).

[2017-05-20 10:46] richard-imaoka commented on #22986
Okay for now let me try to add description for Windows in contributing.md.

Are we switching to paradox entirely in ver. 2.5.2? Wondering if there is a chance combining Java and Scala with groups **before** switching to paradox from rst, which I think might make the consolidation bit easier.

[2017-05-20 11:12] raboof commented on #22986
Yes, 2.5.2 will be released from master which as you've seen has been moved to paradox. We can now gradually, on a page-by-page basis, start merging Java and Scala pages using groups (for example [this page](http://doc.akka.io/docs/akka/snapshot/java/guide/tutorial_2.html) has already been set up like this). Switching between Java and Scala (also when generated from the same markdown) will remain

[2017-05-20 11:13] patriknw commented on #22986
Yes, we have already switched, and it will be released with 2.5.2. No way we the windows symlinks can be checked in to git? Otherwise we can perhaps run the script from sbt when on windows, or have the bat script create the symlinks and then run sbt akka-docs/paradox, so that there is just one command to build the docs.

[2017-05-20 13:34] johanandren commented on #22986
What about the support for symlinks in `git scm` for windows described here? http://stackoverflow.com/a/42137273

[2017-05-20 14:57] Kapeli commented on #22728
An alternative would be to set up a repo like https://github.com/playframework/play-generated-docs/releases and publish the docs there.

[2017-05-20 20:02] richard-imaoka commented on #22986
Thanks all for the quick feedback and advice!

I submitted the above PR with a link to the StackOverflow page which @johanandren gave.

[2017-05-21 09:25] johanandren opened #22990 "Memory leak in the Artery actor ref cache"
I can't remember if this was something we decided to live with or if we missed the fact that the `ActorRef` cache keeps actor refs in memory after they have terminated. Was reported by @bitsofinfo here: https://gitter.im/akka/akka?at=591d01872b926f8a6767c524 and here https://gitter.im/akka/akka?at=591f196500efc2bb3e84151d as a leak of the `ClusterRouterGroup`.

This is a screenshot of the heap dum

[2017-05-21 17:45] #22961 closed

[2017-05-21 18:45] patriknw commented on #22990
The cache is bounded (oldest will be evicted) and the references are not supposed to hold on to much memory after termination so I'm not sure this is a problem.

[2017-05-21 23:45] jamesmulcahy commented on #22870
We now believe that the issue we're observing isn't due to one shard running in two locations at the same time, it's that one of the shards leaves behind a running stream which gives upon initial inspection/debugging, led to that impression.  I think we can close this -- apologies for the noise.  cc/ @drexin

[2017-05-22 04:57] huntc opened #22991 "Incorrect view of initial contact points when subscribing to cluster client"
Akka cluster client does not provide the correct initial view of contact points w.r.t. to another actor subscribing to its events. This is accidental and due to a [previous PR](https://github.com/akka/akka/pull/20462) by me where the ability to subscribe to notifications was provided. There is a variable named `contactPathsPublished` which is empty on startup. I see now that `contactPathsPublished

[2017-05-22 06:31] johanandren commented on #22887
Akka default uses 2.11, you should be able to toggle over to 2.12 with `++2.12.2` in the sbt console.

In Scala 2.12 Scala functions are SAMs to allow Java to call a higher order Scala function with a Java lambda, since this was not the case before it can lead to some nasty surprises. In this case it causes the onTransition to call itself.

I have made a PR with a fix.

[2017-05-22 06:32] johanandren commented on #22887
Thanks for reporting and looking into this @steinybot !

[2017-05-22 06:36] johanandren commented on #22990
@bitsofinfo could you tell us if you really observed memory problems because of this or just was confused that it was kept alive?

[2017-05-22 08:05] #22934 closed

[2017-05-22 08:08] #22289 closed

[2017-05-22 08:30] jrudolph opened #22994 "FAILED: DDataClusterShardingRememberEntities"
https://jenkins.akka.io:8498/job/akka-multi-node/2094/consoleFull

[code]

[2017-05-22 08:32] jrudolph commented on #18366
Another one: https://jenkins.akka.io:8498/job/akka-nightly-2.12/214/consoleFull

[2017-05-22 08:33] jrudolph commented on #22994
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/721/consoleFull

[2017-05-22 08:34] jrudolph commented on #22994
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/630/consoleFull

[2017-05-22 08:36] jrudolph commented on #22994
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/631/consoleFull

[2017-05-22 08:37] jrudolph commented on #22994
https://jenkins.akka.io:8498/job/akka-multi-node/2095/consoleFull

[2017-05-22 08:37] jrudolph commented on #22994
(Stopping here, there are more)

[2017-05-22 08:42] jrudolph opened #22995 "FAILED: TransformProcessorTest"
https://jenkins.akka.io:8498/job/akka-nightly-2.12/216/consoleFull

[code]

[2017-05-22 08:46] jrudolph commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/723/consoleFull

[code]

[2017-05-22 09:13] patriknw commented on #22994
These are all multi-node and the problem is that the test is assuming that it could use the same directory (lmdb data) for node first and second node, but that will of course not work when it's multi-node.

[2017-05-22 10:16] #22947 closed

[2017-05-22 11:46] richard-imaoka commented on #22986
One suggestion - for combining Java and Scala pages one by one, what if we crate a master issue like #20466 **Great getting started ticket: write example snippets for Akka HTTP Java DSL** ? The the community people would feel easier to work on.

If that sounds ok, I can try to create the description of the master issue, explaining steps to convert `.md` files under `/java` to the unified scala/jav

[2017-05-22 13:16] bitsofinfo commented on #22990
Not yet determined if the causing of my issue (OOM) I've since turned off akka clustering to cut the issue in half..... but I noticed these are not being cleaned up after GCs... and it caught my eye. Why retain this stuff in memory? Over time eventually this would grow.

[2017-05-22 13:20] #22986 closed

[2017-05-22 13:24] johanandren commented on #22990
The cache is a LRU of the remote actorrefs so eventually those will be evicted as messages are sent to other remote actors. Evicting earlier is complicated since the refs are remote and watching each one of them would introduce considerable overhead.

[2017-05-22 13:28] #22994 closed

[2017-05-22 13:31] patriknw opened #23001 "failed: LoggingReceiveSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9220

[code]

[2017-05-22 13:33] ktoso commented on #23001
This was failing in the past a few times hm... https://github.com/akka/akka/issues?q=is%3Aissue+LoggingReceiveSpec+is%3Aclosed

[2017-05-22 13:41] #22887 closed

[2017-05-22 14:00] #22808 closed

[2017-05-22 15:07] patriknw opened #23003 "relax testing of serialize-creators"
We have `serialize-creators` enabled in many modules by setting it in src/test/resources/reference.com, but it's already disabled in many modules.

serialize-creators is for checking that the Props can be serialized and that is useful for remore deployment, but we don't find remote deployment as important any more, so perhaps we should not run tests with this apart from specific tests.

One thing

[2017-05-22 15:58] patriknw commented on #22990
It should also be noted that there should not be any references left to instances of your `Actor` classes. The remaining `ActorRef` instances should be shallow and not consume much memory.

[2017-05-22 19:38] #23003 closed

[2017-05-22 21:22] manonthegithub opened #23005 "Stateful Split in streams"
I've discovered little flaw in splitting stream, as I think. I suggest to make it to be able to accept stateful trait that can be implemented be its users. something like:
[code]
This can cover scenarios where you need to compare next element with previous to make split decision and other where you need to accumulate state.

If you will agree that it will be useful, I can try to implement it.

[2017-05-23 05:04] patriknw opened #23006 "failed: ClusterShardingSpec"
Still some failing cluster sharding test.
Happens often, but not every time.

https://jenkins.akka.io:8498/job/akka-multi-node/2102

[code]

[2017-05-23 08:03] shangd opened #23008 "distributed-data: VersionVector using in memory counter"
Hi, I got a question regarding the VersionVector implementation in distributed-data
https://github.com/akka/akka/blob/master/akka-distributed-data/src/main/scala/akka/cluster/ddata/VersionVector.scala#L76

The VersionVector gets incremented using a global static in-memory AtomicLong, my understanding is that this ensures the total ordering of updates at the same address so that conflicts can be me

[2017-05-23 08:06] patriknw commented on #23008
It's always used together with the UniqueAddress of the node, which is hostname:port:UID. After restart it will be different, i.e. a new node.

[2017-05-23 08:23] patriknw commented on #22970
I think `supervise` reads best

[2017-05-23 08:26] ktoso commented on #22970
supervise reads great, thanks for the suggestion - on it.

[2017-05-23 08:27] #23006 closed

[2017-05-23 08:32] eli-jordan commented on #23008
@patriknw I'm curious why this approach is preferred over simply incrementing the counter in the versions map for the current node.

[2017-05-23 08:42] patriknw commented on #22082
Looked at the logs. It's the first update that is not completed within the 5 seconds (no UpdateSuccess reply). We should run this more in a repeat job with debug logging, but I suspect that this is just (strange) slowness.

[2017-05-23 08:43] patriknw commented on #22980
@raboof is this fixed now?

[2017-05-23 08:44] #22949 closed

[2017-05-23 08:46] patriknw commented on #22870
Thanks for the update, no worries

[2017-05-23 08:46] #22870 closed

[2017-05-23 08:50] patriknw commented on #22982
strange, I thought we fixed all those. I'll take a look.

[2017-05-23 08:58] patriknw commented on #22982
It's indeed an issue:
[code]

[2017-05-23 09:06] raboof commented on #22980
I think so, let's close and re-open when we see problems in this area again.

[2017-05-23 09:06] #22980 closed

[2017-05-23 09:32] jrudolph opened #23010 "akka.remote.ResendUnfulfillableException: Unable to fulfill resend request since negatively acknowledged payload is no longer in buffer. The resend states between two systems are compromised and cannot be recovered."
We have seen a few (but infrequent) reports of quarantining happening with this error message.

The error messages usually look like this:

[code]

The particular acknowledgement setup can be different.

We have seen reports for this occurring on Akka 2.4.7, 2.4.11, and 2.4.17.

It seems to happen under different kind of circumstances:
 * node is restarted
 * temporary unreachability of a node due

[2017-05-23 09:55] #22982 closed

[2017-05-23 10:41] #22946 closed

[2017-05-23 11:59] jrudolph commented on #19343
https://jenkins.akka.io:8498/job/akka-multi-node/2101/changes

[2017-05-23 12:01] jrudolph opened #23013 "FAILED: ActorDocSpec"
https://jenkins.akka.io:8498/job/akka-multi-node/2101/console

[code]

[2017-05-23 12:02] patriknw commented on #23008
Because it must also survive restarts (and stop/start) of the `Replicator` actor without starting from zero when just restarting that actor and not the whole ActorSystem.

[2017-05-23 12:03] jrudolph commented on #23013
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4937/testReport/junit/docs.actor/ActorDocSpec/run_basic_Ping_Pong/

[2017-05-23 12:06] patriknw commented on #23013
that's a very simple race, I'll fix right away

[2017-05-23 12:23] raboof commented on #22985
Hmm adding @BeanProperty does appear to work:
[code]
Did you see any particular problem?

As for `UnhandledMessage` akka-typed just uses the one from akka-actor so that should be fine right?

[2017-05-23 13:10] patriknw commented on #22985
@raboof I found this when writing a blog post, and that was with the released artifact, and my javap output above doesn't list `getRef`. Perhaps you are using Scala 2.12?

Anyway, let's be explicit and non-magic when it comes to our carefully crafted API.

[2017-05-23 13:12] #23013 closed

[2017-05-23 13:23] eli-jordan commented on #23008
Thanks or the reply @patricknw . I'm not sure if what I said was clear though... what I was referring to, is why does the version vector in distributed data use a different counter increment strategy than in the vector clock in akka cluster I.e. https://github.com/akka/akka/blob/master/akka-cluster/src/main/scala/akka/cluster/VectorClock.scala#L79

The vector clock in akka-cluster simply increment

[2017-05-23 13:39] patriknw commented on #23008
Thanks for clarifying. The reason is still what I already said. The `ClusterDaemon` can't be restarted, so there it's no problem.

For ddata you might update a `GCounter` to A-3, and then stop the `Replicator` and start it again, and then increment the counter which would then get A-1 but there is already another A-3 out there on another node and when those are merged the last update (A-1) would b

[2017-05-23 14:07] eli-jordan commented on #23008
Thanks for being patient, I'm a noob with this stuff ;-)

I get the problem now, thanks for clarifying. I was assuming that the data was persisted. So in your example the GCounter would still be at A-3 after actor restart, or jvm restart. But upon further reading I realise this is only the case for specifically configured keys.

[2017-05-23 14:44] jrudolph commented on #23010
The error message means that the sending side of a system message first receives acknowledgement for a message and then later receives a negative acknowledgement for that same message.

How could that happen? IIUC these buffers and management data structures are kept even if the physical connection had to be reestablished.

E.g. in the case above

[code]

Message 0 was likely confirmed earlier. Th

[2017-05-23 15:00] zaharidichev commented on #12035
So I actually put some experiments together, where I am running two actors with quite a bit of state in them. One is maintaining a queue of X Ints and just drawing from the queue and sending them to the other one that is storing them in its own queue.

I have modified the ThreadFactory to use Java-Thread-Affinity and am running that with a Pinned Dispatcher. The results however are roughly the sam

[2017-05-23 15:04] patriknw commented on #23008
cool, I guess we can close this then

[2017-05-23 15:04] #23008 closed

[2017-05-23 15:11] viktorklang commented on #12035
@zaharidichev Have you configured "throughput =  1" for them (both default and the  one you're  comparing against?=

[2017-05-23 15:17] zaharidichev commented on #12035
@viktorklang I have not. However, I wonder whether that matters at all. If I am using PinnedDispatcher in both cases we have a dedicated thread per actor. The throughput param is described as:

[code]

If we have a pinned dispatcher, would the thread be jumping to the `next actor`. Should not be doing that, right ?

[2017-05-23 15:21] viktorklang commented on #12035
@zaharidichev You'll have to create a suite of benchmarks which stress different things.
What the throughput setting does is to define how many messages it should process for the given actor before checking if there's other work to do. (Could be other actors, future callbacks etc)

[2017-05-23 16:01] patriknw commented on #12035
Ints might case a lot ofboxing if sent as messages

[2017-05-23 16:07] tkesslerKedev opened #23019 "possible memory leak when using sharding"
![leak suspect1](https://cloud.githubusercontent.com/assets/7119677/26363868/b39d97ca-3fe2-11e7-9dd1-0f32a7ceff36.JPG)
![leak suspect2](https://cloud.githubusercontent.com/assets/7119677/26363886/cd43230c-3fe2-11e7-93d6-a0622a214e10.JPG)

We use akka 2.5.1 with cluster, sharding and cassandra persistence.

When executing load tests we find most of the heap being consumed by instances of akka.actor

[2017-05-23 17:14] ktoso commented on #23019
This simply means you're starting a lot of actors and not stopping them. Actors have explicit lifecycles - please read the docs: http://doc.akka.io/docs/akka/current/scala/actors.html#Actor_Lifecycle && http://doc.akka.io/docs/akka/current/scala/actors.html#stopping-actors-scala

You need to drill down into these actors and in the report and find out what exact instances those are (or paths / name

[2017-05-23 18:24] hseeberger opened #23020 "[akka-typed] Move the behavior factories to Behavior?"
Why are `immutable`, `deferred`, etc. defined on `Actor`? Do we need `Actor` at all?

[2017-05-23 18:24] ktoso commented on #23020
It is "the DSL".
The other bits are "the raw things".

[2017-05-23 18:27] hseeberger commented on #23020
For me it's confusing. I'd rather keep things simple and unique. And you know what happened to the current ActorDSL ...

[2017-05-24 01:27] shangd commented on #23008
@patriknw Thanks for the replies, makes sense to me now.

I was thinking from a concurrency perspective that maybe the global atomic counter was necessary because otherwise 2 concurrent updates may create 2 different data values with the same version and then the merge will become non-deterministic. I guess the akka cluster `VectorClock` which uses local instance counter won't have this problem si

[2017-05-24 05:53] patriknw commented on #23008
Good thinking. It's not needed for concurrency reasons. In cluster it's only used by the ClusterDaemon actor and in ddata only by the Replicator actor (the modify function of the Update message is invoked by the Replicator actor)

[2017-05-24 06:19] tkesslerKedev commented on #23019
that's the only way we create actor instances. Following code snippet is from the supervisor actor which creates the actor instances:

[code]

I've checked the logs, the creation of actors is executed only once, but 1000s of LocalActorRefs are in memory.

[2017-05-24 06:39] patriknw commented on #23019
Could you provide a minimized reproducer of the problem and we will look into it.
For example, how many different entities do you exercise in the test and when do you stop those?

[2017-05-24 06:49] johanandren commented on #23020
`javadsl.Actor` and `scaladsl.Actor` _are_ the APIs. So that is definitely not comparable to `ActorDSL`. Maybe we should remove the factories in  `Behavior`, just keep the shared singletons, and mark those internal to avoid confusion though?

[2017-05-24 06:50] hseeberger commented on #23020
Yeah, that sounds good.

[2017-05-24 07:09] raboof commented on #22985
Well, on v2.5.99-TYPED-M1 (and on master) `@BeanProperty` is not present on that case class. I'm OK with adding the getter explicitly though :).

[2017-05-24 07:14] tkesslerKedev commented on #23019
I'll try to extract a reproducer. I've added some debug logic printing the stack trace when new instances of the actor are created. This is the output:

INFO  09:11:35.285 [MonitoringMessageProcessor-akka.actor.default-dispatcher-23] d.d.r.s.m.MonitoringMessageParser - new instance of MonitoringMessageParser created:
java.lang.Thread.getStackTrace(Thread.java:1556)
de.dbschenker.rail.sresb.monitor

[2017-05-24 07:27] patriknw commented on #23020
the only factories that exists in `Behavior` are for `same`, `unhandled`, `stopped` and such and those are needed to be able to write an `ExtensibleBehavior` without depending on language specifics. That is power user api. The one-stop-shop for normal users are `Actor.<ctrl-space>`.