[2017-05-24 07:30] patriknw commented on #22985
ah, I was looking at wrong class, `akka.actor.Terminated`
that explains it, but my opinion doesn't change

[2017-05-24 07:58] hseeberger commented on #23020
OK, I'll speak up one last time before I give up.

Although I follow the development of Akka closely, I'm not working on Akka itself, but I'm a user, i.e. one of those guys you are developing Akka for. As a user (who has proven to pay a lot attention to good API design and good code style) I naturally have a different perspective than you guys and from my perspective the current API is a little co

[2017-05-24 08:05] tkesslerKedev commented on #23019
Do you have any idea why "Create" system messages are sent for each of our messages?

[2017-05-24 08:08] #22900 closed

[2017-05-24 08:17] weihsiu commented on #22730
what i end up doing for case like yours is to zip a Source.unfoldResourceAsync() with my existing flow.  that way, the resource i opened in unfoldResourceAsync() can be used in my flow.  the only problem i've experienced with such approach is the timing when the resource is closed: the resource gets closed before my flow is done with it.

i think we need something to manage the resources better an

[2017-05-24 08:44] johanandren opened #23022 "Link to conductor from deployment options page in the docs"
I think we should have a short text about conductr being an option for deployment, and a link to their docs, in the Use-case and deployments section of the docs.

[2017-05-24 08:51] johanandren commented on #23022
This is the page I'm talking about:
http://doc.akka.io/docs/akka/2.5.1/intro/deployment-scenarios.html

Could be nice with other deployment options mentioned as well.

[2017-05-24 08:53] ktoso commented on #23022
Let's just link to https://conductr.lightbend.com/docs/2.0.x/DevQuickStart for now

[2017-05-24 09:26] tkesslerKedev commented on #23019
I have found the cause...

[code]

We were using the HashCodeMessageExtractor to spread load over shards. But the entityId will be included into the actor Path so that the path differs for each message. The following snippet shows the code that works fine avoiding creating lots of actor instances:

[code]

[2017-05-24 09:26] #23019 closed

[2017-05-24 09:33] #22970 closed

[2017-05-24 09:56] patriknw commented on #23019
Good that you found the problem, but sounds like you have misunderstood the concept of entityId. The entityId is something you extract from the message, e.g. a user-id, and for each unique entityId there will be one entity actor hosted by Cluster Sharding. E.g. send all messages for user "abc123" to a specific entity actor.

In that code you use the class name of the message, meaning that there wi

[2017-05-24 11:17] jrudolph opened #23023 "Make sure that causes for `Disassociated(Unknown)` are consistently logged"
In old akka remoting, in most cases when a disassociation happens, the same error message will be logged because internally various causes are tracked as `Unknown`. We probably don't want to change the actual handling but we should make sure that actual causes are logged to DEBUG when a `Disassociated(Unknown)` object is created to simplify debugging those issues.

[2017-05-24 14:18] patriknw opened #23025 "OversizedPayloadException DeltaPropagation"
This can be reproduced with VotingServiceSpec in akka-samples, https://github.com/akka/akka-samples/issues/25

Payload size for [akka.cluster.ddata.Replicator$Internal$DeltaPropagation] is [173178] bytes

What I think is going on is that when doing many updates quickly the delta propagations are accumulated without bounds. By slowing down the voting in the test the message size is small.

Not sure

[2017-05-24 14:53] disblader opened #23026 "Websockets client and illegal headers"
Hello,

It seems that illegal headers crash the websocket client flow.

I am trying to connect to a websocket server which sends a server header containing a semicolon (e.g. "server: something; something"). When attempting to connect, akka seems to die. The log:

    [DEBUG] [05/24/2017 15:35:39.672] [run-main-0] [EventStream(akka://default)] logger log1-Logging$DefaultLogger started
    [DEBUG] [

[2017-05-24 16:24] raboof opened #23027 "Provide an easy way to switch to the most recent version of the docs"
We used to have `warnOldDocs.js`, but that got lost with our move to paradox.

We should either reuse `warnOldDocs.js` or find another way to achieve this functionality.

May need #23024 to be reintroduced.

[2017-05-24 17:57] ktoso opened #23029 "ScalaFiddle should not execute on page load"
When the page loads, we immediately execute the scalafiddle snippet (see example here http://doc.akka.io/docs/akka/current/scala/actors.html#here-is-another-example-that-you-can-edit-and-run-in-the-browser- ).

In order to avoid heating CPUs when people are not really interested in running the example, we should just load the fiddle, but not run it - people can run it if they want to using the run

[2017-05-24 17:58] ktoso commented on #23029
Sorry, my bad this should be logged in paradox instead I guess.

[2017-05-24 17:58] #23029 closed

[2017-05-24 18:23] 412b opened #23030 "regression in sharding in akka 2.5.2 with `StartEntity`"
`StartEntity` leaks to userspace, to be precise to extractors. In our case it lands in our `MessageExtractor`, which is really strict and is throwing an exception.

[2017-05-24 18:39] 412b commented on #23030
the problem appears because [here](https://github.com/akka/akka/blob/master/akka-cluster-sharding/src/main/scala/akka/cluster/sharding/ShardRegion.scala#L725) `deliverMessage` is called, which in turn calls `extractShardId` [here](https://github.com/akka/akka/blob/master/akka-cluster-sharding/src/main/scala/akka/cluster/sharding/ShardRegion.scala#L750) and for `StartEntity` can be undefined or lik

[2017-05-24 18:46] patriknw commented on #23030
Sorry for the inconvenience, but that is the intention. The `extractShardId` function must now understand `StartEntity`.

From [announcement](http://akka.io/blog/news/2017/05/24/akka-2.5.2-released):

[2017-05-24 18:46] raboof commented on #23030
This is expected: when upgrading from 2.5.1 to 2.5.2 you will have to update your `extractShardId` function as described in the release notes. See http://akka.io/blog/news/2017/05/24/akka-2.5.2-released#akka-252 for an explanation of what to change and references to read up on why this change was necessary.

We typically make the upgrade as painless as possible, but in this case we didn't see a wa

[2017-05-24 18:46] #23030 closed

[2017-05-24 18:52] 412b commented on #23030
@patriknw while I agree that it's outlined in the announcement (my fault that I wasn't reading the announcement), but that means that 2.5.2 is not a drop-in-replacement for 2.5.1, though my expectation was that minore releases are to be drop-in-replacements.

[2017-05-24 20:06] patriknw commented on #23030
That is our goal. At the same time we must be allowed to fix bugs and that can mean changed behavior. The alternative in this case would have been to live with an issue that could result in critical problems in running production systems. Several incidents have already been reported.

[2017-05-25 10:50] ktoso opened #23032 "Should we make Merges easier to treat as Sources?"
As mentioned by @QmQvl on gitter:
`is mergePreferred (http://doc.akka.io/docs/akka/current/scala/stream/stages-overview.html#mergepreferred) not available outside GraphDSL?`
`having to write at least 4-5 lines of ceremonious code is not that much cleaner, arguably 🙃`

There is some truth to that - as we know the GraphDSL is the "power user mode", yet already for a MergePreferred people need to dro

[2017-05-25 16:21] eyalroth opened #23034 "The documentation "become/unbecome" section contains an invalid link"
The documentation [become/unbecome section](http://doc.akka.io/docs/akka/2.5.2/scala/actors.html#encoding-scala-actors-nested-receives-without-accidentally-leaking-memory) contains an invalid [link](https://github.com/akka/akka/tree/v2.5.2/akka-docs/src/main/scala/docs/actor/UnnestedReceives.scala).

[2017-05-25 16:30] eyalroth opened #23035 "The actors page of the documentation contradicts itself in regards to "incarnations""
The actors page of the documentation contradicts itself in regards to "incarnations".

From the [actor lifecycle section](http://doc.akka.io/docs/akka/2.5.2/scala/actors.html#actor-lifecycle):

From the [initialization patterns section](http://doc.akka.io/docs/akka/2.5.2/scala/actors.html#initialization-patterns):

The former claims that multiple instances of the same actor-ref are in fact of the

[2017-05-26 05:44] tkesslerKedev commented on #23019
As far as I understood the behavior: The reason why so many actor instance had been created was, that the entityId is included into the actor path. Eliminating too many different entityIds solved the issue.

[2017-05-26 06:21] johanandren commented on #23026
Moved to the akka-http issue tracker.

[2017-05-26 06:21] #23026 closed

[2017-05-26 07:16] #23034 closed

[2017-05-26 14:06] arpanchaudhury commented on #22865
Hi, request repository owners to kindly conclude this issue. I have updated the PR already.

[2017-05-26 14:51] ktoso commented on #23035
Good point, would you want to reword the first one? Thanks for the PR in advance!

[2017-05-26 14:53] ktoso opened #23042 "Persistence cleanup: Recover.none should include None snapshot criteria"
It's actually not an issue for most impls since we apply `.limit(toSNR)` when we push the criteria to the snapshot store (so it becomes a no-op recovery anyway).

[2017-05-26 15:35] johanandren opened #23044 "Surprising behavior of concat"
Given this code:
[code]
I'd expect the following order of the two first printlns:
[code]

But it turns out because of #19271 that `Source.concat` and `Concat()` (but not `new Concat()`) eagerly pulls both inputs because of this: https://github.com/akka/akka/blob/b3d00afdd1e607c2d227f3ab559c11978d366c68/akka-stream/src/main/scala/akka/stream/scaladsl/Graph.scala#L897 which was added in #19271

This

[2017-05-26 20:17] zaharidichev commented on #12035
@viktorklang

I designed a benchmark based on the Ping Pong ForkJoin Benchmark as suggested by @patriknw. In this scenario pairs of actors are exchanging messages. In addition to that, I put together a quick proof of concept for an `ExecutorService` which associates a Runnable with a thread based on its hash. As a result of that each `Mailbox` gets run on the same thread as it used to run. In addi

[2017-05-27 06:27] atiqsayyed commented on #22874
@patriknw I wanna pick this up.. It'll be a good thing to start for a beginner like me !

[2017-05-27 07:07] taigua opened #23045 "[akka 2.5.2 TestKit] testActor receive duplicate message."
In the following code, I just send one message (int 1) to the testActor,
but in expectMsgPF, it receive duplicate messages (two 1s).
Please help.
[code]

[2017-05-27 14:03] eyalroth commented on #23035
I'm relatively new to Akka, which explains why I read the documentation, and I really am unsure which is the right definition.

There seem to be [other](http://doc.akka.io/docs/akka/2.5.2/scala/general/addressing.html#what-is-an-actor-path-) [mentions](http://doc.akka.io/docs/akka/2.5.2/scala/general/addressing.html#actor-reference-and-path-equality) of the term in the documentation -- along with

[2017-05-27 14:22] patriknw commented on #23035
You are right, a restart doesn't bump the "incarnation". It's the same
actor from the outside.

Stop followed by a start will result in new incarnation, i.e. ActorRef
pointing to the old incarnation is useless, messages sent via old ActorRef
will not be delivered to the new Actor incarnation.

/Patrik
lör 27 maj 2017 kl. 16:03 skrev eyalroth <notifications@github.com>:

[2017-05-27 14:34] eyalroth commented on #23035
In that case, I don't think I can revise the second section. My knowledge of the framework and its internals is fairly minimal, hence I would have to guess what is the right description of its functionality.

[2017-05-27 14:51] patriknw commented on #23020
I have read this again and I'm not sure I understand what the issue or suggestion is?

Would you like the factory methods to be on Behavior instead. Then we would need scaladsl.Behavior and javadsl.Behavior and the interop would be problematic.

Or is it just the word Actor that you don't like because it is actually factories of Behavior. I like that Actor is part of the naming. Behavior can mean

[2017-05-27 14:54] patriknw commented on #23035
No problem. We'll take this one. Thanks for spotting. Other PRs for more obvious thinks are welcome when you read the rest of the docs.

[2017-05-28 06:28] patriknw commented on #22874
Excellent, thanks

[2017-05-28 13:04] Hawstein commented on #23045
Oops, this is because the JavaPartialFunction.apply is invoked two times.

I will fix it.

[2017-05-28 18:52] viktorklang commented on #12035
Thanks for the update @zaharidichev!
What I'd find extremely interesting is to plot those numbers compared to having a throughput setting at {1, 2, 8, 16, 128, 1024}

To see how much effect message batching has compared to thread pinning. Could you add that and report back? Thanks!

[2017-05-28 19:55] zaharidichev commented on #12035
@viktorklang I will certainly run that benchmark tomorrow morning and post the results.

[2017-05-28 20:08] viktorklang commented on #12035
@zaharidichev Cool, thanks. When you're up for it, send a link to the bench repo so others might take it for a spin on other OSes. :)

[2017-05-28 21:04] zaharidichev commented on #12035
@viktorklang will definitely do so. Would you be interested in a contribution with an alternative EecutorService implementation. There are further optimizations that can be done apart from actor-thread-core affinity such as lock free ques for the runnables and so on.

[2017-05-29 01:32] 123avi opened #23049 "search is not working properly"
Tried to use search with the most basic query ("future") , see attached image
<img width="1078" alt="screen shot 2017-05-29 at 4 29 48" src="https://cloud.githubusercontent.com/assets/3158849/26533919/b4c2e012-4427-11e7-8ab0-7dc11943a802.png">

[2017-05-29 04:11] jangoolie commented on #22276
Created a PR for this https://github.com/akka/akka/pull/23050

[2017-05-29 07:01] viktorklang commented on #12035
@zaharidichev I'd love to, but cannot make any commitments, I'm swamped for the foreseeable future. :/

[2017-05-29 07:04] jrudolph commented on #23044
There was this ticket before https://github.com/akka/akka/issues/18683 which was about laziness of subscription (which seems to be a slightly different topic).

[2017-05-29 07:50] hseeberger commented on #23020
Currently `Actor` "only" defines methods to create `Behavior`s. Why not move these to `Behavior`? For me the context and hence the meaning of "behavior" should be pretty clear for anyone using Akka.

[2017-05-29 08:19] patriknw opened #23052 "consolidate java/scala content"
With the `@java` and `@scala` tags and the multi-tab code snippets it's possible to consolidate java and scala content into same .md file and avoid duplication.

Example: https://raw.githubusercontent.com/akka/akka/master/akka-docs/src/main/paradox/scala/guide/tutorial_1.md

- [ ] actors.md - @richard-imaoka
- [ ] ... *you can help too! Please write a comment what you're working on to avoid duplic

[2017-05-29 08:28] patriknw opened #23053 "API Link in navigation tree"
Would be nice with a link to API docs in the navigation tree. Might be technically difficult to add it there? Other suggestions of where to place it? In the drop down menu?

[2017-05-29 08:30] raboof commented on #23049
Thanks for reporting! We're aware of the issue, it's because the Algolia indexer configuration got confused by our new documentation layout. They're updating the configuration and search results should be back soon - let's close this issue when that happens.

[2017-05-29 08:46] pepegar opened #23054 "format error in documentation"
I think that the new design is not aware of this kind of substitutions that worked previously:

![screen shot 2017-05-29 at 10 44 51](https://cloud.githubusercontent.com/assets/694179/26542882/e5b42b8e-445b-11e7-9047-2acd64b1bb53.png)

This can be found in [Testing Actor Systems page](http://doc.akka.io/docs/akka/current/scala/testing.html).

I think something is trying to expand that to an email

[2017-05-29 08:48] raboof commented on #23054
Hmm actually these substitutions are new, but it looks like I made a mistake there.

[2017-05-29 08:56] patriknw commented on #23020
"currently" is also important in your suggestion. It might not only be `Behavior` factories there in the future, it might be other things related to actors.

[2017-05-29 08:58] raboof commented on #23054
Looks like you can't use a directive directly after 'normal' text - good to be aware :).

I shortened the intro and removed the switch entirely here.

[2017-05-29 09:03] pepegar opened #23056 "Scaladoc in PersistentFSMBase does not compile"
![screen shot 2017-05-29 at 11 02 37](https://cloud.githubusercontent.com/assets/694179/26543463/5b174058-445e-11e7-8705-a69f250466ef.png)

It's lacking the object declaration.

[2017-05-29 09:20] #23056 closed

[2017-05-29 09:26] Hawstein opened #23058 "Optimize highestSequenceNr method in AtomicWrite"
Currently:

[code]
Its time complexity is `O(n)`. Since we do the traverse in `require` statement, we can record the highestSequenceNr and make this method `O(1)`.

[2017-05-29 09:26] zaharidichev commented on #12035
@viktorklang as promised here are the results:

![benchmark-throughput](https://cloud.githubusercontent.com/assets/4391506/26543836/27f036a8-4468-11e7-9419-1be1a6398403.jpg)

This has 8 threads, 256 actors, each pair doing a 40k messages ping pong. I have varied throughput parameter as you proposed. Raw results can be found [here](https://gist.github.com/). Te benchmark is based on the `ForkJoinAc

[2017-05-29 10:11] hseeberger commented on #23020
OK

[2017-05-29 10:11] #23020 closed

[2017-05-29 10:21] #23054 closed

[2017-05-29 10:21] raboof commented on #23054
Thanks for the heads-up!

[2017-05-29 11:09] raboof commented on #19611
With the latest changes #22991 now fixes both these failures.

[2017-05-29 11:51] #23045 closed

[2017-05-29 12:21] patriknw commented on #12035
What is the scale here? `128 * 15000 msg/s = 1920000 msg/s` ?

[2017-05-29 13:07] Hawstein commented on #23045
@taigua
FYI, the issue is fixed and the pr is merged.

[2017-05-29 13:16] viktorklang commented on #12035
Ah, I meant applying the throughput setting on the default dispatcher to
compare the effect of affinity vs the effect of unfairness (throughput > 1)

--
Cheers,
√

On May 29, 2017 11:26 AM, "Zahari Dichev" <notifications@github.com> wrote:

[2017-05-29 13:21] zaharidichev commented on #12035
@patriknw , This is ops/s. The horisontal ax is the varying throughput. Here is the raw data form the benchmark: [https://gist.github.com/zaharidichev/0d57ed3dce39cfaf943d54296bbae9e2](https://gist.github.com/zaharidichev/0d57ed3dce39cfaf943d54296bbae9e2)

@viktorklang Pardon me but I am not sure that I understand. You would like to see a similar scenario but only benchmarking the default dispatch

[2017-05-29 13:23] viktorklang commented on #12035
I want to bench the affinity-based pool and the default fjp based pool with
both having set a throughput of 1, 2, 8, 16, 128, 1024

To see how the thoughput setting affects the performance of the different
impls.

--
Cheers,
√

On May 29, 2017 3:21 PM, "Zahari Dichev" <notifications@github.com> wrote:

[2017-05-29 13:53] patriknw commented on #12035
So it's 15000 msg/s in total. That is way too little. Then something is wrong. This is my results when running the ordinary `ForkJoinActorBenchmark` with `jmh:run -i 7 -wi 3 -f2 -t1 akka.actor.ForkJoinActorBenchmark`

but I changed:
[code]

meaning that `pingPongMoreActorsThanCores` should correspond to your test.

[code]

[2017-05-29 13:56] 2m commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/730/consoleFull

[2017-05-29 13:57] 2m commented on #21810
https://jenkins.akka.io:8498/job/akka-nightly/4453/consoleFull

[2017-05-29 13:58] 2m commented on #21660
Different test, same spec: https://jenkins.akka.io:8498/job/akka-release-2.4/222/consoleFull

[2017-05-29 14:04] #23042 closed

[2017-05-29 15:02] #22985 closed

[2017-05-29 20:56] zaharidichev commented on #12035
@patriknw You are entirely right. I had a little mistake in the number of invocations that I specified in the benchmark annotation so results were scaled in a wrong way. Anyway I corrected that and ran everything again. Here is a plot that compares the default fork join pool vs the affinity pool of size 8 vs a fixed thread pool of size 8. @viktorklang, you were also right - these are quite Interes

[2017-05-29 21:15] Silv3rcircl3 opened #23065 "LazySourceSpec - "propagate attributes to inner streams" tests flatMapMerge"
probably copy paste mistake

from
https://github.com/akka/akka/blob/master/akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowFlattenMergeSpec.scala#L199

to
https://github.com/akka/akka/blob/master/akka-stream-tests/src/test/scala/akka/stream/scaladsl/LazySourceSpec.scala#L107

[2017-05-30 02:38] jrduncans opened #23066 "supervison strategy not applied to flatMapMerge"
I would expect that the flatMapMerge below behave the same as the mapAsyncUnordered:

[code]

The output is:

[2017-05-30 02:42] jrduncans commented on #23066
The mapAsyncUnordered output is the desired output (the whole item from the top-level is dropped when there is a failure in the sub-flow, but the other items that did not have a failure in the sub-flow make it through).  I tried other approaches of having different materializers with different supervision strategies in scope for the construction of the outer flow from the inner flows without being

[2017-05-30 04:56] 2m opened #23067 "Message is None in Java serialization warning"
Incoming message attempted to use Java Serialization even though 'akka.actor.allow-java-serialization = off' was set! Message class was: [None]

This could be if the `fromBinary(buf: ByteBuffer, manifest: String)` of the `DisabledJavaSerializer` is called [here](https://github.com/akka/akka/blob/7a0e5b31f8105aaff75e71f130048545c9edffe1/akka-actor/src/main/scala/akka/serialization/Serializer.scala#

[2017-05-30 05:32] patriknw commented on #12035
Thanks for investigations. Interesting! I think it would be good if you can share your code with a PR/branch so that we can start early review and try running/profiling it on more machines.

[2017-05-30 08:12] viktorklang commented on #12035
@zaharidichev I think the main benefits of  FJP is: work stealing & lockless striped submissions (i.e. no central work queue bottleneck as you can see in the fixed-size-dispatcher)

[2017-05-30 08:23] zaharidichev commented on #12035
@viktorklang That makes sense that the absence of a blocking queue. Alright, I will clean up things and push a PR branch and you can determine where we go with that. I do however feel that this might be a good alternative to fixed size pools, especially if it has both actor and thread affinity as well as lock free queue as the main work handling fabric.

[2017-05-30 08:39] viktorklang commented on #12035
@zaharidichev There's already a bounded non-blocking queue [in Akka itself](https://github.com/akka/akka/blob/master/akka-actor/src/main/java/akka/dispatch/AbstractBoundedNodeQueue.java#L23).

I'd probably have an Array of N (where N is the pool size) such queues bounded by a configuration parameter (guesswork really, but putting it at a large enough value to make sure it deals with real life usag

[2017-05-30 08:46] zaharidichev commented on #12035
@viktorklang , thats exactly how I was imagining it apart from the fact that I was not aware of the MpSc lockless queue in Akka and was looking to use [JCTools](https://github.com/JCTools/JCTools) for that.

[2017-05-30 08:55] viktorklang commented on #12035
@zaharidichev I'd use the MpSc from Akka (for now). I'd also put in the shutdown callback of the thread to spawn a new thread inits place in case of unexpected thread death.

[2017-05-30 10:26] zaharidichev commented on #12035
@viktorklang, would you say that pool should be in the Scala or Java src folder ?

[2017-05-30 11:17] viktorklang commented on #12035
@zaharidichev Depends on which language it is written in, no?

[2017-05-30 11:19] zaharidichev commented on #12035
Indeed it does. I guess the question was whether Scala or Java is preferred

[2017-05-30 11:30] viktorklang commented on #12035
@zaharidichev I'd recommend making the prototype in the language which you are the most productive with at this point. We can always translate to Scala as needed. (core is in Scala, the things which are in Java are either things which are impossible to correctly express (performance reasons or capability-wise) in Scala, or are Java APIs.

The implementation of the pool would not be visible to end-

[2017-05-30 12:49] #15283 closed

[2017-05-30 13:53] taigua commented on #23045
Thanks. I downloaded your patch and made a personal build, it works.

[2017-05-30 13:54] taigua commented on #23045
@Hawstein
Thanks. I downloaded your patch and made a personal build, it works.

[2017-05-30 14:17] raboof commented on #17122
@hseeberger removing the `PingClose` workaround @drewhk introduced in `TcpHelper` for #16553 makes `TcpSpec` fail on Windows 8, so that suggests this ticket is indeed still open/valid.

[2017-05-30 15:31] gosubpl commented on #22771
Will PR after making sure Paradox compiles (need to get hands on my Linux box - see https://github.com/akka/akka/pull/22988 )

[2017-05-30 15:36] gosubpl commented on #22974
https://github.com/akka/akka/blob/master/akka-distributed-data/src/test/scala/akka/cluster/ddata/ORMultiMapSpec.scala#L521-L525

[2017-05-31 02:53] atiqsayyed commented on #23052
@patriknw I'd be very happy to take this up, could you please explain a little more of what are we planning to do? And what are the areas that we'll be focussing on?

[2017-05-31 07:22] raboof commented on #23052
@atiqsayyed that would be great!

Roughly the process is as follows:
* Compare a file in `akka-docs/src/main/paradox/java/...` with the same one under `akka-docs/src/main/paradox/scala/...`. They should roughly cover the same contents, but one is for Java and the other is for Scala. The 'compare files' feature of IntelliJ IDEA is a nice tool for this.
* Update the file in the `scala` folder to con

[2017-05-31 08:12] 0x53A opened #23071 "[Performance] GetProcessorCount is slow"
sorry, I confused akka and akka.net :\

~This is from an Application Profile:~

![image](https://cloud.githubusercontent.com/assets/4236651/26622005/20e792a2-45e9-11e7-8284-19c0cf3268bf.png)

~The workload is probably relatively unusual in that there are a lot of calls, which each only do a small amount of work.~

----------------

__Versions:__

[code]

----------------

~I haven't yet taken a lo

[2017-05-31 08:17] #23071 closed

[2017-05-31 17:29] karol-brejna-i commented on #18858
@quelgar Do you have the solution described in more details somewhere?

[2017-06-01 00:24] mizerlou opened #23072 "cannot access PersistentFSM.StateChangeEvent from PersistentQuery streams"
i would expect to be able to do something like:
[code]
however, since StateChangeEvent is private to the persistence package (and rightly so), this can't be done.

maybe an extractor could be useful here?

[2017-06-01 00:30] richard-imaoka opened #23073 "Add mentions to akka.stream.impl.package from TraversalBuilder"
While working on `TraversalBuilder` internals, I didn't realize there was already akka.stream.impl.package which is pretty helpful documentation.

I'm going to submit a PR.

[2017-06-01 00:40] richard-imaoka commented on #22458
Hi, just for housekeeping, I assume this was already fixed by #22699 ?

[2017-06-01 00:46] richard-imaoka commented on #22899
Sorry for the long comment... I am still working on this but let me record what I found so far.

A possible solution is at the end.

## Analysis

In short, from the below code, `flow.shape` and `flow.traversalBuilder` got inconsistent on their `outlet`.

[code]
<image src="https://cloud.githubusercontent.com/assets/7414320/26598113/2320a6a6-45af-11e7-8680-80186f66a749.png" width=516 >

### Detaile

[2017-06-01 01:16] richard-imaoka opened #23076 "TraversalBuilder.printTraversal() has inconsistent indentation for Concat?"
With this code:

[code]

`Pop `and `PushNotUsed` inside the same `Concat` get inconsistent indentation.

[code]

I think we should either:

1. Not indent anything at all,  as [`Concat `is only to represent a linear list of commands](https://github.com/akka/akka/blob/ce7a7a2148517bf219799f472fc190b206b1ede8/akka-stream/src/main/scala/akka/stream/impl/package.scala#L47#L55)
2. Otherwise, put `first

[2017-06-01 07:05] richard-imaoka commented on #23052
Hi just to let you know and to avoid duplicated work, I already started on `paradox/scala/actors.md` and `paradox/java/actors.md`. I'm going to submit a PR soon. For other .md files I did not start the work yet.

[2017-06-01 07:22] johanandren commented on #22865
Hi @arpanchaudhury, sorry for the slow feedback on this. The PR need one more review from the core team. We will do that as soon as we can, it has not been forgotten, we are just very busy. :)

[2017-06-01 07:25] johanandren commented on #23044
This issue makes lazy subscription (through Source.lazy) impossible with concat as well, as it pulls right away, which would materialize the lazy source.

[2017-06-01 08:23] edrevo opened #23078 "Akka stream Source.queue hangs when using fail overflow strategy"
Repro code:

[code]

Expected behaviour: the future should end with failure
Observed behavior: the Await never returns

[2017-06-01 08:24] atiqsayyed commented on #23052
Okay.. Unfortunately i also started with actors :D
No Issues, I can work on other files. @richard-imaoka thanks for putting it here..

[2017-06-01 09:00] ktoso commented on #23052
Yep, thanks for coordinating :-)
I'll put a list who works on what in the first post.
Are you going to pick up something else @atiqsayyed ?

[2017-06-01 09:15] richard-imaoka commented on #23052
@atiqsayyed I am really sorry about that ... I started working on actors.md about a week ago, so I should have submitted a PR earlier so that we could avoid the conflict.

Let's coordinate this using the below list (if the core team prefers, please move the list to the 1st comment on this issue).

The core team or I can mark what @atiqsayyed is working on at the moment.

#### /java

- [ ] /java/ac

[2017-06-01 09:55] patriknw commented on #22458
Yes, thanks

[2017-06-01 09:55] #22458 closed

[2017-06-01 09:57] atiqsayyed commented on #23052
I'll work on /java/agents.md
 /java/camel.md to start with and try to do as many as possible...
If someone is picking anything please share it here.. Thanks!

[2017-06-01 13:07] patriknw commented on #23067
Duncan is working on this

[2017-06-02 08:36] hseeberger opened #23081 "Docs for Source.queue incorrectly state that the materialized source is for single thread usage only"
According to a lot of smart Akka team members this is not the case: "SourceQueue that current source is materialized to is for single thread usage only."

[2017-06-02 14:26] johanandren commented on #23078
The problem is that the stream fails (since that is what you said it should do on overflow), so when subsequent elements are enqueued, they are sent to a stopped stream, which will never complete the future. The logic is here: https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/impl/Sources.scala#L180

If you are going to use Fail as overflow strategy you will need to n

[2017-06-02 14:30] johanandren commented on #23081
Actually I think the reason why that comment was in there was just discovered in #23078 :)

[2017-06-02 15:45] richard-imaoka commented on #22932
Let me take care of this after #23079 is done, since it involves `scala-compat.md` in the change set.

[2017-06-02 21:41] fadyZohdy commented on #17389
i started working on this task and from what i understand from the code this is calculated in the failure detector with something like this and correct me if i am wrong
[code]
so my question is should i just log the warning in the phaiAccrualDetector or should it be declared as a function in the FailureDetector trait and implemented in all the traits and move the logging to the RemoteWatcher ?

[2017-06-03 08:51] atiqsayyed opened #23084 "Merge akka-docs/paradox/scala/stream/stages-overview.md and java/stream/stages-overview.md"
Reference #23052

merged Identical contents in scala/stream/stages-overview.md and java/stream/stages-overview.md

 Replace java/actors.md with a symlink to scala/actors.md

[2017-06-03 10:05] atiqsayyed opened #23086 "Merged the document from akka-docs scala/stream/stream-composition and java/stream/stream-composition"

[2017-06-03 16:20] raboof commented on #23049
Should be fixed!

[2017-06-03 16:20] #23049 closed

[2017-06-04 10:09] huntc opened #23091 "Improve doc for TestKitBase.expectTerminated"
`TestKitBase.expectTerminated` requires the actor to be watched. This is not made explicit in the API doc.

[2017-06-04 10:25] 123avi commented on #23049
Yeap looks good, thanks

[2017-06-04 14:22] ktoso opened #23093 "Make sure the build is sbt 1.0 ready"
We should make sure we can try the 1.0 milestones.
We'll get help in speeding up the build then, a friendly bird told me. 🐦

[2017-06-04 14:23] ktoso commented on #23093
Note to self: we need to make sure all plugins are ready.

[2017-06-04 14:27] ktoso commented on #23093
Letting @jvican know about this issue, we'll work on it soon :)

[2017-06-04 15:36] fxlae commented on #22865
I would like to express that the suggested feature has a lot of use cases and is much more flexible than the existing `MergePreferred`, besides removing the danger of starving input streams. It even could replace `MergePreferred` completely when introducing a zero priority ("only take me if other inputs don't have elements ready").

Example: the priorities `5 :: 3 :: 1 :: 0 :: 0` would mean that t

[2017-06-04 20:53] softwareklinic opened #23094 "ePub version of Akka 2.5.x documentation"
Any plans to release/publish the epub or pdf version of akka 2.5.x documentation? -- its really convenient to read on smaller devices.

[2017-06-04 20:59] softwareklinic commented on #23094
http://doc.akka.io/docs/akka/2.5/Akka.epub

[2017-06-04 21:05] raboof commented on #23094
You think so? In fact the new stylesheet seems to work quite well on my mobile, much better than a PDF. epub might be cool though - I'm afraid the link you found still (incorrectly) pointed to the 2.5.1 version, updating that now. http://doc.akka.io/docs/akka/2.5.2/Akka.epub might of course still be useful.

That said it might indeed be cool to bring back the pdf/ebook versions. The logical place

[2017-06-04 21:09] softwareklinic commented on #23094
Can't agree more it's quite readable - still offline reading would be a
good idea -:)

Who is offline these days?

On Sun, Jun 4, 2017 at 4:05 PM Arnout Engelen <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2017-06-04 22:31] tunesmith commented on #22742
Here is a code sample I wrote with a possible usage of getStageActor (note that getStageActorRef has been changed to getStageActor):

https://github.com/Keenworks/SampleActorStage

[2017-06-04 23:50] ktoso commented on #22742
Cool, thanks for the example! Will have a look soon at it (team is a bit traveling and in meetings this week, so sorry for the delays).

I took liberty to fix the typo right away, thanks for pointing out the typo on akka-user 👍  https://github.com/akka/akka/pull/23097

[2017-06-05 07:29] johanandren commented on #23066
To clarify, the current `flatMapMerge` implementation (`akka.stream.impl.fusing.FlattenMerge`) doesn't even look at the supervision strategy. There may be good technical reasons for this, I'm not sure, but a PR exploring if it can be added would definitely be welcome.

[2017-06-05 11:41] alanmcdadeatsky commented on #20690
We have recently upgraded to version 2.5.2. We see that when a dns entry is changed the application does not notice unless the application is shutdown or a connection times out.

We expected the change in DNS to be reflected after the positive-ttl period had passed but this does not happen.

This bug appears to be in version 2.5.2 of akka, is it fixed?

[2017-06-05 11:44] #23058 closed

[2017-06-05 11:45] johanandren commented on #23053
Does it really make sense, should we rather link to individual API doc pages from relevant places inside the doc? I find going to the API docs to "browse" around pretty useless.

[2017-06-05 11:48] gosubpl commented on #23052
For me:  `/java/distributed-data.md` :)

[2017-06-05 11:50] gosubpl commented on #23052
And I will also tackle two other: `/java/typed-actors.md` `/java/typed.md`

[2017-06-05 11:58] patriknw commented on #23053
I personally agree. More useful to put such links inline and/or in sidebar notes (#22906).

[2017-06-05 14:31] slowenthal opened #23099 "Akka-Camel Producer does not forward result if the Camel endpoint is slow"
Although the Camel endpoint is or should be non-blocking, it is possible for the Producer Child actor to effectively block when working with a slow SQL database or with queries that bring back large result set.  Although we should never bring back large result set, and preferably page the database reads using multiple smaller queries, sometime users will create large result sets.

This may prevent

[2017-06-05 14:39] johanandren commented on #23099
Note that the camel module is deprecated since 2.5 and will go away in 2.6

[2017-06-05 17:10] muuki88 commented on #23081
Thanks @hseeberger for creating this issue :)
Related question on Stackoverflow: https://stackoverflow.com/questions/44241920/akka-http-host-level-client-side-api-source-queue-pattern

[2017-06-05 17:18] muuki88 opened #23101 "Akka Http - Host Level Client Side Connection API Source.queue pattern"
Hi,
We started to implement the `Source.queue[HttpRequest]` pattern mentioned in the docs: http://doc.akka.io/docs/akka-http/current/scala/http/client-side/host-level.html#examples

This is the (reduced) example from the documentation

    val poolClientFlow = Http()
      .cachedHostConnectionPool[Promise[HttpResponse]]("akka.io")

    val queue =
      Source.queue[(HttpRequest, Promise[HttpResp

[2017-06-05 17:41] richard-imaoka commented on #23052
Sure, recorded @gosubpl's items, as well as @atiqsayyed's PR.

[2017-06-05 20:21] zaharidichev commented on #12035
@viktorklang , #23104 is a prototype. There are two benchmarks that I have added that people can try out. If the results that you see are enough to green light that as a potential feature, I can focus on it and polish it as much as needed

[2017-06-05 20:31] viktorklang commented on #12035
@zaharidichev Cool, thanks! I hope to have a chance to have a look at it at the end of this week.

[2017-06-06 07:05] jgordijn opened #23105 "Allow for dleta replication in nested structure"
I have a situation with an `ORMap[A, ORMap[B, ORMap[C, D]]]`. It would be very nice if changes to the `ORMap[C, D]` would be propagated as a delta, instead of a delta on the top level `ORMap` with full replication of the nested structure. At Scaladays @gosubpl told me that it is quite feasible to do.

[2017-06-06 11:55] jrudolph opened #23107 "Revisit logging error stack traces in cases of fatal errors"
Right now the error and stack trace is only logged on stderr if `akka.jvm-exit-on-fatal-error` is enabled. It's not clear if that was intended or an oversight.

Context: https://groups.google.com/d/topic/akka-user/R9utH4VIeXU/discussion

@raboof:

            if (settings.JvmExitOnFatalError) {
              try {
                markerLogging.error(LogMarker.Security, cause, "Uncaught error from

[2017-06-06 12:22] okrische opened #23108 "InetAddressDnsResolver.scala should not use sun.net.* , will cause future problems"
Hey,

just started akka with openjdk9, which checks module access by default. I know, its an ongoing discussion, what the default for this will be in the future. Nonetheless, access to sun-classes was always discouraged and by scanning over the code, this scala class seems to be the only offender. Maybe there is a way to write this differently?

The stacktrace:

`
09:08:30.489 [apiServer-akka.acto

[2017-06-06 13:52] jrudolph commented on #23078
I think it's a bug. It should be possible to keep enough state in the asynchronous boundary to fix those edge cases (also #23081).

[2017-06-06 15:08] jrudolph opened #23111 "AsyncCallbacks to just-finishing stages can be lost"
AsyncCallbacks work in a fire-and-forget fashion by sending messages to the underlying `ActorGraphInterpreter`. While the message is in-flight a stage can shut down concurrently. When the queued asynchronous signals are executed later, they are silently discarded if the stage has gone in the meantime. This might be acceptable for some use cases but others rely on no asynchronous signals being lost

[2017-06-06 15:10] jrudolph commented on #23078
The problem here is that stages can lose async signals that are already scheduled while the stage shuts down. I created https://github.com/akka/akka/issues/23111 to track this issue. As the bug is in `CallbackWrapper` it might make sense to manage the queue differently for `QueueSource` to avoid the problem in the first place.

[2017-06-06 16:17] jrudolph commented on #23101
Hi @muuki88, thanks for the comprehensive writeup. Could you copy that ticket over to http://github.com/akka/akka-http where akka-http is maintained these days?

[2017-06-06 17:24] muuki88 commented on #23101
Sure @jrudolph  :)

Closing this in favor of https://github.com/akka/akka-http/issues/1178

[2017-06-06 17:24] #23101 closed

[2017-06-06 20:13] gosubpl commented on #23105
Needs https://github.com/akka/akka/issues/22974 to be done first. It is also recommended to flatten the nested `ORMap` structure to single `ORMultiMap` at the client side, as nested deltas will mean higher replication overhead.

[2017-06-07 08:42] #22932 closed

[2017-06-07 08:44] #23073 closed

[2017-06-07 10:49] zzzhy opened #23114 "RejectedExecutionException with akka 2.3.9"
I use akka to post requests to a livy server, one of my job comes out error like the followings .
the stacktrace :
[code]
the pom file is :
[code]
any ideas for this ?
ps: spray-version: 1.3.3

[2017-06-07 11:10] patriknw commented on #23067
According to my classification this is not a `bug` but an improvement. Bugs are things that can cause incorrect behavior or degradation of performance in production.

[2017-06-07 11:12] #22991 closed

[2017-06-07 11:40] johanandren commented on #20223
https://jenkins.akka.io:8498/job/akka-multi-node/2123/consoleFull

There was some crazy GC going on just a bit before it though.

[code]

[2017-06-07 11:42] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4965/testReport/junit/akka.remote.transport/SystemMessageDeliveryNoPassiveRetryGate/Remoting_passive_connections_off_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/

[2017-06-07 11:46] johanandren opened #23115 "ArteryRemoteDeliveryMultiJvm"
https://jenkins.akka.io:8498/job/akka-nightly/4472/consoleFull

[code]

[2017-06-07 12:30] jrudolph commented on #22324
That is solved as part as #23109.

[2017-06-07 12:33] gchudnov commented on #23114
Guess your thread pool executor has been shut down?
[code]

[2017-06-07 12:49] ktoso commented on #23114
Yeah, such rejections can indeed show up when you try to do things after the pools (so the ActorSystem) terminates.

Please note that Akka 2.3 is ancient, and you should upgrade ASAP to 2.4.x or 2.5.x even.
All of those *are binary and (mostly AFAIR) source compatible*, so upgrading should not pose an issue.
The same can be said about Spray, which also has been end of lifed almost a year ago (with

[2017-06-07 12:49] #23114 closed

[2017-06-07 12:50] ktoso commented on #23114
The follow up in other words:

- either don't issue tasks after shutdown
- if you knowingly shutdown the system (or use revolver etc), ignore these messages since that is normal
- maybe you accidentally shutdown and are not aware?

[2017-06-07 12:55] patriknw commented on #22324
@raboof  I think this is serious enough to warrant a backport to 2.4 (and don't forget to set the milestone)

[2017-06-07 12:58] patriknw commented on #23094
For offline we have ticket https://github.com/akka/akka/issues/22728
can we close this issue (it has to be developed in Paradox)?

[2017-06-07 13:01] raboof commented on #23107
Created #23117. Included the other system termination logging changes too because adding the stacktrace to the logging might make it heavier, so logging to stderr first to be on the safe side.

[2017-06-07 13:01] johanandren opened #23118 "QueueSource does not complete onComplete future on abrupt termination"
I haven't verified this with a test but from reading the sources I see that there is no completion of the `onComplete` promise in `postStop` which is the only callback guaranteed to happen if the materializer is shut down while a stream is still running.

[2017-06-07 13:06] patriknw commented on #23111
Related https://github.com/akka/akka/issues/20503

[2017-06-07 13:07] softwareklinic commented on #23094
Will do / yes
On Wed, Jun 7, 2017 at 7:59 AM Patrik Nordwall <notifications@github.com>
wrote:

--
Regards,
Keyur
Cell: 2147845203

[2017-06-07 13:14] johanandren opened #23119 "SourceQueue.watchCompletion scaladoc is misleading"
It says `Method returns future that completes when stream is completed and fails when stream failed` but in reality downstream failures will likely reach the `QueueSource` through `onDownstreamFinish` so it cannot fulfil that promise (to fail the promise).

The true behaviour is that it will fail if `SourceQueueWithComplete.fail` is called, there is an internal error in `QueueSource` but for other

[2017-06-07 13:15] jrudolph commented on #23111
Indeed, this comment https://github.com/akka/akka/issues/20503#issuecomment-259255543 seems to describe the same issue.

[2017-06-07 13:21] johanandren commented on #23078
Jungle of related tickets here, think it is good to mention #20503 as well.

[2017-06-07 13:41] johanandren commented on #23108
No public APIs available as alternatives as far as I can see.

[2017-06-07 14:59] jvican commented on #23093
This is great @ktoso, thanks for the ticket :smile:. I'm looking forward to using akka as the baseline for our performance work in sbt, so the sooner this is ready the better for us!

[2017-06-07 17:20] patriknw commented on #23093
We discussed this today and decided that we will create a branch where we remove the plugins that are not necessary for an ordinary build (most are for releasing), because it's probably unrealistic to update all plugins for the milestones/RCs.

[2017-06-07 17:25] patriknw commented on #23105
It's also a matter of how complicated it is. Anything is possible, but this is already rather complicated so I'd prefer that we let it sink in and stabilize before making it more complicated.

@jgordijn would you be able flatten the structure and model it as `ORMultiMap`? see https://github.com/akka/akka/pull/23070

[2017-06-07 20:33] jvican commented on #23093
Sure, that sounds good.

[2017-06-08 02:00] zzzhy commented on #23114
thanks all, I found my problem where it is. It's my spray routing-define code bug.

[2017-06-08 07:49] #23094 closed

[2017-06-08 10:51] jgordijn commented on #23105
@patriknw I can absolutely flatten the structure, but I would then need to create a read model to be able to easily traverse the model to get to the right value when requesting data. Depending on how high the overhead would be, it can be better to flatten and have a separate read model, or accept the overhead and have 1 model.

I can imagine that the implementation will be more complicated. If it

[2017-06-08 12:35] arpanchaudhury opened #23125 "Changing type of merged java docs to symlinks"
After merging Java and Scala docs the Java docs need to be removed

1. https://github.com/akka/akka/blob/master/akka-docs/src/main/paradox/java/stream/stages-overview.md
2. https://github.com/akka/akka/blob/master/akka-docs/src/main/paradox/java/stream/stream-flows-and-basics.md
3. https://github.com/akka/akka/blob/master/akka-docs/src/main/paradox/java/stream/stream-composition.md

[2017-06-08 12:51] raboof commented on #23125
Ah - these should have been replaced with symlinks in d5155755dbd, but indeed it seems they were replaced with almost-empty files instead - good catch

[2017-06-08 12:52] agolubev commented on #23111
Let me look into this on the weekend. Will try to do buffering for `CallbackWrapper`

[2017-06-08 12:53] arpanchaudhury commented on #23125
@raboof Thanks. I will create a PR shortly to resolve it.

[2017-06-08 12:56] 2m commented on #23093
Here is a branch from the latest Akka master which starts with sbt 1.0.0-M6: https://github.com/2m/akka/tree/wip-sbt-1.0.0-2m

[2017-06-08 12:58] jvican commented on #23093
Thank you @2m, I'm having a look at it now.

[2017-06-08 13:39] #22889 closed

[2017-06-08 16:33] jrduncans commented on #23066
In the meantime, it seems like at least the docs should be updated to add this to the list, currently on the error handling page (http://doc.akka.io/docs/akka/current/scala/stream/stream-error.html) it lists:

[2017-06-08 17:55] #23125 closed

[2017-06-09 01:39] kejiawu opened #23128 "HttpServer Post request entity have HTTPEntity.strict and HTTPEntity.default type(the probability of 1/5000 )"
I found a problem.
Create Httpserver and send Post request . not keep-alive
The request content length is 594. Usually HttpRequestEntity type is strict, but the probability of 1/5000 will be HttpRequestEntity default type, and I read entity content timeout(3s).

When request content length is 465,  HttpRequestEntity default type didn't appear.
Does anyone know how to solve the problem.
Please help

[2017-06-09 01:43] ktoso commented on #23128
Please read http://doc.akka.io/docs/akka-http/10.0.6/java/http/implications-of-streaming-http-entity.html which explains what's happening here.
Akka HTTP is streaming by nature, so yeah, requests don't have to be strict - they are often streaming. simply consume the entity stream using streaming (`entity.runWith...`) or use directives to convert into case classes. you can also call `toStrict` on i

[2017-06-09 01:44] ktoso commented on #23128
As this does not look to be an issue, but more of a question, closing - feel free to add more details if you think this is a bug and we can reopen it. Generally github is only used for issues / bugs, not asking questions You can ask on [community mailing list](https://groups.google.com/forum/#!forum/akka-user) if you have more questions about using akka

[2017-06-09 01:44] ktoso commented on #23128
Also please note that the right repo for Akka HTTP things is: https://github.com/akka/akka-http

[2017-06-09 01:59] kejiawu commented on #23128
I use entity.toStrict(2300, materializer).whenComplete((strict, th) -> {});
The result is timeout exception.

The code is:
entity.toStrict(2300, materializer).whenComplete((strict, th) -> {
					if (strict != null) {
						String data = strict.getData().decodeString(HttpCharsets.UTF_8.value());
						sender.tell(setResult(ResultCode.SUCCESS, ResultCode.SUCCESS_DESC, data), self);
					} else {

[2017-06-09 02:13] ktoso commented on #23128
what's the request though

[2017-06-09 02:34] kejiawu commented on #23128
Post request :

POST http://192.168.99.203:8080/

POST data:
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:gg="http://www.ggggggggggg.com/ggg/">
   <soapenv:Header>
      <hss:PassWord>boss@123</hss:PassWord>
      <hss:UserName>boss1</hss:UserName>
   </soapenv:Header>
   <soapenv:Body>
      <hss:AAA_BBBB>
         <hss:HLRSN>1</hss:HLRSN>

         <hss:BBBB>

[2017-06-09 02:37] kejiawu commented on #23128
POST http://192.168.99.203:8080/

POST data:
[no cookies]

Request Headers:
Connection: close
Content-Type: text/xml; charset="utf-8"
Accept-Encoding: gzip,deflate
Content-Length: 594
Host: 192.168.99.203:8080
User-Agent: Apache-HttpClient/4.2.6 (java 1.5)

<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:gg="http://www.ggggggggggg.com/ggg/">
   <soapenv:Header>

[2017-06-09 02:38] ktoso commented on #23128
Should just work, you may be doing something weird somewhere else?
Please prepare a reproducer in case you think it's Akka at fault so we can reproduce the issue

[2017-06-09 07:12] johanandren commented on #23066
Yep. Definitely a quite dated section of the docs. Maybe we should rather list the stages that does honour it rather than the ones that doesn't.

[2017-06-09 08:24] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node/2133/testReport/junit/akka.remote.transport/SystemMessageDeliveryNoPassiveRetryGate/Remoting_passive_connections_off_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/

[2017-06-09 11:09] #23107 closed

[2017-06-09 11:10] #22324 closed

[2017-06-09 11:15] #23081 closed

[2017-06-09 11:15] patriknw commented on #23081
Closing this and let's investigate the other issue.

[2017-06-09 11:27] #23001 closed

[2017-06-09 12:32] tkroman opened #23131 "Copy CoordinatedShutdown phases' docs from config docs to sources"
There is a lengthy list of phases in the `CoordinatedShutdown` object and each time I have to choose the right one, I find myself opening browser and going through the docs (http://doc.akka.io/docs/akka/2.5.2/scala/actors.html#coordinated-shutdown). It would be nice to have these descriptions as a scaladoc for each phase. The only drawback is that the compact list of phases will blow up vertically

[2017-06-09 13:43] patriknw commented on #17389
It's probably easiest to impl the logging in the concrete failure detector, e.g. backwards compatibility.

[2017-06-09 14:43] Horusiath opened #23132 "Proposal: actor ref equivalent for sharded entities"
## Motivation

At this moment when one wants to send a message to actors living under supervision of cluster sharding module, he/she needs to:

1. Define custom message.
2. Define custom shard-id/entity-id/payload extraction logic from that custom message type .
3. Obtain a shard region for a given type name.
4. Wrap an actual message payload with a custom message and send it via shard region.

Ex

[2017-06-09 21:49] rcavalcanti commented on #17252
We have a similar issue in Lagom (https://github.com/lagom/lagom/issues/786).

Lagom offers the possibility to define serialisers build from play-json serializers (you guys probably not how it works).

It turns out that if we have a `Format` for a base trait, akka will give precedence to java serializer because a trait doesn't not implement `java.io. Serializable`.

[code]
When attempting to persi

[2017-06-09 21:55] rcavalcanti commented on #17252
Would it be a good solution to simply give lower priority to `JavaSerializer`?

Obviously, if there is a conflict between two user defined serializers, we have no other option then emit a warning and pick the first one. But since everybody agrees that `JavaSerializer` should be avoided, we could at least use it as last resort.
(which means never in case of conflict)

[2017-06-10 05:29] rcavalcanti commented on #17252
Hmm, that would break backward compatibility. Damm!

[2017-06-10 07:31] atiqsayyed commented on #23052
created pull request for stream-cookbook.md

[2017-06-10 21:09] crfeliz commented on #17252
@rcavalcanti You're right. It would seems that having the user's base traits extend serializable (in lagom via Jsonable) is the only short term solution to this.

I do find one thing kind of worrisome about this issue: the warning that alerts the user that java serialization is being used only happens once per entity type (entity meaning the object being serialized). If the user went through the p

[2017-06-10 21:13] 412b commented on #23010
hi hAkkers
we've just recently hit that particular bug in production, so can this be pushed a bit and released faster? :)
I see it being a hidden timebomb in our cluster and fix for it is critical :)

[2017-06-11 07:12] patriknw commented on #23010
We will release on Monday

[2017-06-11 07:16] #23010 closed

[2017-06-11 10:00] filosganga opened #23136 "Diamond flow for akka-stream"
What is a diamond flow?

Many times I have to create myself a diamond flow:  it is a flow that splits into two branches and then merges again in the same branch.

The splitting can be either a broadcast, partition or a bit of both. It is heavily inspired by the [fs2 diamond pipe](https://github.com/functional-streams-for-scala/fs2/blob/series/0.10/core/shared/src/main/scala/fs2/Stream.scala#L1507)

[2017-06-11 20:31] agolubev commented on #23111
almost there - trying to optimize my solution now.

[2017-06-12 06:09] patriknw commented on #23132
Such API can be implemented on top of the Akka Cluster Sharding API. I did something similar in Lagom, which has more limited and opinionated API. https://www.lagomframework.com/documentation/1.3.x/scala/PersistentEntity.html#Usage-from-Service-Implementation

I'm not sure it's such a big problem that it deserves another API in Akka. Having two APIs would not be good.

One thing we could provide t

[2017-06-12 06:11] patriknw commented on #23131
@tkroman Sounds good to copy the descriptions to Scaladoc. PR is welcome.

[2017-06-12 06:17] patriknw commented on #23072
@mizerlou That is a valid point. Could you create a pull request to make `StateChangeEvent` public?

[2017-06-12 06:20] patriknw commented on #22990
closing, doesn't seem to be a real problem

[2017-06-12 06:20] #22990 closed

[2017-06-12 06:20] #22930 closed

[2017-06-12 06:21] #22714 closed

[2017-06-12 06:23] #22114 closed

[2017-06-12 06:30] johanandren opened #23140 "LoggingReceiveSpec"
An Actor must log LifeCycle events if requested

https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4980/testReport/junit/akka.event/LoggingReceiveSpec/An_Actor_must_log_LifeCycle_events_if_requested/
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4981/

[code]

[2017-06-12 06:32] johanandren commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/738/consoleFull

[2017-06-12 06:37] johanandren commented on #22632
https://jenkins.akka.io:8498/job/akka-release-2.4/232/consoleFull

Can't see an actual failure, just barriers failing. Lots of messages going to dead letter though.

[code]

[2017-06-12 07:23] Horusiath commented on #23132
@patriknw if you can derive shardId from entityId (which is not possible in every approach), you still need to have some way of resolving shard region type name. Ofc you could derive it too based of domain-specific message type.

However here's the problem: everything is custom and domain specific, so you cannot create or apply any kind of generic operations on it:

- The simplest example is reply

[2017-06-12 07:23] #22119 closed

[2017-06-12 09:02] patriknw commented on #23115
That's strange. Test looks valid, with barrier and such.

[2017-06-12 10:20] ktoso commented on #23136
Thanks for the ticket, though a bit vague in destruction still I think.
It sounds to me like it is very similar, or even the same as "project" or "bypass" that was discussed a few times: https://github.com/akka/akka/issues/15957 would you give that one a read and chime in there if it would address your use cases, and if not, why not?

[2017-06-12 11:00] #13861 closed

[2017-06-12 11:05] #21651 closed

[2017-06-12 11:07] #21662 closed

[2017-06-12 12:02] ktoso commented on #21834
Closing for now due to inactivity (no more people jumped on it so let's consider it low priority, if it comes up again we can think again) :) Thanks for the ticket though!

[2017-06-12 12:02] #21834 closed

[2017-06-12 12:09] patriknw commented on #22095
This is a good log but I don't think we will be able to find the reason for the failure. I can see the `Received command [DaemonMsgCreate` on 2 of the 3 nodes, so one is missing or very late.

[2017-06-12 12:09] #22095 closed

[2017-06-12 12:13] #21970 closed

[2017-06-12 12:50] patriknw commented on #17252
What we could do is to add another setting:
[code]
and when that is enabled JavaSerializer is treated as least specific for those cases. We must keep the old behavior in Akka for backwards compatibility (at least in patch 2.5.x releases).

[2017-06-12 12:50] patriknw commented on #17252
btw, naming can be better

[2017-06-12 12:51] ktoso commented on #23128
Moved this issue over to akka/akka-http where it belongs more, though I find it not really actionable without reproducer.

[2017-06-12 12:51] #23128 closed

[2017-06-12 12:51] #23099 closed

[2017-06-12 13:13] ktoso commented on #22917
I'll give this a look then

[2017-06-12 14:29] patriknw commented on #23132
Making and abstraction that is to be used instead of `ActorRef` or `ActorSelection` is not interesting. `ActorRef` and `ActorSelection` have different semantics and should not be confused. `EntityRef` would probably have a third slightly different behavior.

Several of the cases you mention can be solved by having an actor in-between, e.g. subscribes to pub/sub and delegates to sharding.

[2017-06-12 17:53] Horusiath commented on #23132
@patriknw going with this line of reasoning, we could give up on abstracting local and remote actor refs, since their use cases can be solved by having remote proxy in-between.

While `ActorRef` and `EntityRef` could have different semantics, their core purpose remains the same: allowing location transparency. The major difference is that while `ActorRef` allows to abstract actors location in spac

[2017-06-12 19:19] rstento opened #23149 "Bug in new QuickStart Guide"
In the section that describes how to run Hello World, it says:
To run Hello World:

In a console, change directories to the top level of the unzipped project.

For example, if you extracted the project to your root directory, from the root directory, enter: cd akka-scala-seed

The default name is now akka-quickstart-scala, so the previous text should be changed to:

For example, if you *used the d

[2017-06-13 00:26] naferx commented on #23052
hey @richard-imaoka , I'll give a try to `/java/stream/stream-integrations.md` and
 `/java/stream/stream-introduction.md`

[2017-06-13 03:03] richard-imaoka commented on #23052
OK, marked the items for @atiqsayyed and @naferx

[2017-06-13 05:28] ktoso commented on #23111
Great, thanks for looking into it :) Marking as in progress then

[2017-06-13 05:28] ktoso commented on #23149
Thanks Ruth, will fix that!

[2017-06-13 05:40] ktoso commented on #23149
It's in the other repo, moving over

[2017-06-13 05:40] #23149 closed

[2017-06-13 05:48] patriknw opened #23150 "Artery lanes for ActorSelection"
When using inbound-lanes > 1 (and/or outbound-lanes > 1) the ActorSelection messages always go to the same lane, since the recipient is the same (`anchor`).

One way is to compute the hash on the way out from the selection elements and store that in the serialized message, which can be peeked (before full deserialization) in the Decoder before the choice of inbound lane. A disadvantage of this is

[2017-06-13 07:27] patriknw commented on #17314
Funny, just because I closed this as obsolete yesterday it failed this night: https://jenkins.akka.io:8498/job/akka-artery-perf/812

[2017-06-13 08:27] 412b commented on #23010
@patriknw thank you, I see release for 2.4. is there a chance to see 2.5 with this fix soon?

[2017-06-13 08:41] johanandren commented on #23140
https://jenkins.akka.io:8498/job/akka-nightly/4488/testReport/junit/akka.event/LoggingReceiveSpec/An_Actor_must_log_LifeCycle_events_if_requested/
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4989/

[2017-06-13 08:48] patriknw commented on #23010
yes, we will release 2.5.3 in a few days

[2017-06-13 08:58] ktoso commented on #22422
I'm also against adding it onto FlowOps, however I would be in favor of making it simple to use as a Source:
See issue: https://github.com/akka/akka/issues/23032
and proposal PR: https://github.com/akka/akka/pull/23033

[2017-06-13 08:58] #22422 closed

[2017-06-13 09:18] #22917 closed

[2017-06-13 09:45] patriknw commented on #23132
So you are suggesting that we should introduce an `AnythingRef` and that should be used in all places in Akka where we currently use `ActorRef`. `EntityRef` and `ActorRef` would be an `AnythingRef`. That's rather unrealistic considering that we would have to be compatible.

Or, do you suggest that `EntityRef` is an `ActorRef`. That's not good because it's not. They have different semantics, e.g. l

[2017-06-13 10:03] ktoso commented on #22075
What should we do with this one @patriknw ?
The issue is that `Mailboxes` is not reachable for classes outside the akka package, is extending this type something we want to allow?

[2017-06-13 10:07] drewhk commented on #23076
The identation implicitly encodes the concat nodes. I found it the best compromise between being explicit with concats or completely ignoring them. Identation is useful as it reflects the depth of the stack the materializer needs to traverse, and also usually corresponds to composition boundaries. (try embedding a flow in a larger flow and see the printout)

[2017-06-13 10:07] ktoso commented on #22365
Putting it back, I don't think I actually started debugging this one yet

[2017-06-13 10:16] ktoso opened #23152 "Add operator: Source.deferred"
Came up on stack overflow: https://stackoverflow.com/questions/44484097/observable-defer-in-akka-stream/44492083#44492083 and I actually think it raises a good point.

The requested semantics are to `Source.deferred(() => externalThingy)` where the externalThingy is `mutable var` or something similar. If we'd just `Source(externalThingy)` the value gets captured too early.

The deferred name as we

[2017-06-13 14:12] patriknw commented on #21988
This has been fixed in https://github.com/akka/akka/pull/23069
Missing barrier.

[2017-06-13 14:12] #21988 closed

[2017-06-13 14:32] raboof commented on #22070
I agree there doesn't seem to be a discrepancy (there's intentionally a different dispatcher for the head actor than there is for the routees), but I do agree the docs are a bit dense here. Might be a good place to try and come up with a diagram?

[2017-06-13 14:37] raboof commented on #22090
I think we're increasingly adding these kinds of features to https://github.com/akka/akka-cluster-management and they're not that interesting to add to JMX anymore. Closing for now, feel free to reopen if you have a strong use case for doing this in JMX.

[2017-06-13 14:37] #22090 closed

[2017-06-13 14:44] johanandren commented on #23152
`Source.lazily(() => Source.single(externalThingy))` ?

[2017-06-13 14:45] johanandren commented on #23152
But won't everyone and their aunt then close over mutable state which will be accessed from another thread and misery and crying etc.?

[2017-06-13 14:51] raboof commented on #22815
@Hawstein  Hmm I don't think the `if (..) .. || .. else true` notation is that easy to read either though...

[2017-06-13 15:28] raboof commented on #23005
Hi @manonthegithub, where did you see a flaw?

The easiest way to 'split' a stream might be to use the partitioning `GraphStage`, http://doc.akka.io/api/akka/current/akka/stream/scaladsl/Partition.html . Does that solve your problem?

[2017-06-13 17:49] manonthegithub commented on #23005
@raboof by splitting I meant using `FlowOps.splitWhen` or `FlowOps.splitAfter`, which return `SubFlow`. You supply `(elem) => boolean` to `splitWhen`/`splitAfter` to do splitting, but if it is stateful it's not safe because it will be shared between different materialisations.

[2017-06-13 19:21] aoboturov commented on #22075
@ktoso - see https://github.com/akka/akka/issues/22075#issuecomment-269780204

[2017-06-14 06:30] Horusiath commented on #23132
No `EntityRef` should not be an `ActorRef`, but they could share common root type, as they root purpose is the same: a proxy which abstracts away message transport details for a given actor.

While this may not be compatible at this moment, it still can be implemented in limited use cases eg. I see that at-least-once delivery and distributed pub/sub could be probably extended to make use of it. At

[2017-06-14 06:40] patriknw commented on #23132
We are not breaking anything with Akka Typed, we are adding another API. Let's consider this again when we design the Sharding API for Akka Typed. Thanks for input.

[2017-06-14 07:27] #23067 closed

[2017-06-14 10:19] johanandren commented on #21810
https://jenkins.akka.io:8498/job/akka-nightly-2.12/235/consoleFull

[2017-06-14 10:23] johanandren commented on #20180
Sorry, still unstable
https://jenkins.akka.io:8498/job/akka-nightly/4495/consoleFull

[2017-06-14 10:29] johanandren opened #23158 "FAILED multi node nightly timed out"
Killed by jenkins after 220 minutes
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/742//consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4990//consoleFull

[2017-06-14 10:34] johanandren commented on #23158
Seems it spent the last 192 minutes after SupervisorHierarchySpec gc-ing.

[2017-06-14 13:14] dbolotin opened #23161 "Stashing in typed actors"
Are there any plans to implement unified way to create typed behaviours which will `stash` unhandled messages until not-`same` behaviour is returned by underlying behaviour; in which case it forwards buffered messages to returned behaviour. This looks like a super common pattern.

[2017-06-14 13:39] #23131 closed

[2017-06-14 14:56] raboof commented on #20180
Interesting detail:
[code]
on JVM-1

[2017-06-15 01:45] ChoJunKyu opened #23162 "syntax Error in Akka Http Document (JAVA)"
hi, im studying akka http module and making a sample codes in the Akka Http Reference(version 10.0.7)

i think i find syntax Error in "Starting and Stopping" which is in "Low-Level-Server-Side-API".
here is the codes.

/*************** Here is the Codes *******************/

ActorSystem system = ActorSystem.create();
Materializer materializer = ActorMaterializer.create(system);

Source<IncomingCon

[2017-06-15 02:09] #23162 closed

[2017-06-15 04:40] ktoso commented on #23162
Please note that akka http lives in: https://github.com/akka/akka-http/
If the issue exists still please open the issue there, thanks!

The source of truth should be the compiler, eclipse can sometimes show good code incorrectly as red and there's nothing we can do about eclipse's java support :)

[2017-06-15 07:17] 2m commented on #21810
https://jenkins.akka.io:8498/job/akka-nightly-2.12/236/consoleFull

[2017-06-15 07:33] richard-imaoka commented on #23076
Closing this as discussed in #23077

[2017-06-15 07:33] #23076 closed

[2017-06-15 07:41] drewhk commented on #22899
Hm great analysis!

[2017-06-15 07:47] drewhk commented on #22899
Isn't the cleanest solution is to just fix `viaMat` to use the proper output port? : https://github.com/akka/akka/blob/ccb587209f64f9cdc76ffc9368627defe9722fa1/akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala#L56

I.e. probably just use:

[code]

[2017-06-15 08:13] jypma opened #23165 "Inaccurate documentation on StreamConverters.fromInputStream"
`StreamConverters.fromInputStream`'s [implementation](https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/impl/io/InputStreamPublisher.scala#L56) emits _up to_ `chunkSize`-length`ByteStream` elements, depending on the availability of the input stream each time it blocks. However, the documentation says:

_Emitted elements are chunkSize sized [[akka.util.ByteString]] ele

[2017-06-15 08:38] 2m commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/743/consoleFull

[2017-06-15 11:25] patriknw commented on #23161
Stash is useful in classic untyped actors because it's a convenient way of restoring the original `sender` when unstashing. In Typed there is no sender so the main advantage disappears. Instead it's better to use an internal buffer, that you also have full control of.

Closing this as a duplicate of https://github.com/akka/akka/issues/22275

[2017-06-15 11:25] #23161 closed

[2017-06-15 11:40] patriknw commented on #22075
Do I understand it correctly that the request is to be able to plugin a custom ThreadFactory (by having the implementation class in config)? What is the use case for that?

[2017-06-15 12:40] ktoso commented on #22075
The reason I commented @aoboturov is because doing what is advice in the comment would not resolve the problem (rather, the class would have to be made public). I also would like to first understand the use case more in depth before we open up things more :-)

[2017-06-15 12:46] aoboturov commented on #22075
@ktoso technically I don't need the `private[akka] def mailboxes: Mailboxes` anymore. The reason I have asked about it in the first place was the compilation problem for which there's an easy workaround... So you could close this ticket... The important part is that we're about to override the ThreadFactory.

[2017-06-15 12:56] patriknw commented on #22075
ok, closing then

[2017-06-15 12:56] #22075 closed

[2017-06-15 16:39] patriknw commented on #20690
@alanmcdadeatsky What version did you update from? 2.4.x or 2.5.1?
I know there was something done around DNS and TTL in https://github.com/akka/akka/pull/22340 but I don't know if it's related.

This ticket is about Akka HTTP, which is now located in https://github.com/akka/akka-http

Please open a new issue.

[2017-06-15 16:44] patriknw commented on #23065
@Silv3rcircl3 Would you be able to create a pull request to fix this?

[2017-06-15 17:05] Silv3rcircl3 commented on #23065
@patriknw nop, sorry, I'm working on the .Net port and therefore don't have any scala/java dev environment

[2017-06-16 03:02] atiqsayyed commented on #23052
HI @richard-imaoka I'm picking these up next
-  /java/stream/stream-customize.md
-  /java/stream/stream-dynamic.md
-  /java/stream/stream-error.md

[2017-06-16 04:32] richard-imaoka commented on #23052
OK, marked the three with your name.

[2017-06-16 07:07] #23022 closed

[2017-06-16 07:32] 2m commented on #22702
https://jenkins.akka.io:8498/job/akka-nightly/4500/consoleFull

[2017-06-16 08:29] #22771 closed

[2017-06-16 11:15] #17389 closed

[2017-06-16 12:47] #21563 closed

[2017-06-16 12:49] #23025 closed

[2017-06-16 13:21] 2m commented on #21389
https://jenkins.akka.io:8498/job/akka-multi-node/2153/consoleFull

[2017-06-16 13:49] #22803 closed

[2017-06-16 16:06] dbolotin commented on #22275
@patriknw thanks for clarification in #23161! Basically using internal explicit buffer it is exactly what I am doing right now. I am collecting messages that I can't handle before initialisation and then send all the buffered messages to `self`, before switching to new behaviour:
[code]
Is it the right pattern?

Basically I came up with the following wrapper behaviour:
[code]

Basically it buffer

[2017-06-16 17:38] rkuhn commented on #22275
With a process DSL (see also https://github.com/rkuhn/akka-typed-session) there is no need to select from the mailbox since you just have many mailboxes and select from which you want to read next.

Concerning your BufferingBehavior: sending to self implies that the buffered messages will arrive after messages that were already in the mailbox when the behavior change was triggered, i.e. the wrappe

[2017-06-16 19:13] patrykpacewicz opened #23179 "GraphDSL not working with mapConcat"
Hi,

I'd like to write a function that would allow me to wrap `Flow[...]` in such a way that the outcome will be `Tuple2[In, Out]`, something like:

[code]

I have successfully created working piece of code using `GraphDSL`.

[code]

I noticed that code I created is not working when `flow` inside the graph is using function ` mapConcat`. Example use case below.

[code]

Is that a bug ? Or did I do

[2017-06-17 04:20] richard-imaoka commented on #22899
I tried this:

but [GraphMatValueSpec](https://github.com/akka/akka/blob/master/akka-stream-tests/src/test/scala/akka/stream/scaladsl/GraphMatValueSpec.scala#L232) failed

`val (m1, m2) = Source.single(1).viaMat(Flow[Int])(Keep.both).to(Sink.ignore).run()`

with the following error, as `Keep.both` was not respected:

Hmm I'll need to figure out how to convert it to the right materialization type..

[2017-06-18 08:47] richard-imaoka commented on #23035
I submitted a pull req. When the core team has time, please see if that makes sense?

@eyalroth FYI I create [a gist](https://gist.github.com/richard-imaoka/28d8e754bdba21f6d485b163c6767e7c) demonstrating the behavior of restart and stop followed by actor re-creation.

[2017-06-18 09:06] richard-imaoka commented on #23091
I was going to raise a pull request for this, but realized:

* other methods in [TestKitBase](https://github.com/akka/akka/blob/15b166765b3810c793b8b1a387255bcb46ffc176/akka-testkit/src/main/scala/akka/testkit/TestKit.scala#L391L400) also do not have all the parameters explained
* and [the user doc](http://doc.akka.io/docs/akka/2.5.2/scala/testing.html#watching-other-actors-from-probes) already ex

[2017-06-18 09:18] richard-imaoka commented on #22883
@iffyio the new docs are ready under the akka-docs directory.

[2017-06-18 11:08] agolubev opened #23187 "Streams: InputStreamSink is blocked when used mapMaterializedValue"
Currently, there is a possibility to send a message to not yet initialized stream.

following snippet fails with timeout error
[code]

this relates to Ref #23111 and Ref #21866 that seems still to be an issue according to https://github.com/playframework/playframework/issues/6743

[2017-06-18 13:38] eyalroth commented on #23035
@richard-imaoka nice!

I think you'd want to add a `println` for the second child at [this part of the gist](https://gist.github.com/richard-imaoka/28d8e754bdba21f6d485b163c6767e7c#file-myactorincarnation-scala-L140) to demonstrate the ID of the newly created incarnation.

[2017-06-18 14:07] richard-imaoka commented on #23035
Ah, thanks. Fixed my gist 😃

[2017-06-19 08:59] patriknw commented on #17314
https://jenkins.akka.io:8498/job/akka-artery-perf/823

[2017-06-19 10:03] forty opened #23194 "Allow actorRefWithAck to materialize a value"
I think it would be nice if it was possible to materialize a value with `Sink.actorRefWithAck`. This could be done either by registering a callback on the init message, or by waiting for a response to the complete message. One on the simple use case I have in mind is just to be able to simply wait for completing of the sink (so a Future[Done] could be enough), but I guess having a value is even be

[2017-06-19 11:16] patriknw opened #23196 "FanInThroughputSpec: unknown compression table version"
[code]

https://jenkins.akka.io:8498/job/akka-artery-perf/825/consoleText

[2017-06-19 11:39] patriknw opened #23198 "failed: FanOutThroughputSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/745

[2017-06-19 11:42] patriknw opened #23199 "failed: FlowSplitWhenSpec"
https://jenkins.akka.io:8498/job/akka-release-2.4/246

Note: 2.4

[code]

[2017-06-19 11:46] patriknw commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/747

[2017-06-19 11:49] patriknw commented on #23198
seems like FanInThroughputSpec is also failing in nightly tests, marking them as pending now and will harden them

[2017-06-19 11:51] #23140 closed

[2017-06-19 11:51] #23072 closed

[2017-06-19 13:35] iffyio opened #23200 "Typos in CONTRIBUTING.md"
* Item 9 in the "General workflow" section of the contributing guide: "slip though" should be "slip through" while "more lose" should be "more loose"

[2017-06-19 14:41] naferx commented on #23052
Hi again @richard-imaoka , I'm going to pick up the files below
[code]
Thanks

[2017-06-19 16:34] #23200 closed

[2017-06-19 16:35] ktoso commented on #23200
@patriknw I think did make it into 2.5.3?

[2017-06-19 19:34] sumnulu opened #23205 "Cancelled sinks are blocking other consumers of BroadcastHub"
The following test case is reproducing the problem. After the cancelled sink subscribed, BroadcastHub does not pulling from the up stream.

[code]

log output
[code]

[2017-06-20 07:29] patriknw commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/748/consoleText

yeah, I'll enable debug logging on this one

[2017-06-20 08:31] raboof commented on #23091
I do think it's useful to (briefly) document this in the API documentation, for easier browsing from an IDE.

[2017-06-20 08:58] richard-imaoka commented on #23091
OK, what about other methods in `TestKitBase` or do we only think about `expectTerminated` for now?

[2017-06-20 09:02] raboof commented on #23091
Most methods pretty much speak for themselves, perhaps start with just `expectTerminated` because it's indeed a bit subtle?

[2017-06-20 09:28] ktoso commented on #23091
+1, let's start from that one. Though to be honest documenting the other ones would likely be also a good idea, can be done separately though (new ticket). It could help newcomers to akka figure out things more easily I guess

[2017-06-20 11:30] atiqsayyed commented on #23052
Is there anything left @richard-imaoka ??

[2017-06-20 12:44] raboof opened #23207 "Logging when Artery drops messages when an outbound queue is exhausted"
When using Artery and the outbound message queue is exhausted, messages are dropped.

This is a reasonable strategy, but it'd be nice to add some logging detailing this is the cause of the dead letter(s), and perhaps link to documentation on what to do about it.

https://github.com/akka/akka/blob/master/akka-remote/src/main/resources/reference.conf#L883

[2017-06-20 12:59] ktoso commented on #23207
Please mark as triaged or new :) I guess this is triaged and artery

[2017-06-20 13:32] patriknw commented on #23207
I agree that we should add this. We should be careful to not log too much, though. E.g. logging each such dropped message can take down the whole system.

[2017-06-20 15:59] 2m commented on #23194
You can get a `Future` which is completed when the stream completes by adding `watchTermination` anywhere in the stream definition.

Do you have another usecase for materialized value for that sink?

[2017-06-20 21:20] forty commented on #23194
How does `watchTermination` know that the sink actor has finished it's processing?I guess it's only watching the `ack` of the last element of the stream? In my case the actor is waiting for some async tasks to complete before I can consider the stream complete.

That said I might be completely misusing `actorRefWithAck` and maybe I should just use something completely different: basically what I a

[2017-06-21 03:56] richard-imaoka commented on #23052
@atiqsayyed I updated the list above. Please pick ones no one is assigned yet.

[2017-06-21 07:30] mbknor commented on #20677
This ticket is maybe related to (or fixed by) #21725?

[2017-06-21 12:18] raboof commented on #22758
I did something similar in https://github.com/akka/akka-http/pull/1221 and liked how it turned out.

That project doesn't allow setting the mock scheduler through `akka.scheduler.implementation` but that could be easily added.

[2017-06-21 21:08] hderms commented on #21191
@drewhk so if the source passed to flatMapConcat fails then the outer supervisor isn't triggered? This behavior seems pretty strange and unintuitive to me and is causing a bug in our production system.

[2017-06-22 00:38] hderms commented on #21191
@drewhk I think there were a few points @iravid made that haven't been addressed and really, the absence of this behavior makes no sense to me:

1. A failed source in flatMapConcat should be treated as though an exception was thrown and should complete the stage with an error
1. A failed stage in a source materialized in flatMapConcat should be caught in the graph's decider

is there any explanati

[2017-06-22 06:13] drewhk commented on #21191
@hderms I think you misunderstand streams supervision. It is a very limited abstraction compared actors supervision. Namely:
 - it is either supported by a stage or not as it has to be explicitly built into stages
 - it is not hierarchical, only applied to single stages. This means there is no bubbling up.

The difference in the two cases by @iravid :

Case 1:
[code]
In this case the supervision s

[2017-06-22 13:05] patriknw commented on #22082
Here is a failure with debug logging https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/749

[code]

[2017-06-22 13:42] patriknw opened #23215 "avoid match error for null message in DistributedPubSubMediator"
Sending null message can't work, but we should not throw match error.
[code]

[2017-06-22 13:45] ktoso commented on #23215
I can fix that one, unless you started hacking on it already @patriknw?
Just adding a check and throwing explicitly is what we want here I assume?

[2017-06-22 14:23] hderms commented on #21191
@drewhk that's what we ended up doing but it's confusing that there's no way to make the failed source bubble up into the supervisor in the second case. We want to be able to log exceptions and we were previously doing that with supervisors, however, we now will have to use multiple approaches to log exceptions because this behavior seemingly differs from the rest of akka streams.
I understand tha

[2017-06-22 14:25] patriknw commented on #23215
I have not started. Use `InvalidMessageException`, we use that in Envelope

[2017-06-22 15:05] drewhk commented on #21191
Remember that flatMapConcat is not necessarily constructing the sources themselves (maybe they come from an upstream `splitWhen`). The function provided to flatMapConcat could actually extract a source from a received element. I.e. there is no necessary parent-child relationship between the concat stage and the flattened sources per se. In those cases, who should supervise the Sources?. In fact, t

[2017-06-22 16:13] alanmcdadeatsky commented on #20690
@patriknw The issue is not related to update. We had it before update, we updated to the 2.5.2 and we the issue is still there. I'll open a new issue and put more details there.

[2017-06-22 20:47] #22082 closed

[2017-06-23 09:29] jlprat opened #23222 "[Docs] Add note explaining Akka-Typed dependency needs to be added for Akka Typed"
Even though it is somewhat obvious that in order to run Akka Typed, one need to add the akka-typed dependency to the project, this is not said anywhere in the documentation.
Furthermore, the dependency itself is not listed anywhere on the docs page (or at least I could not find it).

[2017-06-23 14:55] patriknw commented on #23222
Yes, please :)

[2017-06-23 15:04] jlprat commented on #23222
I can take this and do a PR later today 😃

[2017-06-24 12:45] manonthegithub opened #23224 "TestKitBase.expectNoMsg can sometimes fail after timeout passed"
I've continued investigation on [#90 in stream contrib](https://github.com/akka/akka-stream-contrib/pull/90) and got some new results.
I've decided to switch to akka project to alter expectNoMsg in order to get more info. Here's altered version of expectNoMsg_internal which is called inside expectNoMsg:
[code]
then I run this simplified test:
[code]

After running it for couple of hours the result

[2017-06-24 12:46] manonthegithub commented on #23224
I can create PR if you don't mind

[2017-06-24 14:22] richard-imaoka commented on #22791
I created a PR, and here is my [gist](https://gist.github.com/richard-imaoka/83d49a08aacc25659cad8e0daca3461d) to check the backpressure behavior of a `throttle` stage.

By the way I found [`buffer`](https://github.com/akka/akka/blob/b7d7316c1c63a9476d9c3e39d7a870331750bc99/akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala#L1338L1341) has the following description.

[code]

Shouldn't it b

[2017-06-25 17:00] richard-imaoka commented on #23179
Hi sorry to jump in, but I investigated this issue, and found this seems expected behavior.

Let me know if anything below is wrong or unclear.

## exampleOk

[code]

This works ok, because `mapCocat` is outside the stage created by `zipWithInput`.
The `mapCocat` requires 3 demands (for `(AAA, 111)`,  `(AAA, 222)`,  `(AAA, 333)` ) from the downstream, to pull the next element (`BBB`) from the orig

[2017-06-26 08:50] patriknw opened #23228 "Make cluster membership and leader actions DC aware"
We could have one leader per DC so that the DC can add and remove nodes even if the other DCs are unreachable.

[2017-06-26 08:54] patriknw opened #23229 "Multi DC failure detection: different heartbeating within and between data centers"
* Separate failure detector config (to accustom for higher latency etc) between cluster groups
* Limit the number of nodes in a cluster group that heartbeat other cluster groups (n oldest perhaps?)
* Limit the number of nodes in a cluster group that gossip with other cluster groups (n oldest perhaps?)

[2017-06-26 08:55] patriknw opened #23230 "Make cluster singleton DC aware"
Singleton per DC

[2017-06-26 08:57] patriknw opened #23231 "Make cluster sharding DC aware"
Make it easy to configure sharding per DC (coordinator singleton must be per DC).

[2017-06-26 09:28] raboof commented on #23222
closed via #23223

[2017-06-26 09:28] #23222 closed

[2017-06-26 11:42] #23023 closed

[2017-06-27 05:56] patriknw commented on #17314
https://jenkins.akka.io:8498/job/akka-artery-perf/840

[2017-06-27 06:21] ktoso commented on #21810
https://jenkins.akka.io:8498/job/akka-nightly/4532/consoleFull

[2017-06-27 09:45] #23091 closed

[2017-06-27 12:06] 2m commented on #23194
`watchTermination` completes the materialized future either if the stream is completed (from the upstream), or the stream is cancelled (from the downstream). When the `actorRefWithAck` actor stops, then the stream is going to be cancelled and materialized future by `watchTermination` is completed.

Regarding your usecase it looks like it could be solved with [BroadcastHub](http://doc.akka.io/docs/

[2017-06-27 12:32] #22791 closed

[2017-06-27 15:18] hseeberger opened #23241 "[typed] Asymmetry btw ActorSystem.apply and ActorContext.spawn"
Confusing for simple minds like me:

[code]

I suggest we switch the order of the parameters on `ActorSystem.apply`.

[2017-06-28 04:44] patriknw commented on #23241
Good suggestion, please PR

[2017-06-28 05:33] patriknw opened #23243 "Plan for rolling update from non DC aware cluster"
Old version will not include the required team role. We could solve that by adding the default role in deserialization. Would it be better to represent default team as "no role"? Might be more special cases then?

We should document how a rolling upgrade can be performed:
* from old version without this feature
* when changing from one (default) team to multiple teams

[2017-06-28 07:55] hseeberger commented on #23241
OK ... stay tuned.

[2017-06-28 08:52] hseeberger commented on #23241
See #23244.

[2017-06-28 10:03] raboof commented on #23243
Representing the default team as "no role" might make seamlessly upgrading simpler, but indeed produce more special cases in the long run - so probably best to keep the `team-default` role.

Rolling upgrade from old version without this feature should be as seamless as possible, good idea to use this issue to think about if there's any gaps. Indeed things like adding the default role in deserializ

[2017-06-28 10:16] raboof commented on #23243
* Cluster Singleton:
  * The `Manager`s on the pre-team nodes will accept messages from post-team nodes
  * The `Manager`s on the post-team nodes will correctly hold off starting a singleton instance until the last pre-team node has shut down if we make sure the pre-team `Member`s will be marked with the `team-default` role on the post-team nodes.
  * The `Proxy`s on the pre-team nodes will correc

[2017-06-28 10:27] ktoso opened #23245 "Multi DC failure detection: new events DataCenterUnreachable / DataCenterReachable"
Once a team is found unreachable the cluster should not emit individual `MemberUnreachable` events, but should aggregate it into `DataCenterUnreachable` and `...Reachable` versions of events.

These can include perhaps some additional statistics about the link health.
The idea is that someone would watch those events and could decide "datacenter is down!".
We will not do that call in the cluster i

[2017-06-28 10:27] ktoso commented on #23229
Within a DC heartbeating should work as usual, however across cluster teams (datacenters) heartbeating should be done by a subset of nodes so we don't end up sending way too much traffic by just heartbeating everyone in the other cluster.

For example, if a cluster has 10 nodes in each DC, 3 or so nodes could be designated to be the heartbeaters. They should pick some nodes and heartbeat to them.

[2017-06-28 10:27] patriknw commented on #23243
Good analyzis. Sounds like we are good to go for the Singleton if we add the role in deserialization.

[2017-06-28 10:31] ktoso commented on #23229
Why removed the pick next?

[2017-06-28 10:32] raboof commented on #23229
Sorry, GitHub UI confused me, I meant to add it but somehow removed it for some of the issues :confused:

[2017-06-28 10:33] ktoso commented on #23229
ok, no problem :-)

[2017-06-28 10:39] raboof opened #23246 "PubSub across teams"
Distributed PubSub currently supports:
* publish to all subscribers
* send to one subscriber
It might be useful to add:
* publish to all subscribers, but only within my team
* send to one subscriber for each team

[2017-06-28 10:41] raboof opened #23247 "PubSub optimization publishing across teams"
When the cluster is divided in teams and we `Publish` a message to all subscribers, it might be a neat optimization to send the message only once to each other team, and make sure it gets distributed correctly there.

[2017-06-28 10:46] #22865 closed

[2017-06-28 10:48] patriknw commented on #23247
that's a good one

[2017-06-28 10:50] patriknw opened #23248 "Make cluster routers DC aware"
Could prefer sending to own team.

[2017-06-28 10:52] patriknw commented on #23246
Possibly related to #23248
PubSub can be used as a dynamic router (when using `Put` + `Send`) and should be aligned with what we decide that routers should support.

[2017-06-28 10:53] patriknw opened #23249 "Make DistributedData DC aware"
Things like:
* Could gossip less frequently across teams.
* Could prefer own team when selecting nodes for direct replication.

[2017-06-28 11:02] muller opened #23250 "Using serializer [akka.serialization.JavaSerializer] for message [akka.cluster.sharding.ShardRegion$ShardRegionStats]"
Hi,

Apparently there is no serializer for `akka.cluster.sharding.ShardRegion$ShardRegionStats`.

This would be nice to have one as the JavaSerializer could potentially not perform well.

Looking at the [reference.conf](https://github.com/akka/akka/blob/f528e67422bfdb4ed223caa86f1bda1c4140f5fb/akka-cluster-sharding/src/main/resources/reference.conf#L158) it includes only one serializer. This [seri

[2017-06-28 11:20] raboof commented on #23250
Thanks for noticing - that might be an oversight. It looks like it'd make sense to add this class to that serializer (and to `ClusterShardingMessages.proto`)

[2017-06-28 13:15] patriknw commented on #23250
I think the intention was that this is only used in interactions with the local `region` so there is no need for serialization. I don't mind adding protobuf serialization for it. One challenge might be wire compatibility, i.e. in a rolling upgrade scenario and it's sent to a node that doesn't have the new serializer. Perhaps we can get away by claiming that it was not intended to be sent over the

[2017-06-28 13:25] raboof commented on #23250
Hmm yes it would fail for messages travelling from the version with the new serializer to the version still without it (though it'd work the other way around, right?).

[2017-06-28 13:28] patriknw commented on #23250
Right, the other way around works as long as java serialization is enabled. The reason is that the old serialization id is included in the message envelope.

[2017-06-28 13:47] muller commented on #23250
@patriknw I get your point, it makes sense that this shouldn't go over the wire.

What happened here is that I have two systems in the same JVM instance. One provider=remote and other provider=cluster and I have the first asking the second for state. Probably I shouldn't be getting this statuses anyway.

[2017-06-28 14:27] patriknw opened #23251 "javadsl API oversight when using primitive types in collections or functions"
e.g.
[code]

becomes `Function<T, Object>`

must use `Integer`

Might be similar problems in many places, strange that none has been reported.

[2017-06-28 18:32] abesanderson opened #23253 "Periodic warning logs for QueueSource buffer fill"
It would be nice to have some logs around the buffer fill in a QueueSource, similar to how ShardRegion reports when ShardCoordinator is not yet contacted.

[2017-06-29 06:51] #23119 closed

[2017-06-29 06:51] ktoso commented on #23119
PR was merged, assigned milestones.

[2017-06-29 06:55] ktoso commented on #23253
Marked as in progress however the solution has to be much cleaner than an one off boolean flat addition here if we want to do this.

[2017-06-29 06:55] ktoso commented on #23253
The idea of more debug logging and insight like this is fine though, see more comments inside the PR: https://github.com/akka/akka/issues/23254 (proposing alternative way to do it which would scale better across the different stages)

[2017-06-30 00:25] SimplrTek opened #23261 "Map Async Fails to Complete Final Operations"
After racking my brain on this for a while, I decided to post it here in case this is a bug. I have created a source because I absolutely need to connect to a Hazelcast Queue. When I use map and mapAsync with any amount of parallelism, my tasks complete. However, my tasks never complete when I run mapAsyncUnordered with any amount of parallelism. The process merely hangs. My test code is a simplif

[2017-06-30 10:24] patrox commented on #23251
@patriknw I was curious about this bug, so I had a look and checked it a bit deeper and I already found another problematic spot:

https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala#L590-L592

The `costFn` which is declared there:

[code]

will result in `Function[Object, Object]`.

I confirmed that changing the type from scala's `Int` to java's `Int

[2017-06-30 12:45] patrox commented on #22457
hi @rotomer, I read the mention user list topic, where @ktoso suggested to mix in the `AtLeastOnceDelivery` to the `PersistentFSM` and I ended up with sth like:

[code]

Do you think it's what you were after ?

[2017-06-30 13:07] jroper opened #23263 "Flow.completeWhen/completeAfter"
I've found myself needing this many times before, and have needed it on two separate occasions today. When a certain message passes through my flow, I want the flow to complete.

An example use case is a flow for a chat room (implemented using a merge sink), if a leave chat room message passes through the flow, you want to terminate that flow.  The sender may not be able to do that, in my specific

[2017-06-30 13:19] jroper commented on #23263
Example implementation:

[code]

[2017-06-30 13:43] patriknw commented on #23251
@patrox Thanks for picking this up. PR very welcome.

I think it's all places where we use primitives as type parameters (of functions or collections).
`Long` -> `java.lang.Long`
`Int` -> `Integer`
`Double` -> `java.lang.Double`
... ?

[2017-06-30 14:08] patrox commented on #23251
OK, so I'll create a PR where I'll address such cases.

BTW, do you think that the issue title should be changed, as right now it's only about `Int`s ?

[2017-06-30 14:26] ktoso commented on #23263
In principle, I +1 this. When working on actual apps one quickly gets to the point where such operation is needed and I've felt it myself too.

Observation though: Technically `completeWhen` is `takeWhile(t => test(t))`, however I totally see people missing that and a completeWhen would be helpful.

Having that said, I'm torn between including it and not, as it is exactly as take, but with better

[2017-06-30 14:52] jroper commented on #23263
I completely missed that. And I think there's now an inclusive version of takeWhile to implement completeAfter isn't there?

[2017-06-30 14:55] jroper commented on #23263
The resolution to this issue may be the issue itself, now that the issue is here, Google and GitHub issues will find it, which would have been enough for me to find it.

[2017-06-30 14:58] patriknw commented on #23263
would it be enough to clarify with docs, or perhaps the problem is only finding `takeWhile` so adding docs there would not help

[2017-06-30 15:07] patriknw commented on #23243
I think you are right in that sharding will also work for the old to new version. I was first thinking that the change to ddata was needed, but that should be fine with the added default team role.

[2017-06-30 15:22] patriknw commented on #23251
changed title

[2017-06-30 16:39] #23261 closed

[2017-06-30 16:40] SimplrTek commented on #23261
Found a workaround in the akka kafka things.

[2017-06-30 18:27] rotomer commented on #22457
Hi @patrox,

Thanks for handling this 👍

Yes, I believe that was it. I didn't had the chance yet to test it due to a shift in priorities between my projects.

Would you like to create a PR with this Java API actor for the Akka core team to review?

[2017-07-01 08:13] ktoso commented on #23263
I'm So Meta, Even This Acronym... :-)

I also checked other libraries and they don't expose an explicit "completeWhen", they all ride on the `takeWhile` / `takeUntil` semantics. Thus, I'd say it's rather a matter of getting used to the APIs (and it's not just us, I mean the general style of APIs), and we can add documentation about it but now I'm convinced to not add additional API.

-----

**Sema

[2017-07-01 08:14] ktoso commented on #23263
Sorry, I did not mean to close - let's add some docs around this, in reference documentation maybe, and then close this.

[2017-07-01 18:30] patrox commented on #23251
@patriknw If you'll have some time, can you please have a look at: https://github.com/akka/akka/pull/23265 ?

[2017-07-02 12:41] agolubev commented on #23066
Actually, the same supervision strategy ignorance is for groupBy, splitWhen,splitAfter, flatMapConcat and flatMapMerge.
We can add the fact to documentation or to add this as a feature.
From another standpoint FlattenMerge has test that failed with a small modification:

[code]

This test shows that flatMapMerge has a map that honor supervision strategy however following FlattenMerge that does not

[2017-07-02 13:25] mehmetgunturkun commented on #20563
Hi @patriknw is this example fixed in further versions? Or is there any example to build a feedback loop with akka streams?

[2017-07-02 21:22] nick-nachos commented on #21677
My team has stumbled across an issue with leveldb journal compaction that may actually be the exact same thing as this issue, so I'm posting here to avoid possible duplication.

We are using leveldb as the "backend" for a persistent actor that persists batches of messages, which are then forwarded to a second actor for consumption. Once consumption is confirmed, the persistent actor deletes these

[2017-07-02 21:37] agolubev commented on #23199
Per my understanding,  there is a race condition between Sink.ignore in the test and functionality that fails stream once the second materialization captured.
I'm now trying to rewrite it in a proper way.

[2017-07-03 06:59] johanandren commented on #23250
I think we should document that it is only meant for local interaction on the message.

[2017-07-03 08:07] patriknw commented on #23099
For reference, this is how to configure a separate dispatcher for the producers:

[code]

[2017-07-03 08:07] KIC opened #23269 "Akka Fan In Shapes will never complete if there are skipped elements on one of the ports."
Akka Fan In Shapes will never complete if there are skipped elements on one of the ports. As you can see in the example below the `zip` stage wil never complete because it waits to be signalled on port 0. But this is not goint to happen as we have skipped 5 elements in the sliding flow.

I know that I could fix thisparticular example by dropping 5 elements from the second flow. But this however is

[2017-07-03 08:45] johanandren commented on #23269
This is the expected behaviour of the zip stage. What you describe that you want is possible by detaching the slower stream using `Flow.expand` to repeat the latest upstream element from the slow stream.

[2017-07-03 08:53] KIC commented on #23269
Hmm `expand` might help once the zip is processing data. But how could I know that my zipper has to drop elemens on some ports to eventually get data on all in-ports?

[2017-07-03 09:00] johanandren commented on #23269
What zip does is pretty simple: take one element from each upstream and zip those, if it is "waiting" for elements from one of the streams but got an element from the other it will backpressure, it does not drop anything or require anything to drop.

The issue tracker is for bugs and tracking new features, please use the gitter channel https://gitter.im/akka/akka or the mailing list https://groups

[2017-07-03 09:01] #23269 closed

[2017-07-03 09:03] johanandren commented on #23241
The string parameter in `ActorSystem.apply` is the name of the actor system, not the root actor, while the string parameter to `spawn` is the name of the actor. Having them in the same order kind of implies that I'm naming the root actor to me.

[2017-07-03 09:13] KIC commented on #23269
ok, cool - thx! I have filed a question in the google group.

[2017-07-03 09:31] hseeberger commented on #23241
I think the difference btw an actor system and an actor is a little blurred in Akka Typed, at least from the user's perspective.

First, the ActorSystem is an ActorRef, you can send it messages. Second you create the system by passing props, so it feels like creating the root actor (which indeed happens).

[2017-07-03 10:40] raboof commented on #20400
Unfortunately failed again, again after a 4-second GC pause: https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/756/consoleFull
[code]

[2017-07-03 12:02] raboof commented on #22745
duplicate of #21799

[2017-07-03 12:02] #22745 closed

[2017-07-03 12:03] raboof commented on #21799
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5040/

[2017-07-03 12:11] raboof opened #23272 "failure: PrefixAndTail must work even if tail subscriber arrives after substream completion"
https://jenkins.akka.io:8498/job/akka-nightly-2.12/254/testReport/junit/akka.stream.scaladsl/FlowPrefixAndTailSpec/PrefixAndTail_must_work_even_if_tail_subscriber_arrives_after_substream_completion/

[code]

[2017-07-03 12:26] jrudolph opened #23273 "Reachability observations"
I gathered a few observations on the reachability implementation I'd like to note down here. It might be that nothing needs to be changed but I guess we could add more (code) documentation if needed.

Observations (correct me if I read the code incorrectly):
 * There are three reachability states defined for an observer / subject pair: `Reachable` / `Unreachable` / `Terminated`
 * Reachability doe

[2017-07-03 12:39] #23251 closed

[2017-07-03 12:41] johanandren commented on #23241
True, but it won't have a path based on the name, which is very different. OTOH the path isn't really that important in typed, so maybe it does not matter.

[2017-07-03 13:03] larghir opened #23274 "Inaccurate documentation on Flow.fromSinkAndSource"
Read this in the documentation and was initially thinking I am obviously not getting it (I'm in the learning phase) but input and output are clearly mixed up here:

[2017-07-03 13:11] ktoso opened #23275 "Use less ambiguous term than "team" for multi-dc feature"
I propose to abandon the term "team" in the new multi-datacenter work, because it is misleading when mixed in the middle of a discussion. I also think it introduces more "special lingo" than is really needed.

Examples include being ambiguous when saying things like "yeah, but the US team handles that" (one might think: *people? we have people in the US, ok cool...*) or "yeah the european leader h

[2017-07-03 13:17] hseeberger commented on #23241
One could also argue that the system doesn't have a name. But these are indeed questions with a very small surface area from the user's perspective.

[2017-07-03 13:25] ktoso commented on #23275
Wrote way  too many words to convey this simple message, sorry about that!

[2017-07-03 13:35] raboof commented on #23275
Good write-up, googlability I hadn't thought of before.

Indeed 'multi-dc'/multi-datacenter' is a fine name for the feature. I suppose we want to rename "team" to "dc" (or "datacenter") when referring to a single team/dc?

[2017-07-03 14:20] raboof commented on #23274
This is actually OK: a `Flow` is something that has one input and one output. This function creates a `Flow` from 'something that takes input' (a `Sink`) and 'something that can produce output' (a `Source`).

Indeed sending something to flow input should typically be able to cause something to be emitted from the flow output - that's not guaranteed by `fromSinkAndSource` though, that's up to you.

[2017-07-03 14:52] patriknw commented on #23273
Sounds right.

You mean when nobody is observing a node, it's not possible to distinguish that from that from a healthy link? It is based on that there should be enough coverage by observing 5 other nodes (configurable if one want more), and it's not random 5.

The full table is always in the gossip, so I don't see a way to see  [1,2,4] because it would be [1,2,3, 4], but it was a long time I impl

[2017-07-03 14:58] jrudolph commented on #23273
Yes, basically. But not because no node is configured to observe another node, but because it *currently* is not (or has not yet) been observed. That could be a) at startup or b) while one observer is "letting slide its duties" for whatever reason or c) for some reason gossip doesn't reach us any more.

[2017-07-03 15:21] larghir commented on #23274
I still find the language confusing. I would expect that the **output** of the Flow be sent to the Sink (which takes an input) and the **input** of the Flow be coming from the Source (which produces output).

[2017-07-03 15:28] ktoso commented on #23275
Yeah, I guess that would be the right terms to use there though it's not as cool in the specific phrase.

Casual wording like "that datacenter decides to..." may be, and more formally "the  much as in that one place "team" sounds nice I guess that would be the consistent thing to do. it has less feel of a thing that "does stuff" than team, but that'd be the logical name for "that group of nodes".

[2017-07-03 15:31] raboof commented on #23274
Think of it this way: a `Flow` has an output, which 'on the outside' can be connected to another element: to a `Sink`, or another `Flow`, etc.

On the 'inside', the `Flow` output has to be connected to something that produces elements (so they will be consumed by whatever is attached to the output later). In case of `Flow.fromSinkAndSource`, the `Source` parameter is connected to the output 'on th

[2017-07-03 15:44] ktoso commented on #23274
I do agree that this is one of those a-little-bit-mind-bending things for people who are getting started with composing things like that as it's somewhat "outside out".

I noticed that the scaladoc is lacking pictures (ascii) that we did for other methods like this.
Perhaps we should add the following:

[code]

to all `Flow.fromSinkAndSOurce...` methods. What do you think?

The no connection is in

[2017-07-03 15:45] jrudolph commented on #23273
What about scalability of the reachability information? The number of edges is proportional to the square of number of nodes while the edges checked by heartbeats only grows linearly with the number of nodes (each node checks a fixed number of other nodes). That means that for small clusters it is likely that most links are checked, but for bigger ones not all links might be checked. E.g. with eac

[2017-07-03 16:06] patriknw commented on #23273
Gossip and heartbeating are two different things. The information from failure detector, the `Reachability` table, is disseminated to other nodes with Gossip, but that's all connection between them.

The purpose has not been to know the status of each and every edge, but to know if a node is deemed unreachable  by someone. Finding when a node is:
a) crashed
b) unresponsive (GC, CPU overload)
c) se

[2017-07-03 16:18] patriknw commented on #23241
even if they are not the same I think the change is good, `Props` is more important than `name` (and `name` could perhaps even be optional (or somehow read from config))

[2017-07-03 16:29] jrudolph commented on #23273
I see, so, right now it is very likely that a node that is completely failing or isolated is detected but not every single failing link.

In other words, the assumption is that if every node exchanges heartbeats successfully with 5+5 nodes incoming and outgoing, it is likely enough that it is still reachable.

I don't really know if that's reasonable. E.g. if there are 20 racks with 5 nodes, and o

[2017-07-03 21:01] schmitch opened #23279 "StreamConverters.asOutputStream does not work on 2.5.3"
Hello, when creating a OutputStream converter on 2.5.3 the program blocks forever.

Currently the following snippet works on 2.4.15, but not on 2.5.3:
[code]

I have a smiliar problem with the asInputStream pendant, but could not yet track it down.

**Edit:** Looks like the mapMaterializedValue behavior changed and needs to be wrapped inside a `Future`.

[2017-07-03 21:02] xdev-developer opened #23280 "JsonObjectParser fails on escape sequence \"C:\\\""
Hello team.

My json object contains field with escaped string  ```...files via \"C:\\\" (Windows drive letter)...```

```JsonObjectParser``` can't process this line and remove elements from stream.

I've found problem in this line of code https://github.com/akka/akka/blob/2a9c0370e0a446f1cdc0cabafa37d6e9df5e0699/akka-stream/src/main/scala/akka/stream/impl/JsonObjectParser.scala#L123
[code]
debug

[2017-07-03 21:32] patrox commented on #22457
@ktoso Can you please check if my proposal two comments above makes sense ?
Long story short: we would like to have a one base java class for `Persistent`, `FSM` actor with `AtLeastOnceDelivery`.

If my proposal is fine, then could you please advise how it could be tested, as I imagine it should pass both `[PersistentFSMSpec](https://github.com/akka/akka/blob/master/akka-persistence/src/test/scala

[2017-07-04 05:55] patriknw commented on #21677
@nick-nachos That is great finding. A pull request is very welcome

[2017-07-04 05:57] ktoso commented on #22457
I think that could work.

Yes, tests can be shared, you would have to refactor them into a Base class and make all test which need them extend them - and provide a hook for starting actors in the specific test. Though I'm not sure that will be the best here, since it may differ quite a bit - I'd propose just testing some of the cases and if those work others will too.

(the method for sharing test

[2017-07-04 06:04] ktoso commented on #23279
So it does, comment plz? :)

[2017-07-04 06:05] ktoso commented on #23279
I see, missed the addition as `Edit:` - thanks:)

[2017-07-04 06:05] schmitch commented on #23279
well, it works, but differently? I'm not sure if it's a bug or not.
It works with:

[code]

is this expected?

[2017-07-04 06:06] ktoso commented on #23279
Not sure who was digging into those recently @patriknw or @johanandren ?

[2017-07-04 06:09] patriknw commented on #23273
You mean that it's too high risk that a node is not observed by any of the other nodes in the same rack and therefore such network failure would go undetected. Is this how such networks will fail (I don't know)? Will they still be reachable from outside the rack?

In practice I think it becomes an issue only if all nodes in the rack are not observed by any other node in the rack. Because after one

[2017-07-04 06:18] larghir commented on #23274
Cool, thanks for the explanation, that makes sense :)

[2017-07-04 06:42] johanandren commented on #23279
If you block materialization on writing to the materialized `InputStream` the stream will never start consuming from the other end meaning that an internal buffer fills up and then `write`, being a blocking API, will block forever. So forking off that work on a different thread through a `Future` is probably the way to go.

[2017-07-04 07:01] johanandren opened #23282 "Optimize cross DC gossip"
In the PoC we did limit the gossip between DCs to keep the cross-DC connections down to the N oldest nodes in a DC.

[2017-07-04 07:01] johanandren commented on #23275
I agree, after sleeping on it.

[2017-07-04 07:14] #23241 closed

[2017-07-04 07:15] #23065 closed

[2017-07-04 08:10] #23228 closed

[2017-07-04 08:40] ktoso commented on #23280
Looks right, could you submit a PR with a test and the proposed change? Thanks a ton :)

[2017-07-04 10:14] raboof commented on #20180
Another one: https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5051/consoleFull
[code]

[2017-07-04 10:20] xdev-developer commented on #23280
ok

[2017-07-04 10:25] raboof opened #23284 "Failed: DurableDataSpec: expected UpdateSuccess(durable-A,None), found UpdateTimeout(durable-A,None)"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/762/consoleFull

[code]

[2017-07-04 12:45] #23230 closed

[2017-07-04 12:52] #23243 closed

[2017-07-04 13:59] jrudolph opened #23286 "Multi DC failure detection: UnreachableMember / ReachableMember events should only be emitted for own dc"
In contrast, cross-dc reachability events are emitted separately as described in #23245.

[2017-07-04 14:04] patriknw commented on #23286
related https://github.com/akka/akka/issues/23229
but this can be done independent of that

[2017-07-04 14:20] patrox commented on #22457
OK, that sound a bit like what I had already in mind - pick some specific tests to `PersistentFSM` and to `AtLeastOnceDelivery` and make sure that they pass. So, I'll follow up with this like that.

Thanks for you input.

[2017-07-04 14:57] #23274 closed

[2017-07-04 14:57] johanandren opened #23288 "MultiTeamSplitBrainMultiJvmSpec doesn't do what you think it does"
D'oh:

[code]

[2017-07-04 14:57] ktoso commented on #23274
Added more diagrams to the javadoc/scaladoc :)

[2017-07-04 15:04] #23231 closed

[2017-07-04 15:57] #23275 closed

[2017-07-04 15:59] ktoso commented on #23280
Thanks in advance :)

[2017-07-04 16:00] patriknw opened #23290 "Refactoring of `Gossip` class"
The `Gossip` class contains many utility methods but it has no knowledge of `selfDc` or `selfMember` so those must be passed as parameters. I think we can add another class that holds the node local things and delegates to the node independent `Gossip`.

Should make it more readable and better structured.

[2017-07-05 07:24] #21799 closed

[2017-07-05 09:11] #23280 closed

[2017-07-05 09:39] raboof commented on #22981
Another test, same violation: https://jenkins.akka.io:8498/job/akka-multi-node/2189/consoleFull
[code]

[2017-07-05 09:50] patriknw commented on #23284
ah, I increased the test timeouts, but not the `Update` timeout

[2017-07-05 11:43] #23290 closed

[2017-07-05 11:55] #22789 closed

[2017-07-05 12:21] agauci opened #23296 "AbstractPersistentFSMBase onTransition multiple handlers not being triggered"
The Javadocs of AbstractPersistentFSMBase.onTransition(FSMTransitionHandlerBuilder) claim that "multiple handlers may be installed and every one of them will be called, not only the first one matching". However, the following code

`
onTransition(
   matchState(null, null, () -> System.out.println("Handler 1"))
   .state(null, null, () -> System.out.println("Handler 2"))
);
`

only outputs "Handle

[2017-07-05 13:51] patriknw opened #23298 "ageOrdering not used correctly for removed members"
See https://github.com/akka/akka/pull/23297

ClusterSharding and ClusterSingletonProxy.
ClusterSingletonManager was correct.

[2017-07-05 14:17] raboof commented on #20400
And another one, again after a slow GC
[code]

[2017-07-05 15:06] #23298 closed

[2017-07-05 18:08] patrox commented on #23296
@agauci I have checked this issue (as it sounds quite strange), and I can confirm that it works just like you described - and I also think this is not the intended behaviour.

What's interesting is the fact that if you register the `TransactionHandler`s separately, it will work,
so your code would need to be rewritten as:

[code]

I'll try to create a test which will reproduce this behaviour.

[2017-07-05 18:47] patrox commented on #23296
After digging in a bit deeper, I think I already understand what's going on, as when you're passing multiple `TransactionHandler`s each of them is treated as `PartialFunction` which are combined here:

https://github.com/akka/akka/blob/master/akka-actor/src/main/java/akka/japi/pf/AbstractPFBuilder.java#L20-L25

But, if you take a look there - then combining `PartialFunction` works based on the fir

[2017-07-05 20:11] patriknw commented on #20400
So it's again the metaspace that is causing trouble?
Metadata GC Threshold

[2017-07-06 08:04] raboof commented on #20180
And again: https://jenkins.akka.io:8498/job/akka-nightly-2.12/257/consoleFull

[2017-07-06 09:24] agauci commented on #23296
That indeed seems to be the case. I think we need clarification whether this behaviour is intended or not. As a consumer of the API, it does not seem correct to me.

[2017-07-06 09:37] patriknw commented on #17314
I looked at the logs (including debug level) of the failure in https://jenkins.akka.io:8498/job/akka-artery-perf/859

Here it is with some comments, see `>>>`:

[code]

[2017-07-06 10:06] patriknw commented on #20400
I see two options.

1) We increase the `-XX:MetaspaceSize` even more so that we don't hit a full GC due to metaspace, https://stackoverflow.com/questions/25251388/what-is-the-metadata-gc-threshold-and-how-do-i-tune-it
2) We try to fork tests. Would be nice with one fork per project. http://www.scala-sbt.org/0.13/docs/Testing.html#Forking+tests

[2017-07-06 10:31] raboof commented on #20400
Hmm, while it's a metaspace resize that triggers the Full GC, isn't the problem that the GC takes so long, rather than that it is triggered? Or are we aiming to prevent Full GC's at all?

Nonetheless it might be nice to fork the tests, though, as that'd also allow them to run in parallel (and potentially finish faster), right?

[2017-07-06 10:53] patriknw commented on #20400
Unless it's the actual metaspace gc that takes time. I don't think metaspace is supposed to be this large. Default is something lik 16M. This build is not like an ordinary jvm app.

[2017-07-06 11:31] jroper opened #23303 "flatMapMaterializedValue"
It would be useful to have a `flatMapMaterializedValue` on `Flow`, `Sink` and `Source`, so you could use the materialized value from one stage of a flow in another stage of the same flow.  Here's what it might look like:

[code]

A few things to note:

* When you use `flatMapMaterializedValue`, you get both the materialized value, and the graph that you're mapping, but this time, it materializes t

[2017-07-06 13:28] ktoso opened #23304 "Internal ShiViz support trait for easier debugging"
It is pretty simple to add support for simple https://bestchai.bitbucket.io/shiviz/ logging,
e.g. `.(?<jvm>\w+-.). .(?<level>\w+). .(?<date>[^ ]+[ ][^ ]+). \[[^\]]+\] \[akka.tcp:\/\/\w+\@(?<host>\w+:\d+)(?<actor>.+Heart[^\]]+)\] (?<clock>{[^}]+ ?\d}) (?<event>.+)` would work with multi JVM tests, however the `clock` value must be generated.

That value is a vector clock, and allows the tool to dra

[2017-07-06 13:38] ktoso commented on #23304
(It would be perhaps `with ShiVizLogging { def settings: Config = give actor systems config; def debug() etc`

[2017-07-06 14:30] patriknw opened #23306 "failed: MultiDcSplitBrainSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/13905

could be real, but much has also changed that is not merged yet

@johanandren

[2017-07-06 15:29] jrudolph commented on #23303
Here's the implementation that @patrick-premont and I came up with in Copenhagen:

[code]

for the special case of `Source` and `Flow`. Implementing it for graphs in general might be possible but might be hard to do.

The basic idea is that the materialization is split up into two materializations:

 * In the first phase only the original source is materialized and connected to a `BroadcastHub`. A

[2017-07-06 15:31] sumnulu commented on #23205
Hi,
I think this is some what important bug. **At high load** BroadcastHub will always fail, if the size of subscribed sinks that are not called pull exceeds the buffer size of Hub.

Or am I missing something?

[2017-07-06 15:49] patriknw commented on #23304
big +1, great initiative

[2017-07-07 02:12] #23284 closed

[2017-07-07 05:25] #23150 closed

[2017-07-07 08:20] ktoso opened #23307 "Can Member.isOlderThan enforce (throw or return Option or something) if used with diff DC member"
The `Member` method `isOlderThan` should only be used within the same DC, otherwise it's a bit unsafe since the same upNumbers can be used in those different DCs.

I think we should deprecate that version of the method and perhaps introduce a throwing or Try returning version?

Discussion: https://github.com/akka/akka/pull/23294/files#r126077787

[2017-07-07 08:23] patriknw commented on #23307
not sure we would need to deprecate, it will work the same for the default settings, and if someone moves to multi-dc they will test it before pushing to production and should see the exception if used in that way. We should try it with our own tests first, might be some consequence I haven't thought of.

[2017-07-07 08:24] ktoso commented on #23307
Yeah, overly careful phrasing there... Hope we can just make-it-so :)

[2017-07-07 08:54] patriknw opened #23308 "Encapsulate difficulties with sorted sets of members"
In several places we maintain a set of cluster `Member` with different ordering. Since `Member.leaderStatusOrdering` `Member.ageOrdering` are not stable (e.g. member status may change) ordinary `-` can't be used when removing (or replacing).

We should encapsulate those difficulties in a data structure. It should support adding, replacing and removing a member. Preferably with O(1) operations (e.g

[2017-07-07 11:36] #12035 closed

[2017-07-07 11:45] johanandren commented on #23306
Just so I remember it: I saw it fail once or twice locally as well while doing unrelated things.

[2017-07-07 11:46] patriknw commented on #15733
only took 3 years to finally do it :)

[2017-07-07 11:46] #15733 closed

[2017-07-07 11:48] #22129 closed

[2017-07-07 12:20] johanandren opened #23310 "failure: akka.cluster.MultiDcSunnyWeather"
After merging the fewer inter-dc-connections PRs this started failing.

[2017-07-07 12:30] #23282 closed

[2017-07-07 12:36] #23288 closed

[2017-07-07 13:23] patriknw opened #23312 "move data-center config property"
Shouldn't `data-center = "default"` be moved into the new `multi-data-center` section?

I'm not sure what a good name would be

`multi-data-center.data-center` is kind of repeating itself?

`multi-data-center.self-data-center` ?

cc @johanandren

[2017-07-07 14:11] johanandren opened #23313 "Additional Cross DC event reachability tests"
Related to `UnreachableMember` and `ReachableMember` only emitted for local dc and the new events for other DCs reachable/unreachable after that has been merged.

 * add test in ClusterDomainEventSpec to verify that events are not emitted for some cross cases (it probably already covers the "within" cases) - https://github.com/akka/akka/pull/23299/files#r125942457
 * we can add a cluster.subscribe

[2017-07-07 14:12] #23310 closed

[2017-07-07 14:32] johanandren commented on #23312
`multi-data-center.name` ?

[2017-07-07 14:38] patriknw commented on #23312
could work, I was thinking that we already have `cluster.selfDataCenter` that is defined by exactly this property

[2017-07-07 15:11] johanandren commented on #23312
Good point. I vote for that one.

[2017-07-07 15:19] patriknw commented on #23205
Thanks for reporting. Sounds serious. I haven't verified. Marking as bug for investigation.

[2017-07-07 15:21] patriknw commented on #23250
yes, let's solve this issue by documenting that

[2017-07-07 15:23] patriknw commented on #20677
thanks, looks like a duplicate

[2017-07-07 15:23] #20677 closed

[2017-07-07 15:26] johanandren commented on #20400
I also wonder why we use so much metaspace, do we have a class-loader leak perhaps? Some class getting registered to a singleton keeping it alive across all tests?

[2017-07-07 15:31] patriknw commented on #17314
One thing I think would be worth trying here is to replace the single message send from the `freshSystem` with a retry with a awaitAssert.
i.e. this line:
[code]

If that works I think we can live with that some initial messages are dropped for this case. We are at-most once after all.

[2017-07-07 15:35] johanandren commented on #23279
Here is a previous ticket where we discussed the same thing: #21504
I think this behavior is just something that isn't obvious until you think about it a bit, I'll close this ticket.

[2017-07-07 15:35] #23279 closed

[2017-07-07 15:38] schmitch commented on #23279
This is a different issue, since I fixed that issue. https://github.com/akka/akka/pull/21866

[2017-07-07 15:44] johanandren commented on #23279
Yes, I see now that it was just a comment where I describe the same problem a bit down: https://github.com/akka/akka/issues/21504#issuecomment-248528568

[2017-07-07 15:51] #23286 closed

[2017-07-07 15:58] johanandren commented on #23306
Looking into it I think it was related to waiting on unreachable becoming empty/nonEmpty which we do not do anymore. Will keep the ticket open for a while anyway to see if it fails again on the ci-server.

[2017-07-08 03:34] cuzfrog commented on #18969
[code]

Required.

[2017-07-08 08:38] raboof commented on #23084
This was done in d5155755dbd

[2017-07-08 08:38] #23084 closed

[2017-07-10 06:41] johanandren commented on #23224
Thanks for the thorough investigation!

I think we should rather not use `receiveOne` but make a custom implementation for `expectNoMsg_internal` since `receiveOne` is for a different use case (receive message within rather than should not have received message before).

[2017-07-10 06:43] johanandren opened #23318 "Ending up with too many vector clocks"
Some pruning not happening as it should perhaps? Appeared in the nightlies over the weekend, after merging all the things friday.

https://jenkins.akka.io:8498/job/akka-multi-node-repeat/13932/consoleFull

[code]

[2017-07-10 06:47] ktoso commented on #18969
This exists already, unless I'm missing something?

[code]

[2017-07-10 06:49] johanandren opened #23319 "[FAIL] NodeChurnSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/13946/consoleFull

[code]

[2017-07-10 06:49] johanandren commented on #23319
Could possibly be related to multi-dc as the multi-dc is where it failed but the message sounds like it is something else.

[2017-07-10 07:00] johanandren commented on #23318
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/13942/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/13943/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/13949/consoleFull

[2017-07-10 08:17] jrudolph opened #23320 "Create zero-copy constructor to create ByteString from external Array"
In many cases, you want to create a `ByteString` from an Array without extra copying. This is less safe than the default version because a user can pass in an array and mutate it afterwards. I'd suggest to create these methods in `object ByteString`:

[code]
In spray we had this extra accessors to get access to those methods:

https://github.com/spray/spray/blob/master/spray-util/src/main/scala/ak

[2017-07-10 08:19] ktoso commented on #23320
I'd be ok with adding them with such names (`Unsafe`) - the questions comes up every now and then, and is pretty understandable. Such method names would explain well enough what it's doing and "you're on your own", so +1 from me.

[2017-07-10 08:20] jrudolph commented on #23320
Yeah we should also add documentation that further explains why they are unsafe and what not to do.

[2017-07-10 08:33] johanandren opened #23322 "`UniformFanInShape` vs `UniformFanOutShape` API inconsistency"
`UniformFanInShape` has `inSeq`, whereas `UniformFanOutShape` has `outArray`.
There's probably no good reason for this discrepancy, so correct it.

[2017-07-10 08:45] cuzfrog commented on #18969
Thanks for the reply.

It is probably a bit different:

What if the `Sink`'s signature needs to be changed according to arbitrary element of `T`? Not just the first one.

[2017-07-10 09:03] manonthegithub commented on #23224
Yes, I think it's much better, than I previously suggested, because receiveOne removes message from queue, which can lead to missing message for following code in test.

[2017-07-10 09:05] ktoso commented on #18969
That's something else entirely then, more like a dynamic route or groupBy (though a different one than we have currently). I'd suggest you open a new ticket describing that specific use case.

[2017-07-10 09:08] jrudolph opened #23323 "FlightRecorder event ID 91 used twice in artery"
It seems one of the IDs is used twice: https://github.com/akka/akka/blob/dcd8cea32e253e0eb0017cec92d5ef7863ca0513/akka-remote/src/main/scala/akka/remote/artery/FlightRecorderEvents.scala#L48-L49

As it isn't documented in any way I guess that's a bug?

[2017-07-10 09:15] raboof commented on #23224
I agree it'd be much nicer if `expectNoMsg` didn't use `receiveOne` internally - additionally it'd be nice to be able to configure the default timeouts separately. Also related to #20255.

[2017-07-10 09:43] johanandren commented on #23323
Looks like a mistake yes

[2017-07-10 11:13] #23229 closed

[2017-07-10 11:46] jrudolph commented on #20223
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5060/consoleFull

[code]

[2017-07-10 11:48] jrudolph commented on #20223
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5063/consoleFull

[code]

[2017-07-10 12:35] johanandren opened #23325 "Doc emitting a ByteString over TCP isn't one to one with reading it"
Seen in the [gitter channel](https://gitter.im/akka/akka?at=596342d3329651f46e707a8c): users expecting that if they emit one byte string from the stream TCP server or client they would get that same `ByteString` on the other side. It hadn't occurred to me before but maybe we should try to document this more clearly somewhere. API docs or manual, not sure.

[2017-07-10 13:23] ktoso opened #23326 "Decide how to handle MDC / Logging in Akka Typed"
Since people will be asking what is the Typed way to obtain a logger "inside an actor".

For the `Actor.immutable` style this may well mean - "you don't", just use whichever logging library you like?
Otherwise there may be a case to allow `Logging(typedsystem, source)` etc

Depends what we want to do with `Logging` in general, let's discuss in general and then decide what to document or implement.

[2017-07-10 13:23] ktoso commented on #23326
See a question on this on akka-user https://groups.google.com/forum/#!topic/akka-user/TmzMVgZjdnU

cc @rkuhn

[2017-07-10 13:28] rkuhn commented on #23326
The factory just picks up the ActorRef and some class information (if available) to be printed as source, and it is a type-class so it should be easily extensible, also for end-users. Hence I think this is mainly a question of adding a LogSource instance for typed ActorRef plus some docs.

[2017-07-10 13:35] jrudolph opened #23327 "cluster.max-nr-of-instances-per-node setting is unclear for cluster group routers"
It's mostly unclear why that feature is needed at all:

 * as a router group does not create any actors itself, the limit does not restrict the actual numbers of actors that back the router
 * The [logic to use the same number of routees per node](https://github.com/akka/akka/blob/6c7085252a4bb8e5761af3a2c08e7f006e657c8a/akka-cluster/src/main/scala/akka/cluster/routing/ClusterRouterConfig.scala#L3

[2017-07-10 13:36] ktoso commented on #23326
Right, the other question would be about a Behavior that perhaps decorates normal ones, and could be used to add / clear things from the MDC context. Should also be simple enough to implement actually.

[2017-07-10 13:57] #20241 closed

[2017-07-10 13:58] jrudolph opened #23328 "Forming cluster over artery with lanes > 1 fails in some situations"
It seems joining just times out. It is still unclear if `inbound-lanes` or `outbound-lanes` are the problem.

Reported for Akka 2.5.2.

[2017-07-10 14:06] mvdstam opened #23329 "[PersistentFSM] stay andThen not executing"
Hey all,

Please regard the following example in a PersistentFSM actor:

[code]

The `doSomething()` never gets called. However, the following works:

[code]

Looking at the code of `PersistentFSM.scala`:

[code]

I _kinda_ understand why an `andThen` wouldn't fire since there is not a transition. However, this does not explain why `andThen` _does_ run after running `applying()`, since there still

[2017-07-10 14:22] ktoso commented on #23328
We now merged the Partition hub so what we have on master is not quite the same as what was being run when this was reported... Just a note to remember.

[2017-07-10 14:26] jrudolph commented on #23328
Good point, it was reported for Akka 2.5.2.

[2017-07-10 14:28] t3hnar commented on #23328
will the upgrade to 2.5.3 help ?

[2017-07-10 14:29] ktoso commented on #23328
Without having reproduced I'm not sure we can claim so with enough confidence.
Also, the new thing I mention will only be released in 2.5.4.

Thanks for reporting we'll definitely keep an eye on it.

[2017-07-10 14:30] ktoso commented on #23328
It was not yet merged actually, but it's ready to go in, refs: https://github.com/akka/akka/pull/23102

[2017-07-10 14:38] jrudolph commented on #23328
@t3hnar, good point I forgot to mention that you could try updating to 2.5.3. I had a look through the commits between 2.5.2 and 2.5.3 which do not suggest that an update would help but you can try of course.

[2017-07-10 14:42] t3hnar commented on #23328
I will upgrade to 2.5.3, but also not found something related changed :)

[2017-07-10 15:51] johanandren commented on #23318
Dang: https://jenkins.akka.io:8498/job/akka-multi-node-repeat/13992/consoleFull

[2017-07-11 00:57] cuzfrog commented on #23325
Thanks for the attention.

I think there are several points that need to be made clear:
1. Is it possible or practical to preserve elements barrier (or frame) of those through tcp flow?
2. If point 1 cannot/should not be achieved, what deserve to be written into doc or manual:
a. What will lead/contribute to frame concatenation. (buffer, communication quality, etc?)
b. In which situation should wh

[2017-07-11 02:15] vikschmi opened #23333 "Unzip class in Graph.scala has incorrect documentation"
The documentation for Unzip reads
[code]
This describes a Zip, not an Unzip.

[2017-07-11 06:56] johanandren commented on #23325
Framing is what already is in the docs, because that is how you _have_ to do it, TCP is just a stream of bytes (there is flow control, buffers, packet size limitations etc.), that you emit a chunk of bytes (`ByteString`) does not mean that chunk of bytes will arrive on the other side at the same time and become a corresponding chunk, the incoming bytes will be emitted in the stream as soon as they

[2017-07-11 08:05] jrudolph opened #23336 "FAILED: GraphMergePrioritizedSpec.merge prioritized must stream data with priority"
https://jenkins.akka.io:8498/job/akka-nightly/4575/testReport/junit/akka.stream.scaladsl/GraphMergePrioritizedSpec/merge_prioritized_must_stream_data_with_priority/

[code]

[2017-07-11 08:07] jrudolph opened #23337 "FAILED: Ticket1978SHA1PRNGSpec"
https://jenkins.akka.io:8498/job/akka-nightly-2.12/262/consoleFull

[code]

[2017-07-11 08:27] lukas-phaf commented on #22890
Adding a simple example program that shows the problem.

[deltaCRDT.zip](https://github.com/akka/akka/files/1138175/deltaCRDT.zip)

[2017-07-11 08:49] lukas-phaf commented on #22890
The code above is the simplest example that I could think of that demonstrates the problem with delta-CRDT. It is based on the DataBot example in the Distributed Data documentation.

It adds and removes letters from an ORSet using WriteLocal. Immediately after the add/remove, it does a ReadLocal, where we expect to get the ORSet including the last operation ('you always read your own writes'). I p

[2017-07-11 09:55] cuzfrog commented on #23325
Yes they are dable, including `Framing.lengthField` which could be easily used to build a bidi-framing-protocol, which is what I did.

But those in current doc point towards text new line, not so clear. The inconsistency mentioned above
sort of makes flows unconfortable.

As far as I know. Tcp should be rather low level in this question, as by `actor-remote`, probably, elements boundary could be p

[2017-07-11 10:18] johanandren commented on #23318
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14003/consoleFull

[2017-07-11 10:43] jroper commented on #20507
These serializers not being provided has a nasty consequence, as a library author, if you use `akka.Done` but don't provide a serializer for it, you will never see the warning about not using the Java serializers due to [the warning being explicitly turned off for it](https://github.com/akka/akka/blob/05c7975dc0849ae8c8a8b9e4a2034de072096c4c/akka-actor/src/main/scala/akka/serialization/Serializati

[2017-07-11 11:09] jrudolph opened #23338 "DDataShardCoordinator does not cooperate between 2.4.18 and 2.5.3 nodes"
Instead, there are dead letters and recurring log messages like this:

[code]

The [migration guide](http://doc.akka.io/docs/akka/current/scala/project/migration-guide-2.4.x-2.5.x.html) seems to imply that this kind of rolling upgrade / migration should be possible.

[2017-07-11 11:31] jrudolph commented on #23338
According to http://doc.akka.io/docs/akka/current/scala/project/migration-guide-2.4.x-2.5.x.html#distributed-data only ddata keys of type `String` are wire-compatible between 2.4 and 2.5. The `DDataShardCoordinator` uses keys of type `ShardCoordinator.internal.State` which might be the reason that it breaks. I'll try to verify that hypothesis.

[2017-07-11 12:23] manonthegithub commented on #23224
I am thinking about simple solution for internal implementationwith using Thread.sleep with interval parameter to have better responsiveness.

something like `watchForMessage(max: FiniteDuration, checkInterval: FiniteDutration = 100 millis )`

If you think it is ok, I can try to implement this, if more scalable multithreaded solution is not needed.

[2017-07-11 12:30] #23333 closed

[2017-07-11 12:58] jrudolph commented on #23338
It seems (one of) the reason is that 2.4.x DDataShardCoordinator used the default replicator while 2.5.x uses a dedicated replicator per role.

[2017-07-11 13:34] ktoso opened #23340 "Additional test for active multi-dc heartbeatsender to activate on other node if oldest goes away"
Add a multi-dc test wherein a node that was monitoring the other DC now goes away (leave is fine) and then we check that a different node (e.g. 3rd oldest, if config was 2 oldest nodes monitoring) steps up and becomes active in monitoring

[2017-07-11 13:37] jrudolph commented on #23338
Using the default replicator in 2.5.3 seems to fix this for me but I don't know about potential further incompatibilities. We might be able to add a legacy mode (e.g. by adding a relay actor at the path of the default replicator) but I'm not sure if it's worth it.

@patriknw wdyt?

[2017-07-11 13:43] johanandren commented on #23224
I don't think we need to be able to tweak a polling interval in the API even if the solution is peek+sleep. Make sure to read the ticket Arnout mentioned also before taking a stab at it.

[2017-07-11 13:54] johanandren commented on #23340
Hmmm, isn't that covered by the `MultiDcFewCrossDcSpec`?

[2017-07-11 14:03] ktoso commented on #23340
Oh, did not review that, will look

[2017-07-11 14:05] patriknw commented on #23338
I would just add a note in migration guide that rolling upgrade from 2.4 sharding with ddata mode to 2.5 is not supported. Full restart required.

[2017-07-11 14:12] ktoso commented on #23340
Uff, you had me worried there - it's a bit similar indeed, not quite the same though.
What I want to test specifically is the "back then not oldest node" which has a heartbeat-sender in "dormant" state, that it becomes "active" when it notices that an old member has lest left its dc and suddenly it now is the top-n-oldest itself. It's a specific state transition there that currently does not reall

[2017-07-11 15:07] jrudolph commented on #23338
Ok, thanks.

[2017-07-11 17:01] KIC commented on #23269
Ok I found a way around this. This is just quick and dirty not clean code but it gives you an idea how one could pass by the delayed streams.

First we need a custom shape which just looks like a `Flow` but with multiple inlets and outlets.

[code]

And then we can build a Syncronizer on top of that

[code]

Finally we are able to just zip as usual

[code]

Maybe somebody else finds this useful.

[2017-07-12 00:30] jroper opened #23341 "Allow exceptions to be logged at debug"
Correct me if I'm missing something, but Akka's actor logging does not allow you to log exceptions at anything but error. So, you have to make a choice, either you log the exception at an obnoxious level, or you don't log the exception and instead log an ordinary message, making it difficult to debug when you need to know what the stack trace was.

All other log frameworks that I'm aware of allow

[2017-07-12 00:35] ktoso commented on #23341
I think this is for historical reasons mostly, not an intended ill will to stop you from logging things ;-)
If you want this to be fixed quickly the best way would be to PR changes to https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/event/Logging.scala#L1078

Would you be up for it?

[2017-07-12 06:32] johanandren commented on #23269
Thanks!

[2017-07-12 07:18] johanandren commented on #23306
Haven't seen it fail after more things got merged, so closing.

[2017-07-12 08:45] ktoso opened #23345 "Additional multi-dc test to see if multi-dc-heartbeat takes over during unreachable or split"
Similar test to https://github.com/akka/akka/pull/23342 however with the added difficulty of happening during a network split or unreachability across DCs. Need to also figure out and document exact semantics we have there while we're at it.

[2017-07-12 11:04] #23312 closed

[2017-07-12 11:06] #23318 closed

[2017-07-12 11:21] johanandren commented on #23313
I think the first one is already covered in #23293, the `not be produced for` test.

[2017-07-12 12:00] 2m opened #23347 "Add data center reachability to ClusterReadView"
Should be done in a backwards compatible way after https://github.com/akka/akka/pull/23293

[2017-07-12 20:59] agolubev commented on #23272
wow can reproduce it locally:
[code]

[2017-07-13 07:17] fhalde opened #23350 "Mandatory preStart implementation in Custom GraphStage of type SinkShape"
Would it make sense to have the `preStart` as an abstract method in `GraphStageLogic`

The reason why is because, we had created a custom `Sink GraphStage` but had forgotten to do a `preStart`. Because of this there was no demand and we kept trying to figure out what went wrong.

Now it makes sense not to have the `preStart` for `Source and Flow` always, but for `Sink` it is important to have a fi

[2017-07-13 07:20] synox opened #23351 "Java API of scheduler should use java.time.Duration instead of scala.concurrent.duration.FiniteDuration"
In Akka 2.5.3, as a Java developer I can not directly use the scheduler api, because Scala-Duration is exptected instead of Java-Duration.

Example:

[code]

That is not very intuitive. It would be great if the akka.actor.Scheduler#schedule* Methods would be overloaded with the Java equivalent.

[2017-07-13 07:23] johanandren commented on #23351
Thanks for the suggestion but we have discussed this a couple of times and decided not to, latest time was #20988

[2017-07-13 07:25] johanandren commented on #23351
At some point I opened a ticket and PR in the scala-java8-compat for a packaged converter though, you can see it here: https://github.com/scala/scala-java8-compat/issues/85 (doesn't seem like anything has happened there in a while though)

[2017-07-13 07:26] ktoso commented on #23350
Using the same logic all callbacks would have to be abstract making it somewhat bloated. The hooks are also like the current Actors so they should be somewhat familiar.

And GraphStage is the single abstraction underlying all of them - so as you see, 2 out of 3 don't need to initially do stuff :-) A first pull also does not have to happen in starting - some Sinks only pull once external conditions

[2017-07-13 07:29] johanandren commented on #23350
I agree with Konrad.

[2017-07-13 07:56] jrudolph opened #23352 "DDataClusterShardingLeaving"

[2017-07-13 07:56] jrudolph commented on #22632
https://jenkins.akka.io:8498/job/akka-multi-node/2207/consoleFull

[2017-07-13 07:57] jrudolph commented on #23352
Whoops, filled out the wrong field when I wanted to search for an issue...

[2017-07-13 07:57] #23352 closed

[2017-07-13 07:57] #23118 closed

[2017-07-13 08:05] johanandren opened #23353 "FAILED: NodeChurnSpec"
On the multi-dc repeat job, not sure if it is related to multi-dc in any way:
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14031/consoleFull

[code]

[2017-07-13 08:09] agolubev commented on #23272
Ok, the issue I can explain on code snippet of test:
[code]
s here is PublisherProbeSubscription with BatchingActorInputBoundary inside
System does not wait while BatchingActorInputBoundary is initialized with subscriber.
So at line 3 `s.sendNext` it is race condition between onSubscribe and onNext in BatchingActorInputBoundary. In case onNext is faster we are seeing null pointer exception.

Per m

[2017-07-13 08:22] ktoso commented on #23350
I'm going to close this for now, but thanks for your feedback - please don't be discouraged by us closing this specific one, keep it coming - thanks!

[2017-07-13 08:22] #23350 closed

[2017-07-13 09:00] johanandren commented on #23347
Oh wait, but `ClusterReadView` is `private[akka]` so no problems there?

[2017-07-13 09:03] johanandren commented on #23347
Ah, the problem is that we want it in `ClusterState`, not really `ClusterReadView`.

[2017-07-13 10:48] ktoso opened #23354 "Bug: CrossDc heartbeat should really be cross dc, and also, not to self"
CrossDc heartbeating's `activeReceivers` was riding on the assumption that we only ever stored not-own members; which was true in the begining, but after some reviews stopped being true - thus we'd now accidentally heartbeat ourselfes even

[2017-07-13 10:50] #23340 closed

[2017-07-13 11:33] fhalde commented on #23350
Sure thing :)

[2017-07-13 12:59] jrudolph opened #23357 "Scaling PubSub for huge amounts of topics"
Right now, every node that has subscriptions to a topic keeps a topic actor that manages local subscriptions. The `ActorRef`s of these topic actors are then replicated across the cluster. That means that in the worst case each node in the cluster needs to keep

[code]

in memory for this replicated metadata.

E.g.

 * size_per_topic_map_entry: maybe ~200 bytes? (bucket map entry, ValueHolder insta

[2017-07-13 13:12] mnordie opened #23358 "Need support for custom trust manager implementations in akka-remote"
Need to be able to load a custom TrustManager extending X509ExtendedTrustManager and initialize the SSLEngine to perform hostname validation.
This would solve the hostname verification from #13874" SSL/TLS: Add client-side certificate verification to akka-remote" and #21669 "Provide support (and/or documentation) for TLS certificate pinning with (old) akka-remote".

[2017-07-13 15:09] jrudolph commented on #23358
Thanks for the ticket, @mnordie. I think we talked about that before and agreed that we need that functionality.

[2017-07-13 17:45] johanandren commented on #23329
There's something off here, because `andThen` takes  a `D => Unit` but in your samples you are not passing a function to it so it should not even compile. Was that just a copy-pasta error?

[2017-07-13 17:50] mvdstam commented on #23329
@johanandren Yes, you're right, I merely forgot to add it in the samples. :)

[2017-07-13 19:36] agolubev commented on #23272
@ktoso, is there any existing class that is making all onNext events wait until finishing subscription?

[2017-07-13 19:54] jlprat opened #23360 "EffectfulActorContext spawn method is not usable"
Trying to unit test an Akka Typed Behavior that spawns a `EffectfulActorContext` results in a `StackOverflowException`:
[code]

Doing a little bit of analysis it looks it is caused because `EffectfulActorContext.spawn` calls `super` without `props` causing a cyclic dependency of calls.
I have a reproducer here: https://github.com/jlprat/akka-typed-spawn-repro

[2017-07-14 00:48] jroper commented on #19950
Hi @atemerev,

We do a lot of the kind of supervision you're looking at in Lagom. Because we're a framework, we've just implemented our own solutions which do involve a lot of boiler plate, but that's ok for us because as a framework it's our job to worry about that stuff so we haven't thought about abstracting it to make it useful beyond our specific use cases. But now I've come across a use case

[2017-07-14 00:54] jroper commented on #19950
Although we don't have a use case for it, I can imagine there may be some scenarios where you want to supervise closed graphs, this would particularly be true if you had a stream coming into your app, and another stream going out, and you wanted to ensure that they are always connected and running.  So a solution should allow supervision of closed graphs, but I don't have any experience of that us

[2017-07-14 04:06] #23035 closed

[2017-07-14 04:06] ktoso commented on #23035
Thanks!

[2017-07-14 05:11] ktoso commented on #23272
Great catch, thanks - no, I don't think we have a reusable wrapper for this behavior

[2017-07-14 05:13] ktoso commented on #23357
Thanks for digging into it - let's also verify in practice once we get some machines - hope to get that this or next week.

I like some of the ideas, esp. bloom filter is really what should work very well in these situations hmm

[2017-07-14 05:19] ktoso commented on #23245
I guess this one we can close, right?

[2017-07-14 05:19] #23245 closed

[2017-07-14 05:45] jroper commented on #19950
Hi @atemerev and others,

So I had a look at RecoverWith, and realised it's probably easy for me to implement my own graph stage to do this.  I came up with this:

https://gist.github.com/jroper/f28ecf79f4a4be70e3f499a672d8d6b5

As you can see I've written some basic tests for it (nowhere near comprehensive), it basically works.

I think we can probably use this in Lagom, in our case we'd combine

[2017-07-14 07:07] jlprat opened #23362 "[Typed Docs] Provide documentation on how to Unit Test Behavior"
In order to help early adopters of Akka Typed, we should provide some documentation on how to write Unit tests for Behaviors.

[2017-07-14 08:55] ktoso commented on #20507
Was introduced around 2015 hm https://github.com/akka/akka/commit/146bb89e23f163838127d122d79657d6c0eb97a4#commitcomment-23093705

I think it may have been "because we have a lot of messages we know are not send over the wire". Weak explanation but seems that was the main driver unless @johanandren remembers a better reason.

I agree it can lead to tricky situations as you described. I'd like to c

[2017-07-14 09:12] ktoso commented on #19950
Thanks James, this looks really good actually - looked at both impl and how to compose things deeply for a while now.

Indeed wrapping is what we wanted to go for, and this way we could even pull off backoff hm.

I'd definitely consider this for inclusion, things to keep in mind would be:
- What about Flow? We have this attempt around btw https://github.com/akka/akka-stream-contrib/blob/master/con

[2017-07-14 10:31] johanandren commented on #20507
I'm afraid I don't remember clearly either.

[2017-07-14 12:29] jroper commented on #19950
I think sinks are interesting. You have a flow of user interactions, which, in addition to responding to the interactions, you want them logged to a datastore for future analysis. So you broadcast to a sink for that datastore. You don't mind dropping the occasional element when failures do happen, but you do what to ensure that failures don't cause the whole graph to terminate, and that logging co

[2017-07-14 12:34] jroper commented on #19950
Stop is done on the Source by cancelling from downstream, the user can insert their own KillSwitch after the wrapped Source if they need to control it from outside the stream.

I really don't have enough experience with actor supervision to understand the use cases we want to cover with different restart strategies. To me, I just always want to restart, and stop explicitly.

[2017-07-14 12:36] jroper commented on #19950
And I'll attempt a PR next week (and sorry for the split comments, on my phone, long comments are unwieldy).

[2017-07-14 12:49] patriknw commented on #20507
It has been many iterations. Not sure if this specific was introduced by a customer request related to the serialize msg on send (testing facility). I think we are in a better position in 2.5 to enable the warning again.

Also surprised about Done.

[2017-07-14 14:07] mnordie commented on #23358
Hey @jrudolph, when/if you have the opportunity, please have a look at my feeble attempt at solving this.
I added a java interface as we use java exclusively and to my understanding I can't implement scala traits in java.

Another issue is mutual authentication. At the moment the server side will not get a remoteAddress so the hostname validation will be disable for that side regardless of the val

[2017-07-16 04:21] dluc opened #23368 "Akka.io broken link for migration guide"
Page: http://akka.io/blog/news/2017/04/13/akka-2.5.0-released

Page text:

Broken link: http://doc.akka.io/docs/akka/2.5/project/migration-guide-2.4.x-2.5.x.html
Correct link: http://doc.akka.io/docs/akka/2.5/scala/project/migration-guide-2.4.x-2.5.x.html

[2017-07-16 11:32] jroper commented on #19950
PR: https://github.com/akka/akka/pull/23367

[2017-07-16 18:06] farnoy commented on #23362
:+1: There seem to be examples on how to test akka.typed here: https://github.com/akka/akka/blob/master/akka-typed-tests/src/test/scala/docs/akka/typed/IntroSpec.scala

But the package `akka-typed-test` does not publish any of these utilities (like TypedSpec)

[2017-07-17 07:22] johanandren opened #23369 "Failed: NodeChurn"
On the multi-dc repeat job:

https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14105/consoleFull

[code]

[2017-07-17 07:23] johanandren opened #23370 "Failed: StressSpec"
On the multi-dc repeat job:

https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14097/

[code]

[2017-07-17 07:25] johanandren opened #23371 "Failed: MultiDcHeartbeatTakingOverSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14117/consoleFull

[code]

[2017-07-17 07:26] johanandren commented on #23368
Thanks for letting us know!

[2017-07-17 07:56] johanandren commented on #23369
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14111/console

[2017-07-17 08:38] #23368 closed

[2017-07-17 11:14] raboof commented on #23358
I think the general approach looks OK, though not quite sure yet about the exact `CustomTrustManagerFactory`/`TrustManagerReflectionHelper` types and implementation.

Could we split support for hostname verification and support for custom trust manager implementations into 2 separate issues?

[2017-07-17 13:22] #23354 closed

[2017-07-17 15:35] johanandren commented on #23205
I can confirm that the bug is there. Haven't been able to fix but this test based on @sumnulu's reproducer consistently reproduces the bug whatever the buffer size is:

[code]

[2017-07-17 20:33] gosubpl commented on #22890
Thanks for the reproducer @lukas-phaf . I will take a look soon.

[2017-07-17 20:41] helena opened #23374 "Upgrade from protobuf 2.5.x to 3.x"
Master uses protobuf 2.5.0 https://github.com/akka/akka/blob/master/project/Protobuf.scala#L25
For those of us requiring libs needing newer versions of protobuf, i.e. 3.x it would be nice if this was either configurable or upgraded.

There have been many releases of protobuf since 2.5.0, it is quite old now:
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.protobuf%22%20AND%20a%3A%22p

[2017-07-18 06:04] patriknw commented on #23374
That is the shaded protobuf used internally by Akka. Applications or other libraries can use their own probuf version.

[2017-07-18 06:19] ktoso commented on #23374
We can take this as a ticket to document or blog about using proto3, should be simple enough I guess? Hear this misconception quite a few times, that we're locking into 2.

We won't be able to upgrade it until we want to break wire compatibility, so that may still take some time..

[2017-07-18 07:13] raboof commented on #23052
Starting to looks great, only 8 more pages to go, and those have already been claimed by @richard-imaoka, @gosubpl, @atiqsayyed and @naferx!

@richard-imaoka this seems to work really well, would you be interested in doing the same for akka-http? :)

[2017-07-18 07:52] richard-imaoka commented on #23052
Sure, will create an issue in akka-http to merge docs and follow up on it.

[2017-07-18 08:18] atiqsayyed commented on #23052
Sure why not 👍

[2017-07-18 08:40] johanandren opened #23375 "Cookbook sample of shutdown source on backpressure"
@jroper opened akka/akka-stream-contrib#110 about having upstream canceled after a back pressure timeout and then restart a source when there is demand again, and described how it is possible to do the same using `backpressureTimeout`. I think this would be an excellent example for the streams cookbook section.

[2017-07-18 09:17] ktoso commented on #23052
Thanks, that's awesome @richard-imaoka @atiqsayyed :)

[2017-07-18 09:50] jrudolph commented on #23205
After the last (or only) subscriber has cancelled, the BroadcastHub will shutdown. So, imo the test is not supposed to work in any case. Could that explain the behavior at least partly?

[2017-07-18 11:12] johanandren commented on #23205
Aaaah, race in that it connects, cancels before the stage knows there is another one. Yes, that sounds like it could explain.

[2017-07-18 14:00] johanandren commented on #23205
Actually, nope, this still fails:

[code]

[2017-07-18 20:21] johanandren commented on #23370
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14151/

[2017-07-18 20:37] johanandren opened #23376 "Document what stages implement supervision"
Currently there isn't really a way to know what stages care about the supervision strategy attribute.

We should document clearly that it isn't omnipresent like it is with actors here, and also update the "these are the three stages that doesn't support supervision yet": http://doc.akka.io/docs/akka/current/scala/stream/stream-error.html#error-handling

We should also add in the scaladoc on for ea

[2017-07-18 23:52] ktoso commented on #23376
Yes, let's do this and also document the ways to restart otherwise

[2017-07-19 02:29] ktoso opened #23377 "Investigate cluster events / failure detector issues in multi-dc tests"
This is to track the specific issue @2m was battling before we moved to maintenance summer.
It seems that with the second failure detector things did not become datacenter-unreachable once the failure detectors and events were connected - we may be missing another bit that causes that in the integration.

Please add more comments about it here while you still remember what exactly is to be investi

[2017-07-19 02:44] richard-imaoka commented on #23052
Raised the above issue in akka-http 😃

[2017-07-19 02:50] ktoso commented on #23308
Worked a bit on it, putting it back for now (as different sprint focus)

[2017-07-19 11:46] jrudolph commented on #20690
Seems to be a duplicate of akka/akka-http#1226

[2017-07-19 14:16] johanandren opened #23382 "Failed: UnfoldResourceAsyncSourceSpec"
https://jenkins.akka.io:8498/job/akka-nightly-2.12/270/testReport/junit/akka.stream.scaladsl/UnfoldResourceAsyncSourceSpec/Unfold_Resource_Async_Source_must_close_resource_when_stream_is_abruptly_terminated/

[code]

[2017-07-19 14:36] johanandren commented on #23353
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14169/consoleFull

[2017-07-20 02:39] ktoso opened #23383 "Document semantics DatacenterUnreachable in depth"
We should document the DatacenterUnreachable etc semantics in more depth, when exactly will it be sent and things like that.

Left over from initial work on this.

[2017-07-20 06:28] ktoso commented on #23375
Sounds good, I agree - may even have someone who wants to contribute this ;)

[2017-07-20 06:40] johanandren commented on #23370
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14176/

[2017-07-20 09:04] merlijn opened #23384 "CoordinatedShutdown does not remove jvm shutdown hook"
We found that in unit tests when we create multiple actor systems after we exit sbt (the jvm) there are multiple console outputs like this.

```[INFO] [07/20/2017 10:52:56.423] [Thread-23] [CoordinatedShutdown(akka://default)] Starting coordinated shutdown from JVM shutdown hook```

This, even tough we make sure the actor systems are terminated after each test. After a brief look at the Coordinate

[2017-07-20 11:13] manuzhang opened #23385 "Obsolete documentation for ExtendedActorMaterializer"
The description of `ExtendedActorMaterializer` is no longer true

[code]

[2017-07-20 11:48] johanandren commented on #23384
As a workaround you can disable the JVM hook by setting `akka.coordinated-shutdown.run-by-jvm-shutdown-hook = off` in your tests.

[2017-07-20 12:06] ktoso opened #23386 "FAILED: LruBoundedCacheSpec"
akka.remote.artery.LruBoundedCacheSpec.LruBoundedCache must maintain a good average probe distance

https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9806/testReport/junit/akka.remote.artery/LruBoundedCacheSpec/LruBoundedCache_must_maintain_a_good_average_probe_distance/

[code]

[2017-07-20 13:02] #19950 closed

[2017-07-20 14:23] VaishaliDP opened #23388 "Akka 2.4.10 Consumer Threads in each node after split brain dont merge after cluster nodes merge"
I am currently using Akka 2.4.10 in my product. I am facing the cluster split brain scenario. After the cluster merges the consumerThreads in the nodes dont merge and act separately. The singleton in cluster is lost.
The threads are not acting in singleton.

[2017-07-20 15:34] francisdb commented on #23187
For us both in and outputstream handling fails now with 2.5.3
Do we have to mark the code inside the mapMaterializedValue as blocking?

[2017-07-20 15:38] GHogChi commented on #22218
Similar illegal overload problem in the Http class. Here's IDEA's decompilation of the offending code (lines 69-75, akka-http-core_2.12-10.0.9):

  public static Http get(ActorSystem var0) {
        return Http$.MODULE$.get(var0);
    }

    public static Extension get(ActorSystem var0) {
        return Http$.MODULE$.get(var0);
    }

This causes a red flag in the IDEA editor panes for callers of

[2017-07-20 16:07] francisdb commented on #23187
Hmm, as I understand from https://github.com/akka/akka/issues/23279 you have to return a Future that handles the stream in the mapMaterializedValue for this to work properly?
This is not really documented in the api docs?
Could somebody from the team shed some light on this?

[2017-07-20 19:42] johanandren commented on #22218
Please don't comment on an old and closed ticket, open a new ticket for this in the akka-http issue tracker over here: https://github.com/akka/akka-http/issues Thanks!

[2017-07-20 19:52] johanandren commented on #23388
This doesn't quite make sense to me, you think you can try and describe what happened more detailed?

 * Are you using `auto-down-unreachable-after`?
 * How did the cluster merge if you had a split brain scenario?
 * What are "consumerThreads" and what do you mean with them merging? (It is not an Akka concept)
 * What do you mean with the "threads are not acting in singleton"?

Also, note that reg

[2017-07-21 07:05] wsargent commented on #19950
I can see this helping on https://github.com/playframework/play-scala-websocket-example

[2017-07-21 08:12] #23320 closed

[2017-07-21 09:06] johanandren opened #23391 "Failed: RemoteDeploymentDocSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/779/testReport/junit/docs.remoting/RemoteDeploymentDocSpec/demonstrate_programmatic_deployment/

4 second GC pause what likely the reason. But why was there a 4 second GC pause?

[code]

[2017-07-21 09:13] ktoso opened #23392 "Missing: AbstractGraphStageWithMaterializedValue"
Since `GraphStageWithMaterializedValue` would force Java people to create a `scala.Tuple2`.
Minor but let's fix it right away

[2017-07-21 09:17] johanandren opened #23393 "Failed: akka.cluster.MBean"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/745/consoleFull

[code]

likely because:
[code]

[2017-07-21 09:18] johanandren commented on #23369
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14201/console

[2017-07-21 09:19] agolubev commented on #23187
No, it should not fix the case

As InputStream is blocking API - we are blocking read while some data is available. In this case, we need to block while initialization has happened

Let me triage this in next few days to know the exact reason. Now I can see that waiting for init finish mechanism is there - pehaps some bug in a code.

[2017-07-22 20:12] agolubev commented on #23187
Ok, so the problem here is that InputStreamAdapter is polling from sharedBuffer (data channel between sink and stream) in a blocking way. Apparently, this block is happening in the same thread that does materialization.

[2017-07-23 14:15] hochgi opened #23398 "groupedWeightedWithin can't handle zero weight cost function"
This is "useful" when one wants to group elements only according to time, without considering the number of elements.
This is probably a bad practice, as one could always limit by e.g: `Int.MaxValue`, and a sensible limit should guard from OOM. But API permits it, and thus should allow user to hang themselves if they really want to.

Wrote a failing test to demonstrate the bug: https://github.com/

[2017-07-23 18:06] johanandren commented on #23371
Happened again :( So probably not what I thought it was then.

https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14236/consoleFull

[2017-07-23 20:20] agolubev commented on #23187
I can materialize with Future[InputStream] however it requires API change. Need Akka core team guidelines here.

[2017-07-24 07:17] ktoso opened #23400 "JDK9: Failed TcpTest, touches "sun.nio.ch""
Obtained by running https://github.com/ktoso/akka/tree/wip-jdk9 on JDK9 (Java(TM) SE Runtime Environment (build 9-ea+174))

[code]

[2017-07-24 07:50] ktoso opened #23401 "JDK9: Make use of MultiRelease JARs to provide JDK9 features"
Once we have the MultiReleaseJar plugin in for sbt - https://github.com/sbt/sbt/issues/3036
we should make use of it to provide JDK9  features, most notably support for Flow interfaces (without actually having to depend on JDK9).

See also strawman JDK9 interfaces use proposal: https://github.com/ktoso/akka-streams-jdk9-strawman-mvn (may not be completely correct yet)

[2017-07-24 07:56] ktoso commented on #23400
Another similar one in TcpSpec, also touching sun.net:

[code]

[2017-07-24 07:57] ktoso commented on #23400
Use this sbt to be able to run JDK9: https://github.com/sbt/sbt-launcher-package/pull/143

[2017-07-24 08:29] ktoso opened #23402 "JDK9: Mockito breaks in akka.pattern.CircuitBreakerSpec"
Easiest to rewrite test to not need mockito I propose

[code]

[2017-07-24 08:30] ktoso opened #23403 "JDK9: UdpIntegrationSpec - uses sun.io APIs"
[code]

[code]

[2017-07-24 08:38] xuwei-k commented on #23402
https://github.com/akka/akka/blob/1b0c27dc756f5aa7da5fbd30f98df3da6c4587ea/project/Dependencies.scala#L89

`"mockito-all" % "1.10.19"` does not support Java9 but latest version of mockito support Java9

related(?) https://github.com/scalatest/scalatest/issues/1114

I was updated mockito dependency in some scala projects.
- https://github.com/gitbucket/gitbucket/pull/1492
- https://github.com/scali

[2017-07-24 08:39] ktoso commented on #23402
Thanks for the info! We can give that a try as well then :)

[2017-07-24 08:52] jrudolph opened #23404 "JDK9: Akka IO DNS infrastructure uses `sun.net.InetAddressCachePolicy`"
[code]

[2017-07-24 08:52] jrudolph commented on #23403
I created another issue for the DNS thing here: https://github.com/akka/akka/issues/23404.

[2017-07-24 08:57] jrudolph commented on #23403
I think we might see this one as a duplicate to 23400 because both are caused by Scala's structural types using reflection on the runtime types:

[code]

I wonder if that's something that could be fixed in the scala compiler?

[2017-07-24 09:30] durban opened #23405 "Typed extensions in an untyped ActorSystem can be created more than once"
If a typed extension is used in an untyped `ActorSystem` (through `ActorSystemAdapter`), the extension can be created more than once:

[code]

When run, it prints "Creating MyExtension ..." twice:

[code]

(Full project is at https://github.com/dilation/test-akka-typed-ext.)

The separate calls to `toTyped` probably create separate `ActorSystemAdapter`s, which store the extension state separately.

[2017-07-24 09:42] npiguet opened #23406 "BackoffSupervisor and restart documentation is confusing/inaccurate"
Hello,

I've just spent a day figuring out why my actor's `preRestart()` and `postRestart()` methods were not called when my actor was restarted.

Turns out that while there is a very clear documentation of "What restarting means", the documentation for BackoffSupervisor uses the term "restart" all the time, but does not actually implement the documented restarting lifecycle. BackoffSupervisor doe

[2017-07-24 10:01] raboof commented on #19611
Closing as #22881 was merged and we indeed don't seem to have seen this failure anymore

[2017-07-24 10:01] #19611 closed

[2017-07-24 13:39] 2m opened #23409 "Add support for org.slf4j.Marker"
Current implementation of logging with actors allow creating markers [only with a name](https://github.com/akka/akka/blob/b80ee5e3d380e0b3cbd7b4b6144cfc89cd0cd22e/akka-actor/src/main/scala/akka/event/Logging.scala#L1411).

We should consider adding an API that allows passing in markers that implement [org.slf4j.Marker](https://www.slf4j.org/api/org/slf4j/Marker.html) Java interface. This interface

[2017-07-24 13:46] 2m commented on #23409
Documentation on Play's take on logging Markers: https://www.playframework.com/documentation/2.6.x/Highlights26#Logging-Marker-API

[2017-07-24 13:53] 2m commented on #23409
Initial marker support was added with https://github.com/akka/akka/pull/21707

[2017-07-24 15:57] jrudolph commented on #23409
I think the current string-based marker scheme was chosen to prevent pulling in a dependency to slf4j. It is probably tough to change the `LogMarker` class to support more than that in a compatible way.

[2017-07-24 16:00] ktoso commented on #23409
Correct, if the ticket intended to include slf4j things in akka-actor then we cannot do that.
One way we could get around things is to allow Any and some sneaky mechanisms around matching provide by akka-slf4j... at which point one should ask - is it worth the complexity?

Why not use slf4j directly? Which we often do recommend in any case? Esp. with a nice logback asnyc appender, there is no down

[2017-07-25 01:52] retronym commented on #23403
What build of Java 9 are you testing with? In the most recent builds, they turned some (all?) inaccessible reflection errors into warnings by default. A command line flag can escalate them to a hard error.

That said, to clean things up, it is very unfortunate that structural types fail to reflectively bind to that method when it could the public/exported method in the superclass instead. Java ref

[2017-07-25 01:59] retronym commented on #23403
`InaccessibleObjectException` is a newly declared exception from `setAccessible`, we might need to catch that in:

[code]

[2017-07-25 03:39] retronym commented on #23403
JDK9 has actually deprecated `isAccessible` and encourages use of the new method `canAccess`. That would return true as the method we're calling is public, and we wouldn't actually call `setAccessible`.

[2017-07-25 06:52] johanandren commented on #23187
This has been reported multiple times. If you block materialization the stream will not start running, and if the blocking depends on the stream running you will either get deadlock or some form of timeout will hit. We cannot really do anything on the Input/Outputstream being blocking, so I think if anything should be done it is a warning in the docs of the stream adapters - since people have gott

[2017-07-25 06:54] johanandren commented on #23187
Here's some more duplicates: #23279, https://github.com/akka/akka/issues/21504#issuecomment-248528568

[2017-07-25 06:56] johanandren commented on #23406
Hi @npiguet, thanks for reporting, you up for PR:ing such an improvement?

[2017-07-25 06:59] johanandren commented on #23405
Ouch. Thanks for reporting. Workaround for now would be to keep the typed system reference rather than calling `toTyped` multiple times.

[2017-07-25 08:18] agolubev commented on #23187
I see, let me add this to docs

[2017-07-25 08:33] jiminhsieh commented on #21874
@Chuwiey Do you still work on this?

[2017-07-25 08:48] ktoso commented on #21874
The previous PR seems to have died out of innactivity so I'd assume it's not active.
If you want to pick it up please do @jiminhsieh, thanks!

[2017-07-25 09:00] jrudolph commented on #23273
I don't really know if it is realistic. I just tried to come up with a scenario to clarify assumptions.

I think for now it's probably good enough for most cases. I'm going to close this issue. Thanks for all the input!

[2017-07-25 09:00] #23273 closed

[2017-07-25 09:03] johanandren commented on #23187
Thanks!

[2017-07-25 09:06] francisdb commented on #23187
I'm still confused. Is there an example of how to correctly use these adapters?

[2017-07-25 09:15] jiminhsieh commented on #21177
@johanandren @ktoso Is this issue should be move to Akka-HTTP? I could not search this issue in Akka-HTTP. This issue may belong to Akka-HTTP.

[2017-07-25 09:22] 2m opened #23413 "Failed: CircuitBreakerSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5107/consoleFull

<details>
<pre>
[info]   - when exception is defined as Success *** FAILED *** (2 seconds, 23 milliseconds)
[info]     java.lang.AssertionError: assertion failed: timeout 2 seconds expired:
[info]     at scala.Predef$.assert(Predef.scala:170)
[info]     at akka.testkit.TestKitBase$class.poll$1(TestKit.scala:276)
[info]

[2017-07-25 09:23] 2m commented on #20180
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5108/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/781/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node/2222/consoleFull

[2017-07-25 09:31] ktoso commented on #21177
Thanks, good point, seems I missed it during moving tickets over to http!
Moved: https://github.com/akka/akka-http/issues/1303

[2017-07-25 09:31] #21177 closed

[2017-07-25 09:48] johanandren commented on #23187
Pretty much _any_ usage is correct, except for using the old Java streams directly inside of `mapMaterializedValue` of their own stream, which is the point of this ticket. That is however true for any kind of logic that blocks the creation of the stream while also depending on it running. For example something like `Source.maybe.mapMaterializedValue(p => Await.result(p.future, timeout)).run()` wou

[2017-07-25 10:07] ktoso commented on #23409
Was able to pull it off, wasn't that difficult actually - I was overworrying that it would have to touch actor :)

[2017-07-25 10:40] francisdb commented on #23187
thanks @johanandren, that makes sense

[2017-07-25 12:38] laszlovandenhoek opened #23415 "gracefulStop documentation broken"
http://doc.akka.io/docs/akka/current/scala/actors.html#graceful-stop

Two code snippets get glued together (in 4 tabs), which doesn't work and is quite confusing.

This corresponds to /akka-docs/src/main/paradox/scala/actors.md:1018.

[2017-07-25 13:20] Chuwiey commented on #21874
@jiminhsieh did custodial on this to mark as "in progress" looks like the pr dropped.

[2017-07-25 13:22] Chuwiey commented on #17247
Update: Had this working on a local branch but life got the better of me. I could revisit in a few weeks if no one else has finished it by then.

[2017-07-25 14:08] francisdb opened #23416 "Invalid stack trace because reused exception code is defined as val"
Both `OutputStreamSourceStage` (and `InputStreamSinkStage`) build an IOException and store it as val. This causes the stack trace to be populated at val instantiation time instead of the place where it is thrown. This in turn yields strange stack traces originating at the wrong location.

My guess is that this is not on purpose and should have been defined as a `def` instead of a `val`
(you might

[2017-07-25 15:54] jrudolph commented on #23416
The stack trace will always look the same so I guess it was intentional. We could add `NoStackTrace` instead to remove the stack trace completely, though we should also improve the error message to be more descriptive of what has happened.

[2017-07-25 15:56] jrudolph commented on #23415
@richard-imaoka any idea what happened here?

[2017-07-25 18:18] francisdb commented on #23416
I'm having this being thrown and am trying to debug what is going on, since the cause might be in the implementation of the reading/writing done by a different lib the stack trace would be more than welcome. Currently the trace points to the location where .run() is called which is very confusing.

[code]

where the line in my code is this

[code]

The error is probably caused by the library I am

[2017-07-25 18:23] richard-imaoka commented on #23415
Yeah I overlooked that when making my last change to actors.md.
Opened the above pull request to fix the issue.

[2017-07-25 18:25] francisdb commented on #23416
@jrudolph There are 3 places where this is thrown so the stack trace would not be the same after the fix. As I see it, it would point to the code writing to the stream which is exactly how this would need to be debugged.

[2017-07-25 19:12] #23415 closed

[2017-07-25 19:26] Brideau opened #23421 "Scala Kill Documentation"
In the Actors documentation for [Killing an Actor](http://doc.akka.io/docs/akka/2.5.3/scala/actors.html#killing-an-actor), the code example for Scala is given as:

[code]
This is just a plain text message that's handled explicitly by receive, and doesn't convey the use of the Kill instance that is the purpose of that section: http://doc.akka.io/api/akka/current/akka/actor/Kill$.html

I would updat

[2017-07-26 01:12] jiminhsieh opened #23427 "Move tickets belong Akka-HTTP to the correct repo."
#20938,  #20972, #20950. Those tickets belong to Akka-HTTP. Thanks!

[2017-07-26 01:52] jiminhsieh commented on #21874
@Chuwiey I simply thought you were working on this, then I would move on to others. :)

[2017-07-26 01:54] ktoso commented on #21874
Due to inactivity, yes as explained here after a few times of trying to reach out:
https://github.com/akka/akka/pull/21885#issuecomment-281342005

Thanks for picking it up again

[2017-07-26 02:44] ktoso commented on #23421
Good point, and also the kill docs perhaps should be less prominent anyway so I'll move them around.
Thanks for reporting, you can have a look here what the change would have been: https://github.com/akka/akka/pull/23429

We have docs on contributing here: https://github.com/akka/akka/blob/master/CONTRIBUTING.md
Hope this helps and you could submit a PR next time :-)

Thanks for reporting

[2017-07-26 04:45] sebastianharko opened #23433 "Docs: Akka Persistence Example"
Hi,
I think that the Akka Persistence page needs a "real example"... The current example ( with _ExamplePersistentActor_ and _ExampleState_ ) is too abstract and most people don't think like that .... I think we should replace ExamplePersistentActor with something more concrete (e.g., ShoppingCart - which is an over-used example though - not sure if it's a good or bad)  ...What do you think ?
Chee

[2017-07-26 05:28] ktoso commented on #23433
I'm not sure about "real example" 😉  Allow me to explain:

This is the reference documentation, and it's meant to be rater dry. A full real shopping cart example could be a full page of descriptions and techniques and things one may have to think about. So not sure the "real example" is what we want in the reference docs - it would absolutely fit the tech-hub and be a "persistence quickstart" thou

[2017-07-26 05:54] sebastianharko commented on #23433
Yes!  I meant just changing ExampleActor to be a simple ShoppingCart :-)

We already have a less abstract example in the same page actually (the example for Persistent FSM is not abstract but concrete ... (see: http://doc.akka.io/docs/akka/snapshot/scala/persistence.html#a-simple-example) :-)

[2017-07-26 06:56] johanandren commented on #23433
The distributed workers quickstart will also feature an actual use case for persistence.

But I agree, it would be nice if that sample was less abstract. Preferably following on the lines of the getting started guide, so some kind of IOT/sensor thing to tie the docs together.

[2017-07-26 07:41] #23409 closed

[2017-07-26 07:56] johanandren opened #23435 "Docs: Improve `TwitterStreamQuickstartDocSpec` fiddle code"
(copied from PR)

### Reason

This proposal aims to improve two things in the fiddle code:
* The `Set[Hashtag]` advantages are practically unused in the example. Would be good to leverage this data structure to remove duplicates across different tweets while transforming the `Source` data
* Hashtags should not contain any special character to be fully consistent with real ones

### Actual output

[2017-07-26 07:56] #23435 closed

[2017-07-26 10:08] #23165 closed

[2017-07-26 12:09] synox opened #23436 "Java API: AbstractPersistentLoggingFSM should use AbstractPersistentFSM instead of AbstractPersistentFSMBase"
In Akka 2.5.3 `AbstractPersistentLoggingFSM` is not java-friendly, because the method `domainEventClassTag()` has to be implemented.

We did that like this: (or is there a better way?)

[code]

If it would extend `AbstractPersistentFSM` instead of `AbstractPersistentFSMBase` `domainEventClassTag` would be wrapped.

[2017-07-26 12:12] jrudolph opened #23437 "SelectionHandler may keep references to connection ActorRefs which in turn may keep whole GraphStages alive"
In https://github.com/akka/akka/issues/21304 / https://github.com/akka/akka-http/issues/34 @derjust observed that GraphStages may be kept alive by references going out from the `SelectionHandler` through this reference chain:

[code]

I could reproduce the behavior with Akka-HTTP 10.0.9 / Akka 2.4.19. There's at least one thing in there that I'd call a bug.

The first problem is that an idle Selec

[2017-07-26 12:27] jrudolph opened #23439 "GraphInterpreter should not keep references to shut-down logics"
When multiple stages are fused, a single alive stage will keep the GraphInterpreter alive and with it references to all already completed GraphStage logics (which may or may not keep a significant amount of memory).

See also #23437.

[2017-07-26 13:52] #23437 closed

[2017-07-26 13:55] johanandren commented on #23436
Ouch, thanks for letting us know. It sounds like an oversight.

[2017-07-26 13:58] johanandren commented on #23436
Not quite sure if we should break bin comp here as it is obviously wrong, or figure out some way around it. @ktoso wdyt?

[2017-07-26 14:18] jrudolph commented on #23416
I see, that might be a good reason to keep the stack trace. Another possibility would be to create three different exceptions. Note, though, that in no case, the stack trace would point to user code. It now points to `materialize`, with `def` it will later only contain infrastructure code, starting from the thread pool, through streams infrastructure to the GraphStage.

[2017-07-26 14:23] #23376 closed

[2017-07-26 14:58] francisdb commented on #23416
@jrudolph let me prove the usefulness of the real trace

created an example main class __akka.stream.Main__
[code]

running this before my patch:
[code]

and with my patch applied

[code]

you can clearly see the second trace pointing to line `24` which is the invalid `is.read()` causing the exception where before the trace pointed to line `13` which calls the `.run()`

[2017-07-26 15:04] fmalothomas opened #23442 "NPE when typo in application.conf"
Hi, I am new to submitting issues and english is not my native language therefore I apologize in advance for it may be bad.

I am using `play framework 2.6.0`, `scala 2.12.2`, `akka-stream_2.12-2.5.3`, `play-akka-http-server_2.12-2.6.0`.
I got a NPE with a double dot instead of simple dot in my `application.conf` file:
For example:
`play..modules.enabled += "module.Module"` is throwing the NPE
`pl

[2017-07-26 16:15] johanandren commented on #23442
Hi @fmalothomas, thanks for reporting, this is an issue in the "Typesafe Config Library" and not in Akka itself, you can find the repository of that library here: https://github.com/typesafehub/config/issues

I think this may be what already is reported in issue typesafehub/config#367 so please look at that and comment over there or open a new ticket if you disagree.

I'll close this ticket now, s

[2017-07-26 16:15] #23442 closed

[2017-07-26 16:33] johanandren commented on #23388
Closing this as there was no further communication in a few days. Feel free to reopen and comment on the questions.

[2017-07-26 16:33] #23388 closed

[2017-07-26 19:59] jlprat opened #23445 "[Failed] jdocs.testkit.ParentChildTest.testingWithCustomProps"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/9880/testReport/junit/jdocs.testkit/ParentChildTest/testingWithCustomProps_2/

I'm quite surprised about this regression. I could not make it fail locally.

[2017-07-27 08:30] 2m commented on #23382
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5120/consoleFull

[2017-07-27 08:30] 2m commented on #21992
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5122/consoleFull

[2017-07-27 09:15] johanandren commented on #23369
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14317/

[2017-07-27 14:35] johanandren opened #23449 "Failed: ClusterSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/14323/

[code]

[2017-07-27 15:20] johanandren commented on #23384
Actually, after looking at this, it does check if the actor system is terminated, so that probably is a leak in your test suite. I'd recommend that you name your actor system per test, rather than using "default" so you can figure out where it leaks.

[2017-07-28 07:53] #23360 closed

[2017-07-28 08:03] johanandren commented on #23384
To clarify, that the log entry appears means there was an actor system that was not terminated (one for each log entry).

The problem that is there is related but not the same:

As the JVM hook closes overa reference to the actor system (and the extension which in turn references the system), this will effectively stop the terminated actor system from being garbage collected when `run-by-jvm-shutd

[2017-07-28 09:54] ktoso opened #23452 "Revisit serialize-messages + allow-java-serialization=off"
We worked on this a bit in https://github.com/akka/akka/issues/22680 but some messages, which we know are only local, remain reported when people do this weird mix of settings (and they do).

For example, these internal messages, which we only ever send locally show up as warnings on debug level and scare people:

[code]

We couldmark them that they're "local only" and don't log warnings.

[2017-07-28 12:42] TimothyKlim opened #23453 "Uninitialized field for Scala 2.12.3"
I've just upgraded my app to new scala and I got this when log some data:
[code]

[2017-07-28 13:07] ktoso commented on #23453
What is `scala.UninitializedFieldError: Uninitialized field: com/xxx/ProtoGraphStage.scala: 67`?

[2017-07-28 13:18] TimothyKlim commented on #23453
`log.info("test")`

[2017-07-28 13:38] ktoso commented on #23453
And what's log, where is it coming from? Please more context so we actually can have a chance of figuring out where the issue may lie :-)

[2017-07-28 13:38] ktoso commented on #23453
In other words, would you be able to provide a minimised reproducer?

[2017-07-28 14:19] TimothyKlim commented on #23453
Hah, it's [scalac issue](https://github.com/scala/bug/issues/10437) (`scalacOptions += "-Xcheckinit"`), sorry for disturb you 😉

[2017-07-28 14:19] #23453 closed

[2017-07-28 15:29] ktoso commented on #23453
Thanks for finding the issue on scalac :)

[2017-07-30 16:39] cnnickolay commented on #19395
An alternative solution with using sliding

[code]

Output:
[code]

[2017-07-31 04:38] ktoso opened #23458 "Cross link between Patterns and PatternsCS in javadoc"

[2017-07-31 09:22] ktoso commented on #23374
I changed the title for now, to reflect the docs aspect.
We eventually will change the internal serialization too but it's not stopping people from using 3.x right now :)

[2017-07-31 22:18] WadeWaldron opened #23460 "Docs: Akka Community links to Scaladex don't return results"
On the following page:

http://akka.io/community/

There are a series of links to Scaladex. These links are currently returning zero results. This gives the impression that there are no community plugins for Akka.

This returns no results:
https://index.scala-lang.org/search?q=keywords:akka-persistence-plugin

However the following will return results:
https://index.scala-lang.org/search?q=akka+pe

[2017-08-01 01:01] ktoso commented on #23460
Thanks for reporting, closing as duplicate though as it's reported over here for the website: https://github.com/akka/akka.github.com/issues/455

Would you like to submit a PR fixing the search queries?
It seems scaladex broke compatibility on the query syntax.

[2017-08-01 01:01] #23460 closed

[2017-08-01 11:08] unoexperto opened #23461 "Documentation is insufficient for Flow.groupBy"
Could you guys explain how to use new `groupBy` in akka-streams ? [Documentation][1] seems to be quite useless. `groupBy` used to return `(T, Source)` but not anymore. Here is my example (I mimicked one from docs):

    Source(List(
      1 -> "1a", 1 -> "1b", 1 -> "1c",
      2 -> "2a", 2 -> "2b",
      3 -> "3a", 3 -> "3b", 3 -> "3c",
      4 -> "4a",
      5 -> "5a", 5 -> "5b", 5 -> "5c",

[2017-08-01 15:35] johanandren commented on #23461
Did you also look at the scaladoc of the `groupBy` method (which is quite extensible) but still find it insufficient, or did you just read the stream cookbook from the docs? http://doc.akka.io/api/akka/current/akka/stream/javadsl/Flow.html#groupBy[K](maxSubstreams:Int,f:akka.japi.function.Function[Out,K]):akka.stream.javadsl.SubFlow[In,Out@scala.annotation.unchecked.uncheckedVariance,Mat]

[2017-08-01 15:36] johanandren commented on #23461
Ups. Wrong link, this one is the scaladsl: http://doc.akka.io/api/akka/current/akka/stream/scaladsl/Flow.html#groupBy[K](maxSubstreams:Int,f:Out=>K):akka.stream.scaladsl.SubFlow[Out,Mat,FlowOps.this.Repr,FlowOps.this.Closed]

[2017-08-01 20:01] RafalSumislawski opened #23462 "Sending messages to DeadLetter by DistributedPubSub should be configurable"
When there are no subscribers for a given topic DistributedPubSub will send messages published to that topic to DeadLetter. While it is valuable for debugging, it also results in numerous false alarms. IMO publishing to a topic without caring about the presence of subscribers is a common use case of publish-subscribe pattern, and therefore it should be possible to do it without generating warning.

[2017-08-02 05:33] #23458 closed

[2017-08-02 07:53] rucek opened #23464 "Document that log() in streams requires a DEBUG logging level"
After just following the [docs for using `log()`](http://doc.akka.io/docs/akka/current/scala/stream/stream-cookbook.html#logging-elements-of-a-stream) the logging "doesn't work", i.e. the logged elements are not visible in the logs. Thisi is because the logging level nedds to be set to `DEBUG` with `akka.loglevel = "DEBUG"`, which the docs fail to mention.

[2017-08-02 07:56] ktoso commented on #23464
I disagree - the docs show how to change the log level of "per element:

`.withAttributes(Attributes.logLevels(onElement = Logging.WarningLevel))`

if that's unclear that should be clarified, perhaps along with the fact that by default the elements are logged on debug?

[2017-08-02 08:53] #23385 closed

[2017-08-02 08:54] johanandren commented on #23462
Go ahead and PR :)

[2017-08-02 10:38] rucek commented on #23464
You're right, I missed it somehow. Then I'd just add a note to clarify that the default level is debug. If you're OK with it, a PR will be there shortly.

[2017-08-02 11:13] jansoren opened #23465 "Error in Docker container: Default journal plugin is not configured"
Hi,

I am working on getting my akka-persistence app to run in Docker. When I run the application from Intellij it works as intended, but when i deploy the same files(jar & config) to Docker and try to run it from the container i get this error:
[code]

My `reference.conf` file looks like this:

[code]

Any suggestions on how to attack this issue?

[2017-08-02 11:15] alexvaluyskiy commented on #20507
@patriknw `reference.conf` contains a serializer-binding for `SmallestMailboxPool` in `MiscMessageSerializer`. But this class does not have a serializer for this type.

And there is no serializer for `ConsistentHashingPool`

[2017-08-02 11:16] johanandren commented on #23465
Hi @jansoren, please use the issue tracker only for bug reports and enhancements. For usage question like this instead use the mailing list: https://groups.google.com/forum/#!forum/akka-user or the gitter chat channel: https://gitter.im/akka/akka, thanks!

[2017-08-02 11:16] #23465 closed

[2017-08-02 11:37] johanandren commented on #20507
@alexvaluyskiy `SmallestMailboxPool` is a mistake from my work on serialisers, it should not be there.

[2017-08-02 11:38] alexvaluyskiy commented on #20507
Why? Is it possible to remotely deploy it? I never used this router, just curious

[2017-08-02 11:41] johanandren commented on #20507
It peeks into mailboxes, so it cannot have remote routees (one could perhaps imagine remotely deploying a router that only has local routees on the remote node, but I never heard of that).