[2018-04-23 16:01] patriknw commented on #24725
@MartinMajor Are you working on a fix for this?

[2018-04-23 16:03] patriknw commented on #24535
@2m are we working on this or just waiting for next milestone?

[2018-04-23 16:34] #24915 closed

[2018-04-23 17:28] patriknw commented on #24933
@raboof It should be possible to use draw.io without giving it github access. I think files can be imported/exported.

[2018-04-23 22:05] Lasering commented on #20984
I could try to implement it. But I would take a lot of time, since I would have to get some experience using Akka Typed, and understand how AtLeastOnceDelivery is implemented in Untyped Akka.

[2018-04-24 00:48] ktoso commented on #18971
Note that we refined things, and the commercial deployment tool does not exist anymore.
Tools to deploy remain:
- sbt native packager, as usual
- the OSS yet maintained by lightbend k8s orchestration https://developer.lightbend.com/docs/lightbend-orchestration-kubernetes/latest/features.html
- note also that https://developer.lightbend.com/docs/akka-management/current/bootstrap.html exists now as

[2018-04-24 05:26] ktoso commented on #24901
That would be an excellent directive, please ticketify it specifically @raboof

[2018-04-24 06:09] patriknw opened #24962 "remove Typed UntypedPropsBehavior"
I don't think we need `UntypedPropsBehavior` any more. It was added for the first impl of persistence. Might be a nice to have, but I'd rather avoid the special cases until there is something more than an imaginary need for it.

[2018-04-24 07:25] raboof opened #24965 "Directive to include reference.conf info in documentation"
It might be neat if we could create a paradox directive that finds the relevant entry in the reference.conf and includes it, including default value and comment. So in the `.md` something like

[code]

Could automatically turn into:
[code]

[2018-04-24 07:26] raboof commented on #24901
Added as #24965

[2018-04-24 07:28] 2m commented on #24535
Changes needed to release for 2.13.0-M3 are in https://github.com/akka/akka/commits/wip-scala-2.13-2m

When 2.13.0-M4 is out some of these will be not relevant anymore. But we will also have to do more changes due to new collections. Therefore, I say lets wait for the next milestone release.

[2018-04-24 07:31] raboof commented on #24901
So to re-cap: having the default in the docs can be useful, but it's not _that_ useful that we want to do it by introducing duplication or littering the reference.conf with paradox markers everywhere. Somehow including it automatically could be interesting (but is not something we're currently planning to do so contributions welcome).

[2018-04-24 08:16] johanandren commented on #24959
https://jenkins.akka.io:8498/job/akka-nightly-2.12/552/consoleFull

[2018-04-24 08:33] BillOTei commented on #22874
well dumb question but are you checking anything in your receive `receiver` actor method?
here is a working ex with http response https://stackoverflow.com/questions/48447646/akka-stream-to-actor-issue/48448043
do you need the thread sleep?

[2018-04-24 09:11] martin-g commented on #24898
[akka-compilation-issue-24898.zip](https://github.com/akka/akka/files/1941992/akka-compilation-issue-24898.zip)

@patriknw The problematic code is at `src/main/scala/AggregatorActor.scala`. It breaks only if the lambda return a `Future`. Thus the error message `cannot be applied to (scala.concurrent.duration.FiniteDuration, scala.concurrent.duration.FiniteDuration, () => scala.concurrent.Future[Un

[2018-04-24 09:38] patriknw commented on #24535
got it, thanks

[2018-04-24 10:00] patriknw commented on #24725
ok, thanks. We'll see, not extremely urgent.

[2018-04-24 10:04] patriknw commented on #20984
Thanks for offering help @Lasering
I think this might not be the best first contribution, since `AtLeastOnceDelivery` might require some design rethinking while we are anyway defining it's API and behavior.

[2018-04-24 10:09] patriknw commented on #20984
My thinking is that we should see what we can do to simplify usage of `AtLeastOnceDelivery`, perhaps targeted at one single destination?

It's also very heavy since it's typically require persisting all messages and the confirmations. Perhaps we should also provide some lightweight variant that only keeps messages in memory and will not cover the case when sending node crashes.

[2018-04-24 11:26] #24959 closed

[2018-04-24 11:42] johanandren opened #24971 "Stream fold and friends are not usable with mutable collections"
Created from this forum question: https://discuss.lightbend.com/t/beginner-question-regarding-splitwhen-groupby-followed-by-fold/804

`fold`, `foldAsync`, `scan` and `scanAsync` all take a zero element that is expected to be immutable, for `scan` this makes sense as the aggregate-object is passed downstream for every element, but for fold where it is only passed downstream when done, a mutable agg

[2018-04-24 11:56] luben opened #24972 "Artery/TCP graph leak"
I noticed that once an akka-remote association is established between two actor systems, after one of them dies, the other is trying to recover in forever. I have looked at the configs and source code and I can't find how to limit the re-connection retries to some reasonable time-window/attempts count.

I have created a minimal test case. Here is the code:
https://gist.github.com/luben/b78043f5470

[2018-04-24 12:02] luben opened #24973 "Artery/TCP compession actor/memory leak"
I have noticed that after an actor is stopped and remove system association is closed, the compression tables still hold a strong reference to the dead actor preventing its garbage collection. This leads to memory leaks.

Please see reproduction code at: https://gist.github.com/luben/b78043f54708e746c5e32cd466b36af0

The behaviour is observed if you start the "LeakyServer" and "LeakClient". If com

[2018-04-24 12:13] patriknw commented on #24898
@martin-g Thanks. As you probably have figured out the workaround is simple:
[code]

I'm looking into if we can fix this in a better way, but it seems like rather few would be as creative as you to use the `Runnable` in the way you have.

[2018-04-24 12:27] patriknw commented on #24973
It holds `ActorRef` instances either by the compression tables (which will be replaced) or by the LRU cache `ActorRefResolveCache`. Or do you see something else?

Also, note that the `ActorRef` is a rather small object when the actor has been terminated. It doesn't reference the `Actor` itself anymore.

[2018-04-24 12:30] #24733 closed

[2018-04-24 12:50] patriknw commented on #24972
Interesting, thanks for the reproducer. I see the same. It's only supposed to do [3 attempts](https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/artery/tcp/ArteryTcpTransport.scala#L165), but something is wrong.

[code]

[2018-04-24 12:52] luben commented on #24972
Yes, this is as far as I got in the source also. I don't understand though why the restart count is reset.

[2018-04-24 13:16] johanandren commented on #23901
If this is fixed in JDK 10, and JDK 9 is EOL now, how do we deal with this? Close it?

[2018-04-24 13:46] patriknw commented on #24973
ok, sounds good to investigate

[2018-04-24 13:47] missourian55 commented on #22874
Thank you for the example, here is my actor code

`@Component
@Scope(SCOPE_PROTOTYPE)
public class AckingReceiver extends AbstractActor {

    private final LoggingAdapter log = Logging.getLogger(getContext().getSystem(), this);

    @Override
    public Receive createReceive() {
        return receiveBuilder()
            .match(StreamInitialized.class, init -> {
                log.info("Stream

[2018-04-24 14:13] ktoso commented on #23901
If fixed on 10 we can indeed not care about 9 (due to it's EOLish status nowadays anyway AFAIK)

[2018-04-24 15:52] raboof opened #24976 "Make artifact groupId/artifactId easier to find"
We have it in a couple of places but it's not quite obvious...

![selection_303](https://user-images.githubusercontent.com/131856/39198767-301c094a-47e8-11e8-8111-ca453cab071b.png)

[2018-04-24 15:52] raboof commented on #24976
Oops this is a duplicate of #24939

[2018-04-24 15:52] #24976 closed

[2018-04-24 16:02] #23512 closed

[2018-04-24 16:02] ktoso commented on #23512
The new operator is called `wireTap` and will be in 2.5.13

[2018-04-24 16:59] luben commented on #24972
I dig a little bit more here. Still I don't understand some of the behavior:

- While `outbound-restart-backoff` is 1 second (default), I see the restarts happening each 5 minutes, even if  `RestartWithBackoffFlow` reports that the restart is scheduled in 1 second.

- The control connection (system association) has restart count Integer.Inf, so it restarts forever (because `maxRestarts` param is n

[2018-04-24 17:13] #24934 closed

[2018-04-24 17:13] ktoso commented on #24934
Thanks for the reporting and collaboration on this!~

[2018-04-25 03:43] ktoso opened #24979 "Flaky wireTap test"
Seems this spec is a bit flaky, https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/12416/testReport/junit/akka.stream.scaladsl/FlowWireTapSpec/A_wireTap_must_call_the_procedure_for_each_element/

A bit weird why...

[code]

[2018-04-25 04:00] ktoso commented on #24951
I see what you mean; Bear in mind that the complete on timeout is racy anyway, so it's not like you gained full determinism. You are right though that it may cause dropping of an element... Though if we ensured the two are always fused.

I would like the `recoverTermination` in any case I guess.
Though your argument about timing may indeed be helpful... How about adding a parameter that is `except

[2018-04-25 04:00] ktoso commented on #24951
More opinions welcome here @patriknw @johanandren

[2018-04-25 06:04] patriknw commented on #24973
See also https://github.com/akka/akka/issues/24972

[2018-04-25 07:53] johanandren commented on #24728
Ach, I was wrong.

https://jenkins.akka.io:8498/job/akka-nightly/5440/testReport/junit/akka.cluster.typed/ClusterApiSpec/A_typed_Cluster_must_join_a_cluster_and_observe_events_from_both_sides/

[2018-04-25 07:53] johanandren commented on #24979
https://jenkins.akka.io:8498/job/akka-nightly-2.12/553/testReport/junit/akka.stream.scaladsl/FlowWireTapSpec/A_wireTap_must_call_the_procedure_for_each_element/

[2018-04-25 07:54] ktoso commented on #24979
See fix PR please so we can avoid the failure popping up in PRs

[2018-04-25 08:51] johanandren commented on #24951
I think a complete-after-idle would be nice.

Not sure I think the transform-failure-to-completion one is a good idea since I think that having that may make people think ordering is guaranteed.

[2018-04-25 08:55] ktoso commented on #24951
Ok, so the overloads. With which API. I proposed one above with Try, or a boolean flag, WDYT

[2018-04-25 09:15] patriknw commented on #24951
BTW, I don't understand why we deprecated `recoverWith` in favor of `recoverWithRetries`. I'd say that in many cases you don't care about the retry counter.

[2018-04-25 09:26] ktoso commented on #24951
Yeah that was my proposal initially. Esp the fusing aspect I thought makes it safe enough dropping wise, since they are racy anyway.

Can we then start with the new operator and see how it does? (the one recovering into a completion)

[2018-04-25 09:34] markusthoemmes commented on #24951
You typically place that immediately after the other stage that emits the failure and then they are fused and there is no real surprise with regards to dropped elements.

It sounds a bit dangerous to me to rely on fusion here. That breaks the `Materializer` abstraction a "bit", does it?

[2018-04-25 09:35] ktoso commented on #24951
As I mentioned, it is timing stages — they are racy by definition anyway to begin with.

[2018-04-25 09:42] markusthoemmes commented on #24951
Ha, that's a fair point! 🎉

One last question regarding "catching the error signal" (I'm not super deep into reactive streams, please bear with me): Will the error signal be signaled downstream strictly?

As in: Is the usual flow:
1. Flow fails, propagates failure downstream
2. Failure reaches sink, fails the stream
3. Failure signal walks upstream

And now it'd be:
1. Flow fails, propagates failu

[2018-04-25 10:41] patriknw commented on #24972
@luben I have started some improvements in https://github.com/akka/akka/pull/24983
Please try it out.

[2018-04-25 11:41] markusthoemmes commented on #24758
Looking into implementing @ktoso's latest proposal.

[2018-04-26 03:15] ktoso opened #24986 "Easing into Streams APIs: Consider Source.run() == Source.runWith(Sink.ignore)"
Topic reminded by @raboof

After some silly naming ideas, (Sink.nomnomnom 😉), we considered also:
though just being able to run() on a Source which means Sink ignore would also be fine

For consideration.

It could shield newcomers from the "I need to ignore to run a source?" confusion, which is a small one, but in first few minutes can build up to "another thing to learn right away".

In teaching

[2018-04-26 06:37] alatvian opened #24989 "Messages scheduled with Timers mix in ignore NotInfluenceReceiveTimeout trait"
akka version: Found in 2.5.6 (and up)

Actor messages that extend the trait `NotInfluenceReceiveTimeout` do influence the Receive Timeout when sent from an actor to itself when scheduled using the `Timers` mix in.

I would expect that Actor messages that extend `NotInfluenceReceiveTimeout` scheduled with the `Timers` mix in would not reset the actor Receive Timeout based on the documentation [here

[2018-04-26 09:54] johanandren commented on #24951
I think you could rather describe it as:

1. stage fails
2.  in some order
    * upstream is cancelled
    * failure is propagated downstream.

[2018-04-26 12:53] richardimaoka commented on #24493
will have a look

[2018-04-26 13:56] #24979 closed

[2018-04-26 14:11] johanandren opened #24991 "Failed: BoundedBlockingQueueSpec"
https://jenkins.akka.io:8498/job/akka-nightly/5444/consoleFull

[code]

[2018-04-26 14:12] johanandren commented on #24991
@txsmith would mind taking a look at this given that you recently contributed the test?

[2018-04-26 16:54] patriknw commented on #24989
@alatvian Great finding. Would you be able to create a pull request fixing this issue?

[2018-04-26 16:57] patriknw commented on #24986
I like that

[2018-04-26 17:32] patriknw commented on #24646
Change signature in `ReceiveTimeout` to:
[code]

It will then override the `Abstract.ActorContext#cancelReceiveTimeout`, and you already got the implementation of it for free.

[2018-04-26 19:30] ralphlaude commented on #24646
Thanks

[2018-04-26 21:28] ralphlaude commented on #24646
@patriknw: here is my pull request (https://github.com/akka/akka/pull/24993). I changed also the documentation. Please take a look.
If everything is fine, i will start adding the support for java.time.Duration in the next module.

[2018-04-27 02:12] alatvian commented on #24989
@patriknw Here's a PR: https://github.com/akka/akka/pull/24994

[2018-04-27 04:52] ktoso opened #24995 "Docs: naming consistency on "levels": operators, graphs, stages"
Nowadays in docs we refer to operators as stages, and to even linear flows as "linear graphs".
All of this is true of course, however it exposes newcomers to the "advanced words" (graph, (graph)stage), while they're only looking at the simple operators.

Proposal:
- **Whenever we talk about operators,** also the "stages overview" etc, we **should only use the word operator.** While it may feel a b

[2018-04-27 04:52] ktoso commented on #24995
- Also, the words "linear graphs" etc, should be simply "streams"

[2018-04-27 05:07] ktoso opened #24996 "Built-in kill switch for every stream proposal, alternative run()s?"
This relates to `Easing into Streams APIs: Consider Source.run() == Source.runWith(Sink.ignore)`
#24986  since it may mean that that run() or some other form of running, would materialize a thing that is always "the same thing", as in maybe `Materialization<M>`, where the Materialization always "is the same", and exposes capabilities that people sometimes/often (depends who you ask I guess :)) ask

[2018-04-27 11:45] #24935 closed

[2018-04-27 11:47] #24726 closed

[2018-04-28 16:28] richardimaoka opened #25004 "paradox command fails on Windows in def getDetails of StreamOperatorsIndexGenerator"
After #24928 was in, the paradox command started failing on Windows (works fine on Mac), due to the new-line character difference. I can fix this.

On windows,
`sbt` -> `project akka-docs` -> `paradox` :

https://github.com/akka/akka/blob/054b70c41b58d911829057872eac08f92b6db66f/project/StreamOperatorsIndexGenerator.scala#L199

The above line fails with this exception:

[code]

[2018-04-28 18:17] txsmith commented on #24991
Sure thing! I've got time next Monday so I'll get back to you in a couple of days.

[2018-04-28 18:49] richardimaoka commented on #23948
Will have a look. For  futures.md, as a large part of it would be re-written, I might need to split the work into few PRs rather than a single PR - let me see how it goes.

Few more things would be needed as well as what are listed above:

- link to [the official Scala Future doc](https://docs.scala-lang.org/overviews/core/futures.html) instead of [Wikipedia](http://en.wikipedia.org/wiki/Futures_a

[2018-04-29 09:04] richardimaoka commented on #24177
Working on this

[2018-04-29 09:08] ktoso commented on #24177
Awesome, I think we want it in all pages even... Including the guide as well.

Duplicate ticket: https://github.com/akka/akka/issues/24939 I'll close that one

[2018-04-29 09:08] #24939 closed

[2018-04-29 09:09] ktoso commented on #24939
Duplicate

[2018-04-29 09:24] satansk commented on #24177
I think putting all dependencies in one page and other pages have links to it would be nice.

[2018-04-29 09:34] satansk opened #25008 "Can't run `sbt akka-docs/paradox`"
When I generate the docs using `sbt akka-docs/paradox`, I get the following error messages:

[code]

And it can be fixed by putting `import akka.remote.artery.aeron.AeronSource` inside `ArteryTransport`:

[code]

Is this a bug of Akka or something else?

[2018-04-29 10:45] satansk commented on #24900
Let me try it :)

[2018-04-29 11:31] richardimaoka opened #25011 "doc Move Persistence pages to a dedicated group, similar to stream, cluster, and typed"
Currently "persistence" pages are under the "Actors" grouping.

![image](https://user-images.githubusercontent.com/7414320/39406035-4f400f5e-4beb-11e8-9394-4e3b8a9fda70.png)

I think they deserve a separate group (or is it called directory?) like stream and cluster, so what I suggest are:

- split persistence.md into a few separate pages as it is 1500 lines currently
- move persistence related pag

[2018-04-29 11:44] ktoso commented on #25011
They are actors though hm... I get the suggestion but would suggest waiting with any restructuring here for a while, we may want to restructure persistence some more later on, due to typed, multidc etc etc.

[2018-04-30 07:08] johanandren commented on #25011
I like the idea and I think it is a reasonable category, but as Konrad says, let's wait until the soon-to-be-worked-on persistence related things are done.

[2018-04-30 07:28] chbatey opened #25014 "Failed: MultiJVM nightlies"
Assembly is broken so can't send the artifacts across:

https://jenkins.akka.io:8498/job/akka-multi-node/2738/consoleFull

[2018-04-30 08:10] chbatey commented on #20223
https://jenkins.akka.io:8498/job/akka-nightly-2.12/556/consoleFull

[2018-04-30 08:12] chbatey commented on #24991
https://jenkins.akka.io:8498/job/akka-nightly/5451/testReport/junit/akka.util/BoundedBlockingQueueSpec/offer_with_timeout_must_block_for_less_than_the_timeout_when_the_queue_becomes_not_full/

[2018-04-30 08:24] #23732 closed

[2018-04-30 08:25] johanandren commented on #23358
Fixed by #24932

[2018-04-30 08:27] #23358 closed

[2018-04-30 08:58] #25014 closed

[2018-04-30 09:12] richardimaoka commented on #25011
I see, thanks for the info. Let me close the issue for now, and if needed, let's reopen this later.
Will keep eyes on other persistence related stuff and will take up some when I can.

[2018-04-30 09:12] #25011 closed

[2018-04-30 09:37] johanandren commented on #24996
This may also relate to #24264

[2018-04-30 09:46] johanandren commented on #23901
Verified the test passes in JDK 10 (`Java(TM) SE Runtime Environment 18.3 (build 10+46)`)

[2018-04-30 09:46] #23901 closed

[2018-04-30 09:48] johanandren opened #25016 "JDK 9+ classes only built for exactly JDK 9"
With JDK 9 (now EOL:ed) I see entries like this:
[code]

but with JDK 10 there are no such, I think the inclusion needs to be 9+ rather than exactly 9

[2018-04-30 10:16] chbatey commented on #24636
Speaking to the Aeron devs they haven't done sufficient testing to officially support Big Endian processors such as Sparc. I'll add a note to our artery docs that matches Aeron's support notice.

[2018-04-30 10:44] raboof commented on #24316
Perhaps we should only have the link to the sources of the docs on 'current' (and perhaps 'snapshot') version of the docs?

For older versions we should link to the 'current' version of that page (#23869)

[2018-04-30 11:26] 2m commented on #23789
My current work-in-progress branch: https://github.com/akka/akka/commits/wip-jdk9-build-2m

And the PR validator that I used to test this branch: https://jenkins.akka.io:8498/job/pr-validator-akka-java-9/

The only change needed for the WIP branch that I remember now is to change the hardcoded path to rt.jar (`/usr/lib/jvm/java-8-openjdk/jre/lib/rt.jar`) to something that discovers the jar across

[2018-04-30 11:42] #25016 closed

[2018-04-30 11:43] johanandren commented on #25016
Will not be needed/is soled by the JDK9-build changes in #23789

[2018-04-30 12:11] raboof commented on #20961
We don't have such a link anymore at all, see #23869 for bringing it back :)

[2018-04-30 12:11] #20961 closed

[2018-04-30 12:57] zmarois opened #25019 "Stream restart failure reporting"
My team (indirectly, through [Lagom's ReadSideProcessors](https://www.lagomframework.com/documentation/1.4.x/java/ReadSide.html#Update-the-Read-Side)) utilizes `RestartSource.withBackoff` to keep a stream for background processing alive for an extended period of time. We put our relatively less-reliable processing on this stream precisely to ensure it eventually processes.

When that processing do

[2018-04-30 13:38] rolandjohann opened #25021 "Actor System Startup/Shutdown Logging via customizable backend"
In a distributed environment where there are log collectors relying on specific log formats (e.g. ELK) it is problematic to emit potentially critical log entries with invalid format because of `akka.event.Logging#StandardOutLogger` which simply prints to stdout with non configurable format.
I faced this especially with Akka Stream Kafka Sources, where there are thread dumps on Actor System shutdow

[2018-04-30 14:17] raboof commented on #25021
The `StandardOutLogger` is used during startup when the 'real' logging subsystem is not initialized yet (https://github.com/akka/akka/blob/d986c7b6bb8423e2084b0184ee0f1669c3df55fe/akka-actor/src/main/scala/akka/event/Logging.scala#L82), but is replaced when the 'real' logger has been constructed (https://github.com/akka/akka/blob/d986c7b6bb8423e2084b0184ee0f1669c3df55fe/akka-actor/src/main/scala/a

[2018-04-30 14:34] renatocaval opened #25024 "Source.flattenConcat and Source.flattenMerge(breadth: Int)"
Today I realised that there is no `flatten` method on `Source`. I had a `Source[Source[O, M]]` and my first reaction was to look for a `flatten` method. I end up using `flatMapConcat(identity)`.

I had short chat with @johanandren and it seems that the main reason for that is because there are two `flatMap` variations in Source, `flatMapConcat` and `flatMapMerge`. So, I would like to suggest two n

[2018-04-30 14:50] patriknw commented on #25021
Could you also create a separate issue in Akka Streams Kafka about the logging on shutdown. It shouldn’t trigger (log) the wakeup timeout because of shutdown.

[2018-04-30 21:03] patriknw commented on #24639
Yes, flight recorder is independent of Aeron, ie also used for Artery TCP.

[2018-05-01 06:28] chbatey commented on #24991
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5964/consoleFull

[2018-05-01 07:10] 2m commented on #23789
PR to sbt that will make it possible to automatically discover `rt.jar`: https://github.com/sbt/sbt/pull/4136

[2018-05-01 07:52] huntc commented on #24368
For the record, this change appears to have broken my existing Java code:

[code]

If I revert to 2.5.11 then all is well. This therefore appears to be a breaking change.

Any recommendations, before reading and investigating this further?

[2018-05-01 08:49] chbatey opened #25028 "Failed: TlsTcpWithActorSystemSetupSpec"
https://jenkins.akka.io:8498/job/akka-artery-tcp-remote-tests/73/consoleFull

[2018-05-01 09:01] raboof commented on #24368
Interesting, it seems the change throws off the Java type inferer in the `asJava()` step.

When specifying the generics there explicitly it seems to work:

[code]

Or by doing the conversion at the end instead of in the middle:

[code]

[2018-05-01 09:17] Horusiath opened #25030 "Introduce FunctionRef equivalent for cluster sharding"
The idea here is to add an abstraction over entities managed by cluster sharding feature, that would work over cluster sharding in the same way, `FunctionRef` works currently over `ActorRef`. The further use case here would be to make a location transparent - as imagined by cluster sharding routing transparency - stream refs equivalent.

Of course this would come with some issues - as sharded enti

[2018-05-01 10:05] huntc commented on #24368
I’m sure I tried both of those things... I’ll try again when I’m back at the desk. Thanks.

[2018-05-01 10:57] satansk commented on #24888
Hi @patriknw , I'm working on this issue. From your comments, I add another `recoverWithRetries` which take a `Class` and a `Graph` instead of `PartialFunction`:

[code]

I make a `PartialFunction` inside of `recoverWithRetries` and delegate the function to `new Flow(delegate.recoverWithRetries(attempts, pf))`, but I get a error message here:

[code]

When I modify the Scala dsl `recoverWithRetrie

[2018-05-01 15:13] piotrromanski opened #25034 "Handle a negative value returned by Math.abs()"
`Math.abs(Integer.MIN_VALUE)` returns a negative value. It can negatively impact how bucket indexes are calculated, for example: `(Math.abs(x.hashCode()) % size)` can return a negative bucket index. To fix it we need to, for example, either
1. change order of operations: `(Math.abs(x.hashCode() % size))`
2. or just remove first bit: (x.hashCode() & 0x7FFFFFFF) % size - this will change the current

[2018-05-01 15:32] chbatey commented on #24960
Hard to grok the logs when this is running in the same JVM, only the logs with the port can be distinguished between the Actor systems unless I am missing a trick. Maybe better as multi jvm test?

[2018-05-01 15:33] chbatey commented on #24870
Ping @SethTisue :)

[2018-05-01 15:34] chbatey commented on #24789
We haven't seen Aeron unable to shut down its thread again and we've upgraded 2 Aeron versions so closing this unless it happens again.

[2018-05-01 15:34] #24789 closed

[2018-05-01 15:45] chbatey commented on #24788
Two of the nodes look to have times out waiting for each other. I've added debug logging and running in the repeat job: https://jenkins.akka.io:8498/job/akka-multi-node-repeat/

[2018-05-01 23:43] huntc commented on #24368
Thanks, @raboof - that worked. However, this should perhaps be indicated as a breaking change within the 2.5.12 release notes.

[2018-05-02 06:59] johanandren commented on #24368
Yeah, I'm sorry we missed out on that. If you read back in the issue you'll see that the original stream type parameters for Java ended up being completely unbounded, and you could express whatever crazy thing for a few of the operators that would blow up at runtime.

I think that nobody reported any issues for almost a month indicates the cross-dsl isn't much used outside of Akka itself though.

[2018-05-02 10:12] chbatey commented on #25028
https://jenkins.akka.io:8498/job/akka-artery-tcp-remote-tests/changes

[2018-05-02 10:16] SethTisue commented on #24870
cannot currently reproduce this. 🤷‍♂️

[2018-05-02 10:16] #24870 closed

[2018-05-02 10:33] chbatey opened #25038 "Document best practices or provide a way to do TCP connection pooling"
When building a TCP client using Akka Streams outgoingConnection it is common to want to reuse connections. Most of the time a higher level protocol should be used but there are cases e.g. when developing a client for an existing TCP protocol such as a database driver / SMTP client when connection pooling would be useful. Might not be possible to make this generic enough but adding something to th

[2018-05-02 10:35] raboof commented on #24960
Instead of having all logging mashed together on STDOUT, I wonder if it'd make sense to also send per-test logging to a file with slf4j - we can configure that to also include the actorsystem name. Not sure how hard it'd be to make those easily available through Jenkins though?

[2018-05-02 10:42] patriknw opened #25039 "IgnoreBehavior extends Behavior[Nothing]"
Suggested by @debasishg . Worth trying out...

Regarding https://github.com/akka/akka/blob/master/akka-actor-typed/src/main/scala/akka/actor/typed/Behavior.scala#L169-L171, can't we have

[code]

and then we can avoid the cast in https://github.com/akka/akka/blob/master/akka-actor-typed/src/main/scala/akka/actor/typed/Behavior.scala#L155

[code]

Similar for empty ..

[2018-05-02 12:56] patriknw opened #25040 "NPE when using import context.dispatcher"
Reported here: https://groups.google.com/d/msg/akka-user/LHWnzwIWnOw/3hBGmncrBAAJ

E.g. if a future callback is running after the enclosing actor has been stopped.

It's because we try to clear things in the actor cell to avoid holding more memory references than necessary, in case the cell is still referenced (from ActorRef).

Can we clean more selectively to still keep the context? Otherwise we

[2018-05-02 13:27] patriknw commented on #25034
@piotrromanski  That's an interesting observation. For cluster sharding we can't change the end result of for example `HashCodeMessageExtractor`. That would be a disaster when doing a rolling upgrade. So I don't see how we could change this? What is the practical implication? It could be one more shard than specified (the size) and it will only contain the entities that hash to Int.MinValue?

[2018-05-02 13:35] #25028 closed

[2018-05-02 13:40] patriknw commented on #25030
I'm not sure I follow. In the Typed APIs we added [EntityRef](https://doc.akka.io/docs/akka/current/typed/cluster-sharding.html) and perhaps that is what you are looking for?

[2018-05-02 13:46] patriknw commented on #25024
What would it do when `T` is not a `Source`?

[2018-05-02 13:48] Horusiath commented on #25030
Yes, it's related to `EntityRef`s. However they live on a caller side and are not present (?) in core untyped akka, which doesn't have them but also requires Actor representation to work with. This proposal aims to span sharding capabilities not only over actors, but any kind of functionality that can be represented as a function (desirably to make things like sharded streams possible).

[2018-05-02 13:59] patriknw commented on #24944
I agree that it would be useful to define a higher level api for custom Flow stages.

Somewhat related https://github.com/akka/akka-stream-contrib/pull/121#issuecomment-366630674

We probably don't have the bandwidth to do it right now, but might be a good topic for next face-2-face meeting.

[2018-05-02 14:03] patriknw commented on #24905
and therefore we shouldn't try to support it

[2018-05-02 14:03] #24905 closed

[2018-05-02 14:04] patriknw commented on #24873
Doesn't sound like a major problem

[2018-05-02 14:04] #24873 closed

[2018-05-02 14:07] renatocaval commented on #25024
Well, the same way it is done with `Future`:
`def flatten[S](implicit ev: T <:< Future[S]): Future[S]`

[2018-05-02 14:08] patriknw commented on #24877
I don't think we want an explosion of number of supported mailbox implementations, but you can implement it yourself in your own project/library.

[2018-05-02 14:17] patriknw commented on #24860
Feels like there could be an explosion of such specialized rate and time operators. It would be nice if we could figure out a way to have an api that unlocks more operators for a specific area, without having to put everything at the top level.

Unfortunately this doesn't read too well:
[code]

since one could mistake `time` to be a separate operator.

[2018-05-02 14:43] renatocaval commented on #25024
For the same reason it was introduced in `Future`, for the reason I mentioned above, not everybody knows or understands that `flatten` can be defined in terms of `flatMap` and `identity` and because it's a common thing to have whenever there is a `flatMap` or similar method.

Moreover, there is not a huge complexity fee to add it. Like many other operators, it's just a convenience. `flatMapConcat`

[2018-05-02 17:07] debasishg opened #25041 "Clearer delineation between effects and side-effects"
Looks like we need to be a bit more consistent in differentiating between effects and side-effects. We have the following hierarchy:

[code]

And then in `EffectImpl` we have

[code]
Why `sideEffects` return a collection of `ChainableEffect` and not `SideEffect` ? Looks like we don't have any other `ChainableEffect` in the implementation. And it's not meant for user extension as well. Can we make

[2018-05-02 17:12] debasishg opened #25042 "Ordering of Side-effects in akka-persistence-typed"
In https://github.com/akka/akka/blob/master/akka-persistence-typed/src/main/scala/akka/persistence/typed/internal/EffectImpl.scala#L19 we have a collection of SideEffect being returned, which will be executed downstream.

Is the client free to execute these in any order ? Or do we need to enforce any semantics on ordering of side-effects ? e.g. we have `Seq[SideEffect]`, which means the client is

[2018-05-02 18:05] patriknw opened #25043 "UnfoldResourceSourceAsync is using system.dispatcher"
Why not materializer.executionContext?

[2018-05-03 04:39] huntc opened #25045 "Coercing Java/Scala SourceQueues"
There is no publicly available Scala/Java conversion for `SourceQueue` and `SourceQueueWithComplete`.

Perhaps `asJava`/`asScala` methods could be provided.

[2018-05-03 06:45] patriknw commented on #25045
Sounds good

[2018-05-03 06:48] ilovezfs opened #25046 "Upgrading Homebrew formula"
The current version in Homebrew is
https://downloads.typesafe.com/akka/akka_2.11-2.4.17.zip
https://github.com/Homebrew/homebrew-core/blob/master/Formula/akka.rb#L4

This repo says the latest is actually 2.5.12

What is the new url for 2.5.12?

[2018-05-03 06:57] patriknw commented on #25046
We don't have a zip download for Akka 2.5.x because we recommend using Akka with a build tool. It doesn't make much sense to me to have a Homebrew forumula of Akka since it's not something you install.

[2018-05-03 07:00] ilovezfs commented on #25046
@patriknw we could consider removing it. It has been in Homebrew since 2012 though https://github.com/Homebrew/legacy-homebrew/pull/12042

[2018-05-03 07:06] patriknw commented on #25046
If it would be anything I think it would be better that it just "installed" the Quickstart example project: https://developer.lightbend.com/guides/akka-quickstart-scala

The direct download URL of such example zip is: https://example.lightbend.com/v1/download/akka-quickstart-scala?name=akka-quickstart-scala

Perhaps it can include sbt and java dependencies?

[2018-05-03 09:04] #24954 closed

[2018-05-03 09:25] patriknw commented on #23565
It's supported by Artery TLS/TCP so I'd say that we'll close this one and recommend Artery if hostname verification is needed.

[2018-05-03 09:25] #23565 closed

[2018-05-03 10:27] raboof opened #25047 "Log a message when a node receives or loses leadership status"
Akka clusters are masterless during regular operation, but there is a 'leader' role which identifies a node that will perform some administrative tasks when the gossiped cluster membership information is converged. This role can move from node to node as members join or leave the cluster. More details at https://doc.akka.io/docs/akka/current/common/cluster.html#leader

It might be nice to keep tra

[2018-05-03 10:28] #24758 closed

[2018-05-03 11:25] johanandren commented on #24676
Note that this wasn't incorrect, just surprising, and what has been merged is just test coverage clarifying the existing behavior.

[2018-05-03 11:25] #24676 closed

[2018-05-03 11:26] patriknw commented on #25047
sounds good, can probably be added to [def leaderActions](https://github.com/akka/akka/blob/master/akka-cluster/src/main/scala/akka/cluster/ClusterDaemon.scala#L1020)

[2018-05-03 12:47] johanandren commented on #25043
Looks like an oversight to me.

[2018-05-03 18:39] missourian55 commented on #22874
Anyone? If it is a known problem I will move on to a different strategy.

[2018-05-03 19:02] raboof commented on #22874
@missourian55 interestingly though, your implementation is pretty close to the example at https://doc.akka.io/docs/akka/current/stream/stream-integrations.html?language=scala#sink-actorrefwithack - and I just noticed that has the same problem... so it might in fact be a problem with `actorRefWithAck` (or with the documentation).

[2018-05-03 19:09] raboof commented on #22874
@missourian55 The problem is that we do `new Ack()` every time, which produces a new, different 'Ack' object each time. Because of that the `new Ack()` from the `AckingReceiver` is not recognized as an acknowledgement and the stream is stuck there. We should definitely update the docs - would you be interested in giving that a try?

[2018-05-03 19:55] missourian55 commented on #22874
Sorry if this is a dump question, so the **Ack** instance at the time if initializing the Sink and one return from **AckingReceiver** should be the same?
You can post the answer in this topic https://discuss.lightbend.com/t/sink-actorrefwithack-not-working/917

[2018-05-03 21:08] missourian55 commented on #22874
@raboof Thanks, your suggestion worked. I maintain a singleton instance of "Ack" for my application.

[2018-05-03 21:35] ralphlaude commented on #24646
@johanandren: Do it need something else here, except putting something in the MiMa excludes?

[2018-05-04 06:17] chbatey opened #25049 "Failed: TestFSMRefSpec"
https://jenkins.akka.io:8498/job/akka-nightly/5467/consoleFull

[code]

[2018-05-04 08:59] Horusiath commented on #25030
@svozniuk stream refs only allows to maintain location transparency. This is still far from sharding/singletons. If a machine on which stream was materialized, dies for any reason, you need to manually acknowledge that fact and move graph to another one. Same thing concerns rebalancing. Here the idea was to expose potential streaming capability on several machines and let them to switch from one t

[2018-05-04 13:17] #24922 closed

[2018-05-06 20:24] oheger opened #25055 "Contradictory OSGi meta data for akka-stream (2.5.12)"
Hi,

I am having trouble deploying akka-stream_2.12-2.5.12.jar in an Apache Felix OSGi container because of a version conflict for scala.util.parsing.combinator. In the Import-Package declaration a version range of [1.0.4,1.1.0) is declared, so the version must be before 1.1.0. However, the sslconfig bundle (which is explicitly referenced in version 0.2.3 via a Require-Bundle header) also imports

[2018-05-07 02:15] #24962 closed

[2018-05-07 06:54] patriknw commented on #25055
Can you please open a PR fixing the issue?

[2018-05-07 07:50] dotta opened #25057 "Log error message printed to stdout despite mute filter"
Using Akka version 2.5.11.

Have `akka.loggers = ["akka.testkit.TestEventListener"]` set in the `application.conf` and, before executing a test, do `system.eventStream.publish(TestEvent.Mute(EventFilter.error()))`.

With this setup, I expect all calls to `log.error` to be muted. However, what I'm actually seeing is that calls to `log.error(msg)` are correctly muted, while calls to `log.error(cause

[2018-05-07 14:06] ktoso commented on #24933
I just figured out that we should call the "backpressures when" etc sections as "Reactive Streams Semantics", it will help establish Akka Streams == Reactive Streams.

<img width="665" alt="actorrefwithack_ _akka_documentation" src="https://user-images.githubusercontent.com/120979/39706098-4501a79e-524b-11e8-8321-482530206c78.png">

So such heading on all operators pages before the "... when ..."

[2018-05-07 14:57] patriknw opened #25059 "Update Aeron to 1.9.1"
Aeron 1.9.1 is wire compatible with 1.7

[2018-05-07 14:57] #25059 closed

[2018-05-07 14:58] ktoso commented on #25059
Awesome, was not entirely sure on the wire compat. This means we get the archive :-)

[2018-05-07 15:00] #24924 closed

[2018-05-07 16:13] oheger commented on #25055
I will try to come up with a PR.

However, it is not clear to me why there is this Require-Bundle header; normally the package imports should be sufficient. I guess it is there for a specific reason, as this is normally not considered best practice in OSGi. Could somebody give me a hint before I break something?

[2018-05-07 17:16] ilyshav opened #25061 "Testkit typed: NoEffects expectations are broken."
Hello!
I am trying to test actor that performs no actions at all.

Actor:
[code]

And test:
[code]
As a test result a got some strange assertion failure:

This is looks surprising, because scaladoc for NoEffects says, that this effect means that behavior didn't do anything.

[2018-05-07 17:46] brunogbv commented on #24934
Hello guys,

I'm using akka-streams 2.5.12 and I'm still getting this exact same error. I'm creating a source from kafka using akka-stream-kafka (0.20) and sending the created SourceRef to another actor via message. The stream is materialized and I can see stream elements being parsed on the log. What should I do? Is there another way to run a source in a remote actor?

[2018-05-07 19:09] patriknw commented on #24934
This has not been released yet. It's targeted for upcoming 2.5.13.
There was one fix for 2.5.12 but that was not covering everything.

[2018-05-08 04:15] ktoso commented on #25055
We're not really experts in OSGi and its support is mostly contributed by external contributors, so it may well be that it was added just so... This also kind of explains the state of OSGi in Akka, it is fixed when people fix it -- not actively maintained or tested by us.

[2018-05-08 05:55] ktoso commented on #24934
As workaround on 2.5.12 you can set the timeout to infinite, and apply one manually using the akka streams timeout operators

[2018-05-08 07:35] chbatey commented on #24637
It would also be useful have a call back on success. Especially for testing snapshotting actors deterministically

[2018-05-08 07:53] raboof opened #25065 "Multi-node ClusterDeathWatchSpec"
https://jenkins.akka.io:8498/job/akka-nightly/5472/consoleFull

Perhaps related to #19383, #24043 (but not identical)

[code]

[2018-05-08 11:08] patriknw opened #25067 "Make sure Serialization.currentTransportInformation is always set"
The ThreadLocal Serialization.currentTransportInformation is used for serializing local actor refs, but it's also useful when a serializer library e.g. custom serializer/deserializer in Jackson need access to the current `ActorSystem`.

We set this in a rather ad-hoc way from remoting and in some persistence plugins, but it's only set for serialization and not deserialization, and it's easy for Pe

[2018-05-08 11:29] patriknw commented on #22728
for the record, we had another request for this

[2018-05-08 12:53] hseeberger opened #25069 "Allow for different overflow strategies for `BroadcastHub.sink`"
Currently the upstream source is implicitly backpressured once the buffer is full. It would be useful to have different overflow strategies, e.g. failing the slow consumer(s).

[2018-05-08 14:52] patriknw opened #25070 "expectEffectClass in javadsl.BehaviorTestKit"
How is it supposed to be used when the classes are not public in javadsl?

Also, some effects carry additional things that one might want to assert without doing a full equals check. E.g. childName in `Spawned`. I don't think that is possible without exposing individual effect classes/interfaces.

[2018-05-09 05:41] raboof opened #25072 "PersistentActor requests RecoveryPermit even when recovery is disabled"
When starting, `PersistentActor` requests a `RecoveryPermit` so we can limit the number of concurrent recoveries. However, it also does this when recovery is disabled (by overriding `PersistenceRecovery.recovery` and returning `Recovery.none`).

It might be slightly leaner to avoid getting a `RecoveryPermit` in this case.

[2018-05-09 05:58] raboof commented on #25072
There seems to be some more logic in there that could be short-circuited in the case where recovery is disabled, though we'd have to strike a balance between performance in this relatively exotic case and simplicity of the recovery logic.

[2018-05-09 06:03] dispalt opened #25073 "StreamRefsProtocol inherit from Serializable?"
I am running into a multiple serializer issue with `StreamsRef` using the vanilla `chill-akka` settings, and I was looking through other protocols (artery, cluster, etc) and they all seem to inherit from `Serializable`.  Is this potentially the source of the issue?

The error:

[code]

[2018-05-09 09:13] raboof opened #25074 "java.time.DateTimeException: Invalid value for MonthOfYear (valid values 1 - 12): 0"
JVM exception while reading a jar?

https://jenkins.akka.io:8498/job/akka-nightly-jdk9/166/

[code]

[2018-05-09 10:11] patriknw opened #25075 "Add Scoverage to the build"
Probably not run it always, but we can have one of the nightly jobs do it.

See https://github.com/lightbend/cinnamon/pull/1134

When I quickly tried it a few weeks ago there was some streams stress test that didn't work with Scoverage.

One challenge might be to also enable it for multi-jvm tests and preferably get one single report when all tests have been run.

[2018-05-09 10:17] patriknw commented on #25072
Sounds like a good idea. The permit handling logic is already rather convoluted because of binary compatibility constraints (trait EventSourced) so we have to see how much complexity it adds.

[2018-05-09 14:08] patriknw opened #25078 "Java API for AsyncSerializer"
We need that too, since a custom serializer will have to use future composition.

[2018-05-09 17:56] dispalt commented on #25073
Sure thing.

[2018-05-09 22:07] ralphlaude commented on #24646
I would like to know which module to do next? Or may be the issue is done?
Thanks for hints.

[2018-05-10 09:46] IcyEagle opened #25081 "IO.Tcp and Akka Typed"
I try to use Akka Typed behaviour to start listening TCP port but for some reason message `Bound` sent by Akka's TcpListener can't reach the behaviour (aka commander). Eventually the server is started successfully but I wonder what's wrong with message delivery.

Here is a [sample project](https://github.com/IcyEagle/akka-typed-tcp-issue) to reproduce the issue.

Here are some logs:

[code]

Thank

[2018-05-10 11:18] johanandren commented on #21028
Ah, I was incorrect about this `assertAllStagesStopped` is still in the test sources of the TestKit, not a part of the actual TestKit.

[2018-05-10 12:32] #24881 closed

[2018-05-10 18:41] patriknw commented on #24866
I believe this was fixed in https://github.com/akka/akka/pull/24892

[2018-05-10 18:41] #24866 closed

[2018-05-11 01:29] kyal opened #25082 "Behavior.wrap does not match StoppedBehavior(OptionVal.Some(behavior))"
When using an intercepted behavior and returning `stopped(postStop)` the call to Behavior.wrap will not pass the `StoppedBehavior(OptionVal.Some(postStop))` through to `ActorAdapter.next(...)` and instead will re-wrap it as if it were not a terminal behavior. As a result `context.stop` is never invoked and it does not work as designed. The error is in Behavior.scala line 250:
[code]

[2018-05-11 04:50] TimMoore opened #25083 "Add a Done.done() convenience API for Java"
[`akka.Done`](https://doc.akka.io/japi/akka/current/akka/Done.html) is quite convenient to use from Scala as a singleton object. In Java, you need to use `Done.getInstance()` instead, which is rather verbose. Statically importing the `getInstance()` method loses clarity.

Proposal: add a `Done.done()` static method that is equivalent to `Done.getInstance()`. Even fully-qualified, it is shorter, an

[2018-05-11 04:51] TimMoore commented on #25083
I can send a PR when I get spare time for this... just wanted to record an issue for discussion first. I already discussed briefly with @patriknw.

[2018-05-11 04:53] TimMoore commented on #25083
Might as well do the same for `NotUsed` and other singleton objects... searching through the code, there are quite a few of these.

[2018-05-11 06:40] patriknw opened #25084 "Rename akka-testkit-typed to akka-actor-testkit-typed"
The untyped is named `akka-testkit` but it's really a testkit for actors so we should rename the Typed to `akka-actor-testkit-typed`

[2018-05-11 06:40] patriknw commented on #25084
and some package renames

[2018-05-11 08:31] #25074 closed

[2018-05-11 09:56] ktoso commented on #25083
Sounds okey to apply to Done and NotUsed byt not sure about globally applying it all over the place, sounds good? :)

[2018-05-11 10:11] patriknw commented on #25083
I agree, let's do it for `Done` and `NotUsed`.

Regarding deprecation; while I dislike having multiple APIs for the same thing it might hurt too many users to deprecate `getInstance` without a motivating value.

When not using static import I think `Done.getInstance()` reads better, so I don't think we should update documentation examples. If there is some specific example that benefits from using

[2018-05-11 15:08] patriknw commented on #25082
Thanks for reporting. Feel free to open PR if you know how to fix it.

[2018-05-11 18:34] brunogbv commented on #24934
Thank you very much for the reply @patriknw @ktoso.
How can I set the timeout to infinite? Setting it to 0 or <0?

Thanks in advance!!

[2018-05-12 11:40] FlorianGit opened #25086 "Documentation: clarify test example in part 3 of starting guide"
I'm currently working through [part 3](https://doc.akka.io/docs/akka/current/guide/tutorial_3.html#testing-the-actor) of the starting guide, "testing the actor" and had a bit of trouble getting the code to work. The example leaves out the details of exactly what kind of spec is used.

I had a look at the [source of the snippet](https://github.com/akka/akka/blob/master/akka-docs/src/test/scala/tuto

[2018-05-12 14:52] OElesin opened #25088 "Akka Actors not starting on AWS EC2 Instance"
I have an Akka Actors application to run a batch job asynchronously. Tests and application run on localhost. However, when deployed to AWS EC2 instances, the application starts but does commence the actor processes.

Below are snippets from my code:

[code]

[code]
Logs from running on AWS EC2
[code]

Any ideas on what I could be doing wrong? Thanks in advance

[2018-05-13 07:16] patriknw commented on #25088
Hi, we use github issues just for bugs and feature requests. Your question doesn't seem to fall in that range. Can you please ask it on https://discuss.akka.io ?

That will help us a lot to keep this place clean for actual work items (and you will probably find a bigger audience there to help you with that question).

Please feel free to reopen or comment if you think your question is actually a b

[2018-05-13 07:16] #25088 closed

[2018-05-13 17:15] #24888 closed

[2018-05-13 17:35] codepitbull opened #25090 "akka dies with a java.lang.UnsatisfiedLinkError when run graalvm"
I've been trying to very a (very) small native akka-http prototype with native-image from graalvm.
The build is passing but there is an issue when running the resulting binary.

**akka.util.Reflect** contains the following code:

[code]

The selected method **getCallerClass** has been deprecated a while ago and is not suppoerted on Graalvm.
This causes a **java.lang.UnsatisifedLinkError**, bubblin

[2018-05-13 17:51] ktoso commented on #25090
Thanks for reporting, would be good to be able to have such minimal app work with graal.

To confirm, to run the reproducer it's enough to just "run with graal" on JDK10+?

[2018-05-13 18:07] codepitbull commented on #25090
Haven't tried on JDK10.
To avoid problems I build everything using JDK 8 on Mac OS X (1.8.0_152-bn16) and then use  native-image from the enterprise RC available from oracle.

I use the following skript to create the binary:
[code]

[2018-05-13 21:00] svezfaz opened #25091 "streams - Java API for zipWithIndex returns scala.Long"
`zipWithIndex` in javadsl currently returns `javadsl.Source[Pair[Out, scala.Long], Mat]`. The calling Java code does not recognise the type and rolls it back to `Object`, requiring a subsequent cast.

[code]

the javadsl could be changed to

[code]
?

At first glance I don't think existing Java callers could be broken - however Scala callers might (but in theory there should be none..). WDYT?

[2018-05-13 21:11] huntc commented on #24888
Nice!

[2018-05-14 08:48] #25019 closed

[2018-05-14 09:02] johanandren commented on #25091
I think this should be fixed, thanks for reporting, up for a PR fixing it?

[2018-05-14 09:04] johanandren commented on #25090
Potentially related discussion thread (esp the chime in from Codrut in the end): https://discuss.lightbend.com/t/akka-and-graal-s-native-image-tool/940/11

[2018-05-14 09:16] raboof commented on #25057
`EventFilter.error()` indeed only matches errors without a cause (https://doc.akka.io/api/akka/current/akka/testkit/EventFilter$.html#error(message:String,source:String,start:String,pattern:String,occurrences:Int):akka.testkit.EventFilter). For filtering errors with causes, use `EventFilter[CauseType]()`.

I can see how this can be surprising/confusing though. How could we make this more obvious?

[2018-05-14 09:39] svezfaz commented on #25091
sure, I'll submit a PR soon

[2018-05-14 09:44] johanandren commented on #25086
The reason why we don't pull in the entire sample is to keep the sample short and somewhat test framework agnostic (although we are perhaps already using Scalatest-only test syntax here).

I don't think we want to pull in the complete sample here, as it it would make a simple "here's a minimal test case" take so much space/attention. The sample project referenced in the beginning of the getting st

[2018-05-14 10:27] raboof commented on #25040
I'd say showing `implicit val ec: ExecutionContext = context.dispatcher` is clearer/simpler, if a bit more verbose :+1:.

[2018-05-14 10:41] johanandren commented on #25086
Or include the complete test in the sample project? (if it isn't already)

[2018-05-14 11:27] raboof commented on #25041
I agree this is confusing.

I don't think we can have `SideEffect` and `Effect` as completely separate base classes: we'd like to allow both `input => Effect.stop` and `input => (...); Effect.persist(evt)`, so `Stop` and `Persist` need to have a common supertype.

Do you think it would be reasonable to allow:

[code]
? So far we've discouraged this, and made it impossible to 'mix' the 'persist' ef

[2018-05-14 11:38] raboof commented on #25042
We intend to run these side effects sequentially - though this is indeed not obvious, so we should definitely make that more clear.

When one of the side-effects throws I'd expect this to be treated like an actor faliure, to be handled by the supervisor. I would have to verify whether that is indeed the case, though - and document it as well ;).

[2018-05-14 11:48] debasishg commented on #25041
@raboof I have one concern with the code snippet that u mentioned .. `Effect.sideEffect` sounds like an oxymoron to me. Effect is something algebraic, side effect is NOT. And `Stop` looks like a side-effect to me.

[2018-05-14 12:37] raboof commented on #25041
We use `Effect` here in the meaning of 'description of an action to be interpreted by an interpreter later'.

when interpreting `Persist`, the interpreter persist the event (which is included as a parameter)
when interpreting `Stop`, the interpreter stops the actor
when interpreting `SideEffect`, the interpreter executes some code (which is included as a parameter).

I agree `SideEffect` might not

[2018-05-14 12:51] johanandren opened #25094 "Optimize away Flow.map(identity)"
Not useful for many cases but otoh should be a pretty easy optimisation.

[2018-05-14 12:54] johanandren commented on #25094
Ach. Nevermind, I incorrectly remembered it was a function but it is a method so it is always expanded to a function.

[2018-05-14 12:54] #25094 closed

[2018-05-14 13:45] johanandren opened #25096 "Spawning a stopped behavior with postStop hook throws"
Not a very useful thing to do, but for consistency it should work:

[code]

[2018-05-14 13:46] codepitbull commented on #25090
I remember a discussion about providing somethin akin to OSGi, whcih was answered pretty much the same way : NO.
BUT as all classes Akka relies on should be available. Graal basically scans ALL dependencies when included and is very eager with loading things for compilation. So as long as things are part of the libraries available at compile time we should be fine.
Well, as soon as the changes men

[2018-05-14 13:56] codepitbull commented on #25090
Maybe this one but wouldn't it be better to get rid of the offending method?
The method is deprecated and to continue using it can cause more trouble in the future, especially since it's part of the sun-namespace.

[2018-05-14 14:10] merlijn commented on #25072
In addition to a `RecoveryPermit` being requested also the journals are asked for snapshots and message replay.

We did some testing and in our `PersistentActor` even though we return `Recovery.none` we still see 3 queries are still being done on cassandra.

[code]

[2018-05-14 14:20] johanandren commented on #25081
The reason is that Tcp responds to the _sender_ with `Bound`, the passed in `ActorRef` will get messages when there are connections. With Akka Typed there is no automagic sender so you will have to provide this yourself when interacting with untyped actors (described here: https://doc.akka.io/docs/akka/current/typed/coexisting.html#typed-to-untyped )

This means this is what you have to do:
[code]

[2018-05-14 14:20] #25081 closed

[2018-05-14 14:27] IcyEagle commented on #25081
Awesome! Thanks a lot!

[2018-05-14 14:54] johanandren commented on #25090
Hmm, after looking into it a bit I think I do agree. Reflectively accessing that internal method seems really weird to me.

Would want to know some rationale why all this trixery is at all needed in there though, why can't we either use an explicitly provided classloader (which we do support) or then just use the class loader that loaded the ActorSystem class?

[2018-05-14 15:12] codepitbull commented on #25090
Sadly there is no test (https://github.com/akka/akka/blob/563c7fbcf0fcb374d414403900d620c8fac54d52/akka-actor-tests/src/test/scala/akka/util/ReflectSpec.scala) to check what the intend behind the method is or what cases it is built to cover.
The fallbacks look pretty reasonable to me but I lack the Akka-knowledge to see in what cases the internal-method makes sense.

[2018-05-14 15:17] johanandren commented on #25090
Yeah, there is one PR that made it possible to replace/mock for ScalaJS (I think at least) and then I tracked back to a commit from 2012 but sadly no clear explanation.

[2018-05-14 15:41] raboof commented on #25041
We don't support parallel effects - and I don't think we should: this is a persistent actor, so modeling parallel actions should be done using mechanisms native to actor systems: message passing. I suspect making the effect system too powerful here would lead to people writing hard to understand actors.

With respect to handling exceptions, I think they are considered as actor failures, and as suc

[2018-05-14 15:50] debasishg commented on #25041
@raboof 👍 so long we are clear on the semantics ..

[2018-05-14 16:33] ralphlaude commented on #24646
Hi guys, i would like to know what the next step is for this ticket. Thanks

[2018-05-14 16:44] johanandren commented on #24646
It could be that we are done, we have one open ticket, can you see if you can find any other API except the java TestKit only providing the Scala duration type?

[2018-05-14 17:47] FlorianGit commented on #25086
Yes, you're right, I started from scratch instead of from the sample project (although I did have the sample project locally as a reference). The guide does mention in the introduction that it's best to add the functionalities introduced in the guide to the sample project, so that part was my own doing.

However, I do think it can be an improvement if the reader of the documentation can resort to

[2018-05-14 20:25] ralphlaude commented on #24646
I will check all others API except the java TestKit

[2018-05-14 22:54] TimMoore opened #25100 "Generalize type of coordinated shutdown tasks"
[`CoordinatedShutdown` tasks](https://doc.akka.io/api/akka/current/akka/actor/CoordinatedShutdown.html#addTask(phase:String,taskName:String)(task:()=%3Escala.concurrent.Future[akka.Done]):Unit) have the type `() => Future[akka.Done]` (or [`Supplier<CompletionStage<akka.Done>>` in Java](https://doc.akka.io/japi/akka/current/akka/actor/CoordinatedShutdown.html#addTask-java.lang.String-java.lang.Stri

[2018-05-15 07:51] raboof commented on #25086
@FlorianGit yes, thanks for clarifying how you got there - even though we recommend starting with the quickstart project I think there will be many users who, like you, prefer to start from scratch, and we should make that as easy as possible as well.

I think I'd agree with either change (perhaps even both). Do we remember why we went with `FlatSpecLike` for the quickstart project (perhaps @henri

[2018-05-15 08:07] TimMoore commented on #25083
Sounds good. Thanks for the feedback!

[2018-05-15 09:44] #24177 closed

[2018-05-15 13:03] #24778 closed

[2018-05-15 13:13] #25055 closed

[2018-05-15 17:49] patriknw commented on #24861
@hseeberger The `inmemory-snapshot-store` isn't provided by Akka. I suggest that you open an issue in https://github.com/dnvriend/akka-persistence-inmemory

It should create the actors as system actors, i.e. `system.systemActorOf` here: https://github.com/dnvriend/akka-persistence-inmemory/blob/master/src/main/scala/akka/persistence/inmemory/extension/StorageExtension.scala#L31

[2018-05-15 17:49] #24861 closed

[2018-05-15 18:53] pjfanning opened #25105 "release for scala 2.13.0-M5?"
https://www.scala-lang.org/download/2.13.0-M4.html - has been released

Relates to https://github.com/akka/akka/issues/24507
Depends on ~https://github.com/scalatest/scalatest/issues/1367~: 3.0.6-SNAP1 should work

[2018-05-16 12:04] FlorianGit commented on #25086
I created a [pull request](https://github.com/akka/akka-quickstart-scala.g8/pull/19) for the first point.

Regarding the second point I realised that the `AkkaSpec` is used in ~60 places in the documentation files. Changing it only in the place I encountered feels arbitrary. However, changing it in every place might not be correct, since the AkkaSpec defines more than only the `TestKit` extended w

[2018-05-16 12:43] Camsteack opened #25111 "Distributed data docs typo"
Hi,

While going through the 2.5.12 docs for distributed data, there seem to be a typo around the `write-behind` property. In the documentation we can read :

`akka.cluster.distributed-data.lmdb.write-behind-interval = 200 ms`

Where I believe it should be

`akka.cluster.distributed-data.durable.lmdb.write-behind-interval = 200 ms`

I got stuck on that for a bit so I think it could be useful and e

[2018-05-16 13:06] raboof commented on #25111
Hi - that seems to be missing there indeed - good catch, thanks!

Would you be interested in PR'ing against https://github.com/akka/akka/blob/master/akka-docs/src/main/paradox/distributed-data.md ?

[2018-05-16 13:35] #24910 closed

[2018-05-16 13:40] johanandren opened #25112 "ScanAsync misbehaving"
I think this is a repeating test case, but there may also be more cases:

[code]

See now closed PR #24817 for potential more details on what is wrong

[2018-05-16 13:42] Camsteack commented on #25111
Will do !

[2018-05-17 05:26] patriknw commented on #25084
Migration guide:
[code]

[2018-05-17 07:01] pawelkaczor opened #25113 "lastSequenceNr accessible from PersistentBehavior"
While `lastSequenceNr` is exposed by the untyped PersistentActor, it is missing in the typed PersistentBehavior.

For logging purposes I would like to access `lastSequenceNr` from within a callback function registered as a side Effect in PersistentBehavior:

[code]

[2018-05-17 07:29] johanandren commented on #24933
A few operators/set of operators that are completely missing in the overview right now (some of them has documentation in other places in the streams section of the docs though):

- [ ] `akka.stream.{scaladsl,javadsl}.Compression`
- [ ] `akka.stream.{scaladsl,javadsl}.CoupledTerminationFlow`
- [ ] `akka.stream.{scaladsl,javadsl}.Framing`
- [ ] `akka.stream.{scaladsl,javadsl}.JsonFraming`
- [ ] `ak

[2018-05-17 07:45] raboof commented on #24933
Also the methods listed in https://github.com/akka/akka/blob/master/project/StreamOperatorsIndexGenerator.scala#L43 are missing and should be documented (or moved to the 'ignore' list if we decide they should not be in there).

[2018-05-17 11:17] #25043 closed

[2018-05-17 19:55] ralphlaude commented on #24646
@johanandren i found some Scala Duration in some Java classes. I pick up some and you take a look. Here is the list:
[code]

[2018-05-17 19:56] ralphlaude commented on #24646
@johanandren i think i forgot something here. The java.time.duration support is needed here:
[code]

[2018-05-18 03:11] ktoso commented on #24646
Thanks for the list :-) Would you want to go over those and make sure they can all use the Java types? (and if API is missing, potentially add those, e.g. like in AllForOne etc, if possible without breaking bin compat)

[2018-05-18 06:29] ralphlaude commented on #24646
Thanks for the answer. I will take care of :).

[2018-05-18 11:07] greenrd commented on #18368
So are we. I think we will need to raise a new issue.

[2018-05-18 15:13] dotta commented on #25057
Hey @raboof, thanks a lot, I'll use `EventFilter[CauseType]()` then!

From a user perspective, I feel it would be better to have a way to express "I **really** want to mute all logging, no matter what". Otherwise, every time I add code that may be logging with a `cause` I have to remember to update the testing code (and I bet I'll easily forget to do it :)).

[2018-05-18 17:21] erkinun opened #25116 "StreamRef Serialization error: java.lang.NoClassDefFoundError: akka/serialization/Serializers$"
I have been trying to use StreamRef in our Akka Cluster + Akka Http application.
Akka version 2.5.9
Akka Stream version 2.5.12

I create a `Source` from an File Iterator then convert it to a `SourceRef` using `source.runWith(StreamRefs.sourceRef())` and send the reply back to the sender. When I execute the application in a cluster, I got the following exception when a message is sent between the s

[2018-05-19 00:26] ktoso commented on #25116
What is doing the weaving? Does it work without whatever does the weaving?

[2018-05-20 12:13] johanandren opened #25118 "Missing an actor context in typed Java receive builder"
Building a `MutableBehavior` that want's to use the context (log for example) requires having a context field and bootstrapping the behavior with a `Behaviors.setup` which is a bit boilerplatey. Would be nice if we could have overloads or something that injects context per message.

Didn't think too long about if this would conflict or cause some form of type chaos, but wishing for something like:

[2018-05-20 12:33] #25086 closed

[2018-05-21 01:44] ktoso commented on #24725
I'll look into this

[2018-05-21 03:14] ktoso commented on #24725
Seems there is a number of cases here which behave slightly differently.

This actually fails a bit weirdly:

[code]

I have some tests and working on it

[2018-05-21 06:30] #25082 closed

[2018-05-21 06:33] patriknw commented on #25118
The thinking was that since `MutableBehavior` should anyway be created via a `setup` it should take the context as constructor parameter and then everything inside has it in scope.

[2018-05-21 06:37] e-kolpakov opened #25119 "Undocumented use of min-nr-members in sharding"
**Setup:**

* `min-nr-members = 3`
* Initial number of members: 3
* No auto-downing is enabled (technically this is irrelevant, but might have surfaced during discussion)

**Scenarios:**

* Stop non-singleton node - sharding coordinator just transfers downed entities to remaining two alive shard regions.
* Stop singleton node - sharding coordinator is moved to other node, and than responds with `G

[2018-05-21 06:38] patriknw commented on #25116
First, you must use the same version of the Akka modules. 2.5.12 for both akka-stream and other modules such as akka-cluster.

[2018-05-21 07:59] #25061 closed

[2018-05-21 08:10] patriknw commented on #25057
I agree that it would be better if that case muted all errors. Would you be able to create a pull request @dotta ?

[2018-05-21 08:14] patriknw commented on #18368
@greenrd @nelsonblaha Did you create a new issue? I still think we would need to see logs to be able to help or confirm that it's an issue.

[2018-05-21 08:26] patriknw commented on #25113
That's a good point. Wonder how we should support that? Do we have to make a special `PersistentActorContext`?

[2018-05-21 08:27] ktoso commented on #25113
Separate `PersistentActorContext`may be some additional "meh" work but would feel the most natural 👍

[2018-05-21 09:30] patriknw opened #25120 "Akka stream groupBy does not invoke decider"
groupBy does not invoke a decider when the maximum number of substreams has been exceeded.

[2018-05-21 09:31] #25120 closed

[2018-05-21 09:48] erkinun commented on #25116
Both errors are gone after I bumped the version of akka modules to 2.5.12. Thank you guys for your input. Maybe this should be discussed in the documentation somehow? https://doc.akka.io/docs/akka/current/stream/stream-refs.html

[2018-05-21 10:14] patriknw commented on #25116
Perhaps it's not the first page you would look at, but it's mentioned here: https://doc.akka.io/docs/akka/current/common/binary-compatibility-rules.html#mixed-versioning-is-not-allowed

[2018-05-21 10:14] #25116 closed

[2018-05-21 10:25] patriknw commented on #24868
Migration guide:

Scala:
import akka.stream.typed.ActorMaterializer -> akka.stream.typed.scaladsl.ActorMaterializer

Java:
import akka.stream.typed.ActorMaterializer -> akka.stream.typed.javadsl.ActorMaterializerFactory

[2018-05-21 11:56] johanandren opened #25121 "Failed: UnfoldResourceSourceSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/5991/testReport/junit/akka.stream.scaladsl/UnfoldResourceSourceSpec/Unfold_Resource_Source_must_fail_when_close_throws_exception/

https://jenkins.akka.io:8498/job/akka-nightly/5506/testReport/junit/akka.stream.scaladsl/UnfoldResourceSourceSpec/Unfold_Resource_Source_must_fail_when_close_throws_exception/

https://jenkins.akka.io:8498/job/ak

[2018-05-21 11:57] johanandren commented on #24991
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/6023/testReport/junit/akka.util/BoundedBlockingQueueSpec/offer_with_timeout_must_block_for_less_than_the_timeout_when_the_queue_becomes_not_full/

[2018-05-21 11:59] johanandren commented on #23741
https://jenkins.akka.io:8498/job/akka-nightly/5497/consoleFull

[2018-05-21 12:00] ktoso commented on #25096
Please close when PR merged (this was merged)

[2018-05-21 12:00] #25096 closed

[2018-05-21 12:02] patriknw commented on #24776
I tried to add some support for extensions in BehaviorTetKit in https://github.com/akka/akka/pull/24878 but it became complicated.

Instead, let's only define interfaces for all Typed extensions and you should be able to get rather far just by that. Behaviors that depend on an extension should take the extension as a parameter rather than looking it up, if BehaviorTestKit is desired way of testing

[2018-05-21 12:02] johanandren commented on #25121
I wonder if this is related to #25114
@svezfaz any chance you could take a look given that you contributed that PR?

[2018-05-21 12:03] johanandren commented on #25065
https://jenkins.akka.io:8498/job/akka-nightly/5494/consoleFull

[2018-05-21 13:00] #24295 closed

[2018-05-21 13:16] johanandren commented on #25118
Ah, alright, I had a feeling I had seen/talked about this before but couldn't remember. Thanks for having a better memory than me.

[2018-05-21 13:16] #25118 closed

[2018-05-21 13:49] patriknw commented on #25119
Good observation. I'm not sure which suggested solution is best here.

2 adds some complexity for this small thing, and it would be difficult with the persistence mode (not ddata) since it would also survive a full cluster stop/start.

1 might be the right thing to do if the purpose of setting min-nr-members is that the cluster can't handle the load with less nodes. It could of course reply if the

[2018-05-21 14:05] #24868 closed

[2018-05-21 15:05] hseeberger commented on #24776
Sounds good. 👍

[2018-05-21 18:12] svezfaz commented on #25121
@johanandren not sure if I'm not reading this page right https://jenkins.akka.io:8498/job/akka-nightly/
but last failure for this nightly spec seems to be on 16-May. The `UnfoldResourceSource` change was merged on 17-May. Only blue balls from then on. Do you see any more recent failures?

[2018-05-22 04:44] e-kolpakov opened #25124 "RemoveInternalClusterShardingData fails when persistence data is corrupted"
Looks like `RemoveInternalClusterShardingData` fails when persistence data is corrupted in one particular way - when it expects more messages than persisted in Cassandra (I have no idea how I achieved it, but last thing I did before corrupting it is to restart three entire cluster at the same time)

Invocation (redacted to omit gory details): `java -cp conf/application.conf  lib/* akka.cluster.sha

[2018-05-22 05:21] #24898 closed

[2018-05-22 05:39] patriknw commented on #25124
Can you try to set this config property when running RemoveInternalClusterShardingData:

[code]

https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/main/resources/reference.conf#L576

Remove it again after the RemoveInternalClusterShardingData job.

If that works then we could set that property in the RemoveInternalClusterShardingData by default.

What happens is that there ar

[2018-05-22 06:14] johanandren commented on #25121
Ah, I was working through a backlog of failures, so maybe that PR in fact rather fixed the test then. Sorry and thanks for taking a peek at it.

[2018-05-22 06:53] chbatey commented on #24535
Also M4 is out with the new collections and @ennru did some work here: https://github.com/ennru/akka/tree/newCollections

[2018-05-22 07:31] dotta commented on #25057
@patriknw Here you go >> https://github.com/akka/akka/pull/25125

[2018-05-22 08:20] chbatey commented on #25070
We should port all of `BehaviorTestKitSpec` to a java equivalent

[2018-05-22 08:42] #24770 closed

[2018-05-22 09:29] #22874 closed

[2018-05-22 09:29] ktoso commented on #22874
Solved for 2.5.13

[2018-05-22 09:30] raboof commented on #22874
Source.queue examples and extra links to Sink.actorRefWithAck added in #25079

[2018-05-22 10:12] patriknw commented on #24393
Added some logging in https://github.com/akka/akka/pull/25127

* this is an area of the classic remoting that there is a high risk that we
will break more than we would fix by trying to harden this race condition
* it's tempting to change use-passive-connections=off by default
but we don't know what other issues that might reveal, for example is it completely safe to do a rolling upgrade with this

[2018-05-22 11:12] #24972 closed

[2018-05-22 11:12] #24973 closed

[2018-05-22 12:32] shejnowicz opened #25128 "Behaviors.supervise cause java.lang.StackOverflowError"
If we create behaviour recursively with supervising then it will blow with java.lang.StackOverflowError
after some time. Similar issue I observed in akka 2.5.11 for Behaviors.withMdc (seems to be fixed in 2.5.12)

(pseudocode)

[code]

[2018-05-22 13:36] richardimaoka commented on #24901
Should this issue be closed as #24965 was raised?

[2018-05-22 13:45] ktoso commented on #24965
Having it upstream in paradox would be awesome, yeah

[2018-05-22 14:47] richardimaoka commented on #24965
OK created https://github.com/lightbend/paradox/issues/199.

[2018-05-23 01:13] ktoso commented on #24901
No, since this ticket is about a docs improvement; and the other one is about a paradox feature

[2018-05-23 02:54] ktoso commented on #25128
Thanks for reporting

[2018-05-23 08:20] johanandren commented on #25121
Nope: https://jenkins.akka.io:8498/job/akka-multi-node/2788/testReport/junit/akka.stream.scaladsl/UnfoldResourceSourceSpec/Unfold_Resource_Source_must_fail_when_close_throws_exception/

[2018-05-23 09:58] patriknw opened #25133 "remove andThen overload in Typed persistence"
because it prevents writing things like:
[code]

adding the `_ =>` when you don't need the state isn't too bad

[2018-05-23 16:25] ralphlaude commented on #24646
Hi guys,
I create a Pull Request hier is link (https://github.com/akka/akka/pull/25136).

I had java.time.Duration support succesfully for most of the classes in the pull request.
I had java.time.Duration support in this class for the method forMax (`akka.actor.FSM.State#forMax`) and i don't know if it is fine.
The test `akka.stream.scaladsl.UnfoldResourceSourceSpec.scala` the method `"use dedicat

[2018-05-23 18:40] patriknw commented on #25039
I tried but the cast is still needed

[2018-05-23 18:40] #25039 closed

[2018-05-24 07:11] #16303 closed

[2018-05-24 13:52] raboof commented on #25105
:+1: - also depends on https://github.com/scala/scala-java8-compat

[2018-05-24 16:40] marekzebrowski opened #25143 "artery - Rolling update from 2.5.11 to 2.5.12 - excessive negative acknowledgement"
I'm trying to perform rolling update from system using 2.5.11 to 2.5.12
system  uses artery-udp for transport.

shortly after restart I can observe in logs thousands of entries:
[code]
shortly after few thousands of others
[code]

only full restart with downtime helps in that situation, cluster cannot recover from that situation

[2018-05-24 18:49] hepin1989 opened #25144 "Should mention the stream-materialization just need an Materializer not an ActorMaterializer"
https://doc.akka.io/docs/akka/current/general/stream/stream-design.html
https://doc.akka.io/docs/akka/current/stream/stream-flows-and-basics.html#stream-materialization

This cause people wondering the akka-stream is so heavy and bouned to actors.

[2018-05-25 07:30] chbatey commented on #25144
We don't include any other implementations, we could include that you can create your own materializer but it isn't recommended and the SPI isn't final.

[2018-05-25 09:40] hepin1989 commented on #25144
guys on scala gitter channel said akka-stream is bound to,but it's not.

[2018-05-25 10:31] raboof commented on #25144
In theory Akka Streams is indeed not bound to the `ActorMaterializer` implementation, but in practice it is the only available option right now.

Note that (also due to fusing), depending your definition of 'heavy', this can be very efficient.

[2018-05-25 10:34] ktoso commented on #25144
This is a PR thing rather than a "facts" thing I would say though.
People go into panic and "blame the actors mode" in order to say some tech is "heavy" just because they don't like it ;-)

All we here said is true -- SPI not stable etc, yet perhaps one could say that the intent with materializers is that they are swappable?

Anyway, not sure if matters enough.

[2018-05-25 12:29] #24917 closed

[2018-05-25 12:40] raboof opened #25147 "all-contributors overview"
It might be cool to acknowledge all kinds of contributors with something like https://www.npmjs.com/package/all-contributors-cli - though the table generated there is not super pretty. Perhaps could be a cool contribution :smile: ?

[2018-05-25 13:05] patriknw commented on #25143
It's indeed interesting to understand what went wrong here. I tried to reproduce with [akka-sample-sharding-scala](https://github.com/akka/akka-samples/tree/2.5/akka-sample-sharding-scala). Picked that one because sharding is using most cluster features and `watch` (system messages).

I have been able to reproduce the negative ack, but not the compression issue.

1. Started 3 nodes, 2551, 2552, 25

[2018-05-25 13:06] patriknw commented on #25143
ah, I had the compression issue also in the logs

[2018-05-25 13:35] patriknw commented on #25143
It actually continues to send the negative acks after restarting 2511 also. That was surprising, and indication of a serious problem.

I also tried with a rolling restart with same version, 2.5.12, and then it works fine.

By the way, the compression warning is probably not the issue here. It is as it says "sent with compression table built for previous incarnation of this system", which is expect

[2018-05-25 13:53] chbatey commented on #25128
@shejnowicz you should only supervise once so just supervise the initial creation.
However we should defect this and fail fast or unwrap it

[2018-05-25 14:02] patriknw commented on #25143
Correction; it stops the negative acks after restarting 2551 (it was just my terminal that was behind).

Then I'm pretty sure that what is seen here is what was fixed in https://github.com/akka/akka/issues/24847. It actually happened in previous versions also, but then it wasn't noticed because there was no logging. Massive amount of system message resending was going on in the background.

@marek

[2018-05-25 14:03] marekzebrowski commented on #25143
I don't have all logs and unfortunately I could not reproduce it - although I tried with apps ran with 2.5.11 and 2.5.12, trying to roll restarts both ways. It seems we could have it only on live :(.
anyways - I managed to get some logs from two systems - maybe they can be helpful.
[logs-to-akka-failed-start.txt](https://github.com/akka/akka/files/2039587/logs-to-akka-failed-start.txt)
Situation f

[2018-05-25 14:18] patriknw commented on #25143
yes, we could add a limit on that logging

[2018-05-25 14:22] johanandren opened #25148 "Tcp connection race condition on early shutdown"

[2018-05-26 06:56] liaolunhui opened #25149 "[error] 402 errors found : (akka-actor-typed-tests / Test / compileIncremental) Compilation failed"
] D:\scalaProject\akka\akka-actor-typed-tests\src\test\scala\akka\actor\typed\ActorContextSpec.scala:9:19: object testkit is not a member of package akka.actor
[error] import akka.actor.testkit.typed.scaladsl.{ ActorTestKit, TestProbe }
[error]                   ^
[error] D:\scalaProject\akka\akka-actor-typed-tests\src\test\scala\akka\actor\typed\ActorContextSpec.scala:62:41: not found: type Actor

[2018-05-28 02:08] ktoso commented on #25149
What are you doing specifically?
Things should just work, including on windows.
I'll close for now but if you can provide details what exactly you are doing that does not work we can help a bit.

[2018-05-28 02:08] #25149 closed

[2018-05-28 06:36] johanandren commented on #25121
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/1094/testReport/junit/akka.stream.scaladsl/UnfoldResourceSourceSpec/Unfold_Resource_Source_must_fail_when_close_throws_exception/
https://jenkins.akka.io:8498/job/akka-nightly-jdk9/184/testReport/junit/akka.stream.scaladsl/UnfoldResourceSourceSpec/Unfold_Resource_Source_must_fail_when_close_throws_exception/

[2018-05-28 08:21] marekscholle opened #25156 "restarting supervision strategy does not work with stopped initial behavior"
[code]
should produce actor which is immeditately stopped – it should behave as

[code]

and

[code]

This is a corner case, but supporting it may be useful when actor needs to process several commands when it starts / after restart.

ScalaTest:

[code]

[2018-05-28 09:45] #25143 closed

[2018-05-28 12:10] patriknw opened #25157 "failed: JoinConfigCompatCheckerSpec"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/1355

[code]

[2018-05-28 14:24] eyalroth opened #25158 "Add ability to log unhandled messages at a different log level than DEBUG"
I'd love it if there was an option to configure akka to log unhandled messages at a different level than _DEBUG_; for instance, _ERROR_.

Why would i want to do this? well, as I see it, unhandled messages are bugs much like invoking a method with illegal arguments. It should not happen normally, and should be fixed ASAP.

Currently, one could completely override `aroundReceive` to achieve this, bu

[2018-05-28 15:30] raboof commented on #25158
For catching unhandled messages globally, you might subscribe to the dead letter queue as described at https://doc.akka.io/docs/akka/2.5/general/message-delivery-reliability.html#dead-letters

For catching unhandled messages for a specific actor, you might override `unhandled` as mentioned in https://doc.akka.io/docs/akka/current/actors.html#actor-api

Those 2 features combined might be sufficient

[2018-05-28 20:04] eyalroth commented on #25158
Right, I missed the `unhandled` method; though, this requires enforcing that every actor inherits a certain behavior, which is prone to human error (and in general I believe that inheriting behaviors is a bad practice).

Unhandled messages have nothing to do with dead letter as I see it. They are bugs, plain and simple. I would love to have a way to at least make those cases more visible with a si

[2018-05-28 20:53] longshorej opened #25159 "NullPointerException thrown in akka.stream.impl.io.OutputStreamSourceStage"
Observed this "in the wild" - I think that there's a race with `blockingThread` here: https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/impl/io/OutputStreamSourceStage.scala#L106-L143

L126 can execute between L139 and L140, throwing `NullPointerException`. I think a fix could be simply ignoring the exception, i.e.

[code]

If that sounds good, I'll be happy to provid

[2018-05-28 21:53] hepin1989 opened #25160 "Add support for wrapping a ByteBuffer as ByteString without copy."
My friend is preparing a hackathon with Akka, and found Akka is doing copy every time it emits a `Received(ByteString(buffer))` message。

Akka should support wrapping a ByteBuffer(may from the pool) as ByteString without any copy and can do a manually release once it's not needed, otherwise there may be a leak.

[2018-05-28 21:59] hepin1989 commented on #25160
https://github.com/akka/akka/issues/17281
https://github.com/akka/akka/issues/24556

[2018-05-28 22:04] hepin1989 commented on #25160
Another thing emphasized here is: Could we redesign the zero-copy of ByteString as a whole?

[2018-05-29 07:02] chbatey commented on #25121
https://jenkins.akka.io:8498/job/akka-nightly-2.12/587/testReport/junit/akka.stream.scaladsl/UnfoldResourceSourceSpec/Unfold_Resource_Source_must_fail_when_close_throws_exception/

[2018-05-29 07:20] patriknw commented on #25100
@TimMoore Yesterday I actually did a subtle mistake when refactoring some code that wasn't using strict types of the futures. It resulted in hard to debug race conditions and would have been a compiler warning if the types had been specified. Minimized example:

[code]

I want these things to be done in order "doSomething", "doSomethingElse", "done". Can you see what is wrong?

Yeah, it should be

[2018-05-29 07:30] thjaeckle opened #25161 "Implementation of akka.util.Unsafe is JVM specific (fails on IBM J9)"
I tried using Akka 2.5.12 together with artery udp remoting together with the [OpenJ9 JVM](https://github.com/eclipse/openj9).
There an Akka-cluster is not able to form as there is an `ArrayIndexOutOfBoundsException` happening in `akka.util.Unsafe#copyUSAsciiStrToBytes`:

[code]

The problem is that the OpenJ9 JVM has a different internal representation of the `String` `value` when being built fro

[2018-05-29 07:54] raboof commented on #25158
Ah, you're right, I misremembered: the default implementation of `Unhandled` puts those messages on the event stream as `UnhandledMessage` (with sender and recipiant `ActorRef`s as metadata) rather than dead letters. You can make them more visible by listening for those events on the event stream and highlighting them.

[2018-05-29 08:47] eyalroth commented on #25158
That's basically re-implementing what is already built into the framework; i.e, [Logging.scala:131](https://github.com/akka/akka/blob/d986c7b6bb8423e2084b0184ee0f1669c3df55fe/akka-actor/src/main/scala/akka/event/Logging.scala#L131):
[code]
Only replacing `Debug` with `Error` or what not (and giving the actor a different name).

Sure, this is possible, but I find the whole approach flawed. It feels

[2018-05-29 10:10] #24885 closed

[2018-05-29 10:38] johanandren commented on #25160
While I can see how this would be desirable from a performance perspective, changing the immutable `ByteString` into something with a lifecycle that needs to be released at some point doesn't seem possible in my opinion. This would mean that every piece of user code that uses it would turn into a potential memory leak (in addition to the immutability guarantee being so much weaker).

For some plac

[2018-05-29 10:41] johanandren commented on #25161
This is a performance hack to benefit from JVM specifics (and given that this didn't surface until now I don't think we have many non-hotspot users), it would be nice to have some performance numbers with the hack removed vs used to know if it is worth it. If it is worth having the hack there maybe we could detect JVM and use a slower version for other JVMs?

[2018-05-29 11:33] hepin1989 commented on #25160
Yes, that's why Netty make use of an `io.netty.util.ResourceLeakDetector` and need the user to turn it on in development.

[2018-05-29 11:38] #25065 closed

[2018-05-29 11:46] johanandren commented on #25158
It is a pretty common pattern to have multiple behaviors, where not every behavior does anything for all messages, so unhandled message are not by definition bugs.

Perhaps they are always bugs _your_ actors though, and that is why you can override `unhandled` to do something that is more suitable to your use case (fail the actor, log error, etc).

In Akka typed we have the additional possibility

[2018-05-29 11:50] johanandren commented on #25158
You could also mimic the sealed supertype pattern in the untyped actors by first matching on the sealed supertype, and then deferring to a total function/method moving the problem to compile time from runtime.

[2018-05-29 11:53] ktoso commented on #25161
In general I'd agree that such things should degrade nicely rather than blow up on different JVM. I suppose this could be done as static initialization during which we try to perform a task using this API and if it fails we replace with a "normal" implementation. It is a question of priorities though -- a contribution in form of a pull request would get this solved the fastest I believe, if you'd

[2018-05-29 11:54] johanandren commented on #25159
I think it should be replaced by an atomic ref instead and do CAS and be "correct" rather than workaround NPEs, the current version is not safe since the field isn't volatile and is accessed from multiple threads.

[2018-05-29 12:15] johanandren commented on #24146
Turns out we cannot do this without breaking binary compatibility, so marking it as something to possible look into for 3.x

[2018-05-29 12:45] thjaeckle commented on #25161
Thanks Konrad, I didn't think about using the tcp remoting.
I guess I assumed that it would use the same code for serializing the actor path.

Will try that first.

[2018-05-29 12:55] eyalroth commented on #25158
@johanandren

This is basically multiple inheritance for the sake of implementation, and I'm a big fan of "composition over inheritance" so therefore this a very bad practice in my book. To be honest, I believe most experienced OOP developers would say the same.

I have to say that I've been developing my first big project with actors for the past few months and I have a lot of criticism towards i

[2018-05-29 13:19] raboof commented on #25158
We're getting into topics that might be more suitable for https://discuss.akka.io indeed ;).

I think it's good to be careful about comparing Actors and OOP: they're different models, and mapping OOP concepts directly to actors makes actors look like 'weird objects' indeed (while smalltalk did talk about 'message passing' that was completely synchonous which changes the game a bit). That said, som

[2018-05-29 14:07] fjeremic commented on #25161
FYI there is a rather simple one line patch in https://github.com/eclipse/openj9/issues/2000#issuecomment-392531393 which should alleviate the issue for OpenJ9 at basically zero cost to OpenJDK. This change makes akka more robust w.r.t. the JVM used. Would this be an acceptable patch?

[2018-05-29 14:58] chbatey opened #25164 "Can't "ask" Akka Typed TestInbox.ref()"
It type checks it is a ActorRefAdapter. We should move FunctionRef back from the testkit, maybe keeping it internal for now, so that tests can use TestInboxes

[2018-05-29 15:54] ktoso commented on #25161
Interesting... the diff is only about getting the length from the string and not char array... if you believe this is safe please PR.

I don't think we have J9 available at hand to try it as part of the build though hm... So that we would have to try then

[2018-05-29 21:42] longshorej commented on #25159
Thanks @johanandren - I created https://github.com/akka/akka/pull/25166 based on your suggestion.

[2018-05-30 02:32] ktoso commented on #25159
Please mark with tags @johanandren when triagign

[2018-05-30 06:29] patriknw commented on #25161
Yes, that is used for the compressed ActorRef and manifest string, which is the same for tcp and aeron-udp.

Thanks for fixing!

[2018-05-30 06:37] WayneWang12 commented on #25160
It seems I can wrap the `java.nio.ByteBuffer` using netty `ByteBuf`. I've tried it on my own project. I'll see if it works. If it does, then I think akka can provide one more type of `Tcp` or `Udp` which directly provide `ByteBuf` or some other  zero-copy buffer for experienced users to let them build up more efficient infrastructures. I'll report my finding in a few weeks.

[2018-05-30 09:59] hepin1989 commented on #25160
I  think at first we should abstract away with ByteBuffer?

![image](https://user-images.githubusercontent.com/501740/40713683-1dc93cd8-6433-11e8-822e-ee875e2c1b13.png)

And make use of `ByteString` here?

[2018-05-30 10:01] #25112 closed

[2018-05-30 11:16] fbe opened #25169 "akka-remote: switch netty/aeron dependencies to optional in maven pom"
Akka remote has an transitive dependency to netty and aeron (which pulls in agrona). As I understood, both of them are optional dependencies, depending on what kind of transport you want to use.

In the maven world there is the option to mark dependencies as optional (not provided!), they will not be pulled in automatically.
I think it would be much better to mark this transport dependencies as op

[2018-05-30 11:50] patriknw commented on #25169
I don't think we can change this in a patch release of Akka 2.5.x, but we should for 2.6.0. Also, I'm not quite sure everything is optional yet, so it will require some testing and possibly adjustments.

Thanks for creating the ticket.

[2018-05-30 16:07] raboof commented on #24098
It seems like this issue (or something suspiciously like it) has resurfaced between sbt 1.1.4 and  1.1.5...

[2018-05-30 16:08] Camsteack commented on #24756
Is there any work planned on that ? Not being able to test our FSM properly is quite a problem for us

[2018-05-30 16:15] ktoso commented on #24756
`Test*Ref` are discouraged in general, simply test FSMs just as you would test any other actor -- via sending messages.

As it's tagged as a `help wanted` -- if you want to see this solved, the best way is to contribute a fix, as we are not planning to work on this in the near term

[2018-05-30 16:27] Camsteack commented on #24756
Thanks a lot for the quick answer, I will have a look at that and if it's simple enough for me to contribute :)

[2018-05-30 16:40] chbatey opened #25171 "Provide better logging if sharding isn't started on enough nodes"
Atm we just get dead letters for distributed data. Will look into if we can provide a concrete log to improve new user's experience.

[2018-05-30 21:07] bsikander opened #25172 "Cluster subscription with InitialStateAsSnapshot receiving old events"
I am using Akka 2.4.9 but this problem also exists in 2.5.12.

I have a Akka actor system which joins an existing cluster. I join like the following.

[code]
Since I join the cluster using `InitialStateAsSnapshot`, I expect only new `MemberEvent` not the old one. But somehow, I am also getting "past" events. Forexample `MemberUp` of a node which was already part of the cluster.

## Expectation:
My

[2018-05-31 02:32] ktoso commented on #25160
I'm not sure what you are trying to achieve here...
We all know and like Netty, however ByteString is NOT ByteBuf and shall not become such structure -- it must be freely shareable without caring if it's backed by something that has to be released later on or not.

Note also that ByteString is in akka-actor which must not depend on Netty, as akka-actor may not depend on more than an absolute minim

[2018-05-31 02:41] ktoso commented on #25172
Uhm... nowhere in your code do you actually use `InitialStateAsSnapshot`, so yeah, that mode is not used -- as simple as that.

[2018-05-31 02:42] ktoso commented on #25172
Please read the API docs:

[code]

the same is documented in reference docs I believe.

Closing for now, please comment more if you indeed use the value and it does not do the expected thing

[2018-05-31 02:57] ktoso opened #25173 "Support SRV records in DNS lookups"
akka.io.Dns should support SRV records -- this means that DNS lookups can return not only hosts but also ports for a given service.

This matters for service discovery and will make akka's dns impl viable to be backing impl for akka-discovery.

[2018-05-31 05:56] WayneWang12 commented on #25160
@ktoso Just attending a hackthon held by Alibaba...I want to use akka to make a good rank. But the hackthon requires ultimate performance in network, which in akka seems cannot beat netty...

Yeah, I've found it is difficult. Memory leak is everywhere. Also have to do `Framing` all by myself. But if I finished it, I'll just use the hacked one in the game. Certainly not in akka. It's really hard to

[2018-05-31 05:59] patriknw commented on #25172
I think I explained in Gitter: https://gitter.im/akka/akka?at=5b0f0d19b6eece791dc753ac

[2018-05-31 06:20] TimMoore commented on #25100
Good example, thanks.

[2018-05-31 06:20] #25100 closed

[2018-05-31 06:55] #25121 closed

[2018-05-31 06:56] hepin1989 commented on #25160
@ktoso This need be well thought and designed, I opened up this issue as a holder, so could latter act on it. The current Akka-io is very good, just could not achieve the ultrafast performance for some dedicated special use case. In the inner hackton, we beat service mesh agent which wroten in golang ,c++ ,c and etc, So open this kind of issue is want to make Akka better and better. And this may c

[2018-05-31 08:44] laszlovandenhoek opened #25175 "eliminate extraneous takeWhile$default$2 method in Java DSL"
Java doesn't have default argument values, yet the two-arg `takeWhile` method on the Java DSL `Flow` has `false` as the default value for the second argument. This doesn't add anything useful, and it adds a confusing `takeWhile$default$2` method to the signature of `Flow`.

[2018-05-31 08:45] laszlovandenhoek commented on #25175
PR: https://github.com/akka/akka/pull/25170

[2018-05-31 09:58] bsikander commented on #25172
@ktoso `subscribe` has an overload which has a default value of `InitialStateAsSnapshot`. [See this](https://github.com/akka/akka/blob/master/akka-cluster/src/main/scala/akka/cluster/Cluster.scala#L234). So, my reproducer is indeed using this value.

@patriknw I still created the issue because the documentation seems to need correction. It should also say that `InitialStateAsSnapshot` will send a

[2018-05-31 10:18] patriknw commented on #25172
It's not about past events. Each node has it's own view of the cluster membership state, and it's that view that you subscribe to. When you subscribe the view might be empty, and later it's populated with information from other nodes. Those updates are published as events.

I reopen this until we have sorted it out. The documentation might indeed need clarifications.

[2018-05-31 11:31] patriknw commented on #25172
That is matching what I was suggesting.

[2018-05-31 11:33] patriknw opened #25176 "eliminate extraneous takeWhile$default$2 method in Java DSL"

[2018-05-31 11:34] #25176 closed

[2018-05-31 11:35] #25175 closed

[2018-05-31 11:54] patriknw commented on #25171
It was improved somewhat in https://github.com/akka/akka/pull/24906
We could at least mention that sharding must be started on all nodes in that log messages, since that seems to be a fairly common mistake.

[2018-05-31 12:01] chbatey commented on #25171
Had a couple this week so i'll add it

[2018-05-31 12:12] #25083 closed

[2018-05-31 12:58] hepin1989 commented on #25169
@feb Yeah, nice issue, thanks for opening this issue up.
Are you using special in-house transport implementation?

[2018-05-31 13:13] fbe commented on #25169
Hi @hepin1989 , no, we are not using special in-house transports, but we are doing active and strict library management (to avoid license issues, unexpected classpath errors and incompabilities and so on). Therefore, a clean dependency tree is important for us and we want to avoid dependency exclusions whenever possible (because they need to be checked on each lib upgrade again)

[2018-05-31 13:43] #25047 closed

[2018-05-31 15:41] chbatey commented on #24479
I think we should at least have it throw rather than stop then users can add their own. Otherwise we'd need to make it configurable/overridable.

[2018-05-31 20:37] purpletech commented on #24248
This works for me in my build.gradle(4.7) :
plugins {
  id 'java'
  id 'com.github.johnrengelman.shadow' version '2.0.2'
}

shadowJar {
  mergeServiceFiles('reference.conf')
}

[2018-06-01 06:52] johanandren commented on #24813
Closing this then if it in fact does work already and we shouldn't do it.

[2018-06-01 06:52] #24813 closed

[2018-06-01 07:39] markoutso commented on #24971
This should be part of the documentation.

[2018-06-01 07:58] johanandren commented on #24971
I agree, let's start with that.

[2018-06-01 07:59] laszlovandenhoek opened #25181 "Add akka.japi.Either to Akka Java API helpers"
As far as I can tell, `scala.util.Either` is not used anywhere in the public Java API of core Akka (or Akka Streams). However, it _is_ used in akka-stream-contrib, particularly `PartitionWith`. Constructing a `scala.util.Either` from Java code is inconvenient; for example, `Either.cond` takes two by-name arguments but these are eagerly evaluated when called from Java, which often defeats the purpo

[2018-06-01 10:05] ktoso commented on #12591
This is happening. I'm implementing an async resolver since we need to support new features in SRV resolution.

[2018-06-01 11:41] patriknw commented on #25181
@laszlovandenhoek  I think it would be better if you contribute a proper Java API to akka-stream-contrib. We don't have good experience with exposing Scala classes in Java APIs. E.g. Scala's Duration, Future, Option. They may seem harmless from a Scala developers perspective but just the fact that they have scala in the package name seems to scare Java developers. Therefore we try to not use such

[2018-06-01 12:17] hekmekk commented on #24756
Thanks for clarifying that `Test*Ref` is discouraged @ktoso. Our approach was doing exactly what you suggested and it felt like a natural thing to do.

[2018-06-01 13:09] #25161 closed

[2018-06-01 15:04] ignasi35 commented on #24183
I'm about to start this task. I'll follow @patriknw's suggestion and build:

[code]

The original motivation was to make the exit code configurable per `Reason` which requires adding `exit-code` on the settings. I think `terminate-actor-system` and `exit-jvm`, out of the existing settings, could be overridable too.

[2018-06-01 21:08] hepin1989 commented on #25181
There is a vavr out there:)
But I have to agree with @patriknw, it's always scary for who don't know Scala much.

[2018-06-02 19:22] patriknw opened #25188 "Switch order of javadsl EventHandler type parameters"
I think we changed the order of the parameters at some point but the type parameters are still in different order, which is rather confusing.

[code]

[2018-06-03 22:27] laszlovandenhoek commented on #25181
I'll close this and continue here: https://github.com/akka/akka-stream-contrib/issues/135

[2018-06-03 22:27] #25181 closed

[2018-06-04 03:09] ToucanBran commented on #24701
Glad this is still an open issue. It's killing me right now.

[2018-06-04 05:52] patriknw commented on #24690
I don't think we need this, or I don't fully understand the problem.

One can override the `def onSignal: PartialFunction[Signal, Behavior[T]]` in `MutableBehavior` and reuse the partial function that is defined on some object elsewhere.

Perhaps it's something to think about for #24792, but I think that is pretty advanced usage that can be added later.

[2018-06-04 06:03] patriknw commented on #25164
You mean s/FunctionRef/TestInbox/ ?
We can have something internal, but I don't think the public API for TestInbox should be moved.
Not sure how much well ask works with the synchronous testing, but we can give it a try.

[2018-06-04 06:04] patriknw commented on #24781
@chbatey Is this done or in progress elsewhere now?

[2018-06-04 06:08] chbatey commented on #24781
Last bit is in #25146 which i just need to update to remove the compat library changes

[2018-06-04 06:11] patriknw commented on #23704
@johanandren is this really in progress?

[2018-06-04 06:29] chbatey commented on #25128
Made a note in the docs: https://github.com/akka/akka/pull/25163

[2018-06-04 06:51] johanandren commented on #23704
I have a local branch with some work on it, but I seem to have forgotten about having the ticket assigned. I don't mind continuing if it aligns with priorities.

[2018-06-04 07:04] chbatey opened #25190 "FAILED: MultiDcClusterSharding (typed)"
https://jenkins.akka.io:8498/job/akka-nightly/5497/consoleFull

[2018-06-04 07:04] chbatey commented on #23741
Last one was the typed test ^

Raised https://github.com/akka/akka/issues/25190

[2018-06-04 07:15] chbatey opened #25191 "ClusterSharding: Improve startup time"
It is common for a ShardRegion's first Register message to be ignored due to the shard coordinator not having left its initial state `watingForState`. The default retry is 2s which results in a 2s delay before sharded messages are processed. We could ramp up to the timeout e.g 0.2, 0.4 0.8 .. 2s or stash Register messages.

[2018-06-04 07:30] patriknw commented on #25191
exponential increase of the retry delay sounds good

[2018-06-04 07:32] patriknw commented on #23704
It might not be top priority, but I'm thinking that it might be complicated to change it afterwards once we claim production readiness and must support rolling upgrades.

[2018-06-04 07:34] patriknw commented on #23704
Note that we have very similar logic in Sharding: https://github.com/akka/akka/blob/master/akka-cluster-sharding/src/main/scala/akka/cluster/sharding/Shard.scala#L595

[2018-06-04 07:52] johanandren opened #25193 "Quickstart - mention the sample project close to first test"
It has come up twice now (https://discuss.lightbend.com/t/akka-getting-started-tutorial/1177/3 #25086 ) that new users miss out on that they have a complete setup with ScalaTest in the sample project that you are meant to download before starting the quickstart, and are wondering how they should get tests wired up.

Maybe we should just mention the sample project again next to the first example te

[2018-06-04 09:56] chbatey commented on #25164
I think this should just be done with TestProbe / async testing rather than TestInboxes

[2018-06-04 09:56] #25164 closed

[2018-06-04 09:57] patriknw commented on #25164
ok, let's start there

[2018-06-04 10:48] #24579 closed

[2018-06-04 12:19] raboof opened #25196 "Cluster sharding must log useful error message if sharding not started"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/1364/consoleFull

[code]

[2018-06-04 12:44] raboof opened #25198 "A cluster with multiple dc's must be able to have a data center member join while there is inter data center split"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/6062/consoleFull

[code]

[2018-06-04 12:50] chbatey commented on #25198
This this is a duplicate of https://github.com/akka/akka/issues/24955

[2018-06-04 12:51] raboof commented on #25198
oh weird that my search didn't hit it, thx

[2018-06-04 12:51] #25198 closed

[2018-06-04 12:51] raboof commented on #24955
Again at https://jenkins.akka.io:8498/job/akka-multi-node-nightly/6062/consoleFull

[2018-06-04 12:51] chbatey commented on #25196
Sorry i fixed this on friday without raising an issue: https://github.com/akka/akka/pull/25187

[2018-06-04 13:05] #25196 closed

[2018-06-04 13:11] makesh1991 opened #25200 "Cluster gets down automatically with "Shutting down myself" message"
Hi, we use akka version 2.4.10 and have a 14 member cluster.
Frequently, the cluster gets down automatically with "Shutting down myself" message, without any notable exception.
Please help us with the possible cause for this issue.

**Logs content:-**
 INFO 2018-03-27 19:16:32,269 [ESA_FMCluster-afgha-slet-akka.actor.default-dispatcher-24] akka.cluster.Cluster(akka://ESA_FMCluster-afgha-slet) - Cl

[2018-06-04 13:31] makesh1991 commented on #25200
Raised the issue on "https://discuss.akka.io"
https://discuss.lightbend.com/t/cluster-gets-down-automatically-with-shutting-down-myself-message/1200
Thanks.

[2018-06-04 13:31] #25200 closed

[2018-06-04 13:34] #21518 closed

[2018-06-04 13:35] #24953 closed

[2018-06-04 13:37] #24043 closed

[2018-06-04 15:32] #25190 closed

[2018-06-04 16:01] #24781 closed

[2018-06-04 16:53] ignasi35 opened #25204 "Add convenience methods for coordinated shutdown tasks"
As suggested by @patriknw elsewhere it may be convenient for Coordinated Shutdown users to have `addXxxTask` for the most typical phases.

This will make API a bit more discoverable from IDE's and also expose more the phases which are meant for end-users (as opposed to hide a bit the phases not meant for end-users).

[2018-06-05 05:47] ralphlaude commented on #24646
Hi guys, the new pull request is here (https://github.com/akka/akka/pull/25206).
Please take a look.
Thanks.

[2018-06-05 05:58] #24123 closed

[2018-06-05 06:27] patriknw commented on #25041
I'm trying to understand what we should do here. Here is my thoughts (not sure I have covered everything).

I don't think we should support multiple chained `persist`. I fear callback api hell.
[code]

It should only be allowed to start with one of `persist`, `persistAll`, `none`, `unhandled` or `stop`. After that these should not be allowed to use again. All those should be of type `Effect` (mean

[2018-06-05 06:30] patriknw commented on #25041
cc @renatocaval

[2018-06-05 07:02] debasishg commented on #25041
a few thoughts .. (cc @renatocaval, @patriknw, @raboof)

- I am just wondering if we should rename `Effect` to `SideEffect` because that's what they are `(State => Unit)`
- Since we only plan to support sequential chaining, why not add `flatMap` to `SideEffect` and allow sequential composition through for-comprehensions. Seems more natural.
- Some refactoring of packages (I discussed this earlier)

[2018-06-05 07:47] patriknw commented on #25041
You mean `ChainableEffect` (`ChainedEffect`). We can do that, but we still need the internal distinction between `andThen(state => Unit)` and `andThenStop` since those are interpreted differently.

[2018-06-05 07:57] raboof commented on #24991
Another instance: https://jenkins.akka.io:8498/job/akka-multi-node-nightly/6068/consoleFull

[2018-06-05 07:58] raboof commented on #22265
(closing as outdated one-off failure)

[2018-06-05 07:58] #22265 closed

[2018-06-05 07:59] raboof commented on #18366
(closing as outdated one-off failure)

[2018-06-05 07:59] #18366 closed

[2018-06-05 08:00] raboof commented on #22080
(closing as outdated rare failure)

[2018-06-05 08:00] #22080 closed

[2018-06-05 08:00] raboof commented on #21660
(closing as outdated one-off failure)

[2018-06-05 08:00] #21660 closed

[2018-06-05 08:01] raboof commented on #23115
(closing as outdated rare failure)

[2018-06-05 08:01] #23115 closed

[2018-06-05 08:01] raboof commented on #22098
(closing as outdated rare failure)

[2018-06-05 08:02] raboof commented on #23549
(closing as outdated rare failure)

[2018-06-05 08:02] #23549 closed

[2018-06-05 08:02] raboof commented on #24201
(closing as outdated rare failure)

[2018-06-05 08:02] #24201 closed

[2018-06-05 08:54] #24856 closed

[2018-06-05 10:14] debasishg commented on #25041
I was thinking more in terms of implementing a very lightweight IO monad (something like cats-effect IO, but much simpler). And execute all side-effects (`persist`, `none`, `stop`, `unhandled` etc.) within the IO monad. Being a monad, we will have `flatMap` which can be used to chain all side-effect invocations. Then we can get rid of all classes like `Effect`, `EffectImpl`, `EffectFactories`, `Ch

[2018-06-05 10:48] patriknw commented on #25041
I'm in favor of keeping it limited and not support chaining in arbitrary ways.

I think it will mostly be used like this:
[code]

[2018-06-05 13:10] renatocaval commented on #25041
I agree that we should keep it limited. The main reason for me is that being part of the persistence API, it should focus on its main purpose, the fact that something is about to be persisted (or not).

That said, I agree that it should start with `persist`, `none` or `unhandled` and these can't be repeated. It's like a branching, we choose what we want and we go for it.

In case of `stop` what we

[2018-06-05 13:15] renatocaval commented on #25041
@raboof can you clarify this:

I don't think this is what we should do, if I'm understanding you correctly. The `eventHandler` should be pure and only modify the state. We don't want to run side-effects over and over again on each actor re-instantiation, right?

[2018-06-05 14:10] raboof commented on #25041
The complete sentence was:

With 'logic' I meant updating the state - I completely agree side-effects should not be part of the `eventHandler`.

[2018-06-05 14:20] renatocaval commented on #25041
On the topic of naming things, I like `Effect`, but this discussion made me wonder if that name will be clear to everybody. In the end, we are declaring the actions to be taken: 'persist this', 'run this side-effect', 'stop the actor', etc.

Would it be better to call it `Actions` instead and avoid the confusion with effect and side-effect?

[code]

or

[code]

Does it the intention become clearer

[2018-06-05 17:36] debasishg commented on #25041
I was trying to avoid the name `Effect` as by definition, an `Effect` is supposed to be algebraic. While the way we define things here. it's obviously not algebraic, rather side-effecty. `Actions` can be a better name as it has a conveniently overloaded connotation.

However in the above chaining, what happens if the entire sequence succeeds *partially* ? Suppose the `persist` goes through, but th

[2018-06-05 19:15] renatocaval commented on #25041
That's the thing. `persist` is the main operation. If `persist` fails, for instance, DB not reachable, the whole fails. If `persist` succeeds, but one of the side-effects fails, too bad. Basically, `andThen` is best-effort and has at-most-once semantics. The core is the `persist` operation.

This is an important point, in my opinion, and I have seen people getting misled by this. Not in akka persi

[2018-06-06 07:45] #24183 closed

[2018-06-06 09:37] makesh1991 opened #25209 "Cluster gets down automatically with “Shutting down myself” message"
Hi, we use akka version 2.4.10 and have a 14 member cluster.
 Frequently, the cluster gets down automatically with “Shutting down myself” message, without any notable exception.
 We are not using “auto-down-unreachable-after”.
Could you please help us with the possible cause for this issue?

Log content:-
 INFO 2018-03-27 19:16:32,269 [ESA_FMCluster-afgha-slet-akka.actor.default-dispatcher-24] akk

[2018-06-06 09:59] raboof commented on #25209
Hello Makesh - in general we try to use the github issue tracker only for bugs with the current version of Akka, not for older versions or discussing developing Akka applications. I see you already posted your question to https://discuss.lightbend.com/t/cluster-gets-down-automatically-with-shutting-down-myself-message/1200 so I'll close it here.

If you want to attract attention to your question y

[2018-06-06 09:59] #25209 closed

[2018-06-06 17:47] nickpoorman commented on #24352
@patriknw - What's the reason for disallowing remote deployment in Typed? Is there some place that explains this?

I'm trying to figure out how one would go about creating a pool of Remote Deployed Routees (or something similar) (see: https://doc.akka.io/docs/akka/2.5/cluster-usage.html?language=scala#router-example-with-pool-of-remote-deployed-routees) while trying to stick to Akka Typed.

[2018-06-07 06:10] patriknw opened #25213 "Run CoordinatedShutdown from ActorSystem.terminate"
Let CoordinatedShutdown be part of the default ActorSystem shutdown sequence.

I think it was the right thing to not do this when CoordinatedShutdown was introduced since we didn't want to change to much at the same time when introducing the new feature. Now it has been proven to work and it would make sense to use it in the ordinary `ActorSystem.terminate()`. It is already doing some things grace

[2018-06-08 03:04] ecelgp commented on #23959
This issue has been fixed when we updated to akka_2.12-2.5.11, scala 2.12.5.

[2018-06-08 03:04] #23959 closed

[2018-06-08 10:01] raboof commented on #23959
That's great to hear! Thanks for looping this back!

[2018-06-08 11:55] svroonland opened #25216 "Persistence typed: disable / customize recovery"
The non-typed persistence offers recovery customization. Would be nice to have this in the typed persistence as well.

The `PersistenceBehaviorImpl` already seems to have a parameter of type `Recovery` from the untyped persistence library. Should be a matter of adding a method like `withRecovery(recovery: Recovery)` to `PersistentBehavior`.

[2018-06-09 06:25] politrons opened #25218 "Configure dispatcher in Akka typed actor"
I´m working with Akka typed, and I´m not able checking in the official documentation(https://doc.akka.io/docs/akka/current/typed/actors.html#actors), which I found really short, how to configure the Dispatcher in the Actor typed.

Here an example of my code

[code]
When I create my ActorSystem how can I configure the dispatcher for my Actor.immutable?

[2018-06-11 02:52] yangguang760 opened #25221 "Add proxy option to IO(Tcp)"
I have searched the doc and code, no options for proxy are found.
Also, -DhttpProxy / -DhttpsProxy / -DsocksProxy vm options also not work.

[2018-06-11 07:54] e-kolpakov commented on #25119
@patriknw Thanks! And sorry for abandoning this for some time - in short I was away. So, can I consider your comment as a green light for going ahead and implementing option 1?

[2018-06-11 10:10] patriknw commented on #24598
Conclusion: We agree that composition is the way and we will provide a Scala Test specific trait to glue ActorSystem lifecycle in public testkit, which we will also use internally.

[2018-06-11 13:34] raboof commented on #25221
As far as I can see a proxy at the TCP level does not seem possible, since there is not part of the protocol where the 'actual' destination can be specified.

We typically use the issue tracker only for bugs in the latest version and feature requests, so it might be better to explain what you are looking for in our chat (https://gitter.im/akka/akka) or forums (https://discuss.akka.io). I'll close

[2018-06-11 13:34] #25221 closed

[2018-06-12 09:27] chbatey opened #25223 "Akka Typed top level behavior and spawning"
Top level behaviors for an Actor System have the benefit of initial setup being internal rather than external but it makes certain scenarios (e.g. spawning session and request level actors) harder. This becomes apparent when trying to write simple Akka Typed examples.

It would be nice to retain the benefit of `actorOf` for these use cases.

One possible solution would be to have a defined protoco

[2018-06-12 09:39] patriknw commented on #25223
and we would provide a default implementation of a `Behavior` of this `SpawnProtocol` that can be used as the `/user` top actor or as:
[code]

[2018-06-12 11:58] MasseGuillaume opened #25224 "Cannot build akka with sbt-coursier"
not an akka issue per see, but I cannot build akka with coursier as a global plugin.

[code]

[code]

[2018-06-12 12:03] 2m commented on #25224
I have this in my global.sbt for the workaround:

[code]

[2018-06-12 12:05] johanandren commented on #25224
Lets close this as it isn't Akka related.

[2018-06-12 12:05] #25224 closed

[2018-06-12 12:06] johanandren commented on #25218
Sounds good to add docs for that.

[2018-06-12 12:08] johanandren commented on #25216
I think we may have intentionally left it out in the new API (but I may also misremember that). Can you describe your use case for doing a partial recovery?

[2018-06-12 12:09] johanandren commented on #25124
Good to hear! Let's close this then if it was resolved.

[2018-06-12 12:09] #25124 closed

[2018-06-12 12:15] MasseGuillaume commented on #25224
@2m thanks!

[code]

[code]

[code]

[code]

[2018-06-12 12:16] chbatey commented on #25046
I don't think it is worthwhile putting anything in homebrew. We already have gitter8 / techhub

[2018-06-12 12:16] #25046 closed

[2018-06-12 12:23] johanandren commented on #24938
Did you resolve the issue in your code?

[2018-06-12 12:31] johanandren commented on #24738
The code is missing a call to `initialize()` in the end of the constructor, with that in place the timeout is triggered.

[2018-06-12 12:31] #24738 closed

[2018-06-12 12:35] johanandren commented on #24716
Hi @arunavas, we try to use the issue tracker only for issues and feature-tracking, and I think this more of a question for helping out understanding the APIs. Please use the [Akka forums](https://discuss.akka.io) for questions like this, thanks! (Also, make sure to include logs in the question as that will increase the likelihood that someone can help you out)

[2018-06-12 12:35] #24716 closed

[2018-06-12 12:44] chbatey commented on #24629
Hi @legatoo , we try to use the issue tracker only for issues and feature-tracking, and I think this more of a question for helping out understanding the APIs. Please use the Akka forums for questions like this, thanks!

[2018-06-12 12:44] #24629 closed

[2018-06-12 12:45] johanandren commented on #24641
To me it is unclear from the docs how it is supposed to work.

does not say elapsed since what, but could be since element came into the buffer, or since prevous element in the buffer was emitted.

I feel unsure what would be the correct behavior here, when there are elements in the buffer (and honestly I'm a bit surprised it does have a buffer at all). You think you could describe which behavior

[2018-06-12 12:47] johanandren commented on #24574
Closing this since it should be solvable with `recover` and friends, and hasn't seen more discussion since February.

[2018-06-12 12:47] #24574 closed

[2018-06-12 12:52] johanandren commented on #24351
Given that `LoggingReceive` is just 20 lines or so, just copying it and modifying it for your use case is probably the second best path here, if you can't get the generated protobuf classes to have any reasonable toString.

Closing this for now as it was lying around for so long, sorry about the long delay. Please reopen if you disagree.

[2018-06-12 12:52] #24351 closed

[2018-06-12 12:56] johanandren commented on #24259
The proposed solution is pretty much just as verbose as the existing explicit cast. I don't think it is worth it.

[2018-06-12 12:57] johanandren commented on #24216
Closing this as it hasn't seen any activity for a long long while. Please reopen or open new if you have thought about it enough by now ;)

[2018-06-12 12:57] #24216 closed

[2018-06-12 13:02] johanandren commented on #23564
I'll close this as it hasn't seen any activity for a long time (and we have done a lot of work on the docs since)

[2018-06-12 13:02] #23564 closed

[2018-06-12 13:06] chbatey commented on #25216
Skipping snapshots is an option we might want

[2018-06-12 13:15] #25024 closed

[2018-06-12 13:16] johanandren commented on #25069
Could the use case with failing too slow consumers be handled by putting a backpressure timeout first in the consumers perhaps?

[2018-06-12 13:23] chbatey commented on #24641
See https://github.com/akka/akka/pull/18985

[2018-06-12 13:24] chbatey commented on #24641
@lexn82 what is your use case for delay?

[2018-06-12 13:57] politrons commented on #25218
I would be happy to contribute if I would have more context on this.

[2018-06-12 14:35] johanandren commented on #25218
The dispatcher of Akka typed should be possible to define with the props when spawning the actor AFAIR but you'd have to dig into the APIs to be sure.

[2018-06-12 14:36] lexn82 commented on #24641
@chbatey Thanks for the link to the relevant discussion.

The solution and the edge cases outlined in the previous discussion are spot on, and match what I would expect the behaviour should be, based on the documentation.

However, it looks like the implementation has a bug, causing only 2 elements to be delayed while the rest are backpressured. Tests from the patch verify the correct delay only o

[2018-06-12 14:50] lexn82 commented on #24641
**Use Case**

After rewriting a streaming microservice to use akka-streams, we wanted to validate it in production for an extended period of time. We decided to run the new service at the same time as the old service, delaying processing time for the new microservice to avoid transaction collisions and resource contention. Since we still had the old service doing all the work, we were not concerne

[2018-06-12 15:02] ktoso commented on #25223
More clarification about the concepts:

[code]
[code]

[2018-06-13 07:08] patriknw commented on #24347
Thanks for reporting. I would expect that master would not talk to the removed node any more, since it has been removed and quarantined. Thereby the master will continue to be unreachable from the other node, which has to decide what to do about that.

[2018-06-13 07:18] patriknw commented on #24259
I agree. It's not worth adding more API for that small benefit. Message types will be better in general in Akka Typed.

[2018-06-13 07:18] #24259 closed

[2018-06-13 07:29] patriknw commented on #24775
Interfaces were added for Typed extension, but or existing untyped extensions I don't think we can introduce that in a binary compatible way. Application code would have to define it's own abstractions for such things to be able to stub them.

I don't think there is much we can do about this, but let's use interfaces for any new extensions.

[2018-06-13 07:29] #24775 closed

[2018-06-13 08:01] patriknw commented on #25119
ok, let's try that

[2018-06-13 08:10] patriknw commented on #24478
We discussed solutions for this and the conclusion was that we would add another parameter to the behavior factory:

[code]

When sending `Passivate` to that `ActorRef` the message would be converted into the untyped Passivate message and sent to the Shard (parent) with the `handOffStopMessage` as the stop message.

[2018-06-13 08:20] patriknw commented on #24463
We sketched this:
[code]

[2018-06-13 09:00] manonthegithub commented on #24347
@patriknw nevertheless.
I see these issues (arguable):
* It is not properly documented that the node can detect failures reconnecting the cluster after the network partition (I had to look the docs for remoting to get info about `ThisActorSystemQuarantinedEvent`)
* cluster itself does not have any events signalling that the node is failed (won't restore). I mean that `ThisActorSystemQuarantinedEve

[2018-06-14 06:47] patriknw opened #25226 "Composable CommandHandlerBuilder in Typed javadsl"
When using ADT style for the state it's very inconvenient to have the state parameter as the root `State` type. `CommandHandlerBuilder` can be constrained to a subtype and then composing several builders with `orElse`. That would also remove the need for `byState` command handler.

[2018-06-14 07:31] patriknw commented on #25133
Migration guide (Scala only):

Replace `.andThen` without state parameter with `.andThen { _ =>`

[2018-06-14 07:31] #25133 closed

[2018-06-15 07:43] johanandren commented on #25158
Closing this as it ended up more of a discussion than anything we will act on. Feel free to continue in a topic in the forums @eyalroth

[2018-06-15 07:43] #25158 closed

[2018-06-15 13:20] johanandren opened #25232 "Require coordinated shutdown task name to be nonempty"

[2018-06-15 13:21] #25232 closed

[2018-06-15 13:28] #23741 closed

[2018-06-15 14:23] johanandren commented on #25223
Making it `SpawnProtocol` rather than `ActorSystemProtocol` would make the behavior less weird to use for other thing than `/user`, that could make sense for example in a HTTP route where you inject a root actor which will spawn children for actor-per-workload but don't necessarily want that to be the actor system root.

[2018-06-15 14:45] patriknw commented on #23926
https://jenkins.akka.io:8498/job/akka-nightly-2.12/602

[2018-06-15 14:48] patriknw opened #25233 "failed: typed.RecoveryPermitterSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/6099

[code]

[2018-06-15 14:51] patriknw commented on #24393
The new logging appears in a test failure of ClusterStressSpec: https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/1114

[2018-06-15 19:10] ennru commented on #24944
I believe it is worth exploring this further. The API becomes a lot easier to handle with this.

[2018-06-18 06:59] johanandren commented on #23838
Failed on the 2.4 release branch:
https://jenkins.akka.io:8498/job/akka-release-2.4/564/consoleFull

[2018-06-18 07:08] johanandren opened #25240 "build tool dependency block is wrong"
Includes a `$scala.major_version$` placeholder. Additionally it should probably rather use the `%%` syntax for sbt?

See here for example: https://doc.akka.io/docs/akka/current/remoting-artery.html

[2018-06-18 08:28] patriknw commented on #24995
Merged another PR, any more remaining?

[2018-06-18 08:54] patriknw opened #25241 "Optimize flatMapConcat for Source.single"
Websockets in Akka HTTP is using `flatMapConcat` with `Source.single` for the strict element types: https://github.com/akka/akka-http/blob/master/akka-http-core/src/main/scala/akka/http/impl/engine/ws/MessageToFrameRenderer.scala#L25

That is rather slow since it has to do the full subfusing materialization for each element.

Would be good to optimize this case in `FlattenMerge`.

[2018-06-18 09:21] johanandren opened #25244 "Old-docs banner not working in 2.5.2 and newer"
Likely because we missed out on porting it to the new paradox docs.

Working: https://doc.akka.io/docs/akka/2.5.1/
missing: https://doc.akka.io/docs/akka/2.5.2/

[2018-06-18 14:49] johanandren opened #25247 "Unclear that cluster singleton manager needs to be started eagerly"
The docs does not mention that the singleton manager should be started as early as possible on the cluster nodes for cluster singleton to work.

[2018-06-18 22:01] ralphlaude commented on #24646
Hi guys,
i would like to know the state of this issue. What is already done or what should be next step?
Thanks a lot

[2018-06-19 10:33] #24971 closed

[2018-06-19 10:38] johanandren commented on #24646
I think it may be completed when the outstanding PRs are merged. Please let us know if you can find more duration using APIs that we have missed.

[2018-06-19 13:59] #25247 closed

[2018-06-19 15:10] ennru commented on #25244
I just PRed a much more simplistic solution to Paradox
https://github.com/lightbend/paradox/pull/210

[2018-06-19 15:31] ktoso opened #25250 "Consider Behavior.orElseAny which returns Behavior[Any]"
Currently we have `  final def orElse(that: Behavior[T]): Behavior[T] = new OrElseBehavior[T](this, that)` which is good and true.

We can however also make such orElse that takes some `Behavior[X]`, and returns `Behavior[Any]` (since we don't have union types it.) This may be still useful though for example if someone wants to combine some "internal stuff handling" and still `.narrow[The initial

[2018-06-19 16:15] ktoso opened #25251 "Typed Actors: Can we emulate Union Types via wrapping?"
Just taking note of this interesting idea... I think we may, at the cost of allocations and more wrapping, emulate union types by wrapping into explicit `UnionN` types and providing an behavior which delegates to "right target" based on type checking... The behavior that people would implement / use would need receiveMessage's for each of the types it demultiplexes.

Have not fully explored the id

[2018-06-19 18:56] shkoder opened #25253 "increase threshold to publish heartbeat interval warnings in PhiAccrualFailureDetector"
[PhiAccrualFailureDetector](https://github.com/akka/akka/blob/ad6626ef222b6d4dd44c0bde6d6189e58bb77226/akka-remote/src/main/scala/akka/remote/PhiAccrualFailureDetector.scala#L137) emits a warning if a heartbeat interval exceeds a threshold. The current threshold is too aggressive, which can result in an excessive amount of warnings.

Though increasing `acceptable-heartbeat-pause` can silence the w

[2018-06-19 21:47] ralphlaude commented on #24646
I will take a look, but i will be difficult because i don't the whole overview.

[2018-06-20 08:12] raboof opened #25255 "Release 2.5.13 for 2.13.0-M3"
Steps:
* `git checkout v2.5.13`
* `git checkout -b 2.5.13_2.13.0-M3`
* `git revert ff4c4d5c90efc7d64ddbffae1a213b4efe5fe256` (reintroduce scm section)
* `git cherry-pick 970271cf80db4c05fc2d0671890f4f71ddb93f5e` (fix conflicts)
* `sbt ++2.13.0-M3 compile` (fix failures)
* `git commit --amend`
* `sbt -Dakka.scaladoc.diagrams=false -Dpublish.maven.central=true ++2.13.0-M3 publishSigned`
* release vi

[2018-06-20 08:45] johanandren commented on #25251
Signals are tricky, and also: what should happen when b1 or b2 returns a new behavior?

[2018-06-20 08:48] johanandren commented on #25250
Couldn't we just use a lower type bound, and make it `orElse[U >: T](that: Behavior[U]): Behavior[U]`  (on the Scala side at least)?

[2018-06-20 09:12] johanandren opened #25257 "Failed: FanInThroughputSpec"
https://jenkins.akka.io:8498/job/akka-nightly/5605/consoleFull

[code]

[2018-06-20 09:14] johanandren commented on #21810
https://jenkins.akka.io:8498/job/akka-nightly/5609/consoleFull
[code]

[2018-06-20 11:09] ktoso commented on #25250
The purpose is for the U to be anything. Not limited by any bounds.

[2018-06-20 13:34] raboof commented on #25255
Should be making its way to maven central now

[2018-06-20 13:34] #25255 closed

[2018-06-20 21:00] shkoder commented on #25253
I'll take this one

[2018-06-21 09:14] jypma commented on #24291
We are actually relying on `alsoTo` allowing a side-flow to complete without consuming all elements. After the change, it'll make the main flow complete too early.

Although I understand the desire to propagate the cancel in certain cases, is there a way to turn this new behaviour off? What should we do instead if we want a side-flow to only consume _some_ of the elements?

[2018-06-21 09:57] johanandren commented on #24291
Dropping down to the GraphDSL will give you an explicit `eagerCancel` flag when constructing `Broadcast`, another option could be `wireTap` (note that it will drop elements if the alternative downstream back pressures though).

[2018-06-21 10:04] jypma commented on #24291
Indeed, we're now doing
[code]
and then just `mainGraph.via(alsoTo(sideSink))`. Rewriting all chained flows in graph DSL would be a lot more work :)

But, are we doing the "wrong" thing, allowing side flows to only consume part of the elements? The original issue was about _errors_ not propagating, instead of termination.

[2018-06-21 10:15] johanandren commented on #24291
If you follow the conversation it ends up in two things - error logging and the eager cancellation. Please either start a forum discussion or if you think there is need to make the eagerCancellation flag available through the flow api, a new ticket instead of discussing it on this old PR (and pinging everyone who was involved for every comment)

[2018-06-21 15:24] jpeel opened #25261 "Cluster sharding remember entities creates redundant journals"
There isn't a check whether the entity is already remembered when creating an entity from a non-StartEntity message. The constant-rate recovery method of remembered entities makes this more likely to happen. When using persistence for remembering entities, this can cause the journal to grow with every restart of a Shard. Long-term this can cause major performance issues because more journals will

[2018-06-21 22:07] raboof commented on #24991
Could it be `notFull.manualTimeControl(true)` is ran on a different thread than `queue.offer("World", 100, TimeUnit.MILLISECONDS)` and sometimes `TestCondition#awaitNanos` called from `queue.offer` does not yet see the 'true' value yet?

[2018-06-22 10:40] Camsteack commented on #25111
This issue has been fixed by #25246 and can be closed.
Thanks

[2018-06-22 10:46] raboof commented on #25111
Thanks again for the PR!

[2018-06-22 10:46] #25111 closed

[2018-06-23 07:06] fr3akX opened #25262 "Akka HTTP server graceful shutdown incorrect behaviour"
Current behaviour:
1. When shutdown is triggered any open connection will remain open, and will be able to make new requests where server will respond with 503.
1. Inflight requests are handled by leaving connections open, thus user may issue new request and server will respond with 503.
1. All connections are closed only after deadline exceeds, and emits final response with 503 code even if no re

[2018-06-23 16:01] chbatey opened #25263 "Port FSM docs to typed"
It is unlikely typed will need any special support for FSMs. We should port the fsm docs page to typed to show why it is simple to represent FSMs directly with the typed APIs.

[2018-06-24 18:23] ralphlaude commented on #24646
Hi guys,
i have 2 proposals concerning the java.time.Duration support for JavaDSL:

- Add util-object for Await with ready and result methods:
[code]

- Add new overloading methods in ```akka.pattern.PatternsCS``` for methods with ```akka.util.Timeout```. For example:
[code]

What do you think about?

[2018-06-24 18:34] ralphlaude commented on #24646
Hi,
i saw in the class akka.event.LoggingAdapterTest.LogJavaTestKit.java the method expectLog the akka.testkit.javadsl.Testkit#expectMsgPF is still using the scala.concucurrent.duration.Duration instead of java.time.Duration. I am really sure if it is already handled in another pullrequest .

[2018-06-25 01:18] xuwei-k commented on #25105
- [x] scala-java8-compat  https://oss.sonatype.org/content/repositories/releases/org/scala-lang/modules/scala-java8-compat_2.13.0-M4/
- [ ] ssl-config https://github.com/lightbend/ssl-config/pull/83
- [ ] scala-stm
- [ ] spray-json (only akka-docs project?)

[2018-06-25 02:04] ktoso commented on #25262
Issue opened in wrong repo, I'll move it to https://github.com/akka/akka-http/ where it should be.
I agree that we can improve the order of doing things a bit; I don't agree that it is incorrect now though ;-)

[2018-06-25 02:06] ktoso commented on #25262
moved to https://github.com/akka/akka-http/issues/2090

[2018-06-25 02:06] #25262 closed

[2018-06-25 07:13] patriknw commented on #24646
Not needed because `Await` is for Scala API. `Await` is mostly for Scala's Future so Java API should have `CompletionStage`, which is possible to await via `.toCompletableFuture.get(timeout)`.

`akka.util.Timeout` already has `create(java.time.Duration` but I think it's a good idea to support `java.time.Duration` directly in those ask methods. Please create PR.

[2018-06-25 07:17] patriknw commented on #25261
Thanks for reporting @jpeel . Would you be able to create a pull request?

[2018-06-25 09:36] svroonland opened #25268 "Typed persistence: ClassCastException for TimerMsg during recovery"
Version 2.5.13

Shouldn't the timer have been cancelled already when entering the running state of a persistent actor?

[code]

[2018-06-25 12:21] johanandren opened #25270 "Broken ivy cache on travis?"
Seen this a couple of times

[code]

[2018-06-25 13:04] johanandren commented on #25270
Saw it in the PR validation of https://github.com/akka/akka/pull/25269

Have deleted the caches with travis-cli now and waiting to see if it helped.

[2018-06-25 13:17] svroonland commented on #25216
@johanandren My use case is to use akka persistence as a simple event journal which I can use with persistence query. So the actors have no state, they are just a mechanism to write incoming events to a journal.

Guess you could argue it's a use case that akka persistence was not really meant for.

[2018-06-25 13:40] patriknw commented on #25216
It must anyway recover the sequence number so that next written event has the correct number.

[2018-06-25 13:49] patriknw commented on #25268
Thanks for reporting.

It's `cancelRecoveryTimer`, but this comes from the unstashing when switching to running.

[2018-06-25 13:53] #24989 closed

[2018-06-25 13:54] ktoso commented on #24989
Merged in https://github.com/akka/akka/commit/028937f52fce26c4145e1c9ecf7d5567878f981a for 2.5.14

[2018-06-25 16:17] jpeel commented on #25261
I opened a PR for this. I would add a test if I could think of a good way to test it. It is tricky because the message for the entity needs to be processed before StartEntity. It is relatively easy to test with a full-scale system which is how I found this issue.

[2018-06-25 18:53] #25128 closed

[2018-06-25 19:46] ralphlaude commented on #24646
Thanks for the answers.
I will create the methods for ```akka.pattern.PatternsCS```. But i can use this pull request (https://github.com/akka/akka/pull/25206), why do i need a new one?

[2018-06-26 06:51] #24637 closed

[2018-06-26 07:17] johanandren commented on #25270
Seems like that did the trick!

[2018-06-26 07:17] #25270 closed

[2018-06-26 08:08] johanandren commented on #21684
Closing since it hasn't happened in more than a year.

[2018-06-26 08:08] #21684 closed

[2018-06-26 08:59] ktoso commented on #25268
Will look into this then! (After a few more reviews I have to do today...)

[2018-06-26 10:20] ditekunov opened #25272 "Brotli algorithm for encoding/decoding directives"
Is there any chance, that you are going to support brotli compression algorithm in addition to gzip and Deflate in future?

This algorithm has proven its effectiveness and it would be great, if it can be used in Akka.

[2018-06-26 11:15] raboof commented on #25272
We don't have any plans for it. From what I read about it it seems it trades resource size for CPU usage, so it might not be a 'one size fits all' solution - but making it easily available would be interesting.

[2018-06-26 12:09] #25244 closed

[2018-06-26 12:49] nvollmar opened #25274 "ClusterSingletonManager does not handle event OldestChanged in state End"
When the cluster singleton manager receives an OldestChanged in state End it goes unhandled
```WARN    akka.cluster.singleton.ClusterSingletonManager    six    unhandled event OldestChanged(Some(UniqueAddress(...,-2122401574))) in state End```

[2018-06-26 14:04] johanandren commented on #20223
Stared at this for a while and both this and the artery one (#21810) seems to have
[code]
In the logs while successful runs does not (I'm not 100% sure though). Didn't get anywhere from that though.

[2018-06-26 14:14] #25253 closed

[2018-06-26 14:17] johanandren commented on #25274
When the singleton is in the end state it is just waiting for the cluster node it lived on to have left the cluster, as soon as that happens the manager stops itself. This is a harmless warning, but maybe it would be good to silently discard any other messages in that state.

[2018-06-26 14:22] nvollmar commented on #25274
I thought the same, discarding silently would then probably a better solution than having a warning in the logs.

[2018-06-26 14:40] patriknw commented on #25274
sounds good, would you be able to create a PR @nvollmar ?

[2018-06-26 15:39] nvollmar commented on #25274
@patriknw I can look into it

[2018-06-27 05:20] #24701 closed

[2018-06-27 06:46] ralphlaude commented on #24646
Hi guys,

i created a new pull request, here is the link (https://github.com/akka/akka/pull/25277)

[2018-06-27 07:06] #25274 closed

[2018-06-27 09:00] #21028 closed

[2018-06-28 08:41] renatocaval opened #25279 "Improve logging when node joins itself"
When a node joins itself, the logging message is not so obvious.

There are two (possibly more) indications that a node is join itself.

In DEBUG level:
[code]

In INFO level:
[code]

While when the node join an existing cluster, we get a pretty clear message in INFO level.

[code]

I think that when a node joins itself it's a pretty important event. Either we are starting a new fresh cluster or w

[2018-06-28 08:58] ktoso commented on #25272
removed directives from the name, since this is Akka; not Akka HTTP, Directives are in Akka HTTP.
This would be plain coders

[2018-06-28 09:05] ktoso commented on #25268
Hah, that is weird stacktrace formatting... Missed that it continues onwards quite a few lines.

[2018-06-28 17:35] DanielGGordon opened #25280 "Broken link and inconsistent footers in Streams documentation"
The bottom link in the [Streams/Basics and Working with Flows"](https://github.com/akka/akka-http/issues ) has a broken link at the bottom. Link is supposed to point to source code. Last link on the bottom as seen below:

![image](https://user-images.githubusercontent.com/11824880/42050589-fe23c292-7ace-11e8-837a-ef62db565d54.png)

In addition, the footer does not match the footer in ["Streams/Str

[2018-06-29 06:23] ktoso commented on #25280
Would you be able to show a link to the first page? Your link currently is ` [Streams/Basics and Working with Flows"](https://github.com/akka/akka-http/issues )`.

I do expect these to simply be for different versions of the page -- i.e. 2.5.2 and 2.5.13, so yeah, things change and move on and they are not expected to be the exact same.

[2018-06-29 08:49] johanandren commented on #25279
Thinking some about this I agree, and I like the last version where it explicitly says that it is forming a new cluster (useful for users who have *no* idea at all what is going on)

[2018-06-29 08:52] johanandren commented on #25280
Hopefully the re-added "this is not the latest version of the docs" banner will help a bit with this

[2018-06-29 14:07] patriknw commented on #25279
I agree, would be good with a unique log message to search for in logs. Would you be able to create PR, @renatocaval ?

[2018-06-29 19:04] schmitch commented on #25105
ssl-config has a 2.13.0-M4 release http://central.maven.org/maven2/com/typesafe/ssl-config-core_2.13.0-M4/0.2.4/.

[2018-06-30 20:46] giftig opened #25285 "`Source.actorRef` not completed by `Status.Success` or `PoisonPill`"
I've been struggling to get my stream to complete while testing a `SourceShape` component, and have just reduced it to its simplest form and identified `Source.actorRef` as the culprit; the documentation suggests that sending either `Status.Success` or `PoisonPill` to the actor ref materialised from `Source.actorRef` should complete the stream, however my stream never completes with either message

[2018-06-30 21:03] giftig commented on #25285
I see you do have several tests for this behaviour in `akka.stream.ActorRefSourceSpec` so I'll try to see how my test differs from those; looks like the only real difference is your tests hook up an actor ref probe and check for an `OnComplete` message, whereas I'm hooking it up to `Sink.ignore` and waiting for the `Done`. That leaves some room for there to be a bug in the `TestSubscriber`, as I _

[2018-07-01 08:11] ktoso commented on #25285
Please update to latest akka - 2.5.13.
You can send in a PR with the reproducer if you want, seems suprising that it would not work..

Thanks

[2018-07-01 10:14] giftig commented on #25285
Same behaviour in `2.5.13`. I've added a similar test to `ActorRefSourceSpec` and I'll submit a PR once I've confirmed it's working (or indeed not working)

[2018-07-01 13:05] stevenkampen opened #25287 "cluster.joinSeedNodes(...) does not throw warnings when seed hostname contains underscores"
I'm new to Akka, and I spent a long time trying to work out why the leader node in my cluster couldn't recognize the path of the first connecting node, but it turns out it was because I named the docker container `cluterapp_two`, and underscores are not valid in hostnames (LDH only).

As you can see in the output below, the second cluster member still sends a `InitJoin` message, which is received

[2018-07-02 06:42] chbatey commented on #24991
https://jenkins.akka.io:8498/job/akka-nightly-2.12/616/testReport/junit/akka.util/BoundedBlockingQueueSpec/offer_with_timeout_must_block_for_less_than_the_timeout_when_the_queue_becomes_not_full/

[2018-07-02 06:46] chbatey opened #25288 "Failed: MultiDcClusterShardingSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/6136/consoleFull

[code]

[2018-07-02 12:32] #25218 closed

[2018-07-02 13:48] MasseGuillaume commented on #25105
@raboof Is there anyone on the Akka team working on this? If not, I would like to do it. It would be a good occasion to battle test https://github.com/scala/scala-collection-compat and it's migration rules.

[2018-07-02 13:54] xuwei-k commented on #25105
https://github.com/akka/akka/pull/25267

[2018-07-02 14:12] raboof commented on #25105
@MasseGuillaume as @xuwei-k linked we've started exploring a bit, but your help would be greatly appreciated!

[2018-07-02 18:14] #24728 closed

[2018-07-02 18:23] #25288 closed

[2018-07-03 02:09] ktoso commented on #25240
Yah for some reason we're sticking to the `_...` style.
I don't mind either

[2018-07-03 04:40] ktoso opened #25295 "Accept Welcome message from previous joinSeedNodeProcess in all states"
Since we restart join seed node processes in ClusterDaemon it we can actually accept Welcome from the previous process; we only need to confirm it actually is from such node, and not some random one.

This was observed in a network where the delays on the round trips were in the tens of seconds.

[2018-07-03 06:21] johanandren opened #25296 "Failed: PersistentBehaviorSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/12918/testReport/junit/akka.persistence.typed.scaladsl/PersistentBehaviorSpec/A_typed_persistent_actor_must_snapshot_every_N_sequence_nrs/

[code]

[2018-07-03 07:23] chbatey opened #25298 "Java homes not found for default install of java on Fedora"
I have open jdk via the Fedora repos and hotspot via the Oracle RPMs.

Oracle put it in `/usr/java/`

[code]

OpenJDK packages put it in `/usr/lib/jvm`

[code]

Creating a symlink in `/usr/lib/java` for ` java-8-akka -> /usr/lib/jvm/java-1.8.0/` makes the build work.

We need some more regexing :)

[2018-07-03 07:36] #24957 closed

[2018-07-03 09:28] #25263 closed

[2018-07-03 09:40] ktoso commented on #25173
Was resolved by https://github.com/akka/akka/pull/25214 though right?

[2018-07-03 09:41] #25173 closed

[2018-07-03 09:42] ktoso commented on #25280
Closing, please reopen if the above comments did not explain the issue

[2018-07-03 09:42] #25280 closed

[2018-07-03 09:50] johanandren commented on #25287
For future reference, previous discussion on the mailing list: https://groups.google.com/forum/#!searchin/akka-user/AddressFromURIString$20and$20DNS$20hostnames%7Csort:date/akka-user/BFQ_q54mrkY/BKltl1haBQAJ

[2018-07-03 09:56] johanandren commented on #24500
I think that last failure was someone else stealing the port from `temporaryServerAddress` before it could be used.

[2018-07-03 09:57] johanandren commented on #24500
Anyways, let's close this since that isn't anything we can do much about (other tests running on the same machine stealing ports)

[2018-07-03 09:57] #24500 closed

[2018-07-03 10:10] #25233 closed

[2018-07-03 10:39] ktoso commented on #25173
Ticket for docs please @chbatey

[2018-07-03 11:19] #24991 closed

[2018-07-03 11:58] #25296 closed

[2018-07-03 13:42] patriknw opened #25305 "Possibility to send messages to Future<ActorRef>"
The `SpawnProtocol` was added in https://github.com/akka/akka/pull/25273
It would be convenient to be able to immediately sending messages to the spawned actor instead of having to use Future composition or Await (huh). Like the RepointableActorRef in untyped ActorSystem.actorOf.

Something like the old [FutureActorRef](https://github.com/akka/akka/blob/f7b3b483a8cdc2fd89b07bede6997db419d30c47/akk

[2018-07-03 13:43] patriknw commented on #25223
Leaving the FutureActorRef for later https://github.com/akka/akka/issues/25305

[2018-07-03 14:20] #25298 closed

[2018-07-03 14:22] #25295 closed

[2018-07-03 15:05] patriknw opened #25306 "Typed ActorRef that silently ignores all messages"
To be used as replyTo when you don't care about the reply.

An option might be that it forwards to deadLetters but I think that should be a choice.

[2018-07-03 15:08] raboof commented on #25287
While 'technically wrong', we allow underscores in `Address`es in a lot of places, just not in the `AddressFromURIString`.

Disallowing it in `Address` seems risky and might break otherwise-working use cases (though I can't think of any specific ones right now).

Nonetheless, I agree it would be good to catch those errors earlier and give more meaningful error messages. I wonder if there's any poi

[2018-07-03 15:53] vhiairrassary commented on #25090
Hi! I have spent a couple of hours to test Akka (2.5-SNAPSHOT, Scala 2.12) & Graal. This is a POC and not the definitive fix/path.

1. Clone Akka, patch it and relase a local version:
[code]

Notes:
* I know that replacing `Reflect.findClassLoader()` with `getClass.getClassLoader` is not a viable fix but it was enough for this POC
* I was not able to support `akka.serialization.SerializationExtens

[2018-07-04 01:02] ktoso opened #25307 "Document how (and why) to enable async-dns (and its capabilities)"
This is a follow up to - Support SRV records in DNS lookups #25173

We should document it, even if main users of it is "us" for now.
Esp since we tell people to enable it in akka-management so it makes sense to explain what people are actually enabling there.

cc @chbatey

[2018-07-04 01:02] ktoso commented on #25173
Created the ticket https://github.com/akka/akka/issues/25307

[2018-07-04 01:15] ktoso commented on #25090
Very cool progress, thanks for sharing @vhiairrassary :)
To be clear though, this is about GraalVM (SubstrateVM), let's not fall into the marketing terminology – Graal itself is just a JiT that we can (anyone can) use on a normal JVM app by adding specific flags. The native image is about "GraalVM/SubstrateVM" – still, cool to see the progress!

[2018-07-04 04:53] ktoso commented on #25268
I did not find a nice way to solve it yet... Putting it back to the queue.
The main mystery to me is how that timer message ends up in the stash anwyay; only code paths to do so seem to me to be part of a well typed path so it should not end up there hm... Otherwise I would have expected the wrapped withTimers to always handle this issue, even if it came from the unstash. I was not able to reprodu

[2018-07-04 09:46] #17185 closed

[2018-07-04 11:10] chbatey commented on #24956
https://jenkins.akka.io:8498/job/akka-nightly-2.12/623/testReport/junit/akka.stream.testkit/StreamTestKitSpec/A_TestSink_Probe_must__expectNextChainingPF_should_fail_after_timeout_when_element_delayed/

[2018-07-04 12:40] 2m commented on #17185
UDP connector is now a part of Alpakka since `0.20`: https://developer.lightbend.com/docs/alpakka/current/udp.html

[2018-07-05 01:56] ktoso opened #25309 "Typed; Document how to deal with refering to system when spawning things from inside system setup"
See the following mini demo app:

[code]

Which would be a simple example to show "do some stuff, then once got result shut down", this won't work though:

[code]

This may be yet another point to allow `system.spawn()` and relate to Possibility to send messages to Future<ActorRef> #25305

Found while working on some examples

[2018-07-05 04:24] tolikr opened #25310 "Cluster Distributed Data: Too slow writes in 2 or more cluster nodes"
I use ORMap as distributed data between nodes of akka cluster. On each node this data may be modified: add elements, remove, modify.
To be sure that majority nodes applies changes i use Update with strategy WriteMajority and await for UpdateSuccess msg to reply, that modification was successful.
Problem occurs if i add to cluster more that 1 node. Receiving a message UpdateSuccess becomes a long p

[2018-07-05 07:47] patriknw commented on #25309
Exactly, stopping the guardian will terminate the system. Might need some additional description in the documentation.

Also note that we have this in the chat room intro example:
[code]

Another way would be to use `context.system.terminate()`.

[2018-07-05 08:47] ktoso opened #25312 "Add guide on disable suggesting javadsl/scaladsl in docs"
As seen on https://twitter.com/lteqgt/status/1014581098204954624 by @sebastianharko

[2018-07-05 08:48] ktoso commented on #25312
Technically stream, but also applies to typed and other things such as akka http

[2018-07-05 08:59] tolikr commented on #25310
I change my test case. Now it uses all solutions above. But it executes same time. Please take a look.
[ddata-test.zip](https://github.com/akka/akka/files/2165808/ddata-test.zip)

[2018-07-05 10:47] tolikr commented on #25310
For test purposes i changed LWWMap to GCounter. Test completed in 2 seconds. With LWWMap it take 80 seconds to complete. Maybe i should try to use my own data structure instead LWWMap?

[2018-07-05 10:50] patriknw commented on #25310
The main bottleneck is probably that you emit the requests one-by-one and wait for the response before next, but it's still interesting to see why it's slow. I'll test your sample.

[2018-07-05 11:17] tolikr commented on #25310
LWWRegister, GSet pass test in 2 and 3 seconds accordingly. I think there is something in Map implementation, that makes replication slower than others.

[2018-07-05 16:32] sebastianharko opened #25313 "Akka Streams Java DSL: createLogLevels default args issue"
https://github.com/akka/akka/blob/46b433b47daeabe438334aca70ac2cce7bade9fc/akka-stream/src/main/scala/akka/stream/Attributes.scala#L356

Trying to use `createLogLevels` from Java and setting one of the args as null, to get default values as the comment/docs suggests, will result in a compile error. The args are ints after erasure (since they are  case classes that extend AnyVal) so null is not all

[2018-07-05 16:44] johanandren commented on #25313
Would you be up for PR:ing perhaps, Seb?

[2018-07-05 16:55] ralphlaude commented on #24646
Hi, i added new changes to the pull request. Please take a look.

[2018-07-05 17:15] sebastianharko commented on #25313
@johanandren sounds good ! Expect a PR but kinda at the end of the week ;-)

[2018-07-06 08:00] patriknw commented on #25310
I started looking at this and understand what is going on, and have some ideas of what we can do to improve. The sequence numbers of the deltas gets out of sync and then we fall back to resending after a timeout.

[2018-07-06 10:54] patriknw commented on #25310
@tolikr Thanks for reporting. I have a solution in https://github.com/akka/akka/pull/25315

[2018-07-06 11:29] tolikr commented on #25310
@patriknw I will wait for some release to test it with my real data, thank you.

[2018-07-06 12:58] patriknw commented on #25310
After merging the PR there will be a nightly timestamped version, it would be great if you can try that. See https://doc.akka.io/docs/akka/current/project/links.html#snapshots-repository

[2018-07-06 14:11] chbatey commented on #24630
https://jenkins.akka.io:8498/job/akka-nightly/5653/testReport/junit/akka.actor/SupervisorHierarchySpec/A_Supervisor_Hierarchy_must_survive_being_stressed/

[2018-07-06 14:13] chbatey opened #25316 "Failed: ActorsLeakSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/6159/testReport/junit/akka.remote/ActorsLeakSpec/Remoting_must_not_leak_actors/

[code]

[2018-07-06 14:35] #25226 closed

[2018-07-06 17:33] tonicsoft commented on #24369
@kstokoz thanks for the suggestion. For me it felt more natural to implement a new stage and I had already started working on it when you posted your suggestion. The result of my efforts is in the above PR, review welcome.

[2018-07-06 21:33] patriknw opened #25318 "TimerScheduler can't be used together with widen"
See #25268

[2018-07-06 21:40] patriknw commented on #25268
I have fixed this in https://github.com/akka/akka/pull/25319

[2018-07-07 02:36] Gautamshahi opened #25320 "Load main class erro"
Hi, I am trying to save the output of the program to test.log with the code, java -cp $AKKA_CLASSPATH:. BankSystem > test.log But I am getting the below error. kindly suggest the needful.

![image](https://user-images.githubusercontent.com/3966230/42405990-a422e6f2-81bc-11e8-8692-337249f581d7.png)

[2018-07-07 13:00] giena opened #25321 "Akka persistence tck"
Hello,

In the optional part of the akka-persistence-tck/src/main/scala/akka/persistence/journal/JournalSpec.scala, there's this line:
receiverProbe.expectMsg(RecoverySuccess(highestSequenceNr = 6L))
I think, it's a problem to consider that the highestSequenceNr is predictable.
For me, the implementation layer is the only one to decide which will be the highestSequenceNr after a recovery.
I take a

[2018-07-08 19:42] naferx opened #25322 "Provide Sink.takeLast(n) operator ?"
I've written a custom Sink.takeLast(n) operator a couple of times. Maybe it'd be helpful for others too
but not sure if deserves to live in the core.

Here's the signature:
[code]

[2018-07-09 06:15] patriknw commented on #25312
How big will the note be? One sentence or full screen shot? Perhaps place the full description with example screen shot in a new page under [Additional Information](https://doc.akka.io/docs/akka/current/additional/index.html). I can't find any existing page where it would belong.

Then one sentence with link to above where we have the Dependency, e.g. https://doc.akka.io/docs/akka/current/typed/ac

[2018-07-09 06:29] patriknw commented on #25322
I think `Sink.fold` can be used for that and there is no need for a special operator.

[code]

Perhaps you could add it to the [Cookbook](https://doc.akka.io/docs/akka/current/stream/stream-cookbook.html) or as an example in the [fold page](https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/fold.html) ?

[2018-07-09 06:57] patriknw commented on #25321
I think this is a valid point. The sequence numbers must be >= 1 and increasing but apart from that the implementation should have some freedom. Would you be able to contribute to change the TCK?

[2018-07-09 07:46] raboof opened #25323 "Does not compile in IntelliJ"
Workaround: configure IntelliJ to use JDK8 and remove the `src/main/java-jdk-9` and `src/main/scala-jdk-9` folders from your source roots.

When using JDK8 in IntelliJ, it will still add the source folders which use classes introduced in jdk9, and fail to compile those (`object Flow is not a member of package java.util.concurrent
import java.util.concurrent.Flow`). When using JDK9, our use of `sun

[2018-07-09 08:52] tolikr commented on #25310
@patriknw i build your branch by myself. Test passed in 5 second instread 84 seconds. It's looking good. But i still wait for your nightly build to test it.

[2018-07-09 08:59] #24479 closed

[2018-07-09 09:06] giena commented on #25321
I'm ok with that and i will pull a request in the next days

[2018-07-09 09:14] patriknw opened #25324 "Rewrite Source.actorRef as GraphStage"
Also consider the issue with PoisonPill that was discovered in https://github.com/akka/akka/pull/25286

[2018-07-09 09:41] patriknw commented on #25321
thanks

[2018-07-09 14:16] atooni opened #25327 "OSGi headers missing for akka typed"
Hello,

we are using Akka within an OSGi based application and wnated to experiment with akka typed to see whether it could help us for furture releases.
It seems the akka-actor-typed OSGi headers are missing from the manifest.

Best regards
Andreas

[2018-07-09 14:43] raboof commented on #25327
Hello Andreas,

Thanks for bringing this up. Unfortunately OSGi is outside of the expertise of most of the core team, so indeed this hasn't always been in the best state.

For akka-http we've even temporarily removed OSGi support (more details at https://github.com/akka/akka-http/issues/1852) though there has been community interest in resurrecting and supporting it (https://github.com/akka/akka-h

[2018-07-09 14:50] atooni commented on #15485
Hi there, we are working on an application, which is an integration framework based on Akka / Camel / OSGi. Our repo [1] is open source, perhaps it is of interest for others trying to use OSGi and Akka together.

[1] https://github.com/woq-blended/blended

[2018-07-09 14:58] atooni commented on #25327
Hi Arnout,
I can certainly give it a go. Are there existing tests to validate the OSGi settings which I could use as guide to validate my setup or would I have to write those from scratch ?

Best regards
Andreas

[2018-07-09 16:11] nathankleyn opened #25328 "`FileIO.fromPath` does not work on named pipes (FIFOs)"
Hello!

Firstly, many thanks for all of the hard work you all do to create such an incredible project for the community to use!

I've hit a funny little edge case when using `FileIO.fromPath` - basically, it has a check called "isRegularFile" that prevents it from being used on a named pipe/FIFOs:

[code]

Produces the following error:

[code]

I've published this example on GitHub at https://gith

[2018-07-09 17:05] raboof opened #25330 "Jenkins nightly builds don't run on jdk9"
https://jenkins.akka.io:8498/job/akka-nightly-jdk9/229/console
[code]
Seems to work locally though.

Local JDK:
[code]

a0 /usr/lib/jvm/jdk-9/bin/java:
[code]

[2018-07-09 17:17] lasekio commented on #25324
It seems to be very similar to `Source.queue` unless support for backpressure, becouse of tell api I guess. Can we build on top of it somehow or you want it to be completely separated implementation?

[2018-07-09 17:42] patriknw commented on #25324
I think it’s worth to have it separate. It can probably make use of the ActorRef of the stage (if that can be returned as materialized value).

[2018-07-09 21:37] lasekio commented on #25324
I cant use stage actor in `GraphStageWithMaterializedValue`, because it is not initialized yet, during logic construction when we have to provide materialized value.

[2018-07-09 21:41] giftig commented on #25328
Looks like it was introduced in #21801; it's not specifically discussed either there or in the commit message. My guess would be `isRegularFile` was used there to assert that it's not a directory, and the behaviour you describe is an unintended side effect. It does also protect against inadvertently using other non-regular files such as devices, but that doesn't really seem necessary to me.

Maybe

[2018-07-09 23:17] ralphlaude commented on #24466
Hey, i would like to work on this issue. First of all i like to understand the context. Thanks for an answer

[2018-07-09 23:19] ralphlaude commented on #24646
Hey, i think everything is done here. Thanks for an answer

[2018-07-10 06:13] sebastianharko commented on #25312
I can't imagine the note being very long (more like a sentence) so your idea sounds about right @patriknw :-0

[2018-07-10 07:41] raboof commented on #25328
Looks unintended to me as well!

[2018-07-10 10:58] nathankleyn commented on #25328
Thanks @giftig and @raboof for the speedy replies! To that end, I've raised a PR at https://github.com/akka/akka/pull/25333, swapping the `isRegularFile` for `!isDirectory` and adding the appropriate tests.  👍

[2018-07-10 11:23] #25285 closed

[2018-07-10 11:41] kajmagnus commented on #20151
Better spec that clearly states that `"` are required:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match#Syntax

 (in the w3.org the quotes are just in a paragraph entitled *Example: ...*, felt a bit unclear to me)

[2018-07-10 12:37] naferx commented on #25322
sounds good. I will take care of it over the weekend

[2018-07-10 12:46] patriknw commented on #25322
thanks

[2018-07-10 13:49] #24488 closed

[2018-07-10 15:25] chbatey commented on #25261
Thanks @jpeel

[2018-07-10 15:25] #25261 closed

[2018-07-10 16:22] patriknw commented on #24466
@ralphlaude That would be great. See https://doc.akka.io/docs/akka/current/cluster-sharding.html?language=scala#inspecting-cluster-sharding-state for info about the corresponding queries (messages) in untyped Sharding. Corresponding should be exposed as typed ActorRef in the typed ClusterSharding.

[2018-07-10 18:59] patriknw opened #25336 "Remove rolling upgrade serialization of ORSet[ActorRef]"
Revert the double serialization that was added in
https://github.com/akka/akka/pull/25208/commits/b72312d428223156c10130e19f921e8ae5f336b6 to support rolling upgrades.
Explained in PR https://github.com/akka/akka/pull/25208

[2018-07-11 07:00] #23703 closed

[2018-07-11 07:05] satansk opened #25338 "Two links of CRDTs materials in "Learn More about CRDTs" are broken"
The links of CRDTs materials in [Learn More about CRDTs](https://doc.akka.io/docs/akka/current/distributed-data.html#learn-more-about-crdts) are broken, and more specifically, the first and the third one are broken:

* The Final Causal Frontier talk by Sean Cribbs
* Eventually Consistent Data Structures talk by Sean Cribbs
* Strong Eventual Consistency and Conflict-free Replicated Data Types talk

[2018-07-11 07:29] johanandren opened #25339 "Ensure NPE is always through when VirtualProcessor.onError(null) is invoked"
A spec violation bug that was introduced in #24722.

[2018-07-11 07:29] #25339 closed

[2018-07-11 09:36] #23704 closed

[2018-07-11 09:45] nyukhalov opened #25340 "ReceiveTimeout is still not triggered in this case"
I have a very similar to #24770 issue.

In my case `setReceiveTimeout(...)` is called by code which handles a message marked as `NotInfluenceReceiveTimeout`. The `ReceiveTimeout` message will never be sent to the actor.

[code]

[2018-07-11 09:47] #25268 closed

[2018-07-11 09:53] nyukhalov commented on #25340
As I see there is only [one place](https://github.com/akka/akka/blob/00f07c242972e94cd94390dd4f2ff49142f0dc3e/akka-actor/src/main/scala/akka/actor/dungeon/ReceiveTimeout.scala#L32) which schedules sending `ReceiveTimeout` message:

[code]

The method is called in two places: [during actor creation](https://github.com/akka/akka/blob/2c2b8ba001068dd81b02167159da214202ead237/akka-actor/src/main/scala

[2018-07-11 10:15] #25156 closed

[2018-07-11 11:14] #25310 closed

[2018-07-11 16:17] raboof commented on #25327
We have no OSGi tests in Akka, though there was a proposal in https://github.com/akka/akka-http/pull/2030 that seemed interesting and which might be possible to apply to Akka as well.

[2018-07-11 16:20] #25241 closed

[2018-07-11 16:47] atooni commented on #25327
Yes I have seen that. It's kind of an implicit test by using the expected bundle.

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Arnout Engelen <notifications@github.com> Date: 11/07/2018  18:17  (GMT+01:00) To: akka/akka <akka@noreply.github.com> Cc: Andreas Gies <andreas@wayofquality.de>, Author <author@noreply.github.com> Subject: Re: [akka/akka] OSGi headers m

[2018-07-11 16:49] raboof commented on #24805
@ralphlaude we have an internal utility, `JavaDurationConverters`, which converts between `java.time.*` and `scala.concurrent.duration._`.

The first point of this issue appears to have already been resolved: `asScala` does return a `FiniteDuration`.

`asJava` is currently defined as a helper on all `scala.concurrent.duration.Duration`. However, it is implemented using `toNanos`, which throws for

[2018-07-11 21:03] ralphlaude commented on #24805
@raboof thanks for the explanation. It seems to be a small change, i will do it. I assume we don't need backward compatibility here because it is an internal API.

[2018-07-11 21:04] ralphlaude commented on #24466
@patriknw thanks for the hints. I will read and do it.

[2018-07-12 02:12] SethTisue commented on #24535
closing this one since there's also #25105 and #25267

[2018-07-12 02:12] #24535 closed

[2018-07-12 03:36] tolikr commented on #25310
I've tested nightly build. Thanks for fixing this behaviour.

[2018-07-12 05:11] patriknw opened #25342 "failed: ReplicatorDeltaSpec"
Possible regression introduced by https://github.com/akka/akka/pull/25315 ?

https://jenkins.akka.io:8498/job/akka-multi-node/2865

[code]

[2018-07-12 05:39] patriknw commented on #25342
Ok, I see what's going on here. The test is relying on that deltas are not propagated when "missing delta", but the change was to immediately send the full state when receiving `DeltaNack` and then that assumption in the test doesn't hold. The problem is in the test, I'll see what to do about it.

[2018-07-12 06:32] #25328 closed

[2018-07-12 06:32] #24889 closed

[2018-07-12 06:33] #25240 closed

[2018-07-12 10:08] IainHull opened #25345 "Terminated.failure is always None"
When the root actor in an akka typed system fails with an exception this is never passed back by the future return from `ActorSystem.whenTerminated`.  The `Terminated` case class has a value called `failure` for this purpose but its always empty.

This feature would be very useful for services to return their exit status to the operating system or for for failing tests wrapped in an actor system.

[2018-07-12 10:15] IainHull commented on #25345
I would be happy try to add this myself.  I have created a unit test to reproduce this, but I am struggling to figure out the best way to pass the exception back from the guardian. I am happy to have a go at this if you folks think it should be straight forward to add to the untyped adapter implementation.

[code]

[2018-07-12 21:13] ralphlaude commented on #24805
@raboof thanks for the explanation. It seems to be a small change, i will do it. I assume we don't need backward compatibility here because it is an internal API.

Here is my proposal:
I will change the method ```akka.util.JavaDurationConverters#asJava``` to use ```FiniteDuration``` and then change all client calls everywhere in the code. There are not a lot places for changing. See the screenshot

[2018-07-13 06:59] #12591 closed

[2018-07-13 07:07] johanandren commented on #25072
Closing this as it is potentially fixed. Please create a new issue for tracking if the second PR goes in.

[2018-07-13 07:07] #25072 closed

[2018-07-13 10:11] #25223 closed

[2018-07-13 10:51] johanandren opened #25348 "Serializer missing for GetShardRegionStats$"
`GetShardRegionStats` and the response message is missing a protobuf serializer, which means that with Java serialization disabled you cannot use `GetClusterShardingStats` which uses `GetShardRegionStats` to collect node information.

[2018-07-13 11:40] ralphlaude commented on #24466
@patriknw i have red the doc but i still don't understand the context very well. I look in the classes ```akka.cluster.sharding.ClusterSharding```, ```akka.cluster.sharding.Shard```, ```akka.cluster.sharding.Shard.SharQuery```and ```akka.cluster.sharding.ShardCoordinator```.  Please i need more explanation. thanks

[2018-07-13 13:35] patriknw commented on #25338
@satansk thanks for reporting. Have you found new links, and if so would you be able to create a pull request fixing this?

[2018-07-13 13:46] patriknw commented on #25348
Ok, I think it was originally intended to only be used with the local region actor, but then it was used in the `GetClusterShardingStats` query from the coordinator.

Serializers can be added in a 2-step process:
* add the serializers in 2.5.15 but don't active the binding in reference.conf
* add the binding in 2.5.16

Then rolling upgrade can be done from 2.5.14 -> 2.5.15, and then 2.5.15 -> 2.5.

[2018-07-13 14:18] satansk commented on #25338
Hi @patriknw , I have found the same video of the third one on youtube which is provided by Microsoft Research, [here](https://www.youtube.com/watch?v=oyUHd894w18&feature=youtu.be) is it.

But as the first one, I can only find the [original slides](https://speakerdeck.com/seancribbs/the-final-causal-frontier), and it seems there is no video on the internet.

Can we just put the slides on?

[2018-07-13 14:40] patriknw commented on #25338
then we can remove the link, it was a nice presentation but probably not understandable from only slides

[2018-07-13 14:41] patriknw commented on #24466
@johanandren can you assist here, next week

[2018-07-13 14:59] satansk commented on #25338
Thanks, get it, I'll send a PR soon.

[2018-07-13 16:14] johanandren commented on #25348
I think `ClusterShardingStats` is fine, since it is just a summary - number of entities per shard, the dangerous one is `CurrentShardRegionState` which returns all entity ids in all shards in the region - that one we should not provide a serializer for.

[2018-07-13 17:22] johanandren commented on #25345
I think it could end up having to be too invasive and complex to be worth it, but if you are willing to dig deeper to see if there is a way, please do and report back!

[2018-07-13 17:42] hseeberger opened #25349 "Source.queue has cases where it can not be completed"
Looking at the implementation and running some simple tests, `SourceQueueWithComplete.complete` does not “complete the stream normally” as written in the ScalaDoc.

Calling `SourceQueueWithComplete.offer` after calling `complete` can still succeed, i.e. result in an `OfferQueueResult.Enqueued`. All you need to do is use `bufferSize` > 1 and call `offer` continuously, i.e. prevent the buffer from b

[2018-07-13 17:42] hseeberger commented on #25349
Also see https://discuss.lightbend.com/t/source-queue-cannot-be-completed/1559.

[2018-07-13 17:43] hseeberger commented on #25349
If the @akka/akka-team agrees, I will create a PR which changes the behavior to drop offers after `complete` has been called.

[2018-07-14 03:02] ktoso commented on #25349
Agree with your findings Heiko. Please give it a shot.

[2018-07-14 09:03] raboof opened #25350 "Release 2.5.14 for 2.13.0-M3"
Like in #25255, further considerations:
- cherry-pick 697c0c98b79a37e76cc5fc020054ff10edbbb85b
- use jdk8

[2018-07-14 11:02] raboof commented on #25350
Done, on its way to maven central. Had to disable another test due to https://github.com/scala/bug/issues/10762

[2018-07-14 11:02] #25350 closed

[2018-07-14 15:15] ktoso commented on #25350
Ah, thanks a lot @raboof for noticing and releasing!

[2018-07-14 19:44] IainHull commented on #25345
I have looked into it a little. I have solved my local case using a behavior wrapper that completes a promise when the behavior stops or terminates unexpectedly.  I will look to see if it can be extended to use `Behavior#wrap` so it sticks to the behavior like a `Behaviors.supervise`

This is an example of the utility I am using at the moment (Using `Done` because client code cannot create instanc

[2018-07-16 05:10] #25338 closed

[2018-07-16 05:21] chbatey commented on #24956
This was a different test failure, my mistake

[2018-07-16 07:22] johanandren opened #25355 "Failed: ClusterShardingLeavingSpec (2.4 branch)"
I wonder if something that has been fixed in the 2.5 branch.

https://jenkins.akka.io:8498/job/akka-release-2.4/590/consoleFull

[code]

[2018-07-16 10:45] chbatey commented on #25041
Going to make a subset of the changes discussed while doing https://github.com/akka/akka/issues/25042

I won't rename Effect to Action, I think either work well. Given the context of this being Akka I don't think many users will interpret Effect as with its usage in Haskell/Scalaz/Cats.

The two public types become:
`Effect` - The "main effect, typically persist, none, stop or unhadles` No change

[2018-07-16 12:34] cmunger opened #25356 "akka io DirectByteBufferPool improvements"
When putting under heavy network load the akka io stack, profiling shows that quite some time is lost blocking into the akka.io.DirectByteBufferPool class especially these blocks of code :

private final def takeBufferFromPool(): ByteBuffer = {
    val buffer = pool.synchronized {
      if (buffersInPool > 0) {
        buffersInPool -= 1
        pool(buffersInPool)
      } else null
    }
...
  }

[2018-07-16 14:21] chbatey commented on #25041
Actually after re-reading all of this `Stop` doesn't need to be a special case it can just be `none.andThenStop` as suggested by @renatocaval

[2018-07-16 21:12] ralphlaude commented on #24646
i think everything is done here.

[2018-07-17 08:01] agemooij opened #25358 "Broken link in akka-stream docs on Flow.ask"
The current (2.5.14) [docs page on `Flow.ask` in streams](https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/ask.html) contains a broken link to docs on `ActorAttributes.SupervisionStrategy`, e.g. the URL https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/ActorAttributes.SupervisionStrategy.html does not exist.

I also did not see a docs page in that same dire

[2018-07-17 08:12] johanandren commented on #25358
Thanks for reporting!

It's meant to link to the API docs, but he markup used for those is not correct to link to the scaladocs: `` [[akka.pattern.AskTimeoutException]]``

The markup should be `@unidoc[classname]`

[2018-07-17 08:15] johanandren commented on #25356
Could you share some more concrete profiling numbers as well, and describe a bit how/what you have profiled?

[2018-07-17 09:14] cmunger commented on #25356
Hello,

Profiling tests are done running a producer on java 8 latest akka version (2.5.14) 8 core cpu 4gb ram allocated sending 4k messages/s to 8 tcp connections (running also akka io to consume) for a total of 32k msg/second, using yourkit profiler with thread monitoring.
https://pasteboard.co/HuQOgLj.png

Over a session on 1 minute of data sending, we see that around 35ms have been lost monitor

[2018-07-17 09:40] johanandren commented on #25356
Excellent, thanks

[2018-07-17 09:48] cmunger commented on #25356
I know the number are not so big but we're in a business where every micros count, maybe the best option would be to open the API with an interface like :
 BufferPoolFactory {
   BufferPool get(ActorRef ioconnection);
}
trough application.conf akka.io {} to be able to provide a specific implementation,  factory would be called when the io actor is registered in the tcpmanager. That's maybe the bes

[2018-07-17 10:18] ktoso commented on #25356
I believe we benchmarked this piece of code quite intensely back then and found that the synchronized performed better than spinning under load... Though it indeed could be a point to re-evaluate, or perhaps swap with the pools we use in Artery hm hm...

Making as low priority and contribs awe welcome here :)

[2018-07-17 14:48] johanandren commented on #25330
Moved forward from no sun misc to:

[code]

It somehow doesn't quite feel like a success.

[2018-07-17 15:24] johanandren commented on #25330
Installed OpenJDK 10 instead to get anywhere, seems like it helped. I wonder if that is enough, was there something specifically JDK 9 we needed to test?

[2018-07-17 15:29] johanandren commented on #25330
Meh, back to no sun misc

[2018-07-17 15:42] johanandren commented on #25330
Argh. Same for Oracle JDK 10.

[2018-07-17 15:57] johanandren commented on #25330
Should note that I mostly compile with JDK 10 on my machine.

[2018-07-17 18:07] patriknw commented on #25356
We might want to add jctools anyway for a more performant mailbox, and that might be interesting here also https://github.com/akka/akka/issues/25044

We have a pool impl in Artery that is using Agrona, perhaps similar can be implemented with jctools?

[2018-07-17 23:12] tpantelis opened #25361 "First seed node not rejoining cluster"
akka version: 2.5.11

In a 3-node cluster setup, upon killing and restarting the first seed node (as listed in the akka.conf), we sometimes see that the node does not or is not allowed to rejoin the cluster. After the seed node timeout, which we have set to 12s, it joins itself and forms a cluster island. This is automated in a robot test environment.

As an example, we have node1 (first seed node

[2018-07-18 07:30] raboof commented on #24646
Awesome! Thanks for all your help here!

[2018-07-18 07:30] #24646 closed

[2018-07-18 08:35] #25358 closed

[2018-07-18 11:43] johanandren commented on #25330
Building with Scala 2.11 gets us past that error, but it then fails with some other thing I don't understand: https://jenkins.akka.io:8498/job/akka-nightly-jdk9/248/console

[2018-07-18 13:07] cmunger commented on #25356
Well I still think that opening the API to be able to specify a pool impl to use with akka io stack would be the cheapest and most flexible solution, in our case we use akka io API and netty in a lot of our jvm and it would be good to have such API to reuse netty byte buffer pool impl (https://netty.io/4.0/api/io/netty/buffer/PooledByteBufAllocator.html) also with akka io, thus reducing the number

[2018-07-18 13:32] Seetaramayya commented on #25279
I would like to pick. I'll try this

[2018-07-18 13:49] idarlington commented on #24933
Hi I will be working on adding examples to `Source.fromFuture`

[2018-07-18 13:56] chbatey commented on #25279
Thanks @Seetaramayya

[2018-07-18 14:07] joost-de-vries commented on #24145
I'll pick up this one.

[2018-07-18 14:12] jkransen commented on #24933
I'll see how far I can get with `Source/Flow.sliding`

[2018-07-18 14:20] brightonk commented on #24933
Hi we are working on this akka.stream.{scaladsl,javadsl}.Compression

[2018-07-18 14:42] iyogi commented on #24933
Adding Source.single

[2018-07-18 14:44] shkoder opened #25363 "remove unreferenced tutorial_6 samples in akka-docs"
`akka-docs/src/test/scala/tutorial_6` and `akka-docs/src/test/java/jdocs/tutorial_6` contain code snippets not referenced from any of the tutorial files.

`tutorial_6` has been introduced in scope of #23210

[2018-07-18 15:04] gtlcheung opened #25365 "Page scrolls automatically when switching between scala and java tabs in akka docs using FireFox"
When you switch between the Java and Scala tabs to see the code examples on pages in the Akka docs [Version 2.5.14]
the page scrolls automatically, which makes it hard to see where you were. I am using FireFox 61.0.1
This behaviour occurs more often in the middle of a page.

[2018-07-18 15:15] raboof commented on #25365
I have noticed this as well: this is caused by the code snippets switching between Java and Scala, and some snippets are longer or shorter depending on the language. I also noticed this is pretty distracting in Firefox, while Chrome does a much better job at maintaining document location.

I'm not sure if there's anything we can do about this?

[2018-07-18 15:28] brightonk opened #25368 "JDK is not discovered on Windows"
When running SBT on Windows, it did not find the JDK:

[code]

The JDK was manually installed in a custom location. The `JAVA_HOME` environment variable correctly pointed to it, so perhaps we should take into account the `JAVA_HOME` or look at the `PATH` when discovering JDK's.

[2018-07-18 20:49] #25365 closed

[2018-07-19 04:39] ktoso commented on #24933
Thanks a lot for everyone's help here so far!

[2018-07-19 06:22] ktoso commented on #25363
Thanks for the cleanup

[2018-07-19 06:33] #25363 closed

[2018-07-22 07:15] armanbilge opened #25381 "Adding askUnordered to streams?"
I saw some discussion about `askUnordered` by @ktoso and @patriknw in #18142. Is there still some prospect to add to streams API or is this ruled out? I'd be happy to make a PR.

I have a (perhaps unusual) use-case where I specifically _want_ my actor to process messages out-of-order. Its mailbox implements a first-in-random-out queue. This is for a Monte Carlo scheme.

Thanks in advance.

[2018-07-23 01:51] jroper opened #25382 "FlowOps.recoveWith a failed source never completes"
Using Akka 2.5.14:

[code]

This never completes. It should fail with `Exception("second failed")`.

[2018-07-23 01:53] jroper commented on #25382
Sorry, I just read the docs properly and saw this behaviour is expected - it's infinitely retrying.

[2018-07-23 01:53] #25382 closed

[2018-07-23 01:53] ktoso commented on #25382
Yes, also: `  @deprecated("Use recoverWithRetries instead.", "2.4.4")`

[2018-07-23 02:13] ktoso commented on #25322
Discussed internally and for the sake of symmetry we'd like to add the `takeLast` operator after all.
Would you want to PR it @naferx ? Please rememeber JavaDSL as well, let us know if you'd need help there.

[2018-07-23 15:52] naferx commented on #25322
Absolutely! I'll take care of it.

[2018-07-23 17:11] rkuhn opened #25383 "type inference broken for Effect.persist().andThen.andThen"
Consider the following:

        val behavior: CommandHandler[Command, Event, State] =
            Effect.persist(SomeEvent)
                  .andThen((state: State) => doStuff())
                  .andThenStop

Note the type ascription: without it, compilation fails with a “missing argument type”. Not sure exactly whether this can be fixed or is a Scala limitation; in principle the type should f

[2018-07-23 21:48] TimMoore opened #25384 "CoordinatedShutdown.runSync"
Both Play and Lagom have found it necessary to await shutdown of the actor system using `CoordinatedShutdown`. It calculates a timeout using `CoordinatedShutdown(actorSystem).totalTimeout()` plus a small (5s) buffer.

You can see the implementation here (copied below): https://github.com/playframework/playframework/blob/d6537a140625232d311d9411d8b921ba75c06ed2/framework/src/play/src/main/scala/pla

[2018-07-23 21:52] TimMoore commented on #25384
`asyncShutdown(actorSystem, reason)` above can be read as `CoordinatedShutdown(actorSystem).run(reason)`. Currently, it also loads a configurable `runFromPhase` from config, but we're planning to remove that.

[2018-07-24 04:14] joa23 opened #25385 "Increasing a pool size through an AdjustPoolSize message ignores configurations"
Hi,
It looks like when increasing a pool size through an AdjustPoolSize message the initial configurations are ignore.

To reproduce:
[code]

[2018-07-24 05:50] patriknw commented on #25384
I don’t think we want to have convenience for blocking (better to have it explicit with Await if really needed). It can easily be used in wrong place, e.g. Inside an actor which will prevent the ActorSystem from shutting down.

[2018-07-24 06:35] ktoso commented on #25384
Yeah in general we try to not provide such APIs... people are being thought to use Await and get on the Java APIs. Can we agree on that or do you think this really is very needed? (vote to close)

[2018-07-24 06:35] #25384 closed

[2018-07-24 06:36] ktoso commented on #25384
Added the reopen if necessary tag :)

[2018-07-24 06:57] TimMoore commented on #25384
That's fine. Not a lot of code to copy for those who need it.

[2018-07-24 06:59] BeatSager opened #25386 "Log error message for before failure handling"
We use `MiscDirectives#withSizeLimit` to restrict the file size a user can upload. Additionally we provide out own `ExceptionHandler` handing `EntityStreamSizeException` without logging it.
Unfortunately an error is logged in `GraphInterpreter` before the exception handling takes place.
In my opinion logging should only be done in failure handling in fail stage.

https://github.com/akka/akka/blob/

[2018-07-24 07:33] guiCarlier opened #25387 "FixedSizeBuffer isEmpty return false when buffer is empty"
The method `isEmpty` in class `FixedSizeBuffer` return true only when `used == 0`. But the method `used` can return a negative value when you `dequeue` more than `enqueue`.
This break sometime the Balance stage in the OutHandler logic for example.

[2018-07-24 07:47] #25188 closed

[2018-07-24 08:44] johanandren commented on #25040
I'd like to add to this that it is not in general unsafe to import the dispatcher like so, since the normal case is to call `schedule` or some transformation on `Future` as a reaction to a message - at that point the actor is still alive.

The problem arises when something is closing over the actor context, and using the the dispatcher when scheduled later, so for example:

[code]

I think this an

[2018-07-24 09:18] johanandren commented on #25386
That referenced line is on throwing in graph stage init though, I think you mean this one: https://github.com/akka/akka/blob/339fc3d48efbcec5e45b828c92aa499818c34af8/akka-stream/src/main/scala/akka/stream/impl/fusing/GraphInterpreter.scala#L357

Note how you could potentially silence it by setting the log level attribute to Off, but that could impact other logging that you wouldn't want. Could tha

[2018-07-24 09:44] BeatSager commented on #25386
@johanandren Thank you for your reply.
The unwanted log is created in `def init(subMat: Materializer)` at the line I mentioned. Since in my case the `LoggingAdapter` is a `akka.actor.RepointableActorRef` I would have to turn this off, but I don't want that.

[2018-07-24 10:01] guiCarlier commented on #25387
So, in `Balance`, it's necessary to test `!noPending` before calling recursively `dequeueAndDispatch()` when the current `Outlet` is closed.

[2018-07-24 10:50] johanandren commented on #25387
I think you are right, would you be up for making a PR with the fix?

[2018-07-24 10:57] johanandren commented on #25386
Hm. Tricky. I'm pretty sure we wouldn't want to change the general behavior for this one case where it is problematic, and the stage init failure logging happens regardless of the logging level (as that is in 99% of the cases a serious problem with your stream).

Can't think of a good way to work around that on the Akka Streams side, maybe it would be possible to solve it on the Akka HTTP side tho

[2018-07-24 13:02] shshankar1 commented on #25368
It will be helpful if you can put down github url with sample code replicating scenario above.

[2018-07-25 02:49] ktoso commented on #25381
No strong feelings about it nowadays... I think it could be useful but wonder if really worth it hm

[2018-07-25 06:54] johanandren commented on #25381
Could be worth it for consistency with mapAsync/mapAsyncUnordered ?

[2018-07-25 07:23] #24900 closed

[2018-07-25 08:22] johanandren commented on #25381
Thinking some more about this, I think yours is really a weird edge case, but, I can also imagine an actor query that you want to include in a stream that doesn't just offload some work to a single actor but rather makes it spawn some session actor etc, meaning that the order of the responses is when each job completes, so for this more general case such an operator would also make sense.

Please

[2018-07-25 12:48] ktoso opened #25391 "Document and make official: ExplicitlyTriggeredScheduler"
We'd likely need to make public in testkit and document the ManualTime as well:

[code]

[2018-07-25 13:13] johanandren commented on #25385
I think while this could likely give surprising behavior with any of the clustered pool routes, it is especially strange with the adaptive load balancing pool which is expected to automagically scale the routees depending on load if you are also going to poke routees from the side. I'd recommend away from using cluster aware routing pools like this and instead reach for other cluster tools.

Not s

[2018-07-25 13:21] johanandren commented on #25361
For reference, same issue in forum: https://discuss.lightbend.com/t/first-seed-node-not-rejoining-cluster/1637

[2018-07-25 14:16] jchapuis opened #25392 "Proposal: `combineSorted` operation"
A common use case is to combine two streams of different types, with a common sorting criterion - the typical criterion would be for instance a timestamp. In ReactiveX this is available with the `combineLatest` operator (http://reactivex.io/documentation/operators/combinelatest.html)

Since I couldn't find anything like this in akka streams, I have created a new operation which is essentially a co

[2018-07-25 14:53] joa23 commented on #25385
Are you saying AdaptiveLoadBalancingPool is automatically increasing its size based on load? I couldn't find anything about this in the (java) doc. Is there any other documentation about this?

Which other cluster tools are you recommending to implement a mechanism where I can restart a child in case a routee terminates through e.g node crash and needs to be restarted. I had hoped I don't need to

[2018-07-25 14:59] johanandren commented on #25385
https://doc.akka.io/docs/akka/current/cluster-metrics.html#adaptive-load-balancing

Clusters won't restart a child to a routee if the routee crashes, that you'd have to solve yourself anyways. Distributed pub sub can do routing, so that could be an option. Sharding could be an option. Managing workers on each node, and then having them call in as in the distributed workers would be another. I'd re

[2018-07-25 16:07] richardimaoka commented on #25368
You can git clone this akka repository, try sbt compile on Windows and you see the same issue.

The error was thrown from this line in AkkaBuild. `CrossJava.Keys.fullJavaHomes.value("8")` caused ` java.util.NoSuchElementException: key not found: 8`

[code]

I think this problem is related to #24711 and #25302.
Looking at the change in 25302, no Windows discovery is defined.

[code]

And doing `ful

[2018-07-25 16:45] joa23 commented on #25385
Thx I will post in the forum.
The documentation you are pointing to also does not state that the pool is dynamically increased/decreased as you mentioned. Should I open a separate ticket to get the documentation updated?

[2018-07-26 02:56] shshankar1 commented on #25368
@richardimaoka Can you please check below steps if I am missing something? sbt compile was successful with some warning but at least compile was not failing.

shashi@shashi-PC MINGW64 /e
$ git clone https://github.com/akka/akka.git
Cloning into 'akka'...
remote: Counting objects: 374916, done.
remote: Compressing objects: 100% (176/176), done.
remote: Total 374916 (delta 196), reused 182 (delta 16