[2021-11-19 08:21] johanandren commented on #30325
@dssysolyatin please try to create a minimal repeater with a single stream and a boundary that doesn't get the right buffer size, and open up a new issue attaching that.

[2021-11-19 08:23] johanandren commented on #30769
https://github.com/akka/akka/runs/4258626735?check_suite_focus=true#step:9:2241

[2021-11-19 10:39] raboof commented on #30243
We have now merged the fix for the last known run-time problem, and the snapshots from `2.6.17+70-9b174a31-SNAPSHOT` onwards should contain it.

That makes it time to close this issue, let's create separate issues for any missing documentation and remaining problems that we might find.

Happy hAkking! :tada:

[2021-11-19 10:39] #30243 closed

[2021-11-19 10:56] raboof commented on #30001
I think we haven't seen this for a while, right? Let's close for now but re-open when it reappears.

[2021-11-19 10:56] #30001 closed

[2021-11-19 13:39] #30908 closed

[2021-11-19 17:44] alexdupre commented on #28926
I encountered this issue as well. I think the `preMaterialize` should not create a fanout with a timeout.

[2021-11-22 09:11] jrudolph commented on #28926
The disadvantage would be that without a timeout you will have a memory leak if the prematerialized stream is never used.

[2021-11-22 11:10] alexdupre commented on #28926
Well, if you don't want to make it the default, at least there should be the possibility for the user to decide to have a timeout or not.

[2021-11-23 08:00] johanandren commented on #28926
I think it could be possible to disable the timeout already, using `StreamSubscriptionTimeoutTerminationMode.NoopTermination`, but there is no access to set attributes on that `Sink.asPublisher`/`Source.asSubscriber` since it is created and run inside the `preMaterialize()` method.

This also means that it may be impossible to set other attributes for the async boundary (buffer size for example) -

[2021-11-23 08:03] johanandren commented on #28926
BTW not entirely sure perhaps this is somewhat related to #30908 where the timeout happens, and cancels a subscription, but what bubbles up is "you can't subscribe multiple times" for a late subscriber, rather than something saying "publisher already canceled".

[2021-11-23 09:39] alexdupre commented on #28926
I don't think that's related, in that case it was created with `fanout = false`, so there was no timeout as far as I understand.

[2021-11-23 09:53] johanandren commented on #28926
There are timeouts both for fanout and non-fanout publisher sinks, so the _somewhat_ related part is the failing with something that does not make it clear it is about the publisher having been cancelled.

[2021-11-23 14:34] dssysolyatin opened #30935 "Impossible to change input buffer for async boundary after updating akka-stream from 2.6.14 to any new version"
It is impossible to change input buffer size for async boundary after updating akka-stream from 2.6.14 to 2.6.15.

The following code does not work with akka 2.6.15-2.6.17, but works with 2.6.14

[code]

[2021-11-23 14:35] dssysolyatin commented on #30325
@johanandren https://github.com/akka/akka/issues/30935

[2021-11-23 16:31] johanandren commented on #30935
BTW I also suspect a workaround using the `inputBuffer` attribute should work, if there is a bug.

[2021-11-24 07:02] patriknw commented on #30906
I think this was before https://github.com/akka/akka/pull/30894
because it's using `/dev/shm`

[code]

[code]

[2021-11-24 07:02] #30906 closed

[2021-11-24 12:53] #30842 closed

[2021-11-25 10:21] #30893 closed

[2021-11-25 10:21] #30769 closed

[2021-11-25 12:49] nvollmar commented on #21015
Ran into the same issue. Now unfortunately the using actor needs to track wether the last message is still in processing.
Would be much nicer to use if the closing message would only be sent after the last message has been acked.

[2021-11-25 13:17] johanandren commented on #21015
I agree, ack then complete sounds good (and I can't see that it would be breaking in any way). Please PR such a fix if you want.

[2021-11-26 06:53] #30486 closed

[2021-11-26 07:18] patriknw commented on #30567
Marking this as bug since it could be a real issue, but will tag as GHExcludeTest

[2021-11-26 07:27] patriknw opened #30939 "failed: JoinConfigCompatCheckerRollingUpdateSpec"
https://github.com/akka/akka/runs/4329062976?check_suite_focus=true#step:5:2386

[code]

[2021-11-26 07:30] patriknw commented on #30567
https://github.com/akka/akka/runs/4329062782?check_suite_focus=true#step:5:34311

[2021-11-26 07:30] patriknw commented on #30844
https://github.com/akka/akka/runs/4329062828?check_suite_focus=true#step:5:17982

[2021-11-26 07:31] patriknw commented on #30567
https://github.com/akka/akka/runs/4306162313?check_suite_focus=true#step:5:34585

[2021-11-26 07:33] patriknw commented on #30939
https://github.com/akka/akka/runs/4329100079?check_suite_focus=true#step:9:3102

[2021-11-26 07:39] patriknw opened #30940 "failed: ClusterReceptionistSpec"
https://github.com/akka/akka/runs/4318491689?check_suite_focus=true

We had https://github.com/akka/akka/issues/30906 but then said it was because of the /dev/shm issue.
This is still with aeron-udp, but now it's not using /dev/shm

[code]

[2021-11-26 09:41] patriknw opened #30942 "failed: StageActorRefSpec"
https://github.com/akka/akka/runs/4331747855?check_suite_focus=true#step:5:9555

[code]

[2021-11-29 02:02] plouj opened #30948 "Various Actor Tutorial clarifications"
While reading the extended Actor tutorial (https://doc.akka.io/docs/akka/current/typed/guide/tutorial.html) I found some things that weren't very clear to me. I can't submit a pull request, but here are the things I found in case it helps someone:

* https://github.com/akka/akka/blob/70120060b8b6de66d2944f88e8fe316c9ca4191c/akka-docs/src/main/paradox/typed/guide/tutorial_5.md?plain=1#L82
There's n

[2021-11-29 08:01] #21015 closed

[2021-11-30 13:26] octonato commented on #30948
done in #30949

[2021-11-30 13:26] #30948 closed

[2021-11-30 22:31] octonato commented on #30940
https://github.com/akka/akka/runs/4280998437?check_suite_focus=true

[2021-11-30 22:40] octonato opened #30952 "failed: EntityPassivationSpec in nightly build"
https://github.com/akka/akka/runs/4293593178?check_suite_focus=true

Failed on nightly build on the 23rd Nov, the day in which https://github.com/akka/akka/pull/30933 was merged. Some extra tweaking for CI needed?

[code]

[2021-11-30 22:44] octonato commented on #24143
https://github.com/akka/akka/runs/4293643023?check_suite_focus=true

[2021-11-30 23:55] pvlugter commented on #30952
I can see what this issue is from the logs, and some changes to the sharding state machine may be useful here.

One of the passivating entities has received new messages before terminating, and the messages get buffered. When it is actually terminated, it gets restarted and messages delivered. On this restart path it ends up tracking the entity creation and the message delivery as 2 accesses to th

[2021-12-01 09:39] #24143 closed

[2021-12-02 22:21] pvlugter commented on #30952
Actually, I think I'll adjust this in a different way. Passivation strategies are not using the distinction between newly created entities and touched entities, so I'll simplify this instead. I'll look at reproducing and fixing next week.

[2021-12-03 09:24] patriknw commented on #30843
https://github.com/akka/akka/runs/4402427160?check_suite_focus=true#step:5:21684

[2021-12-03 10:22] #27168 closed

[2021-12-03 12:47] johanandren opened #30957 "Possibility to opt out of message ordering guarantee in sharding"
When a shard is being rebalanced between nodes, a shard region tries as best as possible to buffer the messages and then forward to the new final destination, however, there is a scenario where buffered messages needs to be dropped to guarantee that they do not arrive out of order (in alignment with general actor at-most-once and messages arrive in the order they were sent from the same sender).

[2021-12-06 09:18] octonato commented on #30292
Similar failure one the Dec 3rd 2021

https://github.com/akka/akka/runs/4402479871?check_suite_focus=true#step:9:28374

Note that first failure is different, but followed by the same as previously reported here. So probably both have same cause.

[code]

[2021-12-06 09:22] octonato opened #30961 "failed: ClusterShardingQueriesSpec"
https://github.com/akka/akka/runs/4402426734?check_suite_focus=true

[code]

but also

[code]

[2021-12-06 17:49] plouj opened #30967 "Multiple references to misssing variable: FoldSink"
All of the following spots seem to refer to a variable named `FoldSink` which doesn't actually appear in any of the example code that I found:
- [x] https://github.com/akka/akka/blob/70120060b8b6de66d2944f88e8fe316c9ca4191c/akka-docs/src/main/paradox/stream/stream-flows-and-basics.md?plain=1#L107
- [x] https://github.com/akka/akka/blob/v2.6.17/akka-docs/src/main/paradox/stream/stream-flows-and-bas

[2021-12-07 02:40] pvlugter commented on #30957
Would it also be possible to retain the ordering and forward these messages? By letting the region that's handing off the shard be the first to forward messages, so that any messages it received from other regions are delivered first, before the buffered messages from other regions are sent. It would mean more coordination at the end of handoff, giving the new shard home only to the old region, an

[2021-12-07 07:44] KevinAtSesam commented on #29842
I have observed a similar issue on our systems, including in test scenarios
[code]

One important observation, has been a warning in the system related to the amount of `fs.inotify.max_user_instances` which was exceeding it's limits. This implies that Akka fails to properly terminate certain read-write operations and that they slowly drain the available connection until the system runs into a hard

[2021-12-07 13:20] #30952 closed

[2021-12-07 18:29] patriknw commented on #30957
It would be difficult to know when those messages have reached the final destination and it's ok to send other buffered messages.

That said, I need to refresh what the dropping condition is here.

[2021-12-07 23:44] pvlugter commented on #30957
Yes, would need to have some kind of finished message go via the new region to the coordinator/rebalancer. Complicates the handoff a little more.

Currently it looks something like:

- rebalancer sends out the begin-handoff message to all regions
- each region removes the shard, start buffering any new messages, send ack message back
- once all acked, rebalancer sends actual handoff message to the

[2021-12-08 09:52] johanandren commented on #30957
One idea would be to include a limited number of buffered messages in the `ShardStopped` message to the coordinator, and then pass those on in the `HostShard` message from the coordinator to the new region for delivery before responding to the coordinator that the shard stopped, that way we should know that the same sender on another node didn't get its messages reordered.

[2021-12-09 02:46] pvlugter commented on #30957
Sounds reasonable, and we don't expect many messages to be buffered like this.

[2021-12-09 19:18] raboof opened #30973 "scala3: loading an extension needs an explicit `system`"
On Scala 3, loading a 'classic' extension like `Tcp()` does not work:

[code]

Explicitly providing the ActorSystem, like `Tcp(system)`, does work.

Strangely, recreating the pattern in isolation:

[code]

... actually works fine.

[2021-12-10 06:44] patriknw opened #30975 "failed: DDataClusterShardingRememberEntitiesDefault"
This fails also locally https://github.com/akka/akka/runs/4477811089?check_suite_focus=true#step:5:8798
[code]

To make it pass I had to go back all the way before:
[code]

[2021-12-10 06:47] patriknw commented on #28491
https://github.com/akka/akka/runs/4450956907?check_suite_focus=true#step:5:21280

[2021-12-10 06:50] patriknw commented on #30693
https://github.com/akka/akka/runs/4450957638?check_suite_focus=true#step:5:4479

[2021-12-10 07:42] hepin1989 opened #30977 "Add `@Deprecated` to akka.stream.OverflowStrategy#dropNew"
With `@Deprecated` annotaiton
![image](https://user-images.githubusercontent.com/501740/145536049-805cf431-1a42-4c8f-8d54-817a2eb493d1.png)

[2021-12-10 08:46] He-Pin opened #30978 "Add context/attachment to akka.stream.stage.TimerGraphStageLogic#onTimer?"
[code]

It would be great if the method can carray some context information about this scheduling

[code]

[2021-12-10 08:49] hepin1989 commented on #30978
Seems I can achive it with the custom timerKey too.

[2021-12-10 09:31] johanandren commented on #30973
I think requiring it explicitly could be fine though? (Looking at our tests we already do that in a lot of the extension lookups)

[2021-12-10 09:38] raboof commented on #30973
I suspect we started adding that to our tests to be able to run them on scala 3 ;).

I agree it doesn't look *that* bad, so we could simply start recommending that style.

[2021-12-10 12:29] FlorianSchaetz opened #30979 "Java Example in documentation for custom mailbox is wrong"
The documentation for [custom typed mailboxes](https://doc.akka.io/docs/akka/current/typed/mailboxes.html#custom-mailbox-type) contains this Java code:

[code]

The same code for scala:

[code]

Those are not equivalent, since the iterator will not remove the elements from the queue in the java example. I suggest using similar code in Java (unless thread-safety is important here):

[code]

[2021-12-10 14:36] patriknw commented on #30973
I'd say that the implicit in Tcp is the odd one compared to all other extension, like `Cluster(system)`, which requires an explicit system.

[2021-12-10 14:41] #30975 closed

[2021-12-10 15:37] patriknw opened #30980 "Can protobuf dependency be optional in akka-persistence-query?"
I think I made a mistake in https://github.com/akka/akka/pull/30970
The protobuf dependency was intentionally added as provided (optional), but that might not work since the serializer is loaded from configuration.

It would be nice to have it as provided, but maybe not worth the effort of some kind of lazy loaded serializer?

We should look into this before the release.

[2021-12-10 18:24] utkarshup11 commented on #30967
I will take up the last one small typo. Can I ? @plouj

[2021-12-10 18:34] utkarshup11 commented on #30853
Hi @hepin1989 you did not mentioned the File location where the issue needs to be solved. Can you please mention that.
Thanks

[2021-12-10 19:23] plouj commented on #30967
I don't have a problem with that!

[2021-12-13 07:28] patriknw opened #30984 "failed: OutboundIdleShutdownSpec"
multi-node with aeron-udp

https://github.com/akka/akka/runs/4500485510?check_suite_focus=true

[code]

[2021-12-13 07:33] patriknw opened #30985 "failed: LargeMessagesStreamSpec"
multi-node with aeron-udp

https://github.com/akka/akka/runs/4495316564?check_suite_focus=true

[code]

[2021-12-13 07:35] patriknw commented on #30984
https://github.com/akka/akka/runs/4495316564?check_suite_focus=true

[2021-12-13 08:27] patriknw commented on #30980
The question is not about akka-protobuf-v3. We already have that as a dependency from akka-stream.

but akka-remote is also declared as provided. We already have remote dependency from akka-persistence-typed, but not from akka-persistence.

Meaning that it will fail at startup if the application only has the akka-persistence and akka-persistence-query dependency. I tried and as suspected:

[code]

[2021-12-14 02:53] hepin1989 opened #30989 "schedulePeriodically* in stream-customize.html#using-timers doc needs update"
![image](https://user-images.githubusercontent.com/501740/145924404-1b9ff6d8-df6a-4826-8f8c-4ba4c596da12.png)
https://doc.akka.io/docs/akka/current/stream/stream-customize.html#using-timers

These methods are deprecated

[2021-12-14 11:47] #30980 closed

[2021-12-14 19:24] Christewart commented on #28926
Encountering this as well

[2021-12-15 11:04] jypma commented on #29330
Just wanted to chime in that we're also getting these (very occasionally) under high load (using `akka-http` 10.1.11). There was one line in the log above that _may_ correlate to the unhandled message (then again, it also may be unrelated)
[code]

[2021-12-15 14:43] raboof commented on #30973
:+1: let's just recommend `Tcp(system)` going forward then

[2021-12-15 15:09] johanandren commented on #30853
You can find it here: https://github.com/akka/akka/blob/d703a2afe0e0c6dc8f1c0321b0f4652600e2ae99/akka-stream/src/main/scala/akka/stream/QueueOfferResult.scala

[2021-12-15 17:36] utkarshup11 commented on #30853
@johanandren  I am not able to find that QueueOfferResult.enqueued(); method is used anywhere in this above shared scala class.

[2021-12-15 18:06] utkarshup11 commented on #30967
Hi @plouj  and @johanandren  can anyone please review the above PR, and please tell me what can I do better as I am new here and just learning how to do contributions.
Thanks in advance for you your each and every suggestions.

[2021-12-15 21:09] raboof commented on #30967
Excellent first contribution, thank you! Good description of the change, cross-referenced with this issue... I have no suggestions :)

[2021-12-16 09:04] patriknw opened #30996 "failed: ActorRefResolveCacheQuarantineSpec"
In multi-node with aeron-udp

https://github.com/akka/akka/runs/4541463531?check_suite_focus=true

[code]

[2021-12-16 11:46] #30996 closed

[2021-12-16 12:23] johanandren commented on #30853
https://github.com/akka/akka/blob/d703a2afe0e0c6dc8f1c0321b0f4652600e2ae99/akka-stream/src/main/scala/akka/stream/QueueOfferResult.scala#L34

What @hepin1989 suggests is to add an abstract method on the `QueueOfferResult` base returning a boolean to identify if it was enqueued, rather than having to compare a result to the `enqueued` singleton/constant.

[2021-12-16 12:33] johanandren commented on #30978
Yeah, you can use `timerKey` for that since it is `Any` as a workaround, or keep a local map of key->context.

Having such a per key context could be nice but it is problematic adding new methods to these traits while keeping binary compatibility, so not sure it is worth the effort given that workarounds are relatively straight forward.

[2021-12-16 15:25] utkarshup11 commented on #30977
Is this issue open ? can  I try this ? @johanandren , @hepin1989

[2021-12-16 15:27] raboof commented on #30977
@utkarshup11 you'll see in the timeline of this issue that #30993 has already been opened for it, so best to look for another issue.

[2021-12-16 15:41] utkarshup11 commented on #30977
okay thanks @raboof will take another one

[2021-12-16 16:14] Captain1653 commented on #30977
@utkarshup11 You can support me here in #22904 :) . Details are [here](https://github.com/akka/akka/issues/22904#issuecomment-910105856) . Write in the #22904 (in comments - for our synchronization) which file you are going to choose.

[2021-12-17 08:17] patriknw opened #31000 "failed: AccountExampleTest with Scala3"
https://github.com/akka/akka/runs/4554787955?check_suite_focus=true#step:5:1461

[code]

[2021-12-17 08:18] patriknw commented on #31000
there are a few more similar, such as:
[code]

[2021-12-17 08:20] patriknw commented on #30984
https://github.com/akka/akka/runs/4554855749?check_suite_focus=true

[2021-12-17 10:32] dssysolyatin commented on #30935
I looked a little bit deeper into the problem and it turned out that `via(flow.async())` creates two async boundaries (BatchingActorInputBoundary): One for moving data from `Source.fromIterator` to flow inside `via` (in this case buffer size = 16) and another for moving data from flow inside `via` to sink (in this case buffer size = 1).

The following small code fix test:
`
Source
    .fromIterato

[2021-12-19 07:38] muskan3006 commented on #30851
Hey, as I understand this is just to change the output in much readable format right? So as @johanandren saying println would be good. If so I would like to pick it

[2021-12-19 07:56] muskan3006 commented on #30967
Hi, I would like to fix the FlowDocSpec? can I pick it?

[2021-12-20 08:17] patriknw commented on #30307
https://github.com/akka/akka/runs/4571827990?check_suite_focus=true#step:5:27754

[2021-12-20 08:23] patriknw commented on #29290
in multi-node with aeron-udp: https://github.com/akka/akka/runs/4576980010?check_suite_focus=true

[2021-12-20 08:25] patriknw commented on #30985
https://github.com/akka/akka/runs/4571864373?check_suite_focus=true

[2021-12-20 09:08] #30833 closed

[2021-12-20 09:09] patriknw opened #31005 "Release Akka 2.6.18"
### Before the release

- [x] Make sure all important / big PRs have been merged by now
- [ ] Create a news item draft PR on [akka.io](https://github.com/akka/akka.io), using the milestone and `scripts/authors.scala v2.6.14 v2.6.15`
- [ ] Make sure to update `_config.yml` in it
- In case of a new minor release:
  - [ ] update the branch descriptions at CONTRIBUTING.md#branches-summary

### Cutting

[2021-12-20 16:28] nitikagarw commented on #30967
Hi, Can I work on the first two bullets?

[2021-12-21 07:48] patriknw opened #31010 "Investigate and enable akka-artery-aeron-cluster-tests"
All tests with Aeron has been disabled because they are too flaky. Something (different) fails every night.

[2021-12-21 08:27] #31005 closed

[2021-12-21 12:13] mehmetsalgar opened #31013 "update the Version of lmdbjava in Akka Distributed Data"
Hi,

I have Akka Project using 2.6.17 and I am getting the following warning, I just want to point out so you can plan to increase 'lmdbjava' for a JDK17 compatible akka distributed data...

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.lmdbjava.ByteBufferProxy$AbstractByteBufferProxy (file:/Volumes/Data/repo/org/lmdbjava/lmdbjava/0.7.0/lmd

[2021-12-22 12:11] #30851 closed

[2021-12-23 07:01] GKuldeepak-Knoldus commented on #27040
Hi Everyone,
Have the issues been resolved, if not, can I pick this one?

[2021-12-23 07:31] johanandren commented on #27040
Someone was working on it in https://github.com/akka/akka/pull/27422 but that was never finished, so go ahead and pick it up.

[2021-12-23 10:33] #30973 closed

[2021-12-23 13:04] #27040 closed

[2021-12-23 14:31] johanandren commented on #30935
I can confirm that this is a regression caused by #30195, I'll see if it is possible to fix without having to revert that fix.

It is called `inputBuffer` because it determines the buffer in front of an async stream "island", which by default, batches are fetched into. While this should work as you expect, I should add that tuning it down to 1 to get that level of flow control anywhere else than i

[2021-12-23 15:04] dssysolyatin commented on #30935
@johanandren I know for what it was introduced, but in some cases, I want to have 1 element per worker in the buffer.

For example, there is a flow:
[code]
If the worker buffer is 16 then it can lead to a situation where only one worker works and another do nothing.

There is another thing that I found about async boundary buffer. The following function will work much faster than inputBuffer = 204

[2021-12-23 15:35] johanandren commented on #30836
I'll close this as it ended up more of a discussion, please open up a new more concrete issue around what is missing for docs around this if you think that's needed, thanks!

[2021-12-23 15:35] #30836 closed

[2021-12-26 11:38] GKuldeepak-Knoldus commented on #30853
Hi @johanandren , could you please elaborate a bit more or by an example and I would like to pick this issue!

[2021-12-26 11:42] GKuldeepak-Knoldus commented on #29776
Hi Everyone, Is anyone working on this or should I pick up this issue ?

[2021-12-26 11:53] GKuldeepak-Knoldus commented on #31013
Hi @patriknw , I believe this could be resolved if, we upgrade the `lmdbjava` version. Can I pick this issue to work on !

[2021-12-26 12:29] raboof commented on #31013
Wouldn't that be a binary incompatible change? If you update the library in your project, does that work without further changes?

[2021-12-26 13:13] GKuldeepak-Knoldus commented on #31013
I'm not sure about it, what I can do is, will upgrade the version to "0.8.1" or "0.8.2" and can do a clean compile to test the compatibility. Also, to ensure that it will work without any further changes, I guess we don't have many options rather than trying the 'Hit and Trial' Option.
Please lemme know if I'm wrong, or should I proceed.

[2021-12-26 13:16] raboof commented on #31013
Would be useful if you could test the compatibility and test whether it indeed avoids the 'illegal reflective access' warning.

[2021-12-26 13:39] GKuldeepak-Knoldus commented on #31013
Thanks, I'll work on this for sure. Also, it would be really helpful if, you could suggest any way to re-create this issue locally. Since, I tried a number of ways to re-create this and was not able to.

[2021-12-27 07:31] GKuldeepak-Knoldus commented on #31013
Hi @raboof , I have raised the PR for the issue, and also, I have investigated and found this issue on [#42](https://github.com/lmdbjava/lmdbjava/issues/42). Please lemme know, if anything further is required.

[2021-12-27 19:19] GKuldeepak-Knoldus commented on #30697
Hi @Captain1653  @patriknw ,
Can I also work on this issue, if possible?

[2021-12-27 19:33] Captain1653 commented on #30697
@GKuldeepak-Knoldus Yes, you can. I'm working #22904

[2021-12-28 06:39] GKuldeepak-Knoldus commented on #31013
Hi @raboof @patriknw ,
Just wanted to confirm if is there any update on the issue.

[2021-12-28 07:24] purvaagrawal25 commented on #30697
Hi @Captain1653  @patriknw ,
Can I also work on this issue, if possible?

[2021-12-28 20:45] raboof commented on #31013
Sorry, vacation time :). Were you able to test that this change does something useful for you?

[2021-12-29 05:15] GKuldeepak-Knoldus commented on #31013
Hi @raboof ,
Hope you're enjoying your vacation :). As I mentioned earlier that it is the 'hit and trial' method I'm trying to use to solve this problem, also I'm not able to re-create this issue locally on my system. And for reference, I have shared a similar issue [#42](https://github.com/lmdbjava/lmdbjava/issues/42).
Please lemme know further, even if something is pending from my end.
Thanks

[2021-12-29 11:09] raboof commented on #31013
It would be good to verify. Have you tried running the akka-distributed-data tests in sbt on jdk17? Or updating your application to this newer lmdbjava version and deploying it?

That issue is still open, though - are you sure the updated version of lmdbjava contains a fix?

[2021-12-30 07:51] hepin1989 opened #31023 "High cpu usage when scheduler.tick-duration is default 10ms"
with deafult 10ms
![lQLPDhsCIKYJE6DNAZzNClew2J5OEJHf0LsB1CixVEAvAA_2647_412](https://user-images.githubusercontent.com/501740/147731916-7b35b2e1-2cf7-4405-9b23-ca0676105efb.png)
after change it to 50ms

![image](https://user-images.githubusercontent.com/501740/147731987-cd8f07b7-6331-4005-a0b1-041d57bde9d2.png)

![image](https://user-images.githubusercontent.com/501740/147732100-b9c92a09-0476-47e9

[2021-12-30 07:56] hepin1989 commented on #31023
with the using of  `throttle` and `groupedWithin`.

[2021-12-30 20:44] oheger opened #31024 "Inconsistent OSGi metadata regarding scala-java8-compat"
In commit 8468e6ae the dependency to `scala-java8-compat` has been updated to version 1.0.0. `Dependencies` contains code to define the version based on the version of Scala in use; for Scala 3 and Scala 2.13, the version is now set to 1.0.0.

In `OSGi`, however, the version range to this dependency is still set to the interval [0.8.0, 1.0.0) - excluding version 1.0.0. This means that in order to

[2021-12-31 07:46] patriknw commented on #31024
Thanks for reporting. We rely on the community to keep the OSGi definitions up to date. Please open a PR with the extended version range.

[2021-12-31 07:49] patriknw commented on #31023
What interval do you use for throttle and groupedWithin?

[2022-01-02 10:30] Roiocam opened #31026 "Reliable Delivery Sharding Exmaple on Java was incorrect"
I'm trying to use the Akka reliably delivered sharding case, but the initialization case on the documentation doesn't seem to be behaving correctly on Java.

The exception is as follows :
[code]

Based on the exception message, I found the problem and tried to solve it.

In Java the `host` in `Address` should be fetched using the getter method, but it is of type `Optional`, so I thought `hostPort(

[2022-01-03 07:37] johanandren commented on #29397
Seems this was accidentally closed @devrivne ?

[2022-01-03 07:52] #31024 closed

[2022-01-03 08:18] #31026 closed

[2022-01-03 10:39] phiSgr commented on #28583
I think the mental model behind the wrong example is
- "an async boundary 'cutting' up the graph", and
- the pieces operate independently.

Instead it probably should be
- `something.async` colours the `something` part of the graph differently.
- groups of different colours operate independently.

`broadcast.out(0) ~> Flow[Int].map(a => a).async ~> countS`
`broadcast`, `countS`, and the other two

[2022-01-03 11:08] patriknw opened #31028 "failed: HubSpec"
https://github.com/akka/akka/runs/4676576193?check_suite_focus=true#step:5:18116

[code]

[2022-01-03 11:09] patriknw opened #31029 "failed: CurrentEventsBySlicesSpec"
https://github.com/akka/akka/runs/4676576193?check_suite_focus=true#step:5:28722

[code]

[2022-01-03 11:11] patriknw opened #31030 "Make sure final member status is Removed - originally failed ClusterApiSpec"
https://github.com/akka/akka/runs/4670671975?check_suite_focus=true#step:5:25476

[code]

[2022-01-03 11:12] patriknw commented on #30693
https://github.com/akka/akka/runs/4670672017?check_suite_focus=true#step:5:4503

[2022-01-03 11:14] patriknw commented on #30051
https://github.com/akka/akka/runs/4662924462?check_suite_focus=true#step:5:2276

[2022-01-03 13:20] johanandren commented on #28583
Sounds about right, `a.b.c.async` means "make an actor running a, b and c", so for `Flow[Int].async` that means only the flow identity operator. It would have worked if the `countS` operator in the sample was part of that graph, but that is not really possible to do and have a `.async` method in the graph builder API since `countS` is a `Shape` there, not a `Graph`.

[2022-01-03 16:16] albertoadami opened #31031 "Issue when using EventSourcedBehaviorTestKit for testing"
Hello, I'm following [the guide](https://doc.akka.io/docs/akka/current/typed/persistence-testing.html#) and the sample to use the EventSourcedBehaviorTestKit to test a custom`EventSourcedBehavior` akka-typed actor.

My spec looks like the following:
[code]
When executing the test I'm getting the following error:
[code]

I'm using scala 2.12.6 and 2.6.18 akka libraries. Any idea?

[2022-01-03 16:28] johanandren commented on #31031
Could be something with that custom config, did you try `extends ScalaTestWithActorTestKit(EventSourcedBehaviorTestKit.config)` like the docs recommend?

[2022-01-03 17:57] albertoadami commented on #31031
@johanandren I tried also with `ScalaTestWithActorTestKit(EventSourcedBehaviorTestKit.config)`, but in this way I'm getting:
[code]

My command trait is extending `CborSerializable`.

[code]

[2022-01-04 07:20] patriknw opened #31032 "failed: Build and test Akka with Scala 3"
Tests with Scala 3 are always failing. I haven't looked at what is wrong.

https://github.com/akka/akka/actions/workflows/scala3-build.yml

@raboof any thoughts about what we can do about this?

[2022-01-04 08:28] johanandren commented on #31031
That is probably because the testkit uses its own separate `application-test.conf` file and the serializer mappings are in your `application.conf`.

Try falling back to default application config as shown here: https://doc.akka.io/docs/akka/current/typed/persistence-testing.html#persistence-testkit

[2022-01-04 08:31] johanandren commented on #31031
Since the EventSourcedTestKit checks serialization by default I think that the snippets showing how to enable it will never work, we should fix the docs to either disable serialization checking or show how to fallback to `application.conf` to pick up serializer.

[2022-01-04 11:54] albertoadami commented on #31031
@johanandren using `ScalaTestWithActorTestKit(EventSourcedBehaviorTestKit.config.withFallback(ConfigFactory.load()))` my tests are working now, thank you.

I only needed to add also the `"org.fusesource.leveldbjni" % "leveldbjni-all" % "1.8"` dependency to my project BTW, otherwise was not working and throwing the following exception:
[code]

Is it expected? I don't see that from the docs

[2022-01-04 12:11] johanandren commented on #31031
It is not expected, the persistence testkit should work on an in-memory db so if you see something tries to start the level-db journal some config is incorrectly pulling that in. Calling `akka.actor.ActorSystem#logConfiguration` could be useful to figure out why it is loaded.

[2022-01-04 17:19] GKuldeepak-Knoldus commented on #30967
Hi Everyone,
Is someone working on the first two bullets or should I pick them ?

[2022-01-04 21:30] JustinPihony opened #31035 "Expose GetTopicStats for public use"
In the scenario where you use the pubsub Topic and publish a message immediately after the first subscribe then the message will be lost ([due to the registration flow](https://github.com/akka/akka/blob/v2.6.18/akka-actor-typed/src/main/scala/akka/actor/typed/internal/pubsub/TopicImpl.scala#L98). As such, if you expose `GetTopicStats` then the consumer can wait for the instance size to match akin

[2022-01-05 04:13] nitikagarw commented on #30967
Hi @GKuldeepak-Knoldus,
I missed the acknowledgment from @johanandren (no notifications are sent for reactions :D ).
I have created the PR now.
Thanks.

[2022-01-05 07:27] johanandren commented on #31035
Sounds ok to make this public, for this and perhaps other use cases.

It could make sense to have some form of variation of `Publish` with an actor ref to pass the message to if there was no known subscribers rather than to dead letter?

Note that having observed that there is at least one subscriber is not enough for some form of delivery guarantee since the subscriber could disappear (stop, unsu

[2022-01-05 09:01] mehmetsalgar commented on #31013
Hi, sry, I could not respond here because of the Christmas vacation...

the configuration setting which is causing this warning in my Akka System is the following.

`  cluster {
    sharding {
      distributed-data {
        durable.lmdb.dir = "build/ddata-for-cluster"
      }
    }
  }`

So to test it, you have to build an Akka Cluster....

As I mentioned in initial post, I also created an Issue

[2022-01-05 10:07] johanandren commented on #30853
Hi, @GKuldeepak-Knoldus, not sure what more to add, current API is that you have to compare the result from enqueuing an element with one of the possible outcome objects, the suggestion is that there would also be a `isEnqueued: Boolean` method on `QueueOfferResult` so you can call that to see if the element was successfully enqueued.

Please go ahead and pick it up if you like.

[2022-01-05 13:09] johanandren opened #31037 "Stream from typed pubsub topic"
Relatively easy to do, like in the [Lagom pub sub abstraction](https://github.com/lagom/lagom/blob/master/pubsub/javadsl/src/main/scala/com/lightbend/lagom/javadsl/pubsub/PubSubRef.scala#L87-L96), could be neat to have out of the box in akka-stream-typed

[2022-01-05 15:32] ahrooran-r opened #31040 "Akka-actor-typed has a broken sources jar"
[code]

I use intellij idea and used this jar in pom. When I clicked download sources, it downloads the sources jar but fails to properly show the documentations and still shows bytecode.

So I tried to manually download the sources using maven and manually selected source files in intellij. Still doesn't work.

IDEA is correctly working because it shows documentation for other jars.

Please look

[2022-01-05 18:35] albertoadami commented on #31031
@johanandren fixed issue, I don't know if has some sense to update the docs about using the TestKit.

[2022-01-05 18:36] GKuldeepak-Knoldus commented on #30853
Hi @johanandren ,
I have added a new method as you suggested and also raised a PR for the same. Please lemme know if anything further is required.

[2022-01-06 14:45] raboof commented on #31040
Do you have an example of another Scala dependency jar for which this works? Does it work for other Akka jars or only for other jars from different projects?

[2022-01-06 15:50] ahrooran-r commented on #31040
It does not work for any akka jars. I tried on following version as well:
[code]

But it downloads the sources jar for all versions but fails to unpack and display it.

For dependencies from different projects such as logback, lombok are working fine. IDEA correctly downloads and displays the sources.

[2022-01-06 15:58] raboof commented on #31040
Makes sense - thanks for testing on 2.5.32 as well!

That makes sense. logback and lombok are Java projects though - could you try with another Scala project?

Unfortunately I can't reproduce the problem myself yet: I see the sources just fine, but it could of course be that I configured something for that at some point. I'm using IntelliJ 2021.3.1 CE (Build #IC-213.6461.79, built on December 28,

[2022-01-06 18:59] ahrooran-r commented on #31040
Before installing Scala plugin the situation is this (as I have mentioned before):

![Screenshot 2022-01-07 001308](https://user-images.githubusercontent.com/46846338/148435834-6907e950-e869-44b2-960b-c11f914b5f2d.png)

![Screenshot 2022-01-07 001329](https://user-images.githubusercontent.com/46846338/148435845-0ac05c16-435b-4762-b4b8-e965565909f1.png)

I could not see the sources of jar.

Then as

[2022-01-06 19:59] raboof commented on #31040
OK, so you need the Scala plugin to view Scala sources - that makes sense I guess?

Hmm, so installing the Scala plugin somehow interfered with your Java project building properly? That's very weird.

I can't really imagine how that could cause this.

Does cleaning the project or re-importing the pom.xml help?

[2022-01-07 09:41] johanandren commented on #31031
I think we should make the example work out of the box, so let's leave this issue open for tracking that.

[2022-01-07 09:51] #30967 closed

[2022-01-07 13:52] ahrooran-r commented on #31040
Nope. I cleared everything and started again but it does not work

[2022-01-07 14:00] johanandren commented on #31040
If you look at the contents of the source jar in your local maven cache, using for example something like `jar tf ~/.m2/repository/com/typesafe/akka/akka-actor_2.13/2.6.18/akka-actor_2.13-2.6.18-sources.jar` does that work?

It should give you a list of 257 files.

[2022-01-07 14:19] raboof commented on #31040
Strange. Perhaps something to discuss over at https://intellij-support.jetbrains.com/hc/en-us/community/topics/200381545-Scala ?

[2022-01-07 14:41] ahrooran-r commented on #31040
SOLVED:

Apparantly I used scala 3 version which the IntelliJ Scala plugin does not support.

So after seeing your version I changed **scala version to 2.13**. Now both functionalities are working well.

After a bit of googling, I found that Scala 3 support has just been introduced to Scala plugin. Hence it is not stable and has some bugs.

In mvn repo, **akka_actor_2.13** is the go to. Although i

[2022-01-07 14:41] #31040 closed

[2022-01-07 14:42] johanandren commented on #31040
Sounds about right, that means the jar is probably correct but something else with IntelliJ not finding the right sources for types.

I noticed in the Java Akka quickstart project, changed to Scala 3, with the source jars available from my local cache (`mvn dependency:sources`) I had to build the project before IntelliJ found them.

I saw you answered and got it solved while I was writing this. Go

[2022-01-10 16:07] johanandren opened #31053 "ActorSystem local registry for topics"
The current topic API expects users to spawn and keep track of their topics themselves (multiple instances of the same topic in the same actor system is allowed).

Often when using topics, in a clustered app, I expect that you are after one topic actor instance per node and topic. Implementing that isn't a lot of work but it could be nice with an extension spawning topics making sure the same topi

[2022-01-11 11:14] sid-ihycq opened #31055 "cancelReceiveTimeout doesn't take effect using classic api"
test code as bellow, after called cancelReceiveTimeout(), it still has ReceiveTimeout been received every 5 seconds.

[code]

it will be success using typed api.
version: akka-actor_2.13

[2022-01-11 11:19] patriknw commented on #31055
Thanks for reporting. That sounds like a bug if it's true.

[2022-01-11 11:26] patriknw commented on #31053
I think that would be nice.

[2022-01-11 15:15] #30797 closed

[2022-01-12 03:34] hepin1989 commented on #31023
@patriknw 900ms

[2022-01-12 03:38] hepin1989 commented on #31023
I have nearly 10,000 concurrent streams

[2022-01-12 14:15] patriknw opened #31058 "Persistence plugin-dispatcher defaults to pinned dispatcher"
Would be better to use the default dispatcher as default. Would it be too risky to change that in a patch version?

[2022-01-12 15:12] #31037 closed

[2022-01-12 15:14] johanandren commented on #31058
Is it the dispatcher where the actual plugin is running (and if it is badly written and blocks it will starve the dispatcher) or is it only used for the persistence internals interacting with the plugin?

[2022-01-12 15:33] patriknw commented on #31058
The Journal and SnapshotStore actors are started with this dispatcher.

yes, that's the risk

Maybe we have to leave it as in for 2.6.x and add the plugin-dispatcher config in the plugins we care about.

[2022-01-12 15:55] hepin1989 opened #31060 "Java reference docs need be updated with `cancelReceiveTimeout`"
![image](https://user-images.githubusercontent.com/501740/149174714-1c6fa89c-bf66-44ea-adc7-6d52f46ea65d.png)

[2022-01-12 16:11] johanandren commented on #31058
Sound like the safe path to take, and then change this in Akka 2.7.

[2022-01-13 09:31] craffit opened #31061 "keepAlive() assumes System.nanoTime() is monotonically increasing, causing assertion failure"
On our environment we triggered the following issue:

[code]

Looking at https://stackoverflow.com/a/8854104 it seems that the assumption that is being made here that nanoTime() is monotonically increasing does not always hold. https://github.com/akka/akka/commit/01603ccc90befb5f7ce27f3c7e240f54f7ce675f brought in that assumption.

[2022-01-13 09:43] johanandren commented on #31061
I think this is a duplicate of #30333

[2022-01-13 09:46] johanandren commented on #31061
For the record the bug about nanoTime not being montonic is marked as affecting Java 5 and 6 which is not supported by current Akka versions: https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6458294

[2022-01-13 09:56] craffit commented on #31061
This was triggered on java 11.

Ah sorry for filing the duplicate

[2022-01-13 09:58] craffit commented on #31061
duplicate

[2022-01-13 09:58] #31061 closed

[2022-01-13 10:01] craffit commented on #30333
Ran into the same issue on jdk 11.

https://stackoverflow.com/questions/8853698/is-system-nanotime-system-nanotime-guaranteed-to-be-0/8854104#8854104 it is explained how the nano clock can run backwards on multicore environments. I think this code should be updtaed to either not rely on nanotime (millis?) or allow for the clock running backwards.

[2022-01-13 11:48] johanandren commented on #30333
I found both the concurrency list discussions (and that SO response) to be a bit speculative.

Searching a bit all mentions of nanoTime going backwards are old or refer to bugs that has since been fixed, while this SO writeup is from 2019 and showing nanoTime by specification is monotonic since Java 7: https://stackoverflow.com/questions/510462/is-system-nanotime-completely-useless/54566928#545669

[2022-01-13 11:49] raboof commented on #31032
fixed with #31033

[2022-01-13 11:49] #31032 closed

[2022-01-13 16:20] raboof commented on #29562
https://github.com/akka/akka/runs/4755754480?check_suite_focus=true

[2022-01-13 16:28] raboof commented on #31030
https://github.com/akka/akka/runs/4769042421?check_suite_focus=true

[2022-01-13 20:06] etspaceman opened #31064 "Why is scala-java8-compat limited to 0.8.0 in Scala 2.12?"
Seems that this build has a specific restriction on scala-java8-compat to be 0.8.0 for the Scala 2.12 artifacts. Why is this the case? scala-java8-compat's newest versions are all offered for 2.11, 2.12, 2.13 and 3.

Some of our internal libraries depend on scala-java8-compat and are running into issues when updating due to the semver differences.

[2022-01-14 10:55] patriknw commented on #31064
Akka has binary compatibility guarantees and therefore we can't bump the transitive dependencies when those are not compatible. `scala-java8-compat` has not been compatible between the minor versions.

That said, it might work if you override the dependency in your application.

[2022-01-15 20:18] aaabramov opened #31068 "Broken link in docs"
Source file: https://github.com/akka/akka/blob/v2.6.18/akka-docs/src/main/paradox/typed/choosing-cluster.md

Page: https://doc.akka.io/docs/akka/current/typed/choosing-cluster.html#distributed-monolith
Link: https://www.microservices.com/talks/dont-build-a-distributed-monolith/
![image](https://user-images.githubusercontent.com/11317222/149636484-07e8645b-16dc-4eca-932e-308a6c7c61bb.png)

[2022-01-17 10:39] johanandren commented on #31068
For me the link works, video page with transcript and description is there but video is "unavailable". Looks like it was deleted from youtube for whatever reason, can't find it there either.

[2022-01-18 08:51] johanandren commented on #31029
https://github.com/akka/akka/runs/4834910205?check_suite_focus=true

[2022-01-18 23:28] jausmann-wc commented on #30446
We have implemented our own persistence plugin and could really make use of a delete Effect to delete an entity in the db. Is there any chance to give this issue higher priority?

[2022-01-19 07:06] xuwei-k opened #31069 "CVE-2021-22569 Update protobuf version"
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22569
- https://github.com/advisories/GHSA-wrvw-hg22-4m67
- https://github.com/akka/akka/blob/9d0684d875dc935efd8200cf6a6ac47113e24aa6/project/Dependencies.scala#L25

[2022-01-19 11:18] #31055 closed

[2022-01-19 12:01] #31060 closed

[2022-01-20 00:19] desmondyeung opened #31070 "ByteStrings apply traverses Vector multiple times"
The `apply` method for scala's Vector is logarithmic.

For fragmented ByteStrings, the `apply` method will call `bytestrings(pos)` multiple times, re-performing the logarithmic lookup.
[code]

I actually ran into this because I was writing some custom HTTP parsing fairly similar to this [method](https://github.com/akka/akka-http/blob/main/akka-http-core/src/main/scala/akka/http/impl/engine/parsing

[2022-01-20 08:52] mkurz commented on #31069
Is there an ETA for akka 2.6.19?

[2022-01-20 09:28] johanandren commented on #31069
Thanks for letting us know, we are looking into if we can bump the dependency without wire compability issues.

Two important notes related to this:
1. The shaded protobuf is just for the internal use of Akka, a user project using protobuf serialization should pull in protobuf as a library the "normal" way and can update the version they use themselves.
2. Akka remoting ports should never be open

[2022-01-20 09:36] johanandren opened #31073 "Failed: PubSubSpec"
https://github.com/akka/akka/runs/4875703083?check_suite_focus=true#step:5:19772

[code]

[2022-01-20 09:41] ptrdom opened #31074 "EventSourcedBehaviorTestKit initial state setup"
Lagom's `PersistentEntityTestDriver` has the `initialize(snapshotState: Option[S], events: E*)` method that allows simplified setup for initial `PersistentEntity` state in tests - no need to run a bunch of commands to achieve it. Is there a good reason why such method was skipped for `EventSourcedBehaviorTestKit`, and if not, would it be a good idea to implement it?

[2022-01-20 10:06] johanandren commented on #31074
Sounds like it could be a nice addition to the testkit, please PR if you like!

[2022-01-20 12:39] johanandren opened #31076 "Grouped per context operator"
A neat thing for streams with context would be if there was an operator that would group until the context changes and emit a tuple of context and the collected items for it downstream.

Example of what it would allow:
[code]

[2022-01-20 12:50] johanandren opened #31077 "On upstream end for statefulMapConcat"
In many use cases where `statefulMapConcat` could be useful the fact that it can only react on element coming from upstream and not upstream completing is a show stopper, think some form of batching/caching/grouping, when the stream ends the in-progress aggregate is lost.

Would be nice with an added lambda `() => Seq[Out]` that is invoked when the upstream ends, where the returned seq is emitted

[2022-01-20 12:53] johanandren commented on #31076
If #31077 is implemented before this, it could possibly be done by composing `statefulMapConcat`

[2022-01-20 13:57] #30979 closed

[2022-01-21 09:11] patriknw opened #31079 "Setup CI job with JDK 17"
Probably need some parameters to enable access to internal APIs.
[code]

See https://medium.com/swissborg-engineering/migrating-to-java-17-2ed137ee2eec

[2022-01-21 16:13] patriknw opened #31080 "Optimize LruBoundedCache in Artery"
Shows up in JFR profiles and I think @jrudolph also noted it in flame graphs.

<img width="872" alt="Screenshot 2022-01-21 at 17 08 59" src="https://user-images.githubusercontent.com/336161/150561125-ebb987a2-2532-4fbc-a981-d0c49dfc300d.png">

<img width="865" alt="Screenshot 2022-01-21 at 17 10 06" src="https://user-images.githubusercontent.com/336161/150561131-429a4d2c-1277-48a4-b2a8-64fedface8d

[2022-01-21 16:28] patriknw commented on #31080
Here is the flame graph
![Simulation11-3](https://user-images.githubusercontent.com/336161/150563678-8f6f0ecc-0e03-46ae-b6a1-1873ec85bf7d.svg)

[2022-01-21 16:48] fredfp commented on #30362
@patriknw here's what happens, all line numbers refer to content of src/main/scala/akka/cluster/singleton/ClusterSingletonManager.scala as of akka 2.6.18.

This is between nodes A, B, C, and a cluster singleton running on them. They live in a larger akka-cluster, but the singleton is constrained to a specific role assigned to nodes A, B and C only.

Node A and B are up, A is oldest, a rolling upda

[2022-01-21 23:30] nick-nachos opened #31081 "Connection not re-establised post unreachability resolution"
We've got an unusual clustering issue that has hit us a couple of times this week. Incidentally (or not?) this started happening a week after we upgraded from Akka `2.6.14` to `2.6.18`. We had been on `2.6.14` for about 6 months and prior to that on `2.5.x` for a year or so, and have never seen anything similar. The incident has happened 3-4 times so far in total in the course of a week in multipl

[2022-01-21 23:33] nick-nachos commented on #31081
@patriknw you might be interested in this.

[2022-01-23 13:31] GKuldeepak-Knoldus commented on #31010
Hi @patriknw ,
Has the issue been fixed, if not plz let me know what is further needed?

[2022-01-23 13:40] GKuldeepak-Knoldus commented on #30697
Hi @johanandren ,
I believe this is the last iteration where all the external links have been fixed. Please review it.

[2022-01-23 14:34] Captain1653 commented on #30697
I'm not sure. This task about some automatic links check . I'll work for it soon.

[2022-01-24 08:27] patriknw commented on #31010
Tests are still disabled and we haven't had the bandwidth to investigate further. It's very difficult to debug and spot the root cause of why the tests are flaky.

[2022-01-24 08:41] fredfp opened #31083 "Suboptimal cluster singleton shutdown"
When using `WeaklyUp` and considering weakly up nodes as ready in k8s, we can reach a state in cluster singleton where the singleton actor is not graceful shutdown, which leads to a time out in a coordinated shutdown phase.

This happens in our tests on k8s, I can't extract logs so here's a breakdown, all line numbers refer to content of src/main/scala/akka/cluster/singleton/ClusterSingletonManage

[2022-01-24 12:32] patriknw commented on #31083
Looks like rolling update and coordinated shutdown is in progress for both A and B at the same time. This can cause some confusion and extra time for the singleton to resolve. `OldestChanged: [A -> B]` but B is already shutting down.

Would be best if B could be stopped first, before stopping of A would begin. Shouldn't a D be started also?

Could you add another ready check that is only used on t

[2022-01-24 12:33] patriknw commented on #31083
This might be something that should be improved.

[2022-01-24 12:51] patriknw commented on #31081
@nick-nachos Thanks for reporting. `seen=false` is indeed what prevents the leader to perform its duties. That means that the latest gossip state hasn't been fully propagated to/from node-3. There seems to still be some connectivity issues between the nodes. Can you see if it's only node-2 and node-3 that can't talk or if node-1 and node-4 also have issues with node3? I suspect that they have that

[2022-01-24 15:58] nick-nachos commented on #31081
Hi @patriknw thank you very much for your reply. First things first, I forgot to mention in my original post that we're using Akka Cluster Classic, not Typed.

Some extra info I dug out with regards to your questions: I can see from our application logs that _node-0_ (leader) and _node-1_ would persistently get ask timeouts for application level communications towards _node-3_ whereas the reverse

[2022-01-24 18:39] GKuldeepak-Knoldus commented on #30697
Hi @Captain1653 ,
Thanks for confirming me back for the same. But for now, could you please review the PR I have raised, so that we can continue further.

[2022-01-24 19:48] ennru commented on #31069
Updated with #31072

[2022-01-24 19:48] #31069 closed

[2022-01-24 19:54] ennru commented on #31070
Optimised with #31075

[2022-01-24 19:54] #31070 closed

[2022-01-25 09:56] ennru commented on #30697
Created #31086

[2022-01-25 14:41] #31080 closed

[2022-01-25 16:14] johanandren opened #31087 "Document arguments needed for running on JDK 17"
Follow up to #31079

Out of the box no special flags are needed but for some specific modules opening up reflective access using the `opens` flag is needed.

We should add docs about the needed "opens" flags needed and when those are needed. As far as I know akka-remote with Aeron, akka-persistence with leveldb (deprecated), akka-distributed-data using lmdb for storage. Or see if there are version

[2022-01-25 16:42] johanandren opened #31089 "Permanently broken/removed links in doc"
Figure out what to do, then replace/remove them.

[2022-01-25 18:19] ennru commented on #30697
Documentation links are now checked weekly with a scheduled action.

[2022-01-25 18:19] #30697 closed

[2022-01-25 18:20] ennru commented on #30697
Added scheduled link validation with #31086.

[2022-01-25 19:30] johanandren opened #31090 "Java DSL WithContext streams has the wrong shape"
Source/Flow/Sink-WithContext in the Java DSL is implemented by having an underlying Scala stream graph and using  akka.stream.GraphDelegate to wrap it. This also directly delegates the `Shape` of the graph to the underlying Scala one, which in turn delegates it to the stream without context, meaning the shape has an element type of `Tuple2[Out, Ctx]` rather than `Pair[Out, Ctx]` as a Java develope

[2022-01-25 19:31] johanandren commented on #31090
Will probably be impossible to fix without breaking existing code relying on the shape being `Tuple2<E, Ctx>`

[2022-01-26 15:08] mehmetsalgar opened #31091 "ShardsUpdated causes problem with HashCodeNoEnvelopeMessageExtractor after the update to Akka Version 2.6.17 to 2.6.18"
Hi,

I made a version upgrade in my Akka project but the code that is working perfectly for 2.6.17 causing problem with 2.6.18.

I am getting the following exception from sharding system after remember entities triggered.

`[2022-01-26 15:57:36,366] [ERROR] [a.a.OneForOneStrategy] [example-akka.actor.default-dispatcher-23] [akka://example/system/sharding/testactor/21] - class akka.cluster.sharding

[2022-01-26 15:38] johanandren commented on #31091
`ShardsUpdated` is a message between the region and the shard and is not intended to ever end up in the shard/id-extractor to start with.

Looks like it could perhaps be a bug around stashing/unstashing when waiting for remember-entities data to load.

[2022-01-26 23:44] pvlugter opened #31093 "Replace CountMinSketch in Artery with new FrequencySketch?"
From https://github.com/akka/akka/pull/31078#discussion_r792677150

Can/should we replace the CountMinSketch in Artery with the FastFrequencySketch (used for passivation strategies)?

The use case for the count-min sketch in Artery is maintaining a list of heavy hitters for compression. The current approach depends on the count-min sketch returning estimated total counts, so it can easily and effi

[2022-01-27 09:59] fredfp opened #31095 "Clustering issues leading to all nodes being downed."
We had a case where an issue on a single node lead to the whole akka-cluster being taken down.

### Here's a summary of what happened:
1. Healthy cluster made of 20ish nodes, running on k8s
2. Node A: encounters issues, triggers CoordinatedShutdown
3. Node A: experiences high CPU usage, maybe GC pause
4. Node A: sees B as unreachable, broadcasts it (B is certainly reachable, but detected as such b

[2022-01-27 15:00] #31091 closed

[2022-01-27 15:15] johanandren commented on #30339
Test now rewritten to do less messing around with JDK stdlib internals

[2022-01-27 15:15] #30339 closed

[2022-01-27 15:17] johanandren commented on #30341
Work around is opening up access with: `--add-opens=java.base/java.nio=ALL-UNNAMED`

[2022-01-27 15:17] #30341 closed

[2022-01-27 22:12] dwickern commented on #30859
You can work around this somewhat by wrapping the stream elements in a `Try`. Emit any "fatal" errors as a `Failure` and then unwrap them outside the `RestartSource` to cancel it from downstream.

[code]

[2022-01-29 08:35] counter2015 opened #31097 "Jackson version too old which lead to version conflict."
Now used jackson version is `2.11.4`
https://github.com/akka/akka/blob/9b97614b959a37dbffb3b4579b258d3e0d2e7055/project/Dependencies.scala#L28

I'm using akka projection with many akka commponts, it will lead error to

[code]

My Dependencies
[code]

And latest version is `2.13.1`
https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-core

Is scala-steward still works or there is o

[2022-01-29 09:11] raboof commented on #31097
Yes: jackson changed between 2.11.4 and 2.13.1. While we don't rely on any of the parts that changed, so Akka works fine with 2.13.1, there could be projects using Akka that do rely on the 2.11 behavior. For that reason we're reluctant to update jackson in Akka, since that might force projects to also update, which might not be easy.

It's fine to update jackson in your project though. To fix the

[2022-01-29 22:50] Vicopol opened #31098 "javadsl.ClusterSharding Typed : withRole also sets datacenter"
`Entity.of(...).withRole("backend") `:

1. sets entity's role with "backend" value : OK
2. but ALSO sets datacenter with "backend" : NOT OK !

As a result, my shard region is always running as a proxy.

I think there is a typo in method Entity#copy at line 331 of akka.cluster.sharding.typed.javadsl.ClusterSharding.scala in version 2.6.18. Instead of
`dataCenter: Optional[String] = role): Entity[M,

[2022-01-31 12:47] patriknw commented on #31098
@Vicopol Thanks for reporting. Would you be able to open a PR to fix the issue?

[2022-01-31 13:16] patriknw commented on #31081
The point-to-point failure detection should be seen in logs as "Marking node as UNREACHABLE" and "Marking node as REACHABLE". Exact logging of the heartbeat roundtrips can be seen with `verbose-heartbeat-logging`, but it's rather verbose.

[2022-02-01 10:15] mehmetsalgar opened #31100 "UpdateDone leaks after the update to Akka Version 2.6.17 to 2.6.18"
I previously reported a similar Issue #31091, which is classified as Bug and fixed while ShardsUpdated Event leaked to MessageExtractor.

Now during my regression tests, another version submerged, UpdateDone is also leaking to MessageExtractor.

[PR for 31091](https://github.com/johanandren/akka/commit/ff4295ddd96908f781966c58d6fa5cca13451348) introduces a new case statement for 'ShardUpdated' in

[2022-02-01 12:37] patriknw commented on #31100
@pvlugter Can you take a look at this?

[2022-02-01 16:34] octonato commented on #31028
Once again: https://github.com/akka/akka/runs/4903561211?check_suite_focus=true#step:5:17041

[2022-02-01 16:37] octonato opened #31102 "Failed: PubSubSpec - PubSub.source"
https://github.com/akka/akka/runs/4903561285?check_suite_focus=true#step:5:13875

(Maybe related to #31073?)

[code]

[2022-02-01 16:40] octonato commented on #31102
Once more https://github.com/akka/akka/runs/4909770206?check_suite_focus=true#step:5:13544

[2022-02-01 16:41] octonato commented on #30479
Happening again:
https://github.com/akka/akka/runs/4909770206?check_suite_focus=true#step:5:13544

[2022-02-01 16:45] octonato opened #31103 "Failed: Cluster Metrics with Sigar -> many tests with TCP binding issues"
I'm reporting this just for the record. This is probably an issue on the build machine. Let's see if it happens again in the future.

This build has a few `*** ABORTED ***` tests with message `Failed to bind TCP to [10.1.0.97:25520] due to: Bind failed because of java.net.BindException: [/10.1.0.97:25520] Cannot assign requested address`

https://github.com/akka/akka/runs/4909769872?check_suite_fo

[2022-02-01 16:47] octonato commented on #31103
Found another one https://github.com/akka/akka/runs/4915607697?check_suite_focus=true#step:5:246

[2022-02-01 16:48] octonato commented on #30843
This is back:
https://github.com/akka/akka/runs/4915607313?check_suite_focus=true#step:5:1240

Build from 9 days ago

[2022-02-01 23:29] pvlugter commented on #31100
`ShardsUpdated` is a new message for passivation strategies. The `UpdateDone` message is for the remember entities feature, and it doesn't look like anything has changed there recently. The same issue has also been seen in tests before (for example, #30641).

We could add a case for `UpdateDone` to the `idle` receive, but does this actually point to some underlying issue in the state machine for r

[2022-02-02 03:00] pvlugter commented on #31100
Hi @mehmetsalgar, would you be able to reproduce this with debug level logging enable, and also enable this config setting:

[code]

The debug logs should indicate what entities are being remembered and the updates. I can see the pattern that creates something similar in #30641, and want to check what you're seeing here as well.

[2022-02-02 03:13] pvlugter commented on #30641
Having a look at this as part of #31100. Looking a little at the debug logs, this is the pattern in the test:

- the remember entities starter sends start requests for entities 1, 11, 21
- shard sends remember update for starting entity 1 (A)
- shard sends remember update for starting entity 11 (B)
- shard sends remember update for starting entity 21 (C)
- receive `UpdateDone` for starting 1 (A),

[2022-02-02 10:47] mehmetsalgar commented on #31100
Ok,

with the parameters you mentioned, I reproduced the logs and stack traces....

I have to say, you might see that Remember Entities didn't received any changes but I when I downgrade to 2.6.17, I can't reproduce these errors, so there must be a connection. I don't quite get a passivation strategy has an effect for Remember Entities while if you look to stack traces bother Exceptions originate

[2022-02-02 22:24] #22070 closed

[2022-02-02 23:04] pvlugter commented on #31100
Thanks @mehmetsalgar. The `ShardsUpdated` message being unhandled and crashing the actor could certainly be the problem, putting the actor back into the idle state when the `UpdateDone` messages are received. I had assumed this was a new issue and was already running with the fix for `ShardsUpdated`.

It would be useful to confirm that things do work for you with the recent fix. You can use a publ

[2022-02-04 05:57] amo12937 opened #31106 "SubscriptionWithCancelException.NoMoreElementsNeeded does not have stack trace"
I'm researching some error occurred in our system.

Our system is failed with `SubscriptionWithCancelException.NoMoreElementsNeeded` exception but it does not have stack trace so I could not find out where it happened.

Is there any reason why it implements `scala.util.control.NoStackTrace`?

if I'm allowed, I intend to make a PR to change the codes to something like below:

[code]

[2022-02-04 08:01] mehmetsalgar commented on #31100
I am trying to run my regression tests with previous PRs fixes in this snapshot version but Akka Logging System is not initialising with this snapshot version (may be because of a log4j vulnerability fix?) with the following exception.

If I downgrade from snapshot to 2.6.18, I don't get this logging error.

Any idea how to fix this logging error?

-------
Caused by: akka.ConfigurationException: C

[2022-02-04 10:17] johanandren commented on #31100
That is curious, but you could try increasing the default logger init timeout (5s) with the setting `akka.logger-startup-timeout`

[2022-02-04 10:19] johanandren commented on #31090
Given that there is a workaround, passing `sourceWithContext.asSource()` to the graph builder and that a fix would not be source compatible and would break existing usages, it may not be worth fixing this. Even if it is definitely an inconsistency in the API.

[2022-02-04 10:27] johanandren commented on #31106
It's an exception used as a non-error-cancellation signal, designed like that to be able to fit the cancellation-with-cause onto streams in a binary compatible fashion, so that Akka 2.5 and 2.6 both works with older other libraries not knowing about the stream cancellation cause propagation.

Since stack traces are costly, non-error cancellation common and that it is not really an exception, we do

[2022-02-04 12:22] mehmetsalgar commented on #31100
I tried with

logger-startup-timeout = 120s

still the same problem

[2022-02-04 13:05] johanandren commented on #31100
Must be some form of deadlock with logging then, I remember I have seen a report of that a couple of years ago because some issue with the logging setup, but I wonder if that wasn't some JDK issue. Can you try touching slf4j directly, logging something in your `main` before even starting the actor system and see if that sorts it out?

[2022-02-07 07:51] mehmetsalgar commented on #31100
I followed you advice to log something before starting anything in my application, still. no success...

Funny thing, if I go from this SNAPSHOT version back to 2.18,  Logging System is initialising without any problem, my code is exactly the same.

Something in the Logging System must be different in Akka between 2.18 and 2.18-SNAPSHOT.

[2022-02-07 08:03] patriknw commented on #31100
Thanks for your attempts. Doesn't sound good if something messed up with the logging. Can you provide the exact dependencies that you use (akka snapshot, logback, slf4j) so that we can try that in a separate example project.

[2022-02-07 12:38] mehmetsalgar commented on #31100
These are the logback libraries that I see

|    |    +--- ch.qos.logback:logback-classic:1.2.10
|    |    |    +--- ch.qos.logback:logback-core:1.2.10
|    |    |    \--- org.slf4j:slf4j-api:1.7.32 -> 1.7.33
|    |    +--- org.apache.logging.log4j:log4j-to-slf4j:2.17.1
|    |    |    +--- org.slf4j:slf4j-api:1.7.25 -> 1.7.33
|    |    |    \--- org.apache.logging.log4j:log4j-api:2.17.1
|    |

[2022-02-08 05:20] pvlugter commented on #31100
I tried reproducing the logging initialisation issue with the same versions, but no luck so far.

[2022-02-08 09:00] patriknw commented on #31100
I also tried `2.6.18+46-f16051c0-SNAPSHOT` with https://github.com/akka/akka-platform-guide/tree/main/docs-source/docs/modules/microservices-tutorial/examples/01-shopping-cart-service-scala

It starts up as expected.

added dependencies:
[code]

[2022-02-09 01:13] pvlugter commented on #31100
@mehmetsalgar, being able to reproduce with your project would be useful. Please update here when it's available. Thanks!

[2022-02-09 10:30] #31098 closed

[2022-02-09 14:34] patriknw opened #31117 "failed: ForkJoinPoolStarvationSpec on JDK 17"
https://github.com/akka/akka/runs/5118047872?check_suite_focus=true#step:5:3680

https://github.com/akka/akka/runs/5118048171?check_suite_focus=true#step:5:3526

https://github.com/akka/akka/runs/5086535435?check_suite_focus=true#step:5:3591

https://github.com/akka/akka/runs/5086535594?check_suite_focus=true#step:5:3594

and probably many more

[code]

[2022-02-09 14:35] patriknw commented on #28505
Closing this old issue, but opened something similar for JDK 17 https://github.com/akka/akka/issues/31117

[2022-02-09 14:35] #28505 closed

[2022-02-09 14:39] patriknw commented on #31029
https://github.com/akka/akka/runs/5044975157?check_suite_focus=true#step:5:28017

[2022-02-09 14:41] patriknw commented on #30476
https://github.com/akka/akka/runs/5044975209?check_suite_focus=true#step:5:3464

[2022-02-09 14:42] patriknw commented on #30804
https://github.com/akka/akka/runs/5014350195?check_suite_focus=true#step:5:2219

[2022-02-10 07:42] johanandren commented on #31106
I'll close this since it works as intended, please re-open if you disagree and we can discuss further.

[2022-02-10 07:42] #31106 closed

[2022-02-10 09:50] jrudolph opened #31119 "OutputStreamSubscriber should not log error as error (when it also provides the error in the IOResult)"
Otherwise it will lead to double logging and hard to avoid error logging in case that errors are expected or unavoidable.

[2022-02-10 14:39] jrudolph commented on #31119
This has been fixed in Akka 2.6. OutputStreamSubscriber is gone for a long while.

[2022-02-10 15:23] jrudolph commented on #30942
https://github.com/akka/akka/runs/5133864067?check_suite_focus=true

[2022-02-10 15:24] jrudolph commented on #31117
https://github.com/akka/akka/runs/5133864147?check_suite_focus=true

[2022-02-10 16:37] jrudolph commented on #31117
I tried finding out what changed with ForkJoinPool in JDK 17. The answer is "Yes" and it could mean anything. E.g. https://github.com/openjdk/jdk17u-dev/commit/5cfa8c94d6765b93f910fc01cd1ac2a56b16d78a?w=1#diff-e398beb49cd8d3e6c2f3a8ca8eee97172c57d7f88f3ccd8a3c704632cab32f5f

[2022-02-11 12:47] #31035 closed

[2022-02-11 16:55] SHEETALSRK commented on #27405
Could you please elaborate about your solution? How did you manage to keep proper lifecycle management to solve this issue?

[2022-02-14 15:34] ennru opened #31127 "docs: broken link"
## HTTP failure response
https://www.ratpack.io/manual/current/streams.html status 503 Service Unavailable
 - stream/reactive-streams-interop.html

Let's see if it comes back online.

[2022-02-15 11:18] jrudolph commented on #30076
FTR, I think the original behavior was the intended one and should not have been changed. By definition an InputBuffer is in front of a stream component and not after. A Source has no stream component in front of it so changing the InputBuffer attribute should make no difference. That also explains the behavior of putting the attribute after `map` because it changes the `InputBuffer` going *into*

[2022-02-15 11:26] jrudolph commented on #30935
Exactly, #30195 muddied the waters in that regard and we should revert it. Implementation-wise it always has been an InputBuffer because the buffer is owned by the incoming side of a stream connection. With #30195 it is still an `inputBuffer` but one whose settings is now being overridden by the sending side.

[2022-02-15 13:13] #18207 closed

[2022-02-15 13:13] patriknw commented on #22457
feature is deprecated

[2022-02-15 13:13] #22457 closed

[2022-02-15 13:18] patriknw commented on #31102
https://github.com/akka/akka/runs/5170432398?check_suite_focus=true#step:5:13952

[2022-02-15 15:30] #30693 closed

[2022-02-15 16:36] johanandren commented on #31102
Looks like a bug in `Topic`: It drops a published message if `topicInstances` is empty and doesn't look at `localSubscribers` at all.

[code]

[2022-02-15 16:54] johanandren commented on #30076
I agree that the change was questionable, so maybe we should indeed revert.

I think I've seen some reports of _other_ usage where tight buffer control has been expected that broke with this change. :/

For the record I think what made me accept trying to fix it was that with `Source.fromPublisher` there is a buffer "in front"/inside/between the stream and the publisher making it feel like weird e

[2022-02-15 21:20] nick-nachos commented on #31081
A small update on this @patriknw, rolling back to Akka 2.6.14 seems to have done the trick for us. Our clusters seem to properly recover after the resolution of the same type of network connectivity issues: once the unreachable node becomes reachable again, the leader reports that it can properly resume its duties.

[2022-02-16 04:29] pvlugter commented on #31029
https://github.com/akka/akka/runs/5209078995?check_suite_focus=true#step:5:27776

[2022-02-16 04:31] pvlugter commented on #31102
https://github.com/akka/akka/runs/5209079216?check_suite_focus=true#step:5:13660

[2022-02-16 08:55] johanandren commented on #31127
Back online now.

[2022-02-16 08:55] #31127 closed

[2022-02-16 12:00] mehmetsalgar opened #31130 "Can you replace lmdbjava library in dsitributed data with something else"
Hi,

this library has problems with JDK17 and I don't see anything done about it.

#30341

Today I also discovered I can't develop with Akka with my new Mac Pro with M1 chip because of lmdbjava....

They have a one year old issue, [M1 support lmdbjava](https://github.com/lmdbjava/native/issues/10) and no action, I think you can't rely a library like this.

[2022-02-16 12:14] patriknw commented on #31130
lmdb is only used when the durable feature of Distributed Data or remember entities feature of Cluster Sharding (with ddata store) has been enabled. Those are not enabled by default. Is that what you use or do you a problem also when not using these features?

[2022-02-16 12:22] mehmetsalgar commented on #31130
Yes, unfortunately I need the rememberEntities functionality and durable future.

[2022-02-16 13:33] johanandren commented on #31130
Running a x86_64 JDK with rosetta on a M1 does work as an alternative to contributing an upstream PR to lmdbjava adding aarch64 support.

If you want to run on JDK 17 you also need to open up nio for reflective access with the java argument `--add-opens=java.base/java.nio=ALL-UNNAMED`, like we do in our nightly JDK 17 tests of Akka. (We have a still undone task of adding some details about that to

[2022-02-16 16:48] mehmetsalgar commented on #31130
For JDK and relaxing security, when my company completes JDK17 migration, I don't think, I can convince them to open security gates that JDK developer think that it should stay closed.

But as I said, currently that is a secondary concern, my more urgent problem making Akka Cluster Sharding <-> ddata working with my M1 Mac. I have Rosetta installed, let's see how that works.

[2022-02-16 18:29] patriknw commented on #31130
For rememberEntities I would recommend using the eventsourced mode for remember entities, see https://doc.akka.io/docs/akka/current/typed/cluster-sharding.html#event-sourced-mode

Then would use Akka Persistence, and your choice of database plugin, for storage of this.

[2022-02-16 18:38] patriknw commented on #31081
Thanks for the update. I can't think of anything we changed that could explain that (famous last word 😄). We have to look into the change logs. However, I think we have too little hints of what the problem could be. If you have a way to reproduce it and could enable more logs and share raw logs with us that could be very useful for tracking down this.

[2022-02-16 22:45] nick-nachos commented on #31081
Actually @patriknw the famous last words might have been mine (me and my big mouth), as I've just happened to troubleshoot an incident that was similar to the original: in a cluster of 4 nodes (node-0, node-1, node-2, node-3), node-2 lost connectivity at some point and became unreachable. Few seconds later connectivity was restored and the node became reachable again. Although we didn't get that w

[2022-02-17 03:51] hepin1989 opened #31131 "Add MergePrioritizedN as mergeSortedN"
I think this would be useful when we have multiple upstream inputs
as in Source
[code]

[2022-02-17 04:53] pvlugter commented on #30476
https://github.com/akka/akka/runs/5225034447?check_suite_focus=true#step:5:3854

[2022-02-17 04:54] pvlugter commented on #31073
https://github.com/akka/akka/runs/5225034502?check_suite_focus=true#step:5:19746

[2022-02-17 04:56] pvlugter commented on #31029
https://github.com/akka/akka/runs/5225034617?check_suite_focus=true#step:5:29035

[2022-02-17 04:57] pvlugter commented on #30716
https://github.com/akka/akka/runs/5225034667?check_suite_focus=true#step:5:3638

[2022-02-17 05:00] pvlugter opened #31132 "Publishing with JDK17 fails due to sbt-osgi"
The JDK 17 builds are failing with `ConcurrentModificationException`s for the `osgiBundle` task.

https://github.com/akka/akka/runs/5225034561?check_suite_focus=true

https://github.com/akka/akka/runs/5225034721?check_suite_focus=true

[code]

[2022-02-17 08:57] patriknw commented on #31132
we could drop this test completely, or just for JDK 17. osgi is not a priority, #28304

[2022-02-17 09:53] jrudolph commented on #30076
Thinking about it again, I can see how you can see `Source.fromPublisher` as the encapsulation of the async boundary between an (external) publisher and an (akka-stream managed) stream, so it would indeed include the inputBuffer.

On the other hand, we actually do handle those publishers and the necessary async boundary transparently, so that the input boundary (and buffer) in question would only

[2022-02-17 14:06] patriknw commented on #31132
ah, it's not a test but the actual build

[2022-02-17 14:52] #31103 closed

[2022-02-18 00:35] pvlugter commented on #31132
Yeah, this is the local publish step, which it's getting to after tests passing. Could not run the publish check for JDK 17?

[2022-02-18 06:56] patriknw commented on #31132
absolutely, created PR https://github.com/akka/akka/pull/31135 for that

[2022-02-18 08:17] patriknw commented on #31132
The issue is not really fixed, but we don't need to publish with JDK 17 (yet)

[2022-02-18 13:08] hepin1989 opened #31137 "Some Javadoc of Hub in javadsl is missing"
`Hub.ofStateful` and `Hub.of` and etcs
![image](https://user-images.githubusercontent.com/501740/154688464-8bf50061-5f98-4d91-a6a6-15431d05e564.png)

[2022-02-18 13:13] patriknw commented on #31102
https://github.com/akka/akka/runs/5245638537?check_suite_focus=true#step:5:20156

[2022-02-18 13:15] patriknw commented on #30476
https://github.com/akka/akka/runs/5245638646?check_suite_focus=true#step:5:3434

[2022-02-18 21:03] #31102 closed

[2022-02-19 14:52] hepin1989 opened #31142 "Add attributes method to `Graph`?"
I think this will be helpful when want to read some attributes from graph when compose it.

[2022-02-20 07:15] JustinPihony commented on #31090
@johanandren Could we provide a new method to hack it into place - something to kick it into a type that matches and is set to the side of what is already there - thus allowing compatibility to remain? Or too hacky and maybe fix for a new version of Akka which allows such breaking changes?

[2022-02-21 07:52] patriknw commented on #31028
https://github.com/akka/akka/runs/5267581313?check_suite_focus=true#step:5:17789

[2022-02-21 07:54] patriknw opened #31143 "failed: EventSourcedBehaviorLoggingSpec"
https://github.com/akka/akka/runs/5267581532?check_suite_focus=true#step:5:20196

[code]

[2022-02-21 08:57] johanandren commented on #31090
I think using the workaround is better than adding another parallel method with the right signature.

[2022-02-21 08:57] raboof commented on #30309
(not excluded and not seen for ~half a year, closing)

[2022-02-21 08:57] #30309 closed

[2022-02-21 08:58] raboof commented on #29331
(not excluded and not seen for ~half a year, closing)

[2022-02-21 08:58] #29331 closed

[2022-02-21 09:25] johanandren commented on #31142
Do you have some more concrete use case of when you'd want to read those attributes and not inside of a custom graph stage, would it be for debugging?

[2022-02-21 09:30] johanandren commented on #31028
I thought at first it might be about that thread.sleep to wait for subscriptions but curiously it is always failing on the last of 8 expected events for one of the subscribers, after successfully getting the first 7, so there must be something else at play here.

[2022-02-21 10:32] patriknw commented on #28609
closing as old

[2022-02-21 10:32] #28609 closed

[2022-02-21 10:36] patriknw commented on #30087
closing as old

[2022-02-21 10:36] #30087 closed

[2022-02-21 10:37] patriknw commented on #30255
closing as old

[2022-02-21 10:37] #30255 closed

[2022-02-21 10:38] patriknw commented on #30271
closing as old

[2022-02-21 10:38] #30271 closed

[2022-02-21 10:38] johanandren commented on #31028
Looks like a legit bug, I think demand can be lost when buffer is full.

[2022-02-21 10:38] patriknw commented on #28972
closing as old

[2022-02-21 10:38] #28972 closed

[2022-02-21 10:39] patriknw commented on #30319
closing as old

[2022-02-21 10:39] #30319 closed

[2022-02-21 10:39] patriknw commented on #29936
closing as old

[2022-02-21 10:39] #29936 closed

[2022-02-21 10:39] patriknw commented on #26983
closing as old

[2022-02-21 10:39] #26983 closed

[2022-02-21 10:40] patriknw commented on #29179
closing as old, and I think we fixed something here

[2022-02-21 10:40] #29179 closed

[2022-02-21 10:42] patriknw commented on #24444
closing as old

[2022-02-21 10:42] #24444 closed

[2022-02-21 11:03] raboof commented on #21624
Let's close this until we see it on GHA

[2022-02-21 11:03] #21624 closed

[2022-02-21 11:20] jrudolph commented on #31117
See #17413 for more info why this was added in the first place.

[2022-02-21 12:06] jrudolph commented on #31117
It seems ForkJoinPool does not make any public guarantees on scheduling, though, the internal documentation clearly states that internal tasks are preferred over external submissions.

I guess, you could say that this is a fairness issue that only matters in high load or overload scenarios anyway, so in that case giving advantage to local tasks is the best thing to do because this way you can do s

[2022-02-21 12:28] patriknw commented on #31117
I agree with your reasoning and I think we can remove the test.

[2022-02-21 13:07] nick-nachos commented on #31081
@patriknw In continuation to my previous findings, I can also confirm that all the rest of the nodes of the cluster (node-0, node-1, node-2) had their associations/materializers to/from node-2 torn down when the node became unreachable. node-3 was the only exception to that, its association to node-2 was never reported as broken. I think this attests towards the hypothesis that the association of

[2022-02-21 13:39] patriknw opened #31150 "failed: CrossDcHeartbeatSenderSpec"
https://github.com/akka/akka/runs/5273996704?check_suite_focus=true#step:5:818

[code]

[2022-02-21 13:43] #30942 closed

[2022-02-21 13:45] drewhk commented on #31117
My two cents: I generally freak out of any fairness issue because they are the silent killer. In fact, the problem is exactly that they come out usually in high-load scenarios and then instead of graceful degradation the system suddenly enters unpredictable failure modes that are very hard to diagnose and debug. If you have read the Roblox post-mortem, one of the main causes was a fairness issue.

[2022-02-21 13:47] drewhk commented on #31117
This was the original ticket: https://github.com/akka/akka/issues/17341

[2022-02-21 13:57] patriknw commented on #30804
This could actually be the same reason as what I fixed in https://github.com/akka/akka/pull/31144
The final Removed not updated in the selfMember on shutdown.
Closing as that.

[2022-02-21 13:57] #30804 closed

[2022-02-21 14:10] hepin1989 opened #31151 "UnsupportedOperationException for the returned `List<T>` in groupedWithin` should be metioned in JavaDoc."
Which is a wrapper and cann't support `set` operation, should that be metioned in docs?

[2022-02-21 14:22] jrudolph commented on #31117
Thanks for chiming in, Endre.

I agree that graceful degradation is a worthwhile goal in many cases. On the other hand, it's not a clear black-and-white scenario. After all, Akka already is a cooperative multitasking system. It's tempting to foresee all possible failure scenarios and provide solutions but often enough critical failure results in a chaotic spiral out of control that couldn't been f

[2022-02-21 14:33] drewhk commented on #31117
I don't know this particular case (JDK17), you might have a better understanding how it behaves now. In the original ticket though there were several reproducible scenarios, one is involving self-messages, the other one was the cross-dispatcher scenario. I recommend looking into them and see if they still apply. Forseeing is hard, but there was a failure report here, originally.

It only works if

[2022-02-21 14:40] raboof commented on #24788
Let's revisit this if/when we have a better way to narrow down the issue

[2022-02-21 14:40] #24788 closed

[2022-02-21 14:44] octonato commented on #30476
Closing for now. Probably fixed in #31147

[2022-02-21 14:44] #30476 closed

[2022-02-21 14:44] raboof commented on #21624
also, possible duplicate of #29465

[2022-02-21 14:47] jrudolph commented on #30051
This looks like a genuine bug in akka-cluster which seems to happen when in a two node cluster the node that currently is not the leader is issueing a `Leave(leader)` and then `Leave(itself)`. In that case, the issuing node doesn't seem to consider to move itself to `Exiting` after it has been become the new leader.

[2022-02-21 14:48] raboof commented on #27954
let's close this one and follow it as #29465

[2022-02-21 14:48] #27954 closed

[2022-02-21 14:48] jrudolph commented on #30051
I replaced the leaving section in the test with

[code]

to make the scenario more likely and it indeed failed once but not more than that yet...

[2022-02-21 14:49] purvapshah opened #31154 "JDK17"
Hi,

I have Akka Project using 2.6.17 , try to update JDK 11 to  JDK17 , see some compatible issue with akka streaming , akka persitance & cluster.

is there any way to solve?

[2022-02-21 14:51] raboof commented on #30260
I think that's #30051

[2022-02-21 15:36] jrudolph commented on #31117
Not sure when that was the case. The actual test and also the case described in #17341 only uses a single dispatcher for all actors in question. There's a set of actors that spin-loops using self messages and another actor that lives on that same dispatcher but which gets a message from a foreign thread. This external submission never gets to be executed as long as the spin-loop is going on. There

[2022-02-21 15:39] johanandren commented on #31028
I think this is the scenario: Consumer(1) consumed a bunch of elements, after the last demand from it the buffer got full, with only elements for the _other_ partition, but when that partition runs it only asks for 4 elements, and is happy to just consume those 4 and not talk to the hub more, so there is nothing triggering pulling more elements that can be emitted to consumer(1).

Not sure what to

[2022-02-21 15:40] octonato commented on #30961
This one is puzzling.

Also in the logs, we see...

[code]

Actually, the above is the real failure in the tests.

If I understand the test correctly, we have 3 nodes, each with 2 shards. One node, the `busy` one, is configured with `shard-region-query-timeout = 0ms` to force it to timeout when querying shard. Still, we receive 5 stats when querying.

[2022-02-21 15:43] patriknw commented on #30051
Isn't the test failure what I fixed in #31144 . Missing the final Removed status.

[code]

[code]

[2022-02-21 15:45] #31030 closed

[2022-02-21 15:45] drewhk commented on #31117
Yeah, but that foreign thread could be another dispatcher, it just so that the test case does not construct one. Also, there is one ping-pong case with no self-messages. Anyway, I rest my case.

[2022-02-21 15:47] patriknw commented on #30260
looks like #31144

[2022-02-21 15:56] raboof commented on #31154
Does adding `--add-opens=java.base/sun.nio.ch=ALL-UNNAMED` and `--add-opens=java.base/java.nio=ALL-UNNAMED` as JVM parameters help? If not, what exactly are the issues?

(we still have to add this to the documentation, #31087)

[2022-02-21 16:03] raboof commented on #30260
`Pong(1)` is the test message *before* starting to test the shutdown, so this is unlikely to be a 'lurking problem' and more likely a test instability. Since we're not sure how recently we've seen it (previous comments might have been #30051/#31144 instead) I think we can close this one for now.

[2022-02-21 16:03] #30260 closed

[2022-02-21 16:13] jrudolph commented on #31117
Here's an attempt at using external submission for reschedulings of a mailbox: https://github.com/akka/akka/pull/31156#pullrequestreview-888883748

Probably wouldn't help the ping/pong case in which case we would have to use external submission for all scheduling of mailboxes.

[2022-02-21 16:16] jrudolph commented on #30051
Good point, but it seems there are also cases where shutdown is never run for the final node (I looked for "CoordinatedShutdown").

[2022-02-21 16:16] octonato commented on #30961
Ok, may have found something...

In a passing tests we see the following:

[code]

but in the failing one we see...

[code]

It seems the `busy` one has only one shard allocated to it while we expect 2 shards.

I will make the rebalance settings more aggressive to ensure that we get everything evenly distributed as fast as possible.

[2022-02-21 16:42] #30841 closed

[2022-02-21 16:42] #31079 closed

[2022-02-21 16:44] #29562 closed

[2022-02-21 16:53] johanandren commented on #31151
Is probably true for all/most places the API hands a java `Collection` to a user callback (`Sink.seq`, `Flow.{grouped,sliding, prefixAndTail}` and so on, I get a full 81 matches just for `java.util.List` with a quick search). Perhaps better to document in one place that handed objects will be immutable than on each of those stream operators?

[2022-02-21 18:36] viktorklang commented on #31117
@jrudolph Changing the scheduling requires quite a bit of benching to make sure it doesn't regress performance in a noticeable way (since that logic is not controlled by end user)—sorry for stating the obvious :P. Since potential issues are completely depending of the *implementation* of FJP used in the application, I think it will be not feasible to fix in the general sense.

My vision was always

[2022-02-21 22:21] pvlugter commented on #30307
Test has:

[code]

CI failure (that still has logs) shows second node shutting down, but third node doesn't receive leaving, gossip envelopes going to deadletters.

Similar failure can be reproduced easily by sleeping between the `leave` instructions, so that the second node exits before instructing the third node to leave, since these both come from the second node.

Assuming that simply flipping

[2022-02-22 00:56] pvlugter commented on #29145
Took a moment to see what this one actually is. The line throwing the NPE is:

[code]

but it's not the `testLease` that's null, it's the `initialPromise`. In the `TestLease` class:

[code]

so the test lease is publishing itself before the promise is initialised. Test failure reproducible with a small sleep between those.

[2022-02-22 04:52] pvlugter commented on #30489
Taking a look at this, I can see what seems to be happening. And as it's timing-based, it can be reproduced with a sleep in the right place. What I see is this:

Part way through the test, the first producer controller is stopped, a second producer controller is started. When the sharding consumer controller sees the first producer terminating, it sends a `DeliverThenStop` to the associated consum

[2022-02-22 08:12] patriknw opened #31163 "failed: MBeanSpec"
In the timing sensitive workflow, and I think the problem is that we shouldn't run the multi-jvm tests at all in this workflow. They are not designed to be able to run individual test steps or no test steps at all.

https://github.com/akka/akka/runs/5281359390

[code]

[2022-02-22 08:38] #31137 closed

[2022-02-22 08:38] drewhk commented on #31117
While I don't want to spam the ticket with smalltalk, yeah, we are all fine, and hopefully we will visit Uppsala this summer - to show my older son where he was born and also because it is nice :)

[2022-02-22 08:54] patriknw opened #31164 "failed: MultiDcHeartbeatTakingOverSpec - other node must become oldest when current DC-oldest Leave"
https://github.com/akka/akka/runs/5281459613?check_suite_focus=true#step:9:9421

[2022-02-22 08:56] patriknw commented on #31164
https://github.com/akka/akka/runs/5276807702?check_suite_focus=true#step:5:3655

[2022-02-22 08:59] patriknw commented on #29997
Looks like a duplicate of https://github.com/akka/akka/issues/30961

[2022-02-22 08:59] #29997 closed

[2022-02-22 08:59] patriknw commented on #30961
https://github.com/akka/akka/runs/5276807795?check_suite_focus=true#step:5:2421

[2022-02-22 09:01] patriknw opened #31165 "failed: SendQueueSpec - deliver first message"
https://github.com/akka/akka/runs/5276807176?check_suite_focus=true#step:5:10350

[code]

[2022-02-22 09:02] johanandren commented on #29212
We haven't seen this for 1.5 years, closing for now.

[2022-02-22 09:02] #29212 closed

[2022-02-22 09:04] patriknw commented on #30320
https://github.com/akka/akka/runs/5276807239?check_suite_focus=true#step:5:15993

[code]

[2022-02-22 09:05] patriknw commented on #31164
https://github.com/akka/akka/runs/5281392148?check_suite_focus=true#step:5:3683

[2022-02-22 09:08] patriknw opened #31166 "failed: CircuitBreakerMTSpec - allow a single call through in half-open state"
This was after the changes to the test that were merged yesterday.

https://github.com/akka/akka/runs/5281392381?check_suite_focus=true#step:5:3551

[code]

[2022-02-22 09:11] patriknw opened #31167 "failed: LwwSpec - have deterministic tiebreak when the same time"
https://github.com/akka/akka/runs/5281392444?check_suite_focus=true#step:5:20038

[code]

[2022-02-22 09:15] #30307 closed

[2022-02-22 09:17] #29145 closed

[2022-02-22 09:19] #30489 closed

[2022-02-22 10:06] #30639 closed

[2022-02-22 10:07] johanandren commented on #30329
No theory about how it could happen and no reproducer, so leaving this for now.

[2022-02-22 10:20] raboof commented on #30567
"must deliver unconfirmed if ShardingConsumerController is terminated" is tracked separately in #30664 .

Let's close this issue for now until we actually see it again in the "illustrate sharding usage with several producers" form, might be separate.

[2022-02-22 10:20] #30567 closed

[2022-02-22 11:18] #30939 closed

[2022-02-22 11:43] #31167 closed

[2022-02-22 13:16] #31164 closed

[2022-02-22 13:51] johanandren commented on #31165
Ran it some good 100 000 runs locally without any fail.

Trying to deduce what could go wrong from reading it, I have one suspicion about `logic.wakeup` from `queue.offer` being dropped/ignored if it happens before `out` is available/ready after the first pull-push has happened. But if that is the case, I'm not sure what we can do about it (without a timer or something, much like the not so great

[2022-02-22 14:28] #30393 closed

[2022-02-22 14:32] patriknw commented on #28184
Closing as old

[2022-02-22 14:33] patriknw commented on #23592
Closing as old

[2022-02-22 14:33] #23592 closed

[2022-02-22 14:33] patriknw commented on #26858
Closing as old

[2022-02-22 14:33] #26858 closed

[2022-02-22 14:34] patriknw commented on #28440
Closing as old

[2022-02-22 14:34] #28440 closed

[2022-02-22 14:34] patriknw commented on #27580
Closing as old

[2022-02-22 14:34] #27580 closed

[2022-02-22 14:35] patriknw commented on #25549
Closing as old

[2022-02-22 14:35] patriknw commented on #29115
Closing as old

[2022-02-22 14:35] #29138 closed

[2022-02-22 14:36] patriknw commented on #26871
Closing as old

[2022-02-22 14:36] #26871 closed

[2022-02-22 14:36] patriknw commented on #28801
Closing as old

[2022-02-22 14:36] #28801 closed

[2022-02-22 14:37] patriknw commented on #29353
Closing as old

[2022-02-22 14:37] #29353 closed

[2022-02-22 14:37] johanandren commented on #31165
The failing scenario is:
[code]

I have been trying to trace a scenario that could end up with this failure but I can't figure out a sequence of operations in the two threads that would drop demand/miss picking the element up.

The case where the stage executed `consumerQueue.poll()`, but haven't set `needWakeUp` yet when the producing thread calls `.offer()` is covered by a retry which means it s

[2022-02-22 14:38] patriknw commented on #29298
Closing as old

[2022-02-22 14:38] #29298 closed

[2022-02-22 14:42] patriknw commented on #29120
Closing as old

[2022-02-22 14:42] #29120 closed

[2022-02-22 14:43] patriknw commented on #29746
Closing as old

[2022-02-22 14:43] #29746 closed

[2022-02-22 14:44] patriknw commented on #28612
Closing as old, and infrequent

[2022-02-22 14:44] #28612 closed

[2022-02-22 14:44] patriknw commented on #24630
Closing as old

[2022-02-22 14:44] #24630 closed

[2022-02-22 14:45] patriknw commented on #29895
Closing as old

[2022-02-22 14:46] patriknw commented on #29563
Closing as old

[2022-02-22 14:46] #29563 closed

[2022-02-22 14:46] #29975 closed

[2022-02-22 14:47] patriknw commented on #30009
Closing as old, and we haven't heard any migration problems

[2022-02-22 14:47] #30009 closed

[2022-02-22 14:48] patriknw commented on #29507
Closing as old

[2022-02-22 14:48] #29507 closed

[2022-02-22 14:48] patriknw commented on #30086
Closing as old

[2022-02-22 14:48] #30086 closed

[2022-02-22 14:49] patriknw commented on #28702
Closing as old

[2022-02-22 14:49] #28702 closed

[2022-02-22 14:50] patriknw commented on #30111
looks like a duplicate of https://github.com/akka/akka/issues/30307, which we closed yesterday

[2022-02-22 14:50] #30111 closed

[2022-02-22 14:51] octonato commented on #31166
I reverted it. I didn't look further to understand how it's failing.
It's failing after when calling `breaker.isClosed shouldBe true`, but the assertion before it passed and therefore I don't see how that could be possible.

At that moment the CB must be closed. Unless it didn't open after the first successful call.

[2022-02-22 14:51] octonato commented on #31166
Anyway, I don't want to spent time on this. Fine to revert if proves to work.

[2022-02-22 15:00] patriknw commented on #30454
Closing as old, and lack of information

[2022-02-22 15:31] #30308 closed

[2022-02-22 15:34] patriknw commented on #31000
I guess this has been fixed

[2022-02-22 21:27] patriknw commented on #31010
Tried to enable again, with larger n2-standard-8. First run had test failures https://github.com/akka/akka/actions/runs/1883123553

[2022-02-22 23:13] pvlugter commented on #30940
With aeron tests re-enabled (#31010), this one has failed. Slightly different failure, but also a timeout when waiting for all state on all 6 nodes:

[code]

Gets up to 5 of the 6 expected actors.

Are the timeouts simply not long enough?

[2022-02-22 23:15] pvlugter commented on #31010
Looks like it was just one test that failed this time (with a timeout waiting for state on all nodes, #30940). So it could be running better with the larger instances.

[2022-02-22 23:16] pvlugter commented on #29494
This is an old failure and doesn't seem to have been seen again. Worth keeping open or close?

[2022-02-23 01:40] pvlugter commented on #30051
Just failed again: https://github.com/akka/akka/runs/5296714189?check_suite_focus=true#step:5:2250

[code]

[2022-02-23 01:45] pvlugter commented on #30664
This one's had another failure in the nightly now, with logs:
https://github.com/akka/akka/runs/5296714473?check_suite_focus=true#step:5:34357

[2022-02-23 03:34] pvlugter commented on #30844
I had a look through this one, but didn't see anything obvious to create or reproduce the failure. There are no logs on failure, so we could enable this test again with debug logs to get some more info.

[2022-02-23 04:20] hepin1989 opened #31184 "Add `emitEmptyGroup` to `groupedWithin` operator?"
Currently I have to drop the empty group every time.
![image](https://user-images.githubusercontent.com/501740/155261105-1f0d44f8-98bb-440f-8750-865154e494ca.png)

[code]

[2022-02-23 04:20] #31184 closed

[2022-02-23 08:01] patriknw commented on #31010
Second run failed on OutboundIdleShutdownSpec
https://github.com/akka/akka/runs/5297795403?check_suite_focus=true

[2022-02-23 08:25] #30961 closed

[2022-02-23 08:28] He-Pin opened #31185 "`priority` in `Flow#mergePreferred` should be `preferred`"
![image](https://user-images.githubusercontent.com/501740/155283974-6eda4088-1b90-49ff-8194-7b0049e50d37.png)
It's `preferred` in JavaDSL

[2022-02-23 11:14] hepin1989 commented on #31142
Like if I have a group of `Source` which has statictly priority associated via `addAttributes(Attributes.Priority)` , then when I combile then with GraphDSL ,I can read the attributes from it directly .

[2022-02-23 12:32] johanandren commented on #31142
Ok, so it is to inspect attributes, not from inside a graph stage but from "the outside" when composing graphs, seems like a reasonable use case.

[2022-02-23 17:49] viktorklang commented on #31117
Great to hear, Endre!

Let me know if you pass by southern Sweden, and give my best regards to
your family 😊
--
Cheers,
√

[2022-02-24 11:20] jrudolph commented on #31117
Thanks for chiming in, @viktorklang. I agree, if people want to experiment with the PR I added that's now at least possible.

[2022-02-25 08:47] hepin1989 commented on #29334
@jrudolph How about comparing with `Mono.fromCallable`?

[2022-02-25 08:48] nparekh127 commented on #29330
any solution for this? I'm also facing the same exception.

[2022-02-25 11:52] nvollmar commented on #30512
We didn't encounter this for some time, either an Akka update or config change has fixed it.

[2022-02-25 11:52] #30512 closed

[2022-02-25 11:53] #29215 closed

[2022-02-25 17:03] istreeter commented on #29922
I am seeing the problem discussed above, and I think this is new information.

Our app uses akka-http 10.2.7, and akka-stream 2.6.16, which includes the attempted fix  akka/akka#30043.  So I think the merged PR did not fully solve the problem.

We use JDK 11:

[code]

We have seen the same problem with JDK 17.

The symptoms are exactly the same as before: our CPU usage goes through the roof and it

[2022-02-25 18:42] maxcom commented on #29922
@istreeter this fix actually works fine for us: https://github.com/akka/akka/issues/29922#issuecomment-796811678. I think Akka should implement handshake timeout to fix problems like this.

[2022-02-26 11:03] hepin1989 opened #31186 "ThrottleMode in Java API should add ThrottleMode."
![image](https://user-images.githubusercontent.com/501740/155840759-a46d59b7-a380-4872-a6e9-f2eb812ab0bb.png)
When binary compatible  allows.

Currently have to write `throttle(2,  Duration.ofSeconds(1), 3, (ThrottleMode) ThrottleMode.shaping())`

[2022-02-27 15:36] roman-io opened #31191 "RetryFlow limits the throughput of a stream"
Hello,

I tried to use the Alpakka Kinesis producer with RetryFlow,
the RetryFlow limits the throughput of the Kinesis Flow, not clear why.
The limit seems around the batch max size of one Kinesis Future (500 records).
Functionally it works as expected.
Without the RetryFlow the same app can push up to 40,000 records/s.

https://doc.akka.io/docs/alpakka/current/kinesis.html
https://doc.akka.io/doc

[2022-02-28 09:23] johanandren commented on #31191
Can you reproduce it but with a minimal flow not passing things through a Kinesis flow, or is it specifically about that?

[2022-02-28 09:24] johanandren commented on #31186
Indeed, thanks for reporting

[2022-03-01 18:29] nick-nachos commented on #31081
Hi @patriknw. We were able to capture the diagnostic cluster logs from an incident a few days ago. This time we were also able to find the issue causing the connectivity loss which was the Istio proxy sidecar of the affected pod dying with OOM. The sidecar took around 30 sec to recover (seems consistent every time) during which time the pod loses all network connectivity. After connectivity recove

[2022-03-01 19:19] nick-nachos commented on #31081
Actually that second bullet in my comment above may have not been a nothing-burger at all: I've just remembered seeing logs of the following format:

[code]

and what I had also noticed sometimes is such logs being pretty close (time-wise) to the creation of an outbound connection after the reachability issue had resolved. I would make a bet that the outbound connection used for the large user mes

[2022-03-02 12:52] johanandren opened #31194 "Failed: DowningProviderSpec"
https://github.com/akka/akka/runs/5312105202?check_suite_focus=true#step:5:21767

[code]

[2022-03-02 13:04] johanandren commented on #30940
https://github.com/akka/akka/runs/5328075936?check_suite_focus=true

Same as the first report.

[code]

[2022-03-02 13:06] johanandren commented on #30664
https://github.com/akka/akka/runs/5353244228?check_suite_focus=true#step:5:34929

[2022-03-02 13:11] johanandren opened #31195 "Failed: BasicClusterConfigSpec"
With aeron:

[code]

https://github.com/akka/akka/runs/5354023847?check_suite_focus=true

[2022-03-02 13:13] johanandren opened #31196 "Failed: JoinConfigCompatCheckerRollingUpdateSpec"
In the Aeron UDP tests.

Different from the previous fails for this test.

[code]

https://github.com/akka/akka/runs/5385324000?check_suite_focus=true#step:9:3397

[2022-03-02 17:13] hepin1989 opened #31197 "Add mergePreferredN which prefer ports left ro right?"
I have code like this below
[code]
I think it would be more readable with
[code]
It can be emulated with `mergePrioritizedN` too. with the left most the highest priority.

[2022-03-03 20:22] raboof commented on #31132
(since https://github.com/akka/akka/blob/main/.github/workflows/nightly-builds.yml#L206 points here, let's keep this issue open for eventually supporting publishing with jdk17)

[2022-03-04 02:44] hepin1989 commented on #30205
Is there any update？

[2022-03-04 13:40] Anoia opened #31200 "Remove CrossVersion.for3Use2_13 from dependencies to avoid conflicts"
Akka for Scala 3 currently still uses the 2.13 version of the scala-java8-compat library.
This is not recommended for libraries, see [here](https://docs.scala-lang.org/scala3/guides/migration/compatibility-classpath.html#interoperability-overview):

As there is already a Scala 3 version of the [scala-java8-compat library published](https://index.scala-lang.org/scala/scala-java8-compat/scala-java8-

[2022-03-04 16:23] #31200 closed

[2022-03-06 10:25] anthonyhlcheng commented on #31186
Not too sure if this is all that is needed: https://github.com/akka/akka/pull/31204

[2022-03-06 22:26] pvlugter opened #31206 "Failed: AtLeastOnceDeliveryCrashSpec"
https://github.com/akka/akka/runs/5415614173?check_suite_focus=true#step:5:4020

[code]

[2022-03-06 22:28] pvlugter commented on #31196
https://github.com/akka/akka/runs/5416700122?check_suite_focus=true#step:9:3130

[2022-03-07 05:43] pvlugter commented on #30940
https://github.com/akka/akka/runs/5442403089?check_suite_focus=true

[2022-03-07 10:11] raboof commented on #31186
I can't reproduce this: https://github.com/raboof/akka-31186/blob/main/Test.java compiles fine for me.

Also looking with javap the return type seems to be correct:

[code]

[2022-03-07 10:24] hepin1989 commented on #31186
It compiles fine @raboof but IDEA report it an error.

[2022-03-07 10:34] raboof commented on #31186
Hmm, I can build that example project in IDEA fine as well (2021.3.2 (Community Edition), Build #IC-213.6777.52, built on January 28, 2022, with the Scala plugin installed, 2021.3.20).

In #31040 we noticed problems compiling Java code when the Scala plugin isn't installed - do you have that installed when you see this problem?

Perhaps it would be good to report this problem to IntelliJ?

[2022-03-07 13:45] yufei-cai commented on #31095
Hi, our cluster of ~33 members running Akka 2.6.18 downed itself twice due to DownSelfQuarantinedByRemote decisions made by every member.
Could it be related to this issue?

Incident 1:
- The cluster was performing rolling update such that 1 cluster member restarts every 30 second. All surviving cluster members chose DownSelfQuarantinedByRemote simultaneously 3 times over 12 minutes. The cluster m

[2022-03-07 16:20] SethTisue commented on #31064
a useful workaround is

[code]

we bumped the scala-java8-compat version to 1.0 not because we broke something, but to communicate our intent around possible _future_ breakage. as far as I know, it's completely safe to swap 1.0.2 in whenever 0.8.0 is expected.

[2022-03-07 16:24] SethTisue commented on #31064
Incidentally, I'm not convinced by Patrik's interpretation of semver in this case.

I believe that Akka is free to move to 1.0.2 even in a patch version, as per this text on https://semver.org :

[2022-03-08 09:00] patriknw commented on #31064
Here, the transitive dependency is public API, since an application or 3rd library built on top of Akka may also use scala-java8-compat

Great if 1.0.2 is also completely compatible with 0.8.x but I think we'll stick with the conservative approach of not changing the dependency for Scala 2.12

[2022-03-08 09:00] #31064 closed

[2022-03-08 09:27] johanandren commented on #31197
I agree it is not the most dev friendly API, but I am also not convinced this one is useful enough that we should add more factories for it.

[2022-03-08 10:42] #30320 closed

[2022-03-08 10:55] octonato commented on #30844
@pvlugter, I assigned to you because I thought you were working on a fix, but now I see that #31183 was about adding more logging. So, I'm removing you. :-)

Feel free to pick it if you want.

[2022-03-08 11:46] patriknw commented on #31195
Very strange that the final step of shutting down the ActorSystem is not completed within 20 seconds.

[code]

[2022-03-08 11:56] #31194 closed

[2022-03-08 12:52] johanandren commented on #30940
I see quite a bit of "Scheduled sending of heartbeat was delayed." and nodes marked UNREACHABLE.

This is a test where each test case starts forms a cluster that is then shutdown, the other test cases only start two though, while this test case start 6 nodes. When I tried to run this test repeatedly many times in the same sbt test invocation it relatively quickly OOM:ed, I wonder if the github CI

[2022-03-08 12:57] raboof commented on #26325
Hmm, it indeed looks like it, though in practice it seems to have been rather stable for the past months - perhaps let's close until it shows up again.

[2022-03-08 12:57] #26325 closed

[2022-03-08 12:59] patriknw commented on #30940
This isn't a multi-node test itself. Does that mean that it's running in the github CI node and not in Kubernetes?

[2022-03-08 13:12] #31023 closed

[2022-03-08 15:01] patriknw commented on #30985
Closing, reason might be #31217

[2022-03-08 15:03] patriknw commented on #30940
Closing, reason might be https://github.com/akka/akka/pull/31217
This test has now been excluded when running with Aeron, in https://github.com/akka/akka/pull/31218

[2022-03-08 15:03] #30940 closed

[2022-03-08 15:37] patriknw commented on #30984
If this fails again we can switch to retry as discussed in PR

[2022-03-08 17:51] #31150 closed

[2022-03-08 23:17] pvlugter commented on #30844
I think it needs a test failure with the debug logs to figure out when and why it might fail. So leaving until that happens...

[2022-03-09 04:59] pvlugter commented on #31165
I read through this one as well, and also don't see a way to create that failure. Looks like different orderings are all covered with the retry to handle `offer`/`needWakeup`, and when out is not available it will be followed by a pull.

Is this just a one-off failure with some long slowdowns?

[2022-03-09 06:27] patriknw commented on #31165
Thanks for additional code review. We also looked at the approach when the new Streams queue was added, since that is using a very similar design. Let's close until we see more of it.

[2022-03-09 06:37] patriknw commented on #30840
closing since these were in Aeron tests before we changed the setup

[2022-03-09 06:37] #30840 closed

[2022-03-09 06:39] patriknw commented on #30502
Closing since we haven't seen this in a while, and it's "only" some shutdown timeout.

[2022-03-09 06:39] #30502 closed

[2022-03-09 06:40] patriknw commented on #30501
Closing since we haven't seen this in a while, and it's "only" some shutdown timeout.

[2022-03-09 06:40] #30501 closed

[2022-03-09 06:43] patriknw commented on #29465
Closing as old (from Jenkins)

[2022-03-09 06:49] patriknw commented on #23196
Searched for "unknown compression table version" in a few of the latest multi-node runs and didn't find any relevant. Closing as old.

[2022-03-09 06:49] #23196 closed

[2022-03-09 07:07] patriknw opened #31221 "failed: RememberEntitiesAndStartEntitySpec"
With Scala 3: https://github.com/akka/akka/runs/5473100312?check_suite_focus=true#step:5:1868

[code]

[2022-03-09 07:10] patriknw commented on #31196
Another one, now in classic remoting tests: https://github.com/akka/akka/runs/5476046877?check_suite_focus=true#step:5:2324

[code]

[2022-03-09 07:14] patriknw commented on #30985
Again, now in the Aeron job in nightly-builds: https://github.com/akka/akka/runs/5476047197?check_suite_focus=true#step:5:1897

[code]

[2022-03-09 07:53] johanandren commented on #30315
https://github.com/akka/akka/pull/30950 might decrease latency for the newly added nodes on rolling update as they mostly will not need to ask the coordinator about individual shards but hopefully get that information early.

[2022-03-09 07:58] #29494 closed

[2022-03-09 08:09] patriknw commented on #31095
Would it be possible reproduce the incidents and share logs from all pods with us? Would be helpful if it could be reproduced with as few members as possible to reduce the amount of logs to analyze.

[2022-03-09 08:22] patriknw commented on #31081
I had vacation last week, but will take a look at the logs now. Thanks for sharing and analyzing the problem.

Yes, connections are established lazyily when a message is sent over that "stream". There can be be up to 3 outgoing connections to each destination node. Control stream fo Akka internals, such as heartbeat messages. Ordinary message stream, and large message stream.

[2022-03-09 09:16] nick-nachos commented on #31081
Hey @patriknw welcome back! I kind of figured that the remote/local gossip thing was probably a red herring, thanks for confirming. As discussed in my previous comment anyway, I think I can safely say that based on the logs it's most probably the case that the user channel (ordinary message stream) is not created from node-3 to node-2, hence the inability to send any user messages. What was not cl

[2022-03-09 11:10] patriknw commented on #31081
Search "Received gossip status from [akka://cluster@node-3" confirms that the ordinary message stream is not working between node-3 and node-2. That message is from the ddata Replicator and sent over ordinary message stream. node-2 is not receiving it from node-3 (but from others). node-3 is receiving it from all (including node-2).

That is also the reason why the "Receiving gossip from [UniqueAd

[2022-03-09 11:52] nick-nachos commented on #31081
Yes @patriknw that's exactly how I remember this to be. It interesting cause I think some of the other nodes had similar errors will trying to establish communication with node-2 (before it became reachable of course) like that "Upstream finished" thing (I think I've seen it in one of the rest of the nodes, not 100% sure though), I wonder if that is an indicator of a potential issue, if there coul

[2022-03-09 14:36] johanandren commented on #31191
Made a quick benchmark:

[code]

So in general, yes, the RetryFlow comes with a cost, the reason for the cost is partly the restart-capability but also the fact that to be able to retry a single element it can only ever allow a single element at a time in the wrapped flow.

I'd expect that the `RestartFlow` which does not provide retrying and therefore not being limited to 1 in 1 out for the neste

[2022-03-09 14:41] johanandren opened #31225 "Surprising overhead of RestartFlow"
While doing a quick benchmark to look into #31191 I also covered RestartFlow to get a baseline of what the overhead of an operator with a nested flow is, and I got these surprising results where RestartFlow only has a third of the throughput of the RetryFlow (which limits in flight elements to the nested flow to 1):

[code]

Did not investigate further why, and maybe those 2.9m mps fast enough tha

[2022-03-09 14:42] johanandren commented on #31191
Note that those are still 8.7 million messages per second, so definitely not in itself a problem for a 40 k throughput, but if the task in the nested flow is something expensive, that can otherwise batch elements to do the expensive work, the 1 in 1 out can definitely explain your observation.

[2022-03-09 14:45] johanandren commented on #31225
Benchmark: https://github.com/johanandren/akka/commit/a94b94893439c0ea5420e1559d9b609193677baf

[2022-03-09 14:46] #31196 closed

[2022-03-09 14:49] johanandren commented on #30985
Looks like the resolve timeout of 1 s is simply too short, because we see the actor identity coming back but ending up in dead letters:

[code]

[2022-03-09 14:59] patriknw commented on #30985
but it's within an `awaitAssert` (6 seconds) so strange if that isn't enough

[2022-03-09 15:02] johanandren commented on #30985
If each lookup takes more than 1s, so it doesn't matter how many times it tries (but why on earth does each lookup take longer than 1s with aeron-udp?)

[2022-03-09 15:07] patriknw commented on #30985
yeah, that is what I mean, I can understand that once in a while it could be as slow as 1 second but 5-6 attempts in a row sounds so strange. What I could see, the resolve were all before the actual "heavy" message sending started.

[2022-03-09 15:18] octonato commented on #29290
also an old aeron-udp error, may not be relevant anymore

[2022-03-09 15:57] raboof commented on #30664
Looked into this some more, extracted logs of a successful and an unsuccessful run.

[logs-ok.txt](https://github.com/akka/akka/files/8216165/logs-ok.txt)
[logs-nok.txt](https://github.com/akka/akka/files/8216164/logs-nok.txt)

Both variations seem to try and deliver `msg-3` first at line 56, then the consumer restarts, after which it delivers it again at line 74. In the 'success' case the produce

[2022-03-09 16:06] atais opened #31226 "Working with Graphs, specifically builder, is not properly described (or maybe buggy)"
Platform
----
 - Akka Streams 2.6.18
 - Scala 2.12
 - OpenJDK 11

Description
----

I have run into this problem while building a graph in my project, example code:

[code]

Please ignore the fact that I may not be building the graph 100% correctly, the issue I am facing is about `UnzipWith`.
Precisely, the above code compiles, but fails in runtime with an error:

[code]

It was really unclear to

[2022-03-09 17:01] #31028 closed

[2022-03-09 17:19] johanandren commented on #31226
It is described in the section you have found: https://doc.akka.io/docs/akka/current/stream/stream-graphs.html#constructing-graphs, just in the section above the one you quoted, that you have to either  "import" operators using `builder.add` or as described in the quoted section pass them to the graph builder factory method like so `GraphDSL.create(operator1, operator2)`

If you have any ideas of

[2022-03-09 21:47] albertoadami opened #31227 "Support for ClusterSharding TestKit"
Apologies in advance if this request is already implemented in some way but I didn't find anything in the doc/internet.
My scenario is that I'm using akka persistence with akka cluster sharding for implementing a ES service.

The issue that I'm finding out is that I'm not able to basically test the classes that are using the sharding calls.
For example, suppose I've the following class:

[code]
wh

[2022-03-10 01:01] pvlugter commented on #30479
The specific test for the most recent failure was hardened, and marked as a timing sensitive test, in #31149. Timing tests haven't failed in the runs since being setup: https://github.com/akka/akka/actions/workflows/timing-tests.yml

Suggest this issue is closed, for now at least, as there doesn't seem to be anything else to do.

[2022-03-10 01:01] #30479 closed

[2022-03-10 04:27] pvlugter commented on #30869
Reproduced the timing that fails here. This test is creating 10 events, with snapshots at 5 and 10. It then deletes the events and snapshots and checks that these have been deleted. The failure is earlier, when checking that any snapshots have been saved. The failure is that the file for a snapshot that it attempted to load doesn't exist any longer. The failing scenario is:

- snapshot @ 5 is save

[2022-03-10 07:56] patriknw commented on #31081
I think the problem is the unexpected "Upstream finished" in some situations. I'm working on how to fix that.

[2022-03-10 09:23] patriknw opened #31229 "failed: CircuitBreakerSpec"
https://github.com/akka/akka/runs/5488806191?check_suite_focus=true#step:5:2338

[code]

I haven't looked into this specific failure but we might want to mark CircuitBreakerSpec as timing sensitive test.

[2022-03-10 09:25] patriknw commented on #30985
https://github.com/akka/akka/runs/5488805502?check_suite_focus=true#step:5:1928

[2022-03-10 09:49] #30869 closed

[2022-03-10 10:07] atais commented on #31226
If you're refering to

I guess I am missing an information that **some operators will not work** if I don't add them or pass in the factory method. **Because most of them does work without adding it**. I would also like to understand what is the reason here, because maybe it could be a potential improvement?

[2022-03-10 11:21] johanandren commented on #31226
I see what you mean now, I actually didn't remember the auto import (and I think all our graph builder samples in the docs explicitly call `.add`) but looking at the implementations for example for the implicit `~>` and `<~` they automatically call `.add` when left hand is a source or a sink rather than a shape.

Not entirely sure why that specifically does not work in your scenario, but like you

[2022-03-10 11:54] nick-nachos commented on #31081
Great stuff, thank you for looking into this!

[2022-03-10 11:58] raboof commented on #30664
Ok, so the scenario is:
* `ConsumerController` has received the `Confirmation` for msg 3 from the consumer (L82), and sends a `Request` confirming it to `ProducerController` (L83)
* `ProducerController` hasn't received the acknowledgement for msg 3 yet, so re-sends 3 and 4 (L87)
* *now* `ProducerController` receives the confirmation of msg 3 (but it has already re-sent msg 3)
* `Consumer` stops (L

[2022-03-10 12:23] patriknw commented on #30664
Confirmation on the confirmation (endless cycle) doesn't sound like something we should get into.

I think that kind of duplicate is ok and we should relax the test.

[2022-03-10 12:34] patriknw commented on #31227
Is that `akka.cluster.sharding.ClusterSharding` or `akka.cluster.sharding.typed.scaladsl.ClusterSharding`?

If it's the latter you can use `akka.cluster.sharding.typed.testkit.scaladsl.TestEntityRef.apply` to create a EntityRef that forwards to probe.

[2022-03-10 12:36] patriknw commented on #29290
yeah, lets close as old

[2022-03-10 12:36] #29290 closed

[2022-03-10 12:53] raboof commented on #30664
Of course - the producer side already re-sends messages and we could piggy-back a 'last acknowledgement processed' on that, but indeed it'd mean some additional complexity.

Okay, will PR!

[2022-03-10 13:05] patriknw commented on #30333
Was this observed on Windows?

I trust this answer https://stackoverflow.com/a/8853738

[2022-03-10 13:28] patriknw commented on #30329
I agree with Johan. This should be covered by the `isAvailable` method. Closing, unless you have any more evidence @stmaute

[2022-03-10 13:28] #30329 closed

[2022-03-10 13:41] aumann commented on #30333
In our case, yes, definitely Windows. I don't believe it has been Windows XP, though, but will double check.

[2022-03-10 14:08] patriknw commented on #30201
This seems to be a real bug. Could you try one of your ideas of how to fix it @jrudolph ?

[2022-03-10 14:13] patriknw commented on #30058
This is actually the same issue as https://github.com/akka/akka/issues/31081

[2022-03-10 14:13] patriknw commented on #30058
Closing this as duplicate of https://github.com/akka/akka/issues/31081

[2022-03-10 14:13] #30058 closed

[2022-03-10 14:57] albertoadami commented on #31227
@patriknw thanks for the response. I'm using 'akka.cluster.sharding.typed.scaladsl.ClusterSharding'.
But how can I replace my function argument `ClusterSharding` to use a TestEntityRef?

Trying something like this is not working:
[code]

Should I extend `ClusterSharding`? I saw that's marked as `@DoNotInherit`

[2022-03-10 15:29] patriknw commented on #31227
You could extend ClusterSharding. It has this comment for that purpose:
[code]

 However, I would probably make it possible to replace just the factory for the EntityRef. Something like
[code]

or pass in that as a function:
[code]

[2022-03-10 15:45] patriknw commented on #29820
I tried this and when WRITE_NUMBERS_AS_STRINGS it is a problem to deserialize for example
[code]

The value becomes a String, `Some("17")`.

I don't think there is much we can do about that unless we intend to contribute to the Scala Jackson module. It works fine when using the default config.

[2022-03-10 16:03] patriknw commented on #27937
Something is still wrong with the dependency diff to find what modules to test. For example this change in akka-actor didn't run akka-actor-tests: https://github.com/akka/akka/runs/5494032609?check_suite_focus=true#step:5:216
[code]

Here is another example, change in akka-remote that didn't trigger all modules depending on it: https://github.com/akka/akka/runs/5495922998?check_suite_focus=true#st

[2022-03-10 16:49] pjfanning opened #31237 "upgrade jackson"
I couldn't find an open issue but would it be possible to consider updating jackson in the akka 2.7 milestone (https://github.com/akka/akka/milestone/152)?

Jackson is used in akka-jackson-serialization and scala 3 support only exists in jackson 2.13.x (and above).

akka-jackson-serialization appears to be preconfigured to load jackson-module-scala despite the fact the dependency has been removed

[2022-03-10 17:00] raboof commented on #31237
#31097 is related: I think jackson 2.13 can be used with Akka, but indeed we don't provide it as a transitive dependency.

That makes sense to me, but note that we haven't even started planning 2.7 in earnest yet, so that might be some time out.

We might have wiggle room here: since our Scala 3 artifacts are still experimental, perhaps we could depend on Jackson 2.13 for the Scala 3 artifacts. Of

[2022-03-10 19:03] pjfanning commented on #31237
Thanks @raboof - I'll close this in favour of #31097

[2022-03-10 19:03] #31237 closed

[2022-03-10 20:09] atais commented on #31226
could this be a possible improvement for those other operators?
is there any risk involving adding some operator multiple times to the builder?

[2022-03-10 20:47] patriknw commented on #31237
@pjfanning could you open a PR that updates the Jackson version for Scala 3? I think the issue was about updating for all Scala versions, but that is not what we will do now.

[2022-03-10 21:00] pjfanning commented on #31237
@patriknw I'll have a look at creating a PR. I'm thinking that I'll update the scala3 version to 3.1.1 too - just not to have a dependency on a RC release of scala3 either (if that's ok).

[2022-03-11 06:15] JustinPihony commented on #31090
@johanandren Should we keep this open for a new version of Akka where breaking changes would be allowed - or make it more of a need for documentation?

[2022-03-11 07:44] patriknw commented on #31221
again https://github.com/akka/akka/runs/5500276562?check_suite_focus=true#step:5:27348

[2022-03-11 07:46] patriknw commented on #30985
https://github.com/akka/akka/runs/5504441498?check_suite_focus=true#step:5:1849

[2022-03-11 08:28] johanandren commented on #31090
I think we can leave it open, if we can figure out a place to add some documentation that you would actually find before/when stumbling on this corner case that would be a good improvement in addition to fixing this some time in the future.

[2022-03-11 08:47] #31081 closed

[2022-03-11 08:51] patriknw commented on #31221
https://github.com/akka/akka/runs/5507669569?check_suite_focus=true

[2022-03-11 08:56] johanandren commented on #31226
I calling `.add` multiple times with the same graph returns a different copy for each time, which is expected for example for a `Source`, but for fan-in/fan-out you likely want one instance that you connect to upstream/downstreams, automatic determination of that may not be easy/possible to achieve.

[2022-03-11 09:52] albertoadami commented on #31227
@patriknw in this way I was able to implement the test, thank you.
BTW will be possible to add some documentation about that? It will be very nice

[2022-03-11 15:01] albertoadami opened #31241 "java.lang.StackOverflowError when terminating the application"
I'm working on an akka based application, that's build on top of `akka-http`, `akka-typed`, `akka-cluster` and `alpakka` modules.
The application is build using docker and it's deployed in a Kubernetes cluster. The application used also `alpakka` module for the kafka connection.

To be more specific these are the version that I'm using at the moment:

- scala version: 2.12.15
- java version: Oracl

[2022-03-11 15:38] hepin1989 commented on #31241
`[ERROR] [SECURITY][03/11/2022 09:29:48.472] [project-system-local-akka.actor.default-dispatcher-3] [akka.actor.ActorSystemImpl(project-system-local)] Uncaught error from thread [project-system-local-akka.actor.default-dispatcher-3]: null, shutting down ActorSystem[project-system-local]
java.lang.StackOverflowError
	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.

[2022-03-13 19:01] hepin1989 commented on #30797
Hi, @yongjiaw , Thanks for this operator. What if we want to change the aggration time after a harvest?
Would it be more useful we change the `emitOnTimer: Option[(Agg => Boolean, FiniteDuration)]` to `emitOnTimer: Option[Agg => (Boolean, FiniteDuration)]`

[2022-03-13 22:23] pvlugter commented on #30985
https://github.com/akka/akka/runs/5518509786?check_suite_focus=true#step:5:1938

[2022-03-14 03:01] yongjiaw commented on #30797
This is a fixed interval timer with recurring invocations, as opposed to be "scheduled once" after every invocation.
This is for performance consideration.
The signature you proposed would be for the second case since it implies the interval for next invocation is determined by the `Agg` function.
I remember we briefly discussed these 2 choices in the thread. It's very expensive to schedule after

[2022-03-14 05:19] hepin1989 commented on #30797
Ok thanks @yongjiaw , I have a case where the next interval maybe change, I will write an custom stage for that。Your current AggregateWithBoundary is very flexibale and powerful too, thanks again.
Where my case is depends on the current concurrent user of Taobao live ,then some message send to a live room may need to send in batchs, like in 1/3 ，1/3 ，1/3, or 1/4 ，1/4 ，1/4 ，1/4 ，1/4 .

[2022-03-14 05:50] yongjiaw commented on #30797
Scheduling a timer event for every stream stream element is going to be a significant performance hit.
The `AggregateWithBoundary` operator allows you to keep track of arbitrary state for next emit, including changing the emit interval. The `emitOnTimer` part can be used to determine the time resolution. I believe it's the more efficient implementation based on my limited understanding of the akka

[2022-03-14 06:54] hepin1989 commented on #30797
Not for every element ,If I want to change the batches from 3 to 4, I only need to reschedule the same timerkey at a 4s delay.And I can't see how to change the interval onTimer event is triggered, the  `interval` is ignored after `emitOnTimer` call.
![image](https://user-images.githubusercontent.com/501740/158118665-b0064a5e-17b4-42b4-88b3-b068002d69cf.png)

Maybe we can reschedule a new timer whe

[2022-03-14 07:05] #31131 closed

[2022-03-14 09:11] johanandren commented on #31241
No clear idea exactly why this happens yet, it looks like a recursion loop around remote dead letter and the event bus - I don't see any other classes than akka internals involved, this is probably a bug.

[2022-03-14 09:18] patriknw commented on #31081
@nick-nachos We will probably release Akka 2.6.19 later this week but if you want to try the fix earlier you can use snapshot version `2.6.18+134-ae05ccaf-SNAPSHOT`. See https://doc.akka.io/docs/akka/current/project/links.html#snapshots-repository

[2022-03-14 09:28] nick-nachos commented on #31081
Thank you @patriknw, I think we'll probably wait for the official release 😄

[2022-03-14 14:18] muskan3006 commented on #31151
Hi @johanandren I can help here, where do you want to mention this?

[2022-03-14 16:13] yongjiaw commented on #30797
Ok, I'm trying to better understand the use case.
It seems you want to "smooth" the streaming elements in some custom window of up to N seconds (probably limited by buffering capacity), and the emit interval will depend on the actual Agg duration dynamically.
Is the "downstream system" you mentioned just another GraphStage/operator that splits the batch and emit with 1/N grouped elements each with

[2022-03-14 19:27] muskan3006 commented on #31089
Hi I checked the conf file, we have to fix no-https whitelist?
@johanandren

[2022-03-14 23:10] JustinPihony opened #31245 "Expose `akka.stream.impl.io.ByteStringParser$ParsingException` as public"
Play can throw [the following exception](https://github.com/akka/akka/blob/7abc41cf4e7e8827393b181cd06c5f8ea684e696/akka-stream/src/main/scala/akka/stream/impl/io/ByteStringParser.scala#L180) while processing data:

And, as this is an internal exception it cannot be handled at that level. It ends up requiring catching the higher level exception (ie `java.util.zip.DataFormatException`), which is no

[2022-03-15 07:53] patriknw commented on #31241
Yes, this is a bug. Seems to be a FunctionRef from a message adapter that is subscribing to the event stream. Maybe an ActorRef that is swapped to a DeadLetterActorRef during shutdown (I'm not sure about that).

[2022-03-15 09:49] nodefactory-bk commented on #30391
Hi!
Has this been fixed?
I don't see any linked pull request and I'm trying to troubleshoot an issue that is similar to the problem described here.

[2022-03-15 14:40] jrudolph commented on #31245
Maybe we can provide a way to offer a custom exception for each stage using/implementing ByteStringParser? That could then be public. After all the ParsingException really is internal and exposing it might not help in general case to understand or handle an error in an accurate way.

[2022-03-15 14:58] patriknw commented on #31241
Here is an ad-hoc test to reproduce it, in akka.cluster.typed.ActorSystemSpec

[code]

[2022-03-17 10:24] #30853 closed

[2022-03-17 10:27] #31074 closed

[2022-03-17 10:40] patriknw opened #31250 "failed: RemoteFailureSpec"
With Aeron: https://github.com/akka/akka/runs/5546435083?check_suite_focus=true#step:5:3117

[code]

[2022-03-17 12:06] johanandren commented on #31089
Yes, a few, but not all in the `non-https-whitelist` are sites/research papers that are simply not there anymore, for each of those we need to figure out if we can find the paper elsewhere or remove/change that page in the docs to not have a link anymore.

[2022-03-17 20:06] will-sargent-eero commented on #31245
I don't see how the ParsingException (or any exception really) can be internal in this situation, since it's a stage failure.  As soon as you materialize it,

[code]

[2022-03-18 11:49] patriknw opened #31254 "Release Akka 2.6.19"
### Before the release

- [x] Make sure all important / big PRs have been merged by now
- [x] Create a news item draft PR on [akka.io](https://github.com/akka/akka.io), using the milestone and `scripts/authors.scala v2.6.14 v2.6.15`
- [x] Make sure to update `_config.yml` in it
- In case of a new minor release:
  - [ ] update the branch descriptions at CONTRIBUTING.md#branches-summary

### Cutting

[2022-03-18 12:13] patriknw commented on #30985
https://github.com/akka/akka/runs/5599839394?check_suite_focus=true#step:5:1882

[2022-03-18 15:19] hepin1989 opened #31256 "StreamOperatorsIndexGenerator generate wrong related path on windows PC when invoke paradox"
When run `sbt paradox`, it will generate wrong related path on Windows PC.
such as:
[code]

[2022-03-18 15:27] hepin1989 commented on #31256
Deprecated by @ref[`Source.lazyFutureSource`](C:UsershepinIdeaProjectsakkaakka-docssrcmainparadoxstreamoperatorsSourcelazilyAsync.mdlazyFutureSource.md).

the getDetailMethod return wrong value

[2022-03-18 17:01] hepin1989 commented on #31197
refs:https://github.com/akka/akka/pull/23033

[2022-03-19 11:57] hepin1989 opened #31260 "Add javadsl method to CancellationStrategy？"
The current method is so long.
[code]
How about:

[code]

[2022-03-21 00:26] pvlugter opened #31263 "Failed: ReliableDeliveryShardingSpec"
https://github.com/akka/akka/runs/5608122450?check_suite_focus=true#step:5:35271

[code]

Similar to #30664, but failing at the check after the one fixed in #31234.

[2022-03-21 00:27] pvlugter commented on #30985
https://github.com/akka/akka/runs/5608122325?check_suite_focus=true#step:5:1908

[2022-03-21 07:07] patriknw commented on #31241
Tests failed with StackOverflow. Something more is missing...

https://github.com/akka/akka/runs/5620461042?check_suite_focus=true#step:5:8676

[2022-03-21 07:09] patriknw commented on #30985
https://github.com/akka/akka/runs/5620460679?check_suite_focus=true#step:5:1885

[2022-03-21 08:07] patriknw commented on #31241
The new stack trace looks like:
[code]

The assumption was that `subscriber.isTerminated` would end the loop but seems like isTerminated might not be true immediately after `FunctionRef.stop`. That is probably because `stop` is implemented as `_watchedBy.isEmpty`.

[2022-03-21 08:12] patriknw commented on #31241
ok, I can reproduce that. I'll come up with an additional fix for this.

[2022-03-21 11:20] #31241 closed

[2022-03-21 12:36] jrudolph opened #31266 "Scala 3 source incompatibilities around implicit ActorSystem"
* `Tcp()` does not work any more but requires an explicit ActorSystem.
 * Automatic conversion between classic and typed ActorSystem does not work implicitly any more, e.g. `Http()` does not work sometimes when only a classic ActorSystem is implicitly in scope.

[2022-03-21 18:52] He-Pin opened #31268 "Support behavior like API in stageActor?"
Currently the Stage actor's receive api is more lke the classical one, and is not easy to change the behavior of it. I think it would be great to support a subset of the the current typed behavior like api when get a stageActor, which can change its behavior after processing a message

[2022-03-22 05:11] hepin1989 opened #31269 "Add statefulMap？"
I find it sometime useful, currently I can implement it as :
[code]

[2022-03-22 09:19] hepin1989 commented on #24666
how about `expand` @radusw ?

[2022-03-22 11:18] hepin1989 commented on #24666
@johanandren How about we just change a bit? Extends the curent IdelInject to let it remmber the last elemet?
[code]

[2022-03-22 12:14] He-Pin opened #31270 "Extends Flow#keepAlive ability to memorizing the latest element？"
Hi, team, In my case I want to make use of the `keepAlive` to inject a heartbeat message to all my client. The message need a property I have to extract from any message from the stream. And stream itself is created without any information about which messages it will process.
So I have two choices, making use of `flatMapPrefix` or extending the current `keepAlive` to make it can remember the last

[2022-03-22 13:16] #31254 closed

[2022-03-22 14:44] patriknw opened #31271 "Rolling update problem when ClusterShardingHealthCheck is enabled"
I haven't fully verified this but I think a Kubernetes rolling update may stall because ClusterShardingHealthCheck is not successful until shard region registration has been completed. That may happen if a new entity type is added. Then it tries to register to the coordinator on one of the old nodes, but that coordinator doesn't exist.

[2022-03-22 14:54] jrudolph commented on #30985
https://github.com/akka/akka/runs/5636607048?check_suite_focus=true

[2022-03-22 20:12] fredfp commented on #31095
@patriknw what logs would you like to see? I did a quite minute analysis to extract my summary above, I might still be able to recover some more if you tell me what you need (bulk extraction didn't work last I tried).

[2022-03-23 10:18] johanandren commented on #24666
I'm still not convinced it is worth the extra API. For those who need it, it can be done by composing the current `keepAlive` and a downstream `statefulMapAsync` for example.

[2022-03-23 11:38] hepin1989 commented on #31270
refs: https://github.com/akka/akka/issues/24666

[2022-03-23 12:57] radusw commented on #24666
@hepin1989 the operator that was initially discussed does exist in https://github.com/akka/akka-stream-contrib (https://github.com/akka/akka-stream-contrib/pull/134)

[2022-03-23 13:12] kudrevatykh opened #31275 "health check shows akka is ready but sharding is not available in multi-dc setup"
I want to run 3 datacenters with 3 nodes each datacenter. I configured
[code]
and then started 3 nodes in 3 datacenters (1 node per DC) and in such setup health-check shows that akka is alive & ready. But cluster sharding is not avaliable until I start 2 nodes per DC

[2022-03-23 15:48] #30985 closed

[2022-03-24 02:27] jxnu-liguobin commented on #30199
So, Is this a problem worth improving? If so, I'm interested in it.

[2022-03-24 08:59] johanandren commented on #31275
The sharding healthcheck currently only checks that the node itself has registered with the shard coordinator and is ready to route messages to sharded actors. Not sure it makes sense and is safe to make that more advanced for the general use case, I'd recommend that you add your own additional custom health checks on top instead (as described in https://doc.akka.io/docs/akka-management/current/he

[2022-03-24 09:38] johanandren commented on #30199
I don't think so, because with an overload like `.runWith(sink, attributes)` it would be unclear if the attributes for the sink or the rest of the graph or the combined sink.

Also `source.via(flow).to(sink).run(attributes)` would not improve much compared to `source.via(flow).to(sink).withAttributes(attributes).run()` which already exists.

It could perhaps be clarified in docs, for example on `r

[2022-03-24 09:48] jxnu-liguobin commented on #30199
Thank you for your reply.  I think so, too 👍🏻

[2022-03-24 09:53] johanandren commented on #31268
That would be nice but I don't think the value of that outweighs the complexity it would require to implement (which I think would be a lot). The stage actor is quite a super user feature and while a public API I don't expect wide usage outside of Akka internals.

[2022-03-24 09:55] johanandren commented on #31269
On the fence if this is worth a dedicated factory, relatively easy compose yourself and also to just use `statefulMapConcat` directly with the slight added syntactic overhead.

[2022-03-24 14:43] #31142 closed

[2022-03-24 15:00] kudrevatykh commented on #31275
But whay sharding not started? Other singletons sucessfully started and runned in such setup (I'm not sure this is correct and maybe they should not start). I think that general cluster health-check should fail, not specific sharding health-check

[2022-03-24 15:51] johanandren commented on #31275
As far as I know there is no general cluster health check, that would be something you'd implement yourself based on what makes sense in your application/deployment scenario.

Note that the ClusterShardingHealthCheck does nothing and reports ok unless you list the specific sharding names used in your application in config with `akka.cluster.sharding.healthcheck.names`, only then does it wait for e

[2022-03-24 16:18] hepin1989 commented on #19707
I will try to take this.

[2022-03-25 04:52] hepin1989 commented on #25823
@andersstorhaug @arpanchaudhury I have updated a pr to address this, can you please check, thanks.

[2022-03-25 11:41] pjfanning opened #31282 "jackson CVE-2020-36518"
See https://github.com/FasterXML/jackson-databind/issues/2816 - probably pretty obscure. Only fixed on v2.13.2.1 - no patched versions for older jackson releases (yet).

[2022-03-25 13:20] akauppi opened #31284 "Documentation of `Flow.futureFlow`: example needs updating"
The page [Flow.futureFlow](https://doc.akka.io/docs/akka/current/stream/operators/Flow/futureFlow.html#flow-futureflow) (Akka 2.6.19) has an example:

[code]

There are two concerns here.

1. The provided sample flow does not require a `Future`, and therefore serves as a bad example for `futureFlow`. Something async in its place would do the trick.

2. The `case (List(...` fails at runtime (Scala

[2022-03-25 13:29] raboof commented on #31284
Yeah - it's often a tricky balance between having a realistic example but also being careful to avoid making the example confusing by adding components that are not essential. Would you like to propose a better example?

Ouch! Would you be interested in providing a PR for that fix?

[2022-03-25 13:45] akauppi commented on #31284
I'll yield.

While I'm versed with Akka Stream, I don't have a strong feeling on how 1. should be made better ( I ended up not using `.futureFlow` at all). And for 2, I am not aware of repercussions in Scala 2.12, 3.0.

[2022-03-25 19:08] patriknw commented on #31263
https://github.com/akka/akka/runs/5669097311?check_suite_focus=true#step:5:35286

[2022-03-25 19:09] patriknw commented on #31221
https://github.com/akka/akka/runs/5669097363?check_suite_focus=true#step:5:27343

[2022-03-26 04:48] hepin1989 commented on #24896
Is this still valid？

[2022-03-26 08:47] Captain1653 commented on #22904
I have some questions about the task. Is it make sense to add apidoc links for guide/tutorial and migration guides ?

[2022-03-26 17:31] hepin1989 commented on #31256
the regex matcting will not match the windows file system's path.

[2022-03-27 07:46] hepin1989 commented on #31077
@johanandren How can the below singature closing over the state inside `f`
[code]
should we define the current f as:
[code]

[2022-03-27 12:11] #31269 closed

[2022-03-28 12:58] matkob opened #31295 "Add dynamic flow reinitialization"
Hi
I have a use case where I need to reinitialize a flow instance with new parameters in already running graph. Specifically I have a WebSocket client that might get redirected to a different endpoint based on incoming messages. This kind of behaviour looks similarly to how `RestartFlow` works but as far as I know there is no way to dynamically change what next flow looks like (after restart).

My

[2022-03-29 08:03] nodefactory-bk commented on #31095
I'm seeing similar behaviour since we upgraded to akka 2.6.17.
Running in kubernetes if one application in the cluster runs rolling updates and there is a load spike every other app sometimes downs itself with DownSelfQuarantinedByRemote.

Unfortunately due to issues with our kubernetes logging it is very time consuming getting the logs and I can't reproduce it in a controlled manner since it happ

[2022-03-29 17:08] hepin1989 commented on #31077
Yes I was trying to something like:
[code]
and
[code]

[2022-03-29 17:32] hepin1989 commented on #31077
How about name it with statefulCollect？and define it with
[code]

and
[code]

[2022-03-30 07:20] #30220 closed

[2022-03-30 11:37] hepin1989 commented on #19045
@patriknw Is this issue still valid?

[2022-03-30 12:17] patriknw commented on #19045
yes, the alternative with GraphDSL is not easy to use

[2022-03-30 12:19] hepin1989 commented on #19045
Thanks for confirm。

[2022-03-30 12:24] AlexanderNurmsalu opened #31297 "Group router always drops first message"
Hello,

I have a cluster setup of 2 nodes. One node has service registered with services key over receptionist. Another node is using a group router to contact service on the first node.

[Group router documentation](https://doc.akka.io/docs/akka/current/typed/routers.html#group-router) has an example with the statement:
[code]
It states that it is safe to send messages immediately as they are sta

[2022-03-30 15:06] johanandren commented on #31297
Yes, there will be a race condition with the local receptionist having seen the routees on the other node when the router subscribes or not, if not the listing will be empty.

I think we could maybe improve the group router to stay in the initial stashing mode until it sees a listing with at least one routee. It may need a timeout to not keep a message around forever in a scenario where there is n

[2022-03-30 15:10] johanandren commented on #31295
Sounds like something you could compose with existing stages?

Something like:
[code]

[2022-03-30 15:19] AlexanderNurmsalu commented on #31297
But why do we get a dummy notification with 0 service instances from the receptionist? At the time of subscribing for the listing, the service is up and running. I believe the expectation would be to get the correct list of service instances at the current state of the cluster.

[2022-03-30 15:24] johanandren commented on #31295
Some clever use of a few other more advanced operators could do the trick though:

[code]

[2022-03-31 12:20] hepin1989 opened #31302 "CompletionStage#join should not be used in docs"
![image](https://user-images.githubusercontent.com/501740/161053291-133830fe-4ea7-43bf-b278-247c56f484f6.png)
Even it's used after the `allOf` call, but that can be replaced without any `join`。

[2022-03-31 13:15] patriknw commented on #31302
Good catch. That is indeed a terrible example to show in docs.

[2022-03-31 14:22] uazw commented on #31302
Hi Guys, I'd like to fix this one as my first PR to akka, but it seems I need approved to run the workflows, not sure if you can help me?

[2022-03-31 15:11] octonato commented on #31302
@uazw, approved!

[2022-03-31 17:20] hepin1989 commented on #29084
this is done

[2022-03-31 17:20] #29084 closed

[2022-03-31 17:27] hepin1989 commented on #25774
this lives in 2.6, close it now.

[2022-03-31 17:27] #25774 closed

[2022-03-31 17:51] hepin1989 commented on #31077
https://github.com/akka/akka/issues/22730 Keep in mind

[2022-04-01 06:56] patriknw opened #31305 "failed: ActorSystemSpec - log dead letters"
https://github.com/akka/akka/runs/5780258482?check_suite_focus=true#step:5:946

[code]

[2022-04-01 06:59] patriknw opened #31306 "failed: ClusterDeathWatchNotificationSpec - receive Terminated after ordinary messages"
https://github.com/akka/akka/runs/5729455080?check_suite_focus=true#step:5:22981

[code]

[2022-04-01 07:02] patriknw commented on #30843
https://github.com/akka/akka/runs/5712840176?check_suite_focus=true#step:5:1380

[code]

[2022-04-01 07:03] patriknw commented on #31221
https://github.com/akka/akka/runs/5706491025?check_suite_focus=true#step:5:27219

[2022-04-01 07:58] #31302 closed

[2022-04-01 08:06] #30074 closed

[2022-04-01 08:30] #24896 closed

[2022-04-01 11:28] johanandren commented on #31077
I think having an `onStart` will lead users to share the same object and doing unsafe things. I think the `onStart` should instead the construction of the stateful object and not a separate method.

Perhaps something closer to `unfoldResource` would cover both this need and #22730.

[code]

`State` could of course also be mutable, but to handle both mutable and immutable cases I think we'd have to

[2022-04-02 19:11] pawelkaczor opened #31307 "StreamRefSerializer throws NPE"
akka.stream.serialization.StreamRefSerializer#serializeRemoteSinkFailure throws NPE when exception message is null

[2022-04-03 14:08] matkob commented on #31295
Interesting! I wouldn't have figured it out.
I ran your code locally and it works as expected, the only thing I had to add is `concatSubstreams` at the end so it has the shape of `Flow`, not `SubFlow`. Also checked and confirmed all the subflows complete when a new one gets created so I assume that will work perfectly fine with my resource-heavy use case (wss clients).

I think this issue can be c

[2022-04-03 14:08] #31295 closed

[2022-04-03 14:56] nivox opened #31308 "ActorFlow ask/askWithStatus with context propagation"
The `ActorFlow.ask` operator (as well as `askWithStatus`) should have a first class support for context propagation.

The rationale behind this request is to better support *asking* remote actors.

The context of a stream is not always statically known (difficult to configure serializers) or could be not serializable at all (i.e. Alpakka Kafka `ConsumerMessage.CommittableOffset`).

With the curren

[2022-04-04 00:56] pvlugter opened #31309 "failed: ReliableDeliveryRandomChunkedSpec"
https://github.com/akka/akka/runs/5796193794?check_suite_focus=true

Not that easy to see what happened here. The test has failed and starts printing the tests logs, but then does this for a very long time, and over 1 million lines later OOMs.

line 13503:

[code]

[code]

line 1387906:

[code]

[2022-04-04 00:58] pvlugter commented on #31221
https://github.com/akka/akka/runs/5802654259?check_suite_focus=true#step:5:984

[2022-04-04 01:02] pvlugter commented on #31263
https://github.com/akka/akka/runs/5802654121?check_suite_focus=true#step:5:35402

[2022-04-04 01:03] pvlugter commented on #30984
Failed in https://github.com/akka/akka/runs/5802653929?check_suite_focus=true#step:5:2275

[2022-04-04 01:07] pvlugter commented on #30843
https://github.com/akka/akka/runs/5808939713?check_suite_focus=true#step:5:1341

[2022-04-04 08:03] johanandren commented on #31307
Ouch, thanks for reporting.

[2022-04-04 08:05] johanandren commented on #31308
Sounds like a good addition, would be good if we could avoid a parallel almost identic implementation with ask though.

[2022-04-04 09:06] patriknw commented on #31307
@pawelkaczor Would you be able to contribute a fix in a pull request?

[2022-04-04 10:16] patriknw commented on #31282
It has also been fixed in 2.12.6.1. It should be possible for applications to override the Jackson dependency in their builds.

I'm closing this because currently we don't have any plan to change the minor version of the default Jackson dependency in an Akka patch release.

[2022-04-04 10:16] #31282 closed

[2022-04-04 10:17] mkurz commented on #31282
@patriknw is it safe to upgrade Jackson in Play to 2.12.x? Do you know about any incompatibles?

[2022-04-04 11:28] patriknw commented on #31282
I wouldn't do that in a patch release of the stable release train of Play. Would probably become a mess with transitive dependencies between Akka, Play and Lagom.

Otherwise, I haven't heard of any incompatibilities when updating in applications.

[2022-04-04 13:36] #31307 closed

[2022-04-04 13:45] jrudolph commented on #31245
For now we removed the extra wrapping in `ParsingException` so that will never thrown. Stages using `ByteStringParser` should still make sure to throw meaningful exceptions.

Would that be enough for your use case, @will-sargent-eero ?

[2022-04-04 14:47] jrudolph commented on #31245
:+1: so let's close this issue for now.

[2022-04-04 14:47] #31245 closed

[2022-04-06 14:41] johanandren opened #31320 "No way to use sharded daemon process with custom shard allocation strategy"
For regular typed sharding we use a field of Entity but a sharded daemon process isn't using the Entity API.

Noticed when answering https://discuss.lightbend.com/t/distribution-of-shardeddaemonprocess-actors/9628

[2022-04-07 06:38] dimap-tr commented on #29922
@maxcom can you please share more details about this fix you implemented?

[2022-04-08 05:51] patriknw commented on #31263
https://github.com/akka/akka/runs/5842952320?check_suite_focus=true#step:5:5821

[2022-04-08 05:52] patriknw commented on #31263
https://github.com/akka/akka/runs/5842968102?check_suite_focus=true#step:5:34760

[2022-04-08 05:55] patriknw opened #31322 "failed: MailboxSelectorSpec"
https://github.com/akka/akka/runs/5877781463?check_suite_focus=true#step:5:8553

[code]

[2022-04-08 06:19] patriknw commented on #31282
Bumped to Jackson databind 2.13.2.2 for Scala 3. For other Scala/Java versions it can be updated in the build of the applications.

[2022-04-08 08:48] gervaisb opened #31323 "Fallback `copyUSAsciiStrToBytesAlgorithm` to 0"
This relates to this discussion: https://github.com/akka/akka/pull/23710#issuecomment-1091817062 where Akka-actor, and more precisely `akka.util.Unsafe` fail on Android because `String` has no `value` filed on Android.

Falling back to `copyUSAsciiStrToBytesAlgorithm = 0` in such cases will make the system a bit more tolerant.

[2022-04-08 09:05] #27743 closed

[2022-04-08 15:25] hepin1989 commented on #22849
Should the HashMap be a LongMap for the `Class[_]`.hashCode?

[2022-04-08 18:38] hepin1989 opened #31328 "Add project setup in IDE guide to contribution guide"
I think this will help more people to get on borad for contributing to Akka, eg how to import the akka project in IDEA.
I  was recored a video and sent it to a wechat group to help out.

[2022-04-09 16:13] He-Pin opened #31329 "Type parameters' order is not consistency in `unfold` and `unfoldResource`"
[code]
and
[code]
I think the type parameters' order should be
[code]

and then :

[code]

instead of
[code]

[2022-04-09 19:54] hepin1989 commented on #31077
I have updated with a pr to take a try but the original issue of the `statefulMapConcat` is still there.

[2022-04-09 19:58] hepin1989 commented on #22730
@weihsiu @filosganga Hi ,I have updated with a PR to take a try, would you like to give some input? thanks

[2022-04-09 20:37] hepin1989 opened #31331 "Should add a timer to complete the stage if the completion is deferred?"
When I was doing some defering of the upstream `completion` in https://github.com/akka/akka/pull/31330, I was thingking about what if the downstream never issue any more demonds anymore? Shold a upstream stage propagates the `upstreamFinished` timely ?

Should we add a timer which will sending the `onCompleted` to downstream after a configured time elapsed?eg:
```akka.stream.materializer.defer-com

[2022-04-09 20:59] hepin1989 commented on #28476
@otto-dev I have updated a PR to take a try, would you like to give some input?

[2022-04-09 22:35] hepin1989 commented on #21526
I will try to tackle this later next week, I need this one.

[2022-04-10 04:17] hepin1989 opened #31332 "Test failure is hard to find"
![image](https://user-images.githubusercontent.com/501740/162601195-623e9750-7ab8-4fbe-934c-4f5ed8a2310a.png)
https://github.com/akka/akka/runs/5957485990?check_suite_focus=true
is this related to https://github.com/sbt/sbt/issues/2998 ?

[2022-04-10 05:30] jxnu-liguobin commented on #29143
@patriknw It seems to have been exposed. Is this issue still effective? Can you explain it in detail? thank you

[2022-04-10 14:16] raboof commented on #31332
One trick it so search for `***`, which gives you:

[code]

I agree it would be good to for example list the tests that failed all the way at the bottom (again), but indeed that's perhaps an sbt thing.

[2022-04-10 15:24] hepin1989 commented on #31332
https://stackoverflow.com/questions/21806312/how-to-configure-sbt-test-scalatest-to-only-show-failures

[2022-04-10 15:35] hepin1989 commented on #31332
@raboof Wow thanks!

[2022-04-11 07:12] johanandren commented on #29143
Yes, looks like this was covered in #31193, we probably just missed closing it.

[2022-04-11 07:12] #29143 closed

[2022-04-11 09:30] johanandren commented on #31331
If completing based on a timeout because of upstream completion without demand depends on the operator/stage in question and what it does, I don't think there can be a general completion-timeout like that. An operator where it does make sense can implement it with the existing timer support, a user stream use case where it makes sense can probably compose it with `backpressureTimeout` or `idleTime

[2022-04-11 09:56] johanandren commented on #31077
Once we have a way to achieve that same behavior with statefulMap I think we can close this, possibly adding a mention of the way to compose it to the statefulMapConcat docs.

[2022-04-11 09:57] johanandren commented on #31329
Unfortunate but not something I think we can do anything about, changing the order on one of them would break source compatibility, possibly in ways users would not detect until runtime.

[2022-04-11 09:58] johanandren commented on #31331
Let's close this since it seems you agree :)

[2022-04-11 09:58] #31331 closed

[2022-04-12 09:33] jrudolph opened #31338 "Half-closed TCP connection only reports error after writing second packet to already closed connection"
I suspect that the reason is that if a peer has already half-closed the connection (and then went away after a while), we will not register for any events any more and as such do immediately react on a received `RST` packet:

[code]

We could instead immediately re-register for reads after half-closing the connection and then send out another `Abort` message when a `RST` was received. The disadvan

[2022-04-12 10:11] jrudolph commented on #31338
A quick look reveals that there's no easy solution for that. I haven't found a good way to have the Selector inform us that a half-closed connection has send a `RST` after `FIN`. (`OP_READ` will always trigger from the selector after having received `FIN`, `OP_WRITE` will also trigger because the send buffer will most likely have some space)

[2022-04-12 10:11] #31338 closed

[2022-04-12 19:58] johanandren opened #31340 "Null messages and wrapper message types"
From report in the forums: https://discuss.lightbend.com/t/akka-distributedpubsubmediator-handle-null-values-supervisorstrategy/9683

`tell` itself throws immediately if you try to send a `null`, I think the various wrapping message types, like `DistributedPubSubMediator.Publish` should throw from their constructors on `null` messages as well rather than something further down the line failing.

O

[2022-04-13 05:09] hepin1989 commented on #31332
![image](https://user-images.githubusercontent.com/501740/163104609-ac816c0e-ba45-45dc-90b2-dfb7474d4c7c.png)
![image](https://user-images.githubusercontent.com/501740/163104626-56ebe99b-f6b6-463a-8c11-3c6da778f3eb.png)
Eorro is not repeated at the end

[2022-04-13 09:22] source-nerd commented on #31095
We are facing same thing - running ~50 Node Akka Cluster and experiencing DownSelfQuarantinedByRemote quite frequently, Any update on the issue?

[2022-04-13 12:57] hepin1989 commented on #24666
@radusw thanks, but I am using Akka from the java side.

[2022-04-13 13:07] hepin1989 commented on #24666
[code]

Yes it can be achived but seems need more code.@johanandren

[2022-04-13 13:12] hepin1989 commented on #31270
refs :https://github.com/akka/akka/issues/24666

[2022-04-14 07:40] hepin1989 commented on #31323
@gervaisb Will you make a pr about it?

[2022-04-14 09:22] jrudolph commented on #29922
[2.6.19+37-4aeafc32-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/akka/akka-stream_2.13/2.6.19+37-4aeafc32-SNAPSHOT/) should have the potential improvement from #31321 in case someone wants to try.

[2022-04-14 10:32] gervaisb commented on #31323
I would like yes. But cannot provide any estimates.

[2022-04-14 13:31] hepin1989 commented on #23958
I encounter this too... hope I can reduce all the materialized value into a builder and retrive from the built result.

[2022-04-14 15:45] hepin1989 commented on #23958
[code]
@johanandren do you think this can be added?

[2022-04-16 07:26] hepin1989 commented on #31306
https://github.com/akka/akka/runs/6045987955?check_suite_focus=true
[code]

[2022-04-16 08:31] hepin1989 commented on #31263
https://github.com/akka/akka/runs/6046259746?check_suite_focus=true#step:5:33745

[2022-04-16 10:33] hepin1989 opened #31348 "More detail in `akka.actor.ActorInitializationException`?"
From https://discuss.lightbend.com/t/actorcell-changing-recreate-into-create-after-akka-actor-actorinitializationexception/9686

How about adjust it a little, like:
[code]

[2022-04-16 13:31] hepin1989 commented on #21526
[code]
@johanandren should the `writeData` returns a `Future[Option[Done]]`? When the result is `None` indicate the pull should continue, otherwise if a `Some(Done)` is returned, the sink stage should just complete itself and close the resource.

[2022-04-17 12:52] patriknw commented on #31348
Sounds good to include the cause message, but probably not the line number. The original cause should (I don't know if it is)  be included as `cause` of the ActorInitializationException and then it should be included in the logged stack trace.

[2022-04-19 07:20] johanandren commented on #21526
Hmm, gut feeling is that doing some early cancel is better done with some form of upstream operator (like `takeWhile`) and that in the few cases where that would be because of the state of `S` that can be done by throwing, but maybe there is some reasonable use case I'm not thinking of, do you have an example when you would want to do that early cancel?

[2022-04-19 08:47] johanandren opened #31350 "Improved complex typed supervision definitions"
Supervising a typed actor with many different strategies for different exceptions currently creates a "pyramid of doom":

[code]

It would be nice with an API that flattens such a set of supervisions to a shorter one that is easier to parse, perhaps something like:

[code]

[2022-04-19 09:49] patriknw commented on #31350
I agree. This came up previously in a discussion with @manuelbernhardt and then the suggestion was also the flat syntax.

[2022-04-19 12:39] #31256 closed

[2022-04-20 09:24] #31260 closed

[2022-04-21 09:43] johanandren opened #31355 "Operator to pass element through resource"
An operator `withResource`/`mapWithResource` that delegates to `statefulMap` but correctly sets the safe blocking io dispatcher.

_Originally posted by @johanandren in https://github.com/akka/akka/pull/31330#discussion_r854957331_

[2022-04-21 12:39] hepin1989 commented on #31355
What if the resource's creation and release is an asynchronous operation?

[2022-04-21 13:06] johanandren commented on #31355
For resource we have a specific operator for that, `unfoldResourceAsync`, but a corresponding operator can't be composed with `statefulMap` as far as I can see, so that would be a bigger task (and/or need a `statefulMapAsync` first).

[2022-04-21 13:17] hepin1989 commented on #31355
I see, maybe that can be built with the blocks from https://github.com/akka/akka/pull/28674

[2022-04-22 06:43] patriknw commented on #31263
https://github.com/akka/akka/runs/6121259066?check_suite_focus=true#step:5:36593

[2022-04-22 06:46] patriknw opened #31357 "failed: CompressionIntegrationSpec"
https://github.com/akka/akka/runs/6104366652?check_suite_focus=true#step:5:982

[code]

[2022-04-22 06:47] patriknw commented on #31221
https://github.com/akka/akka/runs/6087180402?check_suite_focus=true#step:5:28489

[2022-04-22 06:48] patriknw commented on #31250
https://github.com/akka/akka/runs/6087180402?check_suite_focus=true#step:5:28489

[2022-04-22 06:50] patriknw commented on #31263
https://github.com/akka/akka/runs/5999495589?check_suite_focus=true#step:5:36098

[2022-04-22 06:51] patriknw commented on #31229
in timing sensitive tests https://github.com/akka/akka/runs/5981852992?check_suite_focus=true#step:5:832

[2022-04-22 06:51] patriknw commented on #31229
https://github.com/akka/akka/runs/5957936130?check_suite_focus=true#step:5:907

[2022-04-22 14:46] hepin1989 commented on #31077
Update with a test which shows the origin problem
[code]

[2022-04-22 21:28] OndrejSpanel opened #31359 "Akka Streams has transitional dependency to 2.13 library in Scala 3 version"
Note following `dependencyTree` report  from a Scala 3 SBT project using `"com.typesafe.akka" %% "akka-stream" % "2.6.19"`. It shows the library is linked against 2.13 version of _scala-parser-combinators_, while Scala 3 version exists.

[code]

It seems this is because of [ssl-config-core](https://mvnrepository.com/artifact/com.typesafe/ssl-config-core), which is used in 0.4.3, and this version d

[2022-04-22 21:36] raboof commented on #31359
I think this should already be fixed on the main branch, though indeed not yet in 2.6.19 . Could you try with a nightly build?

On 22 April 2022 23:28:54 CEST, "Ondřej Španěl" ***@***.***> wrote:

[2022-04-23 06:39] hepin1989 commented on #31359
@OndrejSpanel https://doc.akka.io/docs/akka/current/project/links.html#snapshots-repository
https://oss.sonatype.org/content/repositories/snapshots/com/typesafe/akka/akka-actor_2.13/

[2022-04-23 08:30] OndrejSpanel opened #31360 "Example for Source.actorRef does not compile"
The [Source,actorRef example](https://doc.akka.io/docs/akka/current/stream/operators/Source/actorRef.html) does not compile. The error is

See [Scastie](https://scastie.scala-lang.org/EYzk3IzTTxWSVDMroG0Bng)

[2022-04-23 08:43] raboof commented on #31360
You need to have an `ActorSystem` implicitly in scope. This could be as easy as:

[code]

I agree this can be confusing. The reason we're not 'simply' including this in the sample is because you typically only create one ActorSystem per application. If we would show creating ActorSystem instances in all snippets, I'd fear people would just copy-paste such snippets and create many ActorSystem insta

[2022-04-23 09:10] OndrejSpanel commented on #31359
I confirm this is fixed. The akka-stream dependency tree now looks like this:

[code]

It seems ssl-config-core 0.6.1 is no longer using parser-combinators at all, which is confirmed by looking a compile dependencies at https://mvnrepository.com/artifact/com.typesafe/ssl-config-core_3/0.6.1

[2022-04-23 09:10] #31359 closed

[2022-04-23 09:28] OndrejSpanel commented on #31360
I think that would be very helpful for someone just playing with the example and knowing little about the system. If the error message would tell me I miss `ActorSystem`, it would be actionable for me, reminding me I need it. When I am told I miss a materializer, I have no idea what it is and how should I create one (what makes it even more confusing is materializer needed to be provided in previo

[2022-04-23 13:47] He-Pin opened #31362 "Add Sink.collect which accepts a java.util.stream.Collector for Javadsl?"
The current API is great with `fold` and `reduce` but I think it can be simpler with direct collector support.
[code]

[2022-04-23 14:13] hepin1989 commented on #31362
it can be achieved with StreamConverters

[2022-04-23 15:08] He-Pin opened #31363 "Add Flux#transform like operator?"
refs: https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#transform-java.util.function.Function-
This will make the syntax more fluent

[2022-04-23 15:26] hepin1989 commented on #24951
@markusthoemmes Do you think the `statefulMap` can help?

[2022-04-23 15:49] hepin1989 commented on #24951
@patriknw https://github.com/akka/akka/pull/20137 deprecated the `recoverWith`.

[2022-04-23 16:01] He-Pin opened #31364 "recoverWith behavior should be fixed?"
I think the currently `recoverWith` behavior is a little unexpected, should make it a retry only once?
refs:https://github.com/akka/akka/issues/20123
And I just tested with Reactor whitch works as expected with :
[code]
gives:
[code]
But

[code]
only gives:

[code]

[2022-04-23 16:45] hepin1989 commented on #31364
Ok, the scala docs say it will retry infinitely

[2022-04-23 17:00] hepin1989 commented on #31364
Keep recoverWith as-is and also introduce fallbackTo?

_最初由 viktorklang 在 https://github.com/akka/akka/issues/20123#issuecomment-200757981 发布_

[2022-04-24 18:10] #31328 closed

[2022-04-25 09:11] octonato commented on #30843
https://github.com/akka/akka/runs/6136665666?check_suite_focus=true#step:5:1219

[code]

[2022-04-25 09:14] octonato opened #31366 "failed: FileSink - must allow overriding the dispatcher using Attributes"
https://github.com/akka/akka/runs/6136665905?check_suite_focus=true#step:5:18418

[code]

[2022-04-25 09:18] octonato opened #31367 "failed: HandshakeRetrySpec - must be retried during handshake-timeout (no message loss)"
https://github.com/akka/akka/runs/6136665537?check_suite_focus=true#step:5:247

[code]

Not same as #29347, which was a `NullPointerException` and already fixed in #29244

[2022-04-26 09:43] jrudolph opened #31368 "Handling stashed GetState will not process further messages from stash"
When an event sourced actor receives commands while those are stashed (e.g. while persisting events), and the first command is `GetState`, further commands will not be unstashed.

[2022-04-26 13:15] jrudolph commented on #31263
https://github.com/akka/akka/runs/6167388221?check_suite_focus=true#step:5:36778

[2022-04-26 16:26] hepin1989 commented on #26876
@johanandren I think this can be closed now.

[2022-04-26 16:37] hepin1989 commented on #19707
@johanandren I think this can be closed now.

[2022-04-26 17:09] hepin1989 commented on #25623
@dembol Are you still plan to contribute to this?

[2022-04-27 05:50] hepin1989 commented on #25623
I updated the it in https://github.com/scala/scala/pull/10019

[2022-04-27 07:21] #31368 closed

[2022-04-27 09:35] #31348 closed

[2022-04-27 13:40] patriknw commented on #31362
Sounds like a good idea.

[2022-04-27 13:43] hepin1989 commented on #31362
refs: https://github.com/akka/akka/issues/27298

[2022-04-27 13:45] hepin1989 commented on #27298
[Flux.collect](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#collect-java.util.stream.Collector-) just collected to a Mono

[2022-04-27 15:33] hepin1989 commented on #31364
I just think it should not be deprecated, it has a good name. and I do expect:
[code]

[2022-04-27 17:00] hepin1989 commented on #21462
I think more can be done in StreamOfStreams too

[2022-04-28 07:06] #25823 closed

[2022-04-29 07:10] raboof commented on #31250
https://github.com/akka/akka/runs/6220701685?check_suite_focus=true

[2022-04-29 08:56] johanandren commented on #26876
Yep, thanks for the ping and (the PR)

[2022-04-29 08:56] #26876 closed

[2022-04-29 08:56] #31340 closed

[2022-04-29 09:04] johanandren commented on #25623
If it is fixed upstream I think we can close it already now since Akka does not affect the Scala patch version of consuming project?

[2022-04-29 10:01] hepin1989 commented on #26876
I am using the Java API :)

[2022-04-29 10:46] hepin1989 commented on #27298
![image](https://user-images.githubusercontent.com/501740/165930336-efd600e7-f794-4830-a408-0af0ddf1ae76.png)

[2022-04-29 10:49] hepin1989 commented on #27298
refs: https://github.com/akka/akka/issues/31362 but in Sink

[2022-04-29 18:28] longshorej opened #31375 "akka-streams: PartitionEither operator"
A `PartitionEither` operator with an inlet of `Either[A, B]` and two outlets, `A`, and `B`, would be useful for handling streams of `Either`s and easily fanning out based on their type. To do this now I believe requires the use of additional stages e.g. `Collect`.

Here's a described use-case:

ref: https://github.com/akka/akka/pull/31374

[2022-04-29 22:52] hepin1989 commented on #27298
I will try this as its very useful in javadsl

[2022-04-29 23:20] #29055 closed

[2022-05-01 22:22] pvlugter commented on #31305
https://github.com/akka/akka/runs/6243205299?check_suite_focus=true#step:5:1088

[2022-05-02 05:44] SalithaUCSC commented on #27255
Any update on this @jrudolph ?? We are also experiencing the same. When actors are killed, still MergeHub, BroadcastHub and AbstractNodeQueue and not cleaning in the heap area. They are keeping growing more and more. But Flow is getting cleared though.
Code for creating hub sink.
`       Pair<Sink<JsonNode, NotUsed>, Source<JsonNode, NotUsed>> sinkSourcePair =
                MergeHub.of(JsonNode.

[2022-05-02 05:48] SalithaUCSC commented on #29299
Any update on this @jrudolph ?? We are also experiencing the same. When actors are killed, still MergeHub, BroadcastHub and AbstractNodeQueue and not cleaning in the heap area. They are keeping growing more and more. But Flow is getting cleared though.
Code for creating hub sink.

        Pair<Sink<JsonNode, NotUsed>, Source<JsonNode, NotUsed>> sinkSourcePair =
        MergeHub.of(JsonNode.class,

[2022-05-02 07:24] jrudolph commented on #29299
Please ask on the forum since this is not likely related. I would suggest using a memory profiler (like Eclipse MAT) to look for the memory leak.

[2022-05-02 08:32] jrudolph commented on #25623
I agree. Fixed by scala/scala#10019 due for Scala 2.12.16, thanks for following up on that, @hepin1989!

[2022-05-02 08:32] #25623 closed

[2022-05-02 08:33] jrudolph commented on #25623
(Not adding a milestone since nothing seems appropriate, technically it's a "will not fix (here)".)

[2022-05-02 13:54] octonato commented on #31263
https://github.com/akka/akka/runs/6250668284?check_suite_focus=true

Happened again despite fix in #31370

[2022-05-02 13:55] octonato commented on #31250
https://github.com/akka/akka/runs/6250681859?check_suite_focus=true#step:5:3134

[2022-05-02 21:09] rrwright opened #31378 "akka.Dispatcher - Promise already completed"
While stress-testing a multi-JVM Akka (Cluster) application using Akka v. 2.6.19, the following `ERROR` level stack trace is printed without any apparent cause, and no particular effect that we noticed:

[code]

The stack trace does not reference any of our application code; so we suspect it is a bug in Akka's dispatcher.

With apologies, this bug report contains no reproduction steps. But this is

[2022-05-03 08:04] patriknw commented on #31378
Thanks for reporting. The error is indeed an indication of some bug. Question is what Promise it tries to complete.

It's on the default-dispatcher thread which is an indication that it's not in the very core internals of Akka, since those run on the internal dispatcher.

[2022-05-04 07:33] johanandren commented on #31378
I wonder if this could actually be an issue with the Scala 2.12 promise implementation, can you try and see if you can repeat the issue it with Scala 2.13? (The `promise.failure(t)` is called in `Promise.transformWith` in 2.12 while the promise impl has changed quite a bit in 2.13)

[2022-05-04 09:37] johanandren commented on #19707
Yes, thanks for the ping

[2022-05-04 09:37] #19707 closed

[2022-05-04 12:36] #25839 closed

[2022-05-05 04:37] hepin1989 commented on #31308
@nivox @johanandren This issue can be closed now.

[2022-05-05 06:27] #31308 closed

[2022-05-05 06:58] He-Pin commented on #27298
@[davery22](https://github.com/davery22) so you are using Java collector from Scala?

[2022-05-05 08:19] jrudolph opened #31383 "Starting from K8s 1.22 ReplicaSets are not scaled down youngest first any more"
(more of an akka-management or docs issue but I'll post it here for better visibility)

Starting from recent Kubernetes versions, ReplicaSets are not scaled down with the youngest node first. Instead `LogarithmicScaleDown` is enabled by default:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2185-random-pod-select-on-replicaset-downscale

This means that after some time all

[2022-05-05 08:30] patriknw commented on #31383
Good finding. If there is a way to configure this to better fit the "oldest last" strategy we should document that.

[2022-05-05 08:47] jrudolph commented on #31383
A few ideas:

 * set `controller.kubernetes.io/pod-deletion-cost` for the oldest node, so it stays alive as long as possible (requires k8s api access)
 * Can we use `appVersion` for determining oldest node for singletons, directly moving singleton to the first new node?
 * recommend disabling `LogarithmicScaleDown` (cluster-wide, so probably not a good default solution)

[2022-05-05 10:14] jrudolph commented on #30957
It seems currently the main reason for dropped buffers is that there's a race condition between a shard becoming aware of a shard region being moved and propagating messages in the meantime.

Could we avoid that race condition by sending the acknowledgements on the same path as propagated messages?

 * coordinator send begin-handoff to all regions
   * region containing the shard keeps processing

[2022-05-05 10:21] jrudolph commented on #30957
I also like @johanandren's suggestion to use `StopShard` which seems less intrusive.

[2022-05-05 11:38] He-Pin commented on #27298
The original PR: https://github.com/akka/akka/pull/20141

[2022-05-05 11:56] He-Pin commented on #21526
That's true, it can be done with `takeWhile`

[2022-05-06 07:07] raboof commented on #31306
https://github.com/akka/akka/runs/6299030015?check_suite_focus=true

[2022-05-06 07:13] raboof commented on #29198
https://github.com/akka/akka/runs/6316605765?check_suite_focus=true

[2022-05-07 18:10] DanielMoss opened #31389 "Interaction between ExplicitlyTriggeredScheduler & streams timers"
Hi. I've been playing with `ExplicitlyTriggeredScheduler` and noticed it doesn't behave as you might expect if you integrate its usage with some of the streams operators. For example, in the code below you'd naively expect the probe to receive a timeout as a result of calling `scheduler.timePasses`, but no such timeout is received.
[code]
The reason for this is that a number of stream operators, i

[2022-05-07 19:01] He-Pin commented on #23958
This issue may require some kind of code generation I think.

[2022-05-10 09:38] jrudolph commented on #31383
There might be other k8s policies affecting the upgrade ordering as well, e.g. spread rules that maintain how a deployment is distributed to different AZs inside a cluster.

We should probably assume scenarios where oldest-last ordering is not viable and consider how to deal with those more gracefully.

Would that be a possible improvement, @patriknw?

[2022-05-10 11:52] mdedetrich commented on #23066
So I am experiencing this exact behavior as well, I am not sure what the exact technical reasons that @johanandren alluded to at https://github.com/akka/akka/issues/23066#issuecomment-306122442 but it is very impractical behavior. For my specific circumstance, I have a stream that gets split up into a `SubFlow` where each of these `SubFlow`'s puts data into S3. If someone does a silly mistake (suc

[2022-05-10 12:11] patriknw commented on #31383
What is important is that we have a deterministic sort order, or actually that the head (and maybe also next after head) of that list is deterministic. Currently we use the upNumber.

Taking the appVersion into accounts sounds like a possible solution.

Devil is in the details. There could be a few risks. More than 2 appVersion in flight? User assigns appVersions that move backwards?

[2022-05-10 12:42] jrudolph commented on #30567
https://github.com/akka/akka/runs/6361613831?check_suite_focus=true#step:5:36208

[code]

[2022-05-10 12:44] jrudolph commented on #30567
https://github.com/akka/akka/runs/6361613831?check_suite_focus=true#step:5:36208

[2022-05-10 13:36] jrudolph commented on #31383
I tried to see if we could derive something from k8s. There's a `deployment.kubernetes.io/revision` annotation that looks useful on the deployment and the replicaset but it's not easily accessible from a pod. I guess it could be accessed when the pod has k8s api access.

[2022-05-10 14:55] johanandren commented on #31363
Please describe the use case you have and how an operator API would look to cover that use case.

[2022-05-10 16:29] johanandren opened #31393 "Possible problems with typed adapters"
Noticed by @leviramsey :

Message adapters are kept in a list which is prepended to after filtering out any created adapter for the exact same incoming message type.

When applying the adapters, it is traversed from most recent and backwards, checking if the incoming message is assignable from the class for each adapter.

This means you can register multiple adapters from the same class hierarchy

[2022-05-10 20:43] mdedetrich opened #31394 "`SubstreamCancelStrategy` is redundant and confusing considering existence of `SupervisionStrategy`"
When using Akka-Streams its currently documented that if you want to control the behaviour of the stream in the event of an exception you are should use a supervision strategy, see https://doc.akka.io/docs/akka/current/stream/stream-error.html. While for this works as expected for trivial streams there is surprising results when you use `Flow` operations that `Split` the stream (such as `splitAfte

[2022-05-10 20:50] mdedetrich commented on #23066
So I did a bit more digging into my issue and I realized that its actually not due to `FlattenMerge` but rather the fact that `Split` ignores `SupervisionStrategy` and instead has from what it seems a redundant `CancellationStrategy` parameter.

I made a new ticket with details here https://github.com/akka/akka/issues/31394

[2022-05-11 05:43] He-Pin commented on #31393
What if it's not matched with the predicate? I think IDEA and scalac do some checks too.

[2022-05-11 08:39] raboof opened #31395 "Silence slf4j noise on startup"
In #28673 we fixed the following startup noise for tests:

[code]

I also regularly see this in example/quickstart/small 'regular' applications. Perhaps we can somehow write something to slf4j on/before startup for 'regular' actor systems as well?

[2022-05-11 15:57] akilegaspi opened #31396 "Akka Actor: ActorContext.stop() does not cancel previously scheduled receiveTimeout"
We've encountered a bug in our application where a stopped Actor that has previously invoked `setReceiveTimeout` is still receiving a `ReceiveTimeout` message.

Upon inspection of the codebase I've noticed that on 1/19/22, this change was introduced to `akka.actor.dungeon.ReceiveTimeout`:

[code]

This function was previously named as `cancelReceiveTimeout()`, which I believe was the function bein

[2022-05-11 17:45] He-Pin commented on #31396
Ok ,I will take a look at it tomorrow。

[2022-05-11 18:52] He-Pin commented on #31396
@akilegaspi Sorry about that, I will add a test to cover this soon.

[2022-05-12 01:19] liutaon opened #31399 "Jackson serializer doesn't support scala3 enum"
We are trying to migrate the scala2 project to scala3, and use the enum of scala3 to define the message of akka, but there is a serialization runtime error when calling, as shown below

[code]

[code]

[code]

[2022-05-12 10:49] syspulse opened #31400 "akka.stream.Tcp outgoing connection flow restart for broken connection"
The following snippets for outgoing Tcp connection:
`val flowTcp = Tcp().outgoingConnection("127.0.0.1",1883).log("TCP")
 val flowTcpRestart = RestartFlow.onFailuresWithBackoff(restartSettings)(() => flowTcp)`

1. Works for initial connection when tcp server is not available: keeps restarting the flow
2. Does not restart the flow when tcp server was shutdown or restarted.

[2022-05-12 11:57] johanandren commented on #31399
I think that should be reported upstream in the https://github.com/FasterXML/jackson-module-scala

[2022-05-12 11:58] johanandren commented on #31399
Upstream existing issue, with link to separate module supporting Scala 3 enums: https://github.com/FasterXML/jackson-module-scala/issues/501

[2022-05-12 12:17] raboof commented on #31400
When the TCP server shuts down, does it complete gracefully or abort the connection?

If it completes gracefully, but you want your flow to reconnect anyway, you might want `RestartFlow.withBackoff` rather than `RestartFlow.onFailuresWithBackoff`?

[2022-05-12 14:26] syspulse commented on #31400
I checked with tcpdump and realized my connection tests for server kill (RST) were after shutdown (FIN, RST)
You suggestion works as expected thank you!

[2022-05-12 14:26] #31400 closed

[2022-05-12 15:35] leviramsey commented on #31393
Since `messageAdapter` requires a total function, an adapter which doesn't match the incoming message would have to throw, which (since the adaptation runs inside the actor) would crash the actor.

[2022-05-12 18:00] grimlor opened #31403 "False positives for security vulnerability"
Viewing the results of a Fortify SCA scan & analysis, using Auditworkbench, several files have false positives for the inclusion of keys in the codebase. The vulnerability is referred to as "Key Management: Hardcoded Encryption Key". This is because the scan simply looks for a value/variable named `key`. The list of impacted files are:

- `RemoteInstrumentsSpec.scala:30` in akka-remote
- `RemoteSe

[2022-05-12 19:37] leviramsey opened #31406 "Make BehaviorTestKit message adaptation more synchronous"
(Taking from a discussion in #30050)

As it stands, when using the `BehaviorTestKit` to test a behavior which performs message adaptation, testing the adaptation requires a call to `testkit.runOne()` to process the adaptation.

[code]

The message in the `selfInbox` is not inspectable and this arguably exposes too much of the internal machinery.

#30050 plumbs the testkit through to the `Effectful

[2022-05-13 04:30] patriknw commented on #31393
It would be nice to sort the adapters with most specific first. Not sure if that can be done?
For `MyClass` and `AnyRef` and for an incoming message of `MyClass` or subclass it would pick that matching adapter, but for other messages the `AnyRef` adapter, independent of in what order they were registered.

[2022-05-13 04:32] patriknw commented on #31399
Agree with Johan

[2022-05-13 04:32] #31399 closed

[2022-05-13 14:17] leviramsey commented on #31393
One could probably define an `Ordering[Class[_]]` based on assignability with something like:

[code]

Then we could maybe use a `SortedList` to store this, depending on how much information about the sort results is retained in `SortedList` because this ordering isn't transitive.  But a collection could be implemented such that if we insert a class, it will be iterated before any other class to w

[2022-05-13 16:43] He-Pin commented on #31393
refs: https://github.com/akka/akka/issues/22849 too

[2022-05-15 22:54] pvlugter commented on #31263
https://github.com/akka/akka/runs/6431289361?check_suite_focus=true#step:5:36907

[code]

[2022-05-15 22:56] pvlugter commented on #31263
https://github.com/akka/akka/runs/6437741361?check_suite_focus=true#step:5:36099

[2022-05-19 09:52] johanandren opened #31411 "Warnings in multinode tests - gcp auth plugin deprecated"
[code]

[2022-05-19 10:00] johanandren commented on #31263
https://github.com/akka/akka/runs/6480649003?check_suite_focus=true#step:5:31061

[2022-05-19 12:25] dimap-tr commented on #29922
@jrudolph do you have any insight on how we can attempt and reproduce the unwrap scenario?

[2022-05-19 19:05] He-Pin commented on #26111
![image](https://user-images.githubusercontent.com/501740/169382264-9468614c-770e-4178-9526-f1bb2b32c652.png)

[2022-05-20 21:45] Captain1653 commented on #29951
How can it be fixed? I can try. Can we rename the method, right? We don't need to keep backward compatibility because it didn't compile in java. @johanandren  Am I wrong? Which name should be preferable?

[2022-05-21 00:39] JustinPihony opened #31414 "Add official support for JDK 17"
This is a ticket to officially support [the newest long term Java version, 17](https://www.oracle.com/news/announcement/oracle-releases-java-17-2021-09-14/).

[2022-05-21 08:35] He-Pin commented on #31414
I think this would be very cool, in the Kalix, the JDK version bump to 11.

[2022-05-21 08:38] He-Pin commented on #31414
https://openjdk.java.net/jeps/410 ,some documents about the AOT in the Akka doc should be removed too.

[2022-05-23 04:04] pvlugter commented on #31366
https://github.com/akka/akka/runs/6547186775?check_suite_focus=true#step:5:19066

[2022-05-23 06:56] johanandren commented on #31414
One thing missing before we can do that is #31087

[2022-05-23 07:00] johanandren commented on #29951
`continueAndCollect` sounds good to me.

[2022-05-23 14:58] osklars opened #31417 "Add method wireTapAsync"
Hello,

I need a simple method similar to `wireTap` to run a `Future` without modifying the stream. The method would fill the design gap and be the analogy to `mapAsync` of what `wireTap` is to `map`.

To perform a side effect in a stream without modifying it, one can use `wireTap` instead of `map`, as so:

[code]

compared to the much uglier:

[code]

which has several benefits.

It reduces code,

[2022-05-24 11:02] #31396 closed

[2022-05-24 12:13] raboof commented on #19511
It seems like maintenance of this tool has picked up again, and I was able to reliablhy use it even on Java 17 - so perhaps this ticket is no longer needed?

[2022-05-24 12:59] raboof opened #31419 "TLS session is updated too late for TLS 1.3"
When acting as a TLS server, in `TLSActor.doUnwrap`, the `currentSession` is updated when `engine.unwrap`'s `result.getHandshakeStatus` is `FINISHED`.

However, at least with TLS 1.3, it is possible for `engine.unwrap` to return `NEED_TASK` after receiving the client authentication, then `NEED_WRAP` after reading the first chunk of application data, and only then `FINISHED`. This leads to the firs

[2022-05-26 11:37] lolczak commented on #31389
+1

[2022-05-27 15:21] raboof opened #31422 "`Unsafe.java` is in `src/main/scala`"
... which is strange in itself, and also causes `javafmt` not to trigger for this file.

Seems accidental, a quick experiment doesn't reveal a reason this should be there. Let's look into this after merging #31405

[2022-05-30 10:06] #29951 closed

[2022-05-30 15:40] johanandren commented on #31417
What would be the benefit over just triggering futures in `wireTap`? Do you have a more concrete use case you can describe?

I'd expect that for all use cases which trigger async work, you are less likely to be ok with ignoring messages if it backpressure like `wireTap` does, and that you'd rather want:

[code]

which instead propagates the backpressure from both downstreams and slows down the str

[2022-05-30 21:30] Captain1653 commented on #31360
@raboof  The PR was merged 18 days ago. Is make sense to close the issue and add the current milestone?

[2022-05-31 08:46] #31323 closed

[2022-05-31 16:21] Captain1653 commented on #23086
The issue is really old. There is only one file `stream-composition.md` in the project now.
<img width="890" alt="Screenshot 2022-05-31 at 19 17 57" src="https://user-images.githubusercontent.com/4740207/171223252-2b1963ab-fc16-4e0d-a2a5-de30f268d781.png">

Is it make sense to close the issue?

[2022-06-02 19:38] johanandren commented on #23086
Let's close it

[2022-06-02 19:38] #23086 closed

[2022-06-03 13:15] alanbur opened #31428 "ActorAdapter logging can't be controlled"
When an exception is thrown by an Actor, `ActorAdapter.scala` always logs an error even if the exception is subsequently handled by a `onSignal` method.  If `onSignal` handles and logs the error, it ends up being logged twice. There seems to be no way of overriding this unwanted behaviour.

[code]

[2022-06-03 18:43] Captain1653 commented on #30989
The PR of this issue was merged. Is it make sense to close the issue and add the current milestone?

[2022-06-03 18:54] Captain1653 commented on #27347
It was already done in [the commit](https://github.com/akka/akka/commit/0e7bce7bae364ca2f13034fa56a53902be9af538#diff-f0843cba45ec5b7ad6629e961be9a1ebc0b5bafcdfdb50c5eb13f54f20be82ff) . Is it make sense to close this issue?

[2022-06-05 16:24] #31422 closed

[2022-06-07 02:45] lupingqiu opened #31429 "akka cluster node unreachable when update distribute data in different nodes"
I create a cluster with 3nodes，when I update ORSetKey，the nodes will lost，this is the warnning info:
`2022-06-06 18:00:44,941 WARN  akka.cluster.ClusterHeartbeat - Cluster Node [akka.tcp://datasync-service-application@127.0.0.1:2551] - Scheduled sending of heartbeat was delayed. Previous heartbeat was sent [2194] ms ago, expected interval is [1000] ms. This may cause failure detection to mark memb

[2022-06-07 06:52] johanandren commented on #31428
`.spawn(Behaviors.supervise(Periscope(..))..., "Periscope")` if you want to define it at spawn site, or inside of the `apply` method if you want to define it together  with the actor behavior.

[2022-06-07 14:19] jrudolph commented on #31419
TLS 1.3 allows [0-RTT early client data](https://www.rfc-editor.org/rfc/rfc8446#section-2.3) which is not secured against replay attacks (because it is encrypted using a fixed PSK before DHE is finished). Auth data will only be sent in the second client packet (see [Figure 1](https://www.rfc-editor.org/rfc/rfc8446#section-2)).

Could it be that we see a 0-RTT early data packet here?

[2022-06-08 07:08] johanandren commented on #31428
I think it is covered fairly well in the doc page linked up top about "For details on how that translates into real code, please refer to [supervision](https://doc.akka.io/docs/akka/current/typed/fault-tolerance.html)."

[2022-06-08 11:12] johanandren commented on #31366
https://github.com/akka/akka/runs/6741586379?check_suite_focus=true

[2022-06-08 11:13] johanandren commented on #31250
https://github.com/akka/akka/runs/6741586189?check_suite_focus=true#step:5:3187

[2022-06-08 11:15] johanandren commented on #31263
https://github.com/akka/akka/runs/6765306742?check_suite_focus=true#step:5:36086

[2022-06-08 12:48] raboof opened #31431 "keep InternalStableApi stable between 2.6.19 and 2.6.20"
In https://github.com/akka/akka/pull/31129/files#diff-693b35aa5ba7e2352142084356adf38dff2a42906b7433871ee39069754ffe1aR661-R662 we changed a method marked `InternalStableApi`, perhaps we should keep that parameter (and ignore it)?

[2022-06-08 20:45] Captain1653 commented on #28641
It's the old issue. Looks like I'm doing it in #22904.  Is it make sense to close it?

[2022-06-09 08:59] jrudolph commented on #31419
I can rule out a 0-RTT case, it seems to happen if the first data arrives in the same TCP packet as the `Finished` TLS handshake packet.

[2022-06-09 09:17] jrudolph commented on #31419
0-RTT doesn't even seem to be implemented in the JVM: https://bugs.openjdk.org/browse/JDK-8049402

[2022-06-09 12:18] raboof commented on #31263
https://github.com/akka/akka/runs/6803964312?check_suite_focus=true

[2022-06-09 13:26] johanandren commented on #31431
Worth checking if that original PR broke it with the new third parameter and the revert maybe fixed it rather than broke anything.