[2016-10-31 10:59] drewhk commented on #20503
They will inherit this automagically, since it is implemented on top of AsyncCallback. But you are right, ActorRefs should work, too.

[2016-10-31 11:16] drewhk commented on #21740
I think we should support the AES-CTR from Cipher. While it might not be the fastest, it has the least error, by far. I don't want to introduce timing channels and hence I trust this most. I think reseeding it from time to time from urandom is enough to introduce enthropy. We just have to be aware that reseeding should not happen more frequently than in the minutes range, I don't want to introduce

[2016-10-31 11:17] ktoso commented on #21732
I did a ton of benchmarks when implementing these file sink/source - yep,
the current was actually fastest AFAIR.

It's more of a question on scalability than on throughput.

--
Konrad Malawski

On 31 October 2016 at 09:42:12, Johan Andrén (notifications@github.com)
wrote:

[2016-10-31 11:24] drewhk commented on #21743
This is likely a breaking change though, so I am a bit unsure. It is likely not hard to propagate the Attributes of the host stage to the `subFusingMaterializer` as new top level Attributes, however this will be in discrepancy from manual materializations:

[code]

In the above code, the running graph will *not* inherit the Attributes as foreach cannot propagate it to the implicit materializer in

[2016-10-31 11:28] #21765 closed

[2016-10-31 11:36] eiennohito commented on #21743
I think that not many people were using custom attributes (yet) otherwise this behavior would have surfaced earlier.

I believe in this case user explicitly says that he wants to materialize the graph himself. Also it is possible to override attributes for user in your example.

For `flatMap` family this is not the case and there are no place where it is possible override or add attributes. Intern

[2016-10-31 11:44] drewhk commented on #21743
I am sold :)

[2016-10-31 12:06] Hithran opened #21770 "NoSuchElementException when using TestProbe as supervisor in TestActorRef"
I've encountered an issue with the `TestActorRef` in a test where I use a `TestProbe` as the parent/supervisor. The Actor wrapped in the `TestActorRef` throws an Exception in a certain case and this causes the supervisor strategy
This used the work in 2.4.8 and now that I have updated to release 2.4.11 i get an `NoSuchElementException`.

To me it seems that this is introduced by the addition of th

[2016-10-31 14:40] bantonsson opened #21771 "SerializationCompatibilitySpec tests bitwise equality but should test deserialization"
There is a name change in a field in `Some` in Scala 2.12, and this changes the serialization bytes but no the ability to deserialize the bytes.

[2016-10-31 14:46] bantonsson opened #21772 "Stack frames can be missing file and line number crashing serialization `ThrowableSupport`"
NPE

[2016-10-31 14:50] patriknw commented on #21726
Yes, there are probably a rather many places where we use `Future` in APIs. User's can convert to CS with https://github.com/scala/scala-java8-compat (already a dependency in akka-actor).

I think we must look at it from case to case but for this example I think `ActorSelection.resolveOneCS` is most attractive.

[2016-10-31 14:54] patriknw commented on #21771
+1

[2016-10-31 14:55] patriknw commented on #21772
Is this because lambdas are not java.io.Serializable, as explained by @rkuhn in https://github.com/scala/community-builds/pull/317#issuecomment-256744056 ?

[2016-10-31 14:59] bantonsson commented on #21772
Shouldn't have to be... I don't know why this is the case, and I can't seem to be able to reproduce it locally again...

[2016-10-31 15:03] patriknw commented on #21725
@412b Such contribution would be welcome. We don't need to keep the full event history for those. I would prefer to not delete them immediately. That is useful for debugging.

Additionally, with for example the Cassandra plugin it would not be safe to delete the events immediately because snapshots are stored with weaker consistency level so latest snapshot might not be visible immediately.

[2016-10-31 15:14] patriknw commented on #21672
@hlavki Isn't that what we have in this test: https://github.com/akka/akka/blob/master/akka-persistence-query/src/test/scala/akka/persistence/query/journal/leveldb/EventsByTagSpec.scala#L75

What is the difference?

[2016-10-31 15:15] bantonsson opened #21773 "LineNumber unable to find information for some methods on Scala 2.12"

[2016-10-31 15:15] patriknw commented on #21657
Let us know how it goes, e.g. in https://gitter.im/akka/dev. Closing this issue now.

[2016-10-31 15:15] #21657 closed

[2016-10-31 15:22] patriknw commented on #21543
Closing here, it will be handled in akka-http. I commented in https://github.com/akka/akka-http/issues/437#issuecomment-257323421

[2016-10-31 15:22] #21543 closed

[2016-10-31 15:25] patriknw commented on #21620
@anton-fomin is this fixed, and in that case what fixed it?

[2016-10-31 15:27] patriknw commented on #21567
@drewhk thoughts?

[2016-10-31 15:28] patriknw commented on #21434
@drewhk thoughts?

[2016-10-31 15:29] drewhk commented on #21620
Is supervision enabled on the stream where you observed it? Source.iterator is implemented in terms of statefulMapConcat which allows supervision, for example Resume or Restart. May that be an issue?

[2016-10-31 15:35] drewhk commented on #21567
Stream-of-stream stages are super hard to write and hence there is not much support for them for users. If you can express your logic as splitWhen+filter, then you are likely better served by them than try to roll your own. That said, we might make the SubSource and SubSink interfaces public at some point, but so far we didn't do that.

[2016-10-31 16:18] anton-fomin commented on #21620
@patriknw Yes it seems so. I can't reproduce this in 2.4.11.

As @drewhk mentioned I tried different supervisions
[code]
And for restarting decider I've got
[code]
And for resuming I've got
[code]

With stopping decider there is no difference. Stream just hangs.

[2016-10-31 16:27] jrudolph opened #21774 "ByteString.toString changed for Scala 2.12"
`ByteString.toString` inherits `toString` from `TraversableLike` whose implementation was changed with Scala 2.12 (see https://issues.scala-lang.org/browse/SI-9019). As this will break all tests that depend on ByteString string representations (which is bad but anyway) the idea would be to try to keep the old behavior by overriding `ByteString.stringPrefix` to the former `"ByteString"`.

For an ex

[2016-10-31 16:31] johanandren commented on #21770
Hi @Hithran, thanks for the detailed report and the reproducer!

Looks like this was an oversight in that original PR.

[2016-10-31 17:22] #21711 closed

[2016-10-31 17:26] agolubev commented on #21732
Hm so @ktoso  your recommendation will be to double check this and cancel NIO PR?

[2016-11-01 03:18] agolubev commented on #21732
Switched to FileChannel instead of AsyncFileChannel and got interesting result:
[code]

if we add inputBuffer(4, 16) explicitely it's 4 times faster. Any thoughts?

[2016-11-01 05:52] patriknw commented on #21735
some unexpected UNREACHABLE during the joining

[2016-11-01 06:38] #21719 closed

[2016-11-01 07:43] patriknw opened #21779 "docs: search box rendering issue"
minor rendering issue affecting Firefox (both MacOS and Windows) and Internet Explorer

![image001](https://cloud.githubusercontent.com/assets/336161/19882603/2ee64a4a-a00f-11e6-89eb-6819b4908963.png)

[2016-11-01 08:30] johanandren commented on #21763
I released 2.3.16 yesterday, spent a bit of time on trying to get artifacts out for 2.12-RC2 but reached the end of my timebox. If someone can PR changes on top of 2.3.16 that makes the needed modules compile on Scala 2.12 I can publish (untested) artifacts.

[2016-11-01 08:32] fommil commented on #21763
Hmm, I wonder if Bill could publish old scalatest for 2.12

[2016-11-01 09:05] patriknw opened #21780 "failed: CompressionIntegrationSpec"
https://jenkins.akka.io:8498/job/akka-multi-node/1811/consoleText

[code]

[2016-11-01 09:06] patriknw commented on #21780
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4324/consoleText

[2016-11-01 09:27] johanandren commented on #21658
@BayStallion any progress on this, you still want to do it?

[2016-11-01 10:45] BayStallion commented on #21658
@johanandren Yes, still do. Have had too much on my plate recently, sorry for the delay.

[2016-11-01 10:51] johanandren commented on #21658
Thanks, no worries, good to know that we shouldn't take it over.

[2016-11-01 13:22] mbknor commented on #20623
I've just tested with **"com.typesafe.akka" %% "akka-remote" % "2.4.12"**, and it works somewhat better:

On windows:
I start one node in a cluster with two seed-nodes.
When artery cannot connect to the second seedNode it logs this:

	14:16:15.579 ERROR  akkaSrc=akka.remote.artery.Association(akka://bluebox)  Outbound message stream to [akka://bluebox@127.0.0.1:11065] failed. Restarting it. Handsh

[2016-11-01 15:34] patriknw commented on #20623
@mbknor Thanks for reporting. I see now from the stack trace that this is from a "normal" close of the Aeron publication. We focused on all the scenarios when stopping the application/jvm.

Do you mind creating a new issue, since this one is closed and part of a release already.

[2016-11-01 20:29] alcortaj commented on #18982
Experiencing the same than @relgames on akka 2.4.11. The app seems to be fine making requests for over 12 hours. Despite the error "No elements passed in the last 1 minute." it's all over the logs I'm able to get all the responses just fine. However, at some point the app stops receiving responses.

Note that in my case I only care about the response status and Im doing the following:

Http().sing

[2016-11-02 07:17] patriknw commented on #20623
@mbknor Just to make sure I didn't misunderstood. You see this error log without shutting down the application? It happens by itself after ~ 30 seconds after startup? Does it happen every time or is it difficult to reproduce?

[2016-11-02 08:48] hlavki commented on #21672
@patriknw yes, that's exactly what I mean. I tried it in OSGi, same code works with cassandra but empty result with leveldb. Hope find some time to prepare reproducer.

[2016-11-02 10:36] #21779 closed

[2016-11-02 12:21] ktoso commented on #21771
This was solved in https://github.com/akka/akka/pull/21778/ I believe (includes that commit).

[2016-11-02 12:21] #21771 closed

[2016-11-02 12:49] bantonsson commented on #21771
Yup, that's correct. Haven't had time to clean up my tickets. Thanks @ktoso

[2016-11-02 14:04] samikrc opened #21787 "Issue with akka scheduler and poisonpill in UTC"
Hi,

We have written an akka actor class (SessionEventProcessor) which is called by its parent actor class “EventAndResultProcessor”. EventAndResultProcessor creates a different instance of this actor based on a key called “channelSessionId”. This actor keeps running till it processes all the events (for that particular “channelSessionId”) that comes into it. Once all the events are processed, the

[2016-11-03 01:54] jroper opened #21788 "Offset issues"
A few issues with the new `Offset` class in Akka persistence query:

* There is no Java friendly way to use `NoOffset`, you have to say `NoOffset$.MODULE$`.
* Should the `Offset` trait be sealed?
* It would be convenient if there was an `Offset` companion object that offered constructors for `Sequence`, `TimeBasedUUID` and maybe even a reference to `NoOffset`, this will aid in discoverability from

[2016-11-03 09:09] johanandren commented on #21788
* Java API - definitely
* I don't think the trait should be sealed, a persistence-query-implementation may introduce its own offset type(s), we just provide the common ones as far as I understand it.
* factories for the three types - maybe, I'll play around with the idea

[2016-11-03 10:30] hlavki opened #21791 "akka-stream OSGi bundle has incorrect Import-Package"
It looks like commit c9854e43503c20a2c5dfa9f8c73acfe27e07a3ee corrupted akka-stream OSGi bundle. It contains non-existing import in `Import-Package`:
[code]
this namespace is part of `scala-parser-combinators_2.11` and akka uses version **1.0.4**

[2016-11-03 10:39] jrudolph commented on #19929
This was actually fixed in https://github.com/akka/akka/pull/20667.

[2016-11-03 11:35] johanandren commented on #21787
Hi Samik,

The Akka scheduler uses `System.nanotime` for relative time calculations, which is not based on wall time so your timezone log discrepancies are likely not related at all.

I would guess your actor that schedules the termination message earlier than you expect, if you are sur it is not, could you please see if you could create a complete minimal repeater that you can share with us?

[2016-11-03 14:32] andy-hw-chung opened #21794 "Fold behaviour on supervisor Resume"
In `Fold` (https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/impl/fusing/Ops.scala#L502) there is some unexpected behaviour when an error is thrown in the `onPush` method. When an error is thrown and the supervisor strategy decides to resume the stage, the behaviour of `onPush` resets the internal state of the stage to the initial state rather than keeping the accumul

[2016-11-03 20:31] fommil commented on #21763
we took a poll of users and decided to upgrade to Java 8, thanks for offering to publish!

[2016-11-03 20:33] ktoso commented on #21763
Wohoo, that's cool :-)
Nice to see all the various projects moving on to J8 and S2.12 so swiftly :-)

[2016-11-03 20:36] fommil commented on #21763
we already have java 6 compatible ensime 1.0, and we have a way of running ensime on java 8 for java 6 or 7 projects... the only problem is that it will not match sources up exactly to the source code. But even that might be fixable if anybody needs to do that. The beauty of being able to hack your tools.

[2016-11-03 20:36] fommil commented on #21763
(the real reason is that I was using java 7 at work until very recently)

[2016-11-04 08:12] shrenikd opened #21795 "Spray based HTTP server crash"
We have a Spray/Akka based HTTP server that crashed due to an out of memory issue. We analyzed the heap dump and noticed that there are a bunch of akka internal classes that are holding most of the memory. Can someone tell us whether this is a telltale sign of an akka bug?

We're using akka 2.10-2.3.15. Our server creates a bunch of actors (about 8) on every request and shuts down the actors once

[2016-11-04 08:21] drewhk commented on #21795
Very unlikely. These parts are rather solid and we have seen very few bugs in the core area in the last two years. While it is not impossible that you have uncovered an Akka core bug that has been lurking unnoticed during these years, it is very unlikely.

From your heap dump screenshots I don't really see which object instances are actually leaking. I see the RedBlackTree, which is basically a Tr

[2016-11-04 09:11] johanandren commented on #21794
Sounds like a bug with `Resume` doing `Restart`. Feel like sending in a pull request fixing it? (test coverage in addition to the fix would be good)

[2016-11-04 09:13] andy-hw-chung commented on #21794
Sure - I noticed something similar in Reduce as well. I'll include that as well

[2016-11-04 09:14] johanandren commented on #21794
Great!

[2016-11-04 09:15] drewhk commented on #21794
Thanks for the help!

[2016-11-04 09:26] drewhk commented on #21787
It depends. Is this a virtualized environment? In some cases virtual servers *might* change even the HPC counters you see, i.e. breaking nanoTime contracts. Properly configured, it should not do so, but I have *seen things*.

[2016-11-04 09:28] tpgirishn commented on #21787
2016-10-28 16:36:11,181 11:03:01.283UTC DEBUG [EventProcessorApp-akka.actor.default-**_dispatcher-2_**] c.i.d.s.SessionEventsProcessor Done processing all events for: 05059904
-e5d3-4cca-826f-4699ad6e7dbd::4.

2016-10-28 16:36:16,440 11:06:01.304UTC DEBUG [EventProcessorApp-akka.actor.default-_**dispatcher-6**_] c.i.d.s.SessionEventsProcessor Killing: sessionEventsProcessor-05059904-e5d3-4cca-826f

[2016-11-04 09:32] 2m opened #21796 "Unable to load akka-remote in OSGi container"
Since 2.4.11 it depends on Aeron which is not OSGi ready.

[2016-11-04 09:59] drewhk commented on #21787
Those are just different threads of the default-dispatcher.

[2016-11-04 10:00] #21760 closed

[2016-11-04 10:08] drewhk commented on #21732
I am not familiar with the benchmark. Is there fusing going on?

[2016-11-04 10:19] drewhk commented on #21620
Hm, not sure why this is fixed but if nothing else, we can add a few more test cases to make sure there is no regressions. I mark this as triaged, can be a good pick for cleanup days.

[2016-11-04 10:23] ktoso commented on #21796
We should talk about this on monday I think... I guess only solution is fixing aeron artifacts or shading :(

[2016-11-04 10:26] drewhk commented on #21434
We can make it more flexible, but there are limitations:

The above impossible, and actually theoretically impossible. What we can do are these
 - close an existing substream when a new group needs to be opened. This works, but might complicate the life for downstream consumers of substreams as you might get the same group in different substreams. This works very well though if we know that the in

[2016-11-04 10:47] drewhk commented on #21796
And discuss the timeline for deprecating OSGi again ;)

[2016-11-04 10:47] drewhk commented on #21796
And discuss the timeline for deprecating OSGi again ;)

[2016-11-04 10:47] drewhk commented on #21796
And discuss the timeline for deprecating OSGi again ;)

[2016-11-04 13:53] #21770 closed

[2016-11-04 14:24] johanandren commented on #21570
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/7757/consoleFull

[2016-11-04 15:40] 2m commented on #20223
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/246/consoleFull

[2016-11-04 15:41] 2m commented on #21780
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4332/consoleFull

[2016-11-04 15:42] 2m commented on #21377
https://jenkins.akka.io:8498/job/akka-multi-node/1815/consoleFull

[2016-11-04 15:47] 2m opened #21799 "FAILED: SystemMessageDeliverySpec"
Different failure than previously: https://github.com/akka/akka/issues/21331

https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4327/consoleFull

[code]

[2016-11-04 15:58] johanandren commented on #21377
Oh, my fix is still not merged?

[2016-11-04 23:49] BayStallion commented on #21658
@Silv3rcircl3 Could you share your ideas why you think this implementation is wrong? I have played a little bit with [this test](https://github.com/akka/akka/blob/master/akka-stream-tests/src/test/scala/akka/stream/scaladsl/SinkSpec.scala#L127)  and added more named attributes in line 129. As far as I can see, Attributes.getFirst retrieves the first attribute of the given type, Attributes.get retr

[2016-11-05 13:27] fommil commented on #21763
reopening, there is no akka 2.4 for scala-2.10.

[2016-11-05 14:30] Silv3rcircl3 commented on #21658
@BayStallion as I said, the imellemantations for Get and GetFirst are identical, so it's impossible that they return different values ;)
Also if you look at Sink.head it creates a graph and then calls "withAttributes" with the default attributes for head which already contain a Named attribute, so the spec should fail because the value of the first attribute isn't "name" but "head".

https://githu

[2016-11-05 20:31] agolubev commented on #21732
[code]

[2016-11-05 23:41] BayStallion commented on #21658
@Silv3rcircl3 I think I got it. The methods you were probably referring to as identically implemented are [this](https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/Attributes.scala#L93) and [this](https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/Attributes.scala#L100), but they are not being used in any of the existing tests (I should pro

[2016-11-06 12:12] wojtasskorcz commented on #20821
I did a quick tests of possible solutions by changing the easiest part of the `LocalSnapshotStore` logic, namely the `SnapshotFilenameFilter`. With the old logic (using regex) the

    snapshotDir.listFiles(new SnapshotFilenameFilter(persistenceId))

call takes, for each persisted actor, around 3ms for 1000 actors and 29ms for 10000 actors.

Changing the implementation of `SnapshotFilenameFilter`

[2016-11-07 11:15] johanandren opened #21804 "Race condition in InputStreamSinkStage"
Parsing the entity of a http response to XML using the StreamConverters like so: `XML.load(entity.dataBytes.runWith(StreamConverters.asInputStream()))`

sometimes fails with the following exception:
[code]

[2016-11-07 12:48] drewhk commented on #21743
Fix is here: https://github.com/akka/akka/pull/21805

[2016-11-07 13:07] drewhk commented on #20306
I guess this can be closed now.

[2016-11-07 13:07] #20306 closed

[2016-11-07 13:09] patriknw commented on #20306
yes, there might be some more failures remaining but we should open separate issues for those

[2016-11-07 13:09] drewhk commented on #20933
Shouldn't new tickets be opened instead of old ones reopened for FAILED?

[2016-11-07 13:10] drewhk commented on #20503
This is put on hold for now, the reason is that this needs some tricky coordination on the materializer side. Since we are in the process of refactoring parts of materialization I am hesitant to touch anything there (and introduce new edge cases) before we are done with that.

[2016-11-07 13:11] drewhk commented on #20933
Also, the linked failure is exactly the one I supposedly fixed (3987)

[2016-11-07 13:11] patriknw commented on #20933
@drewhk if the old closed issue was "released" then open new issue

[2016-11-07 13:13] drewhk commented on #20933
Since the other linked failure is the same as the previous I close this for now.

[2016-11-07 13:13] #20933 closed

[2016-11-07 14:07] #21794 closed

[2016-11-07 14:21] drewhk commented on #21369
I close this as I have no clue how this can even happen. Please reopen if you have a reproducer.

[2016-11-07 14:21] #21369 closed

[2016-11-07 14:36] #21377 closed

[2016-11-07 14:54] cywattebled opened #21806 "TestActorRef race condition"
Greetings,

I'm currently working on a project that uses TestActorRef to test Asynchronous and Synchronous behavior of an actor. This is important because we have Mock Actors that we instanciate as TestActorRefs that are used during testing asynchronously and that we interrogate at the end of the tests using underlyingActor().

It mostly works just fine but we have randomly failing unit tests.
I n

[2016-11-07 15:31] drewhk commented on #21391
Yaay, this looks tricky :(

[2016-11-07 15:36] drewhk commented on #21391
Hm, thankfully there are Graphviz Outputs!!!! It seems like the BroadcastHub "shouldPull" the upstream sequence while at the same time there is a downstream that it "shouldPush". I.e. this looks like a deadlock of some sort.

[2016-11-07 15:38] johanandren commented on #21788
Thanks @jroper for the ideas.

[2016-11-07 15:38] #21788 closed

[2016-11-07 15:41] johanandren commented on #20933
Yeah, sorry not sure what happened that made me think it was new again in early oct.

[2016-11-07 15:59] drewhk commented on #21391
would be nice to think that https://github.com/akka/akka/pull/21447 is related, but I don't see how it could be related. Unless there was an unreported exception that caused cancellation or failure somewhere, in which case it can be. But Detacher is still a mistery for me in that diagram...

[2016-11-07 16:04] drewhk commented on #21391
Eh, Detacher can be in that state if it already buffered up an element. OK, so then the question is why the Hub stalled. Seems like one downstream is finished already, the other is waiting an element.

[2016-11-07 16:06] drewhk commented on #20933
Maybe you wanted to link another failure? Anyway, since there is no *active* failure in this ticket I keep this closed until we see it again.

[2016-11-07 16:12] drewhk commented on #21391
Ok, one more clue. There is only one downstream consumer reported. This is weird as both of them have been materialized and the stream could not have been completed (StatefulMapConcat is still alive). So I suspect that one of the consumers might have failed and left the Hub in a backpressured state. This means that the first assertion fails on a timeout *before* the second assertion could report t

[2016-11-07 16:15] johanandren commented on #20933
Sounds good

[2016-11-07 16:15] drewhk commented on #21391
The build failure was reported on Sep 9 by Jenkins and this was fixed on 13th: https://github.com/akka/akka/pull/21443

That bug could explain the situation here (per my previous comment) and would also explain why this have not failed before. Since that bug failed on hubCallback being `null`, that would explain why it was not unregistered in `postStop()`: that also needs a non-null hubCallback.

[2016-11-07 16:15] #21391 closed

[2016-11-07 17:08] patriknw commented on #20821
`URLEncoder.encode` can be done once, instead of for each file.

Isn't the difficult part that the persistenceId may contain `-`?
I think searching for `-` from the end of the string with `lastIndexOf('-')` can be rather efficient.

[2016-11-07 17:41] wojtasskorcz commented on #20821
Thanks for the remarks @patriknw. They should help with performance, but as mentioned before, we can't expect a radical improvement just by optimizing the regexes. Probably halving the time is as good as we can get.

@drewhk the only thing going on in the aforementioned call (assuming the fastest implementation of `SnapshotFilenameFilter` always returning `true` immediately) is listing the files.

[2016-11-08 08:01] patriknw commented on #21791
@hlavki do you have a suggestion of how to fix it?

[2016-11-08 08:06] patriknw commented on #21796
Looks like it's in progress here: https://github.com/real-logic/Aeron/pull/288

[2016-11-08 08:10] 2m commented on #16703
Hey Github, I said "does *not* fix "...

[2016-11-08 08:15] johanandren commented on #21780
https://jenkins.akka.io:8498/job/akka-nightly/3851/consoleFull

[2016-11-08 08:18] johanandren opened #21809 "FAILED PersistentClusterShardingWithEntityRecovery"
https://jenkins.akka.io:8498/job/akka-multi-node/1822/consoleFull

[code]

[2016-11-08 10:05] johanandren opened #21810 "FAILED akka.cluster.Stress (Artery)"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/255/consoleFull

[code]

[2016-11-08 10:23] patriknw commented on #21780
@drewhk there might be several different issues here, but I noticed "requirement failed: Given compression map does not seem to be gap-less and starting from zero, which makes compressing it into an Array difficult, bailing out! Map was..."

in https://jenkins.akka.io:8498/job/akka-nightly/3851

Number 4 is missing in the Map, and the explanation I can see is that the actor ref is duplicated. Some

[2016-11-08 10:24] drewhk commented on #21780
@patriknw I noticed, but the two can be very well related so currently I treated these as the same bug (until evidence points elsewhere)

[2016-11-08 10:27] drewhk commented on #21780
btw, rather scary bug. Better fix this before investigating other failures. Any issues with compression can lead to totally crazy behavior.

[2016-11-08 10:29] patriknw commented on #21780
I agree, this is a bug

[2016-11-08 14:22] patriknw commented on #21518
I looked at this, but I was not able to find an explanation. It seems like the region on the second node continues to forward messages to the first node even though the first node has been removed from the cluster. Ordinary `watch` between the regions should take care of that.

[2016-11-08 16:51] johanandren commented on #21804
It can only happen if `onPush`, `onUpstreamFinish` or `onUpstreamFailure` happens before `preStart` is called as far as I can understand, but how is that possible?

[2016-11-08 16:53] drewhk commented on #21804
That is not possible. Unless bug but that is unlikely here.

2016. nov. 8. 17:51 ezt írta ("Johan Andrén" <notifications@github.com>):

[2016-11-08 19:50] wsargent commented on #21740
Fair enough -- reseeding from urandom every 2^48 requests as per SP800-90 should be fine.

[2016-11-08 20:50] fchaillou commented on #20503
Hello,
I just wanted to add that even using the CallbackWrapper, there is still an issue in case of error in the stream.
Let me explain this a bit :
I'm using a copy of the `Valve` component in akka-stream-contrib that returns as its materialized value a `ValveSwitch` that allows to pause and resume a stream with its `flip` method.

In case of an error, there is a delay before the error is propaga

[2016-11-09 04:19] gosubpl commented on #21740
Yes. I will get around to submitting PR this weekend. Will do AES-CTR with 2^48 bytes re-seeding and then we can hopefully continue the discussion from there.

[2016-11-09 07:38] patriknw commented on #21375
problem occurs when network is offline, I have fixed it in https://github.com/akka/akka/pull/21816

[2016-11-09 09:32] johanandren commented on #21804
As far as I can see there can not be any async callback going on from the `InputStreamAdapter` to the stage until the `InputStreamSinkStage`. It does nothing in the constructor and read directly calls `executeIfNotClosed` which calls `waitIfNotInitialized` where it finds out that `Initialized` is not the first message in the queue.

[2016-11-09 09:42] drewhk commented on #21804
Also, the `chaseCounter` starts with a zero value, so no chasing can happen in the initialization phase, only after we enter through `execute()`. So there is no bug there.

[2016-11-09 09:42] drewhk commented on #21804
Try to reproduce this somehow, maybe with fuzzing on, and enable debug logging on the interpreter.

[2016-11-09 09:49] drewhk commented on #21780
So these failures (there are two kinds) are likely related to threading issues discussed in https://github.com/akka/akka/issues/21812 . I conclude that https://github.com/akka/akka/issues/21475 supersedes now this ticket. We can reopen this if failures happen again.

[2016-11-09 09:49] #21780 closed

[2016-11-09 10:24] drewhk commented on #21740
Please benchmark it with shorter reseed cycles. We can pick the reseed cycle that does not introduce performance bottleneck anymore. I expect that can be much shorter than 2^48 bytes.

[2016-11-09 12:14] johanandren commented on #21804
I have been running hundreds of thousands of requests with something looking like the original scenario (running the `InputStreamSinkStage` on the http response entity) with all kinds of varying parameters I can think of: fuzzing/no fuzzing, asynch boundaries/fusing, slow responses (throttling, delaying start), chunked responses, strict responses, input buffer size.

I have not been able to reprod

[2016-11-09 13:04] chauhraj commented on #18982
I too got this issue in `akka-http 2.4.11`. I am not doing anything fancy but just calling `Source.single(request)` to akka http server. In my case, akka-stream is just a blackbox.

Under what circumstances, will I see this error?

However, when this exception happened, I also see another exception that occurred prior to this.

`akka.stream.StreamTcpException:` Tcp command [Connect(<server-host-na

[2016-11-09 13:08] chauhraj opened #21818 "No elements passed in the last 1 minute."
In `akka-http v2.4.11`, I got this following exception:-

`
java.util.concurrent.TimeoutException: No elements passed in the last 1 minute.
        at akka.stream.impl.Timers$IdleTimeoutBidi$$anon$7.onTimer(Timers.scala:160)
        at akka.stream.stage.TimerGraphStageLogic.akka$stream$stage$TimerGraphStageLogic$$onInternalTimer(GraphStage.scala:1152)
        at akka.stream.stage.TimerGraphStageLo

[2016-11-09 16:04] devzer01 opened #21819 "Expect: 100-Continue is not functioning as expected"
I have used the following code (at bottom) to boot up a akka http server and i am unable to verify that the support for header `Expect: 100-Continue` is working as expected.

I am using akka-http 2.4.7

[code]

once booting up the server i have executed the following sequence

[code]

as you can see akka is not sending the correct response. making the same request to apache running on my localhost

[2016-11-09 16:25] johanandren commented on #21819
Hi @devzer01, Akka HTTP has split of to a separate repository with a separate bugtracker, please report this in that repository instead: https://github.com/akka/akka-http/issues
Thanks!

[2016-11-09 16:26] johanandren commented on #21818
Hi @chauhraj, the Akka HTTP project has split of into a separate repository, please report over here instead https://github.com/akka/akka-http/issues

Thanks!

[2016-11-09 16:26] #21818 closed

[2016-11-09 16:26] #21819 closed

[2016-11-09 16:36] #21375 closed

[2016-11-09 16:59] devzer01 commented on #21819
ok @johanandren thanks will do

[2016-11-09 19:14] #21743 closed

[2016-11-10 01:39] ktoso commented on #21795
Also not really the right place to report these things I think.
Closing - if you could prep self contained reproducer that shows Akka leaks that would be something, but so far I think same as Endre - that part is very unlikely to be leaking.

[2016-11-10 01:39] #21795 closed

[2016-11-10 07:38] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly/3856/consoleFull

[2016-11-10 16:09] jrudolph commented on #20228
Cleaning up things in TLSActor I came across this issue. I need a bit of clarification to prevent that I undo your fix in the process.

Do I understand correctly: `createDefaultClientHttpsContext` creates only one mutable instance of `SSLParameters` and puts this instance into the `firstSession = NegotiateNewSession()` of potentially multiple instantiations of a TLS stage. This means that all thos

[2016-11-10 21:39] markvandertol commented on #20228
That is correct. The TLSActor had to alter the SSLContext to apply the SNI settings for that specific connection, but since this SSLParameters instance was shared between multiple actors a race condition occurred. Two actors indeed altered the same SSLParameters instance at once.

[2016-11-11 07:45] johanandren commented on #21799
https://jenkins.akka.io:8498/job/akka-nightly/3859/consoleFull

[2016-11-11 11:39] johanandren commented on #21810
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/260/consoleFull

[2016-11-11 11:43] johanandren opened #21823 "ClusterSingletonManagerLeaveSpec with artery"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/261/consoleFull

[code]

[2016-11-11 11:57] hlavki commented on #21791
I don't know how to fix this yet, but I know that it is result of adding `com.typesafe.sslconfig.akka.*` to export packages (line 88 of project/OSGi.scala)

[2016-11-11 14:30] johanandren opened #21824 "A PersistentActor does not get the causing message to preRestart"
As described in this SO question:
http://stackoverflow.com/questions/40507142/how-to-get-message-causing-restart-in-akka-persistence

the `aroundPreRestart` of a `PersistentActor` does not pass the causing message to `preRestart` of the actor. Seems to be an oversight.

[2016-11-11 16:21] #21726 closed

[2016-11-12 14:36] naferx commented on #21824
Hi @johanandren,
I would like to contribute with it.

[2016-11-12 19:02] johanandren commented on #21824
@naferx awesome, go ahead!

[2016-11-12 21:12] manonthegithub commented on #21314
I just trying to implement this, but I've got problem. If I try to add overloading function like this:
[code]

 I get compiler Error:
[error] /Users/Kirill/IdeaProjects/akka/akka-stream-testkit/src/test/scala/akka/stream/testkit/TestPublisherSubscriberSpec.scala:57: missing parameter type for expanded function
[error] The argument types of an anonymous function must be fully known. (SLS 8.5)
[erro

[2016-11-13 08:47] johanandren opened #21826 "Streaming marshalling and unmarshalling"
A bit vague, but for discussion (sparked by [this comment in the Alpakka repo])(https://github.com/akka/alpakka/pull/24#issuecomment-260021940):

Given that we will likely need streaming marshalling and unmarshalling in Alpakka, and also in Akka HTTP (which already has it in `JsonEntityStreamingSupport`), should we provide some common abstractions for this out of the box with Akka streams to provi

[2016-11-13 11:07] wojtasskorcz commented on #20821
Ok, so I replaced the old logic and tested the new one. Some measurements, where by "`snapshotMetadatas` call" I understand the time needed to evaluate the following expression:

    snapshotMetadatas(persistenceId, criteria).sorted.takeRight(maxLoadAttempts)

- for 1000 actors
  * old `snapshotMetadatas` call takes ~6ms
  * new `snapshotMetadatas` call takes ~2.2ms
  * recovering all actors with

[2016-11-13 11:47] ktoso opened #21828 "warnOldDocs.js must be aware of akka-http move"
As reported by Devon Stewart @blast-hardcheese http://doc.akka.io/docs/akka/2.4.9/scala/http/routing-dsl/routes.html

[2016-11-13 11:59] Hawstein opened #21830 "Use SimpleLinearGraphStage to reduce the boilerplate code"
Since we have `SimpleLinearGraphStage`, we can use it, instead of `GraphStage[FlowShape[T, T]]`, to reduce the boilerplate code.

[code]

[2016-11-14 06:44] hepin1989 commented on #21830
More consistence.

[2016-11-14 10:01] drewhk commented on #21810
Another two of the "one-by-one" case, but now

[code]

on both.

https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/265/consoleFull
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/263/consoleFull

[2016-11-14 14:13] 123avi opened #21832 "weird exception when sending fast messages"
akka version   = "2.4.10"
scalaVersion  := "2.11.8"

I tried to run simple test
[code]
the Actor receive method:
`  case FooMessage(foo) =>  sender() ! true`

I am getting:
An exception or error caused a run to abort:

however if I add minimal delay it works fine:
[code]

[2016-11-14 14:35] ktoso commented on #21832
Does not seem like an akka issue - a missing method on scalactic - make sure you have all dependencies correct.

[2016-11-14 14:35] #21832 closed

[2016-11-14 16:27] craffit opened #21833 "BroadcastHub does not complete a materialised source after completion"
The javadoc documentation of BroadcastHub.sink says it will "remember" when a source has completed, such that when the source is materialised after completion the newly materialised source will see the completion state. However, in the following scenario this does not seem to be true:

REPRODUCE:
[code]

EXPECTED:
Test passes

OBSERVED:
Timeout on waiting for the second completion message

[2016-11-14 16:56] naferx commented on #21830
I think for Akka users, it would be very useful to have it in the akka streams public api and for consistency reasons something like this is needed.
 `abstract class SimpleSourceStage[T] extends GraphStage[SourceShape[T]] {
    val out = Outlet[T](Logging.simpleName(this) + ".out")
    override val shape = FlowShape(out)
  }`

@Hawstein WDYT ?

// c.c @ktoso

[2016-11-14 16:58] ktoso commented on #21830
I really wanted these `Simple[Source/Flow/Sink]Stage` at some point but it was voted down, as to have only a single API entry point. Up for another vote I guess or for @patriknw to decide.

[2016-11-14 17:28] patriknw commented on #21830
Could it be a factory method with a `() => GraphStageLogic` parameter instead?

[2016-11-14 17:31] johanandren commented on #21830
Wouldn't that make things impossible for the gearpump people, don't they depend on the stage types to figure out what stage is what?

[2016-11-14 17:35] johanandren commented on #21830
BTW I'm in the "three lines of saved code in a class isn't worth an abstraction camp".

[2016-11-14 17:58] johanandren commented on #21833
Thanks for reporting and providing a reproducer!

[2016-11-14 18:04] johanandren commented on #21806
Hi @cywattebled

Note that the docs [explicitly recommends to not use the sync TestActorRefs](http://doc.akka.io/docs/akka/2.4.12/java/testing.html#Synchronous_Unit_Testing_with_TestActorRef) whenever possible. `TestProbe` should cover all your needs for "interrogating" for received messages and "mocking" message exchanges. I strongly recommend you to do that over relying on `TestActorRefs` when t

[2016-11-14 18:25] Hawstein commented on #21830
I agree with @johanandren . I create this issue and PR just to simplify the existing build-in stage with the existing internal API, not for a new public API.

[2016-11-14 18:52] naferx opened #21834 "Provide Simple[Source/Flow/Sink]Stage in the public API"
The discussion comes from https://github.com/akka/akka/issues/21830

//c.c @ktoso  @patriknw @johanandren

[2016-11-14 18:54] naferx commented on #21830
You're right @Hawstein. The discussion is out of the scope of this issue. I filed a ticket for keep the discussion [here](https://github.com/akka/akka/issues/21834).

[2016-11-14 19:04] johanandren commented on #21834
Original discussion was #19156

I stand by my point from then, providing many many "simplifiers" that actually saves so little boilerplate is much worse than having a clear more advanced abstraction to express all of them (like now with the shape type parameter and two graph stage types to build on).

[2016-11-14 20:51] relgames commented on #20513
Looks like thenApplyAsync is indeed used the first time. But then JDK 8 returns native CompletableFuture so all following thenApply are actually synchronous!

I'm not sure where to find jdk8 source (you can open it form your local JDK I guess), this is the best I could find:
https://github.com/frohoff/jdk8u-jdk/blob/master/src/share/classes/java/util/concurrent/CompletableFuture.java#L1991
https:/

[2016-11-14 22:07] ktoso commented on #21834
Here's a tangible reason for making it simpler: https://github.com/akka/akka-http/pull/512/files
The number of stages that had a different style in naming etc. in / out are good names for flow, otherwise people end up giving them inconsistent names, as whitnessed even by our own codebase (see above).

[2016-11-14 22:07] ktoso commented on #21834
To counter my own example, it'd be a pain to do java api for those... since all need a version with logging etc

[2016-11-14 22:08] ktoso commented on #21834
Or maybe they don't need those hm...

[2016-11-14 22:08] ktoso commented on #21834
Sorry, mis-clicked

[2016-11-15 03:23] agolubev opened #21836 "Move AkkaSpec and StreamSpec to testkit(s) main"
As they really not testing anything but can be used for alpakka's stage testing

[2016-11-15 09:31] epiphyllum opened #21837 "sample project akka-sample-camel-scala run error"
[code]

[2016-11-15 09:32] epiphyllum commented on #21837
I changed  version of some artifacts

name := "akka-sample-camel-scala"

version := "2.4.11"

scalaVersion := "2.11.8"

libraryDependencies ++= Seq(
  "com.typesafe.akka" %% "akka-actor" % "2.4.11",
  "com.typesafe.akka" %% "akka-camel" % "2.4.11",
  "org.apache.camel" % "camel-jetty" % "2.10.3",
  "org.apache.camel" % "camel-quartz" % "2.10.3",
  "org.slf4j" % "slf4j-api" % "1.7.2",
  "ch.qos.log

[2016-11-15 10:35] relgames commented on #20513
More info for the future PR https://gitter.im/akka/akka?at=582adfc3e097df7575b349e5

[2016-11-15 11:13] jrudolph opened #21838 "ByteStringParser doesn't backpressure"
It uses `emit` which will buffer outgoing elements and will instantly call `pull` in a loop. It should instead properly propagate backpressure from the outgoing side to the input (with buffering input data as much needed).

[2016-11-15 11:31] drewhk commented on #21838
It seems like the case when the parser reports NeedMoreData we call pull() immediately, which does not wait on the pending emit chain. One simple fix is to have the pull() at the end of the emit() chain instead. The best fix is to remove emit() altogether and use the usual push()-onPull() dance.

[2016-11-15 11:46] drewhk commented on #21810
[JVM-11] - must join several nodes to seed nodes *** FAILED *** (42 seconds, 963 milliseconds)

https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/268/consoleFull
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/269/consoleFull

[2016-11-15 11:47] drewhk commented on #21810
These are after the comperssion fix, so that is not the culprit here.

[2016-11-15 11:54] drewhk opened #21839 "TcpSpec: must handle when connection actor terminates unexpectedly"
https://jenkins.akka.io:8498/job/akka-nightly/3870/consoleFull

[code]

[2016-11-15 11:59] jypma commented on #21826
One lib that I happen to have written myself that actually does streaming (un)marshalling, together with a nice mapping DSL, is [ts-reaktive-marshal](https://github.com/Tradeshift/ts-reaktive/tree/master/ts-reaktive-marshal). It does push-model marshalling and unmarshalling. The base is stream-agnostic, so it e.g. can also work on RxJava. There are adapter classes for akka, and some akka-specific

[2016-11-15 13:26] oxbowlakes opened #21840 "`ActorSystem.registerOnTermination` should document that it's important not to block on the `whenTerminated` future"
Welcome to Scala 2.12.0 (Java HotSpot(TM) 64-Bit Server VM, Java 1.8.0_112).
    Type in expressions for evaluation. Or try :help.

    scala> import akka.actor._; import scala.concurrent._; import duration._
    import akka.actor._
    import scala.concurrent._
    import duration._

    scala> :paste
    // Entering paste mode (ctrl-D to finish)

    val s = ActorSystem("test")
    def onTerm =

[2016-11-15 14:46] johanandren commented on #21837
Incorrect camel version is the reason, Akka supports Camel 2.13.4, not 2.10.3 and camel is not binary compatible between those versions.

Do you think you could provide a PR updating the version in akka-sample-camel-scala and akka-sample-camel-java?

[2016-11-15 14:56] johanandren commented on #21840
I could have sworn`onTermination` was deprecated along with the `awaitTermination` methods.
You up for a PR adding this to the two `onTermination` methods?

(Additionally: It is important to not block any future unless running on an explicitly selected dispatcher for blocking. _never_ `Await.result`, and if you do _never_ use `Duration.Inf`)

[2016-11-15 15:20] johanandren commented on #21836
They do contain a bunch of Akka internals specifics and tie into `ScalaTest` though, testkit should be test framework agnostic?

I think it would be better to just copy whatever is needed to a common Alpakka test-module?
(cool new profile pic btw)

[2016-11-15 15:22] patriknw commented on #21836
I agree, not possible to have in testkit

[2016-11-15 15:37] agolubev commented on #21836
I see. My point is that StreamSpec is base class for testing Streams and Stages so akka-stream-testkit will be useful (as S3 does have some stages to test).
Still let me know if I need to close current ticket.

[2016-11-15 17:48] #21528 closed

[2016-11-15 23:37] ktoso commented on #19278
Seems this was solved

[2016-11-15 23:37] #19278 closed

[2016-11-16 00:32] SubhraB opened #21841 "Issue using LeveldbStore with ProtobufSerializer"
I am facing issue using the below classes for serialization with actor persistence.

"akka.persistence.journal.leveldb.LeveldbStore" and "akka.remote.serialization.ProtobufSerializer"

In the ProtobufSerializer class, I noticed that a 'non-static' method called 'toByteArray' is expected for serialization and a 'static' method called 'parseFrom' is expected for deserialization.

Now I have a case c

[2016-11-16 08:44] oxbowlakes commented on #21840
These methods are not deprecated as far as I can see. As of 2.4, isTerminated was deprecated in favour of whenTerminated.

As for the blocking, I thought that Await used 'concurrent.blocking' internally do as to guarantee that you couldn't starve a thread pool.

Chris

[2016-11-16 09:40] drewhk commented on #21810
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/270/consoleFull

[2016-11-16 09:41] johanandren commented on #21840
Yeah, was thinking my surprise about it not being deprecated out loud there. :)

`Await` does use `blocking`, it is hovewer up to the `ExecutionContext` (defined by the `BlockContext` trait) to act on that, thread pool based execution contexts will just ignore the blocking - and starve the threadpool, fork join pool (the default dispatcher) will fork compensating threads, so with that you get unbo

[2016-11-16 09:45] johanandren commented on #21841
Hi @SubhraB, the `akka.remote.serialization.ProtobufSerializer` is an internal serializer, it knows how to serialize the internal messages used in Akka, it does not know how to serialize your own types, for this you will have to define your own serializer or use one of the third party serializers, see the docs for details: http://doc.akka.io/docs/akka/2.4/scala/serialization.html#External_Akka_Ser

[2016-11-16 09:45] #21841 closed

[2016-11-16 11:05] drewhk commented on #21838
Er, this goes to akka-http instead...

[2016-11-16 17:57] patriknw opened #21842 "no way to signal load snapshot failure"
Snapshots are an optimization to reduce recovery time and therefore the thought has been that it doesn't matter if snapshot could not be loaded.

However, when events are deleted it's not safe to just replay the remaining events. It can result in starting the actor with inconsistent state, since some information was lost (removed).

We need to add `LoadSnapshotFailure` message and use that in the

[2016-11-16 19:10] nykolaslima opened #21843 "akka http - singleRequest throws NullPointerException for uri not encoded"
If we create a `HttpRequest` with an `uri` not encoded and then call `singleRequest` method it will throw a `NullPointerException`.

example:
[code]
throws:
[code]

If we use the same code with the uri encoded it works ok:
[code]

[2016-11-16 20:05] rbudzko opened #21844 "Keep could define `other` function"
`Keep` could define fifth strategy called `other`.

Signature could be:
[code]

An example usage would be:
[code]
@ktoso mentioned that `Keep` is used to optimize stuff, but having `Future(Done)` returned when all stages completed (stream done) would be very convenient, but if optimized in a some way as `none` it would probably immediately return the `value`- that is not what one would probably ex

[2016-11-16 20:31] #21674 closed

[2016-11-16 20:32] #21718 closed

[2016-11-16 20:32] #21535 closed

[2016-11-17 08:28] johanandren commented on #21844
As the second parameter list takes a function `(L, R) => M` you can easily already pass do `(_, _) => Something` to it to achieve the same, I think it is really uncommon and not useful enough to warrant a shortcut.

Note that your sample `Future(Done)` will not complete when the stream is complete, it will materialize a future that completes right away.

[2016-11-17 08:29] johanandren commented on #21843
Hi @nykolaslima, the Akka-HTTP bugtracker has moved over here: https://github.com/akka/akka-http/issues

Please reopen the ticket there, thanks!

[2016-11-17 08:29] #21843 closed

[2016-11-17 09:39] drewhk opened #21847 "ClusterSingletonManagerLeaveSpec (with classic remoting)"
https://jenkins.akka.io:8498/job/akka-nightly/3876/consoleFull

[code]

[2016-11-17 09:40] drewhk commented on #21847
might or might not be related to https://github.com/akka/akka/issues/21823

[2016-11-17 09:47] drewhk commented on #21810
I stopped pinging this.

[2016-11-17 09:55] drewhk commented on #21844
Yeah, this does not achieve what you want. Even if you want to just override a materialized value with something else (in rare occasions this might be necessary) it is better to use `mapMaterializedValue`.

[2016-11-17 10:15] rbudzko commented on #21844
I've read some more internals to water proof stuff on my own end and obviously you are right. Just to confirm, because while looking at `toMat` vs `to` it is not self explanatory:

`.toMat(fileSink)((left: NotUsed, right: Future[IOResult]) => right.map(_ => Done)` will be slower then `.to(fileSink)(Keep.right).mapMaterializedValue(_.map(_ => Done))`.

It seems like a very common situation that I w

[2016-11-17 10:18] drewhk commented on #21836
I think this should be closed. While this means a bit of duplication, we tend to mess around with these traits  (adding stuff, usualyl) and hence it is not a good idea to expose it. What I can imagine is to provide a baseclass that can go to testKit, from which AkkaSpec inherits (likely not changing anything at this point).

[2016-11-17 10:18] #21836 closed

[2016-11-17 10:25] drewhk commented on #21833
Hm, we have a similar test:

[code]

There seems to be a race which is covered by your test but not mine. Thanks for reporting!

[2016-11-17 10:31] jrudolph commented on #16830
The basic feature requested in the beginning was merged into akka-http as https://github.com/akka/akka-http/pull/523.

I think something like pcap idea would also be nice but would require significant effort. So I'm closing this here as fixed for now.

[2016-11-17 10:31] #16830 closed

[2016-11-17 10:33] jrudolph opened #21849 "Make compression parameters configurable"
With https://github.com/akka/akka/pull/21409/files streaming (de)compression stages are now available. It would be nice if more aspects of them could be configured via a separate entrypoint:

 * compression level
 * compression strategy
 * flush mode

[2016-11-17 10:37] drewhk commented on #16830
But something like this can be useful for any ByteString streams I think.

[2016-11-17 10:38] ktoso commented on #16830
Yeah, the printing itself would be fun to bring back to akka/akka.
Shall I open a ticket?

[2016-11-17 11:02] jrudolph opened #21850 "Move more comprehensive (de)compression tests over from akka-http"
Follow up to #21395 / #21409.

Right now only very simple tests verify the current behavior.

[2016-11-17 11:29] prettynatty opened #21852 "Docs or logic bug in Source.queue behavior"
`Source.queue` doc says that if bufferSize is 0 the overflowStrategy does not matter.
At the same time `SourceQueue.offer` doc says:

Indeed, `offer` throws `IllegalStateException("You have to wait for previous offer to be resolved to send another request")` when called on `Source.queue` with zero buffer and `OverflowStrategy.backpressure`.

[2016-11-17 12:25] ktoso opened #21854 "Remove manual hostname verifier support, used to be included only because Java 6"
We allow the inclusion of a manual hostname verifier - https://github.com/akka/akka/pull/21822/commits/6587909c03b5ea70276fafbf185f109e4b98303d#diff-6d7ec862db8ee5b268a941ae55c6d6ccR105

This was pretty much only because Java6 didn't do that so we'd verify manually.
Since we require Java 8 now that is handled by the built in hostname verification, and the manual one has less of a purpose. I think

[2016-11-17 13:07] drewhk commented on #21475
I am handing this back, not sure when I will get to this.

[2016-11-17 13:11] #21824 closed

[2016-11-17 13:22] #21844 closed

[2016-11-17 14:11] drewhk commented on #21833
Yep, it was a race. Have a fix now.

[2016-11-17 14:51] #21774 closed

[2016-11-17 14:55] ktoso opened #21856 "Amend documentation about adding custom operations on FlowOps"
With Scala 2.12 the crazy type-level-hack-workaround as discovered by @rkuhn back in the days is not needed anymore.
We pointed it out here: http://doc.akka.io/docs/akka/rp-current/scala/stream/stream-customize.html#Extending_Flow_Combinators_with_Custom_Operators

With 2.12 we can show off that:

[code]

via @viktorklang

[2016-11-17 15:54] rkuhn commented on #21856
WOOT!

[2016-11-17 15:56] viktorklang commented on #21856
@rkuhn Yeah, glad I finally got around to verifying the partial unification fix :)

[2016-11-17 15:57] viktorklang commented on #21856
[code]

[2016-11-17 16:37] ktoso commented on #21475
Note: A related fix was merged for 2.4.13, however this ticket remains valid to properly solve the issue.

[2016-11-17 17:55] johanandren opened #21858 "Add Java 8 Testkit API"
The Java testkit does all kinds of tricks to achieve what the Scala testkit does, we should make use of the Java 8 lambdas and introduce a nicer Java testkit.

[2016-11-17 17:57] patriknw commented on #21858
+1
I think this would be an excellent community contribution if someone is looking for something fun and very useful.

[2016-11-17 21:43] ktoso commented on #21395
Great work, thanks @liff !
Now for the Akka HTTP side of it tomorrow :)

[2016-11-18 01:50] lilac opened #21861 "Turning off auto-fusing make Http.singleRequest not working"
While debugging an issue of `Http.singleRequest` hang (timeout), I finally found that is caused by `auto-fusing` turned off. This is quite a surprise. Below is the snippet that reproduces this unexpected behaviour (or bug).

[code]

When auto-fusing is switched on, the request succeeds and the response got printed. But when it is off, the future never got complete, causing it hangs forever or time

[2016-11-18 08:02] drewhk commented on #21861
Hi @lilac, this looks like a weird issue indeed. The ticket needs to be moved though as Akka HTTP is now a separate project: https://github.com/akka/akka-http

[2016-11-18 09:13] #21830 closed

[2016-11-18 09:13] ktoso commented on #21861
Thanks for reporting,
Please report akka-http issues in akka-http, I moved the ticket.

[2016-11-18 09:13] #21861 closed

[2016-11-18 09:15] #20821 closed

[2016-11-18 09:20] johanandren opened #21863 "Introduce a lazy source"
That takes a `Source` but does not materialize it until there is downstream demand.

[2016-11-18 09:24] schmitch opened #21864 "asOutputStream never completes if close is called with bufferSize > 0"
Actually `StreamConverters.asOutputStream` did actually never complete the stage (and thus hanging forever) if the bufferSize was greater than zero when calling `close()` on the outputStream.

[2016-11-18 09:24] #21833 closed

[2016-11-18 09:52] #21842 closed

[2016-11-18 09:53] drewhk opened #21865 "Implement a way to properly prune ByteString ropes as an alternative to compacting"
If one "shifts" a ByteString buffer, and there is enough overlap, then it might end up building a tree of retained ByteStrings where some of the content are already not contained in the buffer. I propose an alternative method (name is to be decided, for now I will refer to it as `prune()`) that keeps most of the tree, but removes chunks that are no longer contained in the range of the top ByteStri

[2016-11-18 09:53] #21804 closed

[2016-11-18 09:54] #21838 closed

[2016-11-18 10:12] patriknw commented on #21858
also check that stream-testkit has a good api, e.g. lambda for `within`

[2016-11-18 10:19] johanandren opened #21867 "Update dependency of scala-stm to 0.8"
So that we can release the agents module also for Scala 2.12

[2016-11-18 10:44] drewhk commented on #21395
Yaaaaay!!

[2016-11-18 11:34] #21847 closed

[2016-11-18 12:02] patriknw commented on #21823
I see no reason why this would be different for Artery, so assuming it is fixed by https://github.com/akka/akka/issues/21847

[2016-11-18 12:02] #21823 closed

[2016-11-18 12:07] patriknw commented on #21810
Marked it as pending for Artery until we fix it https://github.com/akka/akka/pull/21869

[2016-11-18 12:35] drewhk commented on #21810
There were several new failures of the "one-by-one" kind but they all look the same.

[2016-11-18 12:39] drewhk opened #21870 "FAILED: sample.distributeddata.ReplicatedMetricsSpec"
https://jenkins.akka.io:8498/job/akka-multi-node/1834/consoleFull

[code]

[2016-11-18 12:40] drewhk commented on #21870
Can be related to: https://github.com/akka/akka/issues/21651 ?

[2016-11-18 13:06] patriknw commented on #21870
MetricsBasedResizerSpec is related to routers, ReplicatedMetricsSpec is distributed data

[2016-11-18 13:17] drewhk commented on #21870
I was thinking if the router depends on the replicated metrics. But if not then it is unrelated.

[2016-11-18 16:17] BayStallion commented on #21839
I'd like to take this one.

[2016-11-18 16:43] ktoso commented on #21839
Thanks, please go ahead :)

[2016-11-18 18:04] Hawstein commented on #21858
I would like to take this issue. However I can not promise an ETA since I am very busy. Is it OK?

[2016-11-19 09:42] patriknw commented on #21858
That would be awesome. This will make a big difference for all Java users. Thanks.

[2016-11-19 11:01] Hawstein commented on #21858
So, As far as I know, what I am going to refactor is just `akka.testkit.JavaTestKit`. As for stream-testkit, the Java DSL is delegated to the Scala one.

[2016-11-19 11:15] patriknw commented on #21858
We must keep the old, deprecate it before removal. It might be best to create the new with a new name.

Is the old implemented in java? That is not a requirement if you prefer to implement it in Scala.

[2016-11-19 13:18] jrudolph opened #21873 "ByteStringParser stage may get stuck"
This was detected during releasing akka-http where compression tests (and others) started to fail using the new ByteStringParser stage.

[2016-11-20 16:32] bdtrunks opened #21874 "Change addr to address"
I am new to the project and would like to begin contributing since I use akka at work. I have been looking through the source code to become more familiar with it and I noticed there are some areas where abbreviations are used instead of the fully spelled out name. This normally would not be an issue, however  both the abbreviation and the full spelling are used. I would like to update the abbrevi

[2016-11-20 16:57] mboogerd opened #21875 "Add support for Delta-CRDT"
The paper "Delta State Replicated Data Types" from Paulo, Shoker, Baquero describes a number of Delta-CRDTs which are more efficient in their state-dissemination:

- Grow-only set
- 2P (two-phase) set
- Add-wins last-writer-wins set
- Positive-Negative counter
- Lexicographic counter
- Enable-wins flag
- Multi-value register
- Add-wins set
- Remove-wins set
- Observed-removed map

I have implement

[2016-11-20 17:28] patriknw commented on #21874
Hi @bdtrunks, your contributions are much welcome. Please open a pull request and we can discuss the details of addr.

[2016-11-21 08:19] patriknw commented on #21875
This is very interesting, @mboogerd
I have read the delta-CRDT paper several times and think it would be excellent to add support for that in Akka Distributed Data (DData), but I have never got around to implementing any of it. Looking forward to review your code and guide you.

Currently we have GSet and PNCounter, so those are interesting as delta-CRDTs also. Lexicographic counter sounds interes

[2016-11-21 10:36] patriknw commented on #21852
Sounds like inconsistencies in the documentation. Would you like to submit a pull request that is fixing this, @prettynatty ?

[2016-11-21 10:46] patriknw commented on #21806
I agree with @johanandren

[2016-11-21 10:46] #21806 closed

[2016-11-21 10:48] patriknw commented on #21796
I assume it's fixed in Aeron 1.0.4 and then this should be fixed in Akka 2.4.14

[2016-11-21 10:48] #21796 closed

[2016-11-21 10:51] patriknw commented on #21567
@jypma Did you see the reply here? Can we close the issue?

[2016-11-21 10:55] patriknw commented on #21772
This was fixed in https://github.com/akka/akka/pull/21778

[2016-11-21 10:55] #21772 closed

[2016-11-21 10:56] #21680 closed

[2016-11-21 10:57] patriknw commented on #21681
ping, @drewhk

[2016-11-21 11:10] jypma commented on #21567
If this is the recommended approach, does it make sense to move it to the docs / cookbook / sth?

[2016-11-21 11:17] johanandren commented on #20284
I'll close it based on thinking that.

[2016-11-21 11:17] #20284 closed

[2016-11-21 11:56] mboogerd commented on #21875
@patriknw, you're right, getting delta-CRDTs to work in DD should be the first challenge. I'll try to create something that is useful to review in the next few weeks.

[2016-11-21 12:03] #21867 closed

[2016-11-21 12:09] #21658 closed

[2016-11-21 12:11] patriknw commented on #21875
thanks, just ping me if you have any questions

[2016-11-21 12:22] edenfisher opened #21878 "NoSuchMethodError when creating new ActorSystem"
Hello,
I'm trying to create a simple rest api with akka http(wrapping a spark job submission).
I just cant make the akka library seamlessly . I have 2.4.9 version of akka, scala 2.11.7 and JDK 1.8.
Right now, I get the following error:

Any ideas?
Thanks

[2016-11-21 12:37] drewhk commented on #21878
What are the explicit versions that you use? This looks like a version mismatch somewhere.

[2016-11-21 12:41] drewhk commented on #21681
It uses the subFusingMaterializer, which simply fuses the materialization into the host actor. I believe this is either the same bug as the ignored dispatcher Attribute, or maybe just a variant on it.

[2016-11-21 12:44] ktoso commented on #21878
Very sure this will be about version mismatch - please make sure all akka modules have the same version.
Closing until provided with precise info.

[2016-11-21 12:44] #21878 closed

[2016-11-21 13:14] jrudolph opened #21879 "Improve CircuitBreaker documentation"
CircuitBreaker documentation is very sparse. Especially, the concrete use-cases are only "documentated" by pasting examples.

Apart from the general introduction to circuit breakers it should more concretely explain (in addition to just show):
 * How to use it with an actor based API?
 * How to use it with a future based API?
 * How to use it with a synchronous API?
 * How to use the low-level fea

[2016-11-21 13:46] #21850 closed

[2016-11-21 13:48] #21873 closed

[2016-11-21 13:48] ktoso commented on #21873
Fixed by https://github.com/akka/akka/pull/21872

[2016-11-21 14:04] edenfisher commented on #21878
I explicitly wrote the precise versions. Again, all akka jars are 2.11-2.4.9

[2016-11-21 14:32] drewhk commented on #21878
Can you try with Scala 2.11.8? Akka 2.4.9 was published against that version. It should not matter, but maybe the scala compiler introduced a binary compatibility break somehow. Btw, latest Akka version is now 2.4.12, please use that, there is no reason to use old patch versions.

[2016-11-21 14:47] patriknw commented on #21878
Are you sure that you are not running with Scala 2.10 for some reason?

[2016-11-21 14:48] johanandren commented on #20400
no GC pauses for the one Oct 3

[2016-11-21 15:02] drewhk commented on #21878
The stacktrace would likely also help

[2016-11-21 15:21] jrudolph opened #21880 "Add BalancingHub stream elements"
Similar to BroadcastHub but which balances elements according to a strategy to the current Subscribers.

[2016-11-21 16:59] jrudolph commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly/3882/consoleFull

[2016-11-21 17:00] jrudolph commented on #20180
https://jenkins.akka.io:8498/job/akka-nightly/3882/consoleFull

[2016-11-22 06:08] edenfisher commented on #21878
This is the stacktrace:

This is most of it.

[2016-11-22 09:16] edenfisher commented on #21878
Hey,
I also tried using the scala 2.11.8 version with  no success.

[2016-11-22 09:58] johanandren opened #21882 "Turn off java serialization warning for our tests"
We already know that we send java serialized messages in lots of tests, turning them off `akka.actor.warn-about-java-serializer-usage` would make the build output less noisy (and smaller which is nice for jenkins)

[2016-11-22 09:59] matsluni commented on #21878
Hi,

you mentioned that you wrap a spark job submission. Do you have spark on the classpath? Which version of spark do you depend on (if so)?  I think it also brings in akka as a dependency.

[2016-11-22 10:52] edenfisher commented on #21878
I tried to create another project,without any spark and I'm facing the same issues.

[2016-11-22 10:53] ktoso commented on #21878
Please provide your dependencies - by full I mean also things that might have pulled in a different version of akka etc. Pasting your build.sbt for example. I still don't think it's something Akka broke - we see these errors once in a while, and it's always some mixed up dependencies :)

[2016-11-22 11:17] edenfisher commented on #21878
Thanks @ktoso
I had some dependencies broke akka some why..
Now works 😀

[2016-11-22 11:19] ktoso commented on #21878
![](https://www.colourbox.de/preview/8229259-case-closed-grunge-blue-stamp.jpg)

😎

[2016-11-22 11:48] matsluni commented on #21878
Just for the record there is: https://github.com/jrudolph/sbt-dependency-graph where you can output your whole classpath with all dependencies. There you can see which of your dependencies pulls in other dependencies transitively.

[2016-11-22 12:51] jrudolph commented on #21624
Another one here: https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/542/consoleFull

[2016-11-22 14:55] johanandren commented on #21684
Researched that date but cannot find anything that seem relevant getting merged (the tls docs, remote deploy whitelist are the closest it gets).

That it expects 0 but gets 100 means that the entire first burst of messages got lost (it sends 5000 messages in bursts of 100), or possibly that the second burst arrived before the first.

[2016-11-22 15:40] oxbowlakes opened #21884 "Akka HTTP server seems to "hang around" after a successful unbinding (only if it has responded successfully to a query)"
The below code reproduces a really strange bug I have seen with akka-http server. We have a number of unit tests which instantiate an HTTP server and make a request of it, testing for the expected response (which may have been either a failure or a success), shutting the server down after each test. I noticed that when I added a test which made a successful response, all future tests seem to "obse

[2016-11-22 15:44] #21884 closed

[2016-11-22 16:14] oxbowlakes commented on #21884
Oops, meant to raise in akka-http, sorry

[2016-11-22 21:57] mboogerd commented on #21875
@patriknw: After having looked at the code, my first assessment in descending order of priority:

**Pruning**
Imo, this is the only part of distributed data that is not a straightforward read (kudos really, everything else looks very tidy :)); it complicates the design of both the collection CRDTs and the replicator. Unbounded growth of replica-ids can be a problem, but:
- Given that message size

[2016-11-23 09:29] #20553 closed

[2016-11-23 11:02] #21882 closed

[2016-11-23 17:05] patriknw opened #21889 "clarify that java serialization is needed for remote deployment"
e.g.

akka.actor.serialization-bindings {
    "akka.remote.RemoteScope" = java
}

For that specific class we might be able to add a serializer, but I think there are other things in remote deployment that will not be easy to serialize.

[2016-11-23 17:13] anilgursel commented on #21753
I have some confusion around how SSL settings are configured.  By looking through the code, here is what I see happening:

Here is the API for [ConnectionContext](https://github.com/akka/akka-http/blob/v10.0.0/akka-http-core/src/main/scala/akka/http/scaladsl/ConnectionContext.scala#L36):

[code]

- In `HttpsConnectionContext`, a function is defined to create a `NegotiateNewSession` instance: [`def

[2016-11-23 19:26] adarshaj commented on #19542
I see this happening again with akka-http latest version 10.0.0 with json size in the range of 100KB. Is there any workaround for this?

The nginx logs just reports this message:
[code]

Which isn't very helpful. There's no log messages on akka-http project's console.

[2016-11-23 20:38] mboogerd commented on #21875
@patriknw: Here's a gist for the style I'd propose for porting delta-CRDTs to Java-compatible Scala. It retains the composability of lattices (which is important to keep the code DRY, especially with the more complicated lattices), but does not use any implicits to derive lattice-instances for the CRDTs.

https://gist.github.com/mboogerd/28679f28a1495fcfc0ff5f373f2b9fb5

Naturally, the code contai

[2016-11-24 11:01] ktoso opened #21891 "Handle AbstractMethodError etc in the root guardian by writing "fix your akka version""
Since people often "blame Akka" if they see AbstractMethodError, whereas 99% of the cases are misconfigured dependencies. We can handle that by explaining in the log statememt

[2016-11-24 12:37] drewhk commented on #21891
I think https://docs.oracle.com/javase/7/docs/api/java/lang/IncompatibleClassChangeError.html covers all the relevant cases.

[2016-11-24 15:45] Valentin-vak opened #21892 "Cluster sharding entities are not being restarted when coordinator is moved to another node"
## Description
Started 2 nodes, manually downed the oldest one. Coordinator has been moved to the new node, recovery completed successfully, but the entities were not restarted.
This is broken only for akka versions >= 2.4.12. It works fine for 2.4.11.
The issue is most likely to due to [this commit](https://github.com/akka/akka/commit/141318e60a3b0802fbf2537829f883f5491cd97a)

## Versions
akka >=

[2016-11-24 19:47] patriknw commented on #21875
@mboogerd Thanks for good starting points for discussion here. I think your suggestions sounds good.

I agree. I'm not happy with that part. We can absolutely try to find other solutions or conclude that it's not needed. Especially since I recently found some issues with the implementation, see https://github.com/akka/akka/issues/21647

In what why would persistence solve the issue. I would say th

[2016-11-25 09:30] patriknw opened #21894 "API for ActorSystemSettings"
To support compile time [dependency injection of serializers](https://github.com/lagom/lagom/issues/272) in Lagom we need a programatic API to define serializers. There might be more such settings (in the future) so we should make a general solution.

We discussed a solution to add such settings to a new `ActorSystem.apply` method. They could be defined in a similar way as extensions so that there

[2016-11-25 15:26] #21863 closed

[2016-11-25 15:55] Chuwiey commented on #21047
Any notes/preferences on where such documentation should go?

[2016-11-25 16:03] patriknw commented on #21892
@Valentin-vak Thanks for reporting. You are right that "request ignored, because not all regions have registered yet" comes from that commit. I have not tried to reproduce yet, but when looking at the code I'm surprised that it's not started when the registration arrives, https://github.com/akka/akka/blob/master/akka-cluster-sharding/src/main/scala/akka/cluster/sharding/ShardCoordinator.scala#L449

[2016-11-25 16:05] Valentin-vak commented on #21892
I have not set min-members, so i suppose its = 1

[2016-11-25 16:10] johanandren commented on #21894
I'd like to pick this one up next week.

[2016-11-25 16:10] patriknw commented on #21892
right, I'll take a closer look at this next week.

No other interesting logging after "ShardRegion registered"?

[2016-11-25 16:31] patriknw commented on #21537
We discussed a solution for this. Introduce some kind of `CoordinatedShutdown` manager in akka-actor where different modules can register their "shutdown hook" (might need both graceful and forceful hooks). Need dependencies between modules for sequential shutdown steps in right order (probably just with string identifiers). Might also need different phases?

[2016-11-25 16:37] Valentin-vak commented on #21892
No. After ShardRegion registered it proceeds normally.
Thanks!

[2016-11-25 16:40] patriknw commented on #21892
ok, but still not started after that? I expected that it would start after the registration.

[2016-11-25 17:30] Valentin-vak commented on #21892
No. Just tried to reproduce it locally. Previously we had only 1 shard region, and it was working as I described. Now we added another region and after recovery I can see the following log:
[code]
If I remove the second shard region, nothing happens after "ShardRegion registered"

[2016-11-25 19:47] jlprat commented on #15055
If this is still relevant, I would like to take this issue :)

[2016-11-25 20:17] patriknw commented on #15055
We are actually going to deprecate agents in 2.5 and eventually remove it. If you are interested in maintaining Agents it could be an excellent  small library outside of Akka core.

[2016-11-25 20:19] jlprat commented on #15055
Actually, I was now checking, and this issue already "done". As of Scala 2.12, Function1 can be written with a Java lambda.

[2016-11-25 20:20] jlprat commented on #15055
I could update the docs, if you want. I will think about maintaining it as an outside library

[2016-11-26 09:30] mboogerd commented on #21875
You're right, persistence doesn't solve anything with respect to the unbounded growth. Persistent storage simply is some orders cheaper, making the problem less costly. In fact, I suspect it is cheap enough to prevent it from being an issue for the majority of cases. But of course, I could be wrong there, as I have little practical experience.

My previous points 1 (atomic-broadcast) and 3 (direct

[2016-11-26 11:11] ktoso commented on #21047
It could be mentioned on http://doc.akka.io/docs/akka-http/current/scala/http/server-side-https-support.html but also in github.com/typesafehub/ssl-config

[2016-11-26 13:09] patriknw commented on #21875
Let's say that we have a GCounter with 10 new participating nodes per day (in an elastic cluster nodes are added and removed). Currently the node identifier is a `UniqueAddress`. I have not checked what size a typical address has, but let's say that it's 100 bytes. That means that after one year the GCounter has grown to 10 * 365 * 100 = 265,000 bytes.

We could reduce the impact by using a more c

[2016-11-26 14:37] patriknw commented on #21875
Let's continue discussion of unbounded growth in https://github.com/akka/akka/issues/21647 and not worry too much about that here.

[2016-11-27 10:23] #21763 closed

[2016-11-27 10:24] #17970 closed

[2016-11-27 10:29] fommil opened #21895 "regression: noisy logging in akka 2.4.x"
when upgrading from akka 2.3 to 2.4 in https://github.com/ensime/ensime-server we get a **lot** of this kind of thing in our stdout in CI

[code]

this despite having set up slf4j and everything working nicely going to files before, e.g.

- https://github.com/ensime/ensime-server/blob/2.0/core/src/main/resources/application.conf
- https://github.com/ensime/ensime-server/blob/2.0/core/src/test/reso

[2016-11-28 07:50] patriknw commented on #21895
@fommil Are you sure that you don't use `akka.stdout-loglevel = "DEBUG"`?

When I try with `stdout-loglevel=DEBUG` I can see the two stdout log messages as expected, but otherwise I can't reproduce. Can you help us to create a minimized sample? This is what I tried:

[code]

with logback conf:

[code]

[2016-11-28 07:55] fommil commented on #21895
Definitely using OFF. I'll try to minimise the problem, as it seems to be subtler than I thought. Might be a few days, busy week. Thanks for trying to repro.

[2016-11-28 08:04] johanandren commented on #21624
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/7850/consoleFull

[2016-11-28 11:41] patriknw commented on #21892
@Valentin-vak I have been able to reproduce the issue. I will continue investigating how to solve it.

[2016-11-28 11:43] Valentin-vak commented on #21892
@patriknw great, thanks!

[2016-11-28 13:02] drewhk commented on #21681
This was actually fixed: https://github.com/akka/akka/pull/21805

[2016-11-28 13:02] #21681 closed

[2016-11-28 13:46] patriknw commented on #21837
I'll fix this, to get rid of a bug classified ticket (it's not really a bug in my classification)

[2016-11-28 13:55] johanandren opened #21899 "Unused private package for each module"
We somehow generate a Private-Package for each module with a package name based on the modules group-id:

[code]

This can be seen for each module in the nightly builds: https://jenkins.akka.io:8498/job/akka-publish-nightly/574/consoleFull

We should get rid of this.

[2016-11-28 14:06] curreli opened #21901 "[akka-http] NoContent return type ignores failure of Future"
I recently upgraded to `akka-http` `10.0.0` from `2.4.x` and my API started returning successes when it should actually fail. I tracked it down to the `NoContent` status code which when used, ignores the result of the `Future`.

[code]

If `doSomethingWhichReturnsAFuture()` fails, i.e. if the `Future` returns a `scala.util.Failure`, the server still returns a `204` success response. If I change `N

[2016-11-28 14:14] curreli commented on #21901
Just realized this is not the `akka-http` repo, opening it there.

[2016-11-28 14:14] #21901 closed

[2016-11-28 14:28] patriknw commented on #21810
I have started a debug branch `wip-21810-StressSpec-patriknw` and will run it in the repeat job.

[2016-11-28 14:42] patriknw commented on #21735
This is an duplicate of https://github.com/akka/akka/issues/21810

[2016-11-28 14:42] #21735 closed

[2016-11-28 14:54] marekzebrowski commented on #21537
Leaving cluster is indeed a complex process. One issue is to when trigger leaving and second is to what needs to be done and in what order.
Our approach so far:
1. when - `Runtime.getRuntime.addShutdownHook`
2. oder:
  1. akkaHttp server
  2. custom long-running flows
  3. shardRegions
  4. leave cluster - awaiting for successful `MemberExited(addr)` message
  5. shutdown actor system
we also have

[2016-11-28 20:06] patriknw commented on #21424
I started looking at this but noticed that the NodeChurnSpec was disabled because of Artery. I have enabled it again in https://github.com/akka/akka/pull/21902

[2016-11-28 23:24] BayStallion commented on #21839
@drewhk Can you give more context on this? How often did you see this happen, what's the easiest way to reproduce it? My first naive attempt to do so by running TcpSpec tests did not lead me anywhere: the tests passed without any exceptions.

[2016-11-29 09:11] 2m opened #21903 "FAILED akka.stream.io.TcpSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4405/consoleFull

[code]

[2016-11-29 09:11] 2m commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly-2.12/36/consoleFull

[2016-11-29 09:12] 2m commented on #21624
https://jenkins.akka.io:8498/job/akka-nightly/3914/consoleFull

[2016-11-29 11:00] talp-traiana commented on #21894
Good idea. Another thing I would like to be able to configure at runtime would be dispatchers.

[2016-11-29 11:47] johanandren commented on #21624
Tangent PR caused by these failures: #21904

[2016-11-29 14:08] fommil commented on #21895
hmm, I'm really struggling to minimise this. But what I can show is that if I do a

[code]

during a test that exhibits the problem, it definitely has

[code]

[2016-11-29 14:11] patriknw commented on #21895
Thanks for the update. It happens during the shutdown, right?

[2016-11-29 14:13] fommil commented on #21895
yeah, that's right

[2016-11-29 14:13] patriknw commented on #21895
and to be completely sure you should `println(system.settings)` where system is the ActorSystem

[2016-11-29 14:15] fommil commented on #21895
good point, but it is the same

[code]

[2016-11-29 14:41] fommil commented on #21895
I tried to repro here: https://github.com/fommil/akka-printlns with `sbt runMain foo.MyApp` but I can't get it to log out the printlns even if I don't have the stdout line in `resources.conf`

To minimise, I may have to start from an ensime spec that exhibits the problem and work backwards...

[2016-11-29 14:52] fommil commented on #21895
ok! I minimised it. No idea what is going on, but converting to a scalatest seems to have triggered it.

[2016-11-29 14:53] fommil commented on #21895
just run `sbt test` and see

[code]

[2016-11-29 15:07] patriknw opened #21906 "Failed to serialize Gossip, Unknown address"
Noticed this when running cluster StressSpec
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/12497/consoleText

The node 41267 had removed, quarantined.

[code]

[2016-11-29 15:16] fommil commented on #21895
I could probably turn this into a failing test if it would help (e.g. capture the `Console.out` and grep for contents)

[2016-11-29 15:17] patriknw commented on #21895
Excellent, I'll take a look

[2016-11-29 16:20] benjamingeer opened #21908 "How can Akka HTTP be configured to accept more concurrent connections?"
I'm having trouble understanding how to configure Akka HTTP (version 2.4.11) to accept more than about 130 concurrent connections. My minimal test case is this example from the docs, in which I've tried to set relevant configuration options:

[code]

I'm testing it with `ab` (on Mac OS X with a 4 GHz Intel Core i7):

[code]

When the value of `-c` is greater than about 130, I always get `Connectio

[2016-11-29 17:26] johanandren commented on #21908
Hi @benjamingeer,

Akka HTTP has it's own bugtracker over here: https://github.com/akka/akka-http/issues

However this sounds like it's more of a question and not an actual bug/improvement request, please use the mailing list https://groups.google.com/forum/#!forum/akka-user (probably the best fit for this type of lengthier question - also look at the previous conversations in there about using `a

[2016-11-29 17:26] #21908 closed

[2016-11-29 18:37] patriknw commented on #21895
@fommil That is not the same log format as you initially reported.
Compare
[code]
vs
[code]

The latter is from the slf4j logger, which is as expected.
The former looks like the format of the `DefaultLogger` or `StandardOutLogger` (they use same format). I'm pretty sure it's from the `DefaultLogger`. For some reason `akka.loggers` maybe wasn't set in your original test?

You can see it if you use

[2016-11-29 18:41] fommil commented on #21895
oh damn, you're right... I haven't got a logback file in the "minimal repro" have I? I've updated the repo. Back to the drawing board...

[2016-11-29 18:42] fommil commented on #21895
FYI to reproduce with ensime-server, check out https://github.com/ensime/ensime-server/ and type `sbt core/testOnly *FileWatcherSpec`

[2016-11-29 20:14] patriknw opened #21909 "failed: StepWise"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/7876

[code]

[2016-11-29 20:15] patriknw commented on #21653
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/7876

[2016-11-29 20:15] patriknw commented on #21909
ah, already reported https://github.com/akka/akka/issues/21653

[2016-11-29 20:15] #21909 closed

[2016-11-30 04:06] chenfengyuan opened #21910 "simple ping pong performance degradation with scala 2.12.0"
repo is [https://github.com/chenfengyuan/akka-ping-pong](https://github.com/chenfengyuan/akka-ping-pong)

Environment:

scala 2.11.8:
[code]

scala 2.12.0:
[code]

result:
akka(2.4.14) with scala 2.11.8: 1392k messages per second
akka(2.4.14) with scala 2.12.0: 365k messages per second

Do I do something wrong? Or do i miss something import to update to scala 2.12? Thanks

[2016-11-30 07:03] patriknw opened #21911 "serializer for Optional"

[2016-11-30 08:30] johanandren commented on #21910
I can verify a 10-40% throughput degradation with a simple ping-pong scenario.

[2016-11-30 09:42] richard-imaoka commented on #21879
Hi @jrudolph, I was thinking to work on this, but could you tell me what " actor based API?" is?

I know, future, sync, and low-level APIs but am not aware of the actor based API. Or is it akka.contrib.circuitbreaker.sample under akka-contrib?

[2016-11-30 11:06] ktoso commented on #21910
Since we could reproduce I marked as triaged. @johanandren "Party Cannon" Anandren is working on it ;)

[2016-11-30 11:10] ktoso commented on #13921
Updated - we'll deprecate agents in 2.5 (not remove yet though)

[2016-11-30 11:30] ktoso commented on #15055
We're deprecating agents - please feel free to think about this and perhaps maintain it outside of akka :-) We'd gladly direct people towards it.

[2016-11-30 11:30] #15055 closed

[2016-11-30 11:31] ktoso commented on #15055
See here for deprecation PR https://github.com/akka/akka/pull/21913

[2016-11-30 12:00] patriknw commented on #15055
@ktoso make sure that you check the milestone when closing such tickets, so it's not confused with that we have actually fixed it.

[2016-11-30 12:04] ktoso commented on #15055
Oh, I specifically put it on 2.5 hm, sorry - will not put them onto 2.5 if I find such tickets.

[2016-11-30 12:05] patriknw commented on #13921
Is it too much work to remove the STM support and we just keep it until we remove all of agents?

[2016-11-30 12:09] ktoso commented on #13921
I'll give it a look - this we could remove right away in 2.5 you mean?

[2016-11-30 12:30] ktoso commented on #13921
I checked, it's a bit involved, not a few hours thing (I wouldn't be confident we provide the same semantics..).
So since we have it for 2.12 anyway (it's not blocking anything) I vote for keeping it until we remove.

[2016-11-30 12:33] patriknw commented on #13921
let's keep it, and remove all together

[2016-11-30 12:33] patriknw commented on #13921
meaning we can close this ticket

[2016-11-30 12:33] #13921 closed

[2016-11-30 13:12] rsujak opened #21914 "Race condition in balancing dispatcher?"
Hi,
I've encountered a problem in my application which is connected with balancing dispatcher. To me it seems to be a race condition between one actor which is sending a message via router to mailbox and other actor which ends processing message and checks if there is any more messages in mailbox to register for execution again.
I've wrote sample app to reproduce this bug. Here is the link to repo

[2016-11-30 16:19] johanandren commented on #21910
Profiling cpu and memory using yourkit did not show much, except `Dispatcher.dispatch` seeming to take more time, cpu load being lower. Snapshots of that data can be found over at the parallel Scala ticket: https://issues.scala-lang.org/browse/SI-10083

Theories tried:
* Object layout is different and causing false sharing or such: Analysis of the following classes did not show any differences: co

[2016-11-30 18:07] Andrei-Pozolotin opened #21916 "akka-typed-experimental should depend on akka-testkit in scope "test""
currently:

https://repo1.maven.org/maven2/com/typesafe/akka/akka-typed-experimental_2.11/2.4.14/akka-typed-experimental_2.11-2.4.14.pom

`akka-typed-experimental` depends on `akka-testkit` in scope "compile"

[2016-11-30 18:09] ktoso commented on #21916
Whoop :O Would you submit a fix if possible?

[2016-11-30 18:44] patriknw commented on #21916
This is a duplicate of https://github.com/akka/akka/issues/21524
It's a bit more work than just changing the scope of the dependency, but it should be done.
Contribution to the other ticket is of course welcome.

[2016-11-30 18:44] #21916 closed

[2016-11-30 18:49] ktoso opened #21917 "Allow java8 lambdas to be used in GraphStage#setHandler"
By providing some simpler api we could make it possible to use lambdas in GraphStage - if only overriding the onPull / onPush - and not needing to override the other ones.

E.g.

[code]

This currently does not work. Will it work when the scala source was Scala 2.12? I think so, but am not completely sure.

Our examples in Java should make use of these if possible,
perhaps this means we need to co

[2016-11-30 19:01] Chuwiey commented on #21524
@rkuhn are you working on this?

Would recommend adding the following to the description here, to make it more tl;dr:
Create an Akka Typed Testkit facility, copying needed things from the original Testkit and removing the dependency from the akka-typed-experimental package

[2016-11-30 19:44] Chuwiey commented on #21879
looks like this is already implemented? or was the intent to go further than what is already documented here: http://doc.akka.io/docs/akka/current/common/circuitbreaker.html ?

The four questions are answered in the docs, but not as individual sections with their own headers..

[2016-11-30 20:15] patriknw commented on #21917
Please only assign open tickets to next patch release if it's known that it will be included or very urgent, e.g. critical bug. Otherwise we just get a pile of tickets that we shuffle in front of us. For most things I don't organize tickets by milestone until they are closed (good exception is 3.x)

[2016-11-30 20:18] patriknw commented on #21917
Compiling with 2.12 by default is not nice because then it's too easy to start using things in 2.12 (e.g. something new in library) that is not in 2.11, and then we must cross build everything (in PR validation).

[2016-12-01 08:48] 2m commented on #21624
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/551/consoleFull

[2016-12-01 09:23] patriknw commented on #21624
This is test is too annoying. Could you mark it as ignored, @2m .
We have several things to improve around parallel lanes and it probably doesn't make sense to try to investigate this failure until we do those tasks.

[2016-12-01 12:51] johanandren commented on #21653
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/7885/consoleFull

[2016-12-01 13:00] 2m opened #21923 "Measure shared memory usage of Artery"
So we can arrive at a useful recommendation for the shared memory mount size.

[2016-12-01 16:21] ktoso opened #21926 "Make NoMaterializer public, so Play does not have to reimplement it"
See this PR: https://github.com/playframework/playframework/pull/6767
Play was stuck on 2.4.12 because 2.4.14 changed materializer a bit.

They just need the `NoMaterializer` so we could open it up in Akka, it's akka private now,
which would avoid such issues in the future.

[2016-12-01 16:22] ktoso commented on #21926
Yes / no?
@patriknw @drewhk ?

[2016-12-01 16:46] drewhk commented on #21926
I don't think this is a good idea. What is the use case anyway?

[2016-12-01 16:47] ktoso commented on #21926
That we broke Play as they have a copy pasted NoMaterializer, and we changed materializer "SPI" (we should mark it as such somehow). Making it public would avoid breaking them like that.

Or, we look at it from the angle of we should not have broken it like that anyway...?

[2016-12-01 16:47] ktoso commented on #21926
I think it's more of an internal info that one should not expect stability of materializer API... people may be doing that.

[2016-12-01 16:58] patriknw commented on #21926
The only place we use this ourselves is in `IteratorInterpreter`, which I don't we use anywhere. Possibly in HTTP? I don't think this solves much. We don't have a stable API for `Materializer` yet, we should mention that in the scaladoc of the `Materializer` class.

[2016-12-01 16:59] ktoso commented on #21926
Yeah documenting this fact we should in any case - agreed.
That could be the outcome of this ticket, sounds ok to me.

--
Konrad `ktoso` Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>

On 1 December 2016 at 17:58:15, Patrik Nordwall (notifications@github.com)
wrote:

The only place we use this ourselves is in IteratorInterpreter, which I
don't we use anywhere. Possibly in HTTP?

[2016-12-01 17:51] drewhk commented on #21926
HTTP used it in the past.

What did we break exactly? We didn't promise any stability to Materialzer implementations. We didn't broke any consumer interfaces tough.

[2016-12-01 18:28] richard-imaoka commented on #21213
Hi @chris-martin, I saw #21375 was resolved.

I added a [new commit](https://github.com/richard-imaoka/akka/commit/4c255971b2f0fac1db91c21051ebf84d4fb33097) on top of yours. ([combined diff](https://github.com/richard-imaoka/akka/compare/d1d4985950d96e0e914803dbd875087a36bed8cb...richard-imaoka:4c255971b2f0fac1db91c21051ebf84d4fb33097)), but since you already did most of the work, would you like t

[2016-12-01 19:32] ktoso commented on #19529
I'm doing it: https://github.com/akka/akka/pull/21919

[2016-12-01 19:59] mateusduboli commented on #21349
One doubt I have about the akka-stream `SupervisionStrategy` is why it isn't implemented using as base the `akka.actor.SupervisionStrategy` or at least having the same behaviors, like always logging the deciding exception unless explicitly told not to do it.

[2016-12-02 08:26] johanandren commented on #21910
Got a hint about the lambda in aroundReceive not being cacheable, is in PR #21921
Sadly did not help in this case.

[2016-12-02 08:35] #21911 closed

[2016-12-02 08:51] 2m commented on #21809
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4420/consoleFull

[2016-12-02 10:44] #20748 closed

[2016-12-02 11:00] #21926 closed

[2016-12-02 11:44] schmitch commented on #21926
so no way of getting `NoMaterializer` public? could be final, so that it's impossible to override?

[2016-12-02 11:45] ktoso commented on #21926
Convince @patriknw and @drewhk ;)

[2016-12-02 11:46] drewhk commented on #21926
Why would you even want a NoMaterializer?

[2016-12-02 11:48] schmitch commented on #21926
Actually we use it in play, so that you can write tests without needing a materializer, (when you don't need to consume the body you don't need it).
See: https://github.com/playframework/playframework/blob/master/framework/src/play-test/src/main/scala/play/api/test/Helpers.scala#L314

[2016-12-02 11:58] ktoso opened #21936 "FAILED: Akka Typed ActorContextSpec"
[code]

[2016-12-02 12:18] richard-imaoka opened #21937 "Akka stream documentation refers to Unit as materialized types"
There are a few places to fix. Will submit a PR soon.

[2016-12-02 18:08] noah10 opened #21943 "InputStream from StreamConverters.asInputStream violates read() contract"
The [docs for InputStream.read()](https://docs.oracle.com/javase/8/docs/api/java/io/InputStream.html#read--) say, "The value byte is returned as an int in the range 0 to 255".  The read() method on the InputStream from StreamConverters.inputStream simply returns a raw (and therefore signed) byte, which will be in the range -128 to 127.  The following test demonstrates this:

[code]

Running it thr

[2016-12-02 21:29] mariszin commented on #19542
We have noticed this issue as well. Request from the akka-http, without using nginx as a proxy, request succeeds. If we use nginx (we must use it to proxy other resources for our app), we get net::ERR_CONTENT_LENGTH_MISMATCH in Chrome, and a similar error in Firefox.
Is there any known workaround?

[2016-12-03 09:36] ortigali commented on #21677
In journal api:

Automatic determining to clean persistence id is not proper way in deleteMessages method

PersistentActor should support additional method to clean up all persistence data, i.e. journal and snapshot store. It gives a convenience to write temporary PersistentActor.

[2016-12-04 14:37] guidomedina commented on #21923
I had a problem few days ago with an UAT environment that wouldn't allow 10 JVMs to start up on 4 VMs each with 2g of RAM, so I had to create a tunnable shared driver for different environment, the formula I have observed is the following:

Each node will reserve `aeron.term.buffer.length` * 12, that said, its default value is 16m hence occupying 192m per JVM in the cluster per shared driver, that

[2016-12-04 14:52] guidomedina opened #21944 "Akka cluster events message classes inconsistency."
I have a small complain about `akka-cluster's` `MemberEvent` vs `ReachabilityEvent` consistency:
- `MemberEvent` has a `member()` method.
- `ReachabilityEvent` doesn't have a `member()` method.

All subclasses of `ReachabilityEvent` have a `member()` method hence I don't see why the `member()` method can't be a the superclass, such inconsistency forces one to do typecasting like the following (whe

[2016-12-04 15:51] guidomedina commented on #21923
To add some background, by default most Linux dist will mount half of the RAM as shared memory, hence my explanation implicating amount of RAM and Media Driver tuning, in most servers you don't have to do anything, in fact adjusting shared memory wouldn't be recommended but instead adjust the Media Driver.

[2016-12-04 16:47] guidomedina commented on #21923
`aeron.term.buffer.length` parameter needs to be part of `akka-remote` config when running the embedded driver, I suggest to tune it down to `8m` or even `4m`

[2016-12-05 09:47] patriknw commented on #21936
Duplicate of #21653

[2016-12-05 09:47] #21936 closed

[2016-12-05 10:08] patriknw commented on #21944
Makes sense. I'm fixing right away.

[2016-12-05 10:16] patriknw commented on #21914
Interesting, thanks for reporting

[2016-12-05 10:19] patriknw commented on #21880
We also need `RouteHub` (similar to `partition`)

[2016-12-05 10:24] johanandren commented on #21910
Some progress from the Scala team, it seems to be that Scala 2.12 switched to the JDK ForkJoinPool while 2.11 still runs on a custom Scala-specific copy of it. Switching to the Java FJP on 2.11 yields the same performance degradation.

[2016-12-05 10:32] patriknw commented on #21923
Thanks for valuable input, @guidomedina
It should be possible to define `aeron.term.buffer.length` and all other Aeron properties as system properties (`-D jvm flags) and it will be picked up by the embedded media driver. We prefer to avoid duplicating all properties.

[2016-12-05 10:38] guidomedina commented on #21923
I agree with you but notice this one is an exception, once shared memory is filled a node cannot join the cluster which might be tricky for people testing clusters.

By adding Aeron you guys raised the level of expertise a developer needs to work with an akka cluster, I don't expect a production environment using the embedded driver, that said, it might be reasonable to tune down this special para

[2016-12-05 11:07] #21944 closed

[2016-12-05 11:07] ktoso commented on #21944
Need to backport?

[2016-12-05 11:08] patriknw commented on #21944
I don't think it's critical to backport this (not a bug)

[2016-12-05 11:13] ktoso commented on #21910
via @retronym:

We should try the scala pool with disabled spinning to see if that's the culprit.

[2016-12-05 11:22] patriknw commented on #21923
It might turn out that config of term buffer is important enough. We'll see.

[2016-12-05 12:47] #21645 closed

[2016-12-05 12:50] patriknw commented on #21895
@fommil I found the issue when debugging FileWatcherSpec. The LoggingMailbox was new in 2.4 and it didn't check the loglevel when draining it's messages when shutting down. PR in progress https://github.com/akka/akka/pull/21949

[2016-12-05 13:07] johanandren commented on #21910
Some more thorough numbers with varying load, on my 4core i7 mbp:

[code]

[2016-12-05 13:25] patriknw commented on #21483
One issue is that it sometimes can't stop an actor system:

[code]

https://jenkins.akka.io:8498/job/akka-multi-node-repeat/12508/consoleText

[2016-12-05 13:31] fommil commented on #21895
awesome! I'd given up all hope. Thank you so much!

[2016-12-05 16:49] patriknw commented on #21483
I have done some work and it passes on my laptop, but still failures on jenkins so the ticket should not be closed.

[2016-12-05 21:48] ktoso commented on #21423
I also propose to deprecate `ActorSubscriber` and `ActorPublisher` in streams.
Have not found a single case where I wouldn't tell people to not use them now that `GraphStage` has all the features.

[2016-12-06 08:20] patriknw commented on #21423
I agree. The only thing I can think of is when delegating to child actors

[2016-12-06 11:01] #21482 closed

[2016-12-06 11:07] drewhk opened #21955 "Materialized value combination does not work with identity Flows"
reproducer:

[code]

Throws ClassCastException. The reason is simple, the DSL detects the identity Flow and simply converts viaMat(Keep.both) to a NOP. This is correct for the graph, but not for the materialized value which needs the NotUsed value coming from the empty Flow.

[2016-12-06 11:09] ktoso commented on #21955
Ouch, too smart for our own good it seems. To be fixed during your current materialization work I guess?

[2016-12-06 11:27] drewhk commented on #21955
No, I fix this right away. Not hard to do.

[2016-12-06 12:11] rkuhn commented on #21524
No, sorry, I cannot work on this right now. For easier reference, here are the salient points of the previous discussion:

@rkuhn commented on 22 Sep

Okay, then that means creating a TestLogger, placing that in its own artifact and splitting out akka-typed-tests in its own subproject as well.

There is a difference in the philosophy behind Akka Typed: everything is inherently designed for testabi

[2016-12-06 12:13] rkuhn commented on #21524
Please note that I do not think that it is a good idea to copy everything from akka-testkit that can be copied: the approach to testing is different with akka-typed due to the change in philosophy—synchronously awaiting asynchronous events should be a lot less frequently required now. Actors should be tested using other Actors, and behaviors should be tested synchronously in isolation.

[2016-12-06 12:17] drewhk commented on #21906
Interesting, I take a look.

[2016-12-06 12:22] drewhk commented on #21906
Yes, it seems like a stray gossip arriving after removal. The serializer seems to be confused as it does not find a mapping for the address in the gossip.

[2016-12-06 12:57] drewhk commented on #21906
In particular the seen table does not contain an entry that allMembers contain. Is this a valid situation?

[2016-12-06 13:01] patriknw commented on #21906
you mean the reverse "the seen table contain an entry that allMembers doesn't contain"?

that should not happen (it's a bug)

[2016-12-06 13:02] drewhk commented on #21906
eh, yes, the reverse

[2016-12-06 13:05] drewhk commented on #21906
To quote relevant code snippets (just to verify):

[code]

[2016-12-06 13:59] drewhk commented on #21906
putting back for now

[2016-12-06 14:52] #21937 closed

[2016-12-06 15:43] #21791 closed

[2016-12-06 16:05] #21773 closed

[2016-12-06 16:28] patriknw opened #21960 "failed: Aeron shutdown issue in pending test"
Noticed this for the pending `StressSpec`

[code]

https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/311/consoleText

[2016-12-07 05:27] andrewrapp opened #21961 "JsonObjectParser doesn't handle escape sequences properly"
When the JsonObjectParser encounters a backslash it sets a state variable but does not unset it properly after the next character is handled. The bug arises when \\\\" is encountered. It does not reset isStartOfEscapeSequence to false on second \ so when it sees the double quote it assumes that it's the character being escaped and doesn't decrement the count. The net result is it will never reach

[2016-12-07 11:54] fatihcataltepe commented on #18515
This would be a really useful feature.

[2016-12-07 11:55] ktoso commented on #18515
PRs very welcome @fatihcataltepe :)

[2016-12-07 14:35] ktoso commented on #21810
Here: https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/313/console

[2016-12-07 14:41] #21960 closed

[2016-12-07 14:44] ktoso commented on #21810
Note: this is to be closed when we re-enable the test.

[2016-12-07 14:53] ktoso opened #21965 "FAILED: CompressionIntegrationSpec wrap around"
https://jenkins.akka.io:8498/job/akka-release-2.4/2/testReport/akka.remote.artery.compress/CompressionIntegrationSpec/wrap_around/

[code]

[2016-12-07 14:57] drewhk commented on #21965
Argh. This is similar to the one I assumed to be fixed (the race).

[2016-12-07 15:25] patriknw commented on #21965
we should probably look at all those when we move the compression to the decoder

[2016-12-07 15:31] Chuwiey commented on #21879
I've started working on this. Should be done soon.

[2016-12-07 15:31] domel8dp opened #21966 "OSGi - scala.util.parsing.combinator is imported with wrong version"
The `scala-parser-combinators` project is currently at version `1.0.4`, but `akka-stream` tries to import:
`scala.util.parsing.combinator;version="[2.12,2.13)"`

It looks like in `project/OSGi` this falls into `scala.*` import, which uses scala version.

[2016-12-07 15:45] ktoso commented on #21966
Thanks for reporting. Would you be able to submit a patch for this?

[2016-12-07 15:47] domel8dp commented on #21966
Yes, I'm working on it right now

[2016-12-07 16:34] drewhk commented on #21943
This needs a backport to 2.4

[2016-12-07 18:37] ktoso commented on #21966
Awesome, thanks!

[2016-12-08 12:06] ktoso opened #21970 "FAILED: ArteryRemoteScatterGather"
https://jenkins.akka.io:8498/job/akka-nightly-2.12/44/consoleFull

[code]

[2016-12-08 12:07] ktoso opened #21971 "FAILED: SystemMessageDeliveryNoPassiveRetryGate"
https://jenkins.akka.io:8498/job/akka-nightly/3937/consoleFull

[code]

[2016-12-08 12:18] #20737 closed

[2016-12-08 12:39] kcris opened #21973 "akka logging with marker"
Latest akka docs show the option of using Logging.withMarker.
http://doc.akka.io/docs/akka/current/scala/logging.html#Using_Markers

The Logging class does not have the withMarker member.

I cannot use this in an actor
`var log = Logging.withMarker(this)`

[2016-12-08 12:41] ktoso commented on #21973
You need to use:

[code]

Good catch, the docs should explain that.

[2016-12-08 12:42] kcris commented on #21973
thanks, but where do I find withMarker?

[2016-12-08 12:44] ktoso commented on #21973
As I just pointed out, on `Logging`.

[2016-12-08 12:54] kcris commented on #21973
Indeed, on github I see withMarker

Looking at my local copy, I don't
...\m2\repository\com\typesafe\akka\akka-actor_2.11\2.4.11\akka-actor_2.11-2.4.11-sources.jar!\akka\event\Logging.scala

what am I missing?
Thanks a lot for your help

[2016-12-08 12:58] ktoso commented on #21973
Upgrade your dependency

[2016-12-08 13:00] ktoso commented on #21973
Latest is: http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.typesafe.akka%22%20a%3A%22akka-actor_2.11%22

[2016-12-08 13:03] ktoso opened #21974 "FAILED: WriteAggregatorSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/7916/consoleFull

[code]

[2016-12-08 17:02] kcris commented on #21973
thanks, updated to 2.4.14 and withMarker is there (seems it was added in 2.4.12)

[2016-12-08 17:32] richard-imaoka commented on #21213
@chris-martin sorry to ping you again but would you be able to have a look at [my commit](https://github.com/richard-imaoka/akka/commit/4c255971b2f0fac1db91c21051ebf84d4fb33097) and if it looks good, can you raise a PR?

[2016-12-08 17:45] chris-martin commented on #21213
Hey sorry, I'll try to look at this soon.

[2016-12-09 08:30] jakub-vanek opened #21979 "Incoming connections not reused after re-association"
Akka remote 2.4.9 configured to reuse incoming connections (akka.remote.use-passive-connections = on).

Two actor systems, system A and system B. System B is behind NAT.

Both systems start up. System B sends a message to A, systems associate and messages are sent in both directions using the connection initiated from B. The connection fails (e.g. transport failure detector triggers), systems disa

[2016-12-09 09:02] drewhk commented on #21979
Please use 2.4.14 as it is the latest.

NAT need special handling. Please read:
http://doc.akka.io/docs/akka/2.4/general/remoting.html#Peer-to-Peer_vs__Client-Server

This can happen if there is a race between the message sent from A to B, then two connections will be open. In general `use-passive-connections` is just an optimization, it does not guarantee that connections will be reused. Akka rem

[2016-12-09 09:02] #21979 closed

[2016-12-09 10:42] patriknw commented on #21537
@marekzebrowski @guidomedina I have been working on PR https://github.com/akka/akka/pull/21930. Most things are in place (a few [things are not done yet](https://github.com/akka/akka/pull/21930#issuecomment-265983202). I think it will handle all of the things you have had problems with automatically, and you can hook in your own tasks in the shutdown phases.

It also has support for adding jvm shu

[2016-12-09 12:47] patriknw commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly/3937/consoleFull

[2016-12-09 12:47] patriknw commented on #21971
Duplicate of #21684

[2016-12-09 12:47] #21971 closed

[2016-12-09 13:17] patriknw commented on #21677
I agree that it should be a separate api. It would be great to see a proposal for that @ortigali

[2016-12-09 15:53] ktoso commented on #21973
Uhm, this was documented already. Closing as invalid:

[code]

[2016-12-09 15:53] #21973 closed

[2016-12-09 17:32] mboogerd commented on #21875
Apologies for my neglect of this issue recently. I started experimenting with a minimal rewrite of the current implementation as well as rewriting it from scratch (to improve my understanding of DData's consistency levels in combination with delta-CRDTs), but I have been mostly occupied otherwise. I did check your persistence implementation, but it's too early for me to tell whether it is going to

[2016-12-10 02:30] chongwuyang opened #21982 "Connected Message get remoteAddress very slow"
if (msg instanceof Connected) {
	      final Connected conn = (Connected) msg;

	      String key=conn.remoteAddress().getHostName();
}

the code conn.remoteAddress() very slow in lan. This cause the tcp connection timeout.

[2016-12-10 07:09] patriknw commented on #21875
Thanks for the update.  I have also been busy with other things.

[2016-12-12 00:49] Steiny69 opened #21983 "Flow.flatMapConcat does not backpressure when downstream backpressures"
Contrary to the Scaladoc, `akka.stream.scaladsl.FlowOps#flatMapConcat` does not backpressure when downstream backpressures. When the inner `Source` completes there is an additional `pull` even if the downstream has not yet pulled again.

What appears to be happening is:

1. Downstream pulls on `FlattenMerge`
2. `FlattenMerge` pulls upstream and then swaps the `out` handler
3. Upstream pushes an el

[2016-12-12 02:26] luksow commented on #19542
Noticed that as well with req of size ~700K. Akka HTTP 10.0.0.

[2016-12-12 03:16] LongIT644 opened #21984 "MongoDB close connection in Actor"
I get exception when interact with mongodb by plugin https://github.com/cloudinsights/play-salat/issues with play framwork for scala, in akka actor fir scheduler job.

`"exception":{"name":"class java.lang.IllegalStateException","message":"open","trace":[["org.bson.util.Assertions.isTrue(Assertions.java:36)","com.mongodb.DBTCPConnector.isMongosConnection(DBTCPConnector.java:375)","com.mongodb.Mong

[2016-12-12 08:19] ahjohannessen commented on #21423
`PersistentView` does not have an equivalent replacement (story), as far as I can tell. Here I think about snapshotting and having a view id.

[2016-12-12 08:25] patriknw commented on #21423
You can delegate the events to a PersistentActor, which could do snapshotting. Normally the purpose of a Persistent Query and PersistentView is to build another representation in an external db that can be used for the end user queries. Then it's also better to store the snapshot/offset in that db.

[2016-12-12 08:32] drewhk commented on #21983
Are you sure it is not backpressuring? Just because a stage pulls even if there is no downtream pull it does not mean it is not backpressured, it only means that sometimes it works as a buffer of one. There are many stages like this and we usually call them "detached" as there is limited progress that the upstream and downstream can do independently (but without unbounded buffering).

The proper t

[2016-12-12 08:32] drewhk commented on #21983
Also, any async boundary will put in a buffer.

[2016-12-12 08:34] ahjohannessen commented on #21423
@patriknw I agree. However, I think it would be prudent to document how one can achieve similar features of `PersistentView` using an `PersistentActor` in combination with a `PersistentQuery`

[2016-12-12 08:38] drewhk commented on #21983
btw, flatMapConcat is not detached by nature, so we can likely eliminate this buffer behavior, but relying on it is not a wise thing to do.

[2016-12-12 10:14] gosubpl commented on #21740
I am back on track to squeeze this in time for 2.5. However, more frequent re-seeds seem to be a problem, probably due to entropy exhaustion - the benchark gets stuck for longer periods while re-seeding. I am looking into this -I run on Linux with OpenJDK.

[2016-12-12 10:17] gosubpl commented on #21740
BTW, @ktoso can we please remove already deprecated `Inet` generators:
[code]
for the 2.5 release? It would let us seamlessly replace the other two with the AES-CTR PRNG and get rid of the `math.uncommons`. Otherwise, even after replacing the PRNGs, we'll be stuck with uncommons.
Shall I add this to the deprecation/removal ticket?

[2016-12-12 10:18] ktoso commented on #21740
Great, let's remove them :)

[2016-12-12 10:18] ktoso commented on #21740
You can create the ticket if you want 👍

[2016-12-12 10:22] johanandren opened #21985 "FAILED AllAtOnceEntityRecoveryStrategySpec"
https://jenkins.akka.io:8498/job/akka-multi-node/1864/consoleFull

[code]

[2016-12-12 10:24] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly-2.12/47/consoleFull

[2016-12-12 10:28] johanandren opened #21986 "FAILED (Artery) StressSpec IllegalArgumentException"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/319/consoleFull

Different from the other Artery StressSpec issue #21810:

[code]

[2016-12-12 10:39] ktoso commented on #21984
I don't see how this is an Akka issue, closing as invalid.

[2016-12-12 10:39] #21984 closed

[2016-12-12 13:36] patriknw commented on #21170
Related is that `remoteAddress.getHostName` is done from from `TcpOutgoingConnection`. It's also potentially blocking. Would be nice to at least collect the blocking calls in one place, in the DnsProvider actor.

I think we can/should introduce that `default-blocking-io-dispatcher` in Akka 2.5, and use that as the default for the DnsProvider actor.

[2016-12-12 13:38] patriknw commented on #21982
`getHostName` is a potentially blocking call to a reverse dns lookup. We already have issue https://github.com/akka/akka/issues/21170 for this so I'm closing this ticket.

[2016-12-12 13:38] #21982 closed

[2016-12-12 13:40] #21895 closed

[2016-12-12 13:43] #21787 closed

[2016-12-12 14:07] johanandren commented on #21810
https://jenkins.akka.io:8498/job/akka-nightly-2.12/48/consoleFull

[2016-12-12 14:09] johanandren opened #21988 "FAILED ArteryRemoteReDeployment"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4447/consoleFull

[code]

[2016-12-12 14:10] johanandren commented on #21986
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/321/consoleFull

[2016-12-12 14:10] johanandren commented on #21986
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/322/consoleFull

[2016-12-12 14:44] fommil commented on #21895
awesome, thank you so much! Looking forward to the release.

[2016-12-12 14:47] patriknw commented on #21986
There were some "corrupt" aeron files lingering around in /localhome/jenkinsakka/akka-artery-cluster-tests/target/aeron-StressSpec/. I removed that directory on a4, a5 and a6 and now it seems to work.

[2016-12-12 14:47] #21986 closed

[2016-12-12 14:49] patriknw commented on #21895
you're welcome, thanks for reporting

[2016-12-12 15:00] patriknw commented on #21943
Backported in https://github.com/akka/akka/pull/21969

[2016-12-12 15:00] patriknw commented on #21943
Thanks @ortigali

[2016-12-12 15:00] #21943 closed

[2016-12-12 15:52] patriknw commented on #21906
I think I see what is going on. `a2.moxie:41267` is the problematic entry.

It is removing itself because it's `Down`:
[code]

I think that is wrong. A node should shutdown itself when it's `Down` but it doesn't make sense to let a node that is `Down` perform any leader actions.

[2016-12-12 17:55] patriknw commented on #21974
This was because of long GC:
[code]

[2016-12-12 17:55] #21974 closed

[2016-12-12 18:39] patriknw commented on #21970
This doesn't look like a real test failure, more some issue with multi-node. Only barrier failures. Let's see if it happens again, otherwise close after a month or so.

[2016-12-12 20:47] #20513 closed

[2016-12-12 21:28] Steiny69 commented on #21983
This is probably a misunderstanding on my part. I had always thought backpressure meant that it would only pull if downstream pulled. That is a good point about detached stages. I ended up having a similar problem when trying to implement a workaround to my particular problem. I have looked at quite a few of the implementations of other stages and yeah there are quite a lot that are detached.

The

[2016-12-13 00:17] eirirlar commented on #18311
I think this is still a problem in 2.4.14 with scala 2.12.1. Don't have time to put together a standalone example though.

[2016-12-13 00:19] ktoso commented on #18311
Please upgrade, the current version is 10.0.0. Reproducer or confirmation this still exists would help a lot, thanks.

[2016-12-13 00:19] ktoso commented on #18311
(Please open a new ticket if yet)

[2016-12-13 07:20] patriknw commented on #11797
This was done in the Artery work

[2016-12-13 07:20] #11797 closed

[2016-12-13 07:21] patriknw commented on #11446
This was done in Artery

[2016-12-13 07:21] #11446 closed

[2016-12-13 07:52] drewhk commented on #21983
That is a sufficient, but not necessary condition ;) Strictly speaking backpressure is not a statement about the lack of buffers, but a statement about the existence of an upper bound on each buffer along the stream (and the fact that they don't overflow).

I don't think there is an async boundary there. That buffer seems to come from flatMapConcat.

That said, I usually prefer non-detached stages

[2016-12-13 08:17] johanandren commented on #21660
https://jenkins.akka.io:8498/job/akka-nightly/3956/consoleFull

[2016-12-13 08:19] johanandren opened #21992 "FAILED akka.remote.artery.FlightRecorderSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/563/consoleFull

[code]

[2016-12-13 09:54] ktoso commented on #21906
Backport or not?

[2016-12-13 09:55] #21172 closed

[2016-12-13 09:55] ktoso commented on #21172
Replaced with https://github.com/akka/akka/pull/21981 :)

[2016-12-13 09:57] patriknw commented on #21906
yes, I'll backport

[2016-12-13 12:22] drewhk commented on #21992
Interesting, likely some race as the first element is 40 in the result and 41 in the expected range, but otherwise they look the same.

[2016-12-13 12:35] #21985 closed

[2016-12-13 14:09] johanandren opened #21996 "FAILED docs.stream.javadsl.cookbook.RecipeGlobalRateLimit"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/7995/consoleFull

[code]

[2016-12-13 14:18] #21906 closed

[2016-12-13 14:45] #21837 closed

[2016-12-13 14:48] #20005 closed

[2016-12-13 14:57] samikrc commented on #21787
Forgot to add comments to this thread and update. We are still grappling with this issue, and in fact, this is one of the reasons we have decided to move our stream processing to Flink, which interestingly, uses akka under the hood. However, we do not have enough time to debug this any further.

The problem shows up in both VMs and actual systems. I tried extracting out the part of the code so tha

[2016-12-13 15:17] patriknw commented on #18976
I did some testing of this old thing and it seems to work as expected. It throws the IllegalArgumentException with the right cause.

[2016-12-13 15:17] #18976 closed

[2016-12-13 16:27] johanandren opened #21999 "Solution for unreachable node getting stuck"
A three node cluster - A, B and C. A is the leader, and the following timeline:

1. Cluster has formed, all nodes are friends and things are merry
2. B becomes unreachable (paused with Ctrl+Z)
3. both A and C sees B as unreachable
4. C issues a leave
5. A has B as unreachable so cannot transition C from leaving to exiting
6. C kills itself (because it got tired of waiting on graceful leave)
7. B b

[2016-12-13 16:38] jgordijn commented on #21999
This was a little bit confusing to me. Looking at 'http://doc.akka.io/docs/akka/2.4/common/cluster.html#State_Diagram_for_the_Member_States__akka_cluster_allow-weakly-up-members=on_' I wonder why there is a path from Leaving to Unreachable? If at least one node in the cluster knows that this node is leaving, it shouldn't this information lead to the node be removed when the cluster converges again

[2016-12-13 16:49] johanandren commented on #21999
Additional Endre-quote:

[2016-12-13 17:11] ktoso commented on #21423
Sure, agreed - would you pour opinion into a PR to help us out on this one? :)

---

@patriknw we can also remove `BalancingDispatcher` it seems

[code]

[2016-12-13 19:10] ktoso opened #22001 "Introduce mapError from Akka HTTP"
Which is like recover + throw, but won't low the newly created exception.

[2016-12-14 08:07] johanandren opened #22002 "Lots of sharding tests broken by leveldb PR"
Merging #21945 seems to have broken most if not all the sharding tests. Could mean that it is a regression and old config does not work with that change.

https://jenkins.akka.io:8498/job/akka-multi-node/1869/consoleFull

[code]

[2016-12-14 08:11] johanandren commented on #21965
https://jenkins.akka.io:8498/job/akka-release-2.4/13/consoleFull

[2016-12-14 09:37] patriknw commented on #22002
Constructor changed for `SharedLeveldbStore`. We must add the previous constructor also.

[code]

and somehow use `"akka.persistence.journal.leveldb-shared.store"` for that constructor.

Probably good to add a `props` factory method in the companion of this actor also.

[2016-12-14 09:47] #20448 closed

[2016-12-14 10:56] ktoso opened #22004 "NPE in ClusterSingleton"
Seems to have happened in a live system.
Happens more than once.

[code]

It seems like the ActorRef in the Identity message is `null`

[2016-12-14 11:07] patriknw commented on #22004
Which version, so that we can know what `ClusterSingletonProxy.scala:232` is?

[2016-12-14 11:18] patriknw commented on #21423
We can't remove `BalancingDispatcher` because it is used by `BalancingPool` but we can remove it from user API, i.e. make it `private[akka]`

[2016-12-14 11:24] patriknw commented on #21999
@jgordijn `Unreachable` / `Reachable` is not a member status as `Up`, `Leaving`, `Down`. It is "only" an observation by the failure detector, i.e. orthogonal to the member status.

[2016-12-14 11:26] ktoso commented on #22004
I'll ask

[2016-12-14 11:28] patriknw commented on #21999
It's an interesting case. I'm pretty sure it would be solved by downing `C`, but we should investigate if we can solve it automatically as @drewhk suggests.

[2016-12-14 11:33] drewhk commented on #21999
Yeah, DOWN-ing C works, and also DOWN-REJOIN B.

[2016-12-14 11:39] ktoso opened #22005 "less noisy logging of idle-timeout (for akka-http specifically)"

[2016-12-14 11:49] #22005 closed

[2016-12-14 12:14] ktoso commented on #21423
Ok, done!

[2016-12-14 12:31] #22001 closed

[2016-12-14 12:32] ktoso commented on #21736
Not backporting, it's not critical to have this back in 2.4 I think

[2016-12-14 12:54] ktoso commented on #21724
I'm on it.

[2016-12-14 12:54] ktoso commented on #19174
I'm on this.

[2016-12-14 13:07] ktoso commented on #21672
Any news here or should we close @hlavki ?

[2016-12-14 13:36] #21892 closed

[2016-12-14 16:03] ktoso commented on #22004
Seems to have been  2.4.14

[2016-12-14 16:14] drewhk commented on #22004
er what, so it was not null in ActorIdentity but Some(null).

[2016-12-14 16:14] drewhk commented on #22004
![](http://serif.hatelabo.jp/images/cache/e621b89923fdcfa92bc36aa87fc1f7fa92a320a8/082603d9025ca4f090797925de425d2a8e0efa6c.gif)

[2016-12-14 16:24] patriknw commented on #22004
wow, how did it end up as `Some(null)` - interesting

https://github.com/akka/akka/blob/v2.4.14/akka-cluster-tools/src/main/scala/akka/cluster/singleton/ClusterSingletonProxy.scala#L232

[2016-12-14 16:26] ktoso commented on #19328
Do we need this one before stable?

[2016-12-14 16:33] #22002 closed

[2016-12-14 16:38] patriknw commented on #19328
It would mean a new `Offset` type, I guess, similar to `NoOffset`. That can be added whenever.
If we also want it for `eventsByPersistenceId` it would be a `Long` constant.

[2016-12-14 17:25] ilganeli commented on #19980
I'll take this on

[2016-12-14 17:26] ktoso commented on #19980
Cool, thanks let us know if you're stuck.

[2016-12-14 17:28] ilganeli commented on #19980
@ktoso Thanks :) At least there's already test cases!

[2016-12-14 17:36] johanandren commented on #22002
Merged into master, I'll take care of backporting to 2.4.15 tomorrow

[2016-12-14 18:23] ilganeli commented on #19980
Some graph primitives: ```GroupBy```, ```PrefixAndTail```, ```TCP``` explicitly read the timeout settings and and then create the appropriate timer, but apparently not all, e.g. FlattenMerge. The corresponding tests actually demonstrate timeouts working appropriately for those primitives. The ```Flow``` class does no such thing. The solution is likely to figure out where to add this in the ```Flow

[2016-12-15 06:47] saucam commented on #17346
Hi,

Could anyone please point me to an example implementation using this feature?
Do we now have client side per request time outs implemented  ?
Best Regards
Yash

[2016-12-15 08:18] johanandren commented on #21660
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/565/consoleFull

Not quite the same though:
[code]

[2016-12-15 09:50] johanandren opened #22012 "FAILED: akka.cluster.singleton.ClusterSingletonRestartSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8024/consoleFull

[code]

[2016-12-15 10:19] gosubpl commented on #21740
@drewhk @wsargent re-seeding AES-CTR (`AESCounterBuiltinCTRRNG`).
Re-seeding is done in a "soft-scheduled" way on a separate thread. Every million requests (see below) re-seed request is generated. When new seed is available, the PRNG is re-seeded. However, when a hard threshold of 2^47 is exceeded, the generator blocks to wait for new entropy (which should never happen in real life).
If we reseed

[2016-12-15 10:21] gosubpl opened #22014 "Remove already deprecated Inet PRNG generators."
Let's remove already deprecated Inet generators:
[code]
for the 2.5 release.

[2016-12-15 10:23] johanandren commented on #21879
Refs #21298

However, could it be that it is not really needed with the graceful shutdown changes we are doing right now?

[2016-12-15 10:23] gosubpl commented on #22014
Please also see the discussion in #21740 and the old ticket #12636 .

[2016-12-15 12:41] patriknw commented on #22012
that's interesting, that is what I had in my coordinated shutdown PR also, but this was for another (i.e. problem is in master)

[2016-12-15 12:43] patriknw commented on #22012
ah,

[code]

I'll take this

[2016-12-15 13:03] ktoso commented on #18709
Re-opening since we can't provide per message compression for people using socket.io unless we support extensions.

[2016-12-15 13:08] johanandren commented on #18709
I'll move this on over to akka-http

[2016-12-15 13:08] ktoso commented on #18709
Oh, I'm blind... thanks!

--
Konrad `ktoso` Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>

On 15 December 2016 at 14:08:13, johanandren (notifications@github.com)
wrote:

I'll move this on over to akka-http

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/akka/akka/issues/18709#issuecomment-

[2016-12-15 13:09] #18709 closed

[2016-12-15 14:06] #21894 closed

[2016-12-16 01:52] briantopping commented on #21966
Ha, I just built the same patch. Great to see some others using OSGi! 👍

I had a comment on the patch, I think the version range should be up to 1.1.0 non-inclusive such that future SDKs that provide a later version can be used without issue.

@ktoso: I'd also like to beg if this could be moved to 2.4.15? :)

[2016-12-16 08:22] jrudolph commented on #21365
A first analysis of what's going on:

The `MaxThroughputSpec` wasn't really testing the right thing because send batches were too long, so that there was no parallelism on the receiver side because all the incoming messages of one batch (with a single target ActorRef) went to the same lane. Changing the sender to send messages of a batch to different target actors shows that parallel lanes can hav

[2016-12-16 08:36] jrudolph commented on #21365
I had a quick try disabling spinning in AeronSource completely and that seems to improve latencies without having a significant impact on the optimized `inboundLanes = 1` case. Will check the impact on the MaxThroughputSpec next week.

[2016-12-16 09:18] patriknw commented on #21365
Excellent analysis, @jrudolph . Very interesting.
The amount of spinning in the AeronSource is not based on any scientific tests and I'm not surprised that it's spinning too much (for higher cpu-level).

You are still using `AeronSource` - `BroadcastHub` - `Deserializer`, right?
Then `AeronSource` and `Deserializer` should run on different actors so I don't fully understand "all the work that can

[2016-12-16 10:36] ktoso commented on #21891
Putting back as not entirely sure where to put the catch to be actually useful.

[2016-12-16 10:54] ktoso commented on #21966
Sure @briantopping but please provide info or PR how exactly it should come in. We're not very expert on osgi :)

[2016-12-16 10:59] patriknw commented on #20641
New take on this is to catch only a specific exception from deserialization and not others that could be because of byte corruptions.

[2016-12-16 11:25] #22012 closed

[2016-12-16 11:44] ktoso opened #22023 "FAILED: timeout in Tail-choppning group - must reply ASAP"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8043/consoleFull

[code]

[2016-12-16 11:45] ktoso opened #22024 "FAILED: RemoteRouterSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8043/consoleFull

[code]

[2016-12-16 11:47] ktoso commented on #21965
Relates to the ownership ticket: https://github.com/akka/akka/issues/21475

[2016-12-16 11:48] ktoso commented on #21475
Starting to work on it.

[2016-12-16 11:50] johanandren opened #22025 "Fail fast on null persistenceId in PersistentActor"
If a user of PersistentActor by mistake lets the `persistenceId` be `null` it will fail in weird ways in snapshot or journal. We should fail fast already in the constructor of `PersistentActor`

[2016-12-16 12:19] briantopping commented on #21966
Hi @domel8dp: Can you update your branch according to the.notes I made in the PR or reason why what you have is correct as it stands? I can help sign off on this and you'll be good to go!

[2016-12-16 12:21] ktoso commented on #21966
I can make the change, just wasn't sure what it's supposed to be - could you comment directly on the PR? I don't see where you mean the 1.1.0 change to be made.

[2016-12-16 12:30] briantopping commented on #21966
@ktoso: are the line notes on https://github.com/domel8dp/akka/commit/670c7ece8eb2a4a2554b0168d51f6f55c5b0b5eb Not visible on your end? Thanks!

[2016-12-16 16:44] agolubev opened #22030 "LazySink must wait for result of initialization even if got upstreamComplete"
Ref #22018
WIP

[2016-12-16 17:08] #21966 closed

[2016-12-16 19:17] #22025 closed

[2016-12-16 19:19] #19822 closed

[2016-12-16 19:46] hderms commented on #18311
@ktoso I believe I'm getting a similar error. If I try to make an akka http request to a url with nothing listening behind it the stream becomes unresponsive

[2016-12-16 21:13] #20641 closed

[2016-12-16 22:26] marcoguillen123 opened #22034 "Cluster Sharding Coordinator just started in Oldest Node"
I have configured a Akka Cluster with Sharding with only 3 seed nodes. The Shard Coordinator is just started  on the first Node started (Oldest Node) showing this message (Sharding Coordinator was moved to the active state State(Map(),Map(),Set(),Set() ..)
The  issue is that Shard Coordinator is not started on any Younger Node by showing the message Trying to register to coordinator at [None], but

[2016-12-17 15:07] jgordijn opened #22035 "Change ORMap to have a generic type for key"
I would like to have the possibility to use anything as a key for the ORMap. Is there any reason why it is fixed at String?

This should probably make it into 2.5 before removing experimental, as this would probably break the interface.

[2016-12-18 17:19] mehdimousavi1995 opened #22036 "Websockets do not close socket (Akka stream)"
I'm using Akka stream for messagin project
here is my code

[code]

when i want to merge two flows with each other `handleWebsocketMessages`
 causes the Websocket to not terminate appropriately when a client disconnects but when i use only one flow, every thing work just fine
how can i solve this problem ?

[2016-12-18 17:48] patriknw opened #22037 "failed: DurableDataSpec"
https://jenkins.akka.io:8498/job/akka-multi-node/1878/

[code]

I think this is just an init timeout issue

[2016-12-18 17:51] patriknw commented on #22037
https://jenkins.akka.io:8498/job/akka-release-2.4/20

[2016-12-18 17:54] patriknw commented on #22037
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/568

[2016-12-18 17:56] patriknw commented on #21799
https://jenkins.akka.io:8498/job/akka-release-2.4/25

[2016-12-18 19:09] patriknw commented on #22034
Shard Coordinator is only supposed to start on one node, it's a cluster singleton. Perhaps the other nodes have not joined the cluster? Please use the mailing list for questions like this.

[2016-12-18 19:09] #22034 closed

[2016-12-19 07:08] patriknw opened #22040 "failed: BalancingSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4470

[code]

[2016-12-19 07:55] patriknw opened #22041 "Scala 2.12 serialization of Props"
WIth Scala 2.12 the recommendation in http://doc.akka.io/docs/akka/2.4/scala/actors.html#Recommended_Practices doesn't work for remote deployment because Function is no longer serializable. It's translated to a lambda, which is not serializable. E.g. error message:

[code]

For actors that are to be remote deployed the class based `Props` must be used:

[code]

[2016-12-19 08:42] jrudolph commented on #21365
I haven't found out yet. I didn't change the stream setup so it's only `AeronSource` and the `Decoder` which are running on that actor. Thread starvation seems unlikely from looking at stack traces. CPU starvation seems also unlikely because the latency spec doesn't exercise the CPU much.

My current guess would be that the other work is some streams signal that is either stuck in the actor mailbo

[2016-12-19 09:09] richard-imaoka commented on #21213
If you are busy, would you mind if I raise a pull request? I will retain your original commit (not sure if that makes you as the author after squash merge though ...)

[2016-12-19 13:14] #21955 closed

[2016-12-19 13:36] guidomedina commented on #22035
This will be great for `Integer` or `Long` keys for example.

[2016-12-19 13:46] patriknw commented on #22035
Ok, that should be doable.

[2016-12-19 15:32] jrudolph commented on #21365
A few more results: The time on the async boundary seems to be lost while elements are sitting in the queue of the broadcast hub, i.e. if I take timings in BroadcastHub's `publish` and `poll` methods and check the timing difference from when an element is put into the queue vs. taken from the queue, it will show the bad latency as observed above in the "async" diagram, i.e. with 50% likelihood cro

[2016-12-19 15:48] jrudolph commented on #21365
https://github.com/akka/akka/compare/master...jrudolph:jr/lanes-clean-setup?expand=1 contains a few timing additions I used for figuring out what's going on.

Instructions for reproducing:
 * run the aeron media driver
 * in akka-remote-tests: `multi-jvm:testOnly akka.remote.artery.LatencySpec`
 * play around with `spinning` value in `AeronSource`, e.g. setting it to 0 vs. the current setting

[2016-12-19 16:13] ilganeli commented on #19980
@ktoso @rkuhn

Digging through the code, it's unclear as to where the change should be made to add subscriptions. Subscriptions were previously handled by the ActorPublisher which is no longer used and is replaced by the Graph implementation. The ActorPublisher previously defined:
1) A callback handler for a SubscriptionTimeoutExceeded message
2) A timer that sent a SubscriptionTimeoutExceeded mes

[2016-12-19 16:16] drewhk commented on #19980
Sorry for not chiming in earlier, this is a very tricky issue, and mostly because an identity processor is attached to almost all stages when you expose them as Publishers and hence it simply "removes" the timeout anyway. There is a reason why I haven't already fixed this :(

[2016-12-19 16:20] ilganeli commented on #19980
@drewhk That makes me feel slightly better - I'd still like to understand if I'm missing something. What is an identity processor and why does it remove the timeout? Where does that happen?

[2016-12-19 16:21] jgordijn commented on #22035
I'll try to create a PR this week.

[2016-12-19 16:27] patriknw commented on #22035
Thanks, we should specialize some types for serialization efficiency, see for example how it's done for `GSet`.

[2016-12-19 16:39] guidomedina commented on #22035
@patriknw is there a way to provide your map/set creator factory, say I want to use a different `Set` or `Map` implementation like http://fastutil.di.unimi.it/

Would such functionality be affected by the specialization you are talking about?
The reason to use frameworks like `FastUtil` is because they provide a nice primitive specialization:
- `<int, Object>`
- `<int, int>`
- `<long, Object>`
- `

[2016-12-19 17:52] patriknw commented on #22041
The generated lambdas are serializable if the requested SAM is. For scala.FunctionN, lambdas are always serializable. The problem we are seeing here is that the lambda is serialized as the top level object and for that we try to load the class with the generated lambda name. It works if I wrap the function in another Serializable class, e.g.

[code]

We might be able to use that trick for the `Pro

[2016-12-19 20:23] ilganeli commented on #20489
@kailuowang Can you elaborate on "heavier"? Is that because the router needs to be "cluster-aware"? Are there any other references I could use to build this out?

[2016-12-19 20:35] kailuowang commented on #20489
@ilganeli by heavier I meant heavier in memory usage as you have to keep track the metrics. I don't have a good reference with me right now but I imagine it could take some inspiration from some well established load balancing algos, e.g. this one is interesting
https://www.eecs.harvard.edu/~michaelm/postscripts/mythesis.pdf

[2016-12-19 23:43] ANorwell opened #22042 "akka-stream concatenated Sources always evaluates first element in each Source."
When concatenating Sources created via `Source.unfoldAsync`, the unfolding of every source begins immediately, rather than waiting for previous sources to be consumed.

This is problematic when using e.g. akka-http, because it allows a maximum number of concurrent outgoing requests, and a set of concatenated `Source.unfoldAsync` that make http requests will exceed this limit. It also means that a

[2016-12-20 08:29] jbgi commented on #22030
Possible workaround, if the carried type has an empty element:
[code]

[2016-12-20 15:27] patriknw opened #22045 "run tests with Scala 2.12"
The jenkins job https://jenkins.akka.io:8498/job/akka-nightly-2.12 is not running with 2.12.

I have created a system property for the scalaVersion that we can use.
https://github.com/akka/akka/pull/22044/files#diff-0ecdbc5a001d52fb34f5eafb7cd1aaa6R21

There are also some tests that are not passing, e.g. `akka-remote-tests > multi-jvm:testOnly akka.remote.NewRemoteActor`

[2016-12-20 15:47] ANorwell commented on #22042
Note that `flatMapConcat` doesn't have this issue. The examples here can be fixed with `flatMapConcat`. I believe the reason `concat` has this issue is that it creates a multi-source graph, and uses backpressure to limit the subsequent sources, which does not stop the first element from being emitted.

[2016-12-20 18:19] chris-martin commented on #21213
Of course, go for it, and don't even worry about retaining the authorship if it's any trouble.

[2016-12-20 20:51] andrewrapp opened #22050 "Stream does not fully drain when flow is parallelized"
Running the following code results in:

No parallelize is Vector(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
Parallelize is Vector(0, 1, 2, 3, 4, 5, 6, 7, 8)

The only difference is one parallelizes the flow with the `parallelizeFlow` function. When run with parallelize, the AsyncCallback never fires for the last element.

Tried with both akka .14 and .16 and same result

[code]

[2016-12-21 08:23] drewhk commented on #22050
The answer is that your futureCallbackFlow does not override the `onUpstreamFinish` method in the handler, which defaults to shutting down your stage. In this case you likely have a Future in flight (the last one) when the stage is completed from upstream, hence this last element is not emitted.

Otherwise:
 - Why not use Source(0 to N) instead of a custom source?
 - Why not use mapAsync() instead

[2016-12-21 08:23] #22050 closed

[2016-12-21 09:07] inakov commented on #22035
Hi guys, is anyone working on this task? I would really like to create a PR for this one! I may have some question about the serialization, but on first sight it looks like I'll be able to do it.

[2016-12-21 13:13] patriknw commented on #22037
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/343/consoleText

[2016-12-21 13:16] patriknw opened #22052 "failed: PersistentActorSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4478

[code]

[2016-12-21 14:08] jgordijn commented on #22035
@inakov  Yep, I'm working on it. I'll create a PR this week.

[2016-12-21 14:34] inakov commented on #22035
OK cool :+1:

[2016-12-21 14:38] patriknw commented on #20140
let's do this for 2.5.0, since it's a small api change

[2016-12-21 14:39] patriknw commented on #22035
@inakov There are a few other ddata tickets that shouldn't be too hard if you would like to try.
https://github.com/akka/akka/issues/20140
https://github.com/akka/akka/issues/21618
https://github.com/akka/akka/issues/21648

[2016-12-21 14:51] patriknw opened #22053 "Log when join seed nodes is retried"

[2016-12-21 18:09] ilucker commented on #19928
Implemented in #22001

[2016-12-21 20:23] jlprat opened #22057 "Update release date for Akka in Action book"
Akka in Action publication's date is not up to date and still states estimated in 2016

[2016-12-22 00:39] valydia commented on #16990
Won't such a plugin violate the guideline `Never delete or change existing copyright notices, just add additional info.`  as some of the headers don't share the same year? Would it matter if all the headers are update to the same year range for instance 2009-2016 (or any other), in which case, i could submit a PR? If not, we'll have to wait for [sbt/sbt-header#23](https://github.com/sbt/sbt-header

[2016-12-22 06:14] patriknw commented on #22037
I have only increased the startup timeout. Let's see if that is enough.

[2016-12-22 06:14] #22037 closed

[2016-12-22 08:45] inakov commented on #20140
OK guys, I'm taking this one. @patriknw are you have any suggestions how to preserve the backwards compatibility? I think the clockfly's suggestion is good, because Get and Update already done this way and the API will be consistent.

[2016-12-22 09:50] patriknw commented on #20368
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/572

[code]

[2016-12-22 09:56] #22057 closed

[2016-12-22 10:06] ktoso commented on #19928
Yay, excellent. Closing as duplicate

[2016-12-22 10:06] #19928 closed

[2016-12-22 10:28] patriknw commented on #20140
Thanks for taking it. We can do this small change of the API in Akka 2.5 (master branch) without keeping backwards compatibility.

[2016-12-22 10:38] ktoso commented on #20368
And again https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8085/

[code]

[2016-12-22 10:51] jgordijn commented on #22035
I've created a PR for this: https://github.com/akka/akka/pull/22060

[2016-12-22 10:54] patriknw commented on #22035
Thanks @jgordijn
I'll review after the holidays.

[2016-12-22 12:43] ktoso opened #22061 ""pull" instead "push" log message in port validation in GraphStage"
Tracks https://github.com/akka/akka/pull/22056#pullrequestreview-14140340

[2016-12-22 13:56] inakov commented on #20140
@patriknw I made the change for the delete command. I also added a new msg for the subscribers this way both API are going to be separate and cleaner. I think the request context is inapplicable for the subscribers. If you agree with my changes I'm going to update the doc and create a PR.

[2016-12-22 16:29] lukas-phaf commented on #21892
I also ran into this bug in 2.4.14, and used 2.4.11 to avoid it. Today I tested this in 2.4.16.

The entities are now indeed restarted when the coordinator recovers on another node, but I did find a case where this is not working. I am using a cluster of 4 nodes, with `akka.cluster.min-nr-of-members = 3`. If I crash the oldest node, the shard coordinator is recovered on the second node, and the en

[2016-12-23 08:52] lomigmegard commented on #19542
We stumbled on this issue. The connection is closed when a request is made through nginx (reverse-proxy) and the return entity is large (~800K).
Versions: `Scala 2.11.8`, `Akka 2.4.14`, `Akka HTTP 10.0.0`, `Nginx 1.10.1`.
From the nginx logs, the connection is closed by Akka after the data is transmitted.
From Akka logs, nothing visible :( no exceptions at all.

We didn't find any workaround but t

[2016-12-23 09:01] ktoso commented on #19542
Have you run the system with debug logging on? Of not please do.

On Dec 23, 2016 09:52, "Lomig Mégard" <notifications@github.com> wrote:

[2016-12-23 09:35] jgordijn commented on #22035
@patriknw That's fine. Enjoy the holidays!

[2016-12-23 10:11] jgordijn commented on #21648
There is a PR for this: https://github.com/akka/akka/pull/22063

[2016-12-23 13:49] lomigmegard commented on #19542
We were already in DEBUG level for `akka.*`.
We enabled `akka.io.tcp.trace-logging` and obtained the following logs:

[code]

In Nginx logs:
[code]

When trying with working response we don't have the `Got Close command but write is still pending` and `Got Abort command. RESETing connection`.

It seems that nginx is very aggressive to close the connection early and Akka doesn't like it.

[2016-12-23 14:19] patriknw commented on #21892
@lukas-phaf does that mean that you only had 2 nodes left? Please create a new issue and we'll look into it. Thanks for testing and reporting.

[2016-12-23 15:16] lukas-phaf opened #22064 "Cluster sharding entities are not being restarted when coordinator is moved to another node (continued from #21892)"
This is related to #21892. I still see some problems, and @patriknw asked me to open a new issue for it.

I also ran into this #21892 bug in 2.4.14, and used 2.4.11 to avoid it. I tested this in 2.4.16.

The entities are now indeed restarted when the coordinator recovers on another node, but I did find a case where this is not working. I am using a cluster of 4 nodes, with `akka.cluster.min-nr-of-

[2016-12-23 15:17] lukas-phaf commented on #21892
Yes, after the second failover of the coordinator there were only 2 nodes left. I have created a new issue #22064.

[2016-12-23 18:48] patriknw commented on #20140
Sounds good, please PR and I comment on details after the holidays.

[2016-12-23 20:00] wsargent commented on #21740
@gosubpl LGTM

[2016-12-25 09:18] BertRobben opened #22066 "incorrect documentation for akka persistence journal plugin"
There is a small bug in the documentation for the akka persistence journal plugin.

The documentation mentions:

However the implementation only accepts a constructor with one Config parameter or a constructor without parameters. The config path of the plugin is never passed explicitly, but is available as the name of the journal actor.

Bert

PS: Due to company policy, I'm not able to provide a p

[2016-12-25 09:43] ktoso commented on #22066
Please always provide which Akka version you're using when reporting things.
In this instance, you're using an old Akka version I bet, as in the latest 2.4.16 this is exactly what was added: https://github.com/akka/akka/commit/57e59c84966d982ac72cbbe3a839dcb70bebb373#diff-e96a567a5bb29479ebff5fc1a79acd4bR292

[2016-12-26 10:36] BertRobben commented on #22066
You're absolutely right. I'm using 2.4.9 and was looking at the current version's doc.

[2016-12-26 10:36] #22066 closed

[2016-12-26 10:42] ktoso commented on #22066
No problem, happy hacking! Please upgrade though, it's all compatible so there's no reason to stay on older patch versions 👍

[2016-12-26 21:54] mbesida opened #22067 "Notification mechanism of dropped messages in artery"
Currently ```akka.remote.artery.Association``` sends dropped messages to deadletters. Maybe adding another type of envelope would be better? At least this is an option for sender to subscribe to such a type of messages of eventstream and react appropriately for send queue overflows.

Mechanism that relies on Aeron back pressure resolution would be  ideal.

[2016-12-27 12:11] inakov commented on #20140
PR number is #22068.

[2016-12-27 13:19] inakov commented on #21618
PR is #22069. Cheers! :)

[2016-12-28 00:05] jwair opened #22070 "Discrepancy Between Code and Documentation"
There seem to be a discrepancy between the code and the documentation of the Balancing Pool Router.

[The documentation states that](http://doc.akka.io/docs/akka/current/scala/routing.html#BalancingPool):

However the JavaDoc comment of the constructor indicates that it [uses the dispatcher passed to its constructor](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/routing/B

[2016-12-28 16:22] rkrzewski opened #22071 "Documentation for TLS support in Akka streams is missing"
Current documentation for Akka Streams does not mention TLS.

Ref: https://groups.google.com/d/msg/akka-user/QtSJERVs_9k/ZmXyvOCUAAAJ

[2016-12-30 08:12] jrudolph opened #22073 "Enable mutual TLS authentication for old remoting"
Before, mutual TLS authentication was passively enabled (each side will answer to client certificate requests but will not require them from the other side). This allowed a rolling upgrade to the latest version. Now, we want to require client certificates always.

[2016-12-30 09:24] jrudolph commented on #22061
Fixed by #22056 and #22062.

[2016-12-30 09:24] #22061 closed

[2016-12-30 09:29] svezfaz opened #22074 "Source.fromFunction / Source.continually - shortcut to eval a function for every emit"
Not sure if this has been asked already. I find it very common to construct a Source along the lines of `Source.repeat`, but with the need of evaluating a function and producing a new element every time the source emits.

I usually end up writing `Source.cycle(() => Iterator(Random.nextInt()))` . I'm writing here to check if anyone might deem useful to have a shortcut in `Source.scala` - with a me

[2016-12-30 11:33] gisql commented on #19542
I have the same issue (the file doesn't need to be *that* big --- exceed 10 times net `MTU` and boom!).  I did some testing on my own.  It doesn't seem to be nginx problem. I tried other proxy with the same result.  Exactly the same setup worked with previous version (the 'experimental').

Looking at TCP dump, I can see nginx behaving correctly: it's akka which sends `ACK, RST` packet for no good

[2016-12-30 13:42] gisql commented on #19542
OK, I believe that it is a bug in 'akka X'.  As far as I can tell, if a client sends header `Connection: close`, akka pushes data to tcp channel and promptly closes the connection (without waiting for `ACK`s and such).

We've found a work-around using `nginx`.  Basically, you have to force `HTTP 1.1` with `Connection: keep-alive`.  In order to do so, you need to:

[code]

Hope that helps someone o

[2016-12-30 13:53] jrudolph commented on #19542
Thanks for the information @gisql.

Please report any additional info at akka/akka-http#459. I think we have already identified the issue but didn't get yet to implement and test a fix so far.

[2016-12-30 14:52] aoboturov opened #22075 "`akka.dispatch.Mailboxes` is a package-private class"
On Akka-2.4, apparently, it is not possible to extend the `akka.dispatch.DispatcherPrerequisites` trait because the `akka.dispatch.Mailboxes` is a package-private class. Was this done intentionally?

[2016-12-30 14:54] aoboturov commented on #22075
One could, of course, use ` override def mailboxes = prerequisites.mailboxes` without a type, but still...

[2016-12-30 14:56] jrudolph opened #22076 "After single host resolution failure UDP will drop all subsequent messages"
That's because in this branch

https://github.com/akka/akka/blame/master/akka-actor/src/main/scala/akka/io/WithUdpSend.scala#L61

`pendingSend` isn't reset.

Kudos to @tIGO for [reporting](https://gitter.im/akka/akka?at=586515127a3f79ef5db3cd10) it on gitter.

[2016-12-30 19:01] Philippus opened #22077 "improve documentation on contributing"
I've found some typos and styling fixes which I would like to fix

[2016-12-30 19:25] ktoso commented on #22077
Thanks a lot, looking forward to the PR :)

[2016-12-31 11:22] ktoso commented on #22074
As it's effectively just `Source.repeat(NotUsed).map(_ => new Thing)` I'm not sure it warrants a special operator.

[2017-01-02 11:05] ktoso opened #22079 "FAILED: TlsSpec ClientInitiatesViaTcp"
Timeout in https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8099/consoleFull

[code]

[2017-01-02 11:07] jrudolph opened #22080 "FAILED: akka.stream.io.TlsSpec.SslTls must work in mode ClientInitiatesViaTcp while sending EmptyBytesFirst"
https://jenkins.akka.io:8498/job/akka-nightly/3996/testReport/junit/akka.stream.io/TlsSpec/SslTls_must_work_in_mode_ClientInitiatesViaTcp_while_sending_EmptyBytesFirst/:

[code]

[2017-01-02 11:09] jrudolph commented on #21903
Another one:

https://jenkins.akka.io:8498/job/akka-nightly-2.12/65

[2017-01-02 11:12] jrudolph opened #22081 "FAILED: sample.distributeddata.ReplicatedMetricsSpec"
https://jenkins.akka.io:8498/job/akka-nightly-2.12/68:

[code]

[2017-01-02 11:19] jrudolph opened #22082 "FAILED: DurableDataSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4485/consoleFull:

[code]

and

[code]

[2017-01-02 11:21] jrudolph opened #22083 "FAILED: DurablePruningSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4487/consoleFull

[code]

[2017-01-02 11:22] jrudolph opened #22084 "FAILED: ClusterSingletonRestart2Spec"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/355:

[code]

[2017-01-02 11:24] jrudolph commented on #21965
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/580

and

https://jenkins.akka.io:8498/job/akka-release-2.4/33

[2017-01-02 11:24] jrudolph commented on #21965
https://jenkins.akka.io:8498/job/akka-release-2.4/39/

[2017-01-02 11:25] jrudolph commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly-2.12/70/consoleFull

[2017-01-02 11:26] jrudolph commented on #22080
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/583/testReport/junit/akka.stream.io/TlsSpec/SslTls_must_work_in_mode_ServerInitiates_while_sending_EmptyBytesLast/

[2017-01-02 12:12] ktoso opened #22085 "FAILED: ActorModelSpec"
Very weird failure `ActorModelSpec `

[code]

[2017-01-02 13:40] patriknw commented on #22085
@ktoso link to log or it didn't happen.
Isn't it caused by the crazy GC pauses that I was hunting previously without much success?

[2017-01-02 13:54] ktoso commented on #22085
Link here: https://jenkins.akka.io:8498/view/PR%20Validators/job/pr-validator-per-commit-jenkins/8101/consoleFull

This was today, during the PR validation of the Aeron upgrade. Could indeed just be weird timeouts but this also is weird: `actual: stops=3 required: stops=3 java.lang.AssertionError: await failed`

maybe the message is incorrect anyway?

[2017-01-02 19:25] leosimoesp commented on #16597
Hi, when this problem will be solved ? The settings on play application.conf has no effect.

Connections stay alive and app stop because of concurrent connections.

[2017-01-02 19:26] ktoso commented on #16597
Please always include information what version you're on when asking such questions.
Upgrade to 10.0.1, thanks.

[2017-01-02 21:44] leosimoesp commented on #16597
Hi, I'm using AKKA http server with play framework. My application in production stops after concurrent conections are exhausted. I done a simple test case project without DB access and the problem was the same. The idletimeout dosen't work with AKKA server or Netty server into play. I don't know how to solve this, my customer app in production stops every time :( Could you help me ?

[2017-01-02 21:46] ktoso commented on #16597
Please use the mailing list for such questions. This issue is closed and has nothing to do with your current question. Please provide more details and ask for help on the [community mailing list](https://groups.google.com/forum/#!forum/akka-user) or consider a [Lightbend support subscription](https://www.lightbend.com/platform/subscription), we'd help you in depth with short SLAs then.

[2017-01-02 23:33] gosubpl commented on #22085
The default `shutdown-timeout = 1s` so with `val deadline = System.currentTimeMillis + dispatcher.shutdownTimeout.toMillis * 5` you get timeout after 5s (more or less). Your GC pause was on that order (reported is `real=4.43 secs` but before that, there was 1s pause for concurrent marking and probably nothing managed to run in-between).

[2017-01-03 08:42] 68593018 opened #22088 "Akka EndpointWriter will throw OversizedPayloadException if the Message size over the maximumPayloadBytes"
I'm using akka for opendaylight development, The serialization would be very time consuming if the ReadDataReply Message is very large, it will result in "Received UnreachableMember" in cluster

The default failure-detector will trigger if there are no heartbeats within 5.5s in akka cluster. "Received UnreachableMember" certainly occur if the serialization time exceeded 5.5s

In addition， akka End

[2017-01-03 09:36] patriknw commented on #22088
We recommend against sending large messages. Try to split them into smaller messages or send them via a side channel that is not using Akka remoting.

Note that Artery has some better support for large messages, but the recommendation is still valid.
http://doc.akka.io/docs/akka/2.4/scala/remoting-artery.html#Dedicated_subchannel_for_large_messages
You can increate the max allowed size, see refere

[2017-01-03 09:36] #22088 closed

[2017-01-03 10:00] inakov commented on #21880
I would like to do that. I'll start with the RouteHub, because is something I needed once. I'll PR this week.

[2017-01-03 10:20] jrudolph commented on #22079
Closing this one as duplicate of #22080 because the other one already has two instances ;)

[2017-01-03 10:20] #22079 closed

[2017-01-03 10:20] jrudolph commented on #22080
Another one was files as #22079.

[2017-01-03 11:29] patriknw commented on #21880
excellent, much needed feature

[2017-01-03 12:37] fflatorre opened #22090 "akka cluster - observer nodes exposed via JMX"
The current CLI provides already a bunch of helpful commands :
http://doc.akka.io/docs/akka/2.4/scala/cluster-usage.html#cluster-command-line-scala

However, given there are some heuristics based on convergent behaviour of all the observes nodes (i.e. failure detection, reachable/unreachable tags etc), in order to facilitate the debug would be good to have in member-status and/or cluster-status, f

[2017-01-03 12:47] ktoso commented on #22090
On a related note, have you seen: https://github.com/akka/akka-cluster-management ?

[2017-01-03 14:01] patriknw commented on #22083
strange, the leaving is not completed, the node is not removed as expected. It might be that the 15 seconds is too little.

[2017-01-03 14:07] patriknw commented on #22084
I think this is due too short timeout, will be changed in https://github.com/akka/akka/pull/21930

[2017-01-03 14:11] patriknw commented on #22082
the "[replicator-2] is not unique" is only a symptom of that the previous step is failing

[2017-01-03 14:29] patriknw commented on #22082
this is the test failure:
[code]

Strange

[2017-01-03 14:34] patriknw commented on #21870
One more https://jenkins.akka.io:8498/job/akka-nightly-2.12/68

[2017-01-03 14:34] patriknw commented on #22081
This is a duplicate of https://github.com/akka/akka/issues/21870

[2017-01-03 14:34] #22081 closed

[2017-01-03 14:40] #22014 closed

[2017-01-03 14:40] #22085 closed

[2017-01-03 14:40] fflatorre commented on #22090
Thanks for pointing my out to this very interesting initiative, it looks very promising.
I can see it as a long term solution and tooling integration enabler, either way very welcome !

Leveraging my little scala I can see the list of observers is only provided for unreachable nodes :
https://github.com/akka/akka-cluster-management/blob/master/cluster-http/src/main/scala/akka/cluster/http/manageme

[2017-01-03 14:46] jrudolph commented on #22073
Fixed by #22086.

[2017-01-03 14:46] #22073 closed

[2017-01-03 15:40] patriknw opened #22093 "stop ClusterClient ResponseTunnel after first reply when ask is used"

[2017-01-03 15:54] patriknw commented on #22074
Sounds good to not add a special operator for this. Would be good to document it in the [cookbook](http://doc.akka.io/docs/akka/2.4/scala/stream/stream-cookbook.html). Can you create a pull request updating the documentation, @svezfaz ?

[2017-01-03 15:57] patriknw commented on #22075
I agree that it should be

[code]

Why would you need to extend `DispatcherPrerequisites`, @aoboturov ?

[2017-01-03 16:02] patriknw commented on #22070
Isn't this the dispatcher for the "head" router, not the dispatcher for the routees?
http://doc.akka.io/docs/akka/2.4/scala/routing.html#Configuring_Dispatchers

[2017-01-03 16:05] #21724 closed

[2017-01-03 16:06] ktoso commented on #19174
Done

[2017-01-03 16:06] #19174 closed

[2017-01-03 16:11] aoboturov commented on #22075
As far as I can see, that's the only option to provide a custom
ThreadFactory via a Dispatcher Configurator.

On Jan 3, 2017 4:58 PM, "Patrik Nordwall" <notifications@github.com> wrote:

[2017-01-03 16:51] #21365 closed

[2017-01-03 17:18] ktoso opened #22095 "FAILED: Rarely ArteryRemoteRoundRobinSpec fails"
It seems it fails to resolve one of the remote actors I believe.

[code]

[2017-01-03 17:19] ktoso commented on #22095
Compression should not play a role here since it's at 1 minute intervals anyway (and is not seen in logs).

[2017-01-03 17:30] Andrei-Pozolotin opened #22096 "RFE: expose aeron sink/source"
1) Re: http://blog.akka.io/artery/2016/12/02/streams-in-artery
complete transport streams are too heavy for stream-centric applications:
`app-source -> artery -> aeron-sink > net > aeron-source -> artery -> app-sink`

2) it would help to expose bare aeron sink/source similar to [stream/scaladsl/Tcp](https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/scaladsl/Tcp.scala)

[2017-01-03 18:10] patriknw opened #22097 "failed: FlowSplitWhenSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8118

[code]

[2017-01-03 18:13] ktoso commented on #22097
Very weird one, should look into it soon.

[2017-01-03 18:33] ktoso commented on #22096
I'd argue that "too heavy" claims need to be backed up with data ;-)

Also, that'd be underestimating what Akka gives you, it's more than just "slap it onto Aeron".

What you're looking for is very likely more https://github.com/akka/alpakka/pull/69 than it is "expose aeron source/sink". We're aiming to provide a Reactive Socket sink/source eventually. That, in my opinion, will be much more useful

[2017-01-03 18:51] patriknw commented on #22064
@lukas-phaf You said "after the second failover of the coordinator there were only 2 nodes left".
Then it is expected that it will not allocate new shards or start previously remembered shards, or did I misunderstand something? When you add another node to the cluster again it should start those shards.

[2017-01-03 18:53] patriknw commented on #22036
@mehdimousavi1995 This looks like an Akka HTTP ticket so please create that in https://github.com/akka/akka-http, but if you are not sure it is an issue you should first ask in the mailing list (we don't use the issue tracker for questions).

[2017-01-03 18:53] #22036 closed

[2017-01-03 19:53] Andrei-Pozolotin commented on #22096
1) Re: "need to be backed up with data"  - here is the "data": with `artery` in the pipe, how can one avoid akka message `header` overhead plus the obligatory `serialize/deserialize` trip instead of direct `disk -> wire -> disk` zero-copy for kafka-like use case?

2) Re: "Reactive Socket integration" - looks like it may take "never" to materialize, while exposing aeron is "almost" there, as shown

[2017-01-03 20:53] andrewrapp commented on #22050
Hi, thanks for responding -- for some reason I didn't get an email from github. The actual code is more complicated but I simplified it as much as possible to present the issue and I could not reproduce the issue with Source(1 to 10), but makes sense now. I'll try incorporating onUpstreamFinish and the other recommendations. Thanks!

[2017-01-03 20:58] #21736 closed

[2017-01-03 23:46] svezfaz commented on #22074
Makes sense to me. I'll create a PR in a few days.

[2017-01-04 07:04] jrudolph opened #22098 "FAILED: BackoffOnRestartSupervisorSpec.BackoffOnRestartSupervisor must restart the child with an exponential back off"
https://jenkins.akka.io:8498/job/akka-nightly/4022/testReport/junit/akka.pattern/BackoffOnRestartSupervisorSpec/BackoffOnRestartSupervisor_must_restart_the_child_with_an_exponential_back_off/

[code]

[2017-01-04 07:18] lukas-phaf commented on #22064
@patriknw I thought the intention of the `akka.cluster.min-nr-of-members` flag was to only affect startup of the cluster, not during fault recovery. From the documentation:
[code]
Also, see [Clusster Sharding documentation](http://doc.akka.io/docs/akka/2.4/scala/cluster-sharding.html#Startup_after_minimum_number_of_members).

To me, it makes sense not to allocate shards on cluster startup, to avoi

[2017-01-04 07:54] patriknw commented on #22064
The behavior is different from 2.4.11 because this feature was introduced in Cluster Sharding in 2.4.12.

The behavior is similar with the Cluster membership. If you use `min-nr-of-members=5` and have a cluster of 5 members, then remove 2 to have 3 remaining. If you at that point join 1 node it will not be moved to `Up` until you join 1 more node and reach a total of 5.

For example it might not b

[2017-01-04 14:12] bidhu007 opened #22100 "Memory leak in Play akka.actor"
I am performance testing (@100 RPS) an app built using Playframework and observed memory leak.
The Playframework version I have tested with are 2.5.5, 2.5.6, 2.5.7 and 2.5.8 and all these versions are showing same memory issue.
Monitored the load runs with JvisualVM and JMC, found that GC runs but overall memory footprint keeps on increasing and after reaching max heap, the server throws OOO messa

[2017-01-04 14:15] ktoso commented on #22100
This could be anything, including you leaking your own actors and never stopping them.
Please find out what actor (their names) is leaking, otherwise I'm inclined to close this as it's very likely not an Akka issue.

[2017-01-04 14:19] bidhu007 commented on #22100
1. How can we find the actors which are leaking.
2. How can we close akka actors explicitly.

[2017-01-04 14:23] ktoso commented on #22100
Use some kind of monitoring (lightbend monitoring, kamon). or find the names in the profiler - browse around the tree, you'll find the names in actor cell.

Actors live as long as you don't stop them. As simple as that, please read the documentation (github issues is *not* a support channel):  http://doc.akka.io/docs/akka/2.4.16/scala/actors.html

[2017-01-04 14:33] bidhu007 commented on #22100
I used monitoring tools like JvisualVM and JMC and both are showing redblack tree is retaining heap memory.
Let me do some more analysis and test after closing actors explicitly.

[2017-01-04 14:35] ktoso commented on #22100
It's not the tree's fault - it's just the container ;-) Figure out which actors that are.
Closing for now. Please open if this can be tracked to an issue in Akka itself, if not then it's not an issue that should be on this issue tracker.

[2017-01-04 14:35] #22100 closed

[2017-01-04 16:00] Philippus opened #22102 "Update license year range to 2017"

[2017-01-04 19:36] ktoso commented on #19950
Really, if there was news they'd be noticed in the ticket 😉
Have you read the docs on the subject? http://doc.akka.io/docs/akka/2.4.16/scala/stream/stream-error.html#Supervision_Strategies

We're focused on other areas that are more important right now.
If you have specific questions or needs please write them up, just poking tickets like this is not really helpful :)

[2017-01-04 19:37] ktoso commented on #19950
We also have operators like `recover`, `mapError` and the supervision as I just linked.
Let us know what specifically you're looking for / missing.

[2017-01-04 19:39] valdo404 commented on #19950
Mmmh, I'm sorry. I was just interested in the current state of that ticket. Let me know how I can help.

[2017-01-04 19:40] ktoso commented on #19950
I explained a few ways to obtain effects similar to this ticket, what are you missing from those?
I'm not sure supervision as explained in this ticket is how we want it in the end actually.

[2017-01-04 19:45] valdo404 commented on #19950
Basically we are using a ReactiveKafka source which makes deserialisation errors and we would like to detect the error using a supervision strategy which stops the RunnableGraph, but it looks like it does not help. We have been crawling stack overflow for some time and we feel like it is the only place where we can have some information.

[2017-01-04 19:47] ktoso commented on #19950
I don't quite understand that part, could you explain in detail what's not working (with sample code perhaps?):

if a stream gets an error it will stop, what is not functioning as expected for you?

Sounds like this would be best handled as [akka-user discussion](https://groups.google.com/forum/#!forum/akka-user), where you'd explain in detail what you're trying to achieve, what you have, and what

[2017-01-04 20:54] rkuhn opened #22105 "create reusable Processes for formulating Typed Behaviors"
see also [Roland’s blog](https://github.com/rkuhn/blog/blob/master/01_my_journey_towards_understanding_distribution.md)

[2017-01-05 13:07] GAURAVJAYSWAL commented on #22071
@jrudolph any update?

[2017-01-05 14:04] haggy opened #22107 "[cluster-sharding] Consistent hash shard allocation"
Hi there,

I've been reading and re-reading all the docs (and now digging through source) about how the `ShardCoordinator` allocates/routes messages to each shard region. The issue I have is each one of the messages is coming off a queue and has a "sender ID" on it that remains consistent for each sender. For a given sender ID, I want the messages to be consistently routed to the same shard region

[2017-01-05 14:14] patriknw commented on #22107
Your understanding is correct. Please use the [mailing list](https://groups.google.com/forum/#!forum/akka-user) for questions, we don't use the issue tracker for questions.

[2017-01-05 14:14] #22107 closed

[2017-01-05 14:21] haggy commented on #22107
Ah OK well thank you for clarifying and I'll use the mailing list for questions from now on.

[2017-01-05 15:58] #22102 closed

[2017-01-06 09:29] ktoso opened #22109 "Introduce API stability annotations"
Originated in https://github.com/akka/akka-http/issues/438

Let's start simple:

- `@InternalApi` - equivalent of current `/** INTERNAL API*/` comments, we'll work on MiMa to be aware of these (!) so no filtering out when touching such classes/methods will be needed
- `@ApiMayChange` - To mark new "experimental" APIs, such as the #662 API

These annotations will land immediately in akka.actor, we'

[2017-01-06 10:01] ktoso commented on #22109
For Akka HTTP we actually need something like `DoNotInherit` - this was the original driver for this idea actually. Specifically it is about the Akka HTTP model - it is all public, and it has interfaces (javadsl), but no one should extend it as we want to add methods to these javadsl interfaces.

[2017-01-06 12:55] #22109 closed

[2017-01-06 15:19] lukas-phaf commented on #22064
Thanks for the explanation. That explains why it 'worked' in 2.4.11, it was just ignoring my `min-nr-of-members` setting.

I'll have to take a long look at the code to even begin to understand how the sharding is implemented. When I have some time, I'll try to do that.

Without even looking at the code, a quick suggestion for Cluster membership would be: if any of the nodes in the cluster are `Up`

[2017-01-06 16:54] dancohensmith commented on #18982
I am getting this with 2.4.12 it comes as debug logging but terminates the stream i have. I have an open ended connection between two microservices as i am streaming unidirectionally between them using Akka-http. It is casing the response entity stream to terminate in error:  I am watching the termination of the response stream:

6:52:50.114 [default-akka.actor.default-dispatcher-5] DEBUG akka.act

[2017-01-06 16:58] ktoso commented on #18982
Please first update to the latest version. Akka HTTP is now 10 0 2. If
problems persist please open a new ticket in the right repo. Akka/akka-http

On Jan 6, 2017 17:54, "dancohensmith" <notifications@github.com> wrote:

[2017-01-07 03:38] Andrei-Pozolotin opened #22113 "stream: GC: remove iterators in Graph.scala/Broadcast...onPush...tryPull"
[Graph.scala/Broadcast...onPush...tryPull](https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/scaladsl/Graph.scala#L420) for every message needlessly creates `Vector.iterator` instances, instead using of index `while` loop

[2017-01-09 01:55] lwsbox opened #22114 "Node can not join to the cluster"
the akka version is 2.3.14

we found that cluster node does not send "join" to seed node after receives the "InitJoinAck", so
the node can't join the cluster.

Further work, we found that TcpClientHandler receives the "InitJoinAck" datagram, but ClusterCoreDaemon can't get the "InitJoinAck" message.

If we reset the socket (such as reboot the seednode), everything would be done well.

we add some

[2017-01-09 13:17] patriknw commented on #22114
Sounds strange.

Is "send initJoin to" a logging you have added yourself? Note that you can enable logging of sent and received messages: http://doc.akka.io/docs/akka/2.4/scala/logging.html#Auxiliary_remote_logging_options

[2017-01-09 14:42] jrudolph opened #22116 "Make TlsUtils.applySessionParameters accessible somewhere"
When using the new low-level TLS constructor provided by #21753 it would be nice to be able to reuse methods from TlsUtils which are currently `private[stream]` and therefore inaccessible from akka-http. These methods should be made accessible either by introducing proper API or by making them `private[akka]`.

[2017-01-09 15:25] #22053 closed

[2017-01-09 19:05] Chuwiey commented on #20891
Looked into implementing this really quick, but it seems @ktoso that you need to get the https://github.com/typesafehub/sbt-java-formatter build to pass first ;-)

[2017-01-09 19:28] Chuwiey commented on #17247
Interested in taking this on. Is it still needed, can we confirm?

[2017-01-09 19:30] Chuwiey commented on #21874
#in-progress

[2017-01-09 19:30] Chuwiey commented on #21394
#in-progress

[2017-01-09 19:31] Chuwiey commented on #21314
#in-progress

[2017-01-09 19:31] Chuwiey commented on #21298
#in-progress

[2017-01-09 19:33] ktoso commented on #21874
Please link to the PR which is in progress with it so we don't have to re-do the search process :-)
Refs https://github.com/akka/akka/pull/21885/

[2017-01-09 20:19] patriknw opened #22117 "ClusterSingletonProxy should stop when MemberRemoved"

[2017-01-09 21:13] ktoso commented on #20891
Help on fixing the plugin would be great as well though. I'm trying to focus as much as I can on HTTP/2 this month so we can ship it soon.

Would you have a look? It's likely a very simple mistake hm...

[2017-01-09 21:18] patriknw commented on #17247
@Chuwiey I think it's an interesting algorithm to explore, so it would be great if you take it.

[2017-01-09 22:11] VRanga000 opened #22119 "TimerBasedThrottler rate limit should be applied to a moving window"
TimerBasedThrottler currently measures the rate at each timer tick within the window since the last tick. This could cause wide variations in instantaneous message throughput (as noted in the code comments by the authors). This makes the throttler unsuitable for rate limiting messages, especially to external services. Using a moving window to measure the rate would mitigate this limitation.

[2017-01-10 00:59] cwei-bgl commented on #18535
@ktoso I spotted a strange thing that these marshallers/unmarshallers have source code declaration order requirement. If you move the declaration of Item, Order and JsonSupport to the bottom of MyJsonService in SprayJsonExampleSpec.scala, you will get the error -  could not find implicit value for parameter um: akka.http.scaladsl.unmarshalling.FromRequestUnmarshaller.

Do you know if this is Scala

[2017-01-10 01:03] ktoso commented on #18535
Yes they have that requirement, because order in these matters because of how implicit resolution works.

Please ask such questions on the akka-user mailing list or gitter chat. Github is for issues, especially please open new tickets if you have something to report rather than reviving closed threads, thanks!

[2017-01-10 01:32] epiphyllum opened #22120 "Exception in thread "main" java.lang.NoSuchMethodError: akka.actor.LocalActorRefProvider.log()Lakka/event/LoggingAdapter;"
OS:  OSX EI Capitan 10.11.6
scala version 2.11.8
sbt version 0.13.11
==============================================
My Build.scala
==============================================
import com.trueaccord.scalapb.{ScalaPbPlugin => PB}
import sbt.Keys._
import sbt._
import spray.revolver.RevolverPlugin.autoImport.Revolver

object Resolvers {
}

object Dependencies {

  private val akka = "2.4.11"
  priv

[2017-01-10 01:34] lwsbox commented on #22114
Is "send initJoin to" a logging you have added yourself?

 Note that you can enable logging of sent and received messages: http://doc.akka.io/docs/akka/2.4/scala/logging.html#Auxiliary_remote_logging_options

[2017-01-10 06:57] fkowal opened #22122 "akka 2.12 < 2.4.16 broken artifacts"
i am using scala-library 2.12.1 and akka-cluster 2.4.14

i am looking into upgrading to scala 2.12 from scala 2.11
and i am getting an error like this

when debugging java.lang.Class.reflectionData...declaredFields doesn't seem to show a transient modifier for the cache field

[code]

[2017-01-10 08:18] drewhk commented on #22119
Use Streams and the `.throttle()` combinator instead.

[2017-01-10 08:24] drewhk commented on #22119
Ah, I see there is a fix https://github.com/akka/akka/pull/22121/files

[2017-01-10 08:29] patriknw commented on #21662
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/12680/consoleText

on the PR branch of compression ownership

[2017-01-10 09:01] patriknw commented on #20180
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/12658

[2017-01-10 10:01] patriknw commented on #20806
There was a promising start in https://github.com/akka/akka/pull/20807, but due to inactivity that was closed. It would be great if someone in community could continue the work.

[2017-01-10 10:39] patriknw commented on #22122
@fkowal Are using `akka.actor.serialize-messages=on` for testing purposes? The stack trace shows that this is one of those checks, but I can't understand why it would use Java serializer. The top message is `Gossip`. Have you changed default serialization configuration?

[2017-01-10 11:38] drewhk opened #22124 "FAILED: TlsSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4524/testReport/akka.stream.io/TlsSpec/SslTls_must_emit_an_error_if_the_TLS_handshake_fails_certificate_checks/

[2017-01-10 11:40] drewhk opened #22125 "FAILED: akka.typed.PerformanceSpec"
[info] akka.typed.PerformanceSpec *** ABORTED *** (17 seconds, 305 milliseconds)
[info]   java.lang.IllegalStateException: cannot enqueue after timer shutdown
[info]   at akka.actor.LightArrayRevolverScheduler.scheduleOnce(LightArrayRevolverScheduler.scala:137)
[info]   at

[2017-01-10 11:41] drewhk commented on #21903
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4537/consoleFull

[2017-01-10 11:42] drewhk opened #22126 "FAILED: MultiNodeClusterSpec"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/380/consoleFull

[JVM-1] - must reach initial convergence *** FAILED *** (25 seconds, 173 milliseconds)
[JVM-1]   4 did not equal 5 (MultiNodeClusterSpec.scala:311)
[JVM-1]   org.scalatest.exceptions.TestFailedException:
[JVM-1]   at org.scalatest.MatchersHelper$.indicateFailure(MatchersHelper.scala:340)
[JVM-1]   at org.scalatest.Matchers

[2017-01-10 11:43] drewhk opened #22127 "FAILED: akka.typed.BehaviorSpec"
https://jenkins.akka.io:8498/job/akka-nightly/4036/consoleFull

[info] akka.typed.BehaviorSpec *** ABORTED *** (622 milliseconds)
[info]   java.lang.IllegalStateException: cannot enqueue after timer shutdown
[info]   at akka.actor.LightArrayRevolverScheduler.scheduleOnce(LightArrayRevolverScheduler.scala:137)
[info]   at akka.actor.Scheduler$class.scheduleOnce(Scheduler.scala:126)
[info]   at akka

[2017-01-10 11:44] drewhk opened #22128 "FAILED: FlowLogSpec"
https://jenkins.akka.io:8498/job/akka-release-2.4/52/consoleFull

[code]

[2017-01-10 11:44] drewhk commented on #21965
https://jenkins.akka.io:8498/job/akka-release-2.4/51/consoleFull

[2017-01-10 11:45] drewhk commented on #20179
No activity since 3 months, closing.

[2017-01-10 11:45] #20179 closed

[2017-01-10 11:47] drewhk commented on #20400
Quite old, but since it seems to happen rather rarely, I keep this open for a while.

[2017-01-10 11:47] drewhk commented on #20663
Have not happened since. I close it now.

[2017-01-10 11:47] #20663 closed

[2017-01-10 11:48] drewhk commented on #20223
Have not happened since a while, but there were multiple occurences before, so keeping open.

[2017-01-10 11:48] drewhk commented on #21570
I guess this is still relevant as we have not yet enabled multiple-lanes in test?

[2017-01-10 11:49] drewhk commented on #21751
Have not happened since a while, closing.

[2017-01-10 11:49] #21751 closed

[2017-01-10 12:10] fkowal commented on #22122
update i was using akka v.2.4.14 not 2.4.16, the problem seems to be solved in 2.4.16 #20641

yes i am using akka.actor.serialize-messages=on
i've also got custom serializers for my messages, but this is an internal message so that falls into the default serializer i guess

during debugging what struck me as strange
was that akka.cluster.Reachability
@transient private lazy val cache = new Cache
w

[2017-01-10 12:37] ornicar commented on #17748
I'm hitting this issue as well, by using kamon influxDB UDP transport. Looks like the `IO(Udp)` transport is not recovering:

[code]

Not sure how to proceed from here.

[2017-01-10 13:05] drewhk commented on #17247
Yes, sounds like a cool contrib project :)

[2017-01-10 13:21] jrudolph commented on #17748
There's also https://github.com/akka/akka/issues/22076 which might be related.

[2017-01-10 13:56] patriknw commented on #22122
`publish(ClusterDaemon.scala:1159)` is sending `Gossip`, which includes `Reachability`. It looks that `Gossip` is serialized with java serialization, which is wrong. It should use the protobuf serializer. I have no clue why it would do that.

To investigate if it's a Scala bug one could try to serialize `Reachability`.

[2017-01-10 13:57] patriknw commented on #21570
yes, still valid. the performance improvements doesn't change this.

[2017-01-10 14:00] patriknw commented on #21424
Let's close since it was long time since it occurred.
We have another for enabling it with Artery. https://github.com/akka/akka/issues/21483

[2017-01-10 14:00] #21424 closed

[2017-01-10 14:02] patriknw commented on #21965
This can probably be closed together with https://github.com/akka/akka/pull/22047
At least it doesn't make sense to debug the old implementation.

[2017-01-10 14:23] patriknw commented on #22126
This was SurviveNetworkInstabilitySpec and it's caused by
[code]

We grab the port by binding and closing a socket, so there is a chance that someone else grabs the same port. Not much we can do about that.

[2017-01-10 14:25] patriknw commented on #22125
Probably same reason as for https://github.com/akka/akka/issues/22127

[2017-01-10 16:51] fkowal commented on #22122
here is what i found
for scala 2.11
[code]
Everything looks ok: notice the transient modifier on the cache field

For scala 2.12
[code]
the cache field doesn't have the transient modifier

My conclusion would be the artifacts are broken. I don't have any ideas how could that happen.

When i played around with scala 2.12 repl javap works correctly for @transient. So there must be something with the

[2017-01-10 16:57] patriknw commented on #22120
I guess that you are mixing two Akka versions that are not compatible. Look
at the dependencies for akka-http, since there was a change in artifact
names and version for akka-http.
https://github.com/jrudolph/sbt-dependency-graph is useful.

The full stack trace might reveal something.

/Patrik

tis 10 jan. 2017 kl. 02:32 skrev hary <notifications@github.com>:

[2017-01-10 16:59] patriknw commented on #22122
Perhaps it was fixed in Scala 2.12.1? Akka 2.4.14 was maybe compiled with 2.12.0.

[2017-01-10 17:03] patriknw commented on #22122
By the way, the real remote message is `GossipEnvelope`, so this `Gossip` send is only a local send. That explains why Java serialization is used there.

[2017-01-10 17:31] fkowal commented on #22122
[code]

scala 2.12.0 doesn't seem to be the problem.

I have no idea what binary compatibility is about, but from what i see it's being check in the build process of akka.

But i'd bet that loosing transient modifier would break binary compatibility.

I don't know how else to help.
Perhaps a blog post about those artifacts being broken would be in order?

Can these artifacts be marked as broken in

[2017-01-10 18:09] prettynatty opened #22129 "LengthFieldFramingStage decrement length by offset bytes"
In my case ByteString frame looks like:
[code]
If I use `LengthFieldFramingStage` with offset it reads body length, but in resulting frame body is expectedly truncated by 5 bytes from its end.
My idea is to add an option `countOffsetBytes` (default true) to `LengthFieldFramingStage` indicating that length is length of bytes after the `length` bytes only. Am I thinking in right direction? If yes, I

[2017-01-10 20:14] patriknw commented on #22122
Well, every release will have some bug, this is no different.
This is nothing serious for Akka since it's only a testing facility that doesn't work, and it's fixed in a later version somehow. Thanks for reporting, and investigating.

[2017-01-10 20:52] fkowal commented on #22122
no prob. thx

[2017-01-10 20:52] #22122 closed

[2017-01-11 00:38] epiphyllum commented on #22120
I found it:
it can not be used with akka-http-session which a project by softwaremill

[2017-01-11 00:38] #22120 closed

[2017-01-11 09:18] ktoso commented on #22120
Well, the solution is to ask them to release for the latest stable version, will you ping them in the apropriate repo pls?

[2017-01-11 09:20] ktoso commented on #22120
It seems they did publish for the latest version so it should not be the problem.
See: https://github.com/softwaremill/akka-http-session

Would be good to track this down.

[2017-01-11 11:09] prettynatty commented on #22129
Ah, after some sleep I've figured out that the problem is a bit different.
It truncates 4 bytes from the end of body which means that in my case I need `LengthFieldFramingStage` to include `length` field count to the actual frame size.

[2017-01-11 11:14] prettynatty commented on #22129
So, to cover all cases, I'd add an option `lengthTransformer: Int => Int`.

[2017-01-11 12:13] oseval commented on #22129
I think `lengthTransformer: Option[(Array[Byte] /* offset bytes */, Int) => Int]` will be better

[2017-01-11 13:31] patriknw commented on #22064
I'm referring to start of the sharding coordinator singleton instance, not start of a node.

[2017-01-11 15:09] #21740 closed

[2017-01-11 15:21] patriknw commented on #18373
Solved by the coordinated shutdown #21537

[2017-01-11 15:21] #18373 closed

[2017-01-11 19:09] tpantelis opened #22133 "java.lang.OutOfMemoryError: Direct buffer memory error with artery"
Saw this exception with artery enabled:

15:30:51 2017-01-10 15:21:02,070 | ERROR | ult-dispatcher-3 | kka://opendaylight-cluster-data) | 203 - com.typesafe.akka.slf4j - 2.4.16 | Aeron error, Direct buffer memory
15:30:51 java.lang.OutOfMemoryError: Direct buffer memory
15:30:51 	at java.nio.Bits.reserveMemory(Bits.java:693)[:1.8.0_111]
15:30:51 	at java.nio.DirectByteBuffer.<init>(DirectByteBuffe

[2017-01-11 21:51] patriknw commented on #22133
We should absolutely document this (I know about it, but it feel through the cracks).

Is there a way to get the max limit in runtime so we could issue an warning?
JVM args could be retrieved from RuntimeMXBean but that is not so nice.

Trying to catch OutOfMemoryError doesn't sound attractive. If that is filled up it will probably start throwing at other places where we are not in control.

[2017-01-11 22:25] tpantelis commented on #22133
The only viable way is via RuntimeMXBean. There is sun.misc.VM but you wouldn't want to use that of course.

[2017-01-12 06:00] zhao141 opened #22135 "about abstractFSM in cluster sharding"
cluster sharding is not normal work? untypedactor is ok.

iss my question?

[2017-01-12 06:02] patriknw commented on #22135
Please use mailing list or gitter for questions. We only track issues here.

[2017-01-12 06:02] #22135 closed

[2017-01-12 09:00] jgordijn commented on #21648
Can this issue be put on milestone 2.5.0?

[2017-01-12 10:01] patriknw commented on #21648
Yes, I don't think it's important enough to backport to experimental 2.4.x, unless you have a different opinion.

[2017-01-12 11:08] drewhk commented on #22124
another: https://jenkins.akka.io:8498/job/akka-multi-node/1895/consoleFull

[2017-01-12 11:14] jgordijn commented on #21648
I agree under the assumption that 2.5.0 will become available in Q1.

[2017-01-12 11:17] drewhk commented on #22133
Nevertheless, we can keep a counter on created DirectByteBuffers rather easily and fall back to heap based buffers once that limit is reached (and likely log a warning). This allows for some graceful degradation compared to a OOME.

[2017-01-12 11:45] patriknw commented on #21648
That is in line with my plan. I would like to have most things ready by the end of January, and releasing a milestone then. Then it might be some minor polish left until we ship the first release candidate.

[2017-01-12 12:26] jgordijn commented on #21648
Awesome, good to hear that.

[2017-01-12 13:14] tpantelis commented on #22133
Agree - sounds like a good solution.

[2017-01-12 14:04] by-dam opened #22136 "Combining multiple `ReadEventAdapter` throws `IllegalStateException`"
When there is a event-adapter-binding declared with multiple read-event-adapters like so

[code]
it throws `IllegalStateException("CombinedReadEventAdapter must not be used when writing (creating manifests) events!")` whereas it works fine when the binding uses a single `ReadEventAdapter`.

The reason is that multiple event-adapters are combined into a `CombinedReadEventAdapter` which throws an `I

[2017-01-12 14:26] Chuwiey commented on #21879
please mark as in progress (or done) based on PR #22011

[2017-01-12 14:33] #22035 closed

[2017-01-12 15:43] Chuwiey commented on #21213
please mark as "in progress" due to PR #22051

[2017-01-12 15:45] ktoso commented on #21213
Thanks!

[2017-01-12 15:46] Chuwiey commented on #19709
please close according to #20321

[2017-01-12 15:52] #19709 closed

[2017-01-12 15:52] ktoso commented on #19709
Thanks!

[2017-01-12 15:59] Chuwiey commented on #17247
Starting to work on this!

[2017-01-12 19:27] ktoso commented on #17247
Very cool, marked as such

[2017-01-12 21:02] #22077 closed

[2017-01-12 21:04] ktoso commented on #22077
Right thanks :)

[2017-01-13 08:53] patriknw commented on #21050
Continued here https://github.com/akka/alpakka/issues/145

[2017-01-13 08:53] #21050 closed

[2017-01-13 09:17] #22093 closed

[2017-01-13 09:39] #21475 closed

[2017-01-13 11:32] #21648 closed

[2017-01-13 12:11] drewhk opened #22140 "FAILED: ReplicatedDataSerializer"
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/389/consoleFull
https://jenkins.akka.io:8498/job/akka-artery-cluster-tests/388/consoleFull

[code]

[2017-01-13 12:12] drewhk commented on #22083
https://jenkins.akka.io:8498/job/akka-multi-node/1898/consoleFull

Not the exact same test, but I think it is the exact same failure.

[2017-01-13 13:16] patriknw commented on #22140
Interesting, I thought that was a completely deterministic unit test.
Can you take a look @jgordijn ?

[2017-01-13 15:05] patriknw commented on #21394
Note that this was not backported to 2.4.x

[2017-01-13 15:05] #21394 closed

[2017-01-13 15:18] patriknw commented on #18262
Might be related to https://github.com/akka/akka/issues/21910

[2017-01-13 15:24] #13767 closed

[2017-01-13 15:29] patriknw commented on #16746
We have a version in Artery header. Adding support for full negotiation of any application or akka internal (e.g. cluster membership) protocol is out of scope. We are carefully evolving the protocols in a compatible way instead.

[2017-01-13 15:29] #16746 closed

[2017-01-13 15:33] patriknw opened #22141 "use majority with minimum cap in Cluster Sharding"
When #21618 is merged it should be used in Cluster Sharding

[2017-01-13 15:34] #21576 closed

[2017-01-13 15:37] patriknw commented on #22133
Wouldn't that mean that we must always return the buffers to the pool? I don't think we have that as a hard requirement for all error situations currently.

[2017-01-13 15:54] rkuhn commented on #16746
Which level of serialization compatibility is this meant to imply?

[2017-01-15 19:42] jgordijn commented on #22140
Hi, that's strange. I'll take a look at it.

[2017-01-15 20:08] jgordijn commented on #22140
It only seems to be failing in the `akka-artery-cluster-tests`. Is there something specific about this build? I have run these tests numerous times and they never failed, nor do they seem to be failing in the nightly builds.

The test itself is quite simple. Find the serializer based on the manifest for the object. Deserialize the given data, then serialize again and check if the data is different

[2017-01-15 21:12] jgordijn commented on #22140
seems that in the test the newly serialized "value" is in the binary file as: "value1" while it expects "\254\355\000\005t\000\006value1"

(found using: `protoc --decode_raw < /tmp/newblob` after persisting the byte array to file)

So it serialized string differently, but I don't know why.

[2017-01-15 21:42] jgordijn commented on #22140
it uses a different serializer for the string. I overlooked the field `serializerId`

So apparently it uses the JavaSerializer to serialize String, but during the artery test, it uses the `"akka.remote.serialization.StringSerializer" = 20` from akka-remote. This is where the difference comes from.

Now the question arises why this is different in different builds. I guess that in production it wou

[2017-01-16 00:36] Chuwiey commented on #17247
After looking into this, I'd like to make sure we know the following - every lookup requires O(n) where n is the number of routees. This is different from consistent hashing which would end up being O(1) after initial setup + additional work after node leaving/entering ring.

There is a way to speed up Rendevouz Hashing to O(log n) but I'm not certain yet if this is reliable.

I don't think this w