[2017-01-16 07:28] patriknw commented on #22140
Thanks for investigating, @jgordijn. Then I know the reason. When `akka.remote.artery=on` we enable the [akka.actor.additional-serialization-bindings](https://github.com/akka/akka/blob/master/akka-actor/src/main/resources/reference.conf#L593) which includes a different [String serializer](https://github.com/akka/akka/blob/master/akka-remote/src/main/resources/reference.conf#L73).

I suggest that y

[2017-01-16 07:45] jgordijn commented on #22140
@patriknw will do.

It is in the value of a LWWMap.

[2017-01-16 07:46] patriknw commented on #22140
thanks

[2017-01-16 07:52] jgordijn commented on #22140
and here it is: https://github.com/akka/akka/pull/22144

[2017-01-16 08:26] patriknw opened #22145 "ReadJournal plugin should use exclusive Sequence"
The example of eventsByTag with `Sequence` should be exclusive as discussed in https://github.com/lagom/lagom/pull/363

http://doc.akka.io/docs/akka/current/scala/persistence-query.html#ReadJournal_plugin_API

[2017-01-16 08:29] patriknw commented on #22145
At the same time we should clarify this in the docs/api of `Sequence`

[2017-01-16 09:00] #21537 closed

[2017-01-16 09:01] patriknw commented on #18344
Solved by https://github.com/akka/akka/issues/21537

[2017-01-16 09:01] #18344 closed

[2017-01-16 09:03] patriknw commented on #21298
I think we should not complicate this more. https://github.com/akka/akka/issues/21537 adds better options for shutdown sequences already.

[2017-01-16 09:03] #21298 closed

[2017-01-16 09:28] patriknw commented on #22145
Changing the leveldb implementation also.

[2017-01-16 14:23] jgordijn opened #22147 "Not enough info when using DurableStore when LoadFailed"
When using a DurableStore and something fails during Loading the data from disk it will log a LoadFailed, but it does not log the cause. This makes it hard to debug.

(fix is on the way)

[2017-01-17 09:51] #22140 closed

[2017-01-17 16:13] jgordijn opened #22150 "It would be nice to know if the replicator is restoring from durable storage"
If there is a durable store I would like to know that the replicator is currently restoring the data. In that case I can give a service not available instead of returning a 404 if something is not found yet.

[2017-01-17 16:15] #20140 closed

[2017-01-17 16:20] jgordijn commented on #22150
What do you think:
- an event on the eventstream?
- a subscription?
- stashing incoming messages until loaded?

[2017-01-17 16:33] patriknw commented on #22150
I think they should be stashed. Not only for this reason, but it's actually needed for correctness for some update cases, e.g.
* Update of GCounter key A
* when modify is run the entry A is not loaded yet, new value is kept in Replicator
* when entry A is loaded it is merged with the updated entry, and such merge is not correct if the same node identifer is used (this will not be a problem if the

[2017-01-17 16:45] patriknw commented on #22150
BTW, for testing purposes it's already possible to use `GetReplicaCount`, which will reply with `ReplicaCount(0)` until data is loaded.

[2017-01-17 16:48] #22145 closed

[2017-01-17 20:48] mbknor commented on #21725
This is also a problem for us. What is the status on a fix for this issue?

[2017-01-18 00:35] dos65 opened #22151 "PersistentActor don't change behavior during recovery"
If there is calls of `context.become` during PersistentActor recovery it has no effect.
After receiving `RecoveryComplete` actor don't switch to `receiveCommand`
behavior.

[Example gist](https://gist.github.com/dos65/2ba9fcd4c26d5dbed13d1f49a93dfd58)

[2017-01-18 08:19] #22147 closed

[2017-01-18 08:29] patriknw opened #22154 "Support rememberingEntities with sharding ddata mode"
With the durable storage this is possible.

This is a prerequisite for #17963

[2017-01-18 09:03] johanandren opened #22155 "Use SecureRandom to generate system uid"
We currently use `ThreadLocalRandom` in `AddressUidExtension` to produce the system uid, but as it is only produced once per system we should perhaps use `SecureRandom` to make sure the uid is not deterministic.

[2017-01-18 09:15] patriknw commented on #22155
Previously we were thinking of mixing in a timestamp in some of the bits also, so that it can't be the same unless the clock is moving back. Perhaps not needed?

[2017-01-18 09:56] ktoso commented on #22154
Would be nice to make this a default mode indeed in 2.5.
I'm not sure deprecating the persistence mode is required, it still is useful (at least until we prove that everything is better using the ddata way) :)

[2017-01-18 10:35] 2m opened #22156 "Endpoint actor state is corrupted: Highest SEQ so far was -1 but cumulative ACK is 2"
When node A is restarted and comes back with the new UID to node B, node B has endpoint actor state corrupted:
[code]

Also there is evidence that `TooLongIdle` cleanup can affect communications to the node with the same address but different UID:
[code]

[2017-01-18 11:28] patriknw commented on #22154
Yes, that's my thinking as well, since Cluster Sharding is so widely used

[2017-01-18 11:55] johanandren commented on #22155
Yeah, maybe that would be more important than making it non-deterministic

[2017-01-18 15:41] #21618 closed

[2017-01-18 16:07] patriknw commented on #21725
There is a pull request in progress https://github.com/akka/akka/issues/21777
I think the remaining part is some better test coverage. It's a difficult thing to test though.

[2017-01-18 17:30] markusjura opened #22160 "ActorSystem startup fails with latest Java 8"
The ActorSystem does not start up in time with the latest Java 1.8.0_122 version when passing a configuration to the ActorSystem constructor. The startup time of the ActorSystem takes longer than the default `akka.logger-startup-timeout`. With the latest Java version it takes about 6 seconds to start the actor system. With Java 1.8.0_22 the startup is faster, less than 1 secon, and therefore the t

[2017-01-18 19:00] drewhk commented on #22160
The thread dump only shows Akka using Await on the logger. This does not explain why that wait takes so long unfortunately.

[2017-01-18 19:02] patriknw commented on #22160
Can you reproduce it from repl?
[code]

Googling shows old results about adding to /etc/hosts but that might be outdated.

5 seconds for getLocalHost is not nice, and it might cause other issues.

[2017-01-18 19:17] huntc commented on #22160
I think that this issue is within logback. I've been able to pause from within a debug session and note that logback calls upon the JDK to perform a reverse DNS lookup.

[2017-01-18 19:34] patriknw commented on #22160
Yes, that's in the Visual VM dump

[2017-01-18 19:38] patriknw commented on #22151
From [docs](http://doc.akka.io/docs/akka/2.4/scala/persistence.html)

[2017-01-18 19:38] #22151 closed

[2017-01-19 01:33] huntc commented on #22160
Possibly related? https://bugs.openjdk.java.net/browse/JDK-8158038?jql=text%20~%20%22lookupAllHostAddr%22%20ORDER%20BY%20created%20DESC

[2017-01-19 01:38] huntc commented on #22160
When I ran the debugger on this, I also noticed that the name it was trying to resolve was "Christophers-MacBook-Pro-2", as in the name of my machine. Modifying /etc/hosts doesn't appear to help. My understanding there is that the OS X DNS resolver mechanism avoids /etc/hosts, and it is there for tool compatibility.

[2017-01-19 03:39] huntc commented on #22160
Interesting and related: https://plumbr.eu/blog/java/macos-sierra-problems-with-java-net-inetaddress-getlocalhost

[2017-01-19 07:15] patriknw commented on #22150
@jgordijn I'll work on this today, unless you have already started?

[2017-01-19 08:25] markusjura commented on #22160
Added the aliases worked for me as well. Closing the issue because it is not Akka related.

[2017-01-19 09:04] ktoso commented on #22160
Good to know, thanks for the research guys

[2017-01-19 09:34] patriknw opened #22161 "failed: GraphMatValueSpec"
"not ignore materialized value of indentity flow which is optimized away"

https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8216/consoleFull

How can this be non-deterministic?

[code]

[2017-01-19 09:37] patriknw commented on #22160
good, I think I already had such in my /etc/hosts

[2017-01-19 09:47] ktoso opened #22162 "Update canonical ref links to latest page (http in old docs etc)"
We have canonical links which help search engines, we should make sure they link to the new http location etc

[2017-01-19 09:49] patriknw commented on #19529
@ktoso Do you know the status here? How much is left?

[2017-01-19 09:53] ktoso commented on #19529
This is solved, missed to close the ticket it seems

[2017-01-19 09:53] #19529 closed

[2017-01-19 10:04] RustedBones opened #22163 "akka stream TCP does not close properly"
I am using a TCP outgoing connection stream connected to 2 actors: source ~> tcp ~> sink.

If the remote hosts closes the connection, the sink actor receives the `onCompleteMessage` as expected. I expect at this point I can safely stop the sink actor. According to the doc, I should not care about the source actor:

However, when running wireshark and exterminating the TCP message send the flow is

[2017-01-19 10:28] patriknw commented on #22161
false alarm, the test was new (and invalid) in that PR

[2017-01-19 10:28] #22161 closed

[2017-01-19 12:05] patriknw commented on #16903
This should be improved by #21537. The leaving node is sending a direct message to next potential leader(s) when it's shutting down. The leader can then based on this acknowledgment remove the member without waiting for failure detector.

[2017-01-19 12:05] #16903 closed

[2017-01-19 12:09] patriknw commented on #19003
This will be fixed by #22154

[2017-01-19 12:09] #19003 closed

[2017-01-19 12:11] patriknw commented on #19389
This is solved by #22154

[2017-01-19 12:11] #19389 closed

[2017-01-19 12:23] 412b commented on #21725
@mbknor @patriknw yep, low-level testing is missing there and I didn't have much time recently.

[2017-01-19 12:24] jamesmulcahy commented on #19389
Fantastic!  Thank you, @patriknw

[2017-01-19 14:42] gosubpl commented on #12636
This ticket can be closed now :)

[2017-01-19 14:43] patriknw commented on #12636
thanks

[2017-01-19 14:43] #12636 closed

[2017-01-19 15:29] patriknw commented on #21423
I have looked through all `@deprecated` before 2.4.0 and removed what can be removed. Will PR when the AbstractActor PR has been merged (to avoid conflicts).

[2017-01-19 15:31] TimSoethout opened #22166 "`PersistentFSM` misinterprets `Duration.Inf` to disable timeout for state."
Given ```when(MyState, someDuration) {...}```
When using `goto(MyState) forMax Duration.Inf` in a `PersistentFSM`, I was expecting that the StateTimeout event was not received.

It turns out that this is converted to a `None` value for the `timeout` for `State` (see https://github.com/akka/akka/blob/master/akka-persistence/src/main/scala/akka/persistence/fsm/PersistentFSM.scala#L303).

In `FSM` th

[2017-01-19 15:35] TimSoethout commented on #22166
I guess a workaround is to introduce an extra State without timeout, and goto that one instead of "reusing" `MyState` without timeout.

[2017-01-19 16:13] patriknw commented on #22166
At a first glance it looks like we should be able to do the same for PersistentFSM.

[2017-01-19 22:17] jgordijn commented on #22150
That's great! I'll look into the PR ASAP.

[2017-01-20 04:01] hhimanshu commented on #21852
The pull request seem merged, why the issue is still open?

[2017-01-20 04:02] hhimanshu commented on #22162
@ktoso, what is the action item? I can pick this task

[2017-01-20 04:44] hhimanshu commented on #22071
What is the action item here? I may help

[2017-01-20 04:58] GAURAVJAYSWAL commented on #22071
Hi Himanshu, Thanks for you reply, I'm implementing chat server using akka toolkit [http://doc.akka.io/docs/akka/2.4/java/io-tcp.html], But I didn't get any example that how to enable secure tcp connection or how to combine ssl context with akka..

[2017-01-20 07:52] johanandren commented on #21852
I think we just missed to close the ticket, thanks for noticing.

[2017-01-20 07:52] #21852 closed

[2017-01-20 08:09] patriknw opened #22168 "optimize DDataShard stashing"
The initial implementation in https://github.com/akka/akka/pull/22159 has the same semantics as the PersistentShard, i.e. it's stashing messages while a "persist" is in progress. For DData that can probably be optimized. Messages for other keys (and perhaps also other entities) can probably progress independent of the update in progress.

[2017-01-20 08:17] patriknw opened #22169 "enable additional-serializers by default"
Describe in migration guide that it must be disabled for rolling upgrade between 2.4.x and 2.5.0

[2017-01-20 08:19] patriknw commented on #17963
remember to describe in migration guide that the modes can't be mixed for rolling upgrades

[2017-01-20 08:21] patriknw opened #22170 "less verbose debug logging in ddata"
The logging in the `Replicator` is using toString of the messages, which can become a performance problem in production. Reduce to print class names (or similar) instead.

[2017-01-20 08:23] patriknw opened #22171 "possibility to send ddata gossip over large messages stream"
Should not be enabled by default, but can be a nice option.

[2017-01-20 08:41] 2m commented on #21870
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/601

[2017-01-20 08:49] 2m commented on #20180
https://jenkins.akka.io:8498/job/akka-nightly/4062/consoleFull

[2017-01-20 08:54] 2m commented on #21903
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4552/consoleFull

[2017-01-20 09:32] patriknw commented on #21870
hm, interesting, I'll take a look

[2017-01-20 09:43] ktoso commented on #22171
Nice idea

[2017-01-20 09:53] RustedBones commented on #22163
After more testing, I realized that `client -> server: [RST, ACK]` is not sent when the sink actor stops, but when the tests ends (so when the actor system terminates).

Stopping the sink actor does not trigger stream cancellation. The server still thinks the connection is alive and keeps waiting for input data.

The architecture I have is perhaps the cause but that should technically not be an is

[2017-01-20 10:42] patriknw commented on #21870
Tonight's failures were not for the same reason as previously. I have created a fix for the latest failure in https://github.com/akka/akka/pull/22172, but let's keep this issue open for the original failures.

[2017-01-20 11:07] dbolotin opened #22174 "Coexistence of untyped and typed actors (akka-typed)"
I am relatively new to akka. After several days experimenting with pure akka-typed actors I finally decided that I can express whole internal logic of my project in terms of typed actors, and such model, surprisingly, fits very well. (+1 for current akka-typed architecture)

The real stumbling block is absence of clear way to interact with untyped actors. As @rkuhn writes here https://github.com/a

[2017-01-20 13:19] #21879 closed

[2017-01-20 14:10] hhimanshu commented on #21961
The issue is open while pull request is merged, anything else needed?

[2017-01-20 14:12] ktoso commented on #21961
No, seems to be done on master and backported to 2.4.16.
It seems we missed to close some issues in the recent backporting dances

[2017-01-20 14:12] #21961 closed

[2017-01-21 09:06] ortigali commented on #16197
I think that this issue was solved in PR #16660, or is there something left to do?

[2017-01-21 10:56] kstokoz opened #22177 "Http request completes successfully emitting truncated response"
During our production run of our system under high load we experience truncated http responses emitted successfully what results into subsequent json parsing error.

For this particular request we are using single request and connect to https url like this:

[code]

It took me a while to get to the bottom of the issue, it is reprodusable only when running over https and using http pools (like Http

[2017-01-22 00:29] George3d6 opened #22178 "Strange behavior with akka http and nginx"
I have a basic https nginx config (certificates from certbot) and I run my application on port 3666. Whenever I try to connect to the domain however I get this type of errors in my nginx logs:

2017/01/22 00:06:04 [error] 30764#30764: *35 connect() failed (111: Connection refused) while connecting to upstream, client: mylocalmachineip, server:mydomain.com, request: "GET / HTTP/1.1", upstream: "htt

[2017-01-22 09:54] johanandren commented on #22178
Hi @George3d6, this seems more like a question than a ticket, please use the [gitter channel](https://gitter.im/akka/akka) or the [mailing list](https://groups.google.com/forum/#!forum/akka-user) for questions and only use the issue system only for bugs and feature requests (additionally Akka HTTP has its own issue tracker over at https://github.com/akka/akka-http

Based on this I'll close the tic

[2017-01-22 09:54] #22178 closed

[2017-01-22 10:01] johanandren commented on #22177
Thanks for the detailed report @kstokoz
Akka HTTP has its own issue tracker, I have copied the ticket over there and will therefore close this one.

[2017-01-22 10:06] kstokoz commented on #22177
Hi,

As i said in original issue, i think main issue comes from tlsactor which is in akka project, thats why i created issue here. In the end i don't mind where issue is if it would be addressed. ;)

[2017-01-22 10:41] johanandren commented on #22177
Ah, my bad not reading carefully enough, my apologies.

[2017-01-22 13:47] zmeda commented on #21672
I'm facing similar issues, any updates on that?

[2017-01-22 14:09] ktoso commented on #21672
Please prepare a reproducer if you care about resolution of this ticket. Please include all versions of things you're using. Just asking about "status" will not move a ticket forward, thanks!

[2017-01-23 04:02] jroper opened #22180 "Provide mechanism to input into new ActorSystem setup in MultiNodeSpec"
There is no simple way to customise the creation of an ActorSystem in MultiNodeSpec.  While the constructor that takes the actor system is public, invoking this, and creating a correctly configured actor system to pass to it, requires copy/pasting everything from MultiNodeConfig, since that class is effectively write-only, all the useful methods there that provide the necessary config needed to co

[2017-01-23 04:03] jroper commented on #22180
This by the way is necessary if you want to programmatically supply serializers.

[2017-01-23 08:27] jrudolph commented on #22177
@kstokoz, thanks for the report and the great analysis so far.

Can you explain why you think the TlsActor is the main problem here?

[2017-01-23 08:36] kstokoz commented on #22177
@jrudolph It is only my feeling and maybe i`m wrong, but i would say that TLSActor should not shut down TransportOut while there is still data remaining in transportInBuffer which can be unwrapped and pushed to userOutBuffer.

In this particular case whole response was consumed and chopped into TransportIn, somehow (maybe aborted connection cause it) TLSActor shuts down not finishing processing of

[2017-01-23 08:39] kstokoz commented on #22177
I understand that remaining data in transportInBuffer can be partial data which cannot be unwrapped in this case it should generate response truncation error. as i mentioned error is properly generated but not properly pushed (consumed). This is another issue, which probably related to akka-http.

[2017-01-23 09:17] jrudolph commented on #22177
I see, thanks.

I'd say it is somewhat unexpected that there is data in input buffers when the idle timeout triggers because the application should have had 10 seconds time to read that data. But as you say under high load it may happen.

So, without having looked into it any deeper, we need to:
 * Decide what an idle-timeout should mean for higher-level stages. So far, I considered it basically t

[2017-01-23 09:34] kstokoz commented on #22177
Yes, this looks reasonable.

Just to mention: TLSActor is not shuts down immediately on tcp connection abort, from observations, it still able to process buffered data and emit chunks to out for sometime.

After a while `outputBunch.isCancelled(TransportOut)` set to true and actor goes into completePhase, it is unclear to me why `TransportOut` is cancelled though.

In any case your suggestion woul

[2017-01-23 10:34] #22150 closed

[2017-01-23 11:06] patriknw opened #22182 "Convert remaining UntypedActor in docs"
Converted most UntypedActor to AbstractActor in https://github.com/akka/akka/pull/22003 but left some due to lack of time. Follow up and convert the remaining (~45).

[2017-01-23 11:09] ktoso commented on #22182
Sounds like a great ticket for a community effort! :-)

[2017-01-23 11:23] #22041 closed

[2017-01-23 11:54] #22154 closed

[2017-01-23 12:25] ktoso commented on #22156
Marked as bug

[2017-01-23 12:35] kantefier opened #22183 "Add notes about shutdown patterns for Streams to docs"
As a newbie, I ran into a case where I couldn't understand how to terminate the `ActorSystem`, used to materialize the Stream, after the latter has finished it work. I scanned through the titles in the doc and couldn't find a word about shutdown patterns. The `onComplete()` callback (which was an obvious choice) unexpectedly fired right after my pipeline was run.
Thanks to akka gitter chat and @kt

[2017-01-23 12:44] ktoso commented on #22183
Thanks for the issue, would be great simple ticket to pick up if someone would be interested.

[2017-01-23 15:31] johanandren commented on #22166
not backported to 2.4 yet

[2017-01-23 15:39] johanandren opened #22186 "Tests subclassing RemotingMultiNodeSpec has bad system name"
Because of `MultiNodeSpec.getCallerName` picking the first calling class name that isn't `MultiNodeSpec`

[2017-01-23 15:55] #21647 closed

[2017-01-23 17:25] patriknw opened #22187 "delta-CRDT for GSet"
After #21875

[2017-01-23 17:26] patriknw opened #22188 "delta-CRDT for ORSet"
After #21875

[2017-01-23 18:59] patriknw opened #22190 "Describe how to use javaslang with AbstractActor"
Suggestion by @jypma [matcher DSL in javaslang](http://www.javaslang.io/javaslang-docs/#_pattern_matching)

[2017-01-23 18:59] #21717 closed

[2017-01-23 19:41] patriknw opened #22191 "always initialize CoordinatedShutdown"

[2017-01-23 19:42] patriknw commented on #22191
Noticed that some remote tests were initiating the CoordinateShutdown extensions from the Artery shutdown hook.

[code]

[2017-01-23 20:07] patriknw opened #22192 "ArteryRemoteScatterGather Failed to stop"
Test is not failing, but something is wrong.

https://jenkins.akka.io:8498/job/akka-multi-node/1915/consoleText

[code]

[2017-01-23 20:48] ktoso opened #22195 "Security patch for Akka HTTP"
This is a backport for the fix described in detail in http://akka.io/news/2017/01/23/akka-http-10.0.2-security-fix-released.html

[2017-01-23 20:48] #22195 closed

[2017-01-23 21:50] richard-imaoka commented on #22162
Wasn't this already done in #22132 ?

[2017-01-23 23:44] hhimanshu commented on #22162
hmm, looks like it. @ktoso , does this ticket talks about anything else?

[2017-01-24 09:39] beliefer opened #22196 "about UntypedPersistentActor and subscriber of Cluster"
My Actor subscribing the MemberUp event when I use UntypedActor in a Cluster. No matter how much instance of this Actor will work corretly in different member node.
But when I change to UntypedPersistentActor, only one instance of this Actor will receive msg of MemberUp, other instance not.
I want use Akka persistence and each instance of this Actor still receive event of MemberUp.
Please help me

[2017-01-24 09:41] patriknw commented on #16197
@ortigali This issue is about removing that hack as mentioned here https://github.com/akka/akka/blob/master/akka-persistence/src/main/scala/akka/persistence/serialization/SnapshotSerializer.scala#L125

The reasoning is that by now everyone should have stored new snapshots with Scala 2.11 and therefore we don't need the workaround for snapshots that were stored with versions based on Scala 2.10. Th

[2017-01-24 09:50] gosubpl commented on #22187
Looking into this

[2017-01-24 09:50] gosubpl commented on #22188
Looking into this

[2017-01-24 09:57] patriknw opened #22197 "remove experimental from WeaklyUp"

[2017-01-24 10:08] patriknw opened #22198 "Deprecate, remove or promote things in akka-contrib"
We must take a closer look. Opinions are welcome, e.g. something that you think is particularly useful.

[2017-01-24 10:16] patriknw commented on #22188
thanks

[2017-01-24 10:19] johanandren opened #22199 "FAILED akka.io.TcpConnectionSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8246/consoleFull

[code]

[2017-01-24 10:23] patriknw opened #22201 "Promote distributed-data"

[2017-01-24 10:50] #22117 closed

[2017-01-24 10:50] #22191 closed

[2017-01-24 11:07] ktoso commented on #22162
No. For this to have any actual effect it has to be applied to all old documentation that was already published, from aeons ago.

Only someone with access to doc.akka.io can do this, so I'll remove the community tag.

[2017-01-24 11:13] #22166 closed

[2017-01-24 11:32] patriknw commented on #22197
also enabled it by default

[2017-01-24 11:45] johanandren commented on #22155
Closing after the discussion in PR #22167

[2017-01-24 11:45] #22155 closed

[2017-01-24 12:31] patriknw opened #22205 "Remove MicroKernel"
Remove akka-kernel project

The only reason I didn't just do it right now is that it contains some scripts, specifically the cluster jmx script, and we need to decide where those should go.

[2017-01-24 12:49] patriknw opened #22207 "Remove zip distribution"
The only purpose it had (as I can see) was to run Akka with the micro kernel.

[2017-01-24 12:49] patriknw commented on #22207
Slightly related to https://github.com/akka/akka/issues/22205

[2017-01-24 13:37] #21875 closed

[2017-01-24 13:38] #22197 closed

[2017-01-24 13:39] #21190 closed

[2017-01-24 13:44] patriknw commented on #22205
@johanandren Perhaps we should just include the cluster jxm script in the documentation, for copy-paste usage? We want to promote the new cluster management tool anyway.

[2017-01-24 13:47] patriknw opened #22208 "Deprecate ExtensionKey"
I don't like `ExtensionKey` since it doesn't work with Java and the added convenience for the few cases when it can be used is not worth it.

wdyt?

[2017-01-24 14:01] richard-imaoka commented on #21250
Hi, as the JMX cluster management tool is deprecated, and [akka/akka-cluster-management](https://github.com/akka/akka-cluster-management) is preferred, should this still be fixed? (I believe this is specific to the [JMX tool](https://github.com/akka/akka/blob/554d119446ad03a49890c33d3ce91036aface88c/akka-cluster/src/main/scala/akka/cluster/ClusterJmx.scala#L143#L179))

If are we still going to fix

[2017-01-24 14:05] patriknw opened #22211 "deprecate Cluster JMX cmd"
I think JMX can stay, but the script should be deprecated in favor of https://github.com/akka/akka-cluster-management

[2017-01-24 14:07] patriknw commented on #21250
It's not deprecated yet, so it will stay the full 2.5 release cycle. Therefore it's probably worth fixing if you have ideas of how to do it.

Created an related ticket for the actual deprecation https://github.com/akka/akka/issues/22211

[2017-01-24 14:09] richard-imaoka commented on #21250
I see, thank you. Thinking to start working on this in a couple of days.

[2017-01-24 14:13] patriknw commented on #21250
Thanks, by the way, I was thinking of another issue. This is indeed worth fixing since it's the JMX not only the script. I think JMX will not be deprecated.

[2017-01-24 15:34] #22201 closed

[2017-01-24 15:46] patriknw commented on #21423
done, create tickets for other related things

[2017-01-24 15:46] #21423 closed

[2017-01-24 16:11] hhimanshu commented on #22162
Thank you @ktoso for the background.

[2017-01-25 07:14] patriknw commented on #22171
This was not trivial, since we are using ActorSelection. Large stream is not used for ActorSelection. Should be possible to identify the destination and send with ActorRef. Note that I don't want all messages to go over the large, only the `Status` and `Gossip`. Perhaps also the read replies?

Anyway, leaving it for later.

[2017-01-25 09:27] patriknw opened #22218 "ambiguous persist overload with Java when using Scala 2.12 artifacts"
How to reproduce:

[code]

[code]

The methods are:

https://github.com/akka/akka/blob/master/akka-persistence/src/main/scala/akka/persistence/Eventsourced.scala#L319

https://github.com/akka/akka/blob/master/akka-persistence/src/main/scala/akka/persistence/PersistentActor.scala#L206

[2017-01-25 09:49] lrytz commented on #22218
Tricky one.. In 2.11, the Java compiler picks the `Procedure` overload because `Function1` is not a SAM (ue to the trait compilation scheme, the interface `Function1` has an abstract method `compose` in 2.11).

In 2.12, with default methods, `Function1` is a SAM, so both types now work for the (Java) lambda.

[2017-01-25 09:59] lrytz commented on #22218
Minimized example for reference:

[code]

[2017-01-25 09:59] patriknw commented on #22218
So the proper fix would be to remove the Java API method in PersistentActor.scala for the Scala 2.12 build? That would still be source compatible, and not influence Scala API users.

[2017-01-25 10:01] lrytz commented on #22218
If you remove the `Procedure` overload in the example you get
[code]

This is very annoying for the Java API, I don't have a solution at hand right now.

[2017-01-25 12:18] ktoso opened #22220 "Consider recipe or API for debounce"
Recently someone asked me for a way to "not send the same thing 100 times to an actor",
this is basically the debounce operation.

It can be implemented such:

[code]

Shall we either make it a recipe or even add as an API?
I think i've bumped into this a few times already

[2017-01-25 12:27] 2m commented on #22220
In the spirit of keeping the API small and fundamental, I would propose to put this into akka-stream-contrib.

[2017-01-25 13:14] lrytz commented on #22218
One idea would be to only keep the alternative with the `Procedure` argument (with two argument lists, to help Scala's type inference). For better Scala compatibility, `Procedure` should extend `Function1`. The problem is that if you write the `Procedure` class in Scala, this won't work - I don't know if this is a bug in Scala's code generation?

[code]

You can instead write the `Procedure` class

[2017-01-25 13:30] #22169 closed

[2017-01-25 13:30] #22141 closed

[2017-01-25 13:46] damianbl opened #22222 "Akka Stream shutdowns ActorSystem"
I have the Play application (play 2.4) with Akka 2.4.16. The problem I face is that the actor system shutdowns when I add dependency to Akka Streams (2.4.16) in my application.

This is the error message:

akka.actor.ActorSystemImpl - Uncaught fatal error from thread [application-akka.actor.default-dispatcher-3] shutting down ActorSystem [application]
I do not have any other changes except depende

[2017-01-25 13:55] ktoso commented on #22222
What version of Akka is Play 2.4 using?

This sounds more like a Play question, could you ask over there?

[2017-01-25 13:58] #22222 closed

[2017-01-25 14:30] patriknw opened #22224 "Remote deployment serialization of RemoteActorRef"
It doesn't work with the additional-serialization-bindings. RemoteActorRef is serialized with MiscMessageSerializer, but deserialization fails.
ReliableProxySpec fails.

That is because deserialization in DaemonMsgCreateSerializer is not passing the manifest in a proper way. It's using the class name.

[2017-01-25 14:37] patriknw commented on #22224
https://jenkins.akka.io:8498/job/akka-multi-node-repeat/12790/consoleText

[code]

[2017-01-25 17:04] #22207 closed

[2017-01-25 17:06] #17963 closed

[2017-01-25 19:06] adriaanm commented on #22218
I guess this is because Function1 has `public abstract R apply(T1);`, which cannot be matched by `Procedure`'s `public abstract void apply(T);`, because `R = void` is not valid in Java. We could/should(?) emit a bridge method.

If you remove the `extends` clause, it compiles. True, you can't pass `Procedure[T]` instances into other higher-order methods that expect a `Function1[T, Unit]`, but maybe

[2017-01-26 12:01] ktoso opened #22230 "Split Brain Resolver docs should redirect to latest page"
We should redirect from http://doc.akka.io/docs/akka/rp-current/scala/split-brain-resolver.html
http://doc.akka.io/docs/akka/rp-current/scala/split-brain-resolver.html
to
http://doc.akka.io/docs/akka/akka-commercial-addons-1.0/scala/split-brain-resolver.html

since people get confused what the latest one is.

Adding ticket here, hope we don't mind.

[2017-01-26 12:32] patriknw commented on #22230
Funny, but the latest link is actually http://developer.lightbend.com/docs/akka-commercial-addons/current/

[2017-01-26 12:35] ktoso commented on #22230
So confusing :(
We need to fix all these links in the next sprint, same with akka http etc, the moving around of stuff has really hurt googlability

[2017-01-26 12:55] patriknw commented on #22218
Thanks for investigations. The options are limited by that we should be binary backwards compatible for the Scala API method. We can break binary compatibility for the Java API method in this case, but we should preferably still be source compatible.

[2017-01-26 13:25] patriknw commented on #22196
There should be no difference. Please use the [mailing list](https://groups.google.com/forum/#!forum/akka-user) for questions.

[2017-01-26 13:25] #22196 closed

[2017-01-26 14:39] patriknw commented on #22174
cc @rkuhn

[2017-01-26 14:41] #22205 closed

[2017-01-26 14:42] patriknw commented on #17247
Since we are not talking of huge n it might not matter much. Depends on how slow the linear scan is.

[2017-01-26 14:43] johanandren commented on #22211
It is deprecated already, says both the docs and the script

[2017-01-26 14:46] patriknw commented on #22211
ah, good

[2017-01-26 14:46] #22211 closed

[2017-01-26 14:46] johanandren commented on #22208
I agree 👍

[2017-01-26 14:47] rkuhn commented on #22174
Yes, sorry for the delay, you’ll see some updates around Akka Typed next week.

[2017-01-26 14:54] ktoso commented on #22208
Yeah good. Though it'll need some replacement I guess?

[2017-01-26 14:55] patriknw commented on #22208
Replacement is the ordinary extension, as documented

[2017-01-26 14:58] ktoso commented on #22208
Ok cool :)

[2017-01-26 15:36] rrodseth opened #22233 "Expand snapshot documentation"
The examples of snapshotting in the documentation define a message "snap" and send it to the actor. More likely, an actor will have internal logic like

[code]
I initially mistakenly assumed that the actor would have to do `self ! "snap"`, but saveSnapShot is already async, so the above is better. Konrad asked me to submit this ticket. I'd suggest highlighting the different ways snapShotting might

[2017-01-26 15:41] rrodseth commented on #22233
Also, Patrik points out:

There is already a counter (the sequence number) that you can use.

`if (lastSequenceNr % snapShotInterval == 0 && lastSequenceNr != 0)`

[2017-01-26 23:35] ktoso commented on #22230
Found some more people who had the same struggle, definitely need to fix this soon...

[2017-01-27 00:30] dbolotin commented on #22174
Thanks! Really looking forward to see it!

[2017-01-27 07:35] patriknw commented on #22233
I agree. It would be great if you could improve it in a pull request.

[2017-01-27 09:46] atvictor opened #22234 "Add an eagerComplete flag on the Partition stage"
The `Merge` stage has an `eagerComplete` flag, it would be nice if the `Partition` stage has the same kind of flag.

It's useful for my use-cases but I think it could be useful for others too.

[2017-01-27 20:28] WalkingGhost1975 commented on #20296
Please reopen:

This problem still occurs with Akka 2.4.12:
`Association to [akka.tcp://AnalyticsEventSourcingSystem@172.19.65.83:65024] having UID [2059192681] is irrecoverably failed. UID is now quarantined and all messages to this UID will be delivered to dead letters. Remote actorsystem must be restarted to recover from this situation.`
`Cluster Node [akka.tcp://AnalyticsEventSourcingSystem@17

[2017-01-27 23:44] gosubpl commented on #22188
`multi-jvm:testOnly akka.cluster.ddata.ReplicatorChaosSpec` passes OK (as well as all other tests) but `multi-jvm:testOnly akka.cluster.ddata.JepsenInspiredInsertSpec` fails consistently for random reasons.
Next step -> take a closer look what happens with the delivery of the deltas inside during partition.

[2017-01-27 23:45] gosubpl commented on #22187
`GSet` looks fine, needs only some more tests for delta-mechanics.

[2017-01-28 13:23] jgordijn opened #22235 "Release notes 2.5-M1 do not mention DD stable"
The release notes should mention that "Persistence Query has been promoted to a stable module", but not that "Distributed Data has been promoted to a stable module".

[2017-01-28 14:39] patriknw commented on #22235
Good point

[2017-01-28 16:52] gosubpl commented on #22188
Deltas work, but cannot be merged out-of-order. I expect this is why `JepsenInspiredInsertSpec` fails. This probably can be improved upon just by modifying the `ORSet` itself. Working on this.

[2017-01-29 17:58] michaelom commented on #20296
@patriknw
Code hasn't changed and apparently the issue still persists. Since I don't have permission to reopen this issue, could you do it, please.

[2017-01-29 18:02] michaelom commented on #20296
Also the code is not alined with the docs (well, it never is... ;-) ):

Then the node needs to be moved to the down or removed states and the actor system of the quarantined node must be restarted before it can join the cluster again.

[2017-01-30 00:19] gosubpl commented on #22188
Unfortunately, it seems that despite I managed to make deltas mergeable out-of-order, such merges may result in `ORSet` with holes that work as deletes when merged with another `ORSet`. Hence `WriteLocal`/`ReadLocal` works (usually) fine but `WriteMajority`/`ReadMajority` fails. Adding causal order in merging deltas is possible without changing Replicator itself but needs modifications to `protobu

[2017-01-30 00:45] patriknw commented on #22188
Thanks for working on this and keeping us updated. I have very little time for reviewing and advicing now and next week.

I have not looked at what would be needed for ORSet deltas, but I find it strange that deltas would have these properties, since a delta is a ORSet by itself. Full state ORSet doesn't have these problems (unless there is a bug). I'm probably missing the details (and will not be

[2017-01-30 06:51] ortigali commented on #21170
`remoteAddress.getHostName` is not blocking if it is unresolved (in `InetSocketAddress` source code) . In  `TcpOutgoingConnection` and other `akka.io` classes `getHostName` was called when it was unresolved.

about DNS TTL, make  them as `positive-ttl=auto` & `negative-ttl = auto`. And it will try to get from `java.security.Security.getProperty("networkaddress.cache.ttl")` & `java.security.Securit

[2017-01-30 08:30] QmQvl opened #22239 "`TLSProtocol.NegotiateNewSession.withDefaults()` not available from Java"
Trying to use `akka-streams` `TLS` with default SSL config from Java (`TLSProtocol.NegotiateNewSession.withDefaults()`) results in compilation error:

[code]
Tested on `2.4.16`.
[Reproducer](https://gist.github.com/QmQvl/6df588135d2dc2391fdf0f2636ff500b)

Is there any temporary workaround for this?

[2017-01-30 08:43] Hawstein commented on #21858
Finally, I got the time to work on this issue in Spring Festival, ah. Hope it is not too late :)
@patriknw @johanandren

[2017-01-30 09:49] Hawstein commented on #22239
@QmQvl Use this:

[code]

[2017-01-30 12:58] liff opened #22241 "StreamConverters.fromJavaStream doesn't close the stream after completion"
[`StreamConverters.fromJavaStream`](https://github.com/akka/akka/blob/v2.4.16/akka-stream/src/main/scala/akka/stream/scaladsl/StreamConverters.scala#L194) does not have any logic for closing the stream after completion. This makes it unsuitable for working with IO-backed streams such as a [`DirectoryStream`](https://docs.oracle.com/javase/8/docs/api/java/nio/file/DirectoryStream.html).

A simple d

[2017-01-30 17:47] michaelom commented on #21858
overlaps with/duplicate of  #18109

[2017-01-30 22:23] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-release-2.4/77/console

[2017-01-30 22:24] johanandren commented on #21624
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4591/consoleText

[2017-01-30 22:27] johanandren commented on #20223
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4589/consoleFull

Not exactly the same though `must use routers with high throughput`

[2017-01-30 22:28] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node/1929/console

[2017-01-30 22:33] johanandren opened #22243 "FAILED Compilation failure in tests"
@jrudolph said he had seen it and suspected race condition in multi-jvm or something like that.

Manifests for example like this:

https://jenkins.akka.io:8498/job/akka-multi-node/1923/consoleFull

[code]

[2017-01-30 22:37] johanandren commented on #22243
https://jenkins.akka.io:8498/job/akka-multi-node/1924/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node/1925/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node/1926/consoleFull

[2017-01-30 22:37] johanandren commented on #21965
https://jenkins.akka.io:8498/job/akka-multi-node/1927/console

[2017-01-30 23:39] johanandren commented on #21858
Ah, thanks for pointing that out, I'll close this one then.

[2017-01-30 23:39] johanandren commented on #18109
Also, see the notes in #21858

[2017-01-31 05:45] ortigali commented on #22182
I want to take it

[2017-01-31 13:41] patriknw commented on #22182
Excellent, thanks @ortigali

[2017-01-31 13:45] patriknw commented on #22243
I fixed this the day before the 2.5-M1 release and those tests looks old, so I think this is already fixed. Reopen if you see it again.

[2017-01-31 13:45] #22243 closed

[2017-01-31 21:44] maciekciolek commented on #16617
Initial implementation which can be than used to expose metrics has been done by me here #22244

[2017-02-01 12:04] mbesida opened #22245 "Tcp.outgoingConnection fails when to use a source of BroadcatHub"
Having following apps
[code]

When to run test2 first and then test1 app I continiously get next output
[code]

However if I add throttling to the initial source ```val source = Source(1 to 10).throttle(1, Duration.apply(100, "millis"), 1, ThrottleMode.Shaping)``` I get expected output, smth like next
[code]
```BroadcastHub``` documentaion says that

In mentioned examples consumer is attached afte

[2017-02-01 15:03] 412b opened #22246 "cluster-sharding PersistentShardCoordinator with remember-entities doesn't recover properly"
this one appeared as a big problem in sharding with persistence and remember entities.
the problem shortly:
when `State` is persisted (a snapshot is saved) `rememberEntities` value is not included, which I do understand and it's ok. But when the snapshot is loaded `rememberEntities` is not set from settings, that makes messages replay end up with wrong state as some of the message are processed wi

[2017-02-01 15:04] beliefer commented on #22196
I will retry it.

[2017-02-01 17:02] eugenemiretsky commented on #18574
@asarkar: how did you end up solving this?

[2017-02-01 21:29] asarkar commented on #18574
@eugenemiretsky Can you be more specific? Are you asking how did I solve how to encode `@` or are you asking how did I encode any URL parameters in general?
Also, instead of hijacking this thread that's been closed for almost 2 years, feel free to open a question on my [Akka](https://github.com/asarkar/akka) repo with the clarification.

[2017-02-02 07:53] purluno opened #22248 "Using LoggingAdapter.log() with Logging.LogLevel in Java causes compile errors"
Akka 2.4.16, Oracle JDK 8u121

Using `LoggingAdapter.log()` with `Logging.LogLevel` in Java causes compile errors.

[code]

causes two errors:

[code]

[2017-02-02 10:30] michelroolvink opened #22249 "SerializerWithStringManifest does not determine correct manifest on deserialization"
We want to use the default akka serialization for an ORSet.
We used the following code:
[code]

If we use this we get an exception that there is no Manifest found for the class. The code always uses the classname as manifest while the SerializerWithStringManifest has a function to determine the manifestString.

[code]

Current implementation in SerializerWithStringManifest:
[code]

[2017-02-02 10:31] michelroolvink commented on #22249
We have seen this in 2.4.16 and 2.5-M1

[2017-02-02 14:25] abdelrahmanmohamed opened #22250 "Publisher/Source from Callback"
is there is a way to attach publisher to this callback, for something like that

[code]

[2017-02-02 16:12] ktoso commented on #22250
You're going about it in the inverse way. It should be a Source.queue into which you can send elements from the `handle` methods.

You should also read http://blog.akka.io/integrations/2016/08/29/connecting-existing-apis and other posts on the blog.

Please do not use the issue tracker for questions about using Akka, use gitter.im/akka/akka or https://groups.google.com/forum/#!pendingmsg/akka-user

[2017-02-02 16:12] #22250 closed

[2017-02-02 17:49] patriknw commented on #22160
Let's add a note in the documentation and mention the problem in the log message (when running on osx).

[2017-02-02 18:03] patriknw commented on #22249
You should always use the method with signature:
[code]

I don't know why you need to do this but when serializing you need to "save" 3 things:
* payload bytes
* serializer id
* manifest string

[2017-02-02 20:22] patriknw commented on #22248
We are using something called `AnyVal` for `Logging.LogLevel`. It means that it will not a real object wrapping value, the `int level`. This saves object allocations.

It will work if you define the method as
[code]

[2017-02-02 20:22] #22248 closed

[2017-02-02 21:58] johanandren commented on #22241
`Source.unfoldResource` seems to be a better fit than the adapter in the case of `DirectoryStream`. Do you have more examples of such streams?

[2017-02-02 22:56] johanandren opened #22253 "The coordinated shutdown JVM hook does not work"
Because we changed `addJvmShutdownHook` to take a code block for Java compatibility, but forgot to change the lambda we pass in into a code block.

[2017-02-02 23:06] #22253 closed

[2017-02-03 07:22] liff commented on #22241
Since the Java `BaseStream` doesn't make a distinction between resource-backend streams and regular(?) streams, it seems like it might be a bit surprising to get a resource leak from using `fromJavaStream` in any case?

Another example would be [`Files.lines`](http://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#lines-java.nio.file.Path-) but I the same issue would apply, for example,

[2017-02-03 08:55] beliefer opened #22255 "How to set the time persist event stored in journal?"
In other words, I want event stored in journal clear in period.
How to use the method deleteMessages of UntypedPersistentActor, Because I don't know the sequenceNr.

[2017-02-03 09:27] larghir commented on #19058
I also get this failure with 2.4.11

[2017-02-03 09:31] jlprat commented on #19058
Akka HTTP is not living as a separate project. You might want to update to Akka Http 10.0.3. The issue should be solved (See https://github.com/akka/akka-http/issues/505)

[2017-02-03 10:21] toaditoad opened #22256 "akka.actor.remote.artery.large-message-destinations has to match among all actor systems?"
Am I correct that the `akka.actor.remote.artery.large-message-destinations` array has to match among all involved actor systems? Using it the first time and following the [documentation](http://doc.akka.io/docs/akka/2.4/scala/remoting-artery.html#Dedicated_subchannel_for_large_messages), I thought that I only have to specify the destination on the sender's side. I don't know what exactly happens t

[2017-02-03 12:23] toaditoad opened #22257 "akka.remote.artery.advanced.maximum-large-frame-size does not accept messages bigger than the default value of 2MiB"
I have a project that reads frames from a video file using OpenCV. Since it is a 4k video recording, a single Mat object that is sent as message of `case class Frame(videoPos: Double, frame: Mat)` can have more than 7 MB. I'm trying to use Artery to send these frames via the dedicated channel for large messages. However, it seems that `akka.remote.artery.advanced.maximum-large-frame-size` does not

[2017-02-03 20:06] patriknw commented on #22255
Please use the [mailing list](https://groups.google.com/forum/#!forum/akka-user) for questions. We use the issue tracker for issues only.

[2017-02-03 20:06] #22255 closed

[2017-02-03 22:34] johanandren commented on #22241
Do you know of other examples than `DirectoryStream` doing this or is it a special hack?

[2017-02-03 22:39] johanandren commented on #22241
What I am getting at is that if it is a special hack for one or two streams then I'm not sure we need to do anything but if it would be common practice to have streams that are also `AutoCloseable` we should probably include support for that out of the box.

[2017-02-03 22:46] johanandren commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4608/consoleFull

[2017-02-03 22:48] johanandren commented on #21903
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4609/consoleFull

[2017-02-04 00:26] patriknw commented on #22256
It's right that you must configure the same on both sides. Documentation improvement would be great. Would you be able to create a pull request for that @toaditoad ?

[2017-02-04 16:26] toaditoad commented on #22256
@patriknw, I hope that I followed all guidelines correctly and added the hint at all relevant places. My first real contribution to a public project..

[2017-02-05 19:22] Owersun opened #22263 "Scheduler.schedule constantly drifts back by ~milliseconds on MacOSX"
Here is as simple as can be to demonstrate code:
[code]

It produces this result on MacOS X:

[code]

visibly drifting back by some milliseconds each tick

[code]

Same code on linux machine works fine:
[code]

[2017-02-06 02:11] patriknw commented on #22256
@toaditoad Thanks

[2017-02-06 02:12] #22256 closed

[2017-02-06 02:23] #22182 closed

[2017-02-06 02:41] #22235 closed

[2017-02-06 09:21] liff commented on #22241
But all Java 8 streams are `AutoCloseable`, since [`BaseStream`](http://docs.oracle.com/javase/8/docs/api/java/util/stream/BaseStream.html) is `AutoCloseable`?

Also, the API documentation for `Files.lines` says:

[2017-02-06 16:35] johanandren commented on #22241
Ah, didn't know, well then I guess it would make sense to always close them, is it a no-op on the streams that aren't dealing with resources?

[2017-02-06 16:38] johanandren commented on #22263
It doesn't provide millisecond precision though, see the `akka.scheduler` block in akka-actor `reference.conf`.

[2017-02-06 16:44] liff commented on #22241
Probably not quite exactly a no-op since you can attach [`onClose` handlers](http://docs.oracle.com/javase/8/docs/api/java/util/stream/BaseStream.html#onClose-java.lang.Runnable-) to any `Stream` implementation.

[2017-02-06 17:15] johanandren commented on #22241
Then I definitely think we should add closing to the stage, if there may be registered hooks that expect to run when the stream is closed/completed/failed (or not all of them?).

[2017-02-06 17:33] liff commented on #22241
The hooks are only called on `close()`, it seems.

[2017-02-06 21:47] Owersun commented on #22263
It does not, that's not the issue I'm facing.
Linux .jar drifts in some range which is pretty solid. If the tick was enqeued at .010 milliseconds the runs are going to be around it at .005 - .015 more or less. This range holds for days. So what I basically see that tick happens inside some range at some tick. Which is totally ok, I'm not looking for precision.
On the MacOSX though, the same compil

[2017-02-07 07:41] viktorklang commented on #22042
I'm surprised that it prints anything at all—take(0) should make the concat operation a noop.

[2017-02-07 08:20] drewhk commented on #22042
@ANorwell

Yes, this is the reason. Concat is translated to a graph containing a single `Concat` node that prefetches on both sides. This also means that the two sources are materialized together independently of the completion of the first. This is way more efficient than `flatMapConcat` and hence the default. If you need lazily materialized sources for concatenation purposes you must use `flatMa

[2017-02-07 08:20] #22042 closed

[2017-02-07 08:29] viktorklang commented on #22042
@drewhk I didn't mean as optimization step, but as implementation of take(0) (the GraphStage).

[2017-02-07 08:31] drewhk commented on #22042
it is not take, but concat that does the prefetch. I.e. it takes one element upfront without waiting for take(). All of our fan-in stages, including concat are prefetching because otherwise certain graphs will deadlock. Whether such deadlock is "expected" or not was a deep discussion back then. It is "expected" if you are an expert, but completely unintuitive if you are a newcomer. Intuitive was c

[2017-02-07 08:31] drewhk commented on #22042
In particular, the main issue was that deadlock was dependent on whether the graph was fused or not.

[2017-02-07 08:37] viktorklang commented on #22042
@drewhk Now I remember those conversations—yes! :-)

[2017-02-07 08:39] drewhk commented on #22042
Yeah, these tend to return. I am not sure now whether it was the "right" choice, but there is no way to go back now :)

[2017-02-07 08:43] toaditoad commented on #22257
I created a MWE without OpenCV's involvement or any serializer. Hopefully, somebody can share some light into this issue: As seen in the `Coordinator` actor, two messages are sent to the `Detection` actor. The first is ~2MB and gets transferred as expected, but the second one with ~3MB fails, even though `akka.remote.artery.advanced.maximum-large-frame-size = 4MiB`. What am I missing?

[code]

**b

[2017-02-07 08:48] viktorklang commented on #22042
With the mindset that each op is concurrent, and there's at least 1 element prefetch for pipeline  priming, I think most observed behaviours in this regard are self-explanatory. I'd venture guessing that a complicating factor is that both the prefetch and the concurrency is invisible in the code. :)

[2017-02-07 08:53] drewhk commented on #22042
When it comes to fused I always prefer prefetch-less wherewere possible, but graph stages are a bit special in this case because of cycles. Making these always-prefetch was something that we did right before the 2.0 release, when we enabled fusing by default. Without prefetch some cycles just don't start and keep being deadlocked.

[2017-02-07 12:06] jrudolph commented on #20180
Here's a similar one in RemoteReDeploymentFast:

https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4612/consoleFull

[2017-02-07 12:07] jrudolph commented on #21624
https://jenkins.akka.io:8498/job/akka-nightly/4117/consoleFull

[2017-02-07 12:10] jrudolph commented on #21518
https://jenkins.akka.io:8498/job/akka-nightly/4118/consoleFull

[2017-02-07 12:12] jrudolph opened #22265 "FAILED: akka.stream.scaladsl.FlowSpec.A Flow with multiple subscribers (FanOutBox) must call future subscribers' onError when all subscriptions were cancelled"
https://jenkins.akka.io:8498/job/akka-release-2.4/82/testReport/akka.stream.scaladsl/FlowSpec/A_Flow_with_multiple_subscribers__FanOutBox__must_call_future_subscribers__onError_when_all_subscriptions_were_cancelled/

[code]

[2017-02-07 12:13] jrudolph commented on #18366
Happened again, but keeping closed for now if it only happens once every few years.

https://jenkins.akka.io:8498/job/akka-multi-node/1933/consoleFull

[2017-02-07 12:45] #22249 closed

[2017-02-07 12:55] drewhk commented on #22097
Seems like a race condition to me:

[code]

The above snippets assumes that the second will materialize to a failed future, but in practice there might be a race so there is a chance that the second runWith is the one that actually succeeds while the first fails. Since the first Future is ignored it will not show up if it fails. At least this is my hypothesis.

[2017-02-07 13:11] patriknw commented on #22245
@mbesida You are interested in the materialized value of `outgoingConnection` and in above example you are discarding it and therefore it looks like the stream is completed with `Success` (materialized value of runForeach). Instead you should do something like:

[code]

Then you will see `Failure: akka.stream.StreamTcpException: Connection failed.`

Next time, please use the [mailing list](https:/

[2017-02-07 13:11] #22245 closed

[2017-02-07 13:31] patriknw commented on #22220
Sounds like a good thing to add to Cookbook documentation or akka-stream-contrib.

[2017-02-07 13:35] patriknw commented on #22136
@by-dam Thanks for reporting. Seems you know what should be changed, would you like to open a pull request fixing the issue?

[2017-02-07 13:57] patriknw commented on #22096
We can't take on maintenance of everything. Almost there as an internal implementation compared to a fully supported API is completely different things. Sorry. Sounds like a nice little project by itself.

[2017-02-07 13:57] #22096 closed

[2017-02-07 14:25] by-dam commented on #22136
Hi @patriknw there is actually one such PR https://github.com/akka/akka/pull/22137

[2017-02-07 15:23] patriknw commented on #22136
ah, thanks

[2017-02-07 18:20] jrudolph commented on #21596
Seems to be a bug in sbt-assembly. See https://github.com/sbt/sbt-assembly/issues/205. It's easy to reproduce by using sbt-assembly on a project that uses sbt-assembly and defines an arbitrary shading rule.

[2017-02-07 20:54] 2m commented on #22257
This could be related to https://github.com/real-logic/Aeron/issues/41

[2017-02-08 10:48] jrudolph opened #22270 "FAILED: PersistentClusterShardingSpec (crashed the JVM)"
https://jenkins.akka.io:8498/job/akka-nightly/4125/consoleFull

It crashed the JVM:

[code]

[2017-02-08 10:50] jrudolph commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/620/consoleFull

[2017-02-08 14:52] rkuhn commented on #22105
As discussed with @patriknw this morning I’ll track this at rkuhn/akka-typed-session for a while to let it mature outside of the main codebase.

[2017-02-08 14:52] #22105 closed

[2017-02-08 15:04] rkuhn opened #22271 "allow creation of untyped Actors beneath typed ActorSystemImpl"
This will ideally be done using an AdapterParent that speaks the typed-internal system messages with its supervisor and the untyped-internal ones with its children (with the proper semantics in both cases).

The same API must work for ActorSystemAdapter (i.e. within ActorContextAdapter).

[2017-02-08 15:10] rkuhn opened #22272 "create typed ActorRef Source and Sink"

[2017-02-08 15:11] rkuhn commented on #21226
should be based on #22271

[2017-02-08 15:12] rkuhn opened #22273 "Persistence API for Akka Typed"
based on #22271, to be used with a process DSL like [nokia/akka-typed-persistence](https://github.com/nokia/akka-typed-persistence) or [rkuhn/akka-typed-session](https://github.com/rkuhn/akka-typed-session)

[2017-02-09 03:26] simerplaha opened #22275 "stashing for Akka Typed"
Or is `SynchronousSelf` the solution for stashing in Akka Typed ?

@rkuhn

[2017-02-09 03:41] jangoolie opened #22276 "Retry Pattern"
I find I occasionally want to retry a future so I wrote this helper that lives in a common Library I maintain:

[code]

Is this the sort of thing that could live in akka.pattern?

[2017-02-09 07:20] volkerstampa commented on #21665
I wonder if using goldy makes sense at all?!? As far as I understand it can only act as a _secure_ proxy for a server and thus requires an DTLS enabled client. Unlike ghostunnel (for TLS) it does not have a [client and server mode](https://github.com/square/ghostunnel#full-tunnel-client-plus-server). But maybe I am missing something!?!

[2017-02-09 12:52] jrudolph opened #22277 "Proper logging for root causes of disassociation in old remoting"
Right now it seems error are usually not propagated which makes it very hard to understand why a system gets disassociated at a certain point in time.

[2017-02-09 17:06] Hawstein commented on #22234
Would like to take this.

[2017-02-10 11:34] patriknw opened #22283 "Make it easier to disable Java serialization"

[2017-02-10 12:34] #22246 closed

[2017-02-10 13:21] #22239 closed

[2017-02-10 13:25] patriknw opened #22285 "PersistentFSMBase - matchEvent API bug"
"predicate" not being propagated to created builder

[2017-02-10 13:52] patriknw commented on #21903
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4629

[code]

[2017-02-10 14:07] #22180 closed

[2017-02-10 14:08] #22136 closed

[2017-02-10 14:08] #22285 closed

[2017-02-10 14:38] blbradley commented on #21573
[Here](https://groups.google.com/d/topic/akka-user/cWwxrx5APqI/discussion) is a link to the Akka User question that spawned from this, for reference.

@ktoso Feel free to look at the question. We couldn't get `flow.alsoTo(Sink.onComplete(...))` to work.

[2017-02-10 15:20] #22283 closed

[2017-02-10 17:34] rkuhn commented on #22275
I’m not sure stashing is a good idea at all. Instead of a hidden queue it is better to have an observable explicit queue so that you can react to the fill level for flow control purposes.

With a process DSL like in #22087 you will not need it because you just don’t read from the mailbox while not ready—but this should be seen in the context of a higher level of abstraction and also of limiting ma

[2017-02-10 21:05] rkuhn commented on #22174
I have just updated akka/akka-meta#26 with a proposal on how to move forward in general. The gist is that what you want to do should be the appropriate solution for migrating to the typed world.

You raise a good point with the problems connected to needing an untyped ActorSystem—this will in general not be possible, there are several aspects that the typed ActorSystem cannot support. The use-case

[2017-02-10 21:09] notxcain opened #22289 "Duplicate running instances when using cluster sharding with remember entities enabled"
Recently I've noticed duplicate events for one of my persistent entities.
I have only one node running. So here is the scenario that I have in mind:
1. Remember entities is enabled
2. There is alive entity `foo` in shard `A`
3. Shutdown app
4. Change sharding function (that what I did)
5. Start app
6. `foo` is recovered in shard `A`
7. Send message to `foo` and new sharding function routes it to s

[2017-02-10 21:28] polymorphic opened #22290 "NPE with ClusterClient"
I am observing lots of NPEs upon connecting the ClusterClient to an existing cluster. Here's the stack trace corresponding to the first NPE while attempting to connect the client to a 1-node cluster running at 127.0.0.1:2551:

[DEBUG] [02/10/2017 13:20:38.616] [d-agent-akka.remote.default-remote-dispatcher-22] [akka.serialization.Serialization(akka://d-agent)] Using serializer [akka.serialization.

[2017-02-10 21:32] jamesmulcahy commented on #22290
Perhaps related to #22004 ?

[2017-02-10 22:13] polymorphic commented on #22290
Compiling both nodes with Scala 2.12.1 doesn't produce the error so this smells like a version interop problem.

[2017-02-10 22:21] patriknw commented on #22290
yes, smells like a java serialization issue. I suspect `scala.Some`. You could try with

[code]

but then that must be enabled on both sides.

[2017-02-10 22:22] patriknw commented on #22290
the full property is

    akka.actor.enable-additional-serialization-bindings = on

[2017-02-10 23:55] yhdai opened #22291 "akka.cluster.min-nr-of-members doesn't count for ShardRegion proxy"
akka.cluster.min-nr-of-members doesn't count for ShardRegion proxy.

E.g. setting min-nr-of-members = 3, with 2 nodes start shardregion, one node start shardregion proxy, then the sharding function is not working, below error messages will be logged:

[WARN ] 02:09:20.448UTC [RTAPCluster-akka.actor.default-dispatcher-14] ShardRegion - Retry request for shard [shard18] homes from coordinator at [Ac

[2017-02-11 18:14] JamesCarl commented on #22041
Just wanted to say for those learning Akka this was a particularly tricky bug to identify when just getting started with remoting using Akka 2.4.16 and Scala version 2.12 a helpful note in the docs might increase adoption. Thank you for your work.

[2017-02-11 19:32] patriknw commented on #22041
Sorry for the inconvenience. It was a bug and it should be fixed in 2.4.17 so documentation should now be correct again. Let us know if you observe any thing else.

[2017-02-11 20:37] patriknw commented on #21665
@volkerstampa I think you are right. I had the same thought when I read up on it some time ago. Let us know if you know (or find) a better alternative.

[2017-02-11 20:37] #21665 closed

[2017-02-11 22:29] rkuhn opened #22293 "add Akka Typed Java API"

[2017-02-12 02:10] JamesCarl commented on #22041
Ah, just saw the new release thank you again!

[2017-02-12 22:26] buaya91 opened #22295 "Feature request: Circuit breaker should allow user specify what is considered failure"
Current async circuit breaker assume `Failed future` is failure, which is a reasonable, but not flexible enough.

It would be nice if we allow user to express what should be consider a failure, by passing in a function with signature

[code]

I am going to submit a PR, however if this use case does not make sense, please comment

Cheers ~

[2017-02-12 22:45] buaya91 commented on #22295
One potential problem is where to pass the predicate function , passing from constructor would be too restrictive, passing from the `withCircuitBreaker` and it's variant seems to make more sense, but this might change the api (in a backward compatible way thought, we could either overload of use default params) , could maintainer comment if this should be avoided?

[2017-02-13 07:46] volkerstampa commented on #21665
@patriknw Thanks for confirming. TBH I do not have a better alternative, maybe except for adding a _client_-mode to goldy. However personally I have no plans to tackle this atm.

[2017-02-13 07:57] #22076 closed

[2017-02-13 09:26] patriknw commented on #22276
@jangoolie  looks useful, please create PR

[2017-02-13 09:52] johanandren commented on #22290
Do we give any guarantees around wire compatibility between 2.12 and 2.11 though?

[2017-02-13 09:54] ktoso commented on #22290
If java serialisation is used absolutely no. So `akka.actor.enable-additional-serialization-bindings = on` is recommended here anyway, or even better `akka.actor.enable-additional-serialization-bindings = on`

See http://akka.io/news/2017/02/10/akka-2.4.17-released.html

[2017-02-13 10:13] johanandren opened #22296 "Exclude docs package from API docs"
Currently we include the `docs.` package in the Java/Scaladoc

Should be possible to fix using `-skip-packages`, see https://github.com/lagom/lagom/blob/master/project/Doc.scala#L87

[2017-02-13 10:16] johanandren commented on #22004
I can't think of another explanation than that one node was run with 2.12 and another with 2.11 and Java serialization was used. I'll try to confirm that causes the problem.

[2017-02-13 10:21] johanandren opened #22297 "Flow.fromSinkAndSource with "attached" cancelation/completion"
I've seen a couple of questions here and there where people get stuck on `Flow.fromSinkAndSource(sink, source)` breaking the cancelation/completion signaling chain, so that when sink cancels, source will still be running, or when source completes the sink will keep consuming.

Could we introduce a version of it that will complete the source when the sink cancels, and cancel the sink when the sourc

[2017-02-13 10:45] patriknw commented on #22290
Let's investigate if it's because serialization of `scala.Some` broke (again) and then decide what to do about it.

[2017-02-13 11:48] johanandren commented on #22004
I have confirmed that if you run cluster singleton on a 2.12 node and try to send `Identify` to it from a 2.11 node you get `null` for actorref back.

[code]

[2017-02-13 12:00] 2m commented on #22296
We use sbt-unidoc for aggregating java/scaladoc. And that plugin has support for filtering out projects: https://github.com/akka/akka/blob/b545fb18ac2a5222b13d680be747e70d2e3acacf/project/Doc.scala#L121-L124 We should add a filter for the docs project there.

[2017-02-13 12:07] patriknw commented on #22004
ok, so it's serializing `akka.actor.ActorIdentity` on 2.12 with Java serialization and that can't be correctly deserialized on 2.11.

Can you write a unit test similar to https://github.com/akka/akka/blob/master/akka-actor-tests/src/test/scala/akka/serialization/SerializeSpec.scala#L350
Then we can show that for Scala team and we'll see if they will fix it.

Otherwise I think we have to say that
*

[2017-02-13 12:08] patriknw commented on #22004
perhaps you can even minimize the test to `scala.Some`

[2017-02-13 12:11] johanandren commented on #22004
Yep, it is, writing `Some(whatever)` in 2.12 deserializes to `Some(null)` in 2.11

[2017-02-13 12:11] johanandren commented on #22004
Damn, missed the part about a test :D

[2017-02-13 12:12] ktoso commented on #22297
Duplicate of https://github.com/akka/akka/issues/21549

[2017-02-13 12:12] johanandren commented on #22297
Ah, sorry. I had a nagging feeling this had been up before...

[2017-02-13 12:12] #22297 closed

[2017-02-13 12:29] patriknw commented on #22290
Closing this as a duplicate of https://github.com/akka/akka/issues/22004
@polymorphic Thanks for reporting, please watch the other issue for progress.

[2017-02-13 12:29] #22290 closed

[2017-02-13 12:35] patriknw commented on #22295
@buaya91 Isn't it enough to do `.recover` or `.recoverWith`?

[2017-02-13 12:43] patriknw commented on #22289
I can confirm that this is a bug. When the identifiers have been loaded from storage the `Shard` just creates the actors as children even though it might not be responsible for the entities any longer. It would have to start them via some activation message taking the same path as an ordinary message, i.e. via the coordinator to decide where it should live. That adds the complication that such an

[2017-02-13 12:45] patriknw commented on #22275
I agree with @rkuhn. `Stash` is much about restoring the `sender`, which doesn't exist in Typed. Let's not close it but rename it to "document..."

[2017-02-13 12:58] buaya91 commented on #22295
@patriknw that's what we did as a workaround, but it's clunky as we need to flatmap it back to failed future after returning from `withCircuitBreaker` clause. This leads to some amount of code that convert Failed future to success back and forth

Do you think this is a valid reason?

[2017-02-13 13:08] patriknw commented on #22263
Since we promise that tasks are not supposed to run too early this is interesting. I tried with the following confirming results. See the `diff` number to the right.

[code]

With 1 second interval:
[code]

and 10 seconds interval:
[code]

[2017-02-13 14:24] drewhk commented on #21965
https://jenkins.akka.io:8498/job/akka-release-2.4/89/consoleFull
https://jenkins.akka.io:8498/job/akka-release-2.4/90/consoleFull
https://jenkins.akka.io:8498/job/akka-release-2.4/91/consoleFull

[2017-02-13 14:27] drewhk commented on #20223
https://jenkins.akka.io:8498/job/akka-multi-node/1941/consoleFull

[2017-02-13 14:27] drewhk commented on #21903
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/624/consoleFull

[2017-02-13 14:41] #21549 closed

[2017-02-13 16:27] #22277 closed

[2017-02-13 17:27] patriknw commented on #22263
@Owersun I looked at this some more and I actually think it behaves as expected.

The scheduler compensate for the task execution time and that means that the interval between some delays may be shorter than the specified delay, but the average execution tick should be close to the periodic interval.

I rewrote the test to:
[code]

and then it looks like

[code]

[2017-02-13 17:45] Owersun commented on #22263
The debug output is fine, but the actual hit time constantly drifts back by 3 milliseconds. =(

![ohne-titel](https://cloud.githubusercontent.com/assets/4807375/22895408/a25fe800-f21c-11e6-88b8-b361e000af2e.png)

[2017-02-13 19:21] patriknw commented on #22263
Yeah, somewhat surprising, but I think that is because System.currentTime and System.nanoTime may drift. Found some articles about it when googling.

It can be illustrated with this little program
[code]

output:
[code]

If you agree I'd like to close this ticket, since it's not a problem in Akka.

[2017-02-13 19:54] ktoso commented on #22263
Somewhat out of context, but the best read about how one should not trust numbers out of these methods is https://shipilev.net/blog/2014/nanotrusting-nanotime/
So if we're observing slight drift, and knowing the above article, I'd be easily convinced that it's not Akka's fault.

[2017-02-13 20:08] patriknw commented on #22257
@toaditoad When looking at the Aeron source code I can confirm what @2m mentioned. You can probably increase the `aeron.term.buffer.size` to be able to send larger messages. https://github.com/real-logic/Aeron/wiki/Configuration-Options

However, I would not recommend sending such large messages, especially not using
`large-message-destinations = ["/user/*"]` for all actors, but I guess you were t

[2017-02-13 20:29] Owersun commented on #22263
I do agree with you guys that time is complicated topic to handle, but I thought this is something being though through...
It's very sad this thing work different on different systems (I see this behaviour only on Mac OS X, Linux is fine), that would mean the application we build is going to be targeted to a specific platform where everything works as it expected to be working...

[2017-02-13 20:44] Owersun commented on #22263
Basically what I understand from last example - nanoseconds time runs faster that milliseconds time for whatever reason. And while nanoseconds count 60000000 times, milliseconds do only 59997.
And it seems that scheduler is working with nanosecond precision on Mac OSX, doing more ticks than it should per some time.
Is there any way to tell scheduler to work with milliseconds, and forget about nano

[2017-02-13 21:09] ktoso opened #22302 "Documented, not existing FSM matcher? FSM convenience matcher - Ev"
via @talp-traiana on akka-user

I was not able to find the mentioned docs, what do you mean specifically Tal?

[2017-02-13 21:36] patriknw commented on #22263
The Akka scheduler is not designed for what you are looking for. You could perhaps use scheduleOnce(1.minute - 50.millis) and then spin/parkNanos for the remaining time until you reach disired wall clock. Run it on a pinned dispatcher or a separate thread. At any time there can be a GC pause though, and currentTimeMillis normally doesn't have good precision.

[2017-02-14 07:13] andrievskya opened #22303 "Suggest using 64bit JVM for Artery in docs"
Trying a simple test (see attachmet) with a single "server" and multiple "clients" on  a virtual machine (4  CPUs, 4 Gb RAM, Win7x64), found that Artery remoting stops working when there are 4 clients (8 clients when using an external MediaDriver)

It produces a following error:

2017-02-14 09:07:11 ERROR akka://ServerSystem/system/StreamSupervisor-0/remote-1-0-unknown-operation akka.actor.Repoint

[2017-02-14 07:35] talpr commented on #22302
I'm referring to this:
https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/actor/FSM.scala#L241

I might have a few spare moments today, I'll try to open a PR.

[2017-02-14 08:01] patriknw commented on #22303
@andrievskya  Looking at the server.log I think the reason is that you are out of direct memory space. Try with
`-XX:MaxDirectMemorySize=256M` or more. Please report back. If that is the reason we should mention this in the documentation.

[2017-02-14 08:39] andrievskya commented on #22303
With 256 and 512M the behavior is generally the same (see attachment)
[aeronTest_logs_xxMem.zip](https://github.com/akka/akka/files/773477/aeronTest_logs_xxMem.zip)
The only difference is that 7 clients was enough to stop working, so it may be that number of CPUs doesnt affect the situation.

BTW, on a more powerful system (i7 8 cores, 16G RAM) this test works fine, even without -XXMemory magic

[2017-02-14 09:10] patriknw opened #22305 "Reword Experimental to "API May Change""
In documentation and source code comments

[2017-02-14 09:21] patriknw commented on #22303
See for example http://javarevisited.blogspot.se/2014/11/javaioioexception-map-failed-javalangoutofmemoryerror.html

You could try even larger and also the `-d64` flag. Make sure you start the external media driver with those flags, if that is what you are using.

Perhaps something is scaled depending on the machine size?

[2017-02-14 09:35] drewhk commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly/4144/consoleFull

[2017-02-14 09:59] jrudolph opened #22306 "MiMa is not up to date any more"
Two problems:

 * In `release-2.4`, we forgot to add version entries for `2.4.16` and `2.4.17`, so we already started to accrue missing filters.
 * In `master` we should strive for keeping the 2.4 filters in line with the `release-2.4` branch. The rule would be to put all entries into the 2.4 section if a feature is to be backported and only put really incompatible changes from 2.5 into the `bcIss

[2017-02-14 10:27] viktorklang commented on #22263
@Owersun Also: https://stackoverflow.com/questions/37417268/nanotime-and-currenttimemillis-have-different-rates-on-mac-os

[2017-02-14 10:44] #22302 closed

[2017-02-14 10:55] andrievskya commented on #22303
Switching to 64bit java solved the issue. No XX:memory size magic needed.

So, maybe it's worth mentioning in the documentation, that Artery requires 64bit java for reliable work, while netty-based remoting feels fine in 32bit java.

[2017-02-14 10:57] patriknw commented on #22303
Thanks for testing that, yes that would be good addition to the documentation. Would you be able to create a pull request?

[2017-02-14 11:08] #22263 closed

[2017-02-14 11:08] johanandren opened #22308 "Update samples moved into docs to new Java API"
When #22288 gets merged we need to update the included in that PR to be `AbstractActor` rather than `UntypedActor`

[2017-02-14 11:25] ktoso opened #22310 "Refine Take and TakeWhile to be simpler"
To track the PR https://github.com/akka/akka/pull/21871

change InHandler to avoid unnecessary condition check
remove unnecessary local variable
fix typo

[2017-02-14 12:03] ktoso commented on #22303
I changed the title and tagged accordingly

[2017-02-14 12:03] ktoso commented on #21491
Shall we move this to 2.5.x milestone and close the 2.3.x milestone?

[2017-02-14 12:48] #22241 closed

[2017-02-14 12:53] andrievskya commented on #22303
Created a pull request https://github.com/akka/akka/pull/22313

[2017-02-14 13:00] jrudolph opened #22314 "Forward-port serialization fix to 2.5"
Changes in #22287 should be forward-ported to 2.5.

Then make sure that the feature is binary compatible with 2.4 by removing the extra MiMa filters (which we need to add otherwise in #22312).

[2017-02-14 13:33] #22004 closed

[2017-02-14 13:38] johanandren commented on #22045
Waiting for  #22218 to be merged

[2017-02-14 13:56] drewhk commented on #21965
I think the issue is only with the test, fix is in progress now.

[2017-02-14 14:11] guidomedina opened #22316 "Patterns and PatternsCS naming and package"
I found out by accident that `PatternsCS` is the Java counterpart of `Patterns`, hard to guess with the CS at the end and no package like `japi` or `javadsl`, my suggestion is to deprecate the current `Patterns` and create a copy on each corresponding package (for Java and Scala) with the name Patterns.

There were other suggestions like create `Ask`, etc, but I don't think is worth because there

[2017-02-14 14:17] ktoso commented on #22316
Moving Patterns does not sound beneficial enough to warrant the breakage.

PatternsCS is ugly yeah - deprecating and introducing better place for java part sounds interesting.
Specific suggestions would be welcome. Splitting out Ask etc seems bad timing, we don't need to introduce more breakage than really needed. `akka.actor.japi.Patterns` would be enough I guess.

[2017-02-14 14:17] ktoso commented on #22316
Marked as 2.5.0 but as `new` so we discuss it before 2.5.0 lands, not triaged yet.

[2017-02-14 14:22] guidomedina commented on #22316
Yeap, I agree that even introduccing a `akka.actor.japi.Patterns` will automatically show for IDE completion imports etc, should make it more evident and easy to find which is the real intention of this ticket.

[2017-02-14 14:39] ktoso commented on #22277
Assign milestones when closing please :)

[2017-02-14 14:47] johanandren commented on #22023
GC pause of ~4s just before failure, and timeout of 2s so looks probable that was the cause.

[2017-02-14 14:48] #22023 closed

[2017-02-14 15:45] johanandren commented on #21914
I have taken a look at the sample, and as far as I can see it works as expected:

for every message to an actor of type A it sends `Lock` to a random actor B which acquires the semaphore, it then sends 5 workload messages to random actor Bs, and finally an `Unlock` to a random actor B which releases the semaphore.

As you are using round-robin pools there is no guarantee you are sending the subseq

[2017-02-14 15:47] #21914 closed

[2017-02-14 16:07] johanandren commented on #22270
The fine grained type of failure is `SEGV_MAPERR`, which I think happens when you try to access an address not mapped to the process, so broken pointer/npe or something like that.

Fishy stuff from the dump, especially considering the top frame is not native code but interpreted Java, can't find anything much like it on the line:
[code]

[code]

[2017-02-14 17:39] pomadchin opened #22319 "java.lang.VerifyError with sbt-assembly plugin"
I receive a `VerifyError` when I use [sbt-assembly](https://github.com/sbt/sbt-assembly) shading feature on any library and Akka 2.4.x+.
With Akka 2.3.x everything works.

I prepared a small project to reproduce error: https://github.com/pomadchin/shading-issue
It has only two deps: `akka-core` and `com.github.scopt` (just random library to shade, without transitive deps).

Main.scala implements [

[2017-02-14 17:40] ktoso commented on #22319
Likley duplicate of https://github.com/akka/akka/issues/21596 please read that and confirm?
It's nothing to do with Akka but the shading impl in sbt-assembly, we can't help with that.

[2017-02-14 17:43] pomadchin commented on #22319
@ktoso I whish to say yes, but i figured out that this issue appeared on `Akka 2.4-M1`, I'll attach `build.sbt`:

[code]

[2017-02-14 17:49] ktoso commented on #22319
As I just said, it's not about spark, please read that ticket, the last comment there is:

It's an sbt-assembly issue and we can't do anything about it in Akka itself.
Please chime-in in the https://github.com/sbt/sbt-assembly/issues/205 thread I guess

[2017-02-14 17:50] pomadchin commented on #22319
@ktoso thx for this pointer!

[2017-02-14 17:50] #22319 closed

[2017-02-14 21:44] ortigali commented on #22305
would like some clarification

[2017-02-14 21:45] ktoso commented on #22305
What's confusing?

[2017-02-14 21:49] ortigali commented on #22305
only replace "Experimental" to "API May Change"

[2017-02-14 21:52] ktoso commented on #22305
Hm... if you're thinking about contributing that one I guess this one may be better left to us so the wording is really what we intend to say and guarantee down the line.

Not sure I understood correctly though?

[2017-02-15 06:04] patriknw commented on #22305
We should also make sure that no artifact names contain `-experimental`. I'm thinking of `akka-typed`, so that we can promote it in a 2.5.x patch release if/when we feel it's ready. (cc @rkuhn)

[2017-02-15 06:28] patriknw commented on #18262
When doing this we should write a benchmark that verifies that the performance is not degraded too much. Simple ping-pong with one actor is not so interesting, so at least something with several pairs of actors.

We can also run with Scala 2.12, which is using the JDK FJP, and compare with https://github.com/monix/monix-forkjoin

[2017-02-15 06:31] patriknw commented on #22188
I have started on the causal delivery protocol and will continue with that today.

[2017-02-15 07:06] jnmoyne commented on #19661
Just a +1 to what technocoreai said, I ran into this and it took me by surprise and besides being annoying that I have to write a workaround it's a bit unfortunate that the max value is not documented/exposed other than in the description of the exception and from what I'm reading here seems implementation dependent.

Just like him, not asking for or expecting persistence, I take care of that myse

[2017-02-15 08:27] drewhk commented on #19661
Still, Akka Scheduler is not meant for such tasks. Its main, and utmost purpose is to be able to handle huge amounts of timeouts and small interval timers that are usually cancelled (i.e. high cancel traffic). It is highly, highly optimized for such tasks. We have no intention to grow it into a general purpose scheduling mechanism. There are libraries out there that handle those cases. In fact, th

[2017-02-15 08:33] toaditoad commented on #22257
Sorry for my late reply - Are you sure it is `aeron.term.buffer.size`? I can only find `aeron.term.buffer.length` what seems to work. However, if the `aeron.term.buffer.length` has to be 8 times as big as the `maximum-large-frame-size`, it creates ridiculous large logs what my system cannot handle properly. If that is the case, I accept that it is not recommended and probably even possible to send

[2017-02-15 08:56] johanandren commented on #18262
In #21910 you can see some performance numbers for 1-5 actor pairs doing ping-pong concurrently with the 2.11 FJP and the Java 8 FJP respectively (where throughput is much lower with the Java 8 FJP until I hit more actors than actual cores in my machine, which fits with the monix-forkjoin writeup in their readme). I'll try to move that into our benchmarks.

[2017-02-15 10:08] dbolotin commented on #22174
@rkuhn Thanks for your answer!

The part about ActorMaterializer and akka-streams / akk-http now looks pretty clear to me. Though, things like described [here](http://doc.akka.io/docs/akka/2.4/scala/stream/stream-integrations.html#Integrating_with_Actors) will require their typed versions.

What would you suggest for now? Is it a good idea to go with some solution I came up with (passing reference

[2017-02-15 10:52] johanandren commented on #18262
Here are some more numbers, that aren't exactly favorable to the Java 8 FJP, `threads` is actually `parallelism-factor`, so in my case multiplied with 8. `pingPong` is a simple single pair ping pong of messages, while the other two are multiple pairs of actors ping-ponging pairwise.

[code]

[2017-02-15 11:26] johanandren commented on #18262
Trying out some more scenarios, more actors per core:

[code]

[2017-02-15 11:32] johanandren commented on #18262
In all of these results there is one case where the newer FJP from Java 8 is better, and that is 2 actors per core on a 1 and 4 thread per core FJP, in all other cases it gives worse throughput.

[2017-02-15 13:16] #21903 closed

[2017-02-15 13:40] patriknw commented on #18262
There is a risk that we compare more than the FJP when we compare 2.11 and 2.12. Would it be difficult to compare the 2.12 run with a 2.12 run using the monix FJP?

[2017-02-15 14:19] sumnulu opened #22324 "MarkerLoggingAdapter's error method eating cause parameters"
akka.event.MarkerLoggingAdapter does not using cause parameter of the error methods.
akka version = 2.4.16

[code]

example :
[code]

[2017-02-15 15:55] #21653 closed

[2017-02-15 16:12] rkuhn opened #22325 "remove stateless behavior"
Stateless actors do not need to change their behavior, so requiring them to return `Same` just because they may want to voluntarily terminate seems a little inconvenient. Proposed usage:
[code]

[code]

[2017-02-15 16:53] abesanderson opened #22327 "Oversize payload exception sending ddata gossip"
I'm seeing the following exception quite a bit when running a mid-sized cluster(10 nodes) with distributed data and legacy remoting.

'akka.remote.OversizedPayloadException: Discarding oversized payload sent to Actor[akka.tcp://smart-comfort@10.34.0.22:2552/system/sharding/replicator#-280172874]: max allowed size 512000 bytes, actual size of encoded class akka.cluster.ddata.Replicator$Internal$Gos

[2017-02-15 19:40] #21854 closed

[2017-02-15 19:47] patriknw commented on #22327
How many keys are you updating? What data types are you using? How many elements do you add to these?

[2017-02-15 19:51] patriknw commented on #22257
I don't know the exact property name, but that should be possible to find in the Aeron documentation.

Anyway, sounds like a good idea to not use Akka Remoting for this, but use a separate side channel. I'd suggest that you take a look at [Akka Streams and it's TCP support](http://doc.akka.io/docs/akka/2.4/scala/stream/stream-io.html#Streaming_TCP). You can still use Actor messaging as the control

[2017-02-15 21:09] toaditoad commented on #22257
Then, it seems to be `aeron.term.buffer.size`.

Thank you for this suggestion. I have developed some designs with only actors, only streams and also streams that integrate actors. I reached some conclusion about Akka Remoting regarding this special use case for my thesis. I haven't decided on how to publish my paper yet but I will probably pass you guys a copy. Your work is terrific. Thanks a lot

[2017-02-15 21:50] patriknw commented on #22257
Thanks. I'm reopening because I think this should be documented.
We should mention something about this 1/8 of term size in the documentation for large messages.

[2017-02-15 23:33] abesanderson commented on #22327
This is just the cluster sharding data.  There are 10 nodes, each node has about 30 shards, each shard has about 40k entities.  There are 8 separate cluster shard regions, but it seems like there is a single replicator for all cluster sharding information.   My understanding of the map CRDT is that it only sends updates, rather than an atomic representation of the whole data structure.  If it's at

[2017-02-16 03:32] Hawstein commented on #22310
Ah, thanks for creating the ticket. 😄

[2017-02-16 06:45] jnmoyne commented on #19661
I can certainly appreciate that a single implementation could never fit all use cases. I think the confusion here could be cleared by a little bit of clarification in the documentation. In my case I 'solved' my problem by adjusting scheduler.tick-duration to be much larger (1s) than the default of 10ms and yet sufficient resolution for my needs of scheduling things in the future up to a year in ad

[2017-02-16 08:30] johanandren commented on #22324
Did you configure your logger implementation to include the markers in its output (described in the docs for SLF4J here: http://doc.akka.io/docs/akka/2.4.17/scala/logging.html#Using_Markers)?

[2017-02-16 08:57] jrudolph commented on #22277
Yes, sorry missed that one. Changed to 2.4.18 as the change was backported.

[2017-02-16 09:02] jlprat commented on #22303
Usually issues are not closed until the PR is merged, maybe you should reopen it :)

[2017-02-16 09:12] andrievskya commented on #22303
Ok, reopened.

[2017-02-16 09:12] ktoso commented on #22303
Yeo, indeed - thanks ;)

[2017-02-16 09:33] jpuerto opened #22330 "Handle system property "java.net.preferIPv6Addresses""
Hello,

We are working in [akka-social-stream](https://github.com/becompany/akka-social-stream) project to aggregate the social feeds to a common stream. The project works perfectly in my local machine but our server is IPv6 only and the application was not able to resolve the URLs of the social providers properly.

Finally, after some troubles we think that we have located the source of the probl

[2017-02-16 09:55] #22030 closed

[2017-02-16 09:55] johanandren commented on #22030
Thanks @agolubev !

[2017-02-16 10:46] ktoso commented on #22277
When we backport we do this:
- original issue can keep 2.5
- the PR of the backport gets assigned to the milestone it was backported to 2.4.18

This way the feature shows up in both lists when people check "what is in 2.5" as well as "what is in 2.4.18". So this PR should be 2.5.0, and the backport issue (already is) 2.4.18.

[2017-02-16 10:48] patriknw opened #22332 "still some Java serialization for remote deployment"
akka.remote.RemoteScope, akka.actorScope ?

[2017-02-16 10:51] ktoso commented on #19661
Glad we agree on that.

Yes, we can document that (by-design) limitation.

This is a very bad idea, please don't do this. You've just impacted all possible internal timeouts and timers of Akka and can cause weird things in the system by putting it to such really high value.

Please use the right tool for the right job or you'll end up hurting the system and yourself in the process. For your job at

[2017-02-16 10:54] jrudolph opened #22333 "Switch off Java serialization for remoting by default"
This mostly requires that there's a viable, seamless alternative we could people point to and that is supported by akka with helpers etc.

Changing the default would not stop anyone from updating as you will still be able to use Java serialization by turning the flag "on" if required.

(fwiw. I don't think there will ever be a good point in time to do the change. The longer we keep it "on" by defa

[2017-02-16 10:57] ktoso commented on #22333
For incorporating Kryo support we should collaborate with the best integration out there which is https://github.com/romix/akka-kryo-serialization I think.

It's both used a lot, and the maintaining people have been in touch with us once in a while,
I think we could use a lot of the work already made there.

[2017-02-16 10:59] patriknw commented on #22333
I'm positive to changing the default, but we need to provide that seamless alternative. Kryo is probably best, but still some work to incorporate it. Not sure if we "have time" for doing it for 2.5.0. Let's think about it.

[2017-02-16 11:10] ktoso commented on #15571
With Akka Streams now we could provide a "journal writer sink (for given persistence id)" which would help here a bit too.

[2017-02-16 11:13] ktoso commented on #22310
It's good to have issues for them so we can track in case a bug was introduced etc
Thanks for the cleanup!

[2017-02-16 11:13] #22310 closed

[2017-02-16 13:00] ortigali commented on #18718
I want to try it
@drewhk could you share your work?

[2017-02-16 13:18] jrudolph commented on #22277
Hmm, I understand that this would make sense for 2.5.1, i.e. when 2.5 and 2.4 really had diverged.

I don't think it makes sense, though, to include any changes into the 2.5.0 release announcement that have already been announced before on one of the 2.4 announcements. Or in other words, why do we replicate changes from 2.4.16 on (or whatever you suggest) in the 2.5.0 release notes but not older o

[2017-02-16 13:19] ktoso commented on #22277
No strong feelings here, let's check with @patriknw

[2017-02-16 13:45] jpuerto commented on #22330
A patch has been created. This time the patch has been tested and it is working fine in our IPv6 only server. I have included also test specs for the change.

[2017-02-16 13:46] ktoso commented on #22330
Thanks, marked as in progress

[2017-02-16 14:45] #22187 closed

[2017-02-16 16:09] jrudolph commented on #22306
Fixed by #22317 and #22311.

[2017-02-16 16:09] #22306 closed

[2017-02-16 18:35] jnmoyne commented on #19661
Again, if there are limitations to what the value for tick-duration should be, then they should be documented. The only two references to tick-duration I can find in the doc are:

The following sentence:

And the configuration documentation showing the default as being 10ms (also explains again that tick duration influences the resolution of the timers)

And nothing else... So how is someone suppo

[2017-02-16 21:52] ktoso commented on #19661
Let's keep this calm please.

I did a PR improving documentation explaining the limitation you were hit by, please review it if you have constructive feedback.

I do not blame anyone for anything, I do however say that using the Akka scheduler for long-term scheduling is a bad idea, as simple as that.

If you indeed want to schedule 8 months ahead, you need:
a) need additional infrastructure to re

[2017-02-16 23:24] jnmoyne commented on #19661
I apologize if my posts sounded like I was not calm about this or somehow angry at you or the software, I can assure you that's not the case and I totally understand were you are coming from because I am in the same position as you, except one layer above: my expectation was that the users of my software would only want to schedule things a few days (maybe a few weeks) in the future and as it turn

[2017-02-16 23:36] eed3si9n commented on #21596
sbt-assembly 0.14.4 is released with the fix - https://github.com/sbt/sbt-assembly/releases/tag/v0.14.4

[2017-02-16 23:37] ktoso commented on #21596
Awesome, thanks a lot Eugene!

--
Konrad `ktoso` Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>

On 17 February 2017 at 00:36:37, eugene yokota (notifications@github.com)
wrote:

sbt-assembly 0.14.4 is released with the fix -
https://github.com/sbt/sbt-assembly/releases/tag/v0.14.4

—
You are receiving this because you modified the open/close state.
Reply to this email directly,

[2017-02-16 23:44] eed3si9n commented on #21596
I just did the release part. @karol-brejna-i and @pomadchin did the actual solving and fixing.

[2017-02-17 00:12] jnmoyne commented on #19661
Just wanted to add I totally understand the salient point here which is that the scheduler is not designed for proper long term scheduling, and that I think you guys are doing a great job of answering and reacting to the questions and comments of any random noob like me! :)

[2017-02-17 11:18] drewhk opened #22342 "Persistence-query depends on testkit JARs not in test scope"
see http://search.maven.org/#artifactdetails|com.typesafe.akka|akka-persistence-query-experimental_2.11|2.4.17|jar

The dependencies look like this:

[code]

But these JARs should be in test scope instead.

[2017-02-17 15:41] #13751 closed

[2017-02-17 15:56] johanandren commented on #18262
I'll try to run with the monix FJP next week.

[2017-02-17 16:07] #22208 closed

[2017-02-17 18:33] andreaTP commented on #18262
My 2 cents here are that, since you are testing on an actor/CPU ratio around 1 you are hitting scenarios where L3 cache takes priority .... that is normally not the case if you are programming actor model wise

[2017-02-17 19:24] sumnulu commented on #22324
Yes I have. It is logging the markers but not the exception. If I use ActorLogging logback is logging the exception without any problem.

The problem is I think the MarkerLoggingAdapter does not using the cause parameter in the error method's body and just ignoring it. (see my previous comment's first snippet (it is the source code of akka) )

My logsback.xml pattern is like this one:
`<pattern>%d

[2017-02-18 08:43] patriknw commented on #22327
Two more questions, and the it should be possible for us to reproduce. What akka version? Are you using "remember entities" for all those entities?

[2017-02-18 17:02] hepin1989 commented on #17895
@kukido Ping:),will you take this up again?

[2017-02-18 17:59] johanandren commented on #18262
Note that the test benches contain both less, 1:1 and more actors than cores.

[2017-02-19 04:03] abesanderson commented on #22327
This is akka 2.5-M1, and there is one cluster shard region with remember entities on, the others should just be sending data about shard home.

[2017-02-20 10:00] patriknw commented on #22324
@sumnulu I agree, this is an oversight. It doesn't pass on the `throwable` parameter. Would you be able to create a Pull Request fixing this issue?

[2017-02-20 10:12] sumnulu commented on #22324
@patriknw ok, I will.

[2017-02-20 10:37] patriknw commented on #22324
thanks

[2017-02-20 10:47] patriknw commented on #18718
@ortigali Thanks for offering your help here. We know you are a great contributor, but this is task is actually something the core Akka team has to do. It's very difficult and it will require plenty of review time from the core team anyway, which we currently don't have. I hope you can find some other interesting issue to work on.

[2017-02-20 10:50] jrudolph opened #22345 "Rethink HostnameVerifier support in TLS"
ssl-config allows to specify a custom HostnameVerifier which is used to verify server certificates. In #21854/#22320 support for that feature was removed from akka-stream.

Several problems come with that:

 * custom HostnameVerifiers defined in ssl-config are now just ignored
 * public akka-stream TLS API was changed in a backwards-incompatible way

I don't really worry about the backwards incomp

[2017-02-20 10:55] patriknw commented on #22277
I have done it in the opposite way. The ticket is marked with 2.4.16, and the corresponding PR for master with 2.5.0.

I agree that it makes more sense to start doing this after 2.5.0, but I don't think it hurts.

[2017-02-20 11:05] #22305 closed

[2017-02-20 11:21] patriknw commented on #22171
I think we should wait with this one. It will anyway be difficult to mix this mode with nodes running without it, so we can introduce it in a later version and say that all nodes must use the same setting of this.

[2017-02-20 13:15] ortigali commented on #22170
May I take this one?

[2017-02-20 13:21] patriknw commented on #22327
@abesanderson I have simulated the problem in a test.

The way it works is that the identifiers of the active entities are stored in 5 `ORSet` per shard (simple hashing across 5 different). The size of the entity identifiers matters, I used `UUID.randomUUID` (36 character string). Smaller is better.

Increasing the frame-size to 256 KiB should be alright. That is also what we use as default in Art

[2017-02-20 13:25] 2m commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4661/consoleFull

[2017-02-20 13:51] johanandren commented on #22218
Yay, merged!

[2017-02-20 13:51] #22218 closed

[2017-02-20 13:56] #21250 closed

[2017-02-20 14:12] patriknw commented on #22198
@johanandren  This is what akka-contrib contains:

* CircuitBreakerProxy
* JavaLogging, JavaLogger, JavaLoggingAdapter
* PeekMailbox ("Mailbox with Explicit Acknowledgement")
* Aggregator
* ReceivePipeline
* ReliableProxy
* TimerBasedThrottler

Some of this looks pretty good. I'd fine with just removing ReliableProxy and PeekMailbox, but the other things should probably stay (or be deprecated). WD

[2017-02-20 14:52] johanandren commented on #22198
+1 on `PeekMailbox`, not sure about `ReliableProxy` isn't that useful for cases when you want less risk of loosing messages but don't want the ops overhead of introducing persistence?

I'd vote for deprecating `Aggregator` and `ReceivePipeline` doesn't look very useful to me and would probably be better as samples to start from than part of the library.

Is there maybe some overlap with the contri

[2017-02-20 14:57] patriknw commented on #22198
`ReliableProxy` was originally a quick example of how to write a contrib, I think. Don't know of anyone using it. It relies on remote deployment and doesn't have real serialization. We have been fixing its tests over and over again. In summary, not my favorite.

[2017-02-20 15:00] johanandren commented on #22198
Alright, throw it out then! :)

[2017-02-20 15:26] patriknw commented on #22198
Looking at `CircuitBreakerProxy`. I can't see when it adds value compared to using the ordinary `CircuitBreaker` together with `ask`. Target actor must still reply to sender, since `ask` is used under the hood. I might be missing something?

[2017-02-20 15:41] patriknw commented on #22198
`TimerBasedThrottler` can replaced by something like
[code]

[2017-02-20 16:05] patriknw commented on #22170
@ortigali  Yes, that would be great, but it must be done after https://github.com/akka/akka/pull/22331 to avoid merge conflicts.

[2017-02-20 16:14] patriknw commented on #21491
Done. `2.3.x` closed.
We still had `2.3.16` open, even though it has been released. Closed now. The docs page is not updated, will fix that also.

[2017-02-20 16:43] johanandren commented on #18262
Numbers for 2.12/Java 8 FJP vs the monix port:

[code]

[2017-02-20 17:20] abesanderson commented on #22327
Thanks for taking a look at this.  I took another look, as the 40k number did seem high, it turns out that it was in fact 40k per region, so closer to 1.5k entities per shard.  I'll try with the recommended settings and test again.

[2017-02-20 17:47] patriknw commented on #22327
Good. I think we should be able manage something like 10k entities per shard. What kind of identifiers are you using? Keep us updated with the new test results.

[2017-02-20 17:57] patriknw commented on #18262
Thanks. What jmh settings do you use when running this? The `±` is very high.

[2017-02-20 18:02] johanandren commented on #18262
Just 2 iterations of warm up (it seemed to stabilize after that), and just 5 iterations for the actual bench so it wouldn't take all my day. I can try with a longer bench and more warmup (but when I was doing that initially it didn't change the scores, just the time I had to wait for it)

[2017-02-20 18:54] patriknw commented on #18262
You can remove the throughput=1 case to reduce number of combinations
perhaps change throughput=10 to 20 to to have more spread of that parameter.

Otherwise I don't think you have to run it. The results are clear. More important is to describe how to run it, so that some else can perhaps investigate the real issue.

[2017-02-20 18:56] johanandren commented on #18262
Just re-ran with warmup 10 and 10 iterations, to make sure I wasn't misremembering, the error goes down quite a bit but the score stays pretty much the same.

[2017-02-20 18:57] patriknw commented on #18262
How pluggable is the implementation? Can we ship Akka 2.5.0 as is with a note that it's possible to use the monix FJP for Scala 2.12, or shall we include our own embedded copy for 2.12?

[2017-02-20 19:06] johanandren commented on #18262
Wasn't that hard, 10-20 lines of glue (implementing a `ExecutorServiceConfigurator`), but probably needs more research to be entirely correct with the thread factory which I just duct-taped onto it.

Yeah, maybe a note would be enough, I'm very unsure how many Akka users the difference between 5 mil msgs/s and 13 mil msgs/s matters for even if it is quite a significant perf. regression. Lets see w

[2017-02-21 08:03] johanandren commented on #22045
Job configured but failing with "java.lang.IllegalArgumentException: pre-creation serialization check failed at" in some tests, something is not serializable with 2.12 that was with 2.11?

[2017-02-21 08:26] #21965 closed

[2017-02-21 09:21] patriknw opened #22350 "delta-CRDT for ORSet friends"
The remaining CRDTs that are building on top of `ORSet`.

* `ORMap`
* `LWWMap`
* `PNCounterMap`
* `ORMultiMap`

[2017-02-21 09:22] patriknw commented on #22350
@gosubpl I created a separate ticket for these

[2017-02-21 09:43] gosubpl commented on #22350
@patriknw thanks! I am all over it like a rash (what a nice English idiom).

[2017-02-21 10:26] notxcain opened #22352 "Memory leak when running a stream defined with recursion"
Here is a simple reproducer that hits OOM because of growing `List[Attributes.Name]`
[code]

[2017-02-21 10:48] patriknw commented on #22308
@ortigali would you be interested in fixing this ticket also, since you did such a great job with https://github.com/akka/akka/pull/22258

[2017-02-21 11:05] 2m opened #22353 "Failed: akka.cluster.MBeanSpec"
Spec needed an update after #22343

Fix commencing.

[2017-02-21 11:07] 2m commented on #22353
This failed all the last night nightlies as the test is a multi-jvm one.

[2017-02-21 11:21] ortigali commented on #22308
I am glad to take it

[2017-02-21 11:34] patriknw commented on #22308
thanks

[2017-02-21 12:23] #22342 closed

[2017-02-21 12:47] jrudolph commented on #22352
Not sure if that's actually a bug. You create an ever increasing stream graph:

At first it's just these elements:

     Source
    .tick(100.millis, 0.millis, ())
    .take(1)
    .flatMapConcat(_ => rec)

after one tick, at least the flatMapConcat still needs to be alive (it has received complete from upstream but still needs to wait for elements from the inner source), so the graph basically lo

[2017-02-21 12:50] notxcain commented on #22352
@jrudolph I see, does this graph has the same unboundness problem?
[code]

[2017-02-21 12:50] jrudolph commented on #22352
Yes, I think so. The `Concat` stage is similar to `flatMapConcat` in that regard.

[2017-02-21 12:52] notxcain commented on #22352
So how do I implement this semantics? Given that `rec` may have parameters that depends on previous stream?

[2017-02-21 12:53] jrudolph commented on #22352
I think you need to show more of what you want to do. The stream you gave so far just makes no sense (it will never emit anything).

[2017-02-21 12:53] notxcain commented on #22352
I know, Patrik asked for minimal reproducer, so I removed anything domain specific.

[2017-02-21 12:55] notxcain commented on #22352
The original is [here](https://github.com/notxcain/aecor/pull/16/files#diff-04b1679960ac0abb561059c4bf62a79cR72)

[2017-02-21 13:01] jrudolph commented on #22352
I think we would still need a reproducer to help you with that, just one that does something useful ;)

I guess the main question is if and why you need to run two or more streams at the same time. If you say that the new stream "depends on the previous stream", what does that mean exactly? Could you just run that stream to completion before starting the new stream? That would fix it.

If you have

[2017-02-21 13:06] #21996 closed

[2017-02-21 13:07] notxcain commented on #22352
@jrudolph here is a source that scans a table
[code]

[2017-02-21 13:17] #21725 closed

[2017-02-21 13:36] johanandren opened #22358 "GraphInterpreter leak when a submaterialized flow throws during materialization"
Found while working on completing #21363

When the stage subFusingMaterializer is used and the materialized stream throws an exception during materialization this will cause the `ActorGraphInterpreter` to leak, as the stage is added to `newShells` but never completes initialization.

Adding to that list happens in `ActorGraphInterpreter.registerShell` which is passed to the materializer as the `su

[2017-02-21 13:46] #22113 closed

[2017-02-21 13:49] johanandren opened #22359 "Source that flattens a Future[Source] but keeps the materialized value"
As described in the original PR #21363

[2017-02-21 14:48] patriknw commented on #21736
I have backported it, because something else was depending on it

[2017-02-21 14:52] #21572 closed

[2017-02-21 20:01] michael-smith opened #22363 "Fix akka-osgi, akka-slf4j, and akka-stream Import-Package manifest header version ranges"
In akka-osgi v2.5-M1, the Import-Package manifest header has imports for both akka-actor and akka-event which specify a range of `[2.4,2.5)` which essentially excludes the use of this library with any 2.5 version of akka-actor akka-event.

[2017-02-21 20:10] michael-smith commented on #22363
I just noticed this problem exists in other bundles as well.
`akka-slf4j` and `akka-stream` v2.5-M1 both import a number of akka packages from other bundles where the range is `[2.4,2.5)` so they will have the same problem.

[2017-02-21 21:21] Andrei-Pozolotin commented on #22113
thank you

[2017-02-22 09:36] patriknw opened #22365 "failed: ActorRefSourceSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8453

[code]

[2017-02-22 09:47] 2m commented on #18262
If there is some glue code needed, then I think we should package it up ourselves. So that the same code does not end up being copied over and over between projects. Maybe even writing it in Java so we do not have to republish it for different Scala versions.

[2017-02-22 09:54] 2m opened #22366 "Failed: akka.contrib.pattern.ReliableProxy"
Got a bunch of failures this night:

https://jenkins.akka.io:8498/job/akka-nightly/4168/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4665/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node/1965/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly/4169/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/634/consoleFull

[code]

[2017-02-22 09:55] 2m commented on #22124
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4666/consoleFull

[2017-02-22 09:56] 2m commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4667/consoleFull

[2017-02-22 10:06] jrudolph commented on #22352
Maybe something like:

[code]

[2017-02-22 10:13] miciek commented on #20118
@patriknw @drewhk @ktoso We need this function. I can do it.

[2017-02-22 10:49] patriknw commented on #22366
This is related to https://github.com/akka/akka/pull/22335 but I don't know what is wrong yet.

[2017-02-22 11:04] #22052 closed

[2017-02-22 11:32] julianhowarth opened #22367 "streams - Framing.lengthField() creates infinite loop if received length < 0"
We discovered this in our production environment when an unknown external server hit our endpoint with an "unfortunate packet" and we saw massive CPU spikes. The following code shows the issue:
[code]
I think the correct behaviour is that a `FramingException` should result from a packet where the indicated length is negative and a fix for that should be straightfoward. I'm happy to produce a PR fo

[2017-02-22 13:32] patriknw commented on #22363
Thanks for reporting @michael-smith.
What is the purpose those ranges with the family of akka bundles. One must use the exact same patch version of all akka bundles anyway.

[2017-02-22 14:21] #22188 closed

[2017-02-22 14:43] patriknw commented on #22082
strange, I'll run it in a debug repeat job

[2017-02-22 14:52] patriknw commented on #22170
@ortigali The other PR has been merged now

[2017-02-22 14:56] hseeberger opened #22372 "Rename PersistentActor.receiveRecover to receiveEvent"
`receiveRecover` implies to be applied during recovery (only), but the method is used for any events. I suggest to rename the method `receiveEvent` and add a deprecated alias with the old name which can later be removed.

[2017-02-22 15:11] patriknw commented on #22372
What do you mean? It's only called by Akka during the recovery.

[2017-02-22 15:39] talpr opened #22373 "[Docs] Java documentation regarding 'ask' referencing Scala API instead of Java API"
The documentation on the Java ['Actors'](http://doc.akka.io/docs/akka/2.4/java/lambda-actors.html#Ask__Send-And-Receive-Future) page uses the Scala version of 'ask' instead of the one in PatternsCS.

[2017-02-22 15:44] jlprat commented on #22373
AFAIR, the one used in the docs is the one for Java before it existed `CompletionStage` (which came in Java 8). So I guess, you could rephrase it as use the newer variant of Patterns (PatternsCS) instead of the old one for the Java examples.

[2017-02-22 16:59] patriknw commented on #22373
It would be great to update docs to use the CS versions. PR welcome.

[2017-02-22 16:59] hseeberger commented on #22372
Once an event has been persisted via `persist` it needs to be applied to the state the exact same way as during recovery. Therefore it's an idiomatic implementation pattern to call `receiveRecover` as the first thing in the event handler given to `persist`.

Here's an example: https://github.com/hseeberger/gabbler/blob/master/gabbler-user/src/main/scala/de/heikoseeberger/gabbler/user/UserRepositor

[2017-02-22 17:09] patriknw commented on #22372
receiveRecover may handle more than just events, such as snapshot and RecoveryCompleted. I'd probably delegate to a applyEvent from both places.

[2017-02-22 17:37] #22366 closed

[2017-02-22 18:28] hseeberger commented on #22372
IMHO RecoveryCompleted is just another event.

[2017-02-23 08:32] talpr commented on #22373
Uhmm, sorry, I must no be fully awake yet... I can't seem to find the "lambda" versions of docs anywhere. Didn't there used to be files named `lambda-actors.rst` etc. for it?

[2017-02-23 09:06] jrudolph commented on #21910
@patriknw I cannot seem to find the ticket where better solutions for the `SPINS` constant were discussed. I found this thread where better configuration options are hinted at:

http://mail.openjdk.java.net/pipermail/core-libs-dev/2015-May/033570.html

[2017-02-23 09:11] 2m commented on #22082
Got another one https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4668/consoleFull

[2017-02-23 09:15] ktoso commented on #22373
On `master` there's no `-lambda` anymore since "lambda is the new default", so the samples in `actors.rst` should use the new things and should be amended.

[2017-02-23 10:18] jypma commented on #17810
We're writing something here: [`CharsetDecoderFlow`](https://github.com/Tradeshift/ts-reaktive/pull/52/files#diff-4f8c6c411bba12d33c3bd606cf4b1ed4R22), in the context of a reactive CSV parser.

[2017-02-23 10:49] jrudolph opened #22376 "Create TLS.apply overloads in javadsl mirroring new low-level creators on the scala-side"
Scala side: https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/scaladsl/TLS.scala#L156

[2017-02-23 11:25] patriknw commented on #22082
Thanks, running it on repeat in https://jenkins.akka.io:8498/job/akka-multi-node-repeat/ with debug logging. No luck reproducing so far.

[2017-02-23 12:12] #22363 closed

[2017-02-23 12:23] patriknw commented on #21910
It was an internal Akka team email. I confirmed by embedding the JDK ForkJoinPool into Akka and compared `SPINS=0` and `SPINS=2048`. The CPU usage looked like this

`SPINS = 0`
![spins0](https://cloud.githubusercontent.com/assets/336161/23258971/0ec86d68-f9cb-11e6-952b-92a2b3852d5d.png)

`SPINS = 2048`
![spins2048](https://cloud.githubusercontent.com/assets/336161/23258974/12744eb4-f9cb-11e6-8e3c-

[2017-02-23 12:43] patriknw commented on #20118
sounds good, @miciek

[2017-02-23 12:46] #21314 closed

[2017-02-23 15:45] patriknw commented on #22372
It would be rather confusing to explain that `receiveEvent` also has to handle snapshots. There are many nice DSLs that can be built on top of the raw PersistentActor API, e.g. [Lagom PersistentEntity](http://www.lagomframework.com/documentation/1.3.x/scala/PersistentEntity.html#Full-Example).

In your example I would put it into the state.

[code]

In practice we can't even add a new method, beca

[2017-02-23 15:49] #22198 closed

[2017-02-23 15:55] patriknw commented on #22316
It's a valid point that this is not a very good API design. However, moving things around will be more annoying than the value it adds, since we will not be able to create a consistent API convention for all things after the fact. I'm moving this to Akka 3.0.

[2017-02-23 16:15] #22330 closed

[2017-02-23 16:58] patriknw commented on #17895
@hepin1989 @2beaucoup @kukido I looked closer at the logging with many args. We actually already have support for this, but it's not documented. You can use the method with one arg and pass in an array there, and it will be unwrapped into args. We have a test for it here: https://github.com/akka/akka/blob/master/akka-actor-tests/src/test/java/akka/event/LoggingAdapterTest.java#L64-L72

I'll update

[2017-02-23 18:45] hseeberger commented on #22372
Alright then ;-)

[2017-02-23 18:45] #22372 closed

[2017-02-23 20:33] jacobtardieu opened #22385 "Add support for skipping too long lines in Framing.delimiter"
In Akka Stream, the `Framing` object allows to split a stream (e.g. a `FileIO`) in chunks.
More specifically, the `Framing.delimiter` method splits the stream when encountering a given _delimiter_.
[code]

I've been using it to parse the lines of a file using the `\n` delimiter.
When a line is longer than the _maximumFrameLength_ which is passed as a parameter, the Flow fails the Stream.

It means

[2017-02-23 20:59] johanandren commented on #22332
The can of worms I just opened up in this ticket: `Deploy` contains `com.typesafe.Config`, which is also serialized with class name instead of manifest separately in `DaemonMsgCreateSerializer` so if I add a new proto serializer for it, that one starts to fail. Additionally there is a `RouterConfig` field, so all concrete subtypes of that (I make it ~20). :/

[2017-02-24 06:48] patriknw commented on #17895
It was actually documented in reference docs, but I have improved the API docs in PR https://github.com/akka/akka/pull/22386

[2017-02-24 06:52] patriknw opened #22387 "Improve performance and design of the materializer"
Materialization speed is slow and that becomes a bottleneck for short lived streams.

[2017-02-24 07:24] hepin1989 commented on #22387
I currently is want to make use of akka-stream's Source as a value holder,eg,Reactor's Mono,but I think that may be slow,so have not start yet.

My senario is using akka stream to produce a graphql's query (maybe subscription in the future).

Looking forward to this.

[2017-02-24 07:50] patriknw commented on #22186
This is breaking the Artery perf plots, so I'm fixing it now.

[2017-02-24 08:22] patriknw commented on #22332
Yeah. I see no other option than biting the bullet.

There are many `RouterConfig` but I think they are very similar and not very difficult. One thing that can't be serialized is the `supervisorStrategy`, but I can't see that it will be used on the other side. It's used by the `RoutedActorCell` on the parent side. We can use default `Pool.defaultSupervisorStrategy`.

If we use the full class name

[2017-02-24 08:25] johanandren opened #22389 "Invalid ranges in ByteStringSpec"
When run on 2.12.

See failure here
https://jenkins.akka.io:8498/job/akka-nightly-2.12/129/consoleFull

Description of why:
https://github.com/scalatest/scalatest/issues/992

[2017-02-24 08:31] johanandren commented on #22389
Ok, actual error is `invalid bounds: low=1, high=0` just that it gets hidden by the failure to get the class name of `org.scalacheck.Gen$Choose$IllegalBoundsError`

[2017-02-24 08:56] johanandren commented on #22389
Scalacheck became more strict and will fail if we try to generate ranges that goes the wrong way, so `low = 1, high = 0` etc. When it fails Scalatest tries to print the classname which then throws the exception mentioned in the Scalatest ticket.

[2017-02-24 09:27] johanandren commented on #22389
I think I should backport it also, since we _do_ release 2.4 for 2.12.

[2017-02-24 09:30] #17895 closed

[2017-02-24 09:33] patriknw commented on #22327
I changed the defaults of `max-delta-elements` and added note in documentation. I'm closing this ticket now, but I'm still interested in the results of your testing. Please reopen or create a new issue if you find something new.

[2017-02-24 09:33] #22327 closed

[2017-02-24 09:34] #16197 closed

[2017-02-24 09:38] #22170 closed

[2017-02-24 10:22] patriknw opened #22393 "use CompletionStage instead of Future in FactorialBackend.java"
probably more places

[2017-02-24 10:23] #22308 closed

[2017-02-24 10:25] #22186 closed

[2017-02-24 11:20] #21170 closed

[2017-02-24 12:00] 2m opened #22394 "Failed: CompressionIntegrationSpec"
This spec failed once this night. Looks like even after #22318 we get the same failure.

[code]

https://jenkins.akka.io:8498/job/akka-release-2.4/107/consoleFull

[2017-02-24 14:51] haggy opened #22395 "[cluster-sharding] Don't black-hole message if entity ID or shard ID extractor is undefined for message type"
https://github.com/akka/akka/blob/master/akka-cluster-sharding/src/main/scala/akka/cluster/sharding/ShardRegion.scala#L445

In the code above, the message sent to the shard region will simply be dropped with no indication of what the issue is if a shard/entity ID extractor is not defined for the message type. This makes it extremely hard to debug what's going on if your messages don't seem to be g

[2017-02-25 09:18] patriknw commented on #22395
Sounds like a good suggestion. Please PR. No need for config. Log at warning level would be good.

[2017-02-25 15:16] richard-imaoka commented on #20873
Hi sorry for little being side tracked .. can we assume:

* `deferAsync` can be used with `persist`
* `deferAsync` can be used with `persistAsync` too

however,

* Using `deferAsync`,  with `persist` **AND** `persistAsync` doesn't make sense

is that correct or am I just wrong??

## why ?

The difference between `persist` and `persistAsync` is that,

* `persist` ["*stash*"es](https://github.com/ak

[2017-02-25 15:26] richard-imaoka commented on #22233
If @rrodseth is busy and cannot update the doc, can I do that on behalf?
Otherwise, if @rrodseth can actually do it, of course please do and I would like to see it ! 😃

[2017-02-25 16:16] rrodseth commented on #22233
Please go ahead. One of these days I should learn the process, but I tend to be behind schedule on the day job :)

[2017-02-26 12:09] mmilewski opened #22397 "How to multi-thread publish to Source.queue with backpressure?"
Hi

I have a case where I want to use an akka stream with backpressure and insert messages to the stream from multiple threads.

Here is the code to explain better
[code]
What I get when I execute the code above is
[code]
I checked with the source code of `Queue` that this is the expected behaviour https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/scaladsl/Queue.scala

[2017-02-27 08:17] johanandren commented on #22389
Another one of these in #22400

[2017-02-27 09:01] #22389 closed

[2017-02-27 09:55] jrudolph commented on #22345
Not really fixed, yet.

[2017-02-27 10:00] jrudolph commented on #22352
I'm closing this for now. I don't think this is a bug or problem in Akka. Still, it's an interesting case, so feel free to continue discussing it here on our other channels.

[2017-02-27 10:00] #22352 closed

[2017-02-27 10:04] notxcain commented on #22352
Sure, thanks!

[2017-02-27 10:08] johanandren commented on #22199
The only reason I can think of that would cause this is that another test got the same port and used it first. I'll close this for now, not much to do here I think, closing.

[2017-02-27 10:08] #22199 closed

[2017-02-27 11:31] 2m commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4679/consoleFull

[2017-02-27 11:53] jrudolph commented on #22376
Fixed by #22377.

[2017-02-27 11:53] #22376 closed

[2017-02-27 12:48] johanandren commented on #22397
Hi @mmilewski,

The issue tracker is for bugs and new features, and while you do mention that you think it may be a good example for the docs I still think this is more of a question. For questions please use the mailing list https://groups.google.com/forum/#!forum/akka-user or the gitter channel https://gitter.im/akka/akka , thanks!

[2017-02-27 12:48] #22397 closed

[2017-02-27 13:40] haggy commented on #22395
@patriknw https://github.com/akka/akka/pull/22401
I need to sign the CLA since this is my first contribution but all tests pass and `validatePullRequest` is all clear.

[2017-02-27 13:59] haggy commented on #22395
CLA signed

[2017-02-27 14:09] jrudolph opened #22402 "Deprecate `Serialization.serialize`"
`Serialization.serialize` can serialize any object using the configured serialization bindings. Problem is that it doesn't serialize the serializer ID. This means that compatible serialization upgrades are harder to do.

It seems there are currently three places this is used:
 * `DaemonMsgCreateSerializer` (@johanandren is working on this)
 * `ConsistentHashing` (used for serializing keys before h

[2017-02-27 14:27] johanandren commented on #22402
For reference the `DaemonMsgCreateSerializer` work is in #22332 and #22224

[2017-02-27 15:50] jrudolph opened #22405 "Deadlock detection for InputStreamSink / OutputStreamSource"
It's super easy to deadlock yourself with `InputStreamSink` (same for OutputStreamSource) when you run some code that uses an InputStreamSink in the same context as the stream that feeds the InputStreamSink. See an example of this in https://github.com/akka/akka-http/issues/202 (see similar for OutputStreamSource: https://github.com/akka/akka-http/issues/872).

We might be able to detect this situ

[2017-02-27 16:01] jrudolph commented on #22405
It seems we might not be able to get at the context. In that case, we should make sure to document those stages better to never (!!!) run code that blocks on `InputStream.read` or `OutputStream.write` from inside the streaming infrastructure.

[2017-02-27 17:31] michael-smith commented on #22363
Sorry for the delay.. to answer your question, the purpose of the ranges tells the OSGi framework what version range of library is required for this bundle.  So by excluding anything equal to or above 2.5, the OSGi container is unable to find a matching bundle even when the 2.5-M1 bundles are loaded into the container.

[2017-02-27 19:45] jgordijn commented on #22402
I am using the `Serialization.serialize`. The object I'm serializing (`ORMap`) is encapsulated in a domain object. When the domain object is serialized it is serialized with the manifest and serialization id of my custom serializer. I "know" the `Array[Byte]` contains an `ORMap` which was serialized using `Serialization.serialize`. Although I can imagine that encoding the SerializerId and Manifest

[2017-02-27 22:49] Rattenkrieg opened #22406 "GroupedWithin pushes empty seq when stopped immediately after start"
Bug was found and fixed in akka.net akkadotnet/akka.net#2528 but was originated from jvm akka and cause is still there. Contributing guidelines requires ticket to be created for each pull request so here is one.

[2017-02-27 23:30] kkasravi opened #22409 "ModuleExtractor is incorrect"
ModuleExtractor (in GraphApply.scala.template) needs to match on graph.module not graph

[2017-02-28 15:01] #22395 closed

[2017-02-28 16:46] fhalde opened #22412 "Akka streams: Connecting generic flow shapes"
Hi. I have a requirement that makes use of akka streams API.

Basically rather than having typed shapes such as `Source[Int]` `Flow[Int, Int, _]` `Sink.foreach[Int]`, I wanted to created their untyped counterparts.

This is because I have to write a function that takes a source flow and sink of generic type (we are guaranteeing type safety at a higher level)

I tried the following but it resulted

[2017-02-28 18:16] johanandren opened #22413 "Java API ActorContext is missing getParent"
It has `getChildren` so for consistency it should also have a getter for parent.

[2017-02-28 18:51] #20118 closed

[2017-02-28 18:56] johanandren commented on #22412
Hi @fhalde

Please use the gitter channel (https://gitter.im/akka/akka) or the mailing list (https://groups.google.com/forum/#!forum/akka-user) for questions and only use the issue tracker for bugs and features, thanks!

[2017-02-28 18:56] #22412 closed

[2017-02-28 21:25] moatra opened #22416 "Stream.delay can leave some elements in the buffer indefinitely"
There's a bug in `akka.stream.impl.fusing.Delay` with delay `d`:
1. A group of elements `[A, B]` arrive essentially at the same time
2. Some time later, where `elapsed < d`, another message `C` arrives
3. after `elapsed >= d`, the `A` and `B`  are rapidly pulled downstream
4. No timer is ever scheduled again for `C`.

If no further elements arrive to the delay op, `C` is perpetually stuck in the b

[2017-03-01 09:35] jrudolph commented on #22405
Actually, I can check whether we run on streaming infrastructure by checking `GraphInterpreter.currentInterpreter` which contains the current interpreter instance in a `ThreadLocal`.

What I found out looking at akka/akka-http#202 again was that it wasn't the interpreter of the `InputStreamSink` but some other `ActorGraphInterpreter` we were blocking. However, this was still enough to deadlock the

[2017-03-01 10:27] jrudolph commented on #22402
I see. Couldn't we have to different methods?

 * One will frame the data with serializer ID and manifest and return a ByteString directly
 * Another one, that returns such a `SerializationResult` for cases where the serialization metadata is to be put somewhere else

[2017-03-01 10:47] johanandren commented on #22402
Isn't avoiding the allocation of one additional object for every serialized object the reason why it is like it is right now?

[2017-03-01 10:56] jrudolph commented on #22402
I doesn't look as if any of those APIs would be optimized for little allocations.

[2017-03-01 12:41] johanandren commented on #22402
Ah, good point, I was thinking more of the usage where the values are put into protobuf messages which is very imperative, otoh there is quite a bit of array copying going on there, so maybe it's  not very relevant there either.

[2017-03-01 16:15] marcin-rzeznicki opened #22420 "A potentially useful akka-stream stage for time-window processing"
I couldn't find any existing stage to accomplish simple time-window processing where data is aggregated for predefined amount of time and the computed aggregate is emitted once per this time. While `conflateWithSeed` fits the "aggregation" part of processing very nicely, I couldn't find any element that could steer the back-pressure to pull the aggregate once in a while and push it downstream. `de

[2017-03-01 16:46] manonthegithub opened #22422 "Add mergePreferred to FlowOps trait in streams"
I've seen lack of method in FlowOps merging two flows with MergePreferred GraphStage.
If it will be useful, I can try to implement this.

[2017-03-01 22:42] manonthegithub commented on #22420
You may use conflateWithSeed() and then zip it with Source.tick instead, as in following example:
[code]

[2017-03-02 00:28] maciekciolek commented on #16617
@patriknw I am currently working on exposing those metrics with Akka Streams at akka-contrib. As soon as #22244 is merged I will create PR with CircuitBreakerMetrics. WIP can be checked here: https://github.com/maciekciolek/akka/pull/1/files.

[2017-03-02 09:22] drewhk opened #22423 "Fix low level interpreter tests"
Since the `GraphAssembly` class is gone, the low-level interpreter tests need to be changed to create the interpreter the new way, more directly (i.e. replicating the work that the `GraphAssembly` did and remove`attachXstreamBoundary` calls and injecting the boundary stages manually in to the relevant arrays).

The same dance should be repeated for IteratorInterpreter, which currently compiles, bu

[2017-03-02 09:24] drewhk opened #22424 "Make inputBuffer attributes work again"
This needs a change in the GraphStagePhase to use these attributes when creating the input boundary stages. Probably new arguments to the Phase callbacks should be added so that it passes the effective Attributes to wiring callbacks, not just the "logic".

[2017-03-02 09:26] drewhk opened #22425 "Implement subfusing"
Currently subfusing is not implemented. To make it work, the following must be done:

 - [x] the SubFusingMaterializer should remap the default phase (but *not* the GraphStagePhase) to a modified phase
 -  [x] the GraphStagePhase must be modified to take an additional Option with the subfuser. When present it should use the subfuser instead of creating an actor

[2017-03-02 09:27] drewhk opened #22426 "Fix actor creation to be the same (or close) to the old one"
When the GraphStagePhase creates an actor it currently uses meaningless names, unlike the old one. This should be fixed to be the same as the old (or better, or at least close to it). I am not sure what modifications are needed there, so please investigate.

[2017-03-02 09:30] drewhk opened #22427 "Use val's on the traversalBuilder methods of AtomicModules where possible"
Currently I used `defs` in the implementations of AtomicModules to return a traversalBuilder. Since these classes are immutable, there is no reason to recreate these instances. I think there were some circular dependencies that I had to work around, hence the `defs`. Hopefully at least some of these cases can be fixed.

[2017-03-02 09:32] drewhk opened #22428 "Make dispatchers and async work again"
Currently the `.async` method is not working as it is intended, as it just adds an Async attribute. To make it work again the following needs to be done:

 - The Async attribute deprecated
 - document in migration guide that async attribute now is not added, nor it has any effect anymore. This is a breaking change, but likely does not affect anyone (we can still discuss what do do here)
 - change

[2017-03-02 09:34] drewhk opened #22429 "Review the materializer's and the GraphStagePhase's uses of arrays (ArrayList, ArrayDeque, etc)"
For simplicity I just made this fixed size, but these will fail on larger graphs. These have to be fixed by resizing wherever/whenever necessary.

[2017-03-02 09:35] drewhk opened #22430 "Implement missing Phases (most likely only TLS)"
There are some special cased modules lying around (check the old `ActorMaterializerImpl` for those). Most likely only TLS and maybe `DirectProcessor`. Create phases for these and add default mappings for them in `PhasedFusingActorMaterializer`.

[2017-03-02 09:36] drewhk opened #22431 "Deprecate the auto-fusing configuration"
Everything is fused now by default, i.e. `auto-fusing=off` does no longer work. This needs to be documented and mentioned in migration guide.

[2017-03-02 09:38] drewhk opened #22432 "Harden layout classes error handling"
There are some cases where better error reporting might be needed. This is most likely affecting the GraphDSL where someone attempts to miswire things (not wire a port, or try to wire a port twice). Please check if proper, meaningful errors are reported, and fix if necessary.

[2017-03-02 09:40] drewhk opened #22433 "Restore debug statements in `ActorGraphInterpreter` and `GraphInterpreter`"
Some internal debug messages have been changed, or disabled, because they relied on the existence of `GraphAssembly`, or other things that are now gone due to refactorings. Investigate what changes must be done to restore these debug statements (or have something similar).

Error reporting in `GraphInterpreter` should also be fixed, when a user exception is encountered and logged. Since the origin

[2017-03-02 09:43] drewhk opened #22434 "Investigate what can be salvaged from FusingSpec"
This test used to test the separate fusing step. I am not sure if these tests are useful anymore, but someone should look at them at least and port them if useful.

[2017-03-02 09:49] drewhk opened #22435 "Make FlowSpec work again"
It depends on internals in a few cases, hence it is not trivial to make it work (tests a broken interpreter).

[2017-03-02 09:51] drewhk opened #22436 "Investigate attributes semantics"
I think there were some changes in how attributes work. These discrepancies should be investigated and decided:

 - if the new approach is better/more consistent. Then this will be a breaking change that needs be mentioned in migration guide
 - if the new approach is wrong/confusing. Then it must be fixed.

[2017-03-02 09:53] drewhk commented on #22431
Also, the `Fusing` object is gone (I don't think it can be ported because of missing types), this must be mentioned in the migration guide.

[2017-03-02 10:02] drewhk opened #22437 "Eliminate `require` calls"
And replace them with throwing relevant exceptions.

[2017-03-02 10:28] drewhk opened #22438 "Use OptionVals where makes sense"
Internally in the layout and materializer to eliminate many small allocations.

[2017-03-02 10:44] joolfe commented on #16153
+1

[2017-03-02 10:51] johanandren opened #22439 "Some Java doc tests not included when testing akka-docs"

[2017-03-02 11:38] #19947 closed

[2017-03-02 11:46] #22439 closed

[2017-03-02 12:38] drewhk commented on #22435
yay, my old friend, let's fix you again (one of the oldest specs around ;) )

[2017-03-02 16:26] ktoso commented on #16153
This ticket was moved, upvoting here won't do anything ;-)
Please use the 👍  icon on the first post of an issue to upvote, instead of posting +1 - thanks :)

[2017-03-02 18:33] rkuhn commented on #22174
Sorry for the delay: I think your current approach will be needed for a bit longer, the standard solution might take a few months to finalise.

[2017-03-03 00:39] manonthegithub opened #22446 "MergePreferred stage can corrupt ordering of elements coming from preferred input"
I've discovered that elements from preferred input in MergePreferred can sometimes come in wrong order, you may need to run it several times to reproduce:
[code]

running example above returns:
`List(1, 3, 2, 4, 5) did not equal List(1, 2, 3, 4, 5)`

[2017-03-03 08:40] Birdflying1005 commented on #19094
I also recreated this error based on akka-http 10.0.3  akka 2.4.16 and scala 2.11.8: The error message is:

ERROR] [03/03/2017 15:51:18.270] [ServiceClusterSystem-akka.actor.default-dispatcher-5] [akka://ServiceClusterSystem/user/StreamSupervisor-4/flow-2-0-unknown-operation] Error in stage [akka.http.impl.engine.client.PoolSlot$SlotProcessor@7e0dc802]: requirement failed: cannot pull port (SubSin

[2017-03-03 09:16] drewhk opened #22447 "Remove inOwnerId and outOwnerId from Connection"
These fields are only used to access the open connections counter array, but it is simpler to just store the counter in the GraphStageLogic instead and remove these fields. This will simplify things quite a bit and might be even somewhat faster.

[2017-03-03 09:25] #22424 closed

[2017-03-03 14:21] ktoso opened #22448 "Rewrite Source.empty to GraphStage"

[2017-03-03 16:29] ktoso commented on #21684
Again https://jenkins.akka.io:8498/job/akka-nightly/4195/testReport/junit/akka.remote.transport/SystemMessageDeliveryNoPassiveRetryGate/Remoting_passive_connections_off_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/

[2017-03-03 22:12] SethTisue opened #22451 "akka-stream uses `Predef.conforms` which is removed in Scala 2.13"
this came up in the Scala 2.13 community build, where akka now fails to compile because we have started actually removing deprecated stuff in 2.13

in akka-stream/src/main/scala/akka/stream/impl/ConstantFun.scala we see:

[code]

this was introduced by @rkuhn in 1500d1f36d18cc3fd5a0240924e32de73575c419; the commit message says "This commit also changes all uses of Predef.identity to use `conforms`

[2017-03-03 22:57] ktoso commented on #22451
It's a sneaky trick to avoid allocations - identity used to allocate a new
function, conforms used a cached one.
Nowadays we have a special object which cached functions for this, so we
can remove the conforms usages. Thanks for opening the ticket Seth, we'll
remove those

--
Konrad Malawski

On 3 March 2017 at 23:12:43, Seth Tisue (notifications@github.com) wrote:

[2017-03-04 11:33] marcin-rzeznicki commented on #22420
@manonthegithub nice trick, I didn't think of that, thank you.
Do you think that the custom stage I'm proposing is needless then? For one think I think it can be used in other scenarios as well - also, it is somehow cleaner to use in this scenario - you do not have to generate and discard some pointless values.

[2017-03-04 13:47] 2beaucoup opened #22452 "Source.combine instance method sould require only one argument"
It is currently a copy of the static `combine` and should either be removed or changed so that it requires a minimum of one argument and adds itself as the first input of the resulting `Source`.

[2017-03-04 13:50] fancellu opened #22453 "Docs problem with Actors and shared mutable state code"
http://doc.akka.io/docs/akka/2.4/general/jmm.html

https://github.com/akka/akka/blob/4a7cd147313404eb8137e56163e54f06c23640d0/akka-docs/rst/general/jmm.rst

``` Future { expensiveCalculation() } onComplete { f => self ! f.value.get }```

won't compile.

onComplete gives a Try

do you mean foreach?

e.g.

```Future { expensiveCalculation() } foreach { value => self ! value }```

[2017-03-04 14:39] SoulSilence commented on #22393
Do you suppose do it only in docs, or to look all usages Future in *.java?

[2017-03-04 14:46] ktoso commented on #22393
Mostly in docs, in our internal classes it does not really matter (conversions come at a cost)

[2017-03-04 14:52] ktoso commented on #22420
I suggest to put this to https://github.com/akka/akka-stream-contrib/ which collects various useful stages like this :) WDYT, could you PR over there @marcin-rzeznicki ?

[2017-03-04 19:30] ktoso commented on #22453
Oh wow, we usually never have in-line code snippets in docs to avoid such an issue (we include actual compiled source files usually), seems you found a bug there. Thanks!

Would you like to submit a fix PR?

[2017-03-04 19:33] fancellu commented on #22453
Sorry, rather busy.

The supplied code should work fine, I guess.

Dino.

On 4 March 2017 at 19:30, ktoso <notifications@github.com> wrote:

[2017-03-04 20:04] jlprat commented on #22453
I can do it 😉

[2017-03-04 20:26] 2beaucoup commented on #21281
This can be closed.

[2017-03-04 20:29] manonthegithub commented on #22420
@marcin-rzeznicki agree with you.

@ktoso Won't it be great to add this logic in existing Delay stage and delay() method of FlowOps as additional parameter?

[2017-03-04 20:36] #21281 closed

[2017-03-04 20:36] ktoso commented on #21281
Thanks for noticing!

[2017-03-04 22:38] gosubpl commented on #22350
I made significant progress on this. Most of the work in recent days was concentrated on the case of delta-delta updates, i.e. where the type of value in the `ORMap` is `DeltaReplicatedData` type itself. In that case it would be beneficial to send only pairs of `(key-delta, value-delta)` but this is a bit tricky and requires resolving some anomalous behaviours. Initial implementation requires remo

[2017-03-05 07:47] patriknw commented on #22350
Perhaps it's easier to implement it for the more specific types, such as `LWWMap` and `PNCounterMap`, `ORMultiMap`?

[2017-03-05 13:46] jlprat opened #22455 "Document how to build docs for Linux"
As a Linux-based developer I want to build the Akka Docs after providing a fix.
Currently, the docs only mention the needed steps to install all needed dependencies for MacOs.
Please provide instructions for Linux.

[2017-03-05 13:46] jlprat commented on #22455
As I went through the process, I can provide a PR with it :smiley:

[2017-03-05 21:22] rotomer opened #22457 "Java API - an abstract actor class for PersistentFsm and AtLeastOnceDelivery traits"
_This issue tracks the request mentioned in the following Akka user list topic - https://groups.google.com/forum/#!topic/akka-user/mJTjpClYjbw_

For the benefit of the Java API users it would be beneficial to add an abstract class that implements the traits PersistentFSM & AtLeastOnceDelivery.

Konrad Malawski mentioned that mixing in the two Scala traits PersistentFSM & AtLeastOnceDelivery should

[2017-03-06 08:59] drewhk opened #22458 "Document internals of the new materializer"

[2017-03-06 09:05] drewhk opened #22459 "Document extension API for the new materializer"

[2017-03-06 09:07] drewhk commented on #22429
see also https://github.com/akka/akka/pull/22264#discussion_r104368750

[2017-03-06 09:34] johanandren opened #22460 "FAILED ActorSelectionSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4684/testReport/junit/akka.actor/ActorSelectionSpec/An_ActorSystem_must_take_actor_incarnation_into_account_when_comparing_actor_references/

[code]

[2017-03-06 09:35] johanandren commented on #20180
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4688/consoleFull

[2017-03-06 09:42] johanandren commented on #21810
Not sure if this one is related to artery, but I see the confusing path:
`akka://StressSpec/remote/akka.tcp/StressSpec@localhost:53579/user/master-node-3/workers/c5` in there, mixing artery and old remoting?

https://jenkins.akka.io:8498/job/akka-nightly/4198/consoleFull

[2017-03-06 09:44] johanandren commented on #22082
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4698/consoleFull

[code]

[2017-03-06 09:46] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-nightly/4202/testReport/junit/akka.remote.transport/SystemMessageDeliveryNoPassiveRetryGate/Remoting_passive_connections_off_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/

[2017-03-06 09:50] patriknw commented on #21810
the first `akka` is just that it's a local path, I think

[2017-03-06 10:23] nadavwr commented on #21693
The MergeHub example in the docs is a publish-subscribe channel. The MergeHub.source() is wired to a BroadcastHub.sink() and is running "hot"—to borrow from Rx parlance.

The materialized sink resulting from the MergeHub is used (together with the source materialized from the BroadcastHub) to form individual subscriptions.

Let's imagine this was used to construct a simple chatroom. A failure betw

[2017-03-06 11:23] marcin-rzeznicki commented on #22420
@ktoso Sure, makes sense - thanks for the advice
@manonthegithub - if you guys agree on this, I can do both if needed

[2017-03-06 13:02] guidomedina opened #22462 "AbstractActor missing variants and naming convention"
There is no combination for `AbstractLoggingActorWithStash` and while at it, I think should be like the following for IDE auto completion's sake:
- Rename `AbstractLoggingActor` to `AbstractActorWithLogging`
- Add `AbstractActorWithLoggingAndStash`
- Add `AbstractActorWithLoggingAndUnlimitedStash`
- Add `AbstractActorWithLoggingAndUnrestrictedStash`

[2017-03-06 13:15] guidomedina commented on #22462
I'm now not to bias towards one convention or the other, maybe `AbstractLoggingActorWith...` isn't too bad.

[2017-03-06 13:19] samidalouche commented on #22446
I can confirm that I also hit the bug, and for some reason, it feels like it is mostly (always?) the second element of the stream that gets delayed.

[2017-03-06 13:52] manonthegithub commented on #22446
I've found place where is the bug, trying to fix now

[2017-03-06 13:59] manonthegithub commented on #22446
it concerns using `final protected def emit[T](out: Outlet[T], elem: T, andThen: Effect)` in onPush with callback where inside callback invoked another emit

[2017-03-06 14:16] #22435 closed

[2017-03-06 14:56] patriknw opened #22463 "Failing tests for new materializer"
* [x] akka.stream.io.TlsSpec
* [x] akka.stream.scaladsl.AttributesSpec
* [x] akka.stream.DslFactoriesConsistencySpec
* [x] akka.stream.scaladsl.SinkSpec
* [x] akka.stream.actor.ActorSubscriberSpec
* [x] akka.stream.io.OutputStreamSourceSpec
* [x] akka.stream.io.FileSourceSpec
* [x] akka.stream.scaladsl.FlowScanAsyncSpec (#22474)
* [x] akka.stream.scaladsl.FlowSectionSpec
* [x] akka.stream.javadsl.

[2017-03-06 19:53] patriknw commented on #22462
Then someone want similar for persistence, fsm, ... hm, the number of combinations will explode.
The `WithLogging` doesn't save much code, since the only thing needed is:

    LoggingAdapter log = Logging.getLogger(getContext().system(), this);

[2017-03-06 20:39] guidomedina commented on #22462
I guess you have a point, I didn't think about it, I only looked at one class and noticed these were missing so I guess there is no point on adding more, closing.

[2017-03-06 20:39] #22462 closed

[2017-03-06 23:55] richard-imaoka commented on #18872
Lemme work on this.

[2017-03-07 05:51] patriknw commented on #18872
Excellent, thanks

[2017-03-07 06:03] patriknw commented on #22462
Thanks

[2017-03-07 09:39] patriknw commented on #22436
Something wrong with attributes as can be seen with failing `FileSinkSpec`. See comment https://github.com/akka/akka/pull/22465#pullrequestreview-25310144

[2017-03-07 11:27] johanandren commented on #22124
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4703/

[2017-03-07 11:27] johanandren commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4706/

[2017-03-07 11:30] #22426 closed

[2017-03-07 12:00] jrudolph commented on #22430
Probably fixed by #22466 (tests did not work yet). Let's keep this open until tests are confirmed to work.

[2017-03-07 12:05] jrudolph commented on #22458
Please also document a bit about the design constraints and how the current solution fits in, where the complexities come from etc.

[2017-03-07 12:06] jrudolph commented on #22427
Will the builders be called more than once when the module is connected to the next?

[2017-03-07 12:25] patriknw commented on #22463
TcpSpec sometimes fails

[2017-03-07 12:26] patriknw commented on #22463
I'll grab akka.stream.DslFactoriesConsistencySpec

[2017-03-07 12:53] jrudolph commented on #22463
I'll take `GraphDSLCompileSpec`.

[2017-03-07 13:33] #22428 closed

[2017-03-07 13:40] drewhk commented on #22430
Taking over this

[2017-03-07 14:11] johanandren commented on #22463
Picking up `akka.stream.scaladsl.UnfoldResourceAsyncSourceSpec` and `akka.stream.scaladsl.UnfoldResourceSourceSpec`

[2017-03-07 14:14] #22448 closed

[2017-03-07 14:16] patriknw commented on #22463
I think `OutputStreamSourceSpec` and `InputStreamSinkSpec` are related to the actor naming, so I'm picking those

[2017-03-07 14:38] #22455 closed

[2017-03-07 16:06] #22423 closed

[2017-03-07 16:30] richard-imaoka commented on #21563
Hi @abesanderson sorry to jump in, but would it still be something you are submitting a PR? If you are busy on something else, I wanted to see if I can pick this up.

[2017-03-07 19:31] abesanderson commented on #21563
@richard-imaoka I started this but never got far enough for a PR, if you had an idea to contribute, please go ahead.  The solution I was pursuing was fairly straightforward, I'm curious to see how you approach it though.

[2017-03-07 20:39] SethTisue commented on #22451
see also #22486

[2017-03-07 21:18] Horusiath opened #22487 "Potential bug when building a Replicator.receiveStatus response"
While working on .NET implementation of distributed data plugin we've hit the bug that probably also affects JVM implementation. Problem lies [here](https://github.com/akka/akka/blob/master/akka-distributed-data/src/main/scala/akka/cluster/ddata/Replicator.scala#L1561).

In case, when there's a chunked gossip to be send, we're relying on assumption that `_.hashCode % totChunks == chunk` will event

[2017-03-07 23:25] richard-imaoka commented on #21563
Sure. I'll need a bit of time to understand how `PersistentFSM` works, but will try to submit a PR.

[2017-03-08 08:19] drewhk commented on #22430
https://github.com/akka/akka/pull/22482 now fixes it properly

[2017-03-08 08:20] drewhk commented on #22458
Yes, agreed. I was thinking on writing up some separate doc, because sprinkling all this information in various scaladoc/code comments will make it hard to understand it.

[2017-03-08 08:21] drewhk commented on #22427
No, but it is called multiple times if you reuse it.

[2017-03-08 08:28] patriknw commented on #22458
I think it should be documented close to the source code so in a scaladoc for the impl package (even though this is not public docs) or in a readme.md  in that directory (perhaps not good to include in jars).

[2017-03-08 08:33] johanandren opened #22488 "exception during message send does not contain exception message"
When  `swallowing exception during message send` is logged the exception message is not included in the log entry.

[code]

[2017-03-08 09:27] drewhk commented on #22458
package is fine

[2017-03-08 09:40] patriknw commented on #22463
Here is a stacktrace of failing `TcpSpec`:
[code]

[2017-03-08 10:38] jrudolph commented on #22463
I'll have a look at `GraphStageLogicSpec`

[2017-03-08 11:14] shivani147 opened #22491 "how to use hystrix with akka ?"
I am using akka http which is returning the Future object, while executing the run method is is not throwing any exception but at later point it is throwing connection refused exception, how to handle this?

[2017-03-08 11:47] patriknw commented on #22463
This is what is remaining

**SinkSpec** related to attributes
**RunnableGraphSpec** related to attributes

**GraphStageLogicSpec**
[code]

**TcpSpec**, [see](https://github.com/akka/akka/issues/22463#issuecomment-284994034)

**GraphMergePreferredSpec** Expected exception java.lang.IllegalArgumentException to be thrown, but java.util.NoSuchElementException was thrown (GraphMergePreferredSpec.scala:

[2017-03-08 11:48] johanandren commented on #22463
"be able to handle Subscriber spec violations without leaking"  in `ActorGraphInterpreterSpec` also

[2017-03-08 11:49] drewhk commented on #22463
@2m is doing MergePreferredSpec AFAIR

[2017-03-08 12:08] athieriot commented on #22296
That can probably be close now?

[2017-03-08 12:10] #22296 closed

[2017-03-08 12:10] patriknw commented on #22296
thanks

[2017-03-08 12:10] athieriot commented on #22296
No thank you !

[2017-03-08 12:11] #22425 closed

[2017-03-08 12:20] patriknw opened #22493 "speedup island name creation"
`fullIslandName` can be in a var and fill it in on the first materializeAtomic call

`nameOrDefault` looks pretty slow, and concatenating names doesn't make much sense

[2017-03-08 12:20] johanandren commented on #22491
Hi @shivani147, please use the mailing list (https://groups.google.com/forum/#!forum/akka-user) or the gitter channel (https://gitter.im/akka/akka) for questions! The issue tracker is only for for bugs and feature tracking, thanks!

[2017-03-08 12:20] #22491 closed

[2017-03-08 12:29] patriknw commented on #22463
I'll grab SinkSpec and SinkSpec - I just love Attributes ;-)

[2017-03-08 12:57] drewhk commented on #22463
I bet ;) What is not to love about 'em.

[2017-03-08 13:00] drewhk commented on #22463
Taking GraphStageLogicSpec

[2017-03-08 13:55] gosubpl commented on #22350
@patriknw thanks for the tip, however I think I have nailed it in the `ORMap` itself :)
The commit above (`95751fa`) is a draft of the PR which I expect to submit really soon. Even code coverage values are pretty decent. It needs some more tests to cover even more sneaky edge cases related to delta-delta application for `ORMap` of `ORSet` case and handling of pruning (which is easy).

[2017-03-08 13:59] patriknw opened #22498 "clarify how to create async islands"
`dispatcher` and `async` creates an async island but we should clarify how to create an island with more than one stage, e.g. fusing together a stage with IODispatcher as default attribute with a simple `map` stage.

[2017-03-08 14:29] patriknw commented on #22350
great, looking forward to reviewing

[2017-03-08 14:36] johanandren commented on #22488
Looked into this now, and I cannot really repeat it, I get the full exception message and stack trace in the log after after the first line. Maybe it was just missed in the original report.

[2017-03-08 14:37] johanandren commented on #22488
Ah, if the exception is a `WithoutStackTrace` there is nothing printed.

[2017-03-08 14:46] #22463 closed

[2017-03-08 14:53] johanandren opened #22503 "FAILED: akka.stream.io.TcpSpec"
`.TCP listen stream must shut down properly even if some accepted connection Flows have not been subscribed to`

https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4707/

[2017-03-08 14:53] patriknw commented on #22429
feel free to continue with this now, @2m

[2017-03-08 14:53] #22430 closed

[2017-03-08 15:03] drewhk commented on #22429
I recommend to change the default size of those arrays to `1` and then add resize logic. Tests should not break (if resize would not work basically all tests would fail with `1`). Then set the default array size so that 99% of our tests pass without a resize (I think `16` will be fine as a default).

[2017-03-08 16:21] patriknw opened #22506 "make stream impl internal"
I think we should opt for making as much as possible in impl InternalApi. A later design task will be to make it possible to plugin custom phases or materializers.

[2017-03-09 05:42] richard-imaoka commented on #21708
Hi I was reading through this issue and came up with one idea. @trbngr could I suggest using a new flag in config if you are still working on this?
If the flag is turned on, use `getBytes`. If the flag is off, retain the current behavior so that you don't break existing things. Does it make sense?

[2017-03-09 08:53] ktoso commented on #22438
Mmmm, I love option vals ❤️

[2017-03-09 09:07] jrudolph commented on #21708
I think we need to understand what this change exactly means. Just passing in bytes where before a string was passed in means we need to apply some encoding. And there might be other encodings like punycode which might come into play here.

[2017-03-09 09:23] gosubpl commented on #22350
@patriknw ready for review

[2017-03-09 09:50] patriknw commented on #22350
thanks, I'll review tomorrow

[2017-03-09 13:49] ktoso opened #22512 "GraphStages of FlowShape and linear shapes should start from Linear builder"
See inside GraphStage, in super class Graph which starts from a Aromic builder.
Make it emit the Linear Builder whenever possible to avoid a bit of weight.

[2017-03-09 15:07] ghengeveld commented on #16815
I'm implementing a REST API and would like to use reverse routing to send a `Location` header with a 201 Created response when a new resource is created. Reverse routing would make it trivial to know the correct location of the newly created resource (assuming there is a route to it).

Reverse routing clearly has a relevant use case for APIs, so I think it deserves to exist in Akka HTTP.

[2017-03-09 16:06] johanandren commented on #22433
There still might be something that could be done for `akka.stream.impl.fusing.ActorGraphInterpreter.ActorOutputBoundary` and `akka.stream.impl.fusing.ActorGraphInterpreter.BatchingActorInputBoundary` but I couldn't quite figure out how/what would be useful. Save that as a possible future improvement and close this perhaps?

[2017-03-09 16:35] johanandren opened #22516 "Look at the usages of Array.ofDim"
`Array.ofDim[T](Int)` takes an implicit class tag to be able to create the array, which may allocate a classtag for each use and also has quite a bit of overhead compared to `new Array[T](Int)`.

Look through all occurences and consider if they are hot-path in any way and could benefit from replacing ofDim.

[2017-03-10 10:00] #22488 closed

[2017-03-10 10:03] patriknw commented on #22493
This is done in https://github.com/akka/akka/pull/22514

[2017-03-10 10:06] patriknw commented on #22487
ah, good observation, that is indeed a bug

[2017-03-10 12:01] patriknw opened #22523 "Nested attributes need another thought"
`asJavaStream` is created as:

[code]

The expected name is "asJavaStream", but it becomes "queueSink" (before in the attr list).

Similar if adding a custom `name`, "queueSink" is still more specific (first in attr list).

A workaround is to remove the inner name.

[code]

[2017-03-10 12:12] patriknw commented on #22523
Another workaround that doesn't work fully is
[code]

That doesn't work with custom `name` or `dispatchers`.
For example:
[code]
when materialized the attributes are
[code]

I think we might have this problem at more places, e.g. `head` is created as
[code]

[2017-03-10 12:37] patriknw commented on #22230
I guess we can't really create redirect from the old HTML pages?

[2017-03-10 13:05] johanandren opened #22525 "More clearly doc that mapAsync is detached"
As mentioned on the mailing list (https://mail.google.com/mail/u/2/#inbox/15aa7a40cec9ed6c) `mapAsync` is detached and with `parallelism = 1` it will start the next `Future` as soon as the previous one completed and was emitted downstream, even if there was no demand.

I think we could do better with the wording to make this clear in the scala/javadoc.

[2017-03-10 15:47] ktoso opened #22527 "JavaDSL [SubFlow/SubSource].zip emitting wrong Pair type"
As discovered in https://github.com/akka/akka/pull/22486/files#r104931037 we were emiting a Scala Pair where we should have `akka.japi.Pair`

[2017-03-10 16:07] #22438 closed

[2017-03-10 16:07] #22437 closed

[2017-03-10 17:11] #22493 closed

[2017-03-10 17:11] #22436 closed

[2017-03-10 17:51] #22433 closed

[2017-03-10 18:41] patriknw commented on #22387
congrats @drewhk

[2017-03-10 18:41] #22387 closed

[2017-03-11 07:03] chaosky opened #22533 "debug logging of ClusterSingletonProxy"
[ClusterSingletonProxy line 257](https://github.com/akka/akka/blob/v2.4.17/akka-cluster-tools/src/main/scala/akka/cluster/singleton/ClusterSingletonProxy.scala#L257)

[code]

`Logging.simpleName(msg.getClass.getName)` always returns String, whether it should return the type of message, and the number of parameters is not right.

[2017-03-11 17:15] ktoso commented on #22533
Looks to be a mistake, should just be simpleName from the object. Could you PR a fix?

[2017-03-12 06:22] ortigali commented on #21491
IMO, All actorRef are not required to reply to Identity requests. Actor may act as a blackhole.
(Some actorRefs inherited by MinimalActorRef also do not reply to Idetify message)
Now PromiseActorRef's duty is to complete promise with first message it received and delegate others to deadLetters. What will be the result of below code if it replies to Identify message.

[code]

My proposal:
ActorSele

[2017-03-12 17:18] pmilanese commented on #22071
Hello,
Any update?
Thank you!

[2017-03-12 17:42] johanandren commented on #22452
Ups, that is weird, looks like it's a straight copy pasta from the `Source` companion.

I'm not sure we can change the signature however, binary compatibility. We could maybe deprecate it and point towards the companion version of it?

[2017-03-12 17:52] johanandren commented on #22409
Removed in the new materializer in 2.5 so only relevant for 2.4

[2017-03-12 19:09] tonicsoft commented on #15571
@filosganga In order to retain maximum flexibility, I think the persistence test kit should remain fully in memory, at least for unit tests. The file system is static global state which is a no-no for tests in general, (hence the existence of [jimfs](https://github.com/google/jimfs)). Also when developing locally it's a pain because if I kill the tests halfway through then the PersistenceTestKit w

[2017-03-12 22:47] filosganga commented on #15571
@tonicsoft I think swapping the journal implementation is out of the scope of this issue.

The reason I said that is because the JournalReader is tight coupled with the implementation and so it is not supposed to be an abstraction. Running some test on the LevelDb and running production on Cassandra does not provide enough confidence as the two plugin implementation are completely difference.

The

[2017-03-12 23:55] tonicsoft commented on #15571
@filosganga I see, I did not realise that. I take your point that as the implementations vary, using the real journal implementation is essential for acceptance/integration tests. For unit tests though, I'm not 100% convinced. Are you suggesting setting up a Cassandra node for every unit test (if using Cassandra in production)?

I'm too new to Akka to fully appreciate the explanation in your last

[2017-03-13 06:25] patriknw opened #22540 "failed: ReplicatorORSetDeltaSpec (association failed)"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4721

[code]

[2017-03-13 06:44] patriknw commented on #22452
Looks like a mistake. Let's keep the companion version and deprecate (future remove) the instance method.

[2017-03-13 06:46] patriknw commented on #22533
yes, please fix

[2017-03-13 06:58] patriknw opened #22541 "AbstractPersistentFSM should extend AbstractActor"
I think this was mentioned by @johanandren.

Not because of `createReceive` but for other Java API such as `getContext()`

[2017-03-13 07:04] patriknw commented on #22422
Does mergePreferred deserve its own method? Wdyt @ktoso @jrudolph @johanandren @drewhk @2m ?

[2017-03-13 07:06] patriknw commented on #22345
What needs to be done? If it is critical for 2.5.0 then we should complete it this week.

[2017-03-13 07:11] patriknw commented on #22385
@jacobtardieu I'm not sure I understand. Are you suggesting that when it reaches `maximumFrameLength` it would just drop that chunk and start a new chunk from that position? Isn't it a high risk that the frame data is corrupt if it's missing the delimiter?

[2017-03-13 07:40] jacobtardieu commented on #22385
@patriknw Not exactly :  when it reaches the `maximumFrameLength`, the internal buffer is emptied (because the chunk is too long, we're going to ignore it) but we continue until the next delimiter to start a new chunk at a correct position.

[2017-03-13 07:43] johanandren commented on #22422
I don't think so. Special case plus most useful in GraphDSL with loops etc.

[2017-03-13 08:14] patriknw commented on #22385
ok, that makes more sense. Perhaps we should have a settings parameter so that this api can be evolved with more parameters without having to add more method overloads?

[2017-03-13 08:28] jlprat opened #22543 "Clarify in CONTRIBUTING requirements for OK TO TEST"
Clarify in CONTRIBUTING which are the conditions that must be met for a user to be able to use `OK TO TEST` and being picked up correctly by Jenkins.
This clarification is already in akka/akka-http under CONTRIBUTING.md

[2017-03-13 10:22] jacobtardieu commented on #22385
Yes good idea, I agree that a settings parameter is better than overloading. Would you like me to send a PR?

[2017-03-13 10:29] AkkaScalaDev opened #22545 "Akka Scala Documentation - PDF - Section 2.5.2 Native Packager instructions don't work"
Hello,

Document: Akka Scala Documentation (PDF)
Release: 2.4.17

In Section 2.5.2 the Native Packager instructions are meant to allow the user to create a standalone Hello World example; unfortunately this doesn't work because the instructions overlook writing the actual code. Following the instructions as they stand results in a ClassNotFoundException when the following command is run:

akka-sam

[2017-03-13 10:33] ortigali commented on #22541
May I take this?

[2017-03-13 10:39] jrudolph commented on #22124
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4720/testReport/junit/akka.stream.io/TlsSpec/SslTls_must_emit_an_error_if_the_TLS_handshake_fails_certificate_checks/

[2017-03-13 10:41] jrudolph commented on #22124
https://jenkins.akka.io:8498/job/akka-nightly-2.12/146/

[2017-03-13 10:41] jrudolph commented on #22124
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/653/

[2017-03-13 10:51] patriknw commented on #22541
@ortigali yes, excellent

[2017-03-13 10:53] patriknw commented on #22385
yes, please

[2017-03-13 11:06] johanandren opened #22546 "Wrapper Sink that materializes a Future[Done]"
Problem: Some times you want to wait for a `Sink` to complete, for example to know that it was done with any cleanup work/last commit, but the sink used does not materialize a `Future[Done]`. You cannot use `watchTermination` as that would go before the `Sink` and only tell when upstream completed/failed.

Idea: A wrapper `GraphStage` that delegates all calls to the actual sink and materializes a

[2017-03-13 11:07] johanandren commented on #22546
Note that this is something we're not entirely sure is doable in a general way, more of something to explore.

[2017-03-13 11:27] jacobtardieu commented on #22385
Ok thanks, I'll do it in the next few weeks.

[2017-03-13 11:38] gosubpl commented on #22540
will take a look at that.

[2017-03-13 11:42] #22447 closed

[2017-03-13 14:08] jrudolph opened #22547 "Seed node discovery INFO logging"
Seed node discovery should be less frequent enough to be logged with INFO level. When something is wrong here it is otherwise hard to debug.

Sending and receiving of these messages should be logged with sender and receiver:
 * `InitJoin`
 * `InitJoinAck`
 * `InitJoinNack`

[2017-03-13 14:22] jrudolph opened #22548 "Discuss cluster "rolling upgrade mode" / special configuration for first seed node"
Currently, the first seed node in the list is special as it is the only one which has the power to create a new cluster. This is currently only specified by the order of nodes in the seed nodes list.

Also, during a rolling update of the cluster, even the first seed node usually shouldn't be able to create a new cluster "accidentally", i.e. when it isn't able to make contact with any other nodes d

[2017-03-13 14:26] jrudolph commented on #22071
Here's a sample that uses Tcp together with TLS.

https://github.com/typesafehub/activator-akka-stream-java8/blob/master/src/main/java/sample/stream/TcpTLSEcho.java

[2017-03-13 14:28] jrudolph commented on #22345
We need to understand what the ssl-config HostnameVerifier feature guarantees, why it was added, and if someone is using it. Then we need to decide whether we want to keep it in ssl-config. If we can get rid of it in ssl-config we can reapply the simplifications I proposed above.

[2017-03-13 14:29] patriknw commented on #22548
I think it should be the latter. If you really want to start a new cluster without trying to join others first the `seed-nodes` list should be empty and set this new property.

It could also be useful to support `on`, meaning that this specific node is the one that can join itself, but you don't have to know the `actor-system-address`.

I like this suggestion and I think it can be introduced in a

[2017-03-13 15:40] #22543 closed

[2017-03-13 16:39] mladendinev opened #22549 "Pool Router for workers with different attribute value"
I was trying to create a RoundRobinPool router for my application, but I realized that I can't provide different properties for my routees. What am I supposed to do if my Worker has for instance `property `"timestamp" which as you may infer is different for each worker and which is provided dynamically?

[code]

[2017-03-13 16:56] #22409 closed

[2017-03-13 16:57] #22487 closed

[2017-03-13 17:43] #22429 closed

[2017-03-13 18:16] johanandren commented on #22487
Thanks for letting us know @Horusiath !

[2017-03-13 19:48] patriknw commented on #22549
The constructor parameters must be known and serializable when you create the router Pool.
Where would the `timestamp` come from? If it's the timestamp of when the actor is created you can just put it in the constructor or in the factory of Props that creates the actor instance.

We don't use GitHub issues for questions, so please use [akka-user](https://groups.google.com/forum/#!forum/akka-user)

[2017-03-13 19:48] #22549 closed

[2017-03-14 08:14] johanandren commented on #22503
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8643/consoleFull

[2017-03-14 10:20] #22453 closed

[2017-03-14 10:22] #22257 closed

[2017-03-14 10:31] #22224 closed

[2017-03-14 10:35] #22460 closed

[2017-03-14 10:52] #22393 closed

[2017-03-14 11:31] jrudolph commented on #21684
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4725/testReport/junit/akka.remote.transport/SystemMessageDeliveryNoPassiveRetryGate/Remoting_passive_connections_off_must_guaranteed_delivery_and_message_ordering_despite_packet_loss/

[2017-03-14 11:32] jrudolph commented on #22124
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/4726/testReport/junit/akka.stream.io/TlsSpec/SslTls_must_emit_an_error_if_the_TLS_handshake_fails_certificate_checks/

[2017-03-14 11:32] jrudolph commented on #22124
https://jenkins.akka.io:8498/job/akka-nightly-2.12/147/testReport/akka.stream.io/TlsSpec/SslTls_must_emit_an_error_if_the_TLS_handshake_fails_certificate_checks/

[2017-03-14 11:49] jrudolph opened #22552 "NPE in GraphInterpreter when `GraphStageLogic` never called `setHandler`"
See https://gitter.im/akka/dev?at=58c7d6ebfef1d2de52ad22b4

It seems the nicer error message we had with the old materializer was lost.

Example:

[code]

[code]

[2017-03-14 12:31] #22233 closed

[2017-03-14 12:32] #22303 closed

[2017-03-14 12:39] jrudolph opened #22554 "CCE in SubSink"
It seems to fail in code that should handle a race condition when materialization is faster than the first `pullSubstream`.

[code]

[2017-03-14 13:32] #18872 closed

[2017-03-14 14:26] bantonsson commented on #22394
This seem to have failed on release-2.4 where #22318 is not present (AFAICT). Should I forward port the test fix?

[2017-03-14 14:41] patriknw commented on #22394
yes please

[2017-03-14 14:51] johanandren commented on #22552
2.4 says:

[code]

[2017-03-14 15:01] jrudolph commented on #22552
So, this issue is a side-effect of removing `GraphAssembly`.

[2017-03-14 15:13] bantonsson commented on #21684
This seems to be a fairly popular failure. I'll give it a shot.

[2017-03-14 15:13] johanandren commented on #22552
I think I can sneak in a check just after creating the `GraphStageLogic`

[2017-03-14 15:54] patriknw commented on #18262
FYI, I'm continuing here by testing embedding the JDK FJP or Scala 2.11 FJP

[2017-03-14 16:15] viktorklang commented on #18262
@patriknw Is there a branch/Pr to follow?

[2017-03-14 16:18] patriknw commented on #18262
@viktorklang I will use the bench that Johan created in https://github.com/akka/akka/pull/22323. I will create another PR with results and I will ping you there.

[2017-03-14 16:21] viktorklang commented on #18262
@patriknw Perfect, thank you.

[2017-03-15 07:05] #22406 closed

[2017-03-15 07:06] #22394 closed

[2017-03-15 07:24] chaosky commented on #22533
I am confused about the third parameter, it is the identity of the message (eg: `Object.toString()`, `getClass().getName() + '@' + Integer.toHexString(hashCode())`) or the sender's path, or something else?

[2017-03-15 08:18] johanandren opened #22561 "FAILED: TlsSpec emit an error if the TLS handshake fails certificate checks"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8657/consoleFull

[code]

[2017-03-15 08:21] johanandren commented on #22561
And another one, so broke recently?
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8666/consoleFull

[2017-03-15 08:40] johanandren commented on #22432
Didn't @jrudolph fix this already?

[2017-03-15 08:59] johanandren commented on #22561
Duplicate of #22124

[2017-03-15 08:59] #22561 closed

[2017-03-15 09:00] jrudolph commented on #22432
Yep, @2m and me improved this. Didn't see the ticket back then.

Fixed here:
https://github.com/akka/akka/pull/22483
https://github.com/akka/akka/pull/22492

[2017-03-15 09:00] #22432 closed

[2017-03-15 10:13] #22367 closed

[2017-03-15 11:17] jrudolph commented on #22314
Was done a while ago: https://github.com/akka/akka/pull/22315.

[2017-03-15 11:17] #22314 closed

[2017-03-15 11:19] jrudolph commented on #13635
This is outdated and was replaced by TLS support in akka-stream (which works as requested).

[2017-03-15 11:19] #13635 closed

[2017-03-15 11:22] jrudolph commented on #17997
In akka-http we have a `StreamUtils.delayCancellation` stage which does exactly this. Could make sense to have this functionality in the stages mentioned above directly.

[2017-03-15 14:26] #22554 closed

[2017-03-15 15:09] jjlopezm opened #22566 "[Documentation] Akka Cluster/Remote with SSL"
I was trying to use ssl in an akka cluster. To do that, I follow the doc...  http://doc.akka.io/docs/akka/2.4/scala/remoting.html#Configuring_SSL_TLS_for_Akka_Remoting

IMHO, it could be a good idea to include that its necessary to specify the hostname and port of the ssl connection actor. The problem is, if you don't specify those parammeters, the cluster node will be started at 127.0.0.1 always,

[2017-03-15 15:23] jrudolph opened #22568 "Mark ResumeReading as DeadLetterSuppressed"
This happens because of a race condition between the actor-based `TcpConnection` and the Tcp streams where a `ResumeReading` is sent at the moment when the TCP connection is torn down.

Fixing this will remove spurious warnings everyone is seeing.

[2017-03-15 15:51] jrudolph commented on #22568
Also we should handle `ResumeReading` in `peerSentEOF` state to prevent spurious "unhandled message" logging in that case.

[2017-03-15 16:04] jrudolph commented on #22124
What happens here is that a TCP connection actor in some cases fails super early. When that happens we only get a log message logged at DEBUG level. In #22570 I change the debug level for this test to DEBUG to see more info in the next nightly. It doesn't reproduce for me locally but seems to happen consistently in many nightly builds.

[2017-03-15 17:03] #22552 closed

[2017-03-16 05:59] patriknw commented on #22566
Sounds like a valid point, thanks. Would you be able to open a pull request with the improvement?

[2017-03-16 08:43] #22413 closed

[2017-03-16 08:45] #22431 closed

[2017-03-16 08:47] johanandren commented on #22503
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8686/consoleFull

[2017-03-16 09:21] #19661 closed

[2017-03-16 09:24] #22527 closed

[2017-03-16 09:34] #22568 closed

[2017-03-16 09:38] ktoso opened #22575 "Improve Scheduler docs a bit"
We should be more helpful in the docs comment as Endre pointed out here: https://github.com/akka/akka/pull/22334#discussion_r102905729

[2017-03-16 12:24] christophermoeketsi opened #22578 "akka.remote.artery.OutboundHandshake$HandshakeTimeoutException"
am getting Mar 16 13:53:05 vn-2-ws-test-el6 whalesong-voice-node[13299]: [ERROR] [03/16/2017 13:53:05.948] [Whalesong-akka.remote.default-remote-dispatcher-7] [akka.remote.artery.Association(akka:/Whalesong)] Outbound message stream to [akka://Whalesong@node_1_ip:62060] failed. Restarting it. Handshake with [akka://Whalesong@node_1_ip:62060] did not complete within 20000 ms (akka.remote.artery.Out

[2017-03-16 13:16] christophermoeketsi commented on #22578
Looked at my configs again I missed "canonical" on hostname.

[2017-03-16 14:08] jrudolph opened #22579 "ActorSystem creation should block on full remoting initialization"
Especially, PRNG initialization for the classic remoting SSL transport can take seconds when `/dev/random` is slow. This can happen right after the start of a VM or a docker container when not enough entropy has been collected. It seems that these could also be the particular cases where using `/dev/urandom` is not secure (see http://www.2uo.de/myths-about-urandom/#csprng "Not everything is perfec

[2017-03-16 14:12] #22332 closed

[2017-03-16 14:22] patriknw commented on #22579
Yes, blocking is valid

[2017-03-16 14:54] patriknw opened #22581 "fix Scala deprecation warnings"
compile with `-deprecation` and fix all Scala related things. Important so that Akka can be included in the Scala 2.13 community build again.

See https://github.com/scala/scala/pull/5358#issuecomment-286908882

[2017-03-16 16:52] jrudolph opened #22584 "Subfusing doesn't work with new materializer"
Because subfusingPhase will not be injected using the common `materialize` call:

https://github.com/akka/akka/blob/master/akka-stream/src/main/scala/akka/stream/impl/ActorMaterializerImpl.scala#L99

[2017-03-16 16:54] ktoso commented on #22584
Very weird... gotta check in which situations the other one is called and why we really keep around both of those hm. Will clean those up somehow.

[2017-03-16 17:53] alexeevg opened #22585 "Flow.map(???).mapConcat(???) may deadlock"
Deadlock occurs depending on whether stream fusing is turned on and "surrounding context" (for the lack of a better term).
Here's the code demonstrating the problem:
[code]

Expected output:
[code]

Actual output:
[code]
Tested on akka 2.4.17 / Scala 2.12.1

[2017-03-16 18:53] ktoso commented on #22585
Please note, the `withAutoFusing` option do nothing on current `master`.
PR here: https://github.com/akka/akka/pull/22530/files#diff-9d42185f80bc3bc7ce18fb21bb83152cR436

[2017-03-16 19:03] #21858 closed

[2017-03-16 19:04] #22506 closed

[2017-03-16 19:05] patriknw commented on #16617
First part done, but keeping the ticket open for more

[2017-03-16 19:19] alexeevg commented on #22585
Also note that the bug can be reproduced with `statefulMapConcat as well`:
[code]

[2017-03-16 19:36] #22359 closed

[2017-03-16 21:09] bpholt commented on #18574
Since I found this thread while trying to search for a related issue (how to preserve `%3A` in pre-signed S3 URLs), I thought [this documentation of ”synthetic headers“](http://doc.akka.io/docs/akka-http/10.0.4/scala/http/common/http-model.html#synthetic-headers) allowing the caller to set a raw request URI might be useful for the next person who stumbles through here.

[2017-03-16 21:23] patriknw commented on #22503
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/8725

[code]

[2017-03-16 21:26] #18262 closed

[2017-03-16 21:27] patriknw commented on #21910
Fixed in https://github.com/akka/akka/pull/22560

[2017-03-16 21:27] #21910 closed

[2017-03-16 21:29] #22293 closed

[2017-03-16 21:39] wsargent opened #22587 ""Pass through" materialization"
There are cases in Play where we want to take the bytes of an incoming request body, and immediately proxy them through a WS client, so that those bytes get sent out without having to fully realize and consume the entire stream (think video streaming proxy)

@jroper floated the idea of a `Sink.source` in https://github.com/akka/akka/issues/18406 but at the time it wasn't practical.  However, the n

[2017-03-16 21:41] wsargent commented on #22587
See https://www.playframework.com/documentation/2.5.x/ScalaBodyParsers#Directing-the-body-elsewhere

[code]
only right now Accumulator.source is
https://github.com/playframework/playframework/blob/master/framework/src/play-streams/src/main/scala/play/api/libs/streams/Accumulator.scala#L230

[code]

[2017-03-16 21:49] maciekciolek commented on #16617
Exactly, I will contribute the rest of this soon

[2017-03-16 21:56] ktoso commented on #22587
Thanks for the ticket! (we discussed this one at length on chat with Will).

Basically it works now, but due to the pre-materialization into the publisher we introduce an async boundary there. If really needed, this could be one of the special phases that we would make to materialize those into a synchronous "pass through" if you know what I mean.

[2017-03-17 05:33] zhao141 opened #22589 "warn: Retry request for shard [-85] homes from coordinator"
i have three conditions. local,dev,prod. but local and dev has quad-core cpu, prod is dual-core cpu.
configuration is the same. prod cluster sharding is fail, message send to sharding  is delay or loss.
i`m try start singleton application.the problem is still the same

sharding config:
[code]

[2017-03-17 08:27] johanandren commented on #22541
I'll update the docs before we close this ticket!

[2017-03-17 09:02] johanandren commented on #22541
Actually, that I was talking about was AbstractFSM which lacks the corresponding methods. I'll open a new ticket for that.

[2017-03-17 09:02] #22541 closed

[2017-03-17 09:14] johanandren opened #22592 "AbstractFSM lacks Java style accessors"
Same for AbstractFSM as #22541 is for AbstractPersistentFSM

[2017-03-17 09:28] patriknw commented on #22295
Thanks @buaya91

[2017-03-17 09:28] #22295 closed

[2017-03-17 09:29] #22350 closed

[2017-03-17 11:40] buaya91 opened #22596 "Add docs for #22295, #22586 (CircuitBreaker)"
#22586 Expand capabilities of circuit breaker, we should add docs of it so people are aware

[2017-03-17 11:42] #22584 closed

[2017-03-17 12:18] #22592 closed

[2017-03-17 13:16] Yeitijem opened #22597 "take misbehaves at ByteIterator"
bi == bi.take(2) results in true

[2017-03-17 13:21] ktoso commented on #22597
that depends on what `bi` is ;-)

Full reproducer please?

[2017-03-17 13:24] Yeitijem commented on #22597
bi is iterator from ByteString.

e.g.
val bi = ByteString(Array[Byte](3,6,7,8,9,0)).iterator

[2017-03-17 14:26] ktoso commented on #22596
Refs  #22295, #22586

[2017-03-17 14:46] patriknw opened #22598 "failed: sample.distributeddata.ReplicatedCacheSpec"
with 2.5.0-RC1

Investigate why it grew larger.

[code]

https://github.com/akka/akka-samples

[2017-03-17 14:47] patriknw opened #22599 "failed: sample.distributeddata.ShoppingCartSpec"
[code]

[2017-03-17 15:06] gosubpl commented on #22599
Is this with deltas enabled?

[2017-03-17 15:07] gosubpl commented on #22598
Interesting. Where is the repo for those samples?

[2017-03-17 15:41] gosubpl commented on #22599
Update, managed to replicate, failing at a different place
[code]

[2017-03-17 17:21] markusjura opened #22600 "[Docs] Ambiguous explanation of Distributed Data vs. Persistence Mode"
The documentation page http://doc.akka.io/docs/akka/2.5/scala/cluster-sharding.html#Distributed_Data_vs__Persistence_Mode describes the differences of using Distributed Data vs. Persistence mode in Akka Cluster Sharding. The following text in the section is ambiguous:

The state of the coordinator is not durable in ddata mode.

The "also" is misleading here. Only the state of the Remembering Entit

[2017-03-18 02:32] lwsbox opened #22601 "How to controll the speed of replaying logs in recovering? ][akka-persistent]"
logs  in mailbox may hold-up too much memory in mailbox
Thanks.

![Uploading 111.png…]()

[2017-03-18 17:45] radekg commented on #17185
Seems like some help would be welcomed here. How can I help then?

[2017-03-18 19:26] hepin1989 opened #22602 "short path for Source.fromFuture and fromFutureSource"
Could go with a short path when the `future` is complete.

[2017-03-19 08:32] patriknw commented on #17185
@radekg that would be awesome. I think this should be added to Alpakka https://github.com/akka/alpakka

[2017-03-19 14:59] patriknw commented on #22589
Check that the joining is successful, you should see MemberUp log. Check that there are no other errors or warnings, such as failure to connect yo the persistence db.

Please use akka-user google group for questions and issue tracker for bugs and feature requests.

[2017-03-19 14:59] #22589 closed

[2017-03-19 15:18] NeQuissimus commented on #17185
@radekg Please do :) I had intended to do this but have been pulled in other directions... Take a look at the commit to my Akka fork above, which is based on @ktoso's work. It may give you a good place to start.

[2017-03-19 20:38] hseeberger opened #22604 "Non-java serialization fails for `ActorSelectionMessage(akka.cluster.ddata.Replicator$Internal$DeltaPropagation)`"
With Akka 2.5.0-RC1 I get:

[code]

[2017-03-20 06:31] patriknw commented on #22604
Ah, I see what's wrong. Thanks for reporting, @hseeberger. I'll fix it.

A workaround is to turn off the deltas:
[code]

[2017-03-20 09:08] bantonsson commented on #21684
After excavating the code, my only idea so far is that there is a race while establishing connections and gating, resulting in some kind of uid skew that results in a loss of data in the saved resend state or a reset in the outgoing acked buffer. I increased the likelihood of dropping the connection and gating and have been running this on repeat over the weekend. Now after 700+ runs, there hasn't

[2017-03-20 09:29] bantonsson opened #22606 "failed: akka.cluster.ddata.ReplicatorPruningSpec"
This test has failed in the nightlies since 17/3 (9 times):

https://jenkins.akka.io:8498/job/akka-nightly/4237/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly/4238/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly/4239/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly/4240/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly/4241/consoleFull
https://jenkins.akka.io:

[2017-03-20 09:54] gosubpl commented on #22604
on it

[2017-03-20 09:59] gosubpl commented on #22606
Might be related to https://github.com/akka/akka/issues/22599 and https://github.com/akka/akka/issues/22540 . What all those failures have in common, is that there is an element being lost from `ORSet` (either a key in the map or element in set)

[2017-03-20 10:05] bantonsson commented on #22606
Yes, I think that all these have a common root cause. Has it got something to do with the serialization issues reported here #22604 ?

[2017-03-20 10:10] gosubpl commented on #22606
No, I think this is something more sneaky.

[2017-03-20 10:11] gosubpl commented on #22606
I am thinking that maybe there is some issue with order of delta propagation via the gossip protocol. But I don't have any suitable evidence yet - just starting on seriously looking into this.

[2017-03-20 11:38] minisaw opened #22609 "Eventsourced.persist misbehaves invoked from within RecoveryCompleted"
akka.persistence.Eventsourced.persist javadoc documentation states:

_It is guaranteed that no new commands will be received by a persistent actor between a call to `persist` and the execution of its `handler`._

However, in case an event is persisted from within the RecoveryCompleted message handler, the statement above does not hold. The following sequence of events happens:

1. upon creation, t

[2017-03-20 12:35] gosubpl commented on #22606
Preliminary update:
[code]
seems to have trouble reading values:
[code]

But the values seem to be correctly merged:
[code]

[2017-03-20 13:40] bantonsson commented on #22606
It looks like we drop one of the keys when we merge two maps.
[code]

When we merge the keys it looks like this:
`ORSet(x, y) | ORSet(x, y) => ORSet(y)`

There are two differences between the version vectors of the key sets:
[code]

No idea yet why we drop the `x` key.

[2017-03-20 13:48] gosubpl commented on #22606
So the culprit seems to be the gossip update:
[code]

[2017-03-20 14:29] gosubpl commented on #22606
Seems that `ORSet` deltas are not being applied in proper order:
[code]

[2017-03-20 14:31] gosubpl commented on #22599
See https://github.com/akka/akka/issues/22606 for probable explanation.

[2017-03-20 14:32] gosubpl commented on #22540
This might be caused by improper order of merging of `ORSet` deltas. See https://github.com/akka/akka/issues/22606 for probable explanation.

[2017-03-20 15:10] patriknw commented on #22609
@minisaw Could this be a duplicate of https://github.com/akka/akka/issues/21736 ?

[2017-03-20 15:25] patriknw commented on #22606
Did it start failing after merge of https://github.com/akka/akka/pull/22378 ?

[2017-03-20 15:28] gosubpl commented on #22606
If we assume that https://github.com/akka/akka/issues/22540 is called by this root cause, then the answer would be _no_.

[2017-03-20 15:29] johanandren commented on #22602
I don't think this is needed, I think the stages already handles when the future already is completed so it duplicates that code.

[2017-03-20 15:31] bantonsson commented on #22606
The tests works fine at 6b5b819c73df8abea377de602d838c1bc748d390 which is the merge commit of #22378

[2017-03-20 15:32] gosubpl commented on #22606
Yes, but at that moment _maps_ still don't have _deltas_. So whatever is the problem with `ORSet` delta merges cannot manifest itself.

[2017-03-20 15:33] gosubpl commented on #22606
If we could rebase _ormap deltas_ on a moment in history before #22378 , that would answer.

[2017-03-20 15:43] johanandren commented on #22597
This is according to the api of `Iterator` which is mutable, so when you call `take(2)` you mutate it and it is not safe to use the original iterator reference. See the scaldocs here:
http://www.scala-lang.org/api/current/scala/collection/Iterator.html#take(n:Int):Iterator[A]

[2017-03-20 15:43] #22597 closed

[2017-03-20 15:43] bantonsson commented on #22606
Yes, if I back up to 1e6b8ec86b1688eb1fd4675b48f4fc2c6e8f28c8 which is the commit before 6b5b819c73df8abea377de602d838c1bc748d390 in akka-destributed-data and cherry-pick ormap deltas 1f2ef60174ac6d1c857a1c2cebd2c3e5bdd27ad3 onto it, then the test works.

[2017-03-20 15:43] patriknw commented on #22606
They are rather separate, I think, so you could try with `git revert 233e784154aae867fbb9bf64096349e149b2bc32`.

[2017-03-20 15:44] johanandren commented on #22578
So that solved your issue?

[2017-03-20 15:44] bantonsson commented on #22606
@patriknw You're too slow 😉

[2017-03-20 15:45] patriknw commented on #22606
👍

[2017-03-20 15:48] gosubpl commented on #22606
Interesting. This would mean that https://github.com/akka/akka/issues/22540 has different cause, but I think that general symptoms are similar enough - a key in `ORSet` is lost somewhere.

[2017-03-20 15:51] johanandren commented on #22545
Hi Martin, this is intentionally, you are not meant to learn how to write an Akka application by reading that section, only how to package the application you already wrote using the native packager. How to write an application with Akka is covered in other parts of the documentation, for example here: http://doc.akka.io/docs/akka/2.4/scala/hello-world.html

I'll therefore close this ticket.

[2017-03-20 15:51] #22545 closed

[2017-03-20 16:05] minisaw commented on #22609
it appears to be.

[2017-03-20 16:15] minisaw commented on #22609
there's one more quirk, though: the event handler will not be invoked at all in case no message is sent to the actor. so the problem is not only in that the commands are not stashed (as #21736 states).

[2017-03-20 17:56] naferx commented on #21834
Well, I don't have a stronger argument than just for saving a little code from the user perspective

[2017-03-21 02:34] floating-cat opened #22610 "The `chatroom-gabbler`'s related document is not up to date"
1. `Total` case class was replaced by `Stateful` [here](https://github.com/akka/akka/blob/master/akka-docs/rst/scala/code/docs/akka/typed/IntroSpec.scala#L100), but the related [document](https://github.com/akka/akka/blame/f485be2bf5c38d78f59108c0d6086675d337d48f/akka-docs/rst/scala/typed.rst#L223-L231) is not updated.

2.

The current [example](https://github.com/akka/akka/blob/master/akka-docs/r

[2017-03-21 02:41] hepin1989 commented on #22602
The stage don't could move the code to the FutureStage and FlattenFutureStage.

[2017-03-21 09:37] johanandren commented on #22602
Weird I could have sworn that `onFutureSourceCompleted` was called if the future was already completed in `FutureFlattenSource` preStart but I'm obviously wrong. I think the optimization should go in the stages, yes.

[2017-03-21 10:43] marcin-rzeznicki commented on #22420
Ping @ktoso @manonthegithub ⬆️

[2017-03-21 11:23] hseeberger commented on #22604
@patriknw thanks! I tried the workaround you suggested, but ran into another issue:
[code]

[2017-03-21 11:46] bantonsson commented on #22045
Is something happening with this ticket? I could pick it up if there are still problems since we would like to have this working for cinnamon nightlies as well.

[2017-03-21 12:03] johanandren commented on #22045
It is up and running, I think I just forgot closing the ticket, sorry!

[2017-03-21 12:05] lashchenko opened #22611 "Incorrect symbols in akka-doc"
- `naïve` on [java cluster usage](https://github.com/akka/akka/blob/master/akka-docs/rst/scala/cluster-usage.rst), [scala cluster usage](https://github.com/akka/akka/blob/master/akka-docs/rst/scala/cluster-usage.rst) and [scala stream graphs](https://github.com/akka/akka/blob/master/akka-docs/rst/scala/stream/stream-graphs.rst) pages.
- `façade` on [scala typed](https://github.com/akka/akka/blob/m

[2017-03-21 12:05] #22045 closed

[2017-03-21 12:06] ktoso commented on #22611
What do you mean? That's "overly correct" even :)

[2017-03-21 12:07] ktoso commented on #22611
- A façade (/fəˈsɑːd/)[1] is generally one exterior side of a building, usually, but not always, the front. It is a foreign loan word from the French façade, which means "frontage" or "face". https://en.wikipedia.org/wiki/Facade
- Naivety (or naïvety or naïveté) is the state of being naïve, that is to say, having or showing a lack of experience, understanding or sophistication, often in a context