[2016-05-03 12:07] drewhk commented on #20074
I am not sure this is just timing. Why would it take 3 seconds to propagate a downstream cancellation to the upstream via the fanout processor. This can be a genuine bug.

[2016-05-03 13:01] hseeberger commented on #20434
Well, feel free to take a look: I think it's quite minimized.

[2016-05-03 13:52] cppexpert commented on #16855
[code]

Gentlemen, is there elegant way of constructing Cookie header out of Set-Cookie headers ? Currently I have to cast to java `SetCookie` in order to get raw value. Scala version returns rendered value with path from `value()`. Is there right way to do it ? I'm on 2.4.4

[2016-05-03 13:53] ktoso commented on #16855
Anywhere:

[code]

Server:

[code]

[2016-05-03 16:01] johanandren opened #20441 "KillSwitches is missing in stages overview"
stages_overview should contain the various kill switches in `akka.stream.KillSwitches`

[2016-05-03 16:39] cppexpert commented on #16855
Oh, it's not routing DSL. I'm making client call.

[2016-05-03 17:20] magnusart commented on #20423
I can confirm now that TLS stage actually exposes the session. So I will close this. I will open a separate request about documenting the TLS-stage as I think it is needed.

[2016-05-03 17:20] #20423 closed

[2016-05-03 17:43] magnusart commented on #20439
@johanandren what about the "functionality" of allowing new contributors to build akka without copying someones ivy cache or hacking the plugin file? It wasn't even possible to load the sbt project fully.

[2016-05-03 17:59] johanandren commented on #20439
What I am saying is that it depends on your specific global sbt config, so if we change it, it may break for other contributors. No intention to be offensive on my part!

[2016-05-03 18:01] johanandren commented on #20439
I agree on keeping up to date, but it would be nice to know if we even use the plugin somewhere in our infra, and if we don't we should just remove it instead. Not quite sure how to figure that out though.

[2016-05-03 19:41] magnusart commented on #20439
I can confirm that this is related to Codacy which uses JGit.  [Akka uses Codacy as well](https://www.codacy.com/app/opensource/akka/dashboard), but the plugin is not included in the project plugin file (good).

I had a look again and I'm suspecting neither of `sbt-dependency-graph` and `sbt-git` are necessary for the build process.

I see your point when considering not updating `sbt-git` because

[2016-05-03 20:12] ktoso commented on #16855
That's why I've shown both examples :) see "anywhere"

[2016-05-04 02:03] huntc opened #20446 "Observing the state of the cluster client"
We wish to observe changes to the state of contact points in the cluster client. Our use-case is that we persist the list of contact points in the event that the cluster client process is restarted.

We would also prefer to receive a notification of the new list of contact points as changes occur, rather than poll for this data.

[2016-05-04 06:38] patriknw commented on #20446
Sounds good.
The simplest solution would be to publish the notifications on the eventBus. That also means that the api of the ClusterClient doesn't have to change. An alternative would be to have an explicit subscription registration on the ClusterClient itself.

[2016-05-04 07:06] drewhk commented on #20441
Should they? I am not sure everything should be listed there, only the things that are provided by Flow, Source et.al directly. We should rather have a new documentation chapter about dynamic streams handling once Hub is implemented.

[2016-05-04 09:05] johanandren commented on #20441
The name of the section is `Overview of built-in stages and their semantics` and this is built in stages.

Currently there is no other one place for users to find all the available built in stages as they are spread out across the `*Ops`, extra factories and some standalone stages. The Java interop stages in `StreamConverters` are for example already listed in there.

That does not mean there shou

[2016-05-04 09:13] huntc commented on #20446
Should the provided eventStream be used for this purpose?

[2016-05-04 09:39] patriknw commented on #20446
that is perfectly fine usage of the `ActorSystem.eventStream`

[2016-05-04 09:57] huntc commented on #20446
OK - I'll start a PR now then.

[2016-05-04 10:02] johanandren opened #20447 "API docs for UntypedActorWithUnrestrictedStash is incomplete"
Does not mention that the chosen mailbox must implement akka.dispatch.DequeBasedMessageQueueSemantics (which the corresponding Scala API does mention). Update the docs to cover to contain the same information as the Scala API.

[2016-05-04 10:12] 2beaucoup opened #20448 "splitAfter should not emit additional empty substream if last element matches"
See #16885 referenced [here](https://github.com/akka/akka/blob/bd8fcc9d9aeafc2c49745e7519d13b3e0abc18e6/akka-http-core/src/main/scala/akka/http/impl/engine/ws/WebSocket.scala#L126).

If we replace `splitWhen` with `splitAfter` we still have to manually filter out empty substreams.

/cc @jrudolph

[2016-05-04 10:17] 2beaucoup commented on #20448
Test case for `FlowSplitAfterSpec`:
[code]

[2016-05-04 12:00] patriknw commented on #20446
great, thanks

[2016-05-04 12:23] 2beaucoup opened #20450 "Stale samples in FlowDoc{Test|Spec}?"
I was unable to find a reference to these:
- `#compound-source-is-not-keyed-runWith`
- `#compound-source-is-not-keyed-run`

[2016-05-04 12:56] patriknw commented on #20439
I agree that we should remove plugins that are not directly used. I have problems myself with a conflicting version of sbt-dependency-graph that I sometimes have in my global (for other projects).

[2016-05-04 13:18] johanandren commented on #20439
@drewhk @2m either of you use or know why we pull in sbt-git and sbt-dependency-graph, can we remove those?

[2016-05-04 14:00] patriknw commented on #20439
sbt-git was added in https://github.com/akka/akka/commit/293ecb09f971ff5e8039a7ccd4cd3cb09f7cddf8 for the metrics reporting, which I think we have removed now, so that should be possible to remove (including the resolver)

I'm pretty sure sbt-dependency is just for convenience, and should also be removed

[2016-05-04 14:10] johanandren commented on #20439
`sbt-dependency` seems to be used for the pr-validation

[2016-05-04 14:14] drewhk commented on #20439
I never used these. And yes, AFAIK sbt-dependency is for smart PR validation.

[2016-05-04 14:14] drewhk commented on #20439
AKA reduce build times

[2016-05-04 14:14] drewhk commented on #20439
(misclicked the close button)

[2016-05-04 15:05] patriknw commented on #20439
ok, thanks

[2016-05-04 17:35] pchordia15 commented on #20288
#20288 Convert Completed to GraphStage #20454

[2016-05-04 17:35] pchordia15 commented on #20288
#20454

[2016-05-04 17:37] #20337 closed

[2016-05-04 18:21] s12v commented on #19981
@mlangc, thank you, with `toStrict` the error is gone

[2016-05-04 18:40] ktoso commented on #20439
Yup, it's as Johan explains the d pendency plugin we do want to keep, the. Other one not afaics

[2016-05-05 02:46] poojadshende commented on #20103
@ktoso, I have started working on this change, but I have questions.
while creating a group we provide groupname and groupprio.
I understood for groupname (its group name and discription), but what is groupprio. I think it's something about priority, but how do I decide it fro each group

[2016-05-05 04:41] poojadshende commented on #20438
@ktoso, can we start working on it now or have to wait for 3.x

[2016-05-05 05:35] poojadshende commented on #20314
@drewhk Can you please let me know how can I start with this issue?

[2016-05-05 06:34] pchordia15 commented on #20103
@poojadshende i am halfway through solving this issue.

[2016-05-05 07:14] drewhk commented on #20441
There is Framing and TCP for example. I see no point cramming everything
that provides a Flow into that chapter. Originally that page was about
combinators mainly, I don't feel KillSwitch counts as a combinator. I guess
it is a question then what should be the purpose of this page. Maybe we
should create a cheat-sheet instead (although that needs to be a proper PDF
document to be really compact in

[2016-05-05 08:02] drewhk commented on #20314
Hi @poojadshende, this is a rather internal feature that we have not fully designed yet, so it is not the best ticket for contribution right now. If you are interested though, I would suggest to wait a bit though because we will write something minimal first that can be extended later (and contributed to).

[2016-05-05 08:07] #20439 closed

[2016-05-05 08:11] drewhk commented on #20288
Amazingly nice work is going on here, kudos to all contributors!

[2016-05-05 08:15] drewhk commented on #20450
I vaguely recall that we kept some tests around even though that we do not reference them from the docs, but it is worth investigating.

[2016-05-05 08:18] ktoso opened #20455 "ActorRef compression for new remote messaging"
Realtes to: https://github.com/akka/akka/issues/20312

Implement [ActorRef Compression](https://github.com/akka/akka-meta/issues/16) as explained on akka-meta.

[2016-05-05 08:27] ktoso commented on #20438
We don't have a branch for 3.x yet, let's wait with this one for a while.

[2016-05-05 09:04] ktoso commented on #20441
Separate page sounds good, An index of all of them would also be maybe interesting..

[2016-05-05 11:58] ktoso opened #20456 "Consider "hot" connection pool option, to always keep at least one connection open"
This seems to be interesting for users who exactly know with which host they'll be communicating,
and would like to minimise the occasional "longer latency on first request, which causes a new connection to be established".

We could expose an option to Pools that would be the number of hot connections to be kept open perhaps?

I have not seen any other HTTP client provide this option to be honest

[2016-05-05 12:25] cppexpert commented on #16855
I see. `response.header[`Set-Cookie`]` returns only first header though. It would be nice to have `response.headers[`Set-Cookie`]`

[2016-05-05 12:28] ktoso commented on #16855
Fun idea, I fear we can't just add it like that though because name already used, some helper might be a fun idea, please open a ticket.

For now it's: `val setCookies = response.headers.collect { case c: Set-Cookie => c }`

[2016-05-05 13:23] rbudzko commented on #20388
`openTimeouts.headOption.exists(_ eq response._1)` should fix this issue. Not sure how to verify it with tests without suspending and resuming threads.

The whole change would be:
[code]

[2016-05-05 13:26] ktoso commented on #20388
Please submit a PR @rbudzko, let's see

[2016-05-05 13:36] rbudzko commented on #20388
#20458

[2016-05-05 14:21] #20315 closed

[2016-05-05 17:28] poojadshende commented on #20103
@pchordia15 Ok. Do. Do mention from next time on issue page.

[2016-05-05 17:30] pchordia15 commented on #20103
@poojadshende Oh yes. I'll make sure about it.

[2016-05-05 23:01] unoexperto opened #20460 "Akka Flow hangs when making multiple http requests via connection pool"
I'm using Akka 2.4.4 and trying to move from Apache HttpAsyncClient (unsuccessfully).

Below is simplified version of code that I use in my project.

The problem is that it hangs if I send more than 1-3 requests to the flow. So far after 6 hours of debugging I couldn't even locate the problem. I don't see exceptions, error logs, events in Decider. NOTHING :)

I tried reducing `connection-timeout`

[2016-05-05 23:05] ktoso commented on #20460
You MUST consume the `response.entity.dataBytes` – currently you've opened connections and are not reading from them, thus back-pressure kicks in and you don't read from the connections, and they're left to die from an idle timeouts within a few seconds.

There is no proxy support yet – https://github.com/akka/akka/issues/16853

[2016-05-05 23:12] cppexpert commented on #20460
Sorry, I excluded part where I consume the response. Here is how it looks:

[code]

But it never gets called in `Future[(Try[HttpResponse], T)].map{ }`. I guess backpressure should kick in after number of responses exceeds request limit, right ?

[2016-05-05 23:13] cppexpert commented on #20460
And nothing dies due to timeout. I left code running for ~4 hours.

[2016-05-06 07:06] johanandren commented on #19025
https://jenkins.akka.io:8498/job/akka-nightly/3297/consoleFull

Another one case of `must not thrown on unbind after system has been shut down`

[2016-05-06 08:26] dhpiggott opened #20463 "Document that "remote" sends that just happens to be local are not touching remoting"
I can configure Akka Remoting to listen on a hostname like "fakefakefake", and I'm then able to successfully send messages from one actor to another on the same node via an absolute path that contains the unresolvable hostname -- e.g. "akka.tcp://RemoteSystem@fakefakefake:2552/user/EchoActor".

I've put together a minimal test case to demonstrate this -- it's published here: https://gist.github.co

[2016-05-06 08:28] drewhk commented on #20463
When you say the same node, you actually mean the same actorsystem right?

[2016-05-06 08:32] dhpiggott commented on #20463
Oops, yes, I do. Sorry for the ambiguity.

[2016-05-06 08:46] ktoso commented on #20388
(ref the other way please @rbudzko ;-))

[2016-05-06 08:53] rbudzko commented on #20388
(how :-) ? by amending commit message?)

[2016-05-06 08:53] #20424 closed

[2016-05-06 08:55] ktoso commented on #20388
(Nah, just "Resolves #20388" from the PR, instead refering to the PR from here - total detail, don't worry about it :))

[2016-05-06 08:58] drewhk commented on #20463
For local sends we just avoid remoting altoghether. The `!` on `ActorRef` will just simply enqueue the message directly in the recipient's mailbox. It would be a huge performance penalty to touch name resolution or actual network to detect invalid addresses.

[2016-05-06 08:59] ktoso opened #20464 "Include the "find fixed tickets" script in scripts?"
The script is pretty useful: https://gist.github.com/2beaucoup/2c860b012d48043fa329cd2cbea08a08
by @2beaucoup

[2016-05-06 09:02] #20388 closed

[2016-05-06 09:05] dhpiggott commented on #20463
OK, thanks. I suspected this might be the case. Do you think the published documentation (and/or source comments) are better left as they are, or might there be room for improvement?

[2016-05-06 09:05] patriknw commented on #20424
I think this is serious enough to deserve backport to 2.3.x: https://github.com/akka/akka/pull/20465

[2016-05-06 09:06] drewhk commented on #20463
Adding a note section somewhere does not hurt. Are you willing to make a PR about it?

[2016-05-06 09:23] dhpiggott commented on #20463
It could be a few days and up to a week before I have time, but yes I'd be happy to have a go (I've not contributed before, so will need to read up on that first, plus I might be away this weekend).

[2016-05-06 09:27] ktoso commented on #20208
Seems to be resolved since 2.4.3

[2016-05-06 09:27] #20208 closed

[2016-05-06 09:45] cppexpert commented on #20460
Any ideas what I'm doing incorrectly, Konrad ? Would you like me to create separate project with this code ?

Thanks!

[2016-05-06 09:46] ktoso commented on #20460
I'll not into it, but not right now, please be patient for a while – have some other urgent things in my hands.

[2016-05-06 09:47] ktoso commented on #20460
A self-container reproducer example app would help a lot to get into this quicker, thanks

[2016-05-06 11:21] cppexpert commented on #20460
Here we go
https://github.com/cppexpert/akka_flow_freezing

And this is output I get
[code]

[2016-05-06 12:28] #20131 closed

[2016-05-06 14:06] johanandren opened #20466 "Great getting started ticket: write example snippets for Akka HTTP Java DSL"
The last couple of months we have been hard at work with providing a DSL for Java that is (almost) as neat as the Scala DSL for Akka HTTP. We are now at the point where we have the API in place in master and basic docs but what is missing is examples for each of the directives.

Providing an example for a directive is a perfect way to start contributing to Akka, each directive is sufficiently isol

[2016-05-06 14:10] johanandren commented on #20224
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6063/consoleFull

[2016-05-06 14:42] ktoso commented on #17972
A great post by Zalando was published, https://tech.zalando.de/blog/migrating-spray-akka-http/ some of the points we should directly include in our guide

[2016-05-06 15:37] patriknw commented on #20323
A first implementation was merged via https://github.com/akka/akka/pull/20449 but leaving this ticket in progress since we might revisit the reply side channels and there are plenty of FIXME related to quarantining.

[2016-05-07 00:21] pchordia15 commented on #20287
@ktoso @patriknw @2beaucoup I could see the same invalid file(I have späces.jar) in the latest version of akka(akka-2.4.4).

[2016-05-07 00:26] ktoso commented on #20287
Well, the ticket is not closed as you can see so not change is to be expected.
We'd happily accept a PR helping out with this :)

[2016-05-07 00:34] pchordia15 commented on #20287
Cool. So I have a few questions as i would love to work on it. Just the file mentioned in the comment above need to be changed? As specified above akka-http-tests should be removed, but i couldn't find it in the Dist.scala file

[2016-05-07 00:44] poojadshende commented on #20466
@johanandren Can I start working on one of the directory or do I have to wait till JavaDSL is merged to master?

[2016-05-07 02:42] anilgursel opened #20472 "headerValueByType extracts key&value not just the value"
The corresponding unit-test in akka-http-tests can be used to reproduce: https://github.com/akka/akka/blob/master/akka-http-tests/src/test/scala/akka/http/scaladsl/server/ModeledCustomHeaderSpec.scala#L106.

[code]

The expectations should be `"extracted> TheKey"` not `"extracted> apiKey: TheKey"`.

The problem is introduced in 2.4.3, probably while addressing https://github.com/akka/akka/issues/2

[2016-05-07 02:42] anilgursel commented on #20472
I can send a PR.  Here is the commit in my fork: https://github.com/anilgursel/akka/commit/3c700d5f5dc0d59d40fd9670cf340cfdac8d13a6.

[2016-05-07 08:06] ktoso commented on #20472
Ouch silly bug, yes you're right and the fix looks good,
Please send in a PR with this - thanks a lot for noticing and the fix!

[2016-05-07 08:37] meghanamancheela commented on #20464
@ktoso The script link that you have provided is for finding closed issues. Is this issue about providing a similar script that finds fixed tickets?

[2016-05-07 19:45] sibex opened #20479 "Framing.delimiter fails only if the delimiter was found"
The `Framing.delimeter` exceeds the `maximumFrameLength` (`maximumLineBytes`) until the next occurrence of the specified delimiter. If the delimiter never arrives then the `DelimiterFramingStage` succeeds. This is a critical bug since the stage is pulling data until an `OutOfMemoryError`.

Example:
[code]

[2016-05-08 07:14] lolski commented on #20278
I would like to help but seems to pass OK when running the test on master (https://github.com/akka/akka/commit/86f54e871940a2e507f3d0ab7252837cafa05e82)

Does the error only happen on Jenkins?

[2016-05-08 07:24] lolski commented on #20460
Let me have a quick look, maybe I'll be able to found something

[2016-05-08 10:53] lolski commented on #20460
@cppexpert in your git example, you have not consumed `response.entity.dataBytes`. If you modified your function as below, it will work

    private val poolClientFlow = initialize()
    private val queue = Source.queue[(HttpRequest, (Any, Promise[(Try[HttpResponse], Any)]))](1000, OverflowStrategy.backpressure)
      .via(poolClientFlow)
      .toMat(Sink.foreach({
        case (triedResp, (value

[2016-05-08 11:19] cppexpert commented on #20460
I've updated git with your code and also switched to HTTPS connection to avoid HTTP 302 response.

It's still not working although behavior has changed.

Could you please explain why you consume bytes in `toMat` if I'm supposed to consume data in `parseResponse` where response is unmarshalled using `FromEntityUnmarshaller` ? Doesn't it mean that other one or another will fail because there are no

[2016-05-08 13:20] ktoso commented on #20278
It could be, perhaps the timeouts are too thight?
On May 8, 2016 03:14, "Ganeshwara Herawan Hananda Putra" <
notifications@github.com> wrote:

[2016-05-08 15:23] lolski commented on #20460
@cppexpert you are right, I oversimplified the example and commented out the parsing part completely and hence why it worked for me. The workaround for the issue seems to be to convert the entity to its strict counterpart: `val en = Await.result(res.entity.toStrict(10 seconds), 10 seconds)`.

Since I am not a collaborator, I have created a PR with the workaround to your repo. please let us know if

[2016-05-08 15:34] lolski commented on #20278
The error (`503 Service Unavailable did not equal 420 Enhance Your Calm`.) sounds more like a bug, as otherwise it would be a future timeout exception though

[2016-05-08 15:45] cppexpert commented on #20460
Thank you for you help, @lolski. I'm afraid having blocking code is not a solution for me. Let's see what more "reactive" way maintainer will offer.

[2016-05-08 16:19] lolski commented on #20460
@cppexpert It doesn't mean we have to block using `Await.result`. That was just an example. This will work too:

    val enFut = res.entity.toStrict(10 seconds)
    enFut map { ... }

[2016-05-08 18:09] johanandren commented on #20466
@poojadshende I'm afraid you will have to wait, we expected to merge the Java DSL during Friday, but things didn't go our way. :( Will update ticket as soon as we have the DSL merged.

[2016-05-08 19:20] agolubev commented on #20280
@ktoso, should this be cosed

[2016-05-08 20:02] agolubev commented on #20129
Taking this task.

[2016-05-08 23:04] poojadshende commented on #19361
I am working on ChunkTransformer and HandlerStage and I will make a PR

[2016-05-09 03:04] zhxiaogg commented on #19361
I'll try Masker, if no one is working on it.

[2016-05-09 03:38] pchordia15 commented on #19361
I'll work on UpgradeStage.

[2016-05-09 03:46] pchordia15 commented on #19361
Class | Assignee | PR
ChunkTransformer | poojadshende |
HandlerStage | poojadshende |
Masker | zhxiaogg |
UpgradeStage | pchordia15

[2016-05-09 06:33] poojadshende commented on #19361
@ktoso I am working on issue #19361(replacing statefulStage usage with graph stage). I am trying to replace it for ChunkTransformer class.
I am getting error in onUpstreamFinish. Below is original code
[code]
what should i use for terminationEmit in below modification
[code]

[2016-05-09 07:05] johanandren commented on #20479
Couldn't find a ticket with someone rewriting this to a `GraphStage` but should probably be done at the same time rather than fixing it in the current `PushPullStage` version.

[2016-05-09 08:10] johanandren commented on #20280
My bad, missed to close. Thanks @svezfaz

[2016-05-09 08:10] #20280 closed

[2016-05-09 08:52] #20122 closed

[2016-05-09 09:18] 2beaucoup commented on #20287
I think all that is needed is to add all modules that have `dontPublishSettings`in their build.sbt [here](https://github.com/akka/akka/blob/c69efe4dd86732d4955c0df30e9cd629cbd3ad7f/project/AkkaBuild.scala#L45-L45).

[2016-05-09 09:23] #20257 closed

[2016-05-09 09:52] patriknw commented on #20129
great, @agolubev

[2016-05-09 10:41] sibex commented on #20479
Discovered in akka-stream `2.4.2` via Play sbt-plugin `2.5.0`

[2016-05-09 11:04] #20472 closed

[2016-05-09 11:21] johanandren commented on #20408
Calling that URL I get `Illegal response header: Illegal 'strict-transport-security' header: Invalid input ';', expected 'EOI'` so I think this is a duplicate of #20271

[2016-05-09 11:25] johanandren commented on #20408
Gist with (not-really-)repeater: https://gist.github.com/johanandren/c55ee7483bd18bb534ef037f97e367f3

[2016-05-09 12:12] patriknw commented on #16969
I'm trying to revive this old chap

[2016-05-09 12:22] drewhk opened #20487 "FAILED: SinkForeachParallelSpec"
This looks like a genuine failure:

[code]

https://jenkins.akka.io:8498/job/akka-nightly/3306/consoleFull

[2016-05-09 12:50] johanandren commented on #19650
I agree that the best™ solution would be to `Option[Int]` port on authority, but as far as I see binary compatibility stops us from changing that, so there is no way to hide the `0`-means-not-provided from the API by now. We can only document it.

The only idea I come up with is to _not_ normalize the port upon creation of `Uri`, to keep the original value intact and make sure all places that use

[2016-05-09 12:54] johanandren commented on #20056
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6107/consoleFull

[2016-05-09 12:56] richard-imaoka commented on #20479
I could reproduce the issue. Let me fix the issue and also add it as a new test case, in the above-mentioned pull request.

[2016-05-09 13:56] ktoso commented on #16969
Thanks @patriknw

[2016-05-09 14:03] cppexpert commented on #17693
It doesn't work for me in 2.4.4. Could you please take a look ?
http://stackoverflow.com/questions/37113877/how-can-i-use-and-return-source-queue-to-caller-without-materializing-it

[2016-05-09 14:11] drewhk commented on #17693
What do you mean does not work? Do you have a reproducer and a detailed bug description?

[2016-05-09 14:14] patriknw commented on #19650
would it help to add `apply` overload with `Option[Int]`? (it has default param values so that might also not be easy)

adding `isPortDefined: Boolean` might also mitigate the problem somewhat

[2016-05-09 14:20] cppexpert commented on #17693
I mean that I don't receive values from the stream in `.runFold/.runForEach`. In edit of my SO question I added self-contained code snippet in which I reproduced the issue. It doesn't even work with `Sink` for me. Maybe I'm using it incorrectly but in the past I used actorPublisher sink without any problems. So apparently it's something about `Source.queue` I don't understand. Code is this

[code]

[2016-05-09 14:21] ktoso commented on #19650
Isn't a simple solution simply to expose `effectivePort`? I've seen the need to use it quite a few times personally, so I think it makes sense to expose, esp. given the special `0` semantics...

- We expose `effectivePort`, which addresses the issue somewhat – and is binary compatible.
- Then document the special 0 value on `authority.port` and explain that one should use `effectivePort` instead i

[2016-05-09 14:31] johanandren commented on #19650
I'll go with @ktoso s advice

[2016-05-09 14:36] drewhk commented on #17693
You don't even use the result of your enqueueals. You materialize the source again when you use fold, so that has nothing to do with your queue that you enqueued elements into.

[2016-05-09 14:38] cppexpert commented on #17693
Cool. Then we came to my original question on SO. How can I get instance of `SourceQueue` in my function so I can push items via calling `SourceQueue.offer` thus allowing caller of my function to materialize returned `Source` ?

[2016-05-09 14:39] drewhk commented on #17693
This, at least without further information makes not too much sense actually. It might be that you return the Source and no one will materialize it, or it could be materialized multiple times, but your above snippet expects a single queue to enqueue things in. Are you trying to achieve some kind of dynamic broadcast?

[2016-05-09 14:43] cppexpert commented on #17693
Client code is written by me too :) So I do materialize on returned `Source`. Here is my function

[code]

client code materializes it like this

[code]

Code  inside `mapMaterializedValue` is never called. Maybe I shouldn't use `mapMaterializedValue` at all but then how I can get instance of `SourceQueue` in my function so I can push items via `.offer()` ?

[2016-05-09 14:54] drewhk commented on #17693
First of all, source is immutable, hence if you call `source.mapMaterializedValue`, then you need to store it in a new variable, it does not mutate the original source.

Second, I don't really get why you even need a queue for this, can't you just use Akka Http?

Even if you don't want to use Akka Http, you can do this much simpler, assuming that `httpclient.get` returns a `Future`:

[code]

... a

[2016-05-09 15:16] kailuowang opened #20489 "Feature discussion - a performance metrics prioritized router that supports cluster."
## Incentive
The main incentive is actually *not* about the performance of the system. It's the mitigate the situation when a portion of routees start to become irresponsive (not processing messages) due to some anomalies. In such a case, especially when a cluster aware router is involved, although other routees are still working perfectly fine, the router will continue forward the same portion of

[2016-05-09 15:47] patriknw commented on #20489
sounds like a good idea

[2016-05-09 18:05] patriknw opened #20491 "failed: FramingSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6119/

[code]

[2016-05-09 18:17] #19958 closed

[2016-05-09 18:20] #17509 closed

[2016-05-09 18:21] #17788 closed

[2016-05-09 18:37] drewhk commented on #17693
@cppexpert did that solve your issue? If you tell me the returned type of `httpClient.get()` then I can likely give you a one-liner that avoids the queue altogether and also more idiomatic regarding streams usage.

[2016-05-09 19:03] cppexpert commented on #17693
Yes, it was quite lame :(
1) I wasn't returning new instance of source from `mapMaterializedValue`;
2) I had exception within my Future that was silently eaten and gave appearance of hanging.

Earlier you asked me why I even need to bother with `Source`. I didn't want blast community with tons of code but my code is a bit trickier than just getting IDs. I receive paginated stream of articles for b

[2016-05-09 22:34] meghanamancheela opened #20492 "FAILED: GraphBalanceSpec"
GraphBalanceSpec test fails because of error in NodeChurnSpec and StreamLayoutSpec tests.

Failing stack trace:-
[code]

[2016-05-10 02:46] meghanamancheela commented on #20381
Is this issue about using ssl config, in files like ConnectHttp.scala, where ssl is not  used?

[2016-05-10 03:08] meghanamancheela commented on #20489
To work on it, do we have to create a new router similar to the shown example link?

[2016-05-10 03:39] MasseGuillaume commented on #17970
Another advantage of publishing scaladoc would be to have scaladoc available at javadoc.io

https://www.javadoc.io/doc/com.typesafe.akka/akka-http-experimental_2.11/2.4.4

[2016-05-10 06:48] #20464 closed

[2016-05-10 06:56] #19009 closed

[2016-05-10 07:04] johanandren commented on #18818
Thank you for the contribution @lolski !

[2016-05-10 07:04] #18818 closed

[2016-05-10 07:52] pchordia15 commented on #20491
What should be done to correct this test?

[2016-05-10 08:06] patriknw commented on #20491
Looks like the test failure was introduced by changes in PR https://github.com/akka/akka/pull/20481 and therefore that must be fixed there before merging the PR. The test is not failing in master, as far as I know. I should not have opened this issue.

[2016-05-10 08:06] #20491 closed

[2016-05-10 08:21] johanandren commented on #20492
Would be great if you could:
A. also include the test failure the title refers to and
B. use text rather than pictures of the console output

Thanks!

[2016-05-10 08:21] johanandren commented on #20492
Was this locally or on the ci-server?

[2016-05-10 08:50] johanandren commented on #20287
@2beaucoup I'll mark this ticket as closed so that it gets nicely into the milestone list of changes, lets open a new one for the automagic-detection of non-published projects

[2016-05-10 08:50] #20287 closed

[2016-05-10 09:07] drewhk commented on #20429
Well, I am not sure we can just close this. At least mark it as duplicate and point to the ticket about speeding up materialization.

[2016-05-10 09:16] 2beaucoup opened #20495 "Derive Dist projects from publishArtifact setting"
So we can get rid of `Dist.distExclude`.

See the discussion in https://github.com/akka/akka/pull/20486 which fixed #20287 by syncing dist/pub manually.

[2016-05-10 10:49] patriknw commented on #20429
Ok, I thought the conlusion was that the benchmark was not relevant for akka streams. Sorry if I was too quick.

[2016-05-10 11:47] johanandren commented on #19792
Marking this as closed as there is a merged PR.

[2016-05-10 11:47] #19792 closed

[2016-05-10 12:33] #19025 closed

[2016-05-10 12:40] patriknw commented on #19980
@drewhk is this is progress, otherwise unassign?

[2016-05-10 12:51] drewhk commented on #19980
unassigned

[2016-05-10 13:06] patriknw commented on #20492
`NodeChurnSpec` is unrelated and since it is on your local machine it might be that it is overloaded. That test is stressing things a lot.

[2016-05-10 13:07] patriknw commented on #20492
I would not classify this as failure yet (we know too little).

[2016-05-10 13:33] meghanamancheela commented on #20492
I ran this test locally.

[2016-05-10 13:37] meghanamancheela commented on #20492
I'll edit the issue, as you said @johanandren

[2016-05-10 14:25] drewhk commented on #20074
So what I tried to reproduce the issue is that I added a Debug tracing+messing function to `ActorProcessorImpl`:

[code]

Where I tried to replace T with the various message types that the actor receives during this test. It also prints the events that happen. No reordering seems to reproduce the failure so far, so the only thing I can conclude right now is that:
 - there is a race somewhere since

[2016-05-10 14:47] patriknw commented on #18767
I have been analyzing this. Rather interesting.

The test does this:
* splits the cluster into [1,3,4,8][5,6,7].
* 8 is joining to 3
* 5,6,7 is downed on 4

1 is leader, and then 8 becomes new leader

[code]

The problem is that the removal is reverted, probably due to some gossip merge, and then the test is stuck because the unreachable nodes on the other side are "back" in the membership.

This

[2016-05-10 14:52] drewhk commented on #20074
I put this back as I have no clue what could have gone wrong. There wasn't any new failures since end of March. I propose to wait one more month and close this ticket if the issue does not come back.

[2016-05-10 14:55] patriknw commented on #20074
sounds good

[2016-05-10 15:32] johanandren commented on #20224
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6136/consoleFull

[2016-05-10 15:57] #20056 closed

[2016-05-11 06:56] #19049 closed

[2016-05-11 06:58] #20495 closed

[2016-05-11 10:08] johanandren commented on #20492
@meghanamancheela is it reproducible, does it happen every time you run it locally? Does it seem like it may be overloading your machine?

[2016-05-11 13:12] patriknw opened #20503 "support for exposing AsyncCallback in materialized value"
If callback is exposed to the outside world it can be invoked before the stage is fully initialized, resulting in error like this:

[code]

We already have the `CallbackWrapper` for exactly this purpose. It's used by `SourceQueue` and `SinkQueue`. We should probably make it public.

When doing this we should also review the implementation. It looks rather inefficient with that locking and allocati

[2016-05-11 13:15] drewhk commented on #20503
The lock is needed because there is no other way to safely implement the queue handoff in `Source.queue`. If you are interested in the detail look up the original PR with the comments by @rkuhn. I am not sure that this `CallbackWrapper` is the right approach for this general purpose. I would rather see this problem handled at the interpreter level, queueing and delaying async callbacks until stage

[2016-05-11 15:15] johanandren opened #20506 "Disable binary compatibility check for testkits"
The MiMa check now covers `akka-http-testkit` and `akka-stream-testkit` because we couldn't get it to pass without those when merging the Java DSL, but we don't promise BC for testkits so we should remove them and make MiMa behave and not check them.

[2016-05-11 16:03] meghanamancheela commented on #20492
Yes, it fails every time on my machine.

[2016-05-11 16:16] kailuowang commented on #20489
@meghanamancheela , that's what I speculated as well. It will be heavier than that router though.

[2016-05-11 17:05] meghanamancheela commented on #20489
ok, thanks @kailuowang

[2016-05-11 19:44] patriknw commented on #20492
which one are we talking about `NodeChurnSpec` or `GraphBalanceSpec`?

I'm pretty sure NodeChurn is because of overload on your machine, and we will not debug it in your environment.

[2016-05-11 19:50] #18704 closed

[2016-05-11 19:51] meghanamancheela commented on #20492
GraphBalanceSpec

[2016-05-11 19:53] #16452 closed

[2016-05-11 19:57] #12808 closed

[2016-05-11 19:57] #13097 closed

[2016-05-11 19:58] patriknw commented on #13254
Closing as duplicate of #12636

[2016-05-11 19:58] #13254 closed

[2016-05-11 20:00] patriknw commented on #13493
Closing in favor of #19872

[2016-05-11 20:00] #13493 closed

[2016-05-11 20:09] patriknw commented on #20492
then please describe that failure

[2016-05-11 20:10] #13415 closed

[2016-05-11 20:14] patriknw commented on #13490
what is missing?
http://doc.akka.io/docs/akka/2.4.4/scala/io-udp.html#UDP_Multicast

[2016-05-11 20:16] patriknw commented on #13686
is this still relevant?

[2016-05-11 20:22] #13598 closed

[2016-05-11 20:24] #13934 closed

[2016-05-11 20:25] #13918 closed

[2016-05-11 20:26] #13895 closed

[2016-05-11 20:31] #15136 closed

[2016-05-12 06:54] patriknw opened #20507 "more MiscMessageSerializer"
add serialization for the following to MiscMessageSerializer
- `None`
- `Some`
- `Done`
- `NotUsed`

e.g. `None` is sometimes used as messageId in `Identify` messages

[2016-05-12 06:54] patriknw commented on #20507
cc @fsat

[2016-05-12 06:55] #19650 closed

[2016-05-12 06:58] #18938 closed

[2016-05-12 07:05] ktoso commented on #19834
Timed* stages fixed in https://github.com/akka/akka/issues/20330 and now deprecated.
Feel free to move them to  https://github.com/akka/akka-stream-contrib/issues/2 if anyone wants to :)

[2016-05-12 07:46] #20379 closed

[2016-05-12 07:51] patriknw commented on #20507
Note that things that don't carry any data can be serialized using only the (short) string manifest, such as `DeletedData` in https://github.com/akka/akka/blob/master/akka-distributed-data/src/main/scala/akka/cluster/ddata/protobuf/ReplicatedDataSerializer.scala

[2016-05-12 08:06] #20271 closed

[2016-05-12 08:39] drewhk commented on #13686
I think this is a duplicate

[2016-05-12 08:48] ktoso opened #20508 "HTTP: Document how to be able to support custom request methods"
It's similar to how to do custom content types,
needs to be documented - and shown together with `extractMethod`.

[2016-05-12 11:51] meln1k commented on #17972
Hi @ktoso
I created a PR for this issue: https://github.com/akka/akka/pull/20511

[2016-05-12 14:18] vans239 commented on #19834
Please. Mark CheckContentLengthTransformer as fixed. This is PR https://github.com/akka/akka/pull/19913

[2016-05-12 15:23] ktoso commented on #19834
Thanks for the reminder !

[2016-05-12 19:27] johanandren opened #20513 "Document how CompletionStages execute"
Realized when writing this: https://gitter.im/akka/akka?at=5734d72deea93e5742d15b15

In 2.4.x we have largely migrated to `CompletionStage` instead of `Future` in the Java APIs. The JDK API docs says this: "The execution properties of default and async modes are specified by CompletionStage implementations, not this interface".

But the neither `scala-java8-compat` library which we use nor the akk

[2016-05-12 19:45] ashugupt opened #20514 "HTTP: Document how a type is marshalled into json"
The type is marshalled into pretty printed json by default. Improve the documentation to elaborate how to bring compact printer into scope.

[2016-05-13 01:14] pchordia15 commented on #20396
@ktoso I would like to work on it. Could you please help me with what should be done to start with this issue.

[2016-05-13 03:15] pchordia15 commented on #20102
Since there is no PR created for the first part. I'll create one for it. Also if there isn't any progress working on the second question, I would like to work on that too.

[2016-05-13 04:59] ashugupt commented on #20514
PR akka/akka#20515

[2016-05-13 05:59] #20446 closed

[2016-05-13 07:01] patriknw commented on #13686
ok, then I close it. I don't know what the duplicated issue is.

[2016-05-13 07:01] #13686 closed

[2016-05-13 07:58] #16969 closed

[2016-05-13 08:12] #20447 closed

[2016-05-13 11:32] rklaehn commented on #19346
I got the same problem. Is there a workaround or a fix in sight?

[2016-05-13 12:46] johanandren opened #20519 "FrameParser example incorrect"
As noted on the mailing list (https://groups.google.com/forum/#!topic/akka-user/ZxAj7w0Iis4) the framing example in the docs is loosing frames. Something missed when porting the old sample from `PushPullStage`

[2016-05-13 12:59] johanandren opened #20520 "Failed: docs.stream.ActorPublisherDocSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6185/consoleFull

[code]

[2016-05-13 13:41] rklaehn commented on #19359
+1

[2016-05-13 13:45] wlk opened #20521 "Issue in HTTP routing - order of OR PathMatchers"
I stumbled on a problem with defining Or Patch matchers:

This is sample path:
[code]

Turns out this path doesn't match requests to `/abc` URL, only to `/`.

When I reverse order of matchers:
[code]

Both `/abc` and `/` are matched correctly.

This is the repo where I reproduced the problem: https://github.com/wlk/akka-routing-bug/blob/master/src/main/scala/Main.scala

[2016-05-13 15:15] patriknw commented on #20313
This ticket also covers quarantining.

[2016-05-13 20:19] EronWright commented on #13874
Would this be possible today with a custom transport?    As a workaround until built-in support arrives.

[2016-05-13 20:42] wsargent commented on #13874
Hi @EronWright this is being worked on at https://github.com/typesafehub/ssl-config now.

[2016-05-13 20:49] EronWright commented on #13874
@wsargent will ssl-config cover the akka-remote scenario?   I see only mention of akka-http so I want to double-check with you.

[2016-05-13 20:54] wsargent commented on #13874
It's the goal -- there are some things that ssl-config doesn't cover right now from the server end, like disallowing client initiated renegotiation and so forth.

Right now if you want to use HTTPS with akka-remote, I would recommend https://github.com/square/ghostunnel as a wrapper.

[2016-05-14 09:53] MQ-EL opened #20523 "ReliableDeliverySupervisor actor leak, when cluster remote watcher quarantine the corresponding address"
One node always quarantine another one in the cluster environment every 5 days, but the network environment is ok.

 It seems the timeout(```quarantine-after-silence```) of the idle RDS make another, has the same address, active RDS quarantined, every ```quarantine-after-silence``` defined period.

[2016-05-14 14:15] chris-zen commented on #20102
@pchordia15, great to hear you are interested in it, I have too many things ongoing and this went to my long backlog ;-)
Thanks

[2016-05-14 17:48] pchordia15 commented on #20102
@chris-zen, No problem. Thanks for letting me move forward with working on this issue.

[2016-05-15 21:03] dhpiggott commented on #20463
Sorry for the delay with this. I've not forgotten, I just still haven't had time. I should do within the next two to three weeks though.

[2016-05-15 22:05] ktoso opened #20528 "Document or make it easier to "initial migration of data to akka persistence""
Discussed such case with some people: existing huge number of data, which basically is like a snapshot of data that from now on should be handled by an actor. Basically imagine someone moving from "row per snapshot, given some id" to "event sourcing, with this as the base data, previous id matches persistent actor id".

This could be either documented how to do, or we could make a Sink that one ca

[2016-05-16 06:10] zorowonder commented on #20523
Hi,I would like to interpret this question by operating simple steps below:

1.Start up two nodes, A and B, in the same cluster. B is the seed node of this cluster.
	(Here we stand on the perspective of B to discribe the scenario in the next steps.)
	The A successfully associates to B with an UID, uid-0,
	and then B instantiates the RDS-0(ReliableDeliverySupervisor)corresponding to uid-0.
	`System

[2016-05-16 08:51] #18919 closed

[2016-05-16 08:53] ktoso commented on #18787
Obsolete, no more request vals – new JavaDSL landed https://github.com/akka/akka/issues/18919

[2016-05-16 08:53] #18787 closed

[2016-05-16 09:40] zorowonder commented on #20523
Here is the log:
Two UID appears in the log, 685772901 and -1447034877.

java.util.concurrent.TimeoutException: Remote system has been silent for too long. (more than 0.03333333333333333 hours)
	at akka.remote.ReliableDeliverySupervisor$$anonfun$idle$1.applyOrElse(Endpoint.scala:367) ~[com.typesafe.akka.akka-remote_2.11-2.4.2.jar:na]
	at akka.actor.Actor$class.aroundReceive(Actor.scala:480) ~[com.

[2016-05-16 12:20] huntc opened #20531 "Akka SBR appearing to ignore quarantined signal"
When running ConductR, which uses Akka SBR, I notice a problem that is unfortunately intermittent when a node is suspended. It appears that, on occasion, the remote system quarantines the suspended node (which is correct), yet SBR doesn't always appear to act upon it.

Suggested steps:

[code]

I then sometimes see:

[code]

...and *sometimes* this seems to want to go on forever... other times, I

[2016-05-16 12:55] patriknw commented on #20531
Why would we quarantine a suspended node? Do you have the log of when that happens? Quarantining in a Akka Cluster should happen when the node is removed (after SBR downing), not earlier. It can also be quarantined if you overflow the system message delivery buffer (typical system messages are Watch and remote Deploy).

We need full logs to understand what is going on.

[2016-05-16 14:08] johanandren opened #20533 "Unidoc fails to compile implicit conversions in scaladsl Rejections"
Got this from unidoc when trying to release 2.4.5:

[code]

File compiles fine with just scalac from sbt (also clean + compile is fine).

Applied workaround in #20532 that hopefully can be reverted when someone figures this out

[2016-05-16 22:34] relgames opened #20534 "java dsl: handleRejections is not working"
Trying to write generic OPTIONS handler in Java DSL, but looks like handleRejections is not working properly. Trying with akka 2.4.4:
[code]
```curl -D -  http://localhost:8080/test -X POST``` fails with
[code]

[2016-05-17 01:07] ktoso opened #20535 "Simplify same Origin header checking (provide directive)"
As seen in:
https://github.com/playframework/play-websocket-java/pull/10/files#diff-9678430eb852d46dcd891c90a3dd1dfdR154

See https://tools.ietf.org/html/rfc6455#section-1.3 and http://blog.dewhurstsecurity.com/2013/08/30/security-testing-html5-websockets.html

Should be done via directive and reject using a new Rejection, defaulting to rendering a Forbidden response.

[2016-05-17 07:05] huntc commented on #20531
Just tried it again, different outcome this time, but perhaps similar. This time my third node (which was paused), thinks it still has a cluster, yet the other two nodes have marked it as unreachable.

I've got three machines: `172.17.0.2`, `172.17.0.3` and `172.17.0.4`. `172.17.0.4` is the one that I suspended.

From `172.17.0.2` I can see (Akka events only):

[code]

From `172.17.0.3` I can see:

[2016-05-17 09:06] patriknw opened #20537 "regression in 2.4.5 Props Creator check"
Reported by @guidomedina in https://groups.google.com/d/msg/akka-user/41msIs54NXU/yjsIqZ2rDQAJ

[2016-05-17 09:24] zorowonder commented on #20523
Reproducer:

Test code:

[code]

[code]

Operating Steps:
1.Run `RDSLeakNodeBTest`
2.Run `RDSLeakNodeATest`
3.When cluster's members are all [UP], Restart `RDSLeakNodeATest`
4.When cluster's members are all [UP] again, Stop `RDSLeakNodeATest`
5.Wait for `RDSLeakNodeBTest`'s log printing the info that describe marking Node A as Unreachable, may be a few seconds, and then Start `RDSLeakNodeATest`
6.

[2016-05-17 09:28] guidomedina commented on #20455
One idea:

During a node joining the cluster, the cluster can agree on an identifier for a node, a node can be identified with an `int` (4 bytes) and the actor can be identified with a `long` (8 bytes), both primitives rendering to a total of 12 byes.

The only problem there is to render the toString() of an actor's address.

[2016-05-17 09:31] guidomedina commented on #20455
Or maybe the node address part can be identified as an `int` and the path part keep it as is for now.

[2016-05-17 09:47] patriknw commented on #20531
Thanks for the logs. It's interesting that the resumed node can start talk to the others, and mark them as REACHABLE again.

[code]

What I would have expected is that it would have been quarantined when removed from the membership, but there are no signs of such quarantine in the logs.

Marking as a bug.

[2016-05-17 10:14] ktoso opened #20539 "FAILED: TCK VirtualProcessorSingleTest"
If I remember correctly this should not give false errors even though stochastic hm...
[code]

[2016-05-17 10:15] ktoso commented on #20539
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3827/consoleFull

[2016-05-17 10:16] ktoso commented on #20223
Again https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3827/consoleFull

[2016-05-17 10:17] ktoso commented on #20534
We've just released a major update of the JavaDSL, please upgrade – it should work fine with the new APIs: http://akka.io/news/2016/05/17/akka-2.4.5-released.html

[2016-05-17 10:57] stanch commented on #19681
Just tested and it is solved in `2.4.5`, great!

[2016-05-17 10:57] #19681 closed

[2016-05-17 11:12] ktoso commented on #19681
Thanks for testing, cheers!

[2016-05-17 11:27] marekzebrowski commented on #19359
+1 for optional, default close

[2016-05-17 22:29] kkasravi opened #20543 "GraphStage subtypes should not be private to akka"
New Materializers other than the ActorMaterializerImpl will need to look at the module tree. They will likely need to do this without fusing which will include many GraphStages now restricted as either private[akka] or private[stream].

[2016-05-18 11:44] patriknw commented on #20317
I started working on the bind failure scenarios, but have to stash that until next Aeron release. The API for checking subscription status is not released yet. This is what we need https://github.com/real-logic/Aeron/blob/master/aeron-driver/src/main/java/io/aeron/driver/status/ChannelEndpointStatusIndicator.java

[2016-05-18 11:45] patriknw commented on #20317
I added some basic logging of Aeron errors, so that we are not completely in the dark https://github.com/akka/akka/pull/20544

[2016-05-18 14:18] johanandren commented on #20466
Now this ticket is ready for some contributing!

[2016-05-18 14:20] johanandren opened #20548 "akka-osgi not part of release"
After simplifying the build in #20486 the akka-osgi module is no longer published to maven central.

It should be published but it should not be included in the dist zip.

[2016-05-18 14:21] johanandren commented on #20548
Originally removed from the dist here #813

[2016-05-18 15:36] johanandren commented on #20534
Corresponding routes with the new DSL does indeed work
[code]

I'll close this ticket.

[2016-05-18 15:36] #20534 closed

[2016-05-18 15:37] ktoso commented on #20534
Thanks a lot for checking @johanandren !
So glad we've improved so many things in the new one :-)

[2016-05-18 15:38] johanandren commented on #20521
Is it just about empty path? "abc" | "cde" and the other way around works?

[2016-05-18 16:23] samueltardieu opened #20550 "`recoverWithRetries` documentation does not match implementation"
From the Scaladoc, for parameter `attempts`:

From the source:

[code]

and

[code]

I would say that the documentation ought to be fixed rather than the source, given that it won't work with what is currently described anyway.

[2016-05-18 16:39] johanandren commented on #20514
Thanks for the contribution @ashugupt

[2016-05-18 16:39] #20514 closed

[2016-05-18 17:26] ztaoo opened #20552 "akka-http 2.4.5 send https post error sometimes."
i send https post to the third service Wechat Api, and somes i got error.
[code]

the error only happen under some certain condition,
i write some code to reproduce the error.

code here.
[click here](https://gist.github.com/ztaoo/e04ddc258c44f96bdf791574f4785d17)

run the ReproduceError class,
and launch a browser to visit http://localhost:40010/mpAuth/tests/index
click go to send test request.
a

[2016-05-18 17:36] kkasravi opened #20553 "Tree flattening should be separate from Fusing"
During fusing all GraphStages with AsyncBoundary attribute will create separate groups. These groups are bridged by BoundarySubscriber and BoundaryPublisher. However different materializers may not want to inline the nested computations (GraphStageLogic) done in GraphAssembly.materialize within these groups.

[2016-05-18 18:40] kkasravi commented on #20543
Originally we had the gearpump materializer and related classes in akka.stream - once we moved this out into its own package (org.apache.gearpump.akkastream) many classes within akka.stream had to have their package visibility changed. Is there a recommended practice? Do akka extensions have package namespaces that are under akka?

[2016-05-18 18:58] chadselph commented on #18919
I know this is part of the `experimental` package, but I didn't see anything calling out that moving from `segmentStringToPathMatcher` to `_segmentStringToPathMatcher` broke binary compatibility.

[2016-05-18 20:39] ktoso commented on #18919
No binary guarantees are made about experimental modules.
That's the single thing `-experimental` means.

What's your case that you got struck by the DLS part to have changed in such way btw?
The DSL project I'd imagine be mostly used in "end user" (as in, actual "app" which is rebuilt) setting in which you build when you bump.

It's documented on their page http://doc.akka.io/docs/akka/snapshot/e

[2016-05-18 21:15] ktoso commented on #20550
I agree, would you be able to help out by submitting a PR about this one?

[2016-05-18 21:22] relgames commented on #20534
Indeed, new API works fine. Thanks @johanandren for the example.

[2016-05-18 21:27] ktoso commented on #19617
Related to the sovled https://github.com/akka/akka/issues/19777 ?

[2016-05-18 22:14] ktoso commented on #20246
@johanandren do you remember if we fixed this already?

[2016-05-18 22:36] ktoso commented on #20249
Cleaning up tickets a bit, closing for now as obsolete.
Please re-open if concrete proposal at hand, thanks

[2016-05-18 22:37] #20249 closed

[2016-05-18 22:55] ktoso commented on #20456
Triaged but we won't work on it in the foreseeable future, please feel free to contribute!

[2016-05-18 23:01] samueltardieu commented on #20550
Created PR #20555.

[2016-05-18 23:04] relgames opened #20556 "akka-http-experimental 2.4.5 jar in maven central misses akka.http.javadsl.RoutingJavaMapping class"
https://github.com/akka/akka/blob/master/akka-http/src/main/scala/akka/http/javadsl/RoutingJavaMapping.scala is missing in the artifact deployed to Maven Central http://mvnrepository.com/artifact/com.typesafe.akka/akka-http-experimental_2.11/2.4.5

It causes java.lang.NoClassDefFoundError: akka/http/javadsl/RoutingJavaMapping$Implicits$ when trying to use complete(HttpResponse.create())

[2016-05-18 23:12] ktoso commented on #20366
Implemented 👍

[2016-05-18 23:12] #20366 closed

[2016-05-18 23:14] ktoso commented on #20392
Marking as triaged, though I have a suspicion it's more about the stage not being stopped at all – which is due to the specific closing semantics we have.

[2016-05-18 23:15] ktoso commented on #20392
Making as bug to have a look sooner rather than later

[2016-05-18 23:18] ktoso commented on #20007
We won't be able to focus on this ticket soon. Up for grabs! Anyone? :)

[2016-05-18 23:20] ktoso commented on #19740
Closing for now as obsolete

[2016-05-18 23:20] #19740 closed

[2016-05-18 23:20] ktoso commented on #19756
Another directive up for grabs!

[2016-05-18 23:21] ktoso commented on #19865
Mostly a documentation issue, also – may need benefit from a better mapAsync that's Actor aware (if it terminates etc - taking a Props)

[2016-05-18 23:25] ktoso commented on #19929
This piece of code would need `String => Int` and `Int => B`,
what does not work here?

Can you prep a reproducer?

[2016-05-18 23:26] ktoso commented on #19930
Nice one to contribute, would you be up to it? @kubukoz ?

[2016-05-18 23:31] ktoso commented on #19996
You _must_ consume the request entity! Otherwise back-pressure kicks in and stalls the clients from more requests as the server seems to be overloaded – that's actually a feature (yes really).

Change handler to:

[code]

This will be sovled by https://github.com/akka/akka/issues/18716

[2016-05-18 23:31] #19996 closed

[2016-05-18 23:40] ktoso commented on #20556
Thanks for reporting, we'll look into it

[2016-05-18 23:59] ktoso commented on #19225
Seems to bave been solved https://github.com/akka/akka/pull/20385

[2016-05-18 23:59] #19225 closed

[2016-05-19 00:07] #19159 closed

[2016-05-19 00:07] ktoso commented on #19159
Thanks for the pointer @wlk

[2016-05-19 00:08] #19426 closed

[2016-05-19 00:08] ktoso commented on #19475
Would be an excellent candidate for a contrib

[2016-05-19 00:09] ktoso commented on #19519
Resolved using the new DSL

[2016-05-19 00:09] #19519 closed

[2016-05-19 00:10] ktoso commented on #19588
I believe we point to ssl-config in most places now

[2016-05-19 00:10] #19588 closed

[2016-05-19 00:10] ktoso commented on #18716
Relates to https://github.com/akka/akka/issues/19602

[2016-05-19 00:11] ktoso commented on #19609
Please reopen if concrete proposal found

[2016-05-19 00:11] #19609 closed

[2016-05-19 00:21] ktoso commented on #19232
Still open, because of the implicit materializer mentioned above, right @drewhk ?

[2016-05-19 00:21] ktoso commented on #19263
We'd be happy to accept a PR adding the header I think - thanks for reporting!
Let us know if you (or someone else) would like to contribute

[2016-05-19 00:22] ktoso commented on #19258
I wonder If we have an opinion on this one, do you remember @sirthias @jrudolph?

[2016-05-19 00:22] ktoso commented on #19258
I guess I'd open up, if someone wants to do bad things they still can just create one via reflection

[2016-05-19 00:23] ktoso commented on #19294
Still needs work on better and complete docs

[2016-05-19 00:24] ktoso commented on #19359
Triaged, let's do it – should not be too hard. If someone is interested in contributing this one let us know!

[2016-05-19 00:25] ktoso commented on #19373
FYI, half closed stuff again @johanandren - WDYT?

[2016-05-19 00:26] ktoso commented on #19376
Closing as not actionable for now

[2016-05-19 00:26] #19376 closed

[2016-05-19 00:26] ktoso commented on #19376
Would be semi-solved by having the "blocking is happening, aaaa!" warning actor in the system like we discussed with @drewhk

[2016-05-19 00:27] ktoso commented on #19378
Would be very nice to see some contribs around this :)

[2016-05-19 00:29] ktoso commented on #18929
This is a rather simple directive one could contribute, it should transform the request entity by using extractEntity and withSizeLimit(...) on it.

[2016-05-19 00:30] ktoso commented on #18935
Marking as obsolete, won't currently work on it.

[2016-05-19 00:30] #18935 closed

[2016-05-19 00:30] ktoso commented on #18937
Yes, still needed

[2016-05-19 00:46] ktoso commented on #18990
This is basically the per request actor, closing as duplicate of https://github.com/akka/akka/issues/18569

[2016-05-19 00:46] #18990 closed

[2016-05-19 00:47] ktoso commented on #18994
Closing for now, should come out of normal performance investigatieon

[2016-05-19 00:47] #18994 closed

[2016-05-19 00:49] ktoso commented on #19001
This was done AFAICS

[2016-05-19 00:49] #19001 closed

[2016-05-19 00:51] ktoso commented on #19062
Exposing this more nicely can be useful, triaged

[2016-05-19 00:52] ktoso commented on #19093
I think this is solved, isn't it @johanandren ?

[2016-05-19 00:53] ktoso commented on #18653
Too late to remove it now,

[2016-05-19 00:53] #18653 closed

[2016-05-19 00:55] ktoso commented on #18788
Closing as we seem to do the right thing

[2016-05-19 00:55] #18788 closed

[2016-05-19 00:55] ktoso commented on #18733
Nice idea, would be a cool contrib

[2016-05-19 00:57] ktoso commented on #18678
We should revisit this question given the new DSL

[2016-05-19 00:57] ktoso commented on #18660
Any help on this front would be crazy awesome :)

[2016-05-19 00:58] ktoso commented on #18649
Triaged to mark I've gon through here, however we won't work on it - up for grabs

[2016-05-19 00:59] ktoso commented on #18617
Any help on documenting this anyone? Would be lovely!

[2016-05-19 01:00] ktoso commented on #18570
Handling file upload sovled by https://github.com/akka/akka/issues/16841

[2016-05-19 01:00] #18570 closed

[2016-05-19 01:03] ktoso commented on #18571
Something like that looks to be in the direction of the right thing :) get it to compile and please contribute a docs example? That would be awesome if you could :)

[2016-05-19 01:05] ktoso commented on #18586
I believe this is solved

[2016-05-19 01:05] #18586 closed

[2016-05-19 01:06] ktoso commented on #18592
Yes we still want this

[2016-05-19 01:07] #18595 closed

[2016-05-19 01:07] ktoso commented on #18595
Don't mind as much actually hm

[2016-05-19 01:09] ktoso commented on #18551
Very simple documentation ticket - look at the sample of running HTTPS and explain that running "both" means running two servers (binding twice)

[2016-05-19 01:09] ktoso commented on #18550
IF... we decide to make it actual API.
Still to be decided.

[2016-05-19 01:11] ktoso commented on #18549
AFAIR @wsargent looked into something similar in his "check the origin header" fixup in the Play websocket examples recently?

[2016-05-19 01:12] ktoso commented on #18549
Thus would be addressable by https://github.com/akka/akka/issues/20535

[2016-05-19 01:15] ktoso commented on #18540
Triaged. Also, one of the things which might impact our behaviour in raw throughput benchmarks I think.

[2016-05-19 01:16] ktoso commented on #18530
Hi @lomigmegard, sorry that this issue fell through the cracks!
Yes I think it would be pretty cool if we could point towards your project in the official docs even - would you like to submit a PR adding it to the docs?

[2016-05-19 01:18] ktoso commented on #18511
Closing behaviours have been worked on and we'll do some more, closing as not actionable per-se here

[2016-05-19 01:18] #18511 closed

[2016-05-19 01:25] ktoso commented on #18484
Yes, still one of the main questions.
Demands it's own docs page

[2016-05-19 01:40] ktoso commented on #20145
Closing since new JavaDSL dropped this class

[2016-05-19 01:40] #20145 closed

[2016-05-19 01:42] ktoso commented on #16862
// No promises yet, marking for internal planning session.

[2016-05-19 06:00] chadselph commented on #18919
We have an internal framework which depends on akka-http, one feature it provides is an admin interface, based on dropwizard's admin. There's a `/healthcheck` endpoint that used the  Scala routing DSL. Since the implicit was renamed, the when a downstream end user project upgraded to 2.4.5 and the library was still built against 2.4.4, we got a `segmentStringToPathMatcher` method not found excepti

[2016-05-19 06:41] johanandren commented on #19093
Well, not really, no docs added and no directive for it. (http://doc.akka.io/docs/akka/2.4.5/scala/http/routing-dsl/index.html#File_uploads)

[2016-05-19 06:45] johanandren commented on #19373
Not sure I have an opinion, seems hard to get right, and this one in particular probably won't cause problems for many people. Maybe just make sure to document that this is how it works, unless someone wants to contribute a solution?

[2016-05-19 06:52] johanandren commented on #20246
I don't think this was fixed, I think we repeated checks for the same behavior for the Java DSL.

[2016-05-19 07:16] 2beaucoup commented on #19001
Doesn't `SlotProcessor` still `extends ActorSubscriber with ActorPublisher`?

[2016-05-19 07:18] johanandren commented on #20556
Can confirm that the class-file is missing from the artifact on maven central :(

[2016-05-19 07:42] hseeberger commented on #19378
@ktoso, are you suggesting to add documentation on how to use akka-http-json, e.g. for Circe?

[2016-05-19 08:08] ktoso commented on #19378
Yes, I think let's embrace that

[2016-05-19 08:12] hseeberger commented on #19378
Cool. I put it into my backlog.

[2016-05-19 08:16] johanandren commented on #20556
The reason for the omission is the osgi-plugin silently deleting things that are not marked as exports in the OSGi config.

We will provide a 2.4.6 release with this short-term fixed. Long term I think we should PR the OSGi plugin to fail rather than silently drop files.

[2016-05-19 08:28] drewhk commented on #20553
Hm, I am not sure I completely understand this ticket. Can you draw a simple image an attach it so we are surely on the same page? Thank you in advance!

[2016-05-19 09:26] jypma opened #20559 "[akka-testkit] JUnitRouteTest has dependency on scalatest, and is Serializable"
Since 2.4.5, `JUnitRouteTest` pulls in the trait `JUnitSuiteLike` from scalatest. This has two (unintended?) side-effects:

1. Projects using `JUnitRouteTest` must declare a dependency on scalatest themselves, since it's not a declared compile dependency for akka-testkit (apparently).
2. All Java test classes now are marked `Serializable` (since `Suite` is), triggering compiler warnings by default

[2016-05-19 09:27] johanandren commented on #20559
@ktoso ;(

[2016-05-19 09:45] #20550 closed

[2016-05-19 09:48] wlk commented on #20521
I have updated example: https://github.com/wlk/akka-routing-bug/blob/master/src/main/scala/Main.scala

Problem exists only when first path matcher is `""`

[2016-05-19 10:41] #20548 closed

[2016-05-19 11:45] patriknw opened #20561 "handle Aeron exceptions"
Collecting more error scenarios here.

[2016-05-19 11:51] patriknw commented on #20561
Should handshake attempts to non-existing destination be stopped?
For example when joining non-existing seed-node the handshake attempts will continue forever (or until the destination is available).

Perhaps we can make the materialization of outbound stream lazy until next message is sent, after a stream restart.

[2016-05-19 11:52] #20556 closed

[2016-05-19 12:01] drewhk opened #20562 "Remove `.async` in Artery inbound pipeline"
It seems to actually reduce performance on my machine. By fusing together the Source with the rest of the pipeline actually enables it to become basically part of the receive loop. Also, I guess this means that there is no cache miss when decoding the EnvelopeBuffer. Currently I did not change anything to not invalidate the effects of my other changes.

[2016-05-19 12:21] mattelacchiato opened #20563 "Docs: Streams: Feedback loop in "Composing complex systems""
In ["Composing Complex Systems"](http://doc.akka.io/docs/akka/2.4.5/scala/stream/stream-composition.html#Composing_complex_systems), there are code examples which lead into a feedback loop. Since C and F are Merge Modules, C always sends an element to F, which always sends this element to C, and so forth...

Example Code:

[code]

[2016-05-19 12:28] patriknw commented on #20561
when suspending a process `kill -STOP` and resuming `kill -CONT` it after the Aeron liveness timeout we get the following exception repeatedly:

[code]

[2016-05-19 14:28] ktoso commented on #16591
FYI, we core team won't be available to implement this feature, we're very much looking forward to PRs about it though!
There's plenty of ideas in this thread, please ping and discuss if you'd like to give it a shot :)

[2016-05-19 16:02] cppexpert commented on #16591
For those who is interested in having Swagger documentation for their akka services I can say that after trying a lot of semi-automatic ways I ended up using http://editor.swagger.io. Yes, you need to manually maintain `yaml` but it's cheaper and faster than dealing with bugs of Swagger reflection and other issues.

[2016-05-19 16:16] Silv3rcircl3 opened #20564 "GraphDsl should ignore materialized values from builder.add calls"
If I didn't provide any shape via ```GraphDsl.create``` the expected type of the materialized value is ```NotUsed```, the problem occurs if I add for a example a ```Sink.foreach``` with the first ```builder.add``` call.

[code]

this throws with

[code]

If you switch the add calls for the sink and source it's working because the source provides the expected materialized value.

[2016-05-19 16:36] ktoso opened #20565 "Documentation page explicitly about binary compat rules"
Suprisingly, we do not have it in the docs, only lingering around in release notes.

- http://akka.io/news/2015/09/30/akka-2.4.0-released.html from 2.4 onwards our rules. Which is even more compatible than we used to be normally (2.4 is bin-compat with 2.3 which previously was not required – the next 2.5 will be binary compatible with 2.4 as well!)
- experimental rules http://doc.akka.io/docs/akka

[2016-05-19 16:41] rleibman commented on #20007
I'd like to take a look at it. Would you mind telling me what you have in mind and any implementation ideas you have?

[2016-05-19 17:55] ktoso commented on #20521
Would be awesome if you could give it a shot, we're focused on some other areas right now.
Let me know if you need guidance :)

[2016-05-19 17:56] patriknw opened #20566 "failed: akka.remote.artery.RemoteRestartedQuarantinedSpec"
Note that this was with Artery.

https://jenkins.akka.io:8498/job/akka-artery-repeat/19/consoleFull

[2016-05-19 18:14] patriknw opened #20567 "Wrong dispatcher inhabitants count"
[code]

[2016-05-19 19:10] kubukoz commented on #19930
Seems like something I can do :)

[2016-05-19 19:11] kubukoz commented on #19929
Hmm... maybe it changed since I submitted. I'll see soon-ish

[2016-05-19 19:38] patriknw opened #20568 "originAddress needed to initiate new handshake after restart of receiving system"
Right now we fake it by using the address of the `sender: ActorRef` .
`UniqueAddress(sender.path.address, headerBuilder.uid)` in `Decoder`.

Accidentally (I believe) it is currently also working with the sender address when there is no sender, because we use `deadletters` of the sending system, which is not correct.

There is a test for this scenario: `HandshakeRestartReceiverSpec`

[2016-05-19 20:40] ktoso commented on #19093
I see, reopening thanks

[2016-05-19 20:41] ktoso commented on #20246
Thanks for checking!

[2016-05-19 20:55] relgames commented on #20556
Thanks, version 2.4.6 works.

[2016-05-19 21:31] ktoso commented on #20556
Thanks a lot for checking and reporting!
Sorry for the trouble caused, we'll improve our pre-release testing process to avoid such problem to happen ever again.

[2016-05-19 21:32] kubukoz commented on #19929
[code]
The higlighted part gives me this:

[code]

Which means the second `as` expected a `FSU` and got, well, you know what :)

[2016-05-19 21:33] kubukoz commented on #19930
Depends on #19929 - right now it would only be acceptable if `i` was a `String`

[2016-05-19 22:08] ktoso commented on #19929
This should be fixable, the first as must return a new type, and there has to be a different `as` on that one to allow the chaining :)

We won't be able to focus on that part of the APIs right now, so if you would be able to contribute that'd be awesome. I'm available to help / guide / review, just let me know :)

[2016-05-20 00:44] Falmarri opened #20570 "Unexpected disconnect when server sends connection: close"
[code]

This is the code

[code]

[2016-05-20 07:07] 2beaucoup commented on #20570
What's the outcome? How many responses do you actually receive?

[2016-05-20 07:28] johanandren opened #20571 "Allow a separate stream for large messages"
With the current remoting we pretty often have seen people send very large messages and having problems because of that affecting their regular messages (something like "head-of-line" blocking).

With Artery this is already improved in that system messages will go over a separate stream, so that heart beats and such messages are not delayed by regular messages.

An additional improvement would be

[2016-05-20 07:31] 2beaucoup commented on #20570
Do you have additional settings configured (like i.e. pipelining)?

[2016-05-20 08:23] drewhk commented on #20568
Yep, there are some hacks there.

[2016-05-20 08:25] drewhk commented on #20564
Thanks for reporting!

[2016-05-20 09:03] MichaelZinsmaier opened #20573 "Potential Bug(s) in the Delay Flow"
Dear Akka Team,

we might have found two bugs in the Delay Flow.

Setup:
Delay flow with buffer size set to 10, delay set to 1 second and backpressure strategy
Source (1 to 10)

Expected Result:
it takes roughly 1-2 seconds for the flow to complete (all 10 elements are delayed, each by 1 second
but since the buffer is large enough the delays do not sum up)

Observed Result: **Bug 1**
it takes roug

[2016-05-20 09:15] drewhk commented on #20573
As for Bug2, the internal buffer size is always set to a power of two AFAIK, but that should not be an issue as it should not use more than 10 elements. As for Bug1, that seems to be real. We need to check it.

[2016-05-20 09:22] MichaelZinsmaier commented on #20573
wow that was fast (-:

-> Bug2 I was suspecting some power of two explanation as well but

with this flow
`val delay = Flow[Int].delay(1.second, DelayOverflowStrategy.backpressure)
      .withAttributes(Attributes.inputBuffer(initial = 1000, max = 1000))`

Delay still sets the `size `to 16 in the constructor because the inheritedAttributes contain
a InputBuffer(1000,1000) and afterwards an InputBu

[2016-05-20 09:45] johanandren opened #20576 "Measure how big-message-stream affects latency"
for regular messages when large message stream is not enabled and when it is, Add to `LatencySpec`.

[2016-05-20 09:53] drewhk commented on #20573
There are multiple buffers involved here, and inputBuffer is not the same as the one that delay uses internally. The inputBuffer attribute is only used if there is an async boundary, otherwise ignored.

[2016-05-20 10:39] patriknw opened #20577 "send PriorityMessage over control stream"
We should have configuration for priority messages (heartbeats) similar to the large messages that will make them go over the control stream. Since we have dedicated streams it's better to select this per destination and don't mess with message ordering, instead of selecting it by the message type as in old remoting.

[2016-05-20 10:44] #20571 closed

[2016-05-20 12:20] #20323 closed

[2016-05-20 12:20] patriknw commented on #20317
more scenarios will be handled by other tickets

[2016-05-20 12:20] #20317 closed

[2016-05-20 12:21] #20313 closed

[2016-05-20 12:21] #20312 closed

[2016-05-20 13:32] ktoso opened #20580 "FAILED: DontLeakActorsOnFailingConnectionSpecs"
showed up again

[code]

[2016-05-20 14:47] #20565 closed

[2016-05-20 14:58] johanandren opened #20581 "Overloading problems with ActorMaterializerSettings.withSupervisionStrategy"
There are two `withSupervisionStrategy` on `ActorMaterializerSettings`
one accept `Supervision.Decider` which is an alias for `Throwable => Directive`
the other one is for Java, and accepts `japi.Function[Throwable, Directive]`
`Supervision.stoppingDecider` and friends are `Decider with japi.Function[Throwable, Directive]` which fulfills both method signatures, so to call them one needs to add a t

[2016-05-20 15:00] johanandren opened #20582 "SupervisionStrategy from ActorMaterializerSettings not inherited"
I would have expected that if I specify a supervision strategy in the ActorMaterializerSettings that would be among the inheritedAttributes (maybe I have misunderstood the purpose of it).

This gist show it:
https://gist.github.com/johanandren/631c9fdf7933fed7fd2bd6fdd15e11a0

Prints `false` when I would have expected `true`.

[2016-05-20 15:09] 2beaucoup commented on #20582
Fixed working gist here: https://gist.github.com/2beaucoup/f2c2c5e1ef728451fe1f6bc66b1a598d.

This can be closed.

[2016-05-20 15:56] johanandren commented on #20582
Ah, of course, I was in way to much hurry to do that kind of "throw-something-together" just to check. Thanks @2beaucoup

[2016-05-20 15:56] #20582 closed

[2016-05-20 17:03] johanandren opened #20583 "Prevent OSGi from filtering out classes when releasing"
To prevent the big fiasco of missing classes in 2.4.5 from ever happening again we should make the build fail or just not omit classes.

[2016-05-20 17:08] johanandren commented on #20583
I first started out investigating if we could make the sbt-osgi plugin fail when omitting files rather than silently dropping them but I think that it is because of us configuring `OsgiKeys.privatePackage` to be `akka.osgi.impl` rather than leave as default. If it is default omitted classes will be included but not available as public API (which I think had helpled with the 2.4.5-problem).

Maybe

[2016-05-20 17:50] Falmarri commented on #20570
No additional settings. Outcome is an excetion:

[code]

Usually after only 4-5 requests, but it's not predictable.

[2016-05-20 21:40] 2beaucoup commented on #20570
Try to increase `host-connection-pool.max-connections` . Replies with `Connection: close` close the connection so they cannot be reused.

[2016-05-20 22:18] Falmarri commented on #20570
I understand that they close the connection. Shouldn't akka be responsible for maintaining its connection pool in a state that is usable? Are you saying that my code as it exists above shouldn't be expected to work?

[2016-05-20 23:10] Falmarri commented on #20570
Also, the same issue happens no matter what the max-connections size is (although I haven't tried setting it > 1000)

[2016-05-21 16:10] relgames commented on #19162
Not fixed, unfortunately. Just got it again. Strange thing is, it started to happen after some time... I restarted the service and NPE is gone.

[code]

[2016-05-21 16:12] relgames commented on #19162
Not fixed, unfortunately. Just got it again with Akka 2.4.6.
Strange thing is, it started to happen after some time... I restarted the service and NPE is gone.

[code]

[2016-05-21 19:30] Hawstein commented on #20466
I make a PR for the CookieDirectives example snippet. If that is OK, I will go on for the BasicDirectives.

[2016-05-21 20:23] patriknw commented on #20466
Sounds great, thanks

[2016-05-22 03:12] Hawstein commented on #20581
So maybe giving them different names solves this problem?

[2016-05-22 12:35] ktoso commented on #20581
Fixing it properly would break binary compatibility as we remove one of the use case...
But let's deprecate one of the overloads and add a new method that fulfils its purpose with a different name

[2016-05-22 17:03] fagossa commented on #20466
I made a PR for the [scheme directive](https://github.com/akka/akka/pull/20586)

[2016-05-23 05:59] patriknw commented on #20566
https://jenkins.akka.io:8498/job/akka-artery-perf/81/consoleFull

[2016-05-23 06:13] patriknw opened #20587 "Artery configuration"
Define settings classes and configuration.

Also configuration of Aeron settings.

We should also consider if we can have a few high level settings for choosing between different trade-offs, e.g. low latency vs. cpu usage. Low level settings should be derived from these high level settings.

[2016-05-23 06:15] patriknw opened #20588 "support external Aeron media driver"
Both embedded and external media driver should be supported.

[2016-05-23 06:26] patriknw opened #20589 "blackhole in remote testkit for Artery"
blackhole is something we use in many tests, so that is the most urgent feature that we need to add for Artery

[2016-05-23 08:32] #20229 closed

[2016-05-23 09:15] patriknw commented on #20531
I'll try to reproduce this one

[2016-05-23 09:33] drewhk commented on #20523
Yes, the problem seems real. Thank you for reporting and the very detailed analysis!

[2016-05-23 09:44] Joe-Edwards commented on #20570
I think this is related - if not I'll raise a separate ticket.

I've recently been running a test which sends several requests (using the default connection pool) where the response contains a 'Connection: close' (caused by an early response, but I don't think that's important).

Even if I put a _10 second_ sleep between each request (giving the connection pool plenty of time to discard the closed

[2016-05-23 09:57] ktoso commented on #20570
"This far apart" does not quite describe the situation though, since there are internal buffers between stages requests may be in buffers when the connection gets closed.

Issue worth investigating in any case.

[2016-05-23 09:58] ktoso commented on #20570
I'm not convinced it's a "bug", but want to work on it soon to determine that, and if we can do better than currently.

[2016-05-23 10:12] drewhk commented on #20573
Taking this one.

[2016-05-23 10:21] patriknw commented on #20531
It's easy to reproduce with `kill -STOP` / `kill -CONT`. Here is some more detailed logs where 2553 is paused.

on 2551:
[code]

on 2553 (the paused node):
[code]

In the end heartbeat replies from 2551 pass through the quarantine and 2553 receives those messages. Yet another quarantining issue.

[2016-05-23 10:50] ktoso commented on #20466
Awesome, thanks @fagossa!
1 down, 124 to go...! :-)

[2016-05-23 11:19] hseeberger opened #20590 "FileIO.fromPath should return IOResult with failure status"
The following code can be used to reproduce the issue:

[code]

Instead of an `IOResult` with a `status` holding a `Failure` with a `FileNotFoundException` or such, the `status` is `Success(Done)` (and the `count` is `0`).

[2016-05-23 12:02] 2beaucoup commented on #20581
The scala API should be changed to just return a `Decider` ISO `Decider with japi.Function[Throwable, Directive]` but this is not BC. :(

[2016-05-23 13:24] ktoso commented on #20408
I'll take this over

[2016-05-23 13:32] ktoso commented on #20408
This indeed seems to be duplicate of #20271 and is solved since Akka 2.4.5

[2016-05-23 13:32] #20408 closed

[2016-05-23 13:34] ktoso commented on #20214
Thanks a lot for the comment @nodefactory-bk and sorry I took so long to loop back to this one, was crunching tickets.
Adjusting message now

[2016-05-23 14:02] fagossa commented on #20466
@ktoso The `scheme-directives/extractScheme.rst` directive is also shown in [the example](https://github.com/akka/akka/pull/20586/files); so, I think that makes _2 down, 123 to go_!!

BTW I'm working on some other examples

[2016-05-23 14:04] ktoso commented on #20466
Hah! You're right, awesome :)
Thanks a lot for your help!

[2016-05-23 14:17] felipefzdz commented on #20466
I'll be working on the ones contained in *RespondWithDirectivesExamplesSpec*. `respondWithHeader`, `respondWithDefaultHeader`...

[2016-05-23 14:35] ktoso opened #20592 "All versions of JavaDSL complete* should take marsaller to RequestEntity"
Reported by Daniel from Ocado here: https://groups.google.com/forum/#!topic/akka-user/CmEdLj62gj4

[2016-05-23 15:49] ktoso commented on #20466
Great, thanks @felipefzdz !

[2016-05-23 18:25] Falmarri commented on #20570
@ktoso how could this not be a bug? So you're saying that if a server sends a connection: close, we shouldn't be expected to be able to reliably consume the entity?

[2016-05-23 18:49] ktoso commented on #20570
Only thing I'm saying is I haven't had the time to actually sit down and focus on this issue, so I have to do that. I marked it as a bug do to exactly that ;)

[2016-05-23 18:50] Falmarri commented on #20570
@ktoso gotcha

[2016-05-23 19:05] Sushisource opened #20597 "BackoffSupervisor does not respect maxNrRetries or withinTimeRange of provided supervisor strategy"
Here is an example BackoffSupervisor props:

[code]

This will retry indefinitely if the "RetryableException" is thrown every time. This behavior is undocumented and non-obvious, if not an outright bug (which I think it is).

The reason it doesn't work appears to be in BackoffOnRestartSupervisor, where the decider's "retry" is translated into "Stop" no matter what. This means the strategy is never

[2016-05-23 19:12] gmethvin opened #20598 "Streams documentation for 1.0 doesn't link to 2.x equivalents"
For example, on http://doc.akka.io/docs/akka-stream-and-http-experimental/1.0/scala/stream-cookbook.html, the link at the bottom to the latest docs should link to http://doc.akka.io/docs/akka/2.4.6/scala/stream/stream-cookbook.html. Instead it just links back to the home page.

This is particularly annoying because only the older versions seem to appear on Google search for many search terms.

[2016-05-23 21:24] sjulias opened #20600 "Potential bug in managing number of connections in akka-http sever"
I'm evaluating akka-http
dependencies:

      scalaVersion := "2.11.7"
      "com.typesafe.akka" %% "akka-actor" % "2.4.6",
      "com.typesafe.akka" % "akka-http-experimental_2.11" % "2.4.6"

The code look like as following:

       object StatsRepo{
         val totConn = new AtomicInteger(0)
         val concReq = new AtomicInteger(0)
         val currOpenConn = new AtomicInteger(0) // how to c

[2016-05-23 23:28] ktoso commented on #20598
Yeap I agree, would be good to fix... it involves some index perhaps... so a bit of pain to set it up.
Hopefully we'll be able to tell google somehow to stop directing to 1.0 hm

[2016-05-24 06:22] patriknw opened #20601 "failed: FileAndResourceDirectivesSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6269/consoleFull

[code]

[2016-05-24 06:35] 2m commented on #20539
Duplicate of #20224

[2016-05-24 06:35] #20539 closed

[2016-05-24 06:36] 2m commented on #20224
https://jenkins.akka.io:8498/job/akka-multi-node/1541/consoleFull

[2016-05-24 06:37] 2m commented on #20580
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3846/consoleFull

[2016-05-24 06:42] 2m opened #20602 "FAILED: ResponseRendererSpec"
[code]

https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/358/consoleFull

[2016-05-24 07:35] 2beaucoup commented on #20570
This test added to `akka.http.impl.engine.client.ConnectionPoolSpec` succeeds:
[code]
Output: https://gist.github.com/2beaucoup/f5a70733dedadf17a1f425287370a73f

[2016-05-24 07:46] FrankvanMeeuwen commented on #19617
It indeed seems to be related as it also has to do with the server closing the connection. Unfortunately it is hard for me to reproduce locally, but I will try if the latest akka version fixes this for the client.

[2016-05-24 08:45] jypma commented on #20592
As a workaround, wrap the marshaller using [`entityToOKResponse`](https://github.com/akka/akka/blob/master/akka-http/src/main/scala/akka/http/javadsl/server/Marshaller.scala#L81).

[2016-05-24 09:12] ktoso commented on #20288
`DelimiterFramingStage` done, thanks @richard-imaoka !

[2016-05-24 09:20] ktoso commented on #20288
`LengthFieldFramingStage` done, thanks @zhxiaogg!

[2016-05-24 09:21] #20463 closed

[2016-05-24 09:36] #20601 closed

[2016-05-24 09:48] notxcain opened #20606 "Inconsistent signature of Flow#recoverWithRetries"
We discussed this issue at [Gitter](https://gitter.im/akka/akka?at=57422b0cff441ca333d3e87a).

It feels like recovery function should be inside separate argument group, i.e.
[code]
looks much better than
[code]

[2016-05-24 09:52] notxcain commented on #20606
I can take this one. Should I mark current signature as deprecated?

[2016-05-24 09:54] ktoso commented on #20606
Sadly it's not easy to fix in a compatible way–we can't just change the signature now.

It would be **binary** compatible, but wouldn't be **source** compatible, as:

[code]

have exactly the same representation in byte code, but we'd break existing users of the method.

So I agree it's an unfortunate mistake, and we should fix it, but without adding a new name for it we can't do so before Akka 3.

[2016-05-24 09:59] notxcain commented on #20606
Right. Well it happens :)

[2016-05-24 10:13] ktoso commented on #20479
Solved by @richard-imaoka in https://github.com/akka/akka/issues/20367

[2016-05-24 10:13] #20479 closed

[2016-05-24 10:22] ktoso opened #20607 "FAILED: DeflateSpec, timing issue"
[code]

https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6278/consoleFull

[2016-05-24 11:10] #20537 closed

[2016-05-24 11:12] ktoso opened #20608 "Explain RejectionHandler in docs"
It should be documented that RejectionHandler can be used to change HttpResponse if a rejection happens.

This relates to Route.seal

[2016-05-24 11:16] Joe-Edwards commented on #20570
My minimal example looks like: https://gist.github.com/Joe-Edwards/f5d8c067997ad56cfe6b209b0ef0a598

The output varies, but something like

[code]
Particularly weird is that the _first_ request doesn't succeed - suggesting it's nothing to do with connection recycling. I haven't investigated whether triggering the connection close by other means causes the same behaviour.

[2016-05-24 11:24] Hawstein commented on #20466
Working on BasicDirectives now.

[2016-05-24 11:25] ktoso commented on #20466
Awesome, thank you!

[2016-05-24 11:36] patriknw commented on #20597
I agree, that is confusing. The ordinary restart counting is implemented in `ChildRestartStats`, perhaps it is possible to reuse that in the `BackoffOnRestartSupervisor`? @Sushisource Would you be interested in contributing this improvement?

[2016-05-24 11:41] patriknw commented on #20590
@hseeberger thanks for reporting, will you be able to contribute to fix this issue?

[2016-05-24 11:53] Hawstein commented on #20466
Really glad to contribute to Akka. Thanks for providing such a convenient way to contribute to it.

[2016-05-24 12:02] patriknw commented on #20563
Thanks for reporting, @mattelacchiato. Would you like to contribute to improve this example?

[2016-05-24 12:03] #20492 closed

[2016-05-24 12:08] #15426 closed

[2016-05-24 12:10] #15988 closed

[2016-05-24 12:10] patriknw commented on #15988
we might revisit once we have a problem with the current approach, but right now it just works

[2016-05-24 12:12] patriknw commented on #15823
@drewhk is this still a problem, or close?

[2016-05-24 12:14] jypma opened #20610 "Java DSL RouteTest imports the wrong RouteResult type"
When extending `akka.http.javadsl.testkit.RouteTest`, implementers are required to import part of the scala DSL. This is because `RouteTest` imports `akka.http.scaladsl.server.RouteResult`, which appears on the abstract `createTestRouteResult` method.

It should probably import `akka.http.javadsl.server.RouteResult` instead.

[2016-05-24 12:14] #15862 closed

[2016-05-24 12:15] #16350 closed

[2016-05-24 12:17] patriknw commented on #16223
@ktoso this was what you fixed, right? please close if that is the case

[2016-05-24 12:17] ktoso commented on #16223
Oh, great we had a ticket for it :)
Yes, it's disabled now.

[2016-05-24 12:17] #16223 closed

[2016-05-24 12:20] patriknw commented on #16256
This was fixed in https://github.com/akka/akka/pull/20478 duplicate of https://github.com/akka/akka/issues/18818

[2016-05-24 12:20] #16256 closed

[2016-05-24 12:21] #16619 closed

[2016-05-24 12:22] drewhk commented on #20074
I close this now.

[2016-05-24 12:22] #20074 closed

[2016-05-24 12:23] drewhk commented on #18157
@patriknw This have not happened in a very long while, do you think this is still relevant?

[2016-05-24 12:23] ktoso commented on #20610
Would you be able to help out on this one? Thanks in advance!

[2016-05-24 12:25] patriknw commented on #16495
this is now a duplicate of https://github.com/akka/akka/issues/20256 keeping this one

[2016-05-24 12:26] patriknw commented on #20256
duplicate of https://github.com/akka/akka/issues/16495

[2016-05-24 12:26] #20256 closed

[2016-05-24 12:28] drewhk commented on #15823
This is still a problem that test is AFAIK is still disabled.

[2016-05-24 12:28] patriknw commented on #16738
To be decided if they are needed, or should be replaced by ordinary actor. We have used extensions in many places where there is a need for some shared thread-safe component, so I don't see that an actor can replace that.

[2016-05-24 12:35] ktoso opened #20613 "logging selfRoles during node unreachable and quarantined"
To track https://github.com/akka/akka/pull/20542

[2016-05-24 12:35] #20613 closed

[2016-05-24 12:42] jypma commented on #20610
Done. Hope it compiles :)

[2016-05-24 12:56] ktoso commented on #20580
Again

[code]

[2016-05-24 13:01] ktoso commented on #20602
@sirthias @jrudolph I'm digging into the `ResponseRendererSpec` and am somewhat iffy about the

[code]

part of the assertion... Seems to be inherently racy. Do you think we can drop this check or shouldn't?
For requests which `Connection: close` we could check that it closes but not for the other ones, WDYT?

[2016-05-24 13:02] 2beaucoup commented on #19395
Is this solved by `statefulMapConcat`?

[2016-05-24 13:13] drewhk commented on #19395
yes. Also, if someone wants to make a ready-made version of this, the right place would be: https://github.com/akka/akka-stream-contrib

[2016-05-24 13:13] #19395 closed

[2016-05-24 13:14] drewhk commented on #19395
Added a ticket there instead.

[2016-05-24 13:20] #20592 closed

[2016-05-24 13:25] #16980 closed

[2016-05-24 13:31] patriknw commented on #18157
hm, perhaps not, I guess we will see it again if that is the case

[2016-05-24 13:31] #18157 closed

[2016-05-24 13:31] MichaelZinsmaier commented on #20573
thanks! looks like this solves the problems we ran into can't wait for 2.4.7 (-:

[2016-05-24 13:31] patriknw commented on #15823
ok, thanks

[2016-05-24 13:44] drewhk commented on #20224
The failure is real. This is one of the issues with CAS loops :/ The generic pattern that causes these kind of errors is:
 1. attempt atomic state change by CAS loop
 2. after state change, fire side-effect

Our failure case is this:
 1. in the `subscribe` method of `VirtualProcessor`, when we have already have an upstream subscription, we finally CAS into the state `Both`.
 2. After the successfu

[2016-05-24 14:11] #20573 closed

[2016-05-24 14:11] drewhk commented on #20573
Fix merged.

[2016-05-24 14:22] #17288 closed

[2016-05-24 16:06] hseeberger commented on #20590
@patriknw, will give it a try ...

[2016-05-24 16:25] Sushisource commented on #20597
@patriknw I would be happy to contribute. I haven't signed the agreements yet, which I'll need to get approved if I do this from work. Otherwise I'll just do it personally at home. Either way I'll check back in when I begin.

[2016-05-24 17:14] hseeberger commented on #20590
@patriknw, done: #20620

[2016-05-24 17:53] patriknw commented on #20597
great, thanks

[2016-05-24 17:55] #20607 closed

[2016-05-24 19:40] ktoso commented on #20214
Changed ticket title and yes, sadly there was one more missing step to allow per-connection changes of that kind. Have an ugly draft which I'll polish over the next days.

[2016-05-24 19:48] danxmoran commented on #20288
Sorry I've dropped the ball a bit on `RestartTestStage` and `OneToManyTestStage`, my free time got squashed for a few weeks.  I should have time to dig into it again starting tonight!

[2016-05-24 20:34] ktoso commented on #20288
Woot, welcome back :-)

[2016-05-24 21:17] ktoso opened #20622 "Document the Raw URI option in reference docs"
I'm not sure if we mention it in the reference documentation, likely not.

Description would pretty much be simply a rewording of:

[code]

[2016-05-24 21:56] richard-imaoka commented on #20608
Hi,
Looking at the ["Routes" doc](http://doc.akka.io/docs/akka/2.4.6/scala/http/routing-dsl/routes.html#routes) and the ["Rejections" doc](http://doc.akka.io/docs/akka/2.4.6/scala/http/routing-dsl/rejections.html#rejections), it seems this is somewhat already documented. Did you mean to add more explanation?

Otherwise, add some more examples in ["handleRejections" doc](http://doc.akka.io/docs/akk

[2016-05-24 22:07] ktoso commented on #20608
Hm, perhaps it's more about adding an explicit example about this story:

[code]

:point_up: [May 20, 2016 12:37 AM](https://gitter.im/akka/akka?at=573e4023ff441ca333d32d51)

@Mullefa wanted to contribute it actually if given enough hints, let me know what's unclear and we'll help out :) There's a good point to start here https://github.com/akka/akka/blob/master/CONTRIBUTING.md

[2016-05-24 22:53] richard-imaoka commented on #20598
I found there are ways to [remove](https://support.google.com/webmasters/answer/6332384?hl=en) the old version from Google, particularly [block search indexing with meta tags](https://support.google.com/webmasters/answer/93710).

However, if the newest version of the doc is not indexed by Google, the doc is completely gone from Google. When a new version of doc is deployed, does Akka notify Google

[2016-05-24 22:55] ktoso commented on #20598
Technically we always want people to look at "current" http://doc.akka.io/docs/akka/current/scala.html

And you'll notice we do this trick too:

[code]

Both good ideas Richard, let's see if we can use them :)

-- 
Konrad `ktoso` Malawski
Akka @ Lightbend

On 23 May 2016 at 21:22:06, Greg Methvin (notifications@github.com) wrote:

For example, on http://doc.akka.io/docs/akka-stream-and-http-experi

[2016-05-24 23:10] richard-imaoka commented on #20598
It's best if Google can move the newest doc highest in its rank, but I guess that is probably difficult :|

I realized
* [http://doc.akka.io/docs/akka-stream-and-http-experimental/1.0/scala/stream-cookbook.html](http://doc.akka.io/docs/akka-stream-and-http-experimental/1.0/scala/stream-cookbook.html)

doesn't link to the same page on the newest version, but

* [http://doc.akka.io/docs/akka-stream-

[2016-05-24 23:13] cppexpert commented on #20570
This happens to me too along with lots of

[code]

[2016-05-24 23:13] ktoso commented on #20598
The difference is that we make a HEAD request to "the same url, but changed version to latest" and if the page exists, we show an additional link to direct people there. If a page has moved, or has been removed – which happened a few times between 1.0 and 2.0 and 2.4 then those links are not trivial to find magically.

-- 
Konrad `ktoso` Malawski
Akka @ Lightbend

On 25 May 2016 at 01:10:22, Richa

[2016-05-25 04:17] danxmoran commented on #20288
Hey @ktoso, is the `OneToManyTestStage` still relevant? AFAICS the [test that uses it](https://github.com/akka/akka/blob/master/akka-stream-tests/src/test/scala/akka/stream/impl/fusing/InterpreterSupervisionSpec.scala#L333) is testing that supervision strategies are ignored when an exception is thrown during that stage's `onPull`. Currently the supervision logic is [handled by a superclass](https:

[2016-05-25 07:24] mbknor opened #20623 "Aeron files are not properly cleaned up"
Version: 2.4-ARTERY-M1

I have started one cluser node trying to connect to one other node that is not started yet.

[code]

[2016-05-25 08:00] patriknw commented on #20623
That is expected if you have not started the destination yet. We should adjust the logging, though. `HandshakeTimeoutException` should probably not be logged at error level.

I don't know why Aeron can't remove the file when the association is stopped (`onClosePublication`).

Thanks for reporting.

[2016-05-25 08:06] mbknor commented on #20623
Yes.. I agree that the error is expected.. Maybe bad description from my side, but the point of the ticket was the file-related exception with stacktrace.

Thanks for looking into it

[2016-05-25 08:08] drewhk commented on #20623
Windows does not allow deletion of files if they are in use, that might be related here?

[2016-05-25 08:10] patriknw commented on #17547
sounds like we have fixed this

[2016-05-25 08:10] #17547 closed

[2016-05-25 08:11] #17603 closed

[2016-05-25 08:12] #17635 closed

[2016-05-25 08:15] #18221 closed

[2016-05-25 08:15] ktoso commented on #20288
I guess it could be deleted then, could you check @drewhk ?

[2016-05-25 08:37] patriknw commented on #18149
I don't think it's guaranteed that an actor selection will see the destination actor immediately after it is created. It's more strange that you say that it first works and then suddenly fails. Anyway, we need a minimized reproducer without dependencies to external infrastructure to be able to investigate.

[2016-05-25 08:37] #18149 closed

[2016-05-25 08:39] patriknw commented on #18405
I don't think we should promote `ExtensionKey` since it has this flaw.

[2016-05-25 08:39] #18405 closed

[2016-05-25 08:45] patriknw commented on #18811
sounds like this should be in spray json
cc @ktoso

[2016-05-25 08:45] #18811 closed

[2016-05-25 09:05] #18098 closed

[2016-05-25 09:06] ktoso commented on #18811
Yes, moved to https://github.com/spray/spray-json/issues/186

[2016-05-25 09:22] 2beaucoup commented on #19012
Can be closed?

[2016-05-25 09:29] 2beaucoup commented on #19253
@jrudolph: https://github.com/akka/akka/issues/20338#issuecomment-213428635:

[2016-05-25 09:38] 2beaucoup commented on #20338
@ktoso:

Would it be generic enough If we widen it to `Flow[Seq[T]]` (ISO `Flow[ByteString]`)?

[2016-05-25 09:40] ktoso commented on #20338
I think that would solve it actually, yes 👍

[2016-05-25 10:35] drewhk commented on #20288
I think it can be deleted.

[2016-05-25 10:44] mbknor opened #20625 "Artery - Ending up with 100% CPU"
Version: 2.4-ARTERY-M1

I have an existing app using Akka 2.4.6
It uses multiple different sharded persistent actors (5) and many cluster singletons.
The app also uses "remember-entities" but I do not think it is related,

Since our app is currently under developement, I thought that we should try using ARTERY.
When I did some testing I ended up with the app using 100% CPU.
I tried to figure out w

[2016-05-25 10:50] patriknw commented on #20625
How many cores on that machine?

There are threads that are spinning (waiting for messages) both in Artery and Aeron media driver. It will be configurable how much cpu you want to burn vs latency demands. Right now it's not configurable and the defaults might be too aggressive.

[2016-05-25 11:08] drewhk commented on #20625
Also, CPU reporting was not fully reliable for me since Artery spinning threads spend time in parkNanos and friends, which does not actually burn CPU. The behavior is similar how Akka apps usually burn cycles in the ForkJoinPool `scan` method when there is nothing to execute. We have not tuned this part yet, so might be spinning too much right now.

[2016-05-25 11:26] agolubev commented on #19834
@miciek if you have not started Log and Map I can do them. Let me know.

[2016-05-25 11:34] mbknor commented on #20625
It was running on Windows with 4 cores..

The "100% cpu"-claim was not that scientific... It means that the TaskManager icon shows 100% cpu combined on all cores.

I'm pretty sure the app stopped responding when this happened, but I'll re-test that and post back the result.

[2016-05-25 11:38] drewhk commented on #20625
Well, there can be a bug, too :)

[2016-05-25 11:53] mbknor commented on #20625
More info:

When the problem happens (as described above) all 4 cores run at max, and the TaskManager reports both nodes (java processed) aprox use 50% each.

The app and cluster is "operational" during this cpu-problem.. I can via rest talk to both node1 and node2 and they operate correctly together..

If I disconnect node2, the cpu stops again, and it goes back to 100% if i yet another time star

[2016-05-25 11:55] mbknor commented on #20623
I'm not sure if it is related, but I just had to delete aprox 16 GB of aeron-temp files in  c:\Users\mokj\AppData\Local\Temp\
which has been generated and left alone during my testing of aeron this morning.

[2016-05-25 12:48] patriknw commented on #20625
Can you try to connect a profiler to see what is going on, or take a few thread dumps?

[2016-05-25 13:25] ktoso opened #20626 "FAILED: GzipSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6317/consoleFull

[code]

[2016-05-25 13:26] ktoso opened #20627 "FAILED: StreamLayoutSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6317/consoleFull

[code]

[2016-05-25 21:00] mbknor commented on #20625
This screenshot of yourkit after the CPU problem has occurred is representative.

When I click the thread-timeline, it almost always shows that it is working in akka.remote.artery.TaskRunner.run()

![artery](https://cloud.githubusercontent.com/assets/203254/15556072/30211ac2-22cc-11e6-83ea-66f2f4d2f738.png)

[2016-05-25 21:10] Mullefa commented on #20608
Ok, cool. I should be able to do something by this weekend. If it's useful - great, but I won't mind if it's not included.

[2016-05-25 21:57] ktoso commented on #20608
Thanks a lot :) I'm sure we'll find a nice place for additional docs of it!

[2016-05-25 22:55] zhxiaogg commented on #20466
I would try `header-directives` if you don't mind.

[2016-05-25 23:04] ktoso commented on #20466
Great, thanks a lot :-)

-- 
Konrad `ktoso` Malawski
Akka @ Lightbend

On 26 May 2016 at 00:55:46, John Zhang (notifications@github.com) wrote:

I would try header-directives if you don't mind.

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-26 02:32] timcharper opened #20630 "RunnableGraph.addAttributes should return same type as RunnableGraph.withAttributes"
The issue can be seen by looking at the API docs:

http://doc.akka.io/api/akka/2.4.6/?_ga=1.198496171.504920134.1442952792#akka.stream.scaladsl.RunnableGraph

[2016-05-26 02:33] timcharper commented on #20630
:point_up: [May 25, 2016 4:59 PM](https://gitter.im/akka/dev?at=57462e4b6bbc2d1d4dee33af)

[2016-05-26 02:38] danxmoran commented on #20288
@ktoso @drewhk awesome :) PR is at #20629.

So, now I have the same question about the `RestartTestStage`.  Its tests look slightly more interesting since they also involve `Map`, but I'm still wondering if we need it on top of per-stage supervision tests.

[2016-05-26 02:43] huntc opened #20632 "Doco inaccurate regarding pathmatchers"
Upon upgrading to 2.4.6 I noticed that the `Rest` path matcher appears to be have been replaced with `Remaining`. However the doco still refers to `Rest`:

http://doc.akka.io/docs/akka/2.4.6/scala/http/routing-dsl/path-matchers.html#Basic_PathMatchers

[2016-05-26 06:52] netcomm commented on #18399
hi patriknw, there is a question: why Update and Get couldn't use the WeaklyUp members? just because the gossip convergence is not finished, what are the behind reasons?

[2016-05-26 09:59] netcomm commented on #18399
add a pull request https://github.com/akka/akka/pull/20634

[2016-05-26 11:06] LukaszTrojanowski opened #20636 "Akka Http routing with parameters (issue with ParamMagnet?)"
Tested on akkaVersion 2.4.4

Routing with multiple parameters doesn't work as described in the [documentation](http://doc.akka.io/docs/akka/2.4.6/scala/http/routing-dsl/directives/parameter-directives/parameters.html).

The following code, from the documentation wouldn't compile. The ide shows the message

`val route =
  parameters('color, 'backgroundColor) { (color, backgroundColor) =>
    comple

[2016-05-26 11:08] ktoso commented on #20636
What scala version? That sounds like a known Scala 2.10 bug.

You can `import ParameterDirectives.ParamMagnet` to fix it on 2.10.
On 2.11+ it should just work

[2016-05-26 12:22] patriknw opened #20638 "failed: TickSourceSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6329/consoleText

[code]

[2016-05-26 12:38] LukaszTrojanowski commented on #20636
That's weird. I already use Scala 2.11.7

[2016-05-26 12:39] viktorklang commented on #20570
@cppexpert When someone has fixed it… (PRs are welcome)

[2016-05-26 13:25] nodefactory-bk commented on #19012
Think it was fixed in #18973 as stated above. hasn't affected me since then.

[2016-05-26 13:30] ktoso commented on #19012
Very glad to hear that, thanks for confirming!
On May 26, 2016 15:25, "nodefactory-bk" <notifications@github.com> wrote:

[2016-05-26 13:32] #19012 closed

[2016-05-26 14:04] #20590 closed

[2016-05-26 14:06] 2m opened #20639 "Failure to reconnect to a frequently restarted node"
*Akka 2.4.4*

There is an issue reported by a customer where node A is unable to connect to node B after node B gets restarted 3 times in a row in a minute or two.

The end situation is that node A is not able to connect to node B and failure detector in node A declares node B unreachable, even if node B is running and successfully is sending and receiving heartbeats to other nodes in a cluster.

[2016-05-26 14:09] patriknw commented on #20639
I updated the original description, it's node B that is restarted.
Gating occurs every 5 seconds in node A.

[2016-05-26 14:15] patriknw commented on #20639
Node B got the welcome message.
Node B is able to send and receive heartbeats from other nodes after the incident, but it's not receiving or sending anything from node A. Not sending heartbeats to node A is not wrong, it's only monitoring 5 nodes.

[2016-05-26 14:23] 2m commented on #20580
https://jenkins.akka.io:8498/job/akka-multi-node/1544/consoleFull

[2016-05-26 14:30] patriknw commented on #18399
I'm not sure how the semantics of `Update` and `Get` should be for this. I was thinking that often you use `WriteMajority` / `ReadMajority` to ensure that a read always reflects the most recent write and that you want to use those on stable membership information. WDYT?

Perhaps we could include the weakly in `WriteTo` and `WriteAll`, but not in `WriteMajority` (same for the reads)?

[2016-05-26 15:39] #18814 closed

[2016-05-26 15:43] patriknw commented on #19122
it should be `Java API: ....` and we have that in many places
not sure anyone will go through all of it though, but something to consider when touching other things

[2016-05-26 15:43] #19122 closed

[2016-05-26 15:49] patriknw commented on #19466
@luben sounds like there were no solution here, shall I close the ticket?

[2016-05-26 15:50] briantopping commented on #19466
This may have been a PBKAC on my part, closing.

[2016-05-26 15:50] #19466 closed

[2016-05-26 15:50] ktoso commented on #18950
I think it's still broken, should be fixed.

[2016-05-26 15:53] ktoso commented on #20636
Does the mentioned import workaround help or not?

[2016-05-26 15:55] briantopping commented on #19462
I'm pretty sure this was resolved in another issue, closing.

[2016-05-26 15:55] #19462 closed

[2016-05-26 15:56] patriknw commented on #19512
perhaps related to #15868

[2016-05-26 16:02] patriknw commented on #19975
How often do we get issues that are of bad quality? It's a nice idea, but is it a problem?

Lagom has a very [comprehensive template](https://github.com/lagom/lagom/issues/new) and I would probably not fill in all those things.

[2016-05-26 16:04] ktoso commented on #19975
Yeah, opened up the ticket when the feature was introduced. I don't think we need it that much.

[2016-05-26 16:49] luben commented on #19466
Yes, sorry for not closing it earlier. We took care of the exception on the akka-kryo-serialization library side creating a specialized serializer for ByteString

[2016-05-26 18:05] patriknw commented on #20324
I checked the performance with the JMH test from https://github.com/akka/akka/pull/20633 and it's pretty much unchanged, as expected.
[code]

I have also ran it a few times here: https://jenkins.akka.io:8498/job/akka-artery-repeat/plot/
Build 47, 48, 49 are new. Also unchanged.

[2016-05-26 18:32] patriknw commented on #19466
thanks

[2016-05-27 01:43] netcomm commented on #18399
from my opinion, the precodition is the weakly nodes eventually be a normal Up node, this stage's time is unpredictable. so if the initial reason for weakly nodes is to use them as soon as possible, perhaps we should include all the Update and Get operation to be aware of weakly nodes.

[2016-05-27 07:10] patriknw opened #20641 "treat some deserialization errors as transient in remoting"
EndpointWriter is only treating `NotSerializableException` as transient error (message dropped but association remains). `toBinary` of the serializer may throw any kind of exception. `NotSerializableException` is only used for the lookup of the serializer.

For deserialization I can't see that any exception is caught for deserialize. That might be related to https://github.com/akka/akka/issues/134

[2016-05-27 07:19] drewhk commented on #20641
That comment means that in case of deserialization errors it is safer to drop the association, since if the framing layer is corrupted then every subsequent message will fail deserialization, so it is safer to resynch (by opening a new connection).

[2016-05-27 07:19] drewhk commented on #20641
I don't think we should tread serialization errors as transient, these are serious errors, why should we tolerate them?

[2016-05-27 07:19] drewhk commented on #20641
at least I want to understand the use case

[2016-05-27 07:30] patriknw commented on #20641
For rolling upgrade scenarios we might have to be more tolerant to serialization errors and just drop/log them.

Dropping the association will have the same end user result, message not delivered, but it's much more costly and can result in all kind of side effects such as unreachability and such.
Why would the association be corrupt if user serialization of some messages fail?

By framing layer,

[2016-05-27 08:04] patriknw commented on #20641
@drewhk convinced me that we should not change this for the old remoting. Artery will be like this, though. Thanks for clarifying

[2016-05-27 09:21] kstokoz opened #20642 "HttpServerBluePrint: Cannot push port (requestPrepOut) twice"
as per https://groups.google.com/forum/#!topic/akka-user/0piK_xiq4Qg

During run of my application which is using akka-streams & akka-http of v.2.4.6 sometimes i see following error in the logs:
[code]

[2016-05-27 09:34] anandshah123 opened #20643 "streams: request new feature: timed sorting"
Can we have timed sorting operation in akka streams?

Similar to `takeWithin`, This could be `sortWithin`

Possible method signatures
[code]

[2016-05-27 09:36] drewhk commented on #20642
Do you have a reproducer maybe?

[2016-05-27 09:38] drewhk commented on #20643
I think this should go into streams-contrib instead

[2016-05-27 09:41] kstokoz commented on #20642
Unfortunately i don`t have anything, i can try to find anything special in out logs which could be related to this issue.

[2016-05-27 10:16] kstokoz commented on #20642
Prior this stacktrace i also sometimes see warning, not sure it is related, but maybe it will help you somehow:

[code]

[2016-05-27 11:35] jrudolph commented on #19512
FWIW here's a working link for the above: http://statmath.wu.ac.at/~boehm/book/Graham.pdf

[2016-05-27 11:38] miciek commented on #19834
@agolubev Thanks. I have already started and haven't got time to finish. I will see what part of the work you can take over.

[2016-05-27 13:00] patriknw opened #20644 "use Long UID in Artery and Cluster"
Artery is prepared for using a `Long` UID so that we can with good safety can use that as node identifier in messages without passing full address. This requires that Cluster is also using a `Long` UID since it's using that when quarantining removed nodes.

It might be a bit difficult to introduce this change in Cluster in a binary and wire compatible way, but it should be possible. Perhaps use a

[2016-05-27 15:03] LukaszTrojanowski commented on #20636
Unfortunately it doesn't.

[2016-05-27 15:26] patriknw commented on #20625
I have checked with `sample.cluster.simple.SimpleClusterApp` and yourkit. For me it's less than 10% per process. I changed the spinning in the TaskRunner and then the cpu usage goes down. We will tune this to find a reasonable default and it will be configurable.

Thanks for reporting.

[2016-05-27 15:26] #20324 closed

[2016-05-27 15:46] patriknw commented on #20643
which is located at https://github.com/akka/akka-stream-contrib

[2016-05-27 15:47] patriknw commented on #20643
it would be great if you would like to contribute, @anandshah123

[2016-05-27 21:03] nastich opened #20648 "encodeResponse directive doesn't work inside RejectionHandler"
_akka-http 2.4.6_

It is impossible to encode failed responses using `RejectionHandler` - although all the required `Accept-*` headers are present in request, and the handler accepts a `route`, and it even processes the directive, the result of `encodeReponseWith` gets lost somehow, and only the result of `complete` is visible.

Code example, as of this [stackoverflow question](http://stackoverflo

[2016-05-28 15:07] johanandren opened #20649 "Simpler config of what ActorRefProvider should be used"
Neither urgent nor a big issue but, something that popped up in my mind the other day

Does anyone else actually implement actorrefprovider, and if not could we just have ”local”, ”remote”, ”cluster” instead of a fully qualified class name which is much easier to spell correctly and remember?

Could be added backwards compatible by still looking for a class if neither of those three "hardcoded" na

[2016-05-28 21:16] DellCliff opened #20650 "Monadic implementation of agents"
So imo the implementations of the map, flatMap and foreach function in agents is not very intuitive.
For example:
[code]
In the current implementation this will only ever produce the following output:
[code]
When (imo) it should really produce:
[code]

In the current implementation all that the monadic functions do is take the current value, which is kind of a waste for them I think.

[2016-05-29 08:08] im-tollu commented on #16815
Here are some design thoughts.
What we effectively need is some `UriTemplate[TupleN] ` based on some subset of [RFC6570](https://tools.ietf.org/html/rfc6570)
We then can use it to map templates to handlers:
`UriTemplateMapper[TupleN](UriTemplate[TupleN], HttpMethod, Handler[TupleN])`

In UriTemplateMapper implementation we can then generate appropriate PathMatcher and get Route, while UriTemplate

[2016-05-29 13:34] richard-imaoka commented on #20029
Hi @badbeeker, sorry to cut in, but if you are still busy, could I make a contribution to this issue? I think this is 1 or 2 lines of fix.

[2016-05-29 15:17] richard-imaoka commented on #19963
Hi sorry to jump in, but is it ok for me pick this up, or does @wlk work on this? (Assuming we'd go with the `NoSerializationVerificationNeeded` way, suggested by @patriknw)

[2016-05-29 15:35] ktoso commented on #19963
Have not heard back from @wlk so contributions would be very welcome, thanks in advance!

[2016-05-29 16:14] fagossa commented on #20466
@ktoso I just made a [PR](https://github.com/akka/akka/pull/20651) on the debugging directives. It covers:

- debugging-directives/logRequest.rst
- debugging-directives/logRequestResult.rst
- debugging-directives/logResult.rst

[2016-05-29 17:41] flevour commented on #16815
I'm total newbie, but I'm wondering about this as well. My use case would building a tool to cross-check consistency between our akka-http routes and our swagger documentation.

I was thinking to build a tool that would use reflection to build a route AST that could be used to generate the route structure.

Do you think there are other ways (besides reflection) to build the route structure?

[2016-05-29 18:55] #20632 closed

[2016-05-30 01:32] 1mdc opened #20658 "case class validation rejection is not handled by ValidationRejection"
I use akka http 2.4.6 to make a small micro web service. I made a custom rejection handles:

[code]
...
[code]

my my case class
[code]
failed require goes into `MalformedRequestContentRejection`

[2016-05-30 06:26] patriknw commented on #20649
excellent suggestion, let's do this in `artery-dev`, which will be merged back to master

[2016-05-30 07:28] patriknw opened #20659 "leaking tests"
There are some obvious memory leaks in the tests, see those remaining threads:
<img width="433" alt="screen shot 2016-05-30 at 09 21 48" src="https://cloud.githubusercontent.com/assets/336161/15642584/92aa709c-2648-11e6-8422-b0a75ff8f489.png">

I also noticed that some ActorSystems of tests that are using `AkkaJUnitActorSystemResource` are lingering around for long (many minutes) before they are r

[2016-05-30 07:28] patriknw commented on #20659
cc @bantonsson

[2016-05-30 08:21] drewhk commented on #20650
Honestly, we should deprecate agents. We thought they are useful in certain cases, but usage of this module is next to 0, so we should think removing it altogether.

[2016-05-30 08:42] #20602 closed

[2016-05-30 08:42] #20562 closed

[2016-05-30 09:34] patriknw commented on #20650
@DellCliff what is actually your suggestion for `value <- agent1`?
would it return a future?

[2016-05-30 09:48] ktoso commented on #20643
Closing here as issue was moved to stream-contrib. Would be awesome if you could contribute such operation there @anandshah123 :-) Thanks in advance!

[2016-05-30 09:48] #20643 closed

[2016-05-30 10:05] drewhk commented on #16703
Is this still broken? This is a rather old ticket.

[2016-05-30 10:05] drewhk commented on #17679
This is very old, do you think @patriknw that this is still relevant?

[2016-05-30 10:06] drewhk commented on #19366
This might have been fixed, checking now.

[2016-05-30 10:23] drewhk commented on #19366
It seems like this has been fixed by: https://github.com/akka/akka/pull/19768/files#diff-006e97edc96c010e25fa19fd2aafb1c4R102

[2016-05-30 10:24] #19366 closed

[2016-05-30 11:07] johanandren commented on #20639
Tried to reproduce but no success, the cluster always reaches a state where all nodes see the repeat-restarted node as up:
3 node cluster
6 node cluster (to get past every node watching all other nodes)
9 node cluster (to repeat report circumstances)

[2016-05-30 11:17] ktoso commented on #20636
Please post a self contained reproducer, would make it a lot easier to try to locate the issue :-)
Help us help you 😉

[2016-05-30 11:42] viktorklang commented on #20224
@drewhk introduce an intermediate state where request(n) requests are buffered? And then use getAndSet(0) to clear that out when transitioning to the final stage?

[2016-05-30 11:43] drewhk commented on #20224
But then you will have a race again:
 - getAndSet out the buffer and start to deliver it
 - races with unbuffered onNexts

[2016-05-30 11:46] viktorklang commented on #20224
@drewhk Can't we just hold off sending demand upstream until initialization is done?

[2016-05-30 11:52] drewhk commented on #20224
That is what happens though, read the sequence I provided again.

[2016-05-30 11:54] rkuhn commented on #20224
Hmm, I haven’t swapped in the full code info from when I implemented it, but it might be necessary to store the knowledge that we have not yet left `onSubscribe`, perhaps in a state and perhaps (if necessary) in a ThreadLocal :-(

[2016-05-30 11:57] drewhk commented on #20224
Yeah, one obvious solution is two-phase state switch, forcing someone to spin :(

In general, the code guarantees proper, linearized state-machine transitions, but it does not guarantee the linearization of side-effects performed on state transitions.

[2016-05-30 11:59] rkuhn commented on #20224
Forcing to spin (i.e. a custom spin-lock) is a no-go, that will eventually explode in production. Here we only need to defer passing demand upstream until we exit a certain stack frame, this should not require spinning.

[2016-05-30 12:03] drewhk commented on #20224
You mean we should buffer up demand while onSubscribe has not exited, and then fire it off? That might work.

[2016-05-30 12:04] drewhk commented on #20224
What I am not sure yet if this race can happen in other state transitions though.

[2016-05-30 12:13] rkuhn commented on #20224
Can’t look right now, but this needs to be done wherever onX methods are called.

[2016-05-30 12:14] patriknw commented on #20523
Thanks guys!

[2016-05-30 12:14] #20523 closed

[2016-05-30 12:15] viktorklang commented on #20224
That was what I proposed also.

--
Cheers,
√
On May 30, 2016 2:03 PM, "drewhk" <notifications@github.com> wrote:

[2016-05-30 12:16] DellCliff commented on #20650
@drewhk Agents are pretty much all I'm using in akka since I'm not a huge fan of actors. I'd be fine with it if you want to deprecate agents. I'll just roll my own then. I'm only using akka because it's on maven and it's more convenient to include as a dependency.
@patriknw
``` for { value <- agent1 } {} ``` is translated into foreach, so it returns Unit. It would just attach a callback function o

[2016-05-30 12:24] drewhk commented on #20224
Ok, I misunderstood what you mean by "until initializiation is done". Why this can work is that requests do not need ordering, so the following is not an issue:
 1. call onSubscribe
 2. buffer up requests
 3. onSubscribe returns
 4. CAS state that now ungates requests
 5. downstream request arrives
 6. unbuffer demand from step 2

In step 5-6 there is a reversal, but this particular signal is not

[2016-05-30 12:29] johanandren commented on #20580
https://jenkins.akka.io:8498/job/akka-nightly/3367/consoleFull

[2016-05-30 12:29] drewhk commented on #20224
Might trip up the TCK though...

[2016-05-30 12:30] johanandren commented on #20580
https://jenkins.akka.io:8498/job/akka-nightly/3369/consoleFull

[2016-05-30 12:34] drewhk commented on #20224
Although it shouldn't because the processor is free to transform requests as it sees fit. Great.

[2016-05-30 12:36] sirthias commented on #19258
Sorry for the late reaction (was on vacation last week).
I also don't see a problem with publicizing the header. But I think it was @jrudolph who added the header model initially and applied the `private[http]` modifier.

[2016-05-30 12:43] ktoso commented on #19834
Hey there @miciek, would you be able to share your WIP or hand over to @agolubev if you're not actively working on this one? Seems we're almost done with all the stages mentioned in this ticket :-)

[2016-05-30 13:11] patriknw commented on #20650
I see. We can't change, that would break compatibility.

[2016-05-30 13:50] patriknw commented on #17679
yeah, that was very old, closing

[2016-05-30 13:50] #17679 closed

[2016-05-30 13:52] johanandren opened #20661 "Dist zip doesn't contain libraries"
The distribution zip at akka.io is missing all libraries, probably an unexpected consequence of #20495

[2016-05-30 13:57] patriknw commented on #16703
we have this comment in `AkkaBuild`: FIXME osgiDiningHakkersSampleMavenTest temporarily removed from aggregate due to #16703

[2016-05-30 13:59] ktoso commented on #20658
Thanks for reporting!

"Works as designed" would be one way to answer here actually.
The default exception handler does not handle `IllegalArgumentException` in any special way, thus no rejection is created, you could have to write an ExceptionHandler, not a Rejection handler to handle this case.

I think `require` in case classes is a popular pattern enough that we can support it, i.e. add a hand

[2016-05-30 14:06] 2beaucoup commented on #20658
This "should work". (#15792)

@1mdc How do you unmarshal your case class?

[2016-05-30 14:13] johanandren commented on #20661
Or I broke it in #20548

[2016-05-30 14:19] 1mdc commented on #20658
@ktoso Thanks for the response.

http://doc.akka.io/docs/akka/2.4.6/scala/http/routing-dsl/case-class-extraction.html
`If you write your validations like this Akka HTTP's case class extraction logic will properly pick up all error messages and generate a ValidationRejection if something goes wrong`
In my understanding, should it be handled by ValidationRejection?
This is my extraction:
[code]

@2b

[2016-05-30 14:28] johanandren commented on #20661
`includeInDist` wasn't set to `true` on all modules by default as it was in `AkkaBuild.rootSettings` rather than ´AkkaBuild.defaultSettings`  :/

[2016-05-30 14:43] ktoso commented on #20466
Three more down by @felipefzdz, thanks a lot!

[2016-05-30 14:56] 2beaucoup commented on #20658
The docs you cited are about parameter extraction. For a `ValidationRejection` thrown by `entity` your unmarshaller needs to correctly buuble up `InvalidArgumentException`s.

How? Via https://github.com/hseeberger/akka-http-json?

[2016-05-30 15:01] LukaszTrojanowski commented on #20636
Here you go. https://github.com/LukaszTrojanowski/akka-http-parameters-example

[2016-05-30 15:06] ktoso commented on #20636
I'm sorry but cannot reproduce.

[code]

[2016-05-30 15:20] LukaszTrojanowski commented on #20636
<Smashes head on desk> It's underlined by Intellijs intelisens (or how they call it) but does compile and work. Sorry for the trouble.

[2016-05-30 15:41] 1mdc commented on #20658
@2beaucoup Yes. Something like this:
[code]

[2016-05-30 15:42] ktoso commented on #20636
Report a code highlighting issue on the JetBrains issue tracker instead: https://youtrack.jetbrains.com/issues/IDEA (categorize under the scala plugin) :-)
I also use Intellij and it looks good there, maybe you're on some old or too-bleeding-edge version of the Scala plugin?

[2016-05-30 15:42] #20636 closed

[2016-05-30 15:42] ktoso commented on #20636
Happy hakking! Closing issue as it does indeed compile, even if tooling was confused – I wonder which version of intellij it was?

[2016-05-30 15:54] LukaszTrojanowski commented on #20636
Was on version 16.1.0 after the update to 16.1.2 everything is alright. Anyways, many thanks for your help.

[2016-05-30 15:55] jrudolph commented on #19258
IIRC it was the conservative choice. We usually wouldn't want users to put their own WebSocket headers into requests or responses. On the other hand it is really nice to have all the headers available for unforeseen use cases. If we open them up, they should be marked somehow to be not used in normal requests or responses (unless you know what you are doing, i.e. probably reimplementing some part

[2016-05-30 15:56] johanandren commented on #20661
When the fix has been merged I will pull it back to 2.4.6 and rebuild+publish a new zipfile.

[2016-05-30 18:31] miciek commented on #19834
@ktoso I will try to finish it this week and if it's not possible I will let @agolubev do it :)

[2016-05-30 18:55] ktoso commented on #19834
Sounds like a plan, thanks guys!

[2016-05-30 18:59] johanandren opened #20663 "FAILED ReactiveStreamsDocSpec"
docs.stream.ReactiveStreamsDocSpec
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6355/consoleFull

[code]

[2016-05-30 19:43] agolubev commented on #19948
@ktoso should it be done for only akka.http?

[2016-05-30 19:44] ktoso commented on #19948
No, it's not HTTP specific I think, but most offenders are likely to be here (due to nature of multiple nesting etc)

[2016-05-30 19:47] agolubev commented on #19948
hm, so let me start with http and in case it's clear and straightforward will do the rest.

[2016-05-30 19:57] ktoso commented on #19948
Cool, thanks a lot :)

[2016-05-30 19:59] #20610 closed

[2016-05-30 20:42] johanandren commented on #20627
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6357/consoleFull

Different test case though

[2016-05-30 20:42] johanandren commented on #20661
Unrelated fail

[2016-05-30 21:11] gosubpl commented on #12636
Is the random.org dependency still needed? If not, the InternetSeedGenerator could be implemented with SecureRandom instead and uncommons dependency removed entirely. If yes, then uncommons dependency can be removed from the not deprecated code that doesn't use ISG and the dependency in the project scope - after whole (deprecated) ISG is removed. Which implementation would you advise?

[2016-05-30 21:54] 2beaucoup commented on #20658
I see. The problem is that json4s nests these exceptions two levels deep in `MappingException` / `InvocationTargetException`. So either json4s or akka-http-json is changed to unwrap them or you wrap the unmarshaller and do the extraction yourself.

[2016-05-31 06:37] patriknw opened #20666 "OutputStreamSource is not using blocking-io-dispatcher (correctly)"
The actual blocking `take` is not done on the blocking-io-dispatcher.

It's also leaking threads (blocking threads) when materializer is shutdown abruptly.

[2016-05-31 07:10] johanandren commented on #20627
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6359/consoleFull

[2016-05-31 09:22] patriknw opened #20668 "detect leaking tests by utilizing the Coroner"
How can we make use of the Coroner to actually enforce that tests are shutting down actor systems properly. To prevent ending late finding and fixing such as https://github.com/akka/akka/pull/20660

[2016-05-31 10:28] #19921 closed

[2016-05-31 10:52] #20661 closed

[2016-05-31 12:31] johanandren commented on #20661
Up on downloads page if I fetch the link with `curl` but my safari still get's the old one, will wait for cloudfront to invalidate caches or whatever is going on before writing on mailing list that it is fixed.

[2016-05-31 12:43] drewhk commented on #20627
These tests take sometimes 5-6 seconds and usually cause heavy GC activity. This might be a spurious timeout, especially since the other two successful test cases skirt the timeout, too:

[code]

[2016-05-31 12:52] drewhk commented on #20392
Yeah, it is not that the `postStop()` is not called, but instead the stage itself is not completed from the outside.

[2016-05-31 12:54] #20392 closed

[2016-05-31 12:55] #20391 closed

[2016-05-31 12:55] drewhk commented on #20392
I think #20596 has likely fixed this issue @nkvoll can you verify?

[2016-05-31 12:56] #20564 closed

[2016-05-31 13:12] nkvoll commented on #20392
I can try to get it verified once new snapshot builds are out, seems to be daily builds -- so this would be available in a snapshot later tonight? (looking at http://repo.akka.io/snapshots/com/typesafe/akka/akka-actor_2.11/)

[2016-05-31 13:22] ktoso commented on #19258
Hm, that's a good consideration I have not thought about, thanks!

I'm on the fence of the need of working on this issue immediately, leaving in backlog in case it comes up again

[2016-05-31 13:24] drewhk commented on #20392
Yes, sometime tonight it should be out.

[2016-05-31 13:27] patriknw commented on #20639
I have a test that is failing in a similar way. After applying the two latest remoting fixes it doesn't fail, but I have no good explanation for that yet.

This is a strange thing I see:

[code]

Note the two different endpoint writer instances `34318-19/endpointWriter != 34318-21/endpointWriter`, and `34318-19` is active after `34318-21`.

More full logs, with some comments inline:

[code]

[2016-05-31 14:26] johanandren opened #20672 "Work pulling pattern link broken"
Gives a 404:
http://doc.akka.io/docs/akka/2.4.6/scala/howto.html#Work_Pulling_Pattern_to_throttle_and_distribute_work__and_prevent_mailbox_overflow

[2016-05-31 14:33] 2beaucoup commented on #20658
I submitted a fix in akka-http-json.

[2016-05-31 15:53] ktoso commented on #20658
Awesome, I think that'd be the right place to solve it in any case.
I think we can close this ticket then since the unwrap reflection exceptions PR https://github.com/hseeberger/akka-http-json/issues/68 was merged.

Thanks a lot @2beaucoup !

[2016-05-31 15:53] #20658 closed

[2016-05-31 17:19] zhxiaogg commented on #20466
I made a PR #20673  for all the header directives together. And will work on `marshalling` if you don't mind.

[2016-05-31 17:20] ktoso commented on #20466
That's great, thank you! :-)

[2016-05-31 21:36] Falmarri commented on #20570
Any tips on debugging this?  I tried and couldn't work out what was happening. My guess is that in OutgoingConnectionBlueprint, the Termination Backchannel part of the flow is completing before the response can be parsed and merged. But I can't figure out how to prove/disprove that.

[2016-06-01 06:02] patriknw opened #20676 "failed: OutputStreamSourceSpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6382/consoleText

[code]

[2016-06-01 08:16] patriknw opened #20677 "remove old snapshots in cluster sharding"
both for coordinator and shards (remember entities)

[2016-06-01 08:30] ktoso opened #20678 "Consider long-term consistency/gc/not-filling-up for Compression Table"
I think it should be able to remove actors which are proven dead, this complicates ID allocation though.

Need to crunch some numbers how to best tackle this: how long would it take in practice to fill the table?

[2016-06-01 08:30] gosubpl commented on #20672
Works for me. Has this been fixed?

[2016-06-01 08:31] #20198 closed

[2016-06-01 08:39] drewhk commented on #20678
The idea was to advertise a new table every X period, so I am not sure what 5 years mean here? Also, dead actors might be still needed to be compressed since someone might still send messages to it

[2016-06-01 08:40] ktoso commented on #20678
Unspoken assumption I think :-) That's perfectly a fine solution too.
In any case, will need to be implemented, first version assumes there's one table that "stays there".

[2016-06-01 08:41] ktoso commented on #20678
Changed up title a bit

[2016-06-01 08:43] 2beaucoup commented on #20672
The trailing slash needs to be removed.

@gosubpl This is about the link in the linked page. ;)

[2016-06-01 09:08] ktoso commented on #20413
This as been resolved 👍

[2016-06-01 09:08] #20413 closed

[2016-06-01 09:15] ktoso opened #20679 "Offer migration path from Spray Caching"
The question keeps coming up, and it's only one simple file https://github.com/spray/spray/tree/master/spray-caching/src/main/scala/spray/caching

We could provide it as separate mini project, declare it community lead.
Please ping me if you'd like to contribute this port so I can create a repo for it.

[2016-06-01 10:07] gosubpl commented on #20672
Ok, will fix it

[2016-06-01 10:45] pjazdzewski1990 commented on #20622
@ktoso I would like to work on this. Can you move it to `in-progress`? Thank you

[2016-06-01 10:57] ktoso commented on #20622
Awesome, thanks a lot :-)

[2016-06-01 11:02] ktoso commented on #20456
Got some community interest in contributing this, I think it makes sense since heard the request of "first request after a while is too slow!" from some customers and people.
It's not something other http clients do, but it's also relatively simple to do for us since pools are explicit.

If anyone wants to veto this would be nice to veto now before contributors start working on it please :-)
@2bea

[2016-06-01 11:03] nkvoll commented on #20392
@drewhk I can confirm that the above example now works for me with the current snapshot (`2.4-20160531-232130`) :)

[2016-06-01 11:05] ktoso commented on #20392
This is great, thanks for both reporting and checking @nkvoll !

[2016-06-01 11:18] 2beaucoup commented on #20456
We already have the `max-connections` setting so let's add `min-connections` (default = 0).

Connections are only closed after `idle-timeout` if nr. of connections > `min-connections`. Connections are automatically instantiated on startup or after connection close by peer and nr. of connections < `min-connections`.

WDYT?

[2016-06-01 11:30] ktoso commented on #20456
Exactly, I think this makes a lot of sense :-)

FYI, up for grabs then @pjazdzewski1990 @note @krzemin @kwyczesany :-)
Thanks in advance, and let me know if you're stuck or need any hints.

[2016-06-01 11:37] ktoso commented on #20272
Went back to this ticket, sorry for the delay.
So we've fixed the special case of `strict-transport-security`, yet the question remains.
I think that we should include the exception in the catch clause for now, if we see more instances of the problem we should re-visit it then.

[2016-06-01 11:42] ktoso commented on #20622
Best to add somewhere at the end of http://doc.akka.io/docs/akka/2.4.6/scala/http/common/http-model.html as a section about URI in general, and then explain the raw mode there. :)

[2016-06-01 12:57] zhxiaogg commented on #20679
@ktoso It's about migrating the spray cache directive to Akka HTTP server DSL, right? If so, I would like to give it a try.

[2016-06-01 12:59] ktoso commented on #20679
Right, and I think it should live outside of the akka/akka repo, but we can host it under the `akka/` organisation perhaps as `akka/akka-http-caching`. I would like to see it be a community by-demand driven project, I don't think we (core team) will spend time on it, and at the same time we do want to allow the HTTP ecosystem to flourish a bit more.

[2016-06-01 12:59] zhxiaogg commented on #20679
BTW, why a new project? Is it a planned repo to hold all extra directives?

[2016-06-01 13:01] ktoso commented on #20679
It does not quite fit nor would it be supported by lightbend, so a separate repo makes most sense.
Yes, I think we'll want to have a repo to encourage more HTTP community participation, I hope to have a detailed plan for that laid out in a few weeks.

[2016-06-01 13:05] #20588 closed

[2016-06-01 13:05] #20568 closed

[2016-06-01 13:06] #20566 closed

[2016-06-01 13:08] johanandren opened #20683 "Provide a shortcut for ignoring (but draining) the entity"
Newcomers to Akka HTTP very often miss out on draining request and/or response entity streams, and therefore stalling the entire connection. We have tickets for warning or autodraining such entities, but implementing that is not trivial, so for now maybe a more discoverable and easier to use `.ignoreEntity()` method on the request/response or `.ignoreBytes()` on the entity would be a good idea.

[2016-06-01 13:09] zhxiaogg commented on #20679
Great, looking forward to the plan.

[2016-06-01 13:13] ktoso commented on #20683
This requires some research where to put this operation, but likely simply onto HttpRequest / HttpResponse.

It should be an alias to doing something alike `request.entity.dataBytes.runWith(Sink.ignore)`.

This would be an awesome ticket to handle by one of you if you're interested  @pjazdzewski1990 @note @krzemin @kwyczesany

It perhaps needs more explanation, so let me know if you'd like to pick

[2016-06-01 14:16] ktoso opened #20685 "Java HttpEntity should not care about the materialized type of its Source"
As @jypma described:

For tracking the PR https://github.com/akka/akka/pull/20684

[2016-06-01 14:57] #20685 closed

[2016-06-01 15:13] hepin1989 commented on #20679
https://github.com/ben-manes/caffeine/
We could try to make use of this:)

[2016-06-01 15:17] ktoso commented on #20679
Looks fun!
Another reason to have it as separate repo in which we can experiment
aggresively and deliver a cool extension that's easy to use with Akka HTTP,
rather than being limited by our mantra of not including dependencies into
Akka "core" (which is very valuable for any foundational project like Akka
is) :-)

--
Konrad `ktoso` Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>

[2016-06-01 16:48] pjazdzewski1990 commented on #20456
I'm looking on this ticket right now - trying to follow the solution proposed above. Could you point me to a place where connections are being managed (created/closed)?
The closest thing I've found is https://github.com/akka/akka/blob/master/akka-http-core/src/main/scala/akka/http/impl/engine/client/PoolInterfaceActor.scala#L149

[2016-06-01 17:13] ben-manes commented on #20679
Thanks @hepin1989.

Please do prefer Caffeine. I no longer actively develop `ConcurrentLinkedHashMap` (used by Spray Caching) or Guava's cache. If you use the jdk8-scala adapters you might prefer to use an AsyncLoadingCache for future handling. Also note that `ascendingKeys` would use `cache.policy` to obtain the eviction order, though I'm surprised that's being used (intended for warm restart).

[2016-06-01 17:49] johanandren commented on #20676
https://jenkins.akka.io:8498/job/akka-multi-node/1559/consoleFull

[2016-06-01 17:56] johanandren commented on #20676
https://jenkins.akka.io:8498/job/akka-nightly/3374/consoleFull

[2016-06-01 17:57] johanandren commented on #20676
https://jenkins.akka.io:8498/job/akka-multi-node/1560/consoleFull

[2016-06-01 17:58] johanandren commented on #20676
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3871/consoleFull

[2016-06-01 18:00] anandshah123 commented on #20643
Submitted PR https://github.com/akka/akka-stream-contrib/pull/17

[2016-06-01 18:02] johanandren commented on #20676
https://jenkins.akka.io:8498/job/akka-nightly/3375/consoleFull
https://jenkins.akka.io:8498/job/akka-nightly/3376/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3872/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3873/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/370/consoleFull
https://jenkins.akka.io:8498/job/akka-multi-node/156

[2016-06-01 18:03] johanandren commented on #20368
https://jenkins.akka.io:8498/job/akka-multi-node/1563/consoleFull

[2016-06-01 20:28] #20672 closed

[2016-06-01 21:16] kubukoz opened #20687 "[http] Dead code in Unmarshaller.scala"
[code]

[2016-06-01 21:17] ktoso commented on #20687
Good catch :) I wanted to smuggle it in at some point I think but got away without needing it.
Let's remove for now, would you submit a PR please?

Thanks a lot!

[2016-06-01 21:38] kubukoz commented on #20687
There are also a few lines in the java dsl counterpart, marked with `not exposed for Java yet`, do you think it should go away too?

[2016-06-01 21:41] kubukoz commented on #20687
(and an unused import as well, it seems)

[2016-06-01 22:32] kubukoz commented on #19930
I'd wait for #20667 to merge before this - I'll gladly do it, then

[2016-06-01 22:34] ktoso commented on #20687
please link to the lines in question :)

[2016-06-01 22:38] kubukoz commented on #20687
https://github.com/akka/akka/blob/acb71ac4e53d536fcba0ffe0fb0a48c09a63b108/akka-http/src/main/scala/akka/http/javadsl/server/Unmarshaller.scala#L103
two commented out methods, I didn't mention them before

https://github.com/akka/akka/blob/acb71ac4e53d536fcba0ffe0fb0a48c09a63b108/akka-http/src/main/scala/akka/http/javadsl/server/Unmarshaller.scala#L139
the `not exposed for Java yet` lines

https:/

[2016-06-01 22:41] ktoso commented on #20687
- `asScalaToResponseMarshaller` and friend please remove.
- Import I don't really mind, if compiles without OK to remove.
- please file a ticket for https://github.com/akka/akka/blob/acb71ac4e53d536fcba0ffe0fb0a48c09a63b108/akka-http/src/main/scala/akka/http/javadsl/server/Unmarshaller.scala#L139 eventually we may want to provide those

[2016-06-01 22:52] kubukoz opened #20689 "Expose mapWithInput in JavaDSL"
[code]

in https://github.com/akka/akka/blob/acb71ac4e53d536fcba0ffe0fb0a48c09a63b108/akka-http/src/main/scala/akka/http/javadsl/server/Unmarshaller.scala#L139

[2016-06-01 22:52] ktoso commented on #20689
Wll issue title rather about "expose mapWithInput in JavaDSL" :)

[2016-06-01 22:54] kubukoz commented on #20689
I wasn't sure about the title :P

[2016-06-02 00:33] gosubpl commented on #20648
Actually, this is a problem with encoder not encoding (with gzip, deflate, etc.) any other responses than successes. Obviously, this is hard to spot on the happy path, as regular responses are not usually failures. RFC 7231 does not say anything about particular response types not being eligible for encoding/compression. Nginx chose not to compress 5XX (Server error) but is fine to compress 4XX (C

[2016-06-02 00:39] kevincdeng opened #20690 "akka-http connection pool caches DNS resolution forever (regardless of TTL)"
[PoolInterfaceActor](https://github.com/akka/akka/blob/master/akka-http-core/src/main/scala/akka/http/impl/engine/client/PoolInterfaceActor.scala#L63) uses [Http().outgoingConnectionHttps()](https://github.com/akka/akka/blob/master/akka-http-core/src/main/scala/akka/http/scaladsl/Http.scala#L220) to create a Flow which it then uses to create a [PoolFlow](https://github.com/akka/akka/blob/bc7cd17be

[2016-06-02 08:09] johanandren opened #20697 "Document BackoffSupervisor with regards to non protocol messages"
The `BackoffSupervisor` sends "unknown" messages from direct children to its own parent and any other to its supervised child, this is not evident in the documentation, we should document and possibly mention pitfalls when the supervised actor is itself forwarding messages from it's children upwards in the actor hierarchy.

The missing documentation came up when a user was having an intermediate s

[2016-06-02 08:53] johanandren commented on #20639
Just for keeping track, the fix that also seems to have solved this problem is for #20523

[2016-06-02 08:53] #20639 closed

[2016-06-02 08:57] #20687 closed

[2016-06-02 09:33] ktoso commented on #20456
Right, almost in the right region there. So those Actors, PoolInterface and the Master are about "the pool" as a whole, here we need to care about the connections inside the pool - so we'll go to PoolFlow (line `PoolFlow(Flow[HttpRequest].viaMat(connectionFlow)(Keep.right), settings, setup.log)`). Check the PoolFlow's diagram to see what's going on there. So we need to keep alive at least min-conn

[2016-06-02 09:42] #20676 closed

[2016-06-02 09:59] #20535 closed

[2016-06-02 10:03] johanandren opened #20698 "Make recoveries that never complete time out"
Right now each journal plugin is responsible for making sure the replay times out if the store is really slow. We should make this a built in feature where we have a configureable timeout and if it is not met then the replay will fail and stop the persistent actor.

[2016-06-02 10:05] ktoso commented on #20698
I think we both think about the same thing, but technically the best setting would likely not be about "time of entire replay" but "idle timeout", I think that's what you meant in the chat, but issue didn't quite mention that, right?

[2016-06-02 10:12] note opened #20699 "Make imports in documentation snippets complete"
The problem appears with e.g. first snippet from http://doc.akka.io/docs/akka/2.4.6/scala/http/introduction.html#Routing_DSL_for_HTTP_servers. It misses some neccessary imports. Test for this pass because some imports are declared on file level in `HttpServerExampleSpec`. I guess it would be nice to avoid all non-tests-related imports on file-level and have them on spec-level instead. It will intr

[2016-06-02 10:24] ktoso commented on #20699
Yes, great catch!
The snippets should definitely be "copy paste ready", thanks for spotting it.

[2016-06-02 10:25] #20622 closed

[2016-06-02 10:25] krzemin commented on #20683
Hey, I'll pick it up.

What about putting `.ignoreEntity()` to HttpMessage? It seems like the best place for such a combinator.

[2016-06-02 10:27] ktoso commented on #20683
Yup, great place to put it, and since it's DSL agnostic, we can just put the signature right into `akka.http.javadsl.model.HttpMessage` without the need of alternative method name for Scala.

[2016-06-02 10:50] krzemin commented on #20683
Well, I see 2 issues regarding definition in java model.

* `runWith` requires implicit Materializer. Is it ok to explicitly pass him `NoMaterializer` or we rather have to require implicit parameter (`def ignoreEntity(implicit m: Materializer)`)?
* Inferred result type of the combinator is `scala.concurrent.Future[Done]` (is this even correct?). What about "polluting" java interfaces with scala fu

[2016-06-02 11:01] patriknw commented on #20698
yes, it should be timeout for each message (i.e. receive timeout). It can be many, many, events in a replay so it might not be wrong that the whole replay takes long.

[2016-06-02 11:10] ktoso commented on #20648
That's excellent research, thanks Jan!
IMHO it does make sense to compress if we can, so I like the PR you propose.

If anyone feels otherwise ping here or on PR @2beaucoup @jrudolph @sirthias

[2016-06-02 11:13] ktoso commented on #20214
Will be fixed in 2.4.7, thanks for reporting!

[2016-06-02 11:13] #20214 closed

[2016-06-02 11:21] #20627 closed

[2016-06-02 11:26] 2beaucoup commented on #20648
https://tools.ietf.org/html/rfc7230#section-3.3.1 lists some scenarios in which replying with a `Transfer-Encoding` is forbidden: 1xx, 204 and 2xx for `CONNECT` request.

Should this be enforced in `DefaultFilter`?

[2016-06-02 11:57] ktoso commented on #20683
NoMaterializer wouldn't run anything :-) It has to be the actual materializer. Seems we need 2 methods anyway, so in the scaladsl HttpMessage simply take an implicit materializer. I'd also suggest the signature of `def ignoreEntity()(implicit m: Materializer)` to allow typing the `()` to indicate a side effect happening.

Meh, right - the return type we do actually want to expose.
I don't have goo

[2016-06-02 11:58] ktoso commented on #20690
Hi Kevin, thanks for the detailed report.
I see how this could cause trouble, and definitely not something by design as far as I can tell.

If you'd be willing to attempt fixing this in a PR that'd be excellent.

[2016-06-02 12:22] johanandren commented on #20698
Yeah, sorry if that was vague. The timeout would be between replayed events. So that if replay goes partially through but then the datastore goes on hollidays the persistent actor will be informed about that.

[2016-06-02 12:36] patriknw commented on #18767
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6404/consoleFull

[2016-06-02 13:14] gosubpl commented on #20648
@2beaucoup well spotted the Transfer-Encoding limitation! Will add it to this PR.

[2016-06-02 13:21] 2beaucoup commented on #20648
@gosubpl While you're at it may be you can also filter HTTP/1.0 requests.

[2016-06-02 15:41] #20531 closed

[2016-06-02 15:42] #17194 closed

[2016-06-02 19:16] danslapman commented on #19359
@ktoso I want to fix it :-) I just checked `UpgradeToWebSocket.scala` and some other sources but didn't understand, how connection is handled, can You help me a bit?

[2016-06-02 20:39] #20648 closed

[2016-06-03 05:22] #17570 closed

[2016-06-03 05:24] #19772 closed

[2016-06-03 05:25] patriknw commented on #20233
Duplicate of https://github.com/akka/akka/issues/19772

[2016-06-03 05:25] #20233 closed

[2016-06-03 06:43] patriknw opened #20703 "add metadata section to Artery header"
E.g. passing context information for monitoring/tracing.

It should be possible use several values (blobs), keyed by an integer, to allow more than one library to add values to the header.

[2016-06-03 11:14] kwyczesany commented on #19756
Hi, I would like to take this task if nobody is working on it

[2016-06-03 11:16] ktoso commented on #19756
Good pick, let us know if you need any help :)

[2016-06-03 11:39] krzemin commented on #20683
Actually, we can give them the same name since the signatures are slightly different. I mean:

`def ignoreDataBytes()(implicit m: Materializer): Future[Done]` for scaladsl
`public CompletionStage<Done> ignoreDataBytes(Materializer materializer)` for javadsl

Regarding tests, the code you've posted seems to be working for scala, but similar testing code for java dsl results with ClassCastException.

[2016-06-03 11:41] ktoso commented on #20683
These methods:

[code]

 both end up being represented as:

[code]

parameter lists, so it'll be ambigious which one you wanted to call (shouldn't even compile such declarations). As there is no such thing as multiple parameter lists on the JVM, it is desugared into one list.

[2016-06-03 11:42] ktoso commented on #20683
Could you please post a PR with your in progress work so I can check it out and have a look?

[2016-06-03 11:45] ktoso opened #20705 "Allow JavaDSL to create custom rejections"

[2016-06-03 11:46] ktoso commented on #20705
This is a follow up to https://github.com/akka/akka/pull/20647

[2016-06-03 11:51] krzemin commented on #20683
And that was the source of the problem. After renaming javadsl method test started to pass. Thank you for help.

I'll prepare PR soon.

[2016-06-03 11:53] #20224 closed

[2016-06-03 12:24] #20265 closed

[2016-06-03 12:24] #20519 closed

[2016-06-03 12:31] johanandren opened #20708 "Add Java sample for KillSwitch"
Left over from #20265

ping @svezfaz

[2016-06-03 12:34] 2beaucoup commented on #20683
I wonder if it's possible to automagically do this on `complete` if the entity isn't consumed.

[2016-06-03 12:35] johanandren commented on #20683
There's #18716 for that, so lets keep this one simple for now.

[2016-06-03 12:41] 2beaucoup commented on #20683
I see. Thx for the ref.

[2016-06-03 12:41] ktoso commented on #20683
Yup exactly, that's step 2 :-)

[2016-06-03 12:44] 2beaucoup commented on #20683
But step 2 might make step 1 obsolete. ;)

[2016-06-03 12:45] ktoso commented on #20683
No, because one might want to a) drain entity in the client APIs b) use the low level APIs, without routing and still have a quick way to drain entities :-)

[2016-06-03 12:49] patriknw opened #20709 "failed: artery.SystemMessageDeliverySpec"
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6435/consoleText

[code]

[2016-06-03 12:57] #20705 closed

[2016-06-03 13:19] Hawstein commented on #20466
Since basic-directives is finally merged, going to work on execution-directives :)

[2016-06-03 13:21] ktoso commented on #20466
Thanks a lot :-)
Sorry for the delay, was a bit overwhelmed with so many people contributing last week – nice problem to have :-)

[2016-06-03 13:23] 2beaucoup commented on #20683
Got it.

[2016-06-03 13:25] Hawstein commented on #20466
@ktoso Ahh, more and more people are involved to contribute to Akka. That's really a good news :)

[2016-06-03 13:30] hepin1989 commented on #20466
@Hawstein @zhxiaogg Yes,especially guys like you from China:).

[2016-06-03 13:31] ktoso commented on #20466
Very grateful to have you guys join the efforts indeed :-)

[2016-06-03 13:37] #20698 closed

[2016-06-03 13:38] #20666 closed

[2016-06-03 14:49] patriknw opened #20711 "IllegalMonitorStateException in Source.queue"
[code]

That `if (lock.isLocked) lock.unlock()` is probably racy with the `unlock` that is done inside the stage.

[2016-06-03 15:45] patriknw opened #20714 "port RemotingSpec.scala to Artery"
Relevant parts of it should be ported but into smaller more focused tests.

I have already ported one small part of it to `RemoteDeploymentSpec`.

[2016-06-03 15:47] patriknw opened #20715 "remote deployment is broken with Artery"
See FIXME `ignored` tests in `RemoteDeploymentSpec`.
I think several of the failing tests in `RemoteRouterSpec` are also related to this.

[2016-06-03 15:48] patriknw commented on #20311
This is fixed in https://github.com/akka/akka/pull/20657

[2016-06-03 15:53] #20659 closed

[2016-06-03 15:54] johanandren commented on #20580
https://jenkins.akka.io:8498/job/akka-multi-node/1572/consoleFull

[2016-06-03 16:08] #20311 closed

[2016-06-04 07:22] Hawstein commented on #20466
Start to work on `security-directives`.

[2016-06-04 18:16] Hawstein commented on #20466
Working on ` coding-directives`.

[2016-06-04 19:00] abrighton commented on #20642
I am seeing the same error since upgrading to akka*-2.4.7. The errors only occurs when the HTTP server returns a 404 Not Found error . In that case, the client throws an Exception inside a future, in case that makes a difference. This is the error message:

[code]

I don't have a trivial example for this, but the sources and test case causing the error are on GitHub.

[2016-06-04 19:06] ktoso commented on #20642
Thanks for reporting. Where specifically though?

[2016-06-04 19:11] abrighton commented on #20642
In this test: https://github.com/tmtsoftware/csw/blob/config3/cs/src/test/scala/csw/services/cs/akka/ConfigServiceHttpServerTests.scala

[2016-06-05 10:58] rbudzko commented on #20521
``""`` is special, because it  is a neutral element of concatenation operation. Implementations of ``Path`` matches (``Empty``, ``Slash`` and ``Segment``) empty string (empty word) as a valid prefix of any other string (word). Additionally, explicit optimization has been implemented in ``PathMatcher`` in form of ``if (prefix.isEmpty) provide(extractions)`` where provide returns matcher which alway

[2016-06-05 17:29] lolski commented on #20487
The test succeeded with no problem on my local machine. It was performed on master branch (commit https://github.com/akka/akka/commit/fe47d596bc47ec29e97d4bfa5261476baf6dfe94)

[2016-06-05 19:12] Hawstein commented on #20466
Working on `route-directives`.

[2016-06-05 19:30] ktoso commented on #20466
You're on fire today :-) Thanks a lot!

[2016-06-06 09:02] note commented on #18929
I am willing to take this one.

[2016-06-06 09:06] ktoso commented on #18929
Great, please do :)
Let me know if you have any questions.

It should *more or less* look like this:

[code]

[2016-06-06 09:06] ktoso commented on #20456
Sure, I'll get to it soon :)

[2016-06-06 09:28] #20708 closed

[2016-06-06 09:32] drewhk commented on #20580
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3884/consoleFull

[2016-06-06 09:34] drewhk opened #20724 "FAILED: LeveldbAtLeastOnceDeliverySpec"
https://jenkins.akka.io:8498/job/akka-nightly/3388/consoleFull

[code]

[2016-06-06 09:35] drewhk opened #20725 "FAILED: AbstractPersistentFSMTest"
https://jenkins.akka.io:8498/job/akka-nightly/3387/consoleFull

[code]

[2016-06-06 09:36] drewhk opened #20726 "FAILED: FileSinkSpec"
https://jenkins.akka.io:8498/job/akka-nightly/3387/consoleFull

[code]

[2016-06-06 09:37] drewhk opened #20727 "FAILED: FileUploadDirectivesExamplesSpec"
https://jenkins.akka.io:8498/job/akka-nightly/3387/consoleFull

[code]

[2016-06-06 09:38] drewhk opened #20728 "FAILED: PersistentActorRecoveryTimeoutSpec"
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/373/consoleFull

[code]

[2016-06-06 09:39] drewhk commented on #20728
@johanandren I think this is your recent fix

[2016-06-06 09:39] drewhk commented on #20728
I mean the test introduced by your recent fix

[2016-06-06 09:40] drewhk commented on #20580
https://jenkins.akka.io:8498/job/akka-multi-node/1572/consoleFull

[2016-06-06 11:47] 2beaucoup commented on #20456
@ktoso:

[Had to disagree](https://github.com/akka/akka/pull/20723/files#r65868568) on these two points.

IMO the distinction between hot/cold is unnecessary. The conductor needs to be changed to do the bookkeeping and the slots should basically stay the same.

The slots currently react on `RequestContext`s (via `SwitchCommand`). This could be changed to communicate raw connect cmds without contex

[2016-06-06 12:09] pjazdzewski1990 commented on #20456
@2beaucoup You suggest moving the logic to keep connections alive to `akka.http.impl.engine.client.PoolConductor`. So instead the slots knowing that they shouldn't die, they would be managed by PoolConductor in such a way that a certain number is alive, while keeping the slots not aware about their 'hot' nature. Did I understood you correctly?
Part of the task (as I understood) was to start `PoolS

[2016-06-06 12:33] 2beaucoup commented on #20456
:+1: exaclty.

Inside `SlotSelector` invoke the current `onPush` logic `min-connection` times emitting the new `ConnectCommand` msg instead of `SwitchCommand` resulting in `Idle` slot states.

`shouldStopOnIdle` looks good!

[2016-06-06 12:34] ktoso commented on #20456
Good points @2beaucoup, thanks!

Yeah this sounds much cleaner than my proposal 👍

[2016-06-06 12:35] pjazdzewski1990 commented on #20456
Awesome. I will try to move the logic from `PoolSlot` and `PoolFlow` into `PoolConductor`

[2016-06-06 12:38] ktoso opened #20729 "Implement in-use / write tables for compression"
Compression tables should be one that's in use, and one that's currently being built.
This will take care of removing old dead compressed refs and other issues.

Naive visual version of it:
![sketchbook30de15e4-7437-408c-9aea-f604aaab11d9](https://cloud.githubusercontent.com/assets/120979/15822099/0ea88f84-2bf4-11e6-9def-029ec15e04be.png)

- incoming messages rely on "old" (by version number) tabl

[2016-06-06 14:23] 2beaucoup commented on #20456
Maybe @sirthias has any thoughts on this one.

BTW: Wondering if the `easy-to-contribute` label should be removed.

[2016-06-06 14:25] ktoso commented on #20456
Nein. We need to move tickets which the core team has no time to direct attention to into the communities focus. Currently this is how we do so. Also, with @pjazdzewski1990 and others I've agreed to spend more time helping them out so that they can become more proficient with the code base and contribute such things – we need to grow our comitter base (and will make this more official soon) in ord

[2016-06-06 14:30] pjazdzewski1990 commented on #20456
I'm not giving up on this one, if this is what you are afraid ;) (Insert Rick Astley picture here)

[2016-06-06 14:32] 2beaucoup commented on #20456
Not at all! Was only afraid that the "easy" part could be misleading.

[2016-06-06 14:33] ktoso commented on #20456
Yeah, I totally agree here. We used to have the "community contrib" tag which was renamed to the "easy" one. I think `community-contrib` should make a come-back, in addition to the easy one perhaps?
This is something we'll work out next week.

[2016-06-06 14:37] 2beaucoup commented on #20456
:+1: sounds perfect!

[2016-06-06 15:17] johanandren commented on #20728
Yup. Do'h!

[2016-06-06 15:56] pjazdzewski1990 commented on #20456
@2beaucoup There's one last thing that I don't I don't understand ...
I took a deep dive into `PoolConductor` trying to follow the plan you outlined. I see that currently the communication looks like this: `SlotSelector` --[SlotCommand being SwitchCommand or SlotShouldConnectCommand]--> `Route` --[RequestContext]--> `SlotProcessor` --- ...
As I understood we want to give a hint to the Slots that t

[2016-06-06 17:28] Hawstein commented on #20466
Working on ` form-field-directives`.

[2016-06-06 18:07] 2beaucoup commented on #20456
I see.

Would changing
[code]
to
[code]
work?

[2016-06-06 19:05] pjazdzewski1990 commented on #20456
I've managed to get that far. The next step is confusing. Take a look [here](https://github.com/akka/akka/pull/20723/files#diff-0dc3503e2c7e4c93cd4b99e13e236cacR228) -I've pushed my current code.
The output of `PoolConductor` is a stream of `RequestContext`s. After my changes it will produce contexts AND messages causing instant connections. This **AND** is the problem.
I'm not sure how to make it

[2016-06-06 19:23] patriknw commented on #20650
@DellCliff I hope you don't mind that I close this. The best for you might be to copy it and roll your own.

[2016-06-06 19:23] #20650 closed

[2016-06-06 19:24] patriknw commented on #20553
Any update here, @kkasravi ?

[2016-06-06 19:28] patriknw commented on #19253
@2beaucoup There seems to be some uncertainty about if this is a relevant feature or not. Shall we close it, or move to akka-stream-contrib?

[2016-06-06 19:33] patriknw commented on #20528
I'm not sure I understand the difficulty. Read from DB, ask persistent actor to to save, read next from DB and so on. Since it's a migration job you can probably even block on waiting for the ask to complete.

[2016-06-06 19:34] #13490 closed

[2016-06-06 19:43] ktoso commented on #20528
This ticket is the outcome from a customer interaction over ScalaDays.
Effectively they had many millions of rows to migrate into persistence and wanted to avoid spinning up actors for each of those - asking if journal can be used directly.

`journalFor` is akka private so it can't officially but technically it's doable.

Question in this ticket is if we think it's something to document, or if it

[2016-06-06 19:43] ktoso commented on #20528
I'm OK to close in general, hasn't come back since.

[2016-06-06 19:46] patriknw commented on #18080
@drewhk shall we do anything here, or close?

[2016-06-06 19:48] #18588 closed

[2016-06-06 19:49] #19292 closed

[2016-06-06 19:50] #19387 closed

[2016-06-06 19:52] patriknw commented on #19928
still relevant?
akka-stream-contrib?

[2016-06-06 19:53] #19909 closed

[2016-06-06 20:00] #19651 closed

[2016-06-06 20:01] kkasravi commented on #20553
@patriknw
Hi Patrik - I was waiting on https://github.com/akka/akka/pull/20445 which seems to have stalled due to binary compatibility issues. I don't think there is immediate breakage if we keep downcast as is without moving it to a separate object (@drewhk's suggestion). Since I have many other changes maybe I should submit all changes under this issue (it might be easier to review)?

[2016-06-06 20:01] #19463 closed

[2016-06-06 20:02] #19290 closed

[2016-06-06 20:05] #18794 closed

[2016-06-06 20:06] ktoso commented on #19928
I'd want to revisit the logging behaviours, so it's a keeper though could be solved with nothing perhaps.

[2016-06-06 20:07] #19318 closed

[2016-06-06 20:08] patriknw commented on #19318
Perhaps something to contribute to [akka-stream-contrib](https://github.com/akka/akka-stream-contrib)?
Closing it here.

[2016-06-06 20:08] #18987 closed

[2016-06-06 20:09] patriknw commented on #19045
@drewhk is this still relevant?

[2016-06-06 20:10] #17004 closed

[2016-06-06 20:10] patriknw commented on #17904
sounds like something for akka-stream-contrib

[2016-06-06 20:11] #17904 closed

[2016-06-06 20:12] #18276 closed

[2016-06-06 20:14] #17739 closed

[2016-06-06 20:14] #17487 closed

[2016-06-06 20:17] #20528 closed

[2016-06-06 20:29] patriknw commented on #19928
ok

[2016-06-06 20:42] agolubev commented on #19948
I tried to image how it suppose to be. We need some "default" config space (assuming this is what we have in reference.conf's now) and some custom "my", "my1" spaces

Dynamodb plugin has enter point as akka.persistence.journal.plugin, with value of attribute name prefix. So it's easy to define name for space with fallback space

On the other hand for akka http it looks like:
```object ClientConnec

[2016-06-06 22:03] ktoso opened #20732 "Add explicit dependency note to testkit section of HTTP"
The dependency: `"com.typesafe.akka" %% "akka-testkit" % akkaVersion % Test`
should also be listed in the reference documentation where we discuss testing HTTP.

[2016-06-06 22:17] #20699 closed

[2016-06-06 22:17] ktoso commented on #20699
Very nice cleanups, thanks :)

[2016-06-07 07:51] ktoso opened #20734 "Include compression table version in messages"
Messages need to carry info which compression table they're using

[2016-06-07 07:51] ktoso commented on #20734
And make sure we test "reset when handshake completes" to clear out old tables

[2016-06-07 08:08] johanandren opened #20735 "Support value classes for Props(Class[_], ...)"
From gitter, where reported by @denisrosca, not sure if possible to solve.

Using value classes in Scala and the Class/reflection based props factory does not work, since the value class type is rewritten to the value-type during compilation

Reproducer, compiles:
[code]

but throws this exception
[code]

[2016-06-07 08:14] ktoso commented on #20735
This is very tricky, spent some nights on it in the past, here are more details: https://github.com/akka/akka/issues/16444

It works if one unpacks the value class manually AFAIR.

[2016-06-07 08:20] drewhk commented on #20735
I am not sure this is something we can or should support though.

[2016-06-07 08:22] drewhk opened #20736 "Flight recorder should keep track of live event sinks and support flushing them"
Use cases:
 - flush hiFreq when system is shut down
 - flush hiFreq in idle periods (using TaskRunner idle times)

The tricky part is not tracking the sinks but actually untracking them, so I am not fully sure what is possible or not.

[2016-06-07 08:24] johanandren commented on #20735
I figured as much, but thought it would be good to have that stated in a ticket for future reference.

[2016-06-07 08:29] denisrosca commented on #20735
If this is not supported maybe it should have a warning in the documentation? One of those red warning boxes stating that value classes as parameters are not fully supported.

[2016-06-07 08:54] drewhk commented on #19045
Likely yes.

[2016-06-07 08:59] drewhk commented on #18080
I need to investigate, but I think this might be still valid.

[2016-06-07 09:00] ktoso commented on #20735
A doc warning would be good, and explain the workaround (see the other
ticket). PR would be very welcome.
On Jun 7, 2016 10:29, "Denis Rosca" <notifications@github.com> wrote:

[2016-06-07 09:18] drewhk opened #20737 "FAILED: OutputStreamSourceSpec"
https://jenkins.akka.io:8498/job/akka-nightly/3392/consoleFull

[code]

[2016-06-07 09:18] drewhk commented on #20350
https://jenkins.akka.io:8498/job/akka-multi-node-nightly/3889/consoleFull

[2016-06-07 09:19] drewhk commented on #20728
https://jenkins.akka.io:8498/job/akka-multi-node-nightly2/376/consoleFull

[2016-06-07 09:33] 2beaucoup commented on #20456
@pjazdzewski1990 I did a quick experiment [here](https://github.com/2beaucoup/akka/commit/1c89d705db5fc9ada290f4b0b7bedbe7101c066b) but didn't have the time to properly test it.

The `SwitchCommand` wraps a `SlotCommand` which can be `Dispatch[RequestContext]`or `Connect`. The pool conductor's route consumes `SwitchCommand`s and emits `SlotCommand`s.

[2016-06-07 09:38] gbrd opened #20738 "setReceiveTimeout issue on persistenct actor since 2.4.7"
Since akka 2.4.7 (and #20698), setting receive timeout in prestart does not work in persistent actor.
If I set it in receiveRecover/RecoveryCompleted, it works.

I did not analyse the code but I saw in EventSourced  class that a "previousRecieveTimeout" is backuped and restored, maybe it does not work well in some cases ?

[2016-06-07 09:40] denisrosca commented on #20735
I'll submit one later when I'm at home.

ticket). PR would be very welcome.

[2016-06-07 09:58] johanandren commented on #20738
The #20698 breaks setting timeouts in the `receiveRecover` block, it saves a pre-existing receive timeout (if set in the constructor of the actor for example) and restores that in the end, so setting a timeout in the `receiveBlock` will currently effectively disable the recover-timeout as well as be lost when recovery completes.

[2016-06-07 09:59] jypma opened #20739 "[akka-http] HttpResponse.toString contains internal Source structure"
Currently `HttpResponse.toString()` looks like
[code]
which might be overdoing it :-)

[2016-06-07 10:41] 2beaucoup commented on #19253
Dunno. Special operators for `Sink[Seq[T]]` like `take`, `drop`, `slice` that work across elements would be kind of handy (especially for `ByteString`s) and some already existing custom stages could be replaced.

[2016-06-07 10:49] pjazdzewski1990 commented on #20456
Ok, so I see you would go with modifying the external behaviour of `PoolConductor`.
I will do as suggested.

[2016-06-07 10:55] MQ-EL opened #20740 "The IllegalStateException message thrown by ActorPublisher looks weird"
1. when the state is already ```CompleteThenStop```， calling ```onNext``` will throws ```onNext is not allowed when the stream has not requested elements, totalDemand was 0``` exception message.
2. when the state is already ```Active```, another subscriber registering will cause throwing ``` can not subscribe the same subscriber multiple times (see reactive-streams specification, rules 1.10 and 2.

[2016-06-07 11:10] ktoso commented on #20678
Replaced with https://github.com/akka/akka/issues/20729

[2016-06-07 11:10] #20678 closed

[2016-06-07 11:35] gbrd commented on #20738
If i called setReceiveTimeout in preStart and wait ReceiveTimeout message in receiveCommand, it seems not work.

[2016-06-07 11:57] drewhk opened #20741 "Use array backed, resizable mailboxes for stream actors"
These mailboxes usually are bounded by the nature of the stream graphs they host, but the bound is not known upfront. It is probably beneficial to have an array backed mailbox that:
 - resizes on need. Can be relatively slow as once the proper bound is found no more resizes will happen
 - array backed to avoid queue node allocation
 - uses two separate arrays to avoid Envelope allocation (exploded

[2016-06-07 12:14] johanandren commented on #20738
Yeah, exactly, #20698 tries to safe guard against recovery never completing by setting a receive timeout when recovery starts, it then also saves the pre-existing receive timeout and at the end of recovery reinstates that. So during `receiveCommand` it will break that usage.

We didn't expect anyone to actually do this, but we may have to change how this was solved anyway for other reasons. (Ping

[2016-06-07 13:03] patriknw commented on #20741
good idea

[2016-06-07 13:06] drewhk commented on #20741
Eh, forget the Envelope part, that is created outside of the Mailbox

[2016-06-07 13:11] johanandren commented on #20738
Hey @gbrd can you please explain your use case for setting a receive timeout in `receiveRecover` (to help us prioritize this ticket)? Thanks.

[2016-06-07 13:17] patriknw commented on #20738
We have to change to custom scheduling for this instead of using receive timeout, but for now it would be great if you can use 2.4.6 or keep track of the timeout in a var during recovery and then set the real receive timeout when recovery has completed.

We should follow up on this next rather immediately though, so it should be fixed in 2.4.7.

[2016-06-07 13:17] patriknw commented on #20738
marking it as a bug since it's kind of a regression

[2016-06-07 13:18] patriknw commented on #20741
yeah, that would be a bigger change

[2016-06-07 13:19] johanandren commented on #20738
Correction, it should be fixed in 2.4.8 :)

[2016-06-07 13:28] patriknw commented on #20738
:-)

[2016-06-07 13:50] pbarron opened #20744 "Cluster Sharding with remember-entity enabled fails to recover after restart."
## Summary
When sharding a persistent actor with remember-entity enabled the cluster fails to recover when the number of persistent actors is large (high 10,000s). This happens on a cold start of a cluster or when a node in the cluster stopped or restarted causing a rebalance. The persistence layer is cassandra - akka-persistence-cassandra.

## Details
What appears to be happening is as follows: A

[2016-06-07 13:54] ktoso commented on #20741
Very nice idea 👍

[2016-06-07 13:55] pbarron commented on #20744
Possible solution to the problem can be found in following PR - https://github.com/akka/akka/pull/20745

[2016-06-07 14:29] ktoso opened #20746 "CountMinSketch impl in Artery compression tables should use MurMur3"
Remove pasted Murmur2 (in CMS impl) and replace with faster Murmur3 (from Scala).
As benchmarked by @drewhk that one seems to be much more efficient.

It should be also validated preciseness is not sacrificed.

[2016-06-07 14:35] gbrd commented on #20738
hum.  settings the receive timeout in receiveRecover  (on reception of RecoveryCompleted) is the workarround actually, and it works.
(setting it in preStart seems not work in 2.4.7)

[2016-06-07 14:42] ktoso opened #20747 "Compression table should be dropped for new incarnation of remote system"
As we discussed earlier, we need to drop the (outgoing) compression table if a new incarnation of a system comes in (as the new system would not understand the compressed refs).

So we'll want to do this once a new handshake completes.
Would dropping the table in `Association#completeHandshake` the right place for this @patriknw ?

[2016-06-07 14:54] #20589 closed

[2016-06-07 16:18] patriknw commented on #20747
yes, I think that is the place. You should probably keep the tables in the `AssociationState`, since that represents an incarnation (UID).

[2016-06-07 17:02] patriknw opened #20748 "aroundReceive allocates a thunk for each message"
for the `unhandled` function

[2016-06-07 17:27] kkasravi commented on #20553
@patriknw I've renamed the issue to describe what happens in akka.stream.impl.Fusing.
[code]
Where this part of Fusing can be isolated. We briefly discussed this in our last meeting.

[2016-06-07 19:02] #19756 closed

[2016-06-07 23:02] Joe-Edwards commented on #20642
I've seen this occasionally in my logs as well, I think I've identified the culrit - around https://github.com/akka/akka/blob/master/akka-http-core/src/main/scala/akka/http/impl/engine/server/HttpServerBluePrint.scala#L429

[code]

If this is called while requestPrepOut is pushed, it will cause requestParsingIn to be pulled without requestPrepOut being available - producing the titular error when

[2016-06-07 23:02] maciekciolek commented on #16617
Hello, I am interested in implementing this statistics.

My first idea was to extend current implementation of CircuitBreaker and add the method which will return the Source[CircuitBreakerEvent], but it will require the dependency of akka-stream in core.

Maybe it would be great to extend current implementation with additional listeners for specific situation (timeout etc.) and in akka-contrib mod

[2016-06-08 07:19] patriknw commented on #16617
That sounds great, thanks for picking it up.
Maybe the stream part can start out in https://github.com/akka/akka-stream-contrib ?

[2016-06-08 07:34] maciekciolek commented on #16617
akka-stream-contrib looks good to me. I will collect all my ideas, as regards type of events which we would like to support for CircuitBreaker.

[2016-06-08 08:12] #20414 closed

[2016-06-08 08:43] drewhk commented on #20642
Great, @Joe-Edwards thank you for hunting this down. @ktoso is fuzzing enabled on the HTTP project already?

[2016-06-08 08:51] drewhk commented on #20553
Ok, so what you need is to take this apart in two parts and only use the code that does the flattening, right?

[2016-06-08 08:55] ktoso commented on #20642
Thanks a lot for hunting this down Joe!
@drewhk Yes, fuzzing is enabled in http tests.

[2016-06-08 09:04] drewhk commented on #20642
I find it weird then why it does not expose this issue. It is pretty aggressive.

[2016-06-08 09:07] drewhk commented on #20284
https://jenkins.akka.io:8498/job/akka-multi-node/1581/consoleFull

[2016-06-08 10:30] kwyczesany commented on #18733
I would like to try to solve this issue. Let me know if i understand the task correctly.

- If a somebody will provide a parameter to the path then in case of some kind of a parsing error the rejection should have some additional information? Could I use `MalformedQueryParamRejection` class to do this?

- If there is no parameter provided to the path then should I just reject without any informati

[2016-06-08 10:43] agemooij commented on #18733
Yeah, the "normal" way to reject paths is using an empty rejection list, even if the path matcher contains extractions that produce exceptions or errors. The idea is to:

- create a new specialized rejection type, something like `PathMatcherExtractionFailed`
- adjust path concatenation to cancel that rejection (or allow it through without negative side effects) so the next path in the chain is sti

[2016-06-08 12:51] #20314 closed

[2016-06-08 13:20] #20521 closed

[2016-06-08 13:40] ktoso commented on #18733
Just as @agemooij explained :-)
Let us know if you have any further questions - I've marked it as in proghress.

[2016-06-08 16:53] hseeberger opened #20755 "Docs incorrectly state that SupervisorStrategy can't be changed"
In the chapter about Fault Tolerance: *"... each actor is the supervisor of its children, and as such each actor defines fault handling supervisor strategy. This strategy cannot be changed afterwards ..."*

Looking at the ultimate source of truth – the code – I strongly doubt this is correct: `Actor.supervisorStrategy` is a method and from what I could see it is used "directly" (as opposed to `rec

[2016-06-08 17:30] kkasravi commented on #20553
yes

    On Wednesday, June 8, 2016 1:52 AM, drewhk <notifications@github.com> wrote:

 Ok, so what you need is to take this apart in two parts and only use the code that does the flattening, right?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-08 20:46] maciekciolek commented on #16617
I collected all events, which seems to be useful for CircuitBreaker. What do you think about the idea for adding time and tags to each event? Time will be useful to accurately solve problems, if they occur. Tags can be helpful to group events during processing eg. for metrics / dashboards / notifications.

[code]

[2016-06-09 06:00] Hawstein commented on #20466
Working on `file-and-resource-directives`

[2016-06-09 10:51] drewhk opened #20763 "Create an abstraction allows different stream stages to share same EventSink"
Currently all stages that are instrumented use their own EventSink, which means that ordering becomes fuzzy as they write to different hiFreq batch buffers. Since these stages are thread-safe across each other due to fusing, we can share the sink and hence maintain the event ordering inside a Flow.

It should be considered though that separate event stream IDs must be preserved inside a batch (to

[2016-06-09 11:02] drewhk commented on #20755
I think that is more like "must not be changed afterwards".

[2016-06-09 11:02] drewhk commented on #20755
but it is better to not point people to the idea of changing it in the first place :)

[2016-06-09 11:47] hseeberger commented on #20755
Why not change it? E.g. different supervisor strategies depending on actor state (state machine)? Are there any technical no-gos?

[2016-06-09 11:52] drewhk commented on #20755
You can already have a dynamic strategy, nothing stops you from making your decider function stateful. I am not sure though that the returned value of that method is cached or not.

[2016-06-09 12:19] notxcain opened #20764 "Error in docs 5.6.8 Graceful Shutdown"
It says

What it should say

[2016-06-09 12:27] drewhk commented on #20764
Thanks!

[2016-06-09 12:58] #20738 closed

[2016-06-09 13:14] hseeberger commented on #20755
I looked up the code and couldn't find any caching.

[2016-06-09 14:02] #20732 closed

[2016-06-09 22:00] #20683 closed

[2016-06-09 22:10] saifellafi commented on #19981
Hello.

I have also been affected by this issue. I Could reproduce this issue 100% of the times through R package "httr" to submit POST request of two form fields. Using the toStrict solution solves the issue.

Is there any insights on a permanent solution?
Thanks,
Saif

[2016-06-10 08:34] johanandren commented on #19981
@saifellafi Reproducing this bug is not a problem, fixing it however is far from trivial.
Please see Johannes reply from 15 mars, it describes the options for solving the issue.

Using `toStrict` as a workaround will force the entire request entity into memory rather than handle it as a stream, this protects against trying to consume it multiple times.

[2016-06-10 11:06] danslapman commented on #19359
+1, please do it!

[2016-06-10 11:18] danslapman commented on #19346
Same, need a fix!

[2016-06-10 11:47] #20740 closed

[2016-06-10 12:48] ktoso commented on #20735
Small ping here, would be awesome if you could contrib a small doc update :)

[2016-06-10 13:00] denisrosca commented on #20735
I had some trouble generating the documentation on my machine to see how it looks. I'll spend more time on it this weekend.
BTW what do you think would be the best way to document this? I was planning on adding a "note" in the "Creating actors with props" section.

[2016-06-10 13:04] #20649 closed

[2016-06-10 13:16] ktoso commented on #20735
If you're having trouble here's a guide: http://doc.akka.io/docs/akka/current/dev/documentation.html
Feel free to ask / ping if stuck :)

Yeah that sounds right 👍

[2016-06-10 14:11] patriknw commented on #20625
It's now configurable with `akka.remote.artery.advanced.idle-cpu-level`, see [reference.conf](https://github.com/akka/akka/blob/artery-dev/akka-remote/src/main/resources/reference.conf#L136) for description.

[2016-06-10 14:11] #20625 closed

[2016-06-10 14:11] #20715 closed

[2016-06-10 23:15] michaelyaakoby commented on #20214
This fix have introduced a "debug print" which or every new connection writes "sslConfig.config.loose.disableSNI = false" to stdout.
(Search for "println" in 55684fb)

[2016-06-11 13:03] ktoso commented on #20214
Ouch, I'm sorry this slipped through review. Submitted a fix: https://github.com/akka/akka/pull/20769

[2016-06-11 19:44] guidomedina commented on #20311
I know this is a closed issue and I'm not sure if what I'm going to say is even related.

I have done my share with in-memory caches and recently with Java 8, when calling `computeIfAbsent` it is better to do a pre-scanning for the key 1st because `computeIfAbsent` will preemptively lock the key, I learned that talking with a great mind of caches:
https://github.com/ben-manes/caffeine/wiki/Benchma

[2016-06-12 20:12] patriknw commented on #20597
Thanks

[2016-06-13 01:46] mmacfadden opened #20771 "[akka-http] Option for Client to ignore bad response header"
We are currently using the akka-http client to make REST calls to another service that we do not own.  That service is responding with an invalid HTTP Header in the response.  Essentially their response mistakenly adds a '\n' to the response.  However, we do not need the header that is in error.

We are doing something like this:

[code]
The issue is that the client is currently causing an excepti

[2016-06-13 08:33] ktoso commented on #20771
We don't have such flag currently, would be interesting to add perhaps – if you'd have a bit of time hacking around in `HttpHeaderParser` would be a good place to start.

Technically `\n` could be a bit more tricky... but maybe not really in these cases - what's the header that it contains a \n btw?

[2016-06-13 09:32] ktoso opened #20773 "Addressing documentation misleading about "path aliases""
As seen here: http://stackoverflow.com/questions/37757076/akka-how-to-assign-an-actor-an-alias-path

The person asks how to create an "alias path" for actors.

[2016-06-13 10:27] note commented on #20381
I can take this one. I will try to prepare some sketchy PR soon to have quick validation.

[2016-06-13 10:32] ktoso commented on #20381
Thanks @note.
I fear this may get very complex if one would want to take it "all the way", but let's start from API and make sure the basics work – as seen in the HTTPS examples nowadays. Then let's think about ssl-config and what next needed steps there would be (likely painful SSL work though)

[2016-06-13 10:44] note commented on #20381
I wanted to start from trying to put something like this (it's snippet from docs):

[code]

into `Http.createServerHttpsContext` which for now uses client-side settings. I guess I would also need to add location of keystore to config and load password from env variable.

Am I on good track?

[2016-06-13 10:55] vvlevykin opened #20774 "HTTP client with a super pool sometimes doesn't complete with a connection failure"
Similar in a way to #18311.

Seems to reproduce only when the client tries to reconnect to another URL after failing to connect to the first one.

The (not so minimal) reproducing code:
[code]

The full log is:
[code]

[2016-06-13 10:55] ktoso commented on #20774
Thanks for reporting.

[2016-06-13 12:37] ktoso commented on #20381
Yeah it should go into that direction.
It should take AkkaSSLConfig to be able to configure all things there.

If things are missing in ssl-config it would require updating it as well.

[2016-06-13 12:45] ktoso opened #20775 "Akka Cluster dispatcher docs not up to date with most recent thoughts"
Documentation http://doc.akka.io/docs/akka/current/scala/cluster-usage.html#Cluster_Dispatcher
is inconsistent with our recommendation nowadays:

We should incorporate the below notice into the documentation:

[2016-06-13 13:23] pjazdzewski1990 commented on #20727
Hi @drewhk Is this issue up for grabs? If it is, could you add more details to it? I would like to fix it, if it's still an issue (current `master` looks good). Thanks

[2016-06-13 14:25] patriknw commented on #20775
+1

[2016-06-13 15:15] mmacfadden commented on #20771
I can take a stab at this.  One other small comment.  One of the things that made this so hard to debug was that the exception didn't tell me which header had the problem or what the value was that was invalid.  So essentially, it just said "Some header had some value that had a '\n' in it; and I didn't like it".  It  would be nice if it would say header 'SomeHeader' contained a value with an ille

[2016-06-13 15:17] ktoso commented on #20771
Totally agreed, that would make a great step 1 in your PR! Thanks a lot in advance :)

[2016-06-13 15:18] ktoso commented on #20771
I see. So we'd have to discard anything until the next valid \r\n, which in your case is what you want anyway... I think this makes sense, but hidden under a flag (off by default).

[2016-06-13 15:32] vvlevykin commented on #20774
Another log, slightly different. I've changed the reproducing code to log a bit more. https://gist.github.com/vvlevykin/937d3f184100009fcf499031b27b5fa1

Only 5 of 6 requests to the first URL complete. And only two of the 5 requests to the second URL complete.

The number of retries seems strange, especially after the second pool kicks in (`(Re-)starting host connection pool to localhost:18081`).

[2016-06-13 15:45] pjazdzewski1990 commented on #20272
@ktoso If you don't mind I could grab this ticket.

[2016-06-13 15:56] mmacfadden commented on #20771
Yes, it would definitely be a flag.  I actually checked the RFCs (specifically 7230). CRLF (\r\n) is the official separator between headers.  So when a line starts, technically the header value is everything up until the CRLF.  This is what akka-http is doing, so we are in good shape there.

A single '\n' was previously valid when using header folding (also defined in RFC 7230), but has been depre

[2016-06-13 16:38] ktoso commented on #20272
Great, yes please

[2016-06-13 21:37] vvlevykin commented on #20774
Trying to narrow down the problem.
Can be reproduced without a super pool, just using two pools with different ports.
Couldn't reproduce if both pools use the exact same address.
Couldn't reproduce if maxRetries=0 for the pools.

[2016-06-14 07:30] patriknw opened #20779 "tests are not removing all Aeron directories"
This is manifested as
[code]

The reason is out of disk space at '/dev/shm'.
https://github.com/real-logic/Aeron#troubleshooting

When I debugged this locally I also, sometimes, saw that not everything were cleaned up, but strangly the directories didn't match up with the directory of theembedded media driver.

[2016-06-14 08:15] drewhk commented on #20311
The ticket is closed because we no longer need `computeIfAbsent` at all, so this is no longer relevant to us, but thank you for sharing!

[2016-06-14 11:35] MichaelZinsmaier opened #20780 "Publisher and Subscriber cleanup"
Dear Akka Team,

I stumbled across the "subscription-timeout" in the Akka streams documentation. It does not seem to apply if I use the underlying reactive streams interface to bridge between implementations (atm. it seems to apply only to sub streams?).

The question is should this guard against "explicit" publisher leaks as well or is it more some kind of internal API.

example:

[code]
[Full Ex

[2016-06-14 11:58] patriknw commented on #16617
what is `ExecutedEvent`? isn't it more interesting to emit events for successful and failed calls, including the duration for the calls. In Lagom with defined this SPI for circuit breaker metrics: https://github.com/lagom/lagom/blob/master/spi/src/main/java/com/lightbend/lagom/internal/spi/CircuitBreakerMetrics.java

[2016-06-14 12:14] krzemin commented on #18649
Hi, I'm interested in grabbing this. I assume that scope of the feature is basically what @sirthias wrote in https://github.com/akka/akka/pull/18475#issuecomment-145767909. However I will need some guidance to get started.

Let's consider server-side part first. I expect that pools shutdown is not an option here. Instead, we have to rather unbind all listening sockets, and then wait for all connec

[2016-06-14 12:16] pjazdzewski1990 commented on #20272
I've tried to reproduce the issue with no luck.
Here are some tests https://github.com/akka/akka/commit/8466679c7e8b223cc72389ec01b7ecf4ff6a817d
Both pass and the new `catch` is never triggered - additional data is silently ignored. It makes sense in the context of https://github.com/akka/akka/issues/20271#issuecomment-208212760
Not sure if we want to proceed with this ticket (so custom values in

[2016-06-14 12:28] patriknw opened #20782 "Allow Java API to create actor publishers with stash"

[2016-06-14 12:29] #20782 closed

[2016-06-14 12:31] atemerev commented on #20272
I fixed it for Strict-Transport-Security, but the issue might still be valid for other headers.

[2016-06-14 14:54] patriknw commented on #20400
https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/6562/consoleFull

[2016-06-14 20:20] #20779 closed

[2016-06-14 22:18] ianclegg opened #20786 "Akka HTTP WWW-Authenticate always renders 'realm', but RFC 7235 makes it optional"
I'm trying to implement SPNEGO authentication [rfc 4559](https://tools.ietf.org/html/rfc4559), but is not possible to use or build on any of the http security infrastructure types such as `authenticateOrRejectWithChallenge` or even use the `www-authenticate` header class since `HttpChallenge` requires and renders the 'realm' parameter. The realm parameter is not understood by  Chrome or Firefox wh

[2016-06-14 22:20] maciekciolek commented on #16617
I finally decided to removed this ExecutedEvent as you also noticed. It comes from Hystrix metrics documentation, but it is not necessary. I also added duration to Success / Failure event in order to support calculating average latency etc. So, I am working on that and make PR as soon as it is possible :)

[2016-06-15 07:03] gosubpl commented on #20466
Working on `timeout-directives`

[2016-06-15 11:25] miciek commented on #19834
`Log` is in review.

To finish `Map`, I will need #20336 to be merged first, because I am rewriting `OneBoundedSetup`. See [my comment](https://github.com/akka/akka/issues/19834#issuecomment-207950433) and @danxmoran's [one](https://github.com/akka/akka/issues/19834#issuecomment-211182408) for more details.

[2016-06-15 12:28] ktoso opened #20789 "CannotPush Port twice again in HTTP"
Got it while working on slides, I've hit an endpoint which didn't exist, that's it pretty much - so very weird.

[code]

[2016-06-15 14:14] pjazdzewski1990 commented on #19951
Hi @agolubev
Do you plan to work on this ticket? If not, I would be glad to tackle this issue. Could you explain with more detail what you dislike about the current `HttpBenchmark` and what should be "reworked"?
If I understood correctly, you are concerned about the quality of the benchmark, because of the results you are seeing. Is this correct?

[2016-06-15 15:48] ktoso commented on #20774
Thanks for narrowing it down further!
Hope to get back to it after ScalaDays (which is this week)

[2016-06-16 07:03] agolubev commented on #19951
@pjazdzewski1990 I believe it's two options here:
* there is some state created during each iteration which is not released, so that's why the first iteration is 60 ops/s and the last one 64 times longer
* also maybe it's some problem inside http code itself but it's very low probability.
I'll try to look in code closer further today, maybe will be able to spot the problem

[2016-06-16 11:25] #20714 closed

[2016-06-16 11:46] stjohnb opened #20793 "Unable to use `Accept-Encoding: gzip` with a `204` response"
Accessing a resource which produces a 204 response and using the `Accept-Encoding: gzip` request header leads to a `IllegalArgumentException: requirement failed: Responses with this status code must have an empty entity`. If the gzip header is not requested, then the request succeeds with a 204 and an empty body

I've created a [repository](https://github.com/QuanTemplate/akka-issue) which [reprod